[2020-06-11 00:14] dmitrynovik commented on #2796
Yep, I did pin the version before I submitted this issue, which solved my problem. The reason of my submission is not because I am waiting for solution from you, but rather to make you guys aware.

[2020-06-11 06:34] gitfool opened #2799 "Bump .NET Core SDK to 3.1.301"
See [release notes](https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1.5/3.1.301-download.md).

[2020-06-11 08:00] gitfool opened #2801 "Inconsistent NuGet file name case"
A hodgepodge of NuGet related files use inconsistent case, which does not match the class names contained therein.

[2020-06-11 08:42] harrison314 opened #2803 "ArgumentOutOfRangeException: The DateTimeOffset specified cannot be converted into a Zip file timestamp"
### How Did You Get This To Happen? (Steps to Reproduce)
- Publish **ASP.Net Core 3.1** project to publish directory.
- ZIP Directory

Example code:
[code]

### Output Log
[code]

Simmilar problem <https://github.com/OrchardCMS/OrchardCore/issues/4477>.

## My workeround
[code]

[2020-06-11 09:09] devlead commented on #2796
@dmitrynovik thank you for making us aware of the issue 👍

The breaking change was introduced in 0.34.0 to sort a bug with service messages, the intended usage of build providers is through their interface counterparts created through cake DI container either using global property or alias method. Constructing them by hand was an unexpected use case for us.

Does it work for you if you switch to u

[2020-06-11 09:14] devlead commented on #2803
Ok, this would seem to be because of an issue with source files, but ideally, Cake shouldn't cause an exception here.
I'll submit a fix for this shortly.

[2020-06-11 13:25] devlead commented on #2798
Confirmed change in behavior, minimal repro
[code]

Output 0.37.0
![image](https://user-images.githubusercontent.com/1647294/84389882-0822ed80-abf7-11ea-86d8-a12e8362be3c.png)

Output 0.38.x
![image](https://user-images.githubusercontent.com/1647294/84389948-24bf2580-abf7-11ea-8c4f-b43bbd7292f6.png)

Output 0.38.x on terminal that doesn't support ANSI
![image](https://user-images.githubusercontent

[2020-06-11 16:25] devlead commented on #2798
Think I see an issue in the tokenization, if lead right and I find the time, then I'll propose a PR.

[2020-06-12 13:52] devlead commented on #2799
Fixed by #2800

[2020-06-12 13:52] #2799 closed

[2020-06-12 18:29] #2803 closed

[2020-06-12 18:37] #2798 closed

[2020-06-17 12:16] StefanOssendorf opened #2808 "Cake-tool errors are not properly reported in an azure pipeline"
### What You Are Seeing?

Powershell returned an error instead of the actual error.
[code]
This is a minimal working example to see the error. Since I can't share the stuff from my work but the output and usage is identical.
[Azure Pipelines error log](https://sossendorf.visualstudio.com/Cake%20Azure%20Pipelines%20Error%20not%20propagated/_build/results?buildId=81&view=logs&j=275f1d19-1bd8-5591-b0

[2020-06-18 07:33] StefanOssendorf commented on #2808
Addition: This behavior only shows for a windows host agent. E.g. Ubuntu works as expected.

[2020-06-18 07:36] devlead commented on #2808
That does your Azure Pipelines Yaml look like?

[2020-06-18 07:40] StefanOssendorf commented on #2808
I am using the classic azure pipeline editor but it makes no difference.
This is a repo I've forked from someone from the gitter chat:
https://github.com/StefanOssendorf/cake-build-test-devops
The initial image was ubuntu which worked as expected (https://sossendorf.visualstudio.com/nilsa-cake-test-help/_build/results?buildId=82&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=7dae026f-9e99-5d65

[2020-06-18 08:00] devlead commented on #2808
Well one difference is that Ubuntu is using a newer version of PowerShell, and Windows-latest and old version.

Setting `pwsh: true` seems to ensure consistency

See this PR:
https://github.com/StefanOssendorf/cake-build-test-devops/pull/1
https://github.com/StefanOssendorf/cake-build-test-devops/pull/1/commits/7f5ad0049808a6c35661768edcdda777be82ac7a

[2020-06-18 08:39] StefanOssendorf commented on #2808
That fixes it. Thank you very much :-)

[2020-06-18 08:39] #2808 closed

[2020-06-20 14:39] nils-a commented on #257
For anyone stumbling across this issue: Cake.Compression has no support for 7zip.

Have a look at https://github.com/cake-contrib/Cake.7zip/

[2020-06-21 14:23] rmboggs opened #2809 "Cake throws exception on startup on OpenSuse 15.1"
### What You Are Seeing?
The following exception prints out when following the [new project setup](https://cakebuild.net/docs/tutorials/setting-up-a-new-project) instructions:

[code]
contents of build.cake file:
[code]
### What is Expected?
`Hello World` should output to the terminal

### What version of Cake are you using?
Tested on 0.37.0 and 0.38.2
### Are you running on a 32 or 64 bit system?

[2020-06-21 14:47] rmboggs commented on #2809
sorry, found the issue and it is resolved.  I'll close the issue.

Just in case others run into this in the future, this issue was cause by the mono package distributed by openSUSE by default.  Adding [this repo](https://download.opensuse.org/repositories/Mono/openSUSE_Leap_15.1/) to zypper and updating to the latest version of mono (6.8 at the time of this post) fixed the issue.

Sorry for the no

[2020-06-21 14:47] #2809 closed

[2020-06-21 20:50] augustoproiete opened #2810 "Cake bootstrapper should honor cake.config tools path (build.ps1, build.sh)"
### What You Are Seeing?

`build.ps1` and `build.sh` do not honor the Tools path defined in `cake.config`. The path for tools, add-ins, modules, etc. is [hard-coded in the boostrapper](https://github.com/cake-build/resources/blob/develop/build.ps1#L110-L112).

### What is Expected?

Before downloading Cake, `build.ps1` and `build.sh` should read the tools path defined in `cake.config` and use that

[2020-06-22 03:24] augustoproiete opened #2811 "Identity of BuildProblem in TeamCityProvider should be optional"
### What You Are Seeing?

The `identity` argument of `(I)TeamCityProvider.BuildProblem` is required, but should be optional.

[code]

Passing `null` or `string.Empty` works as expected (the code handles it correctly and omits the `identity` argument in the TeamCity service message).

### What is Expected?

Either modify the method to have a default `null` value for the identity argument, or add an

[2020-06-24 07:59] ecampidoglio commented on #2609
📢 The [cake-action](https://github.com/marketplace/actions/cake-action) is now officially part of the Cake organization.

https://github.com/cake-build/cake-action

[2020-06-26 12:20] devlead opened #2813 "Actually ship 0.38.3"

[2020-06-26 12:20] #2813 closed

[2020-06-26 14:53] gep13 opened #2814 "Switch GRM to not mark GitHub release as a pre-release"
This was discussed within the Team Slack, and a decision was made to change this workflow.

[2020-06-26 14:54] gep13 commented on #2814
The line in question would be this one:

https://github.com/cake-build/cake/blob/develop/build.cake#L574

[2020-06-29 11:52] #2814 closed

[2020-06-29 16:44] #2801 closed

[2020-06-29 17:09] #2792 closed

[2020-06-29 17:35] #2781 closed

[2020-06-29 18:18] devlead opened #2817 "Bump dependencies"
Continues work started in #2778.

[2020-06-29 18:18] devlead commented on #2817
fixed by #2779

[2020-06-29 18:18] #2817 closed

[2020-06-29 18:37] #2743 closed

[2020-06-29 18:41] gep13 opened #2818 "Start producing 1.0.0 NuGet Packages"
By stating what the next version for GitVersion is, in its' yaml file.

[2020-06-29 19:14] #2818 closed

[2020-06-29 20:50] gep13 opened #2820 "Add DebuggerStepThroughAttribute to generated code"
This will make the debugging experience in IDE's much better, when using (for example) addins that have been run with SourceLink.

Currently, you have to step into the code twice to make it work.  This is due to the generated code;

https://github.com/OmniSharp/omnisharp-roslyn/blob/master/tests/OmniSharp.Cake.Tests/TestAssets/single.cake.g.txt#L7722

First step into takes can't find any symbols t

[2020-06-29 20:50] gep13 commented on #2820
Affected area of code:

https://github.com/cake-build/cake/blob/develop/src/Cake.Core/Scripting/CodeGen/MethodAliasGenerator.cs

[2020-06-29 20:51] gep13 commented on #2820
Also this area of code:

https://github.com/cake-build/cake/blob/develop/src/Cake.Core/Scripting/CodeGen/PropertyAliasGenerator.cs

[2020-06-29 22:05] #2811 closed

[2020-07-01 12:08] #2820 closed

[2020-07-03 11:11] ecampidoglio commented on #2609
If no one else is working on this, I'll gladly take it on.

[2020-07-03 11:21] devlead commented on #2609
@ecampidoglio I've assigned issue to you.

[2020-07-04 21:27] gep13 opened #2822 "Add support of ReportGenerator global tool"
At the minute, Cake support for ReportGenerator only includes the full .net framework version.  Similar to what has been done for GitVersion and GitReleaseManager, we should add support for running the global tool version as well.

[2020-07-04 21:50] #2822 closed

[2020-07-08 02:03] flcdrg opened #2825 "Add option to ignore tool exit code"
The current default behaviour in `Tool.ProcessExitCode()` is to throw an exception if the exit code is non-zero.

There may be occasions where ignoring the exit code is preferred as additional processing is needed before the underlying error is handled.

For example, when running unit tests with `dotnet test` (via `DotNetCoreTest`) in a CI pipeline, rather than failing immediately upon test failur

[2020-07-09 02:10] adison88 commented on #2703
I can take this up as my 1st issue.

[2020-07-09 03:39] adison88 commented on #2703
@devlead @Roemer Please review [PR](https://github.com/cake-build/cake/pull/2827)

[2020-07-09 06:02] Roemer commented on #2746
I could also use that information in many scenarios (mostly CI-based) without having a full verbose log. So I would vote for information or would it be possible to have some kind of flag like `LogTimeForEachTask` somewhere which could globally be set to true in `Setup` or something?

[2020-07-09 11:52] dasiths commented on #1248
This is still a problem. Both of these fail.

[code]

[2020-07-09 12:08] gep13 commented on #1248
@dasiths and it you try...

[code]

[2020-07-09 12:54] dasiths commented on #1248
Calling Cake.exe directly works but not if you use the `build.ps1` script
[code]
It's because if the incorrect way the powershell script passes arguments. (Ref: https://slai.github.io/posts/powershell-and-external-commands-done-right/)

[2020-07-09 12:55] gep13 commented on #1248
@dasiths are you using the most recent version of the PowerShell bootstrapper?

[2020-07-09 12:59] dasiths commented on #1248
I was not. I just tried the latest version which uses the following in the powershell script and it works. :)

[code]

[2020-07-09 13:00] gep13 commented on #1248
@dasiths glad to hear that you were able to get this working.

[2020-07-09 21:05] RLHSI opened #2828 "OctoPack doesn't work with OctopusTools v7.0.0 and higher"
### What You Are Seeing?
`OctoPack()` fails when targeting version OctopusTools 7.0.0 and above.  It works using the last v6, 6.17.6.

### What is Expected?

Using v6.17.6:

[code]

### What version of Cake are you using?
0.38.4

### Are you running on a 32 or 64 bit system?
64-bit

### What environment are you running on?  Windows? Linux? Mac?
Windows 10, 1809 hosting a Linux Docker image:

mcr.m

[2020-07-09 21:45] devlead commented on #2828
From Version 7 and up OctopusTools is now a  .NET Core 3.1 self-contained single-file Windows-only executable won't run under Mono.

[2020-07-09 21:46] AdmiringWorm opened #2987 "Requesting addin for the Extent .NET CLI"
### Project Description

The extentreports-dotnet-cli deprecates [ReportUnit](https://github.com/reportunit/reportunit). Extent Framework is actively maintained and allows using a host of reporters making it very simple to generate test reports. [Klov](http://klov.herokuapp.com/) is the framework's report server and can also be integrated as part of this CLI.

Project URL: https://github.com/exten

[2020-07-09 22:13] devlead commented on #2828
If you've got .NET Core on the Linux "Machine" you could switch to their global tool [Octopus.DotNet.Cli](https://www.nuget.org/packages/Octopus.DotNet.Cli/).

You can use the Cake.DotNetTool Module to install

Example script:
[code]
Example usage
[code]

`--bootstrap` is to install the `Cake.DotNetTool.Module` ( `--bootstrap` will be implicit in Cake 1.0)

[2020-07-10 14:27] RLHSI commented on #2828
I can't get this to work on Linux because I'm running into this issue:

https://github.com/docker/for-win/issues/5822

I tried this on Windows, and it seems that it's trying to resolve `octo.exe` using my PATH, but Cake and all of its tools are installed locally in our repo in the `/build/tools` folder, they get installed when our build script is run for the first time.

[2020-07-10 15:15] BlackstarSolar commented on #2349
Has there been any progress on this issue?

[2020-07-10 15:48] devlead commented on #2828
Yes it'll resolve in the order
1. `octo.exe`
1. `dotnet-octo`
1. `dotnet-octo.exe`

All Cake tools have a `ToolPath` on their "ToolSettings` so you could always override to change order i.e. exclude `octo.exe`.

[code]

When running Cake.Tool I generally use dotnet tool manifest with repo so version of Cake is pinned in repo.

You create a tool manifest by in repo root typing
[code]
Then install C

[2020-07-10 16:30] RLHSI commented on #2828
Ok this is great information.

I think what I was trying to do was mix our "old Cake build" (using `build.ps1`/`build.sh`) with the NEW way of running a Cake build (what you just described).  I ran through the tutorial on the Cake website for setting up a brand new build.

What's the difference between registering a tool in the "dotnet tool manifest" (`.config/dotnet-tools.json`) and using the `Ca

[2020-07-10 16:40] devlead commented on #2828
`.config/dotnet-tools.json` is the .NET tool manifest, in this case used to bootstrap cake, so essentially an alternative to `build.ps1`/`build.sh` but could also be used in `build.ps1`/`build.sh` so you've instead of NuGet install have an `dotnet tool restore`.

The `Cake.DotNetTool.Module` extends Cake tool directive with `dotnet:` protocol allowing to install tools in the `tools` folder so they

[2020-07-10 16:45] devlead commented on #2828
One key difference with tool manifest is that no shims are created so tool needs to be invoked using `dotnet` command i.e. `dotnet cake`. Whereas tools installed globally or into a specific path (like `Cake.DotNetTool.Module` does) will create a shim. The shims are native Windows/Mac/Linux Commands that wraps `dotnet path to command`.

[2020-07-10 16:51] RLHSI commented on #2828
Ok that makes sense, thanks!

This is tangentially related, but the `Cake.DotNetTool.Module` says that there's a `framework` parameter that you can use to specify which framework the tool should use.  It seems that `GitVersion.Tool` is defaulting to `netcoreapp2.1`, when I want it to use `netcoreapp3.1` (both are bundled in the nuget package).

https://www.gep13.co.uk/blog/introducing-cake.dotnett

[2020-07-10 17:27] RLHSI commented on #2828
Disregard!  It looks like I'm encountering this problem instead:

https://github.com/GitTools/GitVersion/issues/2308

Thanks for all of the information @devlead!

[2020-07-10 17:27] #2828 closed

[2020-07-10 17:34] devlead commented on #2828
Great that you got it sorted👍

[2020-07-12 18:29] mholo65 opened #2830 "Install Addins, Tools, Modules to global packages folder"
To avoid unnecessary installation of packages already located in global packages folder (e.g. `~/.nuget`), we should install and consume packages from there. We could make it opt-in to start with.

One problem I see is tool resolution. We'd probably need a way to register search paths for installed tools. Then tool installer could register the path for the installed tool, located in global package

[2020-07-15 19:06] gep13 opened #2887 "(Frosting) Fix line endings in build.sh within template package"
When trying to run the build.sh from a new project creation from the template, you are met with the following:

![image](https://user-images.githubusercontent.com/1271146/87585181-972f9380-c6d6-11ea-8514-ae11be259dc2.png)

This is due to line endings in the file not being compatible when running on a Mac.

This will likely require the addition of a .gitattributes file to the repository to ensure t

[2020-07-15 19:09] gep13 opened #2886 "(Frosting) Support all commands that Cake does"
For example, when you attempt to run:

[code]

It should show the dependency graph of Tasks, but instead, it just runs the default task for the build.

[2020-07-17 15:39] karlroyle opened #2831 "ParseAssemblyInfo does not detect lines with extra spaces"
Loss of AssemblyInfo data when reading from an AssemblyInfo with spaces at the end of lines (outside the quotes)

When parsing the AssemblyInfo files, a regular expression is used, which reads in the lines, such as InternalsVisibleTo()
If a line has a space at the end, but outside the quotes, that line is not read in (and subsequently lost on re-write).

This is on Window 10, Cake 0.38, 64 bit.

I

[2020-07-20 17:12] Sobieck commented on #2803
I'm still getting this error when running `0.38.4`. When I use the workaround detailed in this issue the issue is resolved.

[2020-07-20 17:20] gep13 commented on #2803
Do you have an example zip file that is causing this problem?

[2020-07-20 17:37] Sobieck commented on #2803
I believe these are the files causing the problems.

[code]

[2020-07-20 17:38] devlead commented on #2803
@Sobieck wonder if it's a time zone issue, could you please open an new issue with what `Cake.exe --version` outputs, which OS your running and what diagnostic output gives.

[2020-07-20 17:40] Sobieck commented on #2803
Will do. Thanks for your help. I love the work you all do.

[2020-07-20 17:45] devlead commented on #2803
Thanks @Sobieck, please mention in issue which time zone is local for you.

[2020-07-20 17:58] Sobieck opened #2832 "ArgumentOutOfRangeException: The DateTimeOffset specified cannot be converted into a Zip file timestamp - Part Two"
### What You Are Seeing?

![image](https://user-images.githubusercontent.com/6256765/87968724-76748e80-ca86-11ea-84ed-9271b3e95b38.png)

### What is Expected?

It should silently correct the date being out of range. This behavior was fixed originally in #2803.

### What version of Cake are you using?

0.38.4

### Are you running on a 32 or 64 bit system?

64

### What environment are you running o

[2020-07-22 07:50] bagavan44 commented on #2825
Yes, it will be very much useful. Facing the issue with same problem. Whenever one of the test is failed then process stopped there it self.

[2020-07-24 03:58] AZ2Tonez commented on #1248
Tried all the variations on this page, none worked. This is what finally worked for us:

`.\build.ps1 --% --ScriptArgs @('--targetTargetName','--exclusive','--buildUrl=%teamcity.serverUrl%/viewLog.html?buildId=%teamcity.build.id%&buildTypeId=%system.teamcity.buildType.id%')`

The --% tells powershell to stop parsing text (ref: https://slai.github.io/posts/powershell-and-external-commands-done-righ

[2020-07-26 09:16] gep13 opened #2833 "Implicit bootstrapping of modules"
Currently, when using Cake Modules, if it first necessary to do something like the following:

[code]

To force Cake to first check and download any Modules that are included within the Cake Script, and then you run the build as normal:

[code]

This is a minor change to the default bootstrapper to make this happen, however, it would be very nice, if possible, that Cake implicitly did this check a

[2020-07-26 17:27] patriksvensson opened #2834 "Use .editorconfig instead of ruleset files"
We should go all in on `.editorconfig` files with analyzer settings instead of using the old ruleset files.

[2020-07-26 17:30] patriksvensson opened #2835 "Replace Autofac"
We're currently not using any advanced features of Autofac (to my knowledge), so we should investigate whether or not we can move to something more lightweight (perhaps the homebrewed DI container we use in `Cake.Frosting`?). I suspect we could reduce the load time for implicit bootstrapping by doing this.

Any investigation of this needs some kind of benchmarking to make sure we're not making it

[2020-07-26 17:33] patriksvensson opened #2836 "Update README with more up-to-date "getting started" information"
We should consider updating Cake's `README.md` with more up-to-date "getting started" information. I think the recommendation is to use the dotnet tool instead of bootstrappers.

[2020-07-26 19:58] #2333 closed

[2020-08-04 06:28] mholo65 commented on #1920
@devlead @gep13 can you verify if this is still an issue and close if not. Thanks!

[2020-08-04 08:43] gep13 commented on #1920
@mholo65 Using the latest version of Visual Studio for Mac:

![image](https://user-images.githubusercontent.com/1271146/89272886-b31fb880-d636-11ea-804a-21fc6d232b34.png)

I was able to build the Cake Solution, without any problems, and also to run the Unit Tests for the solution:

![image](https://user-images.githubusercontent.com/1271146/89272931-c6328880-d636-11ea-866c-9fc3bb74a235.png)

There

[2020-08-04 09:43] patriksvensson commented on #1920
@gep13 That test is problematic in VS2019's test runner as well. I think we need to look into that in general, so it got nothing to do with VS for Mac per se 👍

[2020-08-06 18:56] starkcolin commented on #2636
Not sure if it's the same issue exactly, but I get the same error message when I try to use the external NuGet client after previously having used the in-process one (either by changing cake.config or by using the --nuget_useinprocessclient flag).
I can solve the issue by fully deleting the tools folder and then re-running .\build.ps1.

[2020-08-09 03:07] augustoproiete opened #2838 "Add MakeRelative alias to DirectoryPath and FilePath"
### What You Are Seeing?

`MakeAbsolute` is a useful alias to transform a relative path into an absolute path based on the current `WorkingDirectory`, but there's not an equivalent alias for doing the opposite, that is, transform an absolute path into a relative path.

### What is Expected?

I'd like Cake to provide a `MakeRelative` alias that transforms an absolute path into a relative path, whic

[2020-08-09 05:44] augustoproiete opened #2839 "Add support for PublishReadyToRunShowWarnings property in DotNetCorePublish"
### What You Are Seeing?

When publishing .NET Core 3+ apps that are compiled with `ReadyToRun` enabled can emit warnings, indicating potential missing dependencies that could potentially cause runtime failures. To show the warnings, we can set the `PublishReadyToRunShowWarnings` property to `true` when calling `dotnet publish`.

`DotNetCorePublishSettings` currently supports the property `Publish

[2020-08-09 07:31] devlead commented on #2838
Might be a good edition
Example of code making path relative
https://github.com/cake-build/cake/blob/80d787c5c9c0e102e088ef1a41c0f2e1ae95e790/src/Cake.Common/IO/Zipper.cs#L225-L233

A MakeRelative alias should take rootPath as the last parameter and be optional, that way it could default to working directory but you could also specify a path.

[2020-08-09 09:13] patriksvensson commented on #2838
@augustoproiete @devlead Better to use the `RelativePathResolver` which was made for this: https://github.com/cake-build/cake/blob/develop/src/Cake.Core/IO/RelativePathResolver.cs

The method above should probably be rewritten to use that as well...

[2020-08-11 12:34] runehalfdan commented on #2367
I encountered an issue with NuSpecContent that requires OS-native directory-separator ('\') when globbing. c:\foo\**\bar.dll works, c:/foo/**/bar.dll does not

[2020-08-12 13:20] augustoproiete commented on #2732
This has been resolved via #2716 and `SkipDuplicate` is available on Cake v0.38.4.

[2020-08-12 13:24] devlead commented on #2732
@augustoproiete correct, thanks👍

[2020-08-12 13:24] #2732 closed

[2020-08-28 20:33] mabead opened #2843 "Resolved tool path for "docker" should be the linux version of docker when running under WSL"
### What You Are Seeing?

I am running a cake script under wsl 2. When the `DockerRun` function is invoked, it uses the `docker.exe` in my windows env instead of the `docker` in my linux distribution, thus resulting in errors when mounting volumes. Ex:

[code]

### What is Expected?

The resolved tool path should be `/usr/bin/docker` instead of `/mnt/c/Program Files/Docker/Docker/resources/bin/doc

[2020-08-28 20:45] pascalberger commented on #2843
The `DockerRun` alias is not part of Cake but from the Cake.Docker addin. You should open an issue at https://github.com/MihaMarkic/Cake.Docker/

/cc @MihaMarkic

[2020-08-28 20:45] #2843 closed

[2020-08-28 20:48] mabead commented on #2843
Moved to https://github.com/MihaMarkic/Cake.Docker/issues/78.

[2020-08-30 04:15] gitfool opened #2844 "Add missing dotnet test options"
* [`dotnet test`](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-test)
  * `--collect <DATA_COLLECTOR_NAME>`
  * `-- <RunSettings arguments>`

[2020-09-05 05:55] gitfool opened #2847 "Add new GitHub Actions URL environment variables"
See [default environment variables](https://docs.github.com/en/actions/configuring-and-managing-workflows/using-environment-variables#default-environment-variables):
* `GITHUB_API_URL`. Returns the API URL. For example: https://api.github.com.
* `GITHUB_GRAPHQL_URL`. Returns the GraphQL API URL. For example: https://api.github.com/graphql.
* `GITHUB_SERVER_URL`. Returns the URL of the GitHub serve

[2020-09-05 05:56] patriksvensson commented on #2847
Sounds like a good idea! 👍

[2020-09-05 13:07] prochnowc commented on #2822
@mholo65 Any chance to get a release with this improvement soon? ReportGenerator fails now on Azure DevOps hosted linux agents.

[2020-09-05 13:23] mholo65 commented on #2822
v1.0.0 should be released soonish, but I can't promise an exact date. In the meantime I'd recommend pulling an pre-release version from our Azure Artifacts feed. https://dev.azure.com/cake-build/Cake/_packaging?_a=feed&feed=cake

[2020-09-06 12:42] nils-a commented on #2834
@patriksvensson are you aware, that moving rules into `.editorconfig` only works for VS2019? Earlier versions only support the Code Style-options in .editorconfig and ignore the rules.

[2020-09-06 13:37] patriksvensson commented on #2834
@nils-a Yes, but development of Cake is done in VS2019. If someone submits a PR created with earlier versions, it will be caught in CI (warning as errors enabled in release mode).

[2020-09-07 11:02] #2847 closed

[2020-09-07 12:27] #2292 closed

[2020-09-07 12:54] #2703 closed

[2020-09-07 14:54] #2839 closed

[2020-09-07 19:17] #2844 closed

[2020-09-07 20:58] pascalberger opened #2986 "Cake.Issues.Tap"
Add support to read [Test Anything Protocol](https://testanything.org/tap-version-13-specification.html) files, as e.g. written by [super-linter](https://github.com/github/super-linter)

[2020-09-07 23:39] #741 closed

[2020-09-08 05:52] #2755 closed

[2020-09-09 06:23] gep13 commented on #2833
@cake-build/cake-team switching this to a breaking change, since we are removing the `--bootstrap` option, from what I can see.

[2020-09-09 06:54] patriksvensson commented on #2833
@gep13 @cake-build/cake-team Not sure if I would call it a breaking change. `--bootstrap` parameter will not throw or return an error, and bootstrapping will still be performed so scripts will continue to work as expected.

[2020-09-09 08:29] devlead commented on #2833
This isn't a breaking change, just tried to build Cake with cake using 1.0.0-GH-2833-0001 in a clean repo, and it runs
[code]

[2020-09-09 08:41] gep13 commented on #2833
@devlead did it run the build twice?

If so, if it isn't a breaking change, then it _should_ be a breaking change.

[2020-09-09 08:43] devlead commented on #2833
@gep13 It only ran the build once, so no change in behavior.

[2020-09-09 08:44] gep13 commented on #2833
so this:

[code]

Is a no-op?  If the bootstrap option is being removed, how is it doing this?  If I misread the PR when I had a brief look at it, I apologise.

[2020-09-09 08:52] devlead commented on #2833
Ah no your correct, but that should be corrected in the PR imho, I'll give that feedback on PR.

[2020-09-09 09:29] gitfool opened #2850 "Bump .NET Core SDK to 3.1.402"
See [release notes](https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1.8/3.1.402-download.md).

[2020-09-09 10:44] gitfool opened #2852 "Terminal output colours"
I'm using [Windows Terminal](https://github.com/microsoft/terminal) with [PowerShell 7](https://github.com/PowerShell/PowerShell), which normally has a black background, but I've configured it to use the now classic blue background:

![image](https://user-images.githubusercontent.com/750121/92587981-7fe2e000-f2ec-11ea-889e-5b3591ca7251.png)

The text with black background looks a little jarring. A

[2020-09-09 11:19] #2850 closed

[2020-09-09 11:30] patriksvensson commented on #2852
@gitfool I've also noticed this. Will take a look at it.

[2020-09-09 13:44] patriksvensson opened #2853 "Custom argument names are not case insensitive in 1.0 preview"
The option `--target=foo` works as expected but not `--Target=foo`.

[2020-09-09 16:37] augustoproiete commented on #2833
Wouldn't it make sense for `--bootstrap` to continue to be a known (but `hidden`) parameter that does a no-op, to avoid existing build pipelines to run the cake build process twice? The same goes for [cake-build/cake-action](https://github.com/cake-build/cake-action).

[code]

[2020-09-09 16:40] devlead commented on #2833
It's not a noop in the current PR or works as previously. So no breaking change there.

Only difference is that it'll also run implicitly without extra step when you execute scripts unless you opt out.

[2020-09-09 17:02] augustoproiete commented on #2833
Got it. Thanks. So only the bootstrap process would run twice in the scenario above.

[2020-09-13 20:47] pascalberger commented on #2776
Add Frosting as possible option to run Cake scripts with https://github.com/cake-build/website/pull/977

[2020-09-14 20:43] #2833 closed

[2020-09-16 22:28] suegy opened #2855 "Trying to Run DotNetCoreTest using Nunit results in an error when test fails"
### What You Are Seeing?
Starting test execution, please wait...

A total of 1 test files matched the specified pattern.
  X Test1 [38ms]
  Stack Trace:
     at Exercise.Tests.Tests.Test1() in E:\[folder]\test\Exercise.Tests\UnitTest1.cs:line 20

Test Run Failed.
Total tests: 1
     Failed: 1
 Total time: 1.0561 Seconds
An error occurred when executing task 'Tests'.
Error: System.AggregateExceptio

[2020-09-17 04:01] mholo65 commented on #2855
Total tests: 1
Failed: 1
Total time: 1.0561 Seconds

The test is failing, which will cause NUnit runner to return non-zero exit code, which will cause Cake to throw an exception. This is expected behavior.

Depending on what kind of behavior you want, please take a look at [Error handling](https://cakebuild.net/docs/fundamentals/error-handling) or just wrap the NUnit call in a `try...catch`.

Clos

[2020-09-17 04:01] #2855 closed

[2020-09-18 13:19] Kimserey opened #2856 "Question: How can you specify a target to execute on an external cake script?"

[2020-09-18 13:26] #2856 closed

[2020-09-18 14:59] devlead opened #2857 "Add support for .NET 5"
- Core
- Common
- Global Tool
- etc.

[2020-09-18 15:36] gep13 commented on #2857
This would be after 1.0, right?

[2020-09-18 15:42] devlead commented on #2857
No idea, just started the work to see what needs to be done, still WIP.

[2020-09-20 17:52] devlead opened #2859 ".NET 5 shouldn't be identfied as Full Framework or Mono"
Currently on a pure .NET 5 environment this code
[code]
Will return
[code]

This results in quite a few errors i.e. mono binaries won't execute correctly, and a few other wrong assumptions are made.

Code to be corrected:
https://github.com/cake-build/cake/blob/a068ac0f98ab6824e6712d05e4eb8d3bbc52bea2/src/Cake.Core/Polyfill/EnvironmentHelper.cs#L93-L96

[2020-09-20 19:48] devlead commented on #2859
fixed by #2860

[2020-09-20 19:48] #2859 closed

[2020-09-21 08:43] devlead opened #2884 "(Frosting) Don't publish on Ubuntu AppVeyor build"
Example:

* https://ci.appveyor.com/project/cakebuild/frosting/builds/35313624/job/hf6mtl06lhj24vg4

[2020-09-21 08:58] devlead opened #2883 "(Frosting) Add support for .NET 5"

[2020-09-22 21:23] patriksvensson opened #2861 "Fix error output in 1.0 preview"
Error output looks strange in some cases:

![image](https://user-images.githubusercontent.com/357872/93939125-9a747a80-fd2a-11ea-8a96-ceec93df694a.png)

[2020-09-23 21:30] pascalberger opened #2863 "Add support for GitHub Action workflow commands"
### What You Are Seeing?

The [IGitHubActionsProvider](https://cakebuild.net/api/Cake.Common.Build.GitHubActions/IGitHubActionsProvider/) currently gives access to some environment values.

### What is Expected?

It should also provide [Workflow commands](https://docs.github.com/en/actions/reference/workflow-commands-for-github-actions)

### What version of Cake are you using?

0.38.5

### Are you

[2020-09-23 21:34] devlead commented on #2863
Is this related to #2609?

[2020-09-23 21:47] pascalberger commented on #2863
Yes.

The question is what the scope of #2609 is? Part is already done in [IGitHubActionsProvider](https://cakebuild.net/api/Cake.Common.Build.GitHubActions/IGitHubActionsProvider/) (access to environment variables), another with the Cake Action, support of workflow commands is another part where this issues overlaps with #2609, and having additional helpers for stuff like uploading artifacts, whi

[2020-09-24 07:08] ecampidoglio commented on #2863
I started working on #2609 already and I was actually thinking about implementing this, as well.

Adding support for interacting with GitHub Actions could still be tracked in #2609, but I'll create separate PRs for each area (environment, commands etc). Would that be fine or would you rather track them as individual issues?

[2020-09-24 07:11] devlead commented on #2863
As we use issues for or release notes, if it's separate features enough to warrant multiple PRs, then I think we should split into multiple issues.

[2020-09-24 07:39] ecampidoglio commented on #2863
The way I see it, adding complete support for interacting with GitHub Actions is one feature. But I'm fine with splitting it up, if you prefer.

[2020-09-24 09:22] pascalberger commented on #2863
The confusing thing is, that part of it already has shipped with current version of Cake and remaining parts probably might ship in different versions. Therefore I'm with @devlead on this, that separate issues make sense in this case, since we're using them for release notes.

[2020-09-24 14:19] daveMueller commented on #2831
I'm working on this.

[2020-09-24 17:45] #2853 closed

[2020-09-25 09:39] daveMueller commented on #2831
@karlroyle As you suspected it just needed some adaptions to the regex. In the referenced PR I also extended the unit tests to cover additional whitespaces.

[2020-09-25 09:41] karlroyle commented on #2831
That's great.  Many thanks for your help Dave.

[2020-09-25 11:03] #2857 closed

[2020-09-27 22:14] gitfool opened #2866 "Support multiple dotnet test options"
Following up from https://github.com/cake-build/cake/issues/2844 for collectors and https://github.com/cake-build/cake/issues/2623 for loggers (with stale PR https://github.com/cake-build/cake/pull/2624), I would like to add support for multiple collectors and loggers just before the release of Cake 1.0.0! 😉

The collectors change is non-breaking since it hasn't been released yet. The loggers chan

[2020-09-28 06:56] ecampidoglio commented on #2863
Since I'm already working on #2609, I'll take on this one, as well.

[2020-09-29 12:51] nils-a opened #2868 "option --target has wrong documentation in --help"
### What You Are Seeing?
Current help shows:
[code]
which in fact does not work.

It should be changed to
[code]
which would work (and also look a bit more like the next line..)

### What is Expected?
That the options, as given in `--help` work.

### What version of Cake are you using?
[code]

### Are you running on a 32 or 64 bit system?
64bit

### What environment are you running on?  Windows? L

[2020-09-29 12:55] nils-a commented on #2868
This got introduced in https://github.com/cake-build/cake/pull/2605 but is now superseded by https://github.com/cake-build/cake/pull/2334 so I'm not really sure how much of a problem this really is.

[2020-09-29 13:58] nils-a commented on #2868
@gep13 I aborted the PR. I think the real question is whether this fix is really needed. Or in other words how close is "The Version 1.0"?

[2020-09-30 06:46] gep13 commented on #2868
@nils-a It is certainly close... but I can't give a definitive date.  Is this problem still present in the develop branch?  If it is, we should fix it there before the release.

[2020-09-30 09:54] nils-a commented on #2868
@gep13 no - the cli-help in the current development no longer shows an example of `--target` (part of the dicussion in https://github.com/cake-build/cake/pull/2605 was whether to show `--target` 'cause it's not really part of the cli)

[2020-10-02 07:43] #2866 closed

[2020-10-02 07:44] devlead commented on #2623
Fixed by #2867

[2020-10-02 07:44] #2623 closed

[2020-10-02 08:34] gep13 commented on #2868
Gotcha, makes sense.

So, what are your thoughts here?  Can this issue be closed?

[2020-10-02 08:40] pascalberger commented on #2685
Implicit bootstrapping of modules has been implemented with https://github.com/cake-build/cake/issues/2833 for Cake 1.0.0.

Documentation on website has also been updated to make .NET Tool the recommended runner: https://cakebuild.net/docs/getting-started/running-cake-scripts

@gitfool Is there anything else or can this issue be closed?

[2020-10-02 09:00] #2831 closed

[2020-10-02 09:54] nils-a commented on #2868
I *think*, yes. The error exists since 0.35.0 - thats exactly a year now. I guess it can wait a week or two.

[2020-10-02 10:00] nils-a commented on #2868
closing, as discussed. #2334 superseeds this issue.

[2020-10-02 10:00] #2868 closed

[2020-10-02 21:52] gitfool commented on #2685
@pascalberger I think this issue can be closed and a couple of new issues created, if agreed and not already existing, focusing on:
* Integrating `Cake.DotNetTool.Module` into Cake core

This is the [most downloaded](https://www.nuget.org/packages?packagetype=&sortby=relevance&q=cake+module&prerel=False) Cake module, which is not surprising given the appeal and utility of portable .NET [Core] tool

[2020-10-03 01:53] gitfool opened #2870 "Add helpers for adding multiple strings to ProcessArgumentBuilder"
[`ProcessArgumentBuilder`](https://github.com/cake-build/cake/blob/7ca5a28479cc7b7deb9a8e02ca495397c344f8e6/src/Cake.Core/IO/ProcessArgumentBuilder.cs#L16) has a [FromString](https://github.com/cake-build/cake/blob/7ca5a28479cc7b7deb9a8e02ca495397c344f8e6/src/Cake.Core/IO/ProcessArgumentBuilder.cs#L119) helper and implicit conversion [operator](https://github.com/cake-build/cake/blob/7ca5a28479cc7

[2020-10-03 04:23] gitfool opened #2872 "Bump eol target frameworks"
The following warnings are seen while building Cake with Visual Studio 2019 Preview and the latest SDK:
[code]
See [.NET Core and .NET 5 Support Policy](https://dotnet.microsoft.com/platform/support/policy/dotnet-core) for more information.

I suggest bumping the following target frameworks:
* `netcoreapp2.0` to `netcoreapp2.1`
* `netcoreapp3.0` to `netcoreapp3.1`
* `net46` to `net461` (currently

[2020-10-03 09:08] devlead commented on #2825
Fixed by #2826

[2020-10-03 09:08] #2825 closed

[2020-10-03 09:29] pascalberger opened #2874 "Merge frosting into main Cake repo"
We should consider meging Frosting into main https://github.com/cake-build/cake repository. They both share the same release lifecycle and having them in a single repository would simplify and allow more automation in release process.

[2020-10-05 18:56] Cheesebaron commented on #2746
I would probably personally prefer a mix of both.

Probably something like:
- When requested (not sure if this should be through log level), output at end of each task.
- At the end of execution of script, even if a task threw an error, a report of all task durations would be nice.

This would look something like:

[code]

Then at the end:

[code]

[2020-10-07 09:28] #2836 closed

[2020-10-10 02:30] xforever1313 opened #2877 "Add NuGet's Icon setting to NuGetPackSettings"
As of NuGet 5.3.0, nuspec files can now have an [icon](https://docs.microsoft.com/en-us/nuget/reference/nuspec#icon) tag that deprecates IconUrl.  However, [NuGetPackSettings](https://cakebuild.net/api/Cake.Common.Tools.NuGet.Pack/NuGetPackSettings/) does not as of yet seem to contain this setting.

It would be great if Icon was added to NuGetPackSettings!

[2020-10-11 19:17] pascalberger opened #2879 "Update links pointing to cakebuild.net to new URL structure"
### What You Are Seeing?
Messages contain links to outdated cakebuild.net URLs, which are redirected.

### What is Expected?
We should output the current URLs

### What version of Cake are you using?
0.38.5

### Are you running on a 32 or 64 bit system?
64-Bit

### What environment are you running on?  Windows? Linux? Mac?
Windows

### Are you running on a CI Server?  If so, which one?
N/A

### Ho

[2020-10-12 06:07] #2879 closed

[2020-10-15 14:43] #2734 closed

[2020-10-15 15:51] #2874 closed

[2020-10-15 19:35] devlead commented on #2883
Fixed by #2875

[2020-10-15 19:35] #2883 closed

[2020-10-15 19:36] gep13 opened #2885 "Add integration tests for packages pushed to artifact feeds"
So that we can capture issues like the line endings which have just been identified.

https://github.com/cake-build/frosting/issues/104

[2020-10-15 19:36] devlead commented on #2884
Fixed by #2875

[2020-10-15 19:36] #2884 closed

[2020-10-15 19:40] asalvo opened #2888 "Support registering open generics"
The Cake Frosting container registration does not support open generics. It throws an exception because the call to IsAssignableFrom fails on line 22 of RegistrationBuilder.

Open generic example:
services.RegisterType(typeof(Logger<>)).As(typeof(ILogger<>)).Singleton();

I have a simple work around at the moment where I just register everything explicitly as there is not that many registrations t

[2020-10-15 19:43] bitfringe opened #2890 "RunTarget"
Is there a way to explicitly run a specific target just like in .cake file you call RunTarget("whetever")? Looks like Target string property is in CakeHostOptions, but couldnt find a way to configure those options.

[2020-10-15 20:08] pascalberger opened #2894 "Remove unnecessary documentation and replace it with <inheritdoc />"
There are places in the code base where we have XML comments written but could have used `<inheritdoc/>`. Whenever possible we should use `<inheritdoc/>`

[2020-10-15 20:09] pascalberger opened #2895 "Custom contexts should inherit from CakeContextAdapter"
Custom contexts (such as `DotCoverContext`) should inherit from `CakeContextAdapter`

[2020-10-15 20:10] pascalberger opened #2896 "Add tests for ContinuaProvider"
We should add tests for ContinuaProvider

[2020-10-15 20:11] pascalberger opened #2897 "Add tests for MyGetProvider"
Add tests for MyGetProvider

[2020-10-15 20:14] pascalberger commented on #2776
Has been replace with https://github.com/orgs/cake-build/projects/2

[2020-10-15 20:14] #2776 closed

[2020-10-15 21:26] devlead opened #2899 "Update to .NET 5 SDK RC 2"

[2020-10-15 21:27] devlead opened #2900 "Update to .NET 5 SDK "RTM""
When available update to "RTM" version of .NET 5 SDK

[2020-10-15 21:29] #2887 closed

[2020-10-15 22:16] #2895 closed

[2020-10-15 22:49] #2899 closed

[2020-10-16 15:28] pascalberger opened #2903 "Integrate Cake.DotNetTool.Module"
To install .NET tools the Cake.DotNetTool.Module can be used. Using .NET tools in a build becomes a more and more common pattern. We should think about integrating functionality of Cake.DotNetTool.Module in Core Cake Engine.

Originally reported in https://github.com/cake-build/cake/issues/2685

[2020-10-19 01:00] augustoproiete commented on #2592
Link to the issue on the dotnet/runtime repo: [Compression.ZipFile support for Unix Permissions](https://github.com/dotnet/runtime/issues/1548).

[2020-10-19 21:27] Marusyk commented on #2894
Please assign it to me

[2020-10-19 21:38] patriksvensson opened #2906 "(Frosting) Add better error message for "Task cannot be used""

[2020-10-20 04:22] gitfool opened #2908 "Future proof .NET [Core] detection"
The recent change to [identify .NET as CoreCLR](https://github.com/cake-build/cake/commit/b0fce2b72164e41fb77b3efc2e9f84610402c546#diff-a9b46972ae116b3b2f69004199271b7afd841cb1a6f881659db57cbc32604ed0R95-R96) should be made future proof.

[2020-10-20 21:32] gitfool commented on #2852
@pascalberger could this issue be added to the [`v1.0.0`](https://github.com/cake-build/cake/milestone/55) milestone?

[2020-10-20 21:38] gitfool commented on #2870
Example usage in [Cake.Dungeon/scripts/tasks.cake](https://github.com/gitfool/Cake.Dungeon/blob/81a9064155946870724e0fd0036c832b178872f7/scripts/tasks.cake#L128) where [`Build.ToolSettings.UnitTestRunSettings`](https://github.com/gitfool/Cake.Dungeon/blob/81a9064155946870724e0fd0036c832b178872f7/scripts/toolsettings.cake#L73) is a simple `string[]`.

@pascalberger could this issue be added to the

[2020-10-20 22:11] pascalberger commented on #2852
@gitfool We currently only add issues which are blocking the release in 1.0.0 since we really want to get it out. I would not classify this not as blocking. If we get a PR in time we can add, but otherwise probably in a 1.0.0 bugfix release. I added it  therefore to the 1.1.0 milestone.

[2020-10-20 22:14] pascalberger commented on #2870
Added to 1.0.0 milestone since we have an open PR

[2020-10-21 14:56] #2908 closed

[2020-10-21 15:16] devlead opened #2911 "C# syntax errors in exceptions causes Specre.CLI internal error"
I.e. C:/temp/priv/boom.cake(2,8): somewhere in exception message will cause this exception

[code]

Identified as upstrem issue ( spectresystems/spectre.cli#117 ) fixed with pr ( spectresystems/spectre.cli#118 )  and release [0.45.0](https://www.nuget.org/packages/Spectre.Cli/0.45.0).

I'll submit a PR shortly to address this.

[2020-10-21 15:27] devlead commented on #2861
For reference, this is how it used to look
[code]
this is how it looks in develop now
[code]

@cake-build/cake-team How do we want it do look?

[2020-10-21 15:45] #2911 closed

[2020-10-21 16:01] patriksvensson commented on #2861
@devlead Going to add an error handler in the CLI lib so we can control this ourselves.

[2020-10-21 22:29] patriksvensson opened #2913 "Add overload for DotNetCoreRun"
Right now, you can't pass `DotnetCoreRunSettings` to `DotNetCoreRun(..)` without also passing a `ProcessArgumentBuilder`. It should not be required to pass that parameter to provide settings for the run command.

See documentation for more context: https://cakebuild.net/api/Cake.Common.Tools.DotNetCore/DotNetCoreAliases/0B9C4933

[2020-10-22 17:04] #2199 closed

[2020-10-25 17:47] #2897 closed

[2020-10-25 19:16] #2894 closed

[2020-10-25 19:59] #2877 closed

[2020-10-25 20:26] #2870 closed

[2020-10-26 11:00] MrCull opened #2918 "Incorrect link for ReSharper's Open Source webpage in Cake readme"
### What You Are Seeing?
The link on the Cake main Readme page for JetBrains "Open Source License" is pointing to: https://www.jetbrains.com/community/user-groups/#section=open-source

The page this resolves to is titled "User Groups" and this is not the intended page.

### What is Expected?
The correct link should be: https://www.jetbrains.com/community/opensource/#support

That page is titled "O

[2020-10-26 11:56] #1970 closed

[2020-10-26 14:33] devlead commented on #2918
Fixed by #2919

[2020-10-26 14:33] #2918 closed

[2020-10-28 07:33] gitfool opened #2920 "Bump Cake script dependencies"
Use https://github.com/dependabot/dependabot-core/pull/1848 dry run to identify outdated dependencies in Cake scripts:

`/`:
[code]
`/tests/integration`:
[code]

[2020-10-28 07:38] gep13 commented on #2920
Semi related to this...

@gitfool have you seen what @nils-a has been playing with? 😄

https://github.com/nils-org/dependabot-cake-action

You can see it in action here:

https://github.com/cake-contrib/Cake.7zip/pull/83

[2020-10-28 07:42] gitfool commented on #2920
@gep13 Nice! I missed that. Sounds like what we use for our private GitLab repo. 😄

[2020-10-28 07:42] devlead commented on #2920
@gitfool could you do a not dry run too and create a PR? 😉

[2020-10-28 07:44] gitfool commented on #2920
@devlead about to push the manual PR... and can retire after that it seems. 😁

[2020-10-28 07:50] devlead commented on #2920
Well, "official" dependabot support would be awesome though.

[2020-10-28 08:29] #2920 closed

[2020-10-28 11:39] devlead commented on #2913
Fixed by #2915

[2020-10-28 11:39] #2913 closed

[2020-10-28 13:26] nils-a commented on #2920
@gitfool @devlead using "my" version (really, it's also using the code from the dependabot PR - I simply slapped a docker container around it) it would have looked like this: https://github.com/nils-a/cake/pulls :-)

[2020-10-28 15:59] nick5454 opened #2922 "Added DotnetTool module exits pipeline without running script"
### What You Are Seeing?
The cake script does not continue (Cake.CoreCLR) after loading DotnetTool module. Does not fail

### What is Expected?
Continue with the script to use the dotnet scheme

### What version of Cake are you using?
Cake.CoreCLR 38.5

### Are you running on a 32 or 64 bit system?
64 bit ( MS Hosted macos-latest )

### What environment are you running on?  Windows? Linux? Mac?
Ma

[2020-10-28 16:06] devlead commented on #2922
Just to make sure, pre Cake 1.0 you need to bootstrap then execute script example
https://github.com/cake-build/cake/blob/1b81b6da6829879a6c3bf394a928b95c88e06329/build.ps1#L149-L154

Is this what you're doing?

[2020-10-28 16:14] nick5454 commented on #2922
[code]

[2020-10-28 16:16] nick5454 commented on #2922
[build_cake.txt](https://github.com/cake-build/cake/files/5453292/build_cake.txt)

[2020-10-28 18:28] gitfool commented on #2920
@nils-a yeah, on GitLab we schedule a modified [dependabot/dependabot-script](https://github.com/dependabot/dependabot-script) in a Docker container.

[2020-10-28 18:43] #2861 closed

[2020-10-29 21:22] nick5454 commented on #2922
That works great! Thanks!

[2020-10-29 21:22] #2922 closed

[2020-10-31 20:34] #2595 closed

[2020-11-02 20:30] devlead commented on #2922
Am I right in that you got this sorted?

[2020-11-05 16:14] TrymBeast opened #2926 "Improve FilePathCollection usage"
Hello!

First of all, thanks for this awesome project!

So, I want to request a very small feature that will make the usage of FilePathCollection better.
I have noticed that despite having this class, it seems that you use ICollection<FilePath> for everything.
I've runned in this in the AzurePipelinesPublishTestResultsData where I want to use the GetFiles to get all *.trx files and set it in the T

[2020-11-05 18:35] devlead opened #2927 "Cake 1.0.0-rc0001 Pre-Release"
First pre-release of Cake 1.0.0

### Issues

As part of this release we had [48 issues](https://github.com/cake-build/cake/milestone/55?closed=1) closed.

__Breaking change__

- [__#2292__](https://github.com/cake-build/cake/issues/2292) Remove obsolete methods and properties.

__Feature__

- [__#2874__](https://github.com/cake-build/cake/issues/2874) Merge frosting into main Cake repo.
- [__#2883

[2020-11-05 18:35] #2927 closed

[2020-11-05 22:17] devlead opened #2928 "Cake.Frosting and Cake.Frosting.Template not pushed to NuGet"
Need to be added here
https://github.com/cake-build/cake/blob/94eab0d93a8f8de2492243e1a1b9a62337df81e0/build/parameters.cake#L107

[2020-11-05 22:21] devlead opened #2929 "GitReleaseManager milestone should use SemVersion"
Currently a pre-release will close major release
https://github.com/cake-build/cake/blob/94eab0d93a8f8de2492243e1a1b9a62337df81e0/build/version.cake#L46

[2020-11-05 23:59] devlead opened #2930 "Increase potential breaking change property"
@cake-build/cake-team shouldn't this be `1.0.0`?

https://github.com/cake-build/cake/blob/a719007789de9a0fac884a5634e0a31098972ef0/src/Cake.Core/Constants.cs#L11-L12

[2020-11-06 00:06] patriksvensson commented on #2930
Yes I think it should!

[2020-11-06 04:58] mholo65 commented on #2930
Yes

[2020-11-06 10:05] RehanSaeed opened #2932 "Add dotnet test --blame Flag to DotNetCoreTestSettings"
The `dotnet test` command has a `--blame` flag that is missing from `DotNetCoreTestSettings`. This should be added as it is very usefule for when the test process crashes. I turn it on on in all my CI test runs. Here is the documentation for the flag:

[code]

[2020-11-06 11:47] patriksvensson opened #2933 "Enable NuGet provider in Frosting"
The NuGet provider in frosting is not enabled by default. I'll be sending a PR for this.

[2020-11-08 23:16] Marusyk commented on #2932
I would prepare PR for this if nobody minds

[2020-11-09 10:17] pitermarx opened #2935 "Add Task Descriptions to Frosting"
Cake frosting has a TaskName Attribute but no Description.

[2020-11-09 10:29] #2891 closed

[2020-11-09 10:31] gep13 commented on #2932
@Marusyk no objections here, thanks for your help with this!

[2020-11-09 10:40] patriksvensson commented on #2905
We should not require this.

[2020-11-09 10:40] #2905 closed

[2020-11-09 10:50] gep13 commented on #2891
@patriksvensson did you decide against this?  Can you provide some information here?

[2020-11-09 10:55] patriksvensson commented on #2891
@gep13 Yes, it's a bad idea that really doesn't bring any value + it will require too much work.

[2020-11-10 20:07] devlead commented on #2933
Fixed by #2934

[2020-11-10 20:07] #2933 closed

[2020-11-10 20:50] patriksvensson commented on #2893
Duplicate of #2886?

[2020-11-10 22:52] devlead commented on #2893
@patriksvensson yes can probably be closed in favor of #2886

[2020-11-12 06:31] #2900 closed

[2020-11-12 08:44] devlead commented on #2928
Fixed by #2939

[2020-11-12 08:44] #2928 closed

[2020-11-13 02:39] gitfool opened #2941 "ProcessArgumentBuilder helpers should return empty builder when values is null"
Following up from #2870, handle `null` being passed as `values` to:
* FromStrings
* FromStringsQuoted

[2020-11-13 16:46] suleyth opened #2944 "Error NU1202 installing tool in .NET 5 project"
Hello! I believe this is a typo issue somewhere in the prerelease.

### What are you seeing?
I tried to install the Cake tool in a .NET 5 project (with `<TargetFramework>net5.0</TargetFramework>`) and I get this error:
[code]
### What is expected?
The Cake tool should be installed correctly.
### What version of Cake are you using?
Prerelease `1.0.0-rc0001`.
### Are you running on a 32 or 64 bit sy

[2020-11-13 21:31] pascalberger commented on #2944
I tried to reproduce it with .NET 5.0 SDK 5.0.100 which works fine. What version of .NET SDK do you have installed? Are other .NET tools working?

[2020-11-14 10:11] suleyth commented on #2944
I have exactly the same version, only `.NET Core 3.1.402` installed too. Err, this is probably my issue then, since other tools have the same problem for me, and you say it works fine. Sorry for the bother! I'll close this and post if I find a solution.

[2020-11-14 10:11] #2944 closed

[2020-11-14 10:14] pascalberger commented on #2944
This shouldn't be an issue, I also have `3.1.302` and `3.1.401` installed in parallel. Seems like something with your installation is not fine if other tools are also not working.

[2020-11-14 10:20] devlead commented on #2944
Could be a NuGet cache being corrupt issue

Try
`dotnet nuget locals all --clear`

[2020-11-14 11:00] suleyth commented on #2944
I just found out! It's an environment variable issue. I set `MSBuildSDKsPath` to `C:\Program Files\dotnet\sdk\5.0.100\Sdks` and everything went back to working normally. It's always a pain switching .NET versions, hm...

[2020-11-14 17:58] DaveSenn opened #2945 "Improve performance by parallelizing installation of packages"
# What You Are Seeing?

Cake builds have quite a lot of overhead increasing the build time.
Restoring packages can be a significant part of this.

For example, we use jetBrains dotCover and R# for code coverage and code inspection during build:

[code]

Because we have a lot of projects (each having its own cake build script) it i not an option to specify the package version explicitly in each scr

[2020-11-16 16:39] nf313743 opened #2948 "Visual Studio 2019 16.8.0 update (dotnet 5 SDK) breaks Cake build"
There's an issue running Cake after updating to Visual Studio 2019 to 16.8.0/16.8.1.  This update will install the new dotnet 5 SDK.  Building my solution using the Cake .netframework Runnner (build.ps1), I was receiving errors such as:
```C:\Program Files\dotnet\sdk\5.0.100\Sdks\Microsoft.NET.Sdk\targets\Microsoft.PackageDependencyResolution.targets(241,5): error NETSDK1005: Assets file 'xxx.asse

[2020-11-16 18:30] devlead commented on #2948
Yes, there seems to be a breaking change in NuGet 5.8.0, for bootstrappers that don't use NuGet.exe you can add something like
[code]

[2020-11-16 18:35] pascalberger commented on #2948
For bootstrapper the above workaround seems like the best solution to me until Microsoft fixes their stuff and blesses 5.8.0 to make it available as the latest version. The underlying issue is that they shipped NuGet 5.8 with Visual Studio, while not making it also the recommended version for the standalone installer, which leads to this issue due to the breaking change they introduced.

[2020-11-17 10:45] dieterv commented on #2904
@gep13 Frosting uses an internal `ToolInstaller` which does not respect the [tools path configuration option](https://cakebuild.net/docs/running-builds/configuration/default-configuration-values#tools-path).
Instead it is currently hardcoded to place tools into `_environment.WorkingDirectory.Combine("tools").MakeAbsolute(_environment)` which usually ends up being somthing like `project-root/tools/

[2020-11-17 11:28] patriksvensson commented on #2904
@dieterv This has been fixed in #2946 which will be merged shortly.

[2020-11-19 11:00] oldmine opened #2949 "NUnit.Console3.12 support netcore"
In NUnit.Console3.12 added net core and linux support but Cake can't run new version of tool, when tool path set to .dll instead .exe.

### What You Are Seeing?
When i set tool path to `nunit3-console.dll`, i receive `NUnit3: Unrecognised error (exit code -532462766)`.

### What is Expected?
Tool is running using `dotnet pathToDll`

### What version of Cake are you using?
0.38.5

### Are you runni

[2020-11-20 18:27] #2948 closed

[2020-11-20 18:28] nf313743 commented on #2948
`https://dist.nuget.org/win-x86-commandline/latest/nuget.exe` Now points to v5.8.
Closing.

[2020-11-21 15:31] augustoproiete opened #2953 "Allow setting MSBuild target via MSBuildSettings using a string"
Currently when calling the `MSBuild` alias with an `MSBuildSettings`, we need to set the target using the `WithTarget` extension method.

[code]

It would be nice if we could use a property, with a string, which would make it more natural when using properties for everything else:

[code]

This property should also understand semicolons as separator for multiple targets and call `Targets.Add` acco

[2020-11-23 19:22] augustoproiete opened #2955 "Add Build Start Date & Time to TeamCity build information"
TeamCity provides additional information about the build through an officially supported plugin called [Groovy plug](https://confluence.jetbrains.com/display/TW/Groovy+plug). After installing this plugin a few environment variables become automatically available on every build, including the ones below:

| Environment Variable | Format | Example |
| --- | --- | --- |
| `BUILD_START_DATE` | yyyyMMd

[2020-11-23 20:01] pascalberger opened #2956 "Wrong Cake version in build.config"
### What You Are Seeing?
When creating a new Frosting project from a template a `build.config` file is included in the bootstrapping scripts, based on the [build.config file used to build Cake](https://github.com/cake-build/cake/blob/develop/build.config).

### What is Expected?
Cake version in the generated `build.config` should match the version of the template (e.g. for Cake.Frosting template 1

[2020-11-23 20:14] pascalberger commented on #2955
@augustoproiete Sounds like a useful enhancement

[2020-11-26 13:04] devlead commented on #2956
The the template build config for frosting shouldn't have cake version as that's implied, that's an side effect of beeing merged into cake repo.

In frostings case we probably should skip `build.config` and just use `global.json`.
Obtain scripts now have an `-JSonFile|--jsonfile <JSONFILE>` option which can be pointed to `global json`.
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-inst

[2020-11-26 18:40] DaveSenn commented on #2945
@pascalberger would you accept a PR implementing this improvement?

[2020-11-27 08:14] pascalberger commented on #2945
@DaveSenn Thanks for being interested in giving this a try 👍 We would like to see some investigations done on this and a PR. Some things to consider:

* We're not sure if and how well this will work out (e.g. how will NuGet API react to parallelization of IO, etc). To be finally able to decide to take this in or not we need measurements for different before / after use cases.
* Once proofed that i

[2020-11-27 18:53] augustoproiete commented on #2945
@DaveSenn `Parallel.ForEach` might not be the best choice for downloading multiple packages. `Parallel.ForEach` is more for CPU intensive work and downloading files is more I/O intensive work.

Starting multiple async download operations and waiting for all of them to finish (e.g. `Task.WhenAll`) is what I would suggest instead.

Ideally there should be a configuration parameter (e.g. in `cake.con

[2020-11-27 18:55] pascalberger commented on #2945
That's absolutely a possible implementation

[2020-11-29 02:53] augustoproiete opened #2961 "Update dotnet cake usage instructions (dotnet cake --help)"
When running `dotnet cake --help` to see usage instructions, the usage and example display `Cake.dll [...]` instead of `dotnet cake [...]`

### What You Are Seeing?

[code]

### What is Expected?

[code]

### What version of Cake are you using?
1.0.0-rc0001

### Are you running on a 32 or 64 bit system?
64-bit

### What environment are you running on?  Windows? Linux? Mac?
Windows 10.0.18363 / win

[2020-11-30 12:41] pascalberger opened #2962 "Document breaking changes in 1.0 CLI"
### What You Are Seeing?
CLI in 1.0 contains some breaking changes. For example when using .NET Framework runner `-target Foo` works with 0.38.5, but fails with 1.0 RC 1:

[code]

`--target=Foo` works in all versions and is what we also have documented since recently on cakebuild.net.

### What is Expected?
Breaking changes should be documented in release notes.

### What version of Cake are you u

[2020-11-30 12:49] pascalberger commented on #2961
We should also update [bootstrapper](https://github.com/cake-build/resources/blob/master/dotnet-framework/build.ps1#L263_L268) to use `--` syntax

[2020-12-01 07:52] uglybugger opened #2963 "EndOfStreamException thrown when using loaddependencies=true"
### What You Are Seeing?

Hi! I'm trying to install an addin using the `loaddependencies=true` parameter:

[code]

I'm observing an error where Cake scans the dependency graph and attempts to detect if each assembly is a CLR assembly.

[code]

I suspect that there's something in the offset reading code in `FileExtensions.IsClrAssembly` which, when presented with a non-CLR .dll is reading at one of

[2020-12-01 15:40] devlead commented on #2930
Fixed by #2940

[2020-12-01 15:40] #2930 closed

[2020-12-01 15:41] devlead commented on #2956
I believe this will be fixed by #2946 ?

[2020-12-01 19:43] pascalberger commented on #2929
Fixed with https://github.com/cake-build/cake/pull/2964

[2020-12-01 19:43] #2929 closed

[2020-12-01 19:47] pascalberger commented on #2893
Closing as duplicate of https://github.com/cake-build/cake/issues/2886

[2020-12-01 19:47] #2893 closed

[2020-12-01 19:54] pascalberger commented on #2757
@vaishnav-n Is this still an issue? Based on the messages you provided it seems to also not be able to install Cake.BuildSystems.Module, which indicates an issue with accessing the feed and not the addin.

[2020-12-02 08:19] augustoproiete commented on #1726
I believe this has been resolved as part of #2400 and can be closed.

[code]

If the file `optional.cake` does not exist a [warning is displayed](https://github.com/cake-build/cake/blob/f828a7c735264cd12abe37f6b39a521a3a5370a4/src/Cake.Core/Scripting/Processors/Loading/FileLoadDirectiveProvider.cs#L70) e.g. `No scripts found at C:/project/optional.cake.` and the build process continues.

Tested on

[2020-12-02 08:33] pascalberger commented on #1726
I would also assume this is because of bootstrapping. Can you create a separate issue for this? I don't know if there's an easy fix for it, but in a separate issue we can track it properly.

[2020-12-02 09:04] pascalberger commented on #2962
Another difference: With pre 1.0 it was possible to pass arguments like `Foo=`, with 1.0 this will now throw an error:

[code]

[2020-12-02 09:26] GeertvanHorrik commented on #2099
I would like to take this a bit further than just caching on disk. Our situation:

We currently use (quite large) shared build scripts in all our repositories. Each stage (initialize, build, test, package, deploy, finalize) is a separate stage and requires recompilation of the cake scripts. Compiling the build scripts takes about 20 seconds, so it would be very sweet if we could decrease this to 0

[2020-12-02 09:41] gep13 commented on #2099
@GeertvanHorrik thanks for your thoughts.  Not sure if you have seen it, but there is an open RFC regarding the addition of caching into Cake.  Before moving forward with any implementation, we need to get agreement regarding the way forward.  This RFC is here:

https://github.com/cake-build/rfcs/pull/2

If you wanted to read through that (if you haven't already) and add some thoughts to the PR, w

[2020-12-02 09:43] devlead commented on #2099
There's an open PR #2650 to be reviewed after 1.0 right?

[2020-12-02 09:58] gep13 commented on #2099
@devlead yes, I believe that there is a PR for providing some of the functionality, however, we haven't agreed via the RFC exactly what we are hoping to achieve with this functionality, so until that is addressed, I don't think we can move forward with any PR.

[2020-12-02 10:04] devlead commented on #2099
Yip just wanted to make sure we didn't duplicate any effort

[2020-12-02 14:44] augustoproiete opened #2965 "Some warning messages from Cake are showing twice on v1.0.0-rc0001"
### What You Are Seeing?

It seems the automatic bootstrapping of Cake in v1.0.0-rc0001 causes warnings to appear twice:

![image](https://user-images.githubusercontent.com/177608/100886180-e7db3980-3489-11eb-9f6a-89c1de2fa0b1.png)

### What is Expected?

![image](https://user-images.githubusercontent.com/177608/100886261-00e3ea80-348a-11eb-8f3f-eb36dacf4895.png)

### What version of Cake are you

[2020-12-02 14:44] augustoproiete commented on #1726
@pascalberger [Some warning messages from Cake are showing twice on v1.0.0-rc0001 #2965](https://github.com/cake-build/cake/issues/2965)

[2020-12-04 08:05] KatoStoelen opened #2966 "Enable AnsiConsoleRenderer in TeamCity and Azure Pipelines"
I see that AnsiConsoleRenderer is enabled for GitHub Actions (and terminals that supports it).

Since both TeamCity (since 9.1) and Azure Pipelines now supports ANSI coloring, it would make the world much more colorful if AnsiConsoleRenderer is enabled for those build systems as well.

[2020-12-04 22:19] augustoproiete opened #2967 "Expose TeamCity build properties dictionary via TeamCityBuildInfo"
TeamCity provides additional information about the build and the build agent through a text file that is written during the build.

This file contains a number of properties about the build that are not available via environment variables such as configuration parameters.

The location of the file is available during the build in the environment variable `TEAMCITY_BUILD_PROPERTIES_FILE` and looks

[2020-12-05 06:48] augustoproiete commented on #2966
@KatoStoelen I've opened PRs to enable the `AnsiConsoleRenderer` for Azure Pipelines (#2968) and TeamCity (#2969).

In the meantime (as a workaround) if you want to enable colors _today_, you can "cheat" by setting an environment variable that will tell Cake that ANSI is supported:

- If your builds **are** running on Windows, set an environment variable `ConEmuANSI` with the value `On`
- If your

[2020-12-05 19:49] augustoproiete commented on #2963
@uglybugger Your analysis was correct and I was able to reproduce the error by creating a Cake add-in that includes a `.dll` file that is not a valid PE file.

[code]

[2020-12-06 20:36] pascalberger opened #2974 "Add tab completion for CLI switches and task names"
It would be nice to have tab completion for CLI switches of Cake .NET Tool and Cake Frosting.

Since `--target` is not a CLI switch for Cake .NET Tool implementing tab completion for task names might be challenging. For Cake Frosting `--target` is a CLI switch and it should be possible to implement tab completion also for task names. Performance will be an issue here, since we don't want to recomp

[2020-12-07 07:59] KatoStoelen commented on #2966
Thanks, @augustoproiete!

Went looking for ways to customize `ConsolePalette`, but did not find any (apart from using Cake.Frosting and a custom `IConsole`). Hence, I started to think that it might be better to make this an opt-in feature. Either that, or make ConsolePalette customizable, or add some `BuildSystem` specific palettes (might cause issues for people using custom themes).

I guess with

[2020-12-07 15:17] augustoproiete commented on #2966
@KatoStoelen Yes, as you probably noticed the [colors are all hard-coded in AnsiConsoleRenderer.](https://github.com/cake-build/cake/blob/4214b5201ccb35f76b49ae77eb7180875006282f/src/Cake.Core/Diagnostics/Console/AnsiConsoleRenderer.cs#L25-L63) at the moment, so supporting custom color palettes would be a new feature to be added.

Cake also doesn't have a way of opting out of ANSI coloring and it

[2020-12-07 16:06] augustoproiete opened #2975 "Add support for opting out of ANSI coloring via NO_COLOR env. variable"
Cake is able to [detect if ANSI coloring is supported](https://github.com/cake-build/cake/blob/4214b5201ccb35f76b49ae77eb7180875006282f/src/Cake.Core/Diagnostics/Console/AnsiDetector.cs#L43) in a number of cases, but once it detects that color _is_ supported, there's no way of opting out of it at the moment.

Some ideas:
- Check for the existence of an environment variable ([`NO_COLOR`](https://no

[2020-12-07 17:07] pascalberger commented on #2975
Configuration should IMHO be possible as [other configuration options](https://cakebuild.net/docs/running-builds/configuration/set-configuration-values) through environment variable, configuration file and argument.

@patriksvensson Is this something which should be done in Spectre.CLI?

[2020-12-07 17:23] patriksvensson commented on #2975
@pascalberger Makes sense to respect `NO_COLOR` since that's a pretty common convention. Other than that, the rest could be done in Cake.

[2020-12-08 08:35] KatoStoelen commented on #2966
I'll add new feature requests for both (customizable palette and opt-out of ANSI coloring).

The opt-out feature might be a great addition to this feature, since enabling ANSI coloring in TeamCity, where most people (I'm assuming) have a white background, would be somewhat intrusive.

Customizable palette would also be great, but I understand that this one might require more effort.

[2020-12-08 09:25] KatoStoelen opened #2976 "Support custom ConsolePalette/ANSI colors"
Regarding #2966.

In build systems that have a build log with white background, the current palette is not... the prettiest of palettes. Would be great to have a way of customizing the colors. Could be by choosing between different "official" palettes, or by explicitly setting the different colors of the palette.

I suspect that you could achieve this using Cake.Frosting and a custom `IConsole` wh

[2020-12-08 10:52] pascalberger commented on #2962
This was fixed in https://github.com/cake-build/website/pull/1312

[2020-12-08 10:52] #2962 closed

[2020-12-08 11:08] devlead commented on #2963
Fixed by #2971

[2020-12-08 11:08] #2963 closed

[2020-12-08 21:09] pascalberger commented on #2976
Related issue https://github.com/cake-build/cake/issues/2852

[2020-12-09 07:39] devlead commented on #2956
Fixed by #2946

[2020-12-09 07:39] #2956 closed

[2020-12-09 07:39] devlead commented on #2904
Fixed by #2946

[2020-12-09 07:40] devlead commented on #2886
Fixed by #2946

[2020-12-09 07:40] #2886 closed

[2020-12-09 07:44] devlead opened #2980 "Update to .NET 5 SDK 5.0.101"

[2020-12-09 12:39] devlead commented on #2980
Fixed by #2981

[2020-12-09 12:39] #2980 closed

[2020-12-09 13:07] devlead commented on #2838
Fixed by #2923

[2020-12-09 13:07] #2838 closed

[2020-12-09 15:42] Cheesebaron opened #2983 "No possibility of adding variable with isOutput=true in Azure Pipelines"
### What You Are Seeing?
AzurePipelines.Commands.SetVariable doesn't provide a way to set the variable with `isOutput=true`, which is useful when setting a variable that is to be used in a different stage or just by a different task.

This way when I have a named task in my YAML file, I can write something like: `$(myNamedTask.someOutputVar)`.

### What is Expected?
Some API that allows to do this

[2020-12-10 00:50] augustoproiete commented on #2975
Sounds good.

For the configuration options, I suggest adding a new configuration value under `Settings` called `Color`, which can be one of the following values:

- **`auto`** - Let AnsiDetector decide if color is supported or not based on environment (**_default_**)
- **`never`** - **opt out** of coloring, regardless of environment (_skip_ the logic to detect if color is supported or not)
- **`a

[2020-12-10 01:00] augustoproiete commented on #2976
Agreed. It would be nice if there were official palettes to choose from. Maybe start with two, one similar to the current one that looks good on dark backgrounds and an alternative one that looks good on light backgrounds.

Perhaps (as a separate issue) also add an extension point that can be used to set a different color palette from a module?

[2020-12-12 12:56] pascalberger commented on #2872
Related issue #2253

[2020-12-12 12:59] pascalberger commented on #1751
I think this can be closed. Available runners and supported plattforms are documented at https://cakebuild.net/docs/running-builds/runners/#supported-platforms.

[2020-12-12 12:59] #1751 closed

[2020-12-12 13:06] pascalberger commented on #73
There's now a [Cake.GitHub addin](https://cakebuild.net/extensions/cake-github/) available using OctoKit and which can be extended with additional features if required. There exists also a [Cake.OctoDeploy](https://cakebuild.net/extensions/cake-octodeploy/) addin providing some addins for working with GitHub releases.

Closing this since requests for additional features should be done to the addin

[2020-12-12 13:06] #73 closed

[2020-12-13 18:55] #2986 closed

[2020-12-13 18:56] #2987 closed

[2020-12-13 19:15] #2988 closed

[2020-12-13 19:15] #2989 closed

[2020-12-13 19:16] #2990 closed

[2020-12-13 19:18] #2991 closed

[2020-12-13 19:18] #2992 closed

[2020-12-13 19:19] #2993 closed

[2020-12-13 19:20] #2994 closed

[2020-12-13 19:21] #2995 closed

[2020-12-13 19:21] #2996 closed

[2020-12-13 19:22] #2997 closed

[2020-12-17 20:01] pascalberger opened #3003 "Remove DependencyAttribute"
### What You Are Seeing?
Cake Frosting has a `IsDependentOnAttribute`, but also an older `DependencyAttribute` , which does the same.

### What is Expected?
We should remote `DependencyAttribute`

### What version of Cake are you using?
1.0 RC2

### Are you running on a 32 or 64 bit system?
N/A

### What environment are you running on?  Windows? Linux? Mac?
N/A

### Are you running on a CI Server?

[2020-12-19 14:10] devlead opened #3006 "Cake 1.0.0-rc0002 Pre-Release"
### Issues

As part of this release we had [13 issues](https://github.com/cake-build/cake/milestone/74?closed=1) closed.

__Breaking change__

- [__#2930__](https://github.com/cake-build/cake/issues/2930) Increase potential breaking change property.
- [__#2904__](https://github.com/cake-build/cake/issues/2904) (Frosting) Tool installer should respect configuration.

__Feature__

- [__#2933__](http

[2020-12-19 14:11] #3006 closed

[2020-12-19 15:44] devlead commented on #2892
Fixed by #2946

[2020-12-19 15:44] #2892 closed

[2020-12-20 13:36] pascalberger opened #3007 "Different arguments between script runner and Frosting"
### What You Are Seeing?
When running `dotnet cake --help` it shows a `--description` option.
When running `Build.exe --help` for a Frosting project it shows a `--descriptions` option

### What is Expected?
Options should be named the same across all runners.

### What version of Cake are you using?
1.0.0-RC2

### Are you running on a 32 or 64 bit system?
64-Bit

### What environment are you runni

[2020-12-22 13:23] devlead commented on #3007
Fixed by #3008

[2020-12-22 13:23] #3007 closed

[2020-12-22 13:25] devlead opened #3009 "Make Cake Core CakeDataService Public"
Currently only class internal stopping from being reused to create ICakeContext outside Cake.

[2020-12-22 22:38] richardgavel opened #3011 "UseInProcessClient = false does not honor loaddependencies setting"
### What You Are Seeing?

When running Cake using external NuGet, if I reference a NuGet package that has dependences, those dependencies do not get restored, even when the loaddependencies is set to true. The same cake scripts work when UseInProcessClient is set to true.

#addin "RazorEngine&version=3.10.0&loaddependencies=true"

### What is Expected?

Dependencies get restored.

### What version

[2020-12-22 22:44] pascalberger commented on #3011
This is by-design and [documented](https://cakebuild.net/docs/writing-builds/preprocessor-directives#dependencies):

Any specific reason why you depend on `nuget.exe` (which btw is also phased out by NuGet team)?

[2020-12-22 23:13] richardgavel commented on #3011
Correction, it is restoring the dependencies, but Cake doesn't seem to be loading the dependent package assemblies into the process space. This is the error I got. The DLL in question is located in the dependent package:

2020-12-22T22:13:10.6761678Z Error: System.AggregateException: One or more errors occurred. ---> System.IO.FileNotFoundException: Could not load file or assembly 'System.Web.Razo

[2020-12-29 15:18] dieterv commented on #2904
@patriksvensson upgraded to 1.0.0-rc0002 and it looks like Frosting does not yet respect the settings from the [Paths] section of my cake.config file. Digging a bit deeper and it looks like the internal ToolInstaller still uses a hardcoded `_environment.WorkingDirectory.Combine("tools").MakeAbsolute(_environment);` path, see
https://github.com/cake-build/cake/blob/main/src/Cake.Frosting/Internal/T

[2021-01-01 00:32] pascalberger opened #3017 "Enhance CakeMethodAlias and CakePropertyAlias to allow passing a version number"
https://github.com/cake-build/website/issues/426 raised the issue that it is not visible on the website with which version a specific feature was added. An easy way to improve this situation would be to enhance `CakeMethodAlias` and `CakePropertyAlias` with the possibility to pass a version string which represents the version in which the alias or property was introduced. On the website we can rea

[2021-01-02 16:15] augustoproiete commented on #3017
I'm wondering if this is something that can be automated without requiring addin authors to have to opt-in to this.

We can already enumerate all the aliases of an addin, and we have a history of the versions of each addin in NuGet so (in theory), we should be able to diff the aliases between different versions of each addin and identify changes to the API.

[2021-01-02 17:03] pascalberger commented on #3017
In theory yes, but it would mean that we need to download and analyze all versions of all addins which probably would increase build time massively.

[2021-01-02 17:13] devlead commented on #3017
It's immutable information though, so perhaps we could create some index outside website build, so it's just json or similar per addin containing meta data about addin.

Could be a separate scheduled build so it wouldn't affect site build time, it perhaps even could speed it up.

[2021-01-02 17:36] pascalberger commented on #3017
In this case addin discoverer would probably the best place, since we already detect new versions of addins there. Then we would need to have a list of aliases and version in which it was introduced added to the extension yaml file. If we want to improve overall build time this would mean we need full information (including arguments, xml comments and `CakeAliasCategoryAttribute` values of alias a

[2021-01-02 17:50] devlead commented on #3017
Don't think website should be directly dependent on addin discover, as we're using Azure DevOps it could be an task(s) executed on a schedule fetching its previous artifact, fetching only new versions since last and generating and updated artifact.
And whatever the current artifact is, is the one used by website build.
That way state is preserved and only incremental changes need to be applied.

[2021-01-02 18:03] pascalberger commented on #3017
It's not more of a dependency than we currently already have with keeping version information up to date. Addin discoverer was the tool we use until now for bringing different dynamic data into website. If we start to have certain logic in addin discoverer, other in website and other again in a different pipeline this adds complexity and redundant logic to the process. If we don't want to have a d

[2021-01-02 18:26] nsmithdev opened #3018 "Cake displays raw ANSI output after running specific executables"
### What You Are Seeing?
ASCI character are returned to console for any output after running specific executables.
It works fine in the vscode console but exabits the problem in windows cmd console even when using PowerShell.
The same code used to work fine when running the older powershell version of cake but started happening when I switch to the dotnet tool version.
So far I can consistently re

[2021-01-02 20:13] pascalberger commented on #2904
@dieterv Do you have an example where working directory fails? I just tried with a following simple example with the build script in a `build` folder and the solution in a `src` folder and setting working directory: https://github.com/pascalberger/cake-frosting-example

[2021-01-02 22:01] pascalberger commented on #3018
The same code used to work fine when running the older powershell version of cake but started happening when I switch to the dotnet tool version.

There's no PowerShell version of Cake, you probably mean [Cake Runner for .NET Framework](https://cakebuild.net/docs/running-builds/runners/cake-runner-for-dotnet-framework). PowerShell is only used for bootstrapper, like you can have a PowerShell boots

[2021-01-03 01:32] nsmithdev commented on #3018
I can confirm it was the powershell bootstrapper before.
Downgrading to the 0.37.0 version has restored color and no longer dumps asci after launching the exe.
The only main reason we use windows console is because we double click a .bat file which launches a menu and is where how cake is actually launched.

I attempted setting NO_COLOR env variable but it looks like it didn't make it into version

[2021-01-03 01:34] nsmithdev commented on #3018
https://github.com/cake-build/cake/commit/e55cca4375ae3d530ab5d5e0d44237ee503cdec2

[2021-01-03 01:36] nsmithdev commented on #3018
NO_COLOR env https://github.com/cake-build/cake/commit/e55cca4375ae3d530ab5d5e0d44237ee503cdec2

[2021-01-03 08:42] pascalberger commented on #3018
Support for `NO_COLOR` will come in 1.1.

The ANSI codes oyu see seem to be related to the output of `sqlcmd` as it doesn't happen with other commands and can also be reproduced in PowerShell. Still investigating on this.

[2021-01-03 22:04] pascalberger opened #3020 "Migrate to Spectre.Console"
Spectre.Cli has been moved into Spectre.Console library. We should also [migrate](https://spectresystems.github.io/spectre.console/cli/migration).

With Spectre.Console additional console features are made available, some of which can replace existing addins ([Figlet](https://spectresystems.github.io/spectre.console/widgets/figlet). We should make use of the additional console features provided by

[2021-01-04 00:30] augustoproiete commented on #3018
The issue is that SQLCMD blindly overrides the console mode at the start, effectively disabling ANSI support from that point on. IMO it's a bug of SQLCMD ([I reported it on their UserVoice](https://feedback.azure.com/forums/908035-sql-server/suggestions/42342169-running-sqlcmd-disables-ansi-console-output-suppor), and you might want to [open a ticket with Microsoft](https://support.microsoft.com/h

[2021-01-04 09:12] dieterv commented on #2904
@pascalberger sure, I've modified your example to show that ToolInstaller does not use the working directory that was configured on CakeHost, see https://github.com/dieterv/cake-frosting-example/commit/76e6518939fd3a75777d334fd6500a6d374b2ee3

Now, interesting as this is, the [Paths][Tools] setting from the cake.config file should be used instead, when available, which is not the case unfortunatel

[2021-01-06 15:34] augustoproiete opened #3024 "WindowsRegistry: Expose other root registry keys to Cake scripts (e.g. HKEY_CURRENT_USER)"
### What You Are Seeing?

The `IRegistry` interface [exposes access to the `LocalMachine` key](https://github.com/cake-build/cake/blob/8bc15841e97944291946a89f335562244965247e/src/Cake.Core/IO/IRegistry.cs), but not to the other root keys.

[`WindowsRegistryKey` is internal](https://github.com/cake-build/cake/blob/8bc15841e97944291946a89f335562244965247e/src/Cake.Core/IO/WindowsRegistryKey.cs) thu

[2021-01-08 07:33] #3009 closed

[2021-01-13 20:19] pascalberger opened #3029 "Add ICakeArguments.GetArgument extension"
1.0 RC 1 removed `Cake.Core.ICakeArguments.GetArgument(System.String)` since we now support multiple arguments with the same name. To avoid a breaking change (e.g. when called from an addin) we could add an extension to `GetArgument` extension to ICakeArguments.

[2021-01-13 20:23] devlead commented on #3029
For reference see the discussion https://github.com/cake-build/cake/discussions/3026

[2021-01-13 20:48] devlead commented on #3020
Fixed by  #3028

[2021-01-13 20:48] #3020 closed

[2021-01-13 22:31] devlead commented on #3018
Fixed by #3021

[2021-01-13 22:31] #3018 closed

[2021-01-13 23:54] pascalberger commented on #2772
@marco-bertschi In [v1.0.0-rc0001](https://github.com/cake-build/cake/releases/tag/v1.0.0-rc0001) a [HandleExitCode](https://cakebuild.net/api/Cake.Core.Tooling/ToolSettings/AA785F36) property was introduced on the `ToolSettings` (and thus `NUnit3Settings`) class, which allows to skip implement custom logic when exception should be thrown (including ignoring exit code completely). This should solv

[2021-01-13 23:57] pascalberger commented on #2772
Similar request to get the number of failing tests back for XUnit: https://github.com/cake-build/cake/discussions/3027

[2021-01-15 06:34] augustoproiete commented on #2796
@dmitrynovik I'm closing this one as resolved. Feel free to reopen if this is not the case.

[2021-01-15 06:34] #2796 closed

[2021-01-15 06:43] augustoproiete commented on #2583
This has been fixed via https://github.com/cake-build/cake/issues/2595 and will be available in Cake v1.0.0 RTM.

You can test it today with the release candidate [Cake v1.0.0-rc0002](https://cakebuild.net/blog/2020/12/cake-v1.0.0-rc0002-released).

[2021-01-15 06:43] #2583 closed

[2021-01-15 07:09] gep13 commented on #2583
@augustoproiete is this a duplicate of #2595? If so, I think we should add the `Duplicate` label, or we should assign this issue to the 1.0.0 milestone.

[2021-01-15 16:22] augustoproiete commented on #2961
Comment from @pascalberger:

[2021-01-15 16:36] augustoproiete commented on #2583
Thanks for the reminder @gep13. I've added the `Duplicate` label on this one to simplify.

_Technically #2595 is a duplicate of this one (which came first) but it has more discussions, PR associated, and is in the milestone already_.

[2021-01-15 21:53] pascalberger opened #3032 "Frosting project fails on Linux"
### What You Are Seeing?
When trying to run a Frosting project created following the [Getting started guide](https://cakebuild.net/docs/getting-started/setting-up-a-new-frosting-project) an exception is thrown when running on Linux.

### What is Expected?
Projects created using the default template / documentation should work on all platforms.

### What version of Cake are you using?
1.0.0-rc0002

[2021-01-15 21:54] pascalberger commented on #3032
Issue seems to be caused by the following line in the project file:

[code]

Introduced with the following commit https://github.com/cake-build/cake/commit/a1cbb58f165eb66b98ffe825a1d4dad39b4aad06#diff-34df6adcd501c92a7d0a5362fad015f0a7081326e21bf08b5d4c3b6ad4871f9aL7

[2021-01-15 22:04] pascalberger opened #3034 "Add integration test for Frosting template"
It would be nice to have integration tests for Frosting template on different platforms. Test should install the Frosting template from the build artifacts, create a new Frosting project and run it.

[2021-01-15 22:36] pascalberger commented on #2961
Fixed with https://github.com/cake-build/cake/pull/3031

[2021-01-15 22:36] #2961 closed

[2021-01-15 23:08] augustoproiete commented on #3032
Resolved by #3033

[2021-01-15 23:08] #3032 closed

[2021-01-15 23:32] #1944 closed

[2021-01-15 23:38] #1861 closed

[2021-01-15 23:41] augustoproiete commented on #1726
Closing this as resolved via #2400 in the v0.33.0 milestone.

[2021-01-15 23:41] #1726 closed

[2021-01-16 03:13] #2321 closed

[2021-01-16 03:22] augustoproiete commented on #2115
This has been fixed via https://github.com/cake-build/cake/issues/2595 and will be available in Cake v1.0.0 RTM.

You can test it today with the release candidate [Cake v1.0.0-rc0002](https://cakebuild.net/blog/2020/12/cake-v1.0.0-rc0002-released).

---

Closing as Duplicate of https://github.com/cake-build/cake/issues/2595

[2021-01-16 03:22] #2115 closed

[2021-01-16 03:27] augustoproiete commented on #2066
This has been fixed by https://github.com/cake-build/cake/pull/3031 and will be available in Cake v1.0.0 RTM

[2021-01-16 03:27] #2066 closed

[2021-01-18 15:19] pascalberger opened #3038 "Tool resolving in Frosting tasks"
### What You Are Seeing?
I can restore a .NET Tool using the Cake.DotNet.Module and then call it in the build context constructor. But when calling the same tool in the Setup or a task an error is thrown:

[code]

### What is Expected?
It should be possible to call .NET Tools also from setup or tasks.

### What version of Cake are you using?
1.0.0-rc0002

### Are you running on a 32 or 64 bit syst

[2021-01-20 05:07] augustoproiete opened #3040 "Package ID Prefix Reservation for Cake.* on nuget.org for cake-build organization"
nuget.org allows projects to apply for [Package ID Prefix Reservation](https://docs.microsoft.com/en-us/nuget/reference/id-prefix-reservation) which, for open-source projects is useful to help developers identify the packages published by the core maintainers of a project (visual indicator), and packages published by the community.

![image](https://user-images.githubusercontent.com/177608/1051289

[2021-01-22 01:16] augustoproiete opened #3045 "Consider adding shallow clone support to ToolSettings"
_Tracking suggestion by @mholo65 and @patriksvensson on discussion related to https://github.com/cake-build/cake/discussions/3044_

### Goal: Define default values for tool settings. For example, `MSBuildSettings`: set a number of values, and use that as a default when calling `MSBuild`.

Pseudo-code of possible usage:

[code]

[2021-01-22 08:45] gep13 commented on #3040
@augustoproiete I have no objections for this to proceed.

[2021-01-22 08:46] devlead commented on #3040
@augustoproiete no objection from me neither.

[2021-01-23 16:29] pascalberger commented on #3038
This is caused by working directory and probably a duplicate of https://github.com/cake-build/cake/issues/2904

[2021-01-23 21:13] patriksvensson commented on #3038
@pascalberger Can't reproduce. I'm closing the issue.

![image](https://user-images.githubusercontent.com/357872/105614185-13aed780-5dc8-11eb-80c0-7867f4176ea2.png)

[2021-01-23 21:20] pascalberger commented on #3038
I'll add a repro repository later

[2021-01-23 23:24] #3024 closed

[2021-01-24 18:44] pascalberger commented on #3038
Here's a repository where it can be reproduced: https://github.com/pascalberger/cake-gh-3038

For the reproduction to work it is important that GitVersion is not available on the system (e.g. installed as .NET global tool or through Chocolatey). In this case the behavior can still be seen when running with diagnostic verbosity where it is visible that global instance is called when running from a

[2021-01-24 19:07] augustoproiete commented on #3038
I can repro on my machine:

[code]

[2021-01-24 19:23] pascalberger commented on #3038
Error is triggered by [setting working directory](https://github.com/pascalberger/cake-gh-3038/blob/master/build/Program.cs#L12) and might be fixed with https://github.com/cake-build/cake/pull/3048.

[2021-01-24 19:36] augustoproiete opened #3050 "Frosting: Rename CakeHost extension from UseTool to InstallTool"
[code]

Renamed in PR #3048 - https://github.com/cake-build/cake/pull/3048#pullrequestreview-574882900

[2021-01-24 22:35] pascalberger commented on #3029
Fixed with https://github.com/cake-build/cake/pull/3049

[2021-01-24 22:35] #3029 closed

[2021-01-24 23:31] pascalberger commented on #3038
Fixed with https://github.com/cake-build/cake/pull/3048

[2021-01-24 23:31] #3038 closed

[2021-01-26 05:26] augustoproiete opened #3053 "Reference preprocessor directive does not support @ verbatim identifier"
The following usage of the [reference preprocessor directive](https://cakebuild.net/docs/writing-builds/preprocessor-directives#reference-directive) fails with an `ArgumentNullException` even though the `string` is valid C#:

[code]

[code]

However, without the `@` verbatim identifier, it works even though it's not really a valid C# `string`:

[code]

---

Cake version: 1.0.0-rc0002 (Cake.Tool)

[2021-01-26 07:27] devlead commented on #3053
Preprocessor directives are processed before the C# compiler kicks in, and any Cake specific and `#using` directives are removed before code gets compiled. Don't think we would want to write our own C# compiler to support all variants of strings C# can have. Maybe just document what's supported.

[2021-01-26 13:13] augustoproiete commented on #3053
The main issue (for me) is fixing the problem I stated in the title: `Reference preprocessor directive does not support @ verbatim identifier`

[code]

Is valid C# and should work fine... The user shouldn't get a cryptic error IMO.

[2021-01-26 13:34] devlead commented on #3053
No `#r` isn't part of the C# spec, it's part of most C# scripting implementations though, including `csi.exe`

We should probably throw a better error, but don't think we should implement full C# string support, don't believe even [C# preprocessor](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/preprocessor-directives/) evaluates standard C# string expressions.

This is what `cs

[2021-01-26 13:37] augustoproiete commented on #3053
Interesting. I'd be happier with that CS7010 error message for sure. It took me a while to figure out the `@` the problem.

[2021-01-27 13:48] junjiequ opened #3056 "System.UnauthorizedAccessException when using Directory.GetDirectories(string filter, SearchScope scope) related APIs"
### What You Are Seeing?
---> System.UnauthorizedAccessException: Access to the path '/path/without/read/permission' is denied.
 ---> System.IO.IOException: Permission denied

### What is Expected?
No exception should be thrown.

### What version of Cake are you using?
0.38.5

### Are you running on a 32 or 64 bit system?
64 bit

### What environment are you running on?  Windows? Linux? Mac?
Linux

[2021-01-27 19:24] augustoproiete commented on #2690
Related discussion https://github.com/cake-build/cake/discussions/3054

[2021-01-28 00:05] augustoproiete opened #3058 "Regression: Tools are no longer not restored in working directory"
Relates to #2904

[2021-01-28 00:08] augustoproiete commented on #2904
Closing as resolved by #3048. Added to 1.0.0-rc0003 milestone

[2021-01-28 01:31] augustoproiete commented on #3056
Seem like a good addition to the `GetDirectories` & `GetFiles` aliases. :+1:

In the meantime, a possible workaround (though without the globbing support) would be to use `System.IO.Directory.EnumerateFiles` and convert to Cake's `FilePath` for use within the build script.

e.g.

[code]

[2021-01-28 20:44] pascalberger commented on #2904
We created https://github.com/cake-build/cake/issues/3058 for tracking this.

`cake.config` is currently not supported in Frosting. We updated documentation to mention this: https://cakebuild.net/docs/running-builds/configuration/set-configuration-values.

We don't want to go with a quick implementation to add support for reading configuration from `cake.config` in Frosting, but instead evaluate f

[2021-01-28 20:57] gep13 commented on #2904
@pascalberger to be fair... The Configuration system can handle *.ini files, so there is no reason that we "couldn't" also consume the values in the `cake.config` file, once we switch to use the configuration system.

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-3.1#file-configuration-provider

[2021-01-28 21:03] pascalberger commented on #2904
Sure, but keeps the problem that most of current settings don't make sense for Frosting:

- CAKE_NUGET_LOADDEPENDENCIES
- CAKE_PATHS_ADDINS
- CAKE_NUGET_USEINPROCESSCLIENT
- CAKE_PATHS_MODULES
- CAKE_NUGET_CONFIGFILE
- CAKE_NUGET_SOURCE

Leaving these settings which can make sense in Frosting:

- CAKE_SETTINGS_SHOWPROCESSCOMMANDLINE
- CAKE_SETTINGS_SKIPVERIFICATION
- CAKE_PATHS_TOOLS

[2021-01-28 21:05] gep13 commented on #2904
Frosting could just ignore them though, right? And only use the ones that it needs.

[2021-01-28 23:47] devlead commented on #2904
I've submitted #3059 as a proposed fix which support both config via cake.config/environment variables/args and a UseToolPath method in frosting.

[2021-01-29 07:06] devlead commented on #2904
At least the `CAKE_NUGET_*` ones are used in Frosting though as it uses Cake.NuGet now.

[2021-01-29 07:11] pascalberger commented on #2904
But only for tools and not for addins and modules which are added through PackageReferences.

[2021-01-29 07:34] dieterv commented on #2904
@pascalberger wrote:

Fair enough, my projects where migrated from older build.cake files.
Guess I just assumed settings in the cake.config files would be used.
Thanks for updating the docs, that will surely help people migrating in the future!

Ah, yes, `SetToolPath` method would be great and allow us to remove our config files altogether, thank you 🙏

[2021-01-29 07:39] gep13 commented on #2904
Fair enough, my projects where migrated from older build.cake files.
Guess I just assumed settings in the cake.config files would be used.

This is the really the scenario that I was thinking about when I said:

Folks that are moving from Cake Scripting to Frosting would expect that any existing configuration to be applied, where it makes sense.  That is why I think going forward Frosting should r

[2021-01-29 07:40] devlead commented on #2904
I was just correcting the fact that they didn't make sense at all. There're code-paths that're used in `release/1.0.0` branch.

So correct list configuration used by Forsting is:

- SETTINGS_SHOWPROCESSCOMMANDLINE
- SETTINGS_NOMONOCOERSION *<-- needs to be documented*
- PATHS_TOOLS
- NUGET_LOADDEPENDENCIES
- NUGET_USEINPROCESSCLIENT
- NUGET_CONFIGFILE
- NUGET_SOURCE

+ any addin/module that potent

[2021-01-29 18:41] augustoproiete commented on #3050
Closed by #3048

[2021-01-29 18:41] #3050 closed

[2021-01-29 22:15] augustoproiete opened #3060 "Cake 1.0.0-rc0003 Pre-Release"
Third pre-release of Cake 1.0.0

### Upgrade instructions

See [Upgrade instructions](https://cakebuild.net/docs/getting-started/upgrade#cake-0.38.x-to-cake-1.0)

### Issues

As part of this release we had [9 issues](https://github.com/cake-build/cake/milestone/75?closed=1) closed.

__Breaking change__

- [__#3050__](https://github.com/cake-build/cake/issues/3050) Frosting: Rename CakeHost extensi

[2021-01-29 22:16] #3060 closed

[2021-01-31 22:44] augustoproiete opened #3065 "Add DOTNET_ROLL_FORWARD setting to DotNetCoreSettings"
When running a DotNetCore command or tool via Cake, we can control the roll forward policy by setting an environment variable [DOTNET_ROLL_FORWARD](https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0#major-version-runtime-roll-forward) in the [tool's settings](https://github.com/cake-build/cake/blob/8bc15841e97944291946a89f335562244965247e/src/Cake.Common/Tools/DotNetCore/DotNet

[2021-02-01 00:41] gitfool opened #3066 "Prefer tools with platform affinity"
Following up from https://github.com/cake-build/cake/discussions/3064#discussioncomment-325740, it seems reasonable to make the tool resolution prefer tools with platform affinity.

[2021-02-01 20:15] pascalberger opened #3069 "Don't promote UseWorkingDirectory in Frosting default template"
### What You Are Seeing?
Cake Frosting Template in 1.0 RC3 calls `UseWorkingDirectory`. There are some known issues with setting working directory (e.g. with tool restoring). We should therefore not promote its usage in the default template.

### What is Expected?
Frosting default template should not contain a call to `UseWorkingDirectory`.

### What version of Cake are you using?
1.0.0-rc0003

##

[2021-02-01 20:56] pascalberger commented on #3069
Fixed with https://github.com/cake-build/cake/pull/3070

[2021-02-01 20:56] #3069 closed

[2021-02-02 03:07] VSerykh opened #3072 "Attribute `[IsDependeeOf]` doesn't work"
### What You Are Seeing?

When I create a `FrostingTask` with `[IsDependeeOf()]`, it doesn't work.

The error message is:

[code]

### What is Expected?

It's expected not to fail and run a task with a reversed dependency.

### What version of Cake are you using?

Probably `v1.0.0-rc0003`.

I tested the latest code from `release/1.0.0`.

### Are you running on a 32- or 64-bit system?

64-bit

###

[2021-02-02 04:55] augustoproiete commented on #2409
Hi @lvmgeo It's been a long time, but just following up on this issue.

Tried to repro just now o both Cake 0.31.0 and Cake 1.0.0-rc0003 (latest as of this writing) and in both cases copying the files works as expected.

- build.cake

[code]

#### Cake 0.31.0

[code]

#### Cake 1.0.0-rc0003

[code]

---

In both versions I confirmed the file is successfully copied to the destination folder in the

[2021-02-02 04:55] #2409 closed

[2021-02-02 11:11] patriksvensson commented on #3072
@VSerykh Could you post the whole build pipeline here as well?

[2021-02-02 18:25] pascalberger commented on #3072
Fixed with https://github.com/cake-build/cake/pull/3071

[2021-02-02 18:25] #3072 closed

[2021-02-02 23:02] augustoproiete opened #3074 "Add a --compileonly switch that allows checking if the Cake script is valid, without running anything"
The `--compileonly` switch would tell Cake to check that the build script compiles, without actually running anything.

This is different from the `--dryrun` feature in two ways:

1. `--dryrun` does more than compiling the code, as it figures out which tasks would be executed
2. `--dryrun` only works for targets... It still runs any code outside of `Task`s (1)

(1) e.g.

[code]

Output:

[code]

[2021-02-02 23:27] augustoproiete opened #3075 "Make FilePath and DirectoryPath comparable by value"
Currently `FilePath` and `DirectoryPath` comparisons are done by reference, and identical paths in different instances are considered to be different.

### Example

[code]

### What You Are Seeing?

[code]

### What is Expected?

[code]

### What version of Cake are you using?
1.0.0-rc0003

[2021-02-03 00:12] devlead commented on #3075
Important to think about is that any string comparison would need to take filesystem in consideration.

[2021-02-03 01:18] augustoproiete commented on #3075
That's an interesting thought. What situation(s) do you think the user can create instances of `FilePath` and/or `DirectoryPath` that would not comparable by string based on different filesystems?

I did some initial tests based on the assumption that we would implement `IEquatable<string>` (and friends). on `FilePath` & `DirectoryPath` and do the **comparison based on the `FullPath` string** whic

[2021-02-03 05:30] devlead commented on #3075
Casing would be one thing. On Windows files are case insensitive.

[2021-02-03 05:44] augustoproiete commented on #3075
Make sense.

Perhaps we can use a similar approach to [`PathHelper`](https://github.com/cake-build/cake/blob/8bc15841e97944291946a89f335562244965247e/src/Cake.Core/IO/PathHelper.cs#L13) and perform case-insensitive comparison on Windows, and case-sensitive otherwise.

Maybe add an exception when comparing paths that are rooted with drive letter to always be case-insensitive (even if not on Windows

[2021-02-03 22:53] augustoproiete opened #3077 "Regression: rc0003 outputs extra characters on OSX"
Cake 1.0.0-rc0003 seems to write spurious characters the first time a script writes to the Console on OSX.

I'm only able to reproduce on OSX. In Windows it works as expected (Tested Command-prompt, PowerShell, Windows Terminal).

At first glance, it appears to be a side-effect of [migrating to Spectre.Console](https://github.com/cake-build/cake/pull/3028).

### What You Are Seeing?

![image](http

[2021-02-03 23:47] patriksvensson commented on #3077
@augustoproiete We're not using Spectre.Console to render anything and everything related to VT100 sequence rendering is still the same code since the last release to my knowledge.

What terminal are you running?

[2021-02-03 23:56] augustoproiete commented on #3077
![image](https://user-images.githubusercontent.com/177608/106824625-9a31a780-6659-11eb-827b-122ec1e49d84.png)

Spectre.Console was just a guess... Comparing what's changed between RC3 vs RC2, the change from Spectre.Cli to Spectre.Console is the only thing that stands out, I think:

https://github.com/cake-build/cake/compare/v1.0.0-rc0002...v1.0.0-rc0003

[2021-02-04 00:00] augustoproiete commented on #3077
Log of running with verbosity=diagnostic vs default

### Diagnostic

[code]

### Default

[code]

[2021-02-04 00:01] devlead commented on #3077
Can comfirm in iTerm 1.0.0-rc0003
<img width="179" alt="image" src="https://user-images.githubusercontent.com/1647294/106825005-4c7e6480-6684-11eb-9703-dfc684f774b6.png">
vs. 1.0.0-rc0002
<img width="124" alt="image" src="https://user-images.githubusercontent.com/1647294/106825137-80f22080-6684-11eb-85d2-795fb962da3d.png">

[2021-02-04 00:06] devlead commented on #3077
Interestingly the 0m it's a one-time thing, i.e. launch with verbose verbosity and you won't see it
<img width="266" alt="image" src="https://user-images.githubusercontent.com/1647294/106825411-1db4be00-6685-11eb-97c5-02806d17e6ce.png">

[2021-02-04 00:18] patriksvensson commented on #3077
@devlead Yeah, it's a VT100 escape seqence controlling resetting of text that gets emitted out of context for some reason: https://github.com/cake-build/cake/blob/release/1.0.0/src/Cake.Core/Diagnostics/Console/AnsiConsoleRenderer.cs#L13

[2021-02-04 00:37] devlead commented on #3077
For me behavior starts with commit d5873f0e10f76f22250e41e1a59f7919f284028c

Which is the   Spectre.Cli -> Spectre.Console migration

<img width="542" alt="image" src="https://user-images.githubusercontent.com/1647294/106827353-011a8500-6689-11eb-9989-dc4f840020c8.png">
<img width="555" alt="image" src="https://user-images.githubusercontent.com/1647294/106827792-5c4c7780-6689-11eb-811f-85c30399294

[2021-02-04 00:43] devlead commented on #3077
Weirdly get the error with Spectre.Console 0.37.0 but not 0.36.0

[2021-02-04 01:52] augustoproiete commented on #2037
It's been a long time and I'm just triaging issues. Addins work well on all runners in recent versions of Cake. Closing this as stale. Feel free to reopen if needed.

[2021-02-04 01:52] #2037 closed

[2021-02-04 02:36] augustoproiete commented on #1690
[The .NET Tool runner](https://cakebuild.net/docs/running-builds/runners/dotnet-tool) is nowthe recommended way to run Cake scripts on all platforms, the bootstrapping became a lot simpler ([a handful of lines of code](https://github.com/cake-build/resources/tree/master/dotnet-tool)) and the [documentation](https://cakebuild.net/docs/running-builds/runners/dotnet-tool#bootstrapping-for.net-tool) o

[2021-02-04 02:36] #1690 closed

[2021-02-04 02:45] augustoproiete commented on #2464
Hey @josephbaggett It's been a long time since you opened this issue. I'm assuming you either found a solution, or a bug was fixed in future versions of Cake since version 0.32.1 which is what you were using at the time. If by any chance you still remember how you solved it, feel free to share on this issue.

If you're arriving here from a search engine and have a similar error, please make sure y

[2021-02-04 02:45] #2464 closed

[2021-02-04 04:47] #2495 closed

[2021-02-04 05:13] augustoproiete commented on #2497
This has been fixed with the release of Cake v0.35.0 which multi-targets `netcoreapp2.1;netcoreapp3.0`.

Cake v1.0.0 also multi-targets `net5.0` - starting with 1.0.0-rc0001.

[2021-02-04 05:13] #2497 closed

[2021-02-04 05:18] augustoproiete opened #3081 "Add netcoreapp3.1 target to Cake"
`netcoreapp3.1` is LTS.

[![image](https://user-images.githubusercontent.com/177608/106848093-a1bb7580-6686-11eb-8e55-893652020371.png)](https://dotnet.microsoft.com/download/dotnet-core)

https://dotnet.microsoft.com/download/dotnet-core

[2021-02-04 05:29] #1813 closed

[2021-02-04 06:03] augustoproiete commented on #1407
This has been resolved since Cake v0.30.0.

[code]

Results in:

[code]

Cake v1.0.0 introduces a number of [helper methods including `IsRunningOnMacOs`](https://cakebuild.net/api/Cake.Common/EnvironmentAliases/#Methods), which returns `true`/`false`.

[code]

Results in:

[code]

---

[![image](https://user-images.githubusercontent.com/177608/106851655-0679ce80-668d-11eb-8741-af5aa89f85c6.png)](h

[2021-02-04 06:03] #1407 closed

[2021-02-04 06:35] augustoproiete opened #3083 "Update --tree usage example to match option in the help info"
For consistency. The top level example uses `--showtree` but the preferred option in the usage help below is `--tree`

![image](https://user-images.githubusercontent.com/177608/106834282-82fbb580-666b-11eb-8369-7184ea69d157.png)

[2021-02-04 07:21] #1411 closed

[2021-02-04 12:56] dharanidharandharmasivam opened #3086 "Unable to install addin"
For my automation, in my cake file, I tried to install my addin from my local site, not from nuget.org. While running the PowerShell script I am facing the below issue.

`Error: Failed to install addin`

But when I tried to give the domain link with addin as below, it works in windows machine but the same not work with my mac machine and receiving the above error.

`#addin nuget:http://nexus.aaa.c

[2021-02-04 13:46] #3086 closed

[2021-02-05 22:34] augustoproiete commented on #2271
Thanks @jnm2

Closing as duplicate of #1480

[2021-02-05 22:34] #2271 closed

[2021-02-05 22:38] augustoproiete commented on #2656
Hi @markofranjic it's been a long time, but I'd like to take a closer look at this one. Would you be able to restore access to the file in your Google Drive, or post the file somewhere else?

![image](https://user-images.githubusercontent.com/177608/107096474-3afe9f00-67e1-11eb-8b77-ff5a4b257902.png)

[2021-02-06 02:28] augustoproiete commented on #3083
Resolved by #3078

[2021-02-06 02:28] #3083 closed

[2021-02-06 02:38] augustoproiete commented on #3074
Closing as duplicate of #2097

[2021-02-06 02:38] #3074 closed

[2021-02-06 04:27] augustoproiete commented on #2274
Thanks @jnm2.

Closing as duplicate of #1852.

[2021-02-06 04:27] #2274 closed

[2021-02-06 04:28] #2655 closed

[2021-02-06 04:30] augustoproiete commented on #3045
Relates to #2103. This is about adding clone support to the base class `ToolSettings` whereas #2103 is about adding clone specifically to `MSBuildSettings`

[2021-02-06 04:43] #1817 closed

[2021-02-06 05:00] augustoproiete opened #3092 "Add LaunchDirectory property to ICakeEnvironment"
`ICakeEnvironment.Environment` currently exposes `WorkingDirectory` which returns the directory path where the `.cake` script is located.

This issue is about adding a `LaunchDirectory` property to `ICakeEnvironment` that returns the original working directory where the Cake runner was invoked from, which could be a different folder than where the `.cake` script is located.

Examples:

| Cake Runn

[2021-02-07 00:14] devlead commented on #3077
Fixed by #3093

[2021-02-07 00:14] #3077 closed

[2021-02-08 04:07] achikhv opened #3096 "Error loading System.Data.SqlClient when using .net core runner"
### What You Are Seeing?
I am using cake runner for .net framework and considering migrating to .net core runner. My build scripts uses SqlConnection from System.Data.SqlClient to execute some SQL.
It works when .NET Framework runner is used. But switching to .NET Core causes error:
[code]

### What is Expected?
SqlClient and all of its dependencies are loaded without errors.

### What version of

[2021-02-08 05:37] #3096 closed

[2021-02-08 07:06] augustoproiete opened #3098 "Drop netcoreapp3.0 target in Cake"
Spin-off of #3081 which adds `netcoreapp3.1` to Cake.

`netcoreapp3.0` is no longer supported. `netcoreapp3.1` is LTS.

[![image](https://user-images.githubusercontent.com/177608/106848093-a1bb7580-6686-11eb-8e55-893652020371.png)](https://dotnet.microsoft.com/download/dotnet-core)

https://dotnet.microsoft.com/download/dotnet-core

[2021-02-09 08:18] pascalberger opened #3105 "Provide attributes for supported runners, operating systems and runners in extensions"
There's currently no structured way for an extension to express on which Cake runner, operating system or platform it runs. There might be issues with dependencies on different runners, issues with paths on different operating systems or an addin can target a more restrictive set of TFM than what Cake is available on.
Current [guidelines](https://cakebuild.net/docs/extending/addins/best-practices#

[2021-02-09 08:25] augustoproiete commented on #3105
A couple of thoughts to consider:

- Should some of these attributes specify "minimum version"?
- Should Operating System define bitness (x86/x64)?

[2021-02-10 22:48] augustoproiete commented on #3040
This is now done. The NuGet team reserved the namespaces `Cake` and `Cake.*` to the `cake-build` organization, and [all packages in the org](https://www.nuget.org/profiles/cake-build) now have the :large_blue_circle: checkmark.

![image](https://user-images.githubusercontent.com/177608/107582692-40d4f580-6bd0-11eb-9072-4a5c76cf02eb.png)

---

Devs can continue to publish packages using the `Cake.`

[2021-02-10 22:48] #3040 closed

[2021-02-11 06:05] gep13 commented on #3040
This is great news! Thanks for getting that done!

[2021-02-11 14:33] ymartin59 opened #3117 "Request: specific alias to make build fail"
I propose to create an alias which allows to make build fail without an explicit `throw new exception` after a `if` condition.
For instance `Fail(bool conditionToFail, string exceptionMessage)`
Cake may throw a specific exception in such case and report current task name and line location in cake build file.

[2021-02-11 14:41] #3117 closed

[2021-02-12 01:37] kjbartel opened #3119 "All old bootstrapper scripts are now broken"
### What You Are Seeing?
Breaking changes introduced in cake 1.0.0 affect all old build.ps1 scripts because the packages.config fetched targets 1.0.0. All of the older build.ps1 scripts do not work with new cake 1.0.0. This has broken a lot of automated builds and we now need to go to old branches to get them building again.

### What is Expected?
build.ps1 script should continue to work without a

[2021-02-12 02:12] augustoproiete commented on #3119
Hi @kjbartel just a heads-up that I'm transferring this to our GitHub discussions area and because of that GitHub will send you a notification saying this issue is closed, but don't fret... It's because of the transfer.

[2021-02-12 02:13] #3119 closed

[2021-02-12 09:30] soroshsabz opened #3121 "Could not load file or assembly System.Private.Uri.resources"
ITNOA

### What You Are Seeing?

My problem is when I want to build my project I receive below error

[code]
### What is Expected?
I hope to cake does not throw error.

### What version of Cake are you using?
Tool 'cake.tool' (version '1.0.0') was restored

### Are you running on a 32 or 64 bit system?
64 bit

### What environment are you running on?  Windows? Linux? Mac?
Linux

### Are you runnin

[2021-02-12 12:16] Marusyk commented on #3092
I will try to prepare a PR for this. Please assign it to me

[2021-02-12 15:39] soroshsabz opened #3123 "NUnit3Runner does not work with dot net core 2.1"
ITNOA

### What You Are Seeing?

When I was use `NUnit3(testProject.DllFilePath, settings)` with dot net core 2.1 project I got many exception.

### What is Expected?

NUnit3 work properly with any type of NUnit test project

### What version of Cake are you using?
1.0.0

### Are you running on a 32 or 64 bit system?
64 bit system

### What environment are you running on?  Windows? Linux? Mac?
Win

[2021-02-12 15:48] hlovdal opened #3124 "EscapedBranchName is not supported by GitVersion.CommandLine"
### What You Are Seeing?

Upstream GitVersion has a [`EscapedBranchName` variable](https://gitversion.net/api/GitVersion.OutputVariables/VersionVariables/B3AFABF7) which is not available though the cake tool ([example output](https://gitversion.readthedocs.io/en/latest/input/docs/more-info/variables/)).

### What is Expected?

[code]

should not fail.

### What version of Cake are you using?

Cake

[2021-02-12 15:51] devlead commented on #3123
For .NET Core / .NET 5 projects I would recommend using the .NET CLI Test command using the [DotNetCoreTest](https://cakebuild.net/api/Cake.Common.Tools.DotNetCore/DotNetCoreAliases/8191BBC4) alias.

[2021-02-12 15:53] soroshsabz commented on #3123
My project is dot net core 2.1

[2021-02-12 15:58] devlead commented on #3123
The [.NET Core / 5 SDK](https://dotnet.microsoft.com/download/dotnet-core) exists for

- [.NET 5.0](https://dotnet.microsoft.com/download/dotnet/5.0)
- [.NET Core 3.1](https://dotnet.microsoft.com/download/dotnet-core/3.1)
- [.NET Core 2.1](https://dotnet.microsoft.com/download/dotnet-core/2.1)

You can install SDKs side by side, and they're often installed by the Visual Studio installer, so you'v

[2021-02-12 15:59] soroshsabz commented on #3123
@devlead I found if I use below command

				var settings = new VSTestSettings
				{
					HandleExitCode = _ => true,
				};

				VSTest(testProject.DllFilePath, settings)

our test is running, but I have one problem with this, that I cannot specify results path like NUnit3Settings, Did you have any idea to resolve my problem?

[2021-02-12 16:02] soroshsabz commented on #3123
@devlead I cannot use `DotNetCoreTest` because my project dependencies does not work with `dotnet tool` so I have to use alternative way. like VSTest or NUnit3 or any other things that you can say.

thanks for response

[2021-02-12 16:06] devlead commented on #3123
The [VSTest](https://cakebuild.net/api/Cake.Common.Tools.VSTest/VSTestAliases/4F9F8277) alias [VSTestSettings](https://cakebuild.net/api/Cake.Common.Tools.VSTest/VSTestSettings/) has a [Logger](https://cakebuild.net/api/Cake.Common.Tools.VSTest/VSTestSettings/2BC6D4A3) property.

You could set it to something like `Logger = "trx;LogFileName=VsTestResults.xml"`

[2021-02-12 16:22] soroshsabz commented on #3123
@devlead Thanks a lot for response, but your solution does not specify result directory

as you can see https://docs.microsoft.com/en-us/visualstudio/test/vstest-console-options?view=vs-2019

/ResultsDirectory:[path] | Test results directory will be created in specified path if not exists.Example: /ResultsDirectory:<pathToResultsDirectory>
-- | --

Is there anyway to set ResultDirectory?

[2021-02-12 16:25] devlead opened #3125 "ReportGenerator missing report types"
https://github.com/cake-build/cake/blob/ec61403f1c4ab9594c38f1c71662a9cc17432f79/src/Cake.Common/Tools/ReportGenerator/ReportGeneratorReportType.cs#L10

Supported with 4.8.5

- Badges
- Clover
- Cobertura
- CsvSummary
- Html
- HtmlChart
- HtmlInline
- HtmlInline_AzurePipelines
- HtmlInline_AzurePipelines_Dark
- HtmlSummary, JsonSummary
- Latex, LatexSummary
- lcov
- MHtml
- PngChart
- SonarQube
-

[2021-02-12 16:26] augustoproiete commented on #3121
Hi @soroshsabz just a heads-up that I'm transferring this to our GitHub discussions area and because of that GitHub will send you a notification saying this issue is closed, but don't fret... It's because of the transfer.

[2021-02-12 16:26] #3121 closed

[2021-02-12 16:30] soroshsabz commented on #3123
@devlead I use ArgumentCustomization for resolve my problem, But I think this issue is not close, because NUnit3 has Bug for working with dot net core 2.1

thanks a lot for helping me

[2021-02-12 17:16] soroshsabz commented on #3123
@devlead HandleExitCode does not work for VSTest, What did i do can?

[2021-02-12 17:45] soroshsabz opened #3127 "Add ResultsDirectory to VSTestSettings"
ITNOA

I think its sound good to add ResultsDirectory to VSTestSettings.

[2021-02-12 17:48] soroshsabz commented on #3123
Link to #3127

[2021-02-12 18:43] augustoproiete commented on #3123
@soroshsabz Could you provide a reproducible example (Visual Studio project + build.cake file) that causes this error?

I am not able to repro the error you mention when setting `HandleExitCode = _ => true`

[code]

[code]

[code]

[2021-02-12 18:46] soroshsabz commented on #3123
@augustoproiete As update my comment, I found my problem, and HandleExitCode is correct

[2021-02-12 19:03] augustoproiete commented on #3123
@soroshsabz No worries. Moving this one to the GitHub Discussions area then.

[2021-02-12 19:03] #3123 closed

[2021-02-13 05:50] augustoproiete opened #3133 "Add IncludeNativeLibrariesForSelfExtract and IncludeAllContentForSelfExtract to DotNetCorePublishSettings"
`dotnet publish` in .NET 5 introduces two new settings: `IncludeNativeLibrariesForSelfExtract` and `IncludeAllContentForSelfExtract` which are not yet exposed in `DotNetCorePublishSettings` as of Cake v1.0.0.

### Docs

Source: https://docs.microsoft.com/en-us/dotnet/core/deploying/single-file#other-considerations

### Workaround

As with every tool setting in Cake, `ArgumentCustomization` is your

[2021-02-13 08:10] pascalberger opened #3135 "Provide aliases for Spectre.Console features"
[Spectre.Console](https://spectresystems.github.io/spectre.console) comes with a bunch of useful features, like Figlet, for which we should provide aliases for better discoverability and convinience.

[2021-02-13 08:11] pascalberger commented on #3020
The second part of this issue has not been implemented yet:

I created https://github.com/cake-build/cake/issues/3135 as follow up issue

[2021-02-13 10:51] #3133 closed

[2021-02-13 13:39] #2932 closed

[2021-02-13 14:04] #2941 closed

[2021-02-13 15:10] #2955 closed

[2021-02-13 15:30] augustoproiete opened #3138 "Add support for opting out of ANSI coloring via command-line switch & cake.config"
In #2975 we introduced a way to opt-out of ANSI coloring by setting an environment variable ([`NO_COLOR`](https://no-color.org)).

This issue is about introducing two more alternative ways to opt-out of ANSI coloring:

1. Via a new command-line switch e.g. `--no-color` and/or `--settings_color=never`

2. Via a configuration setting in cake.config

---

For the configuration options, I suggest addi

[2021-02-13 15:33] augustoproiete commented on #2975
The scope of this issue was reduced to the `NO_COLOR` env. variable which was implemented via #2998 and will be released with Cake v1.1.0.

The second part (command-line switch & config optipn) is being tracked via #3138 for a future release

[2021-02-13 15:33] #2975 closed

[2021-02-13 15:45] #2966 closed

[2021-02-13 16:45] augustoproiete commented on #3098
Closing as duplicate of #2872

[2021-02-13 16:45] #3098 closed

[2021-02-13 17:01] #3081 closed

[2021-02-13 17:30] #2983 closed

[2021-02-13 18:00] #2852 closed

[2021-02-13 18:10] augustoproiete opened #3140 "dotnet cake --tree requires manual bootstrapping of modules"
`dotnet cake --tree` on Cake v1.0.0 doesn't work if the build script rely on modules that introduce new installers

### What You Are Seeing?

![image](https://user-images.githubusercontent.com/177608/107857493-fc7e6b00-6e04-11eb-8737-8d3d7aeab68a.png)

### What is Expected?

![image](https://user-images.githubusercontent.com/177608/107857498-0a33f080-6e05-11eb-9166-c4bee3657a14.png)

### What vers

[2021-02-13 18:13] BlythMeister opened #3141 "Add ability to pull any TeamCity build parameters"
A lot of TeamCity build parameters are stored in files.
There is an environment variable which points to configuration (and also file pointers within the files to other files!)

The key parameter I would like to access is the build branch.

But it would be nice to have access to any parameter by the parameter key.

[2021-02-13 18:15] augustoproiete commented on #3141
@BlythMeister Perhaps we can repurpose this one instead? https://github.com/cake-build/cake/issues/2967

I suggested parsing TeamCity's `.properties` file, and your PR is parsing the `.xml` instead which is fine.

[2021-02-13 18:16] BlythMeister commented on #3141
:facepalm: yep...that's exactly what I have done....

[2021-02-13 18:17] #3141 closed

[2021-02-13 18:23] augustoproiete commented on #2967
Instead of parsing the `.properties` file, we'll parse the `.properties.xml` file instead implemented by @BlythMeister in #3113

[2021-02-14 07:21] soroshsabz commented on #3127
@devlead I create PR for this

[2021-02-15 09:49] nmbro opened #3143 "ParseSolution throws IndexOutOfRangeException on empty lines"
### What You Are Seeing?
`ParseSolution(ICakeContext context, FilePath solutionPath)` doesn't handle empty lines in the solution file correctly.

### What is Expected?
It's expected for it to just ignore the empty lines.

### What version of Cake are you using?
1.0.0

### Are you running on a 32 or 64 bit system?
64 bit, shouldn't matter

### What environment are you running on?  Windows? Linux? M

[2021-02-15 10:42] BlythMeister opened #3144 "TeamCity pull request info requires "GIT_BRANCH" environment variable"
### What You Are Seeing?

In order to use the TeamCityPullRequestInfo you need to create a property in your TeamCity instance for "GIT_BRANCH" which pulls the %vcsroot.branch% value.

### What is Expected?

You shouldn't need to create any properties and Cake should use the inbuild TeamCity properties exposed through #3113

[2021-02-15 12:56] BlythMeister opened #3146 "Global Lifetime Does Not Execute Task Lifetime"
### What You Are Seeing?

Global Lifetime invocation does not trigger Task Lifetime

Net result, when setting progress blocks for TeamCity in Task Lifetimes (setup and teardown) these do not appear in TeamCity log for global setup/teardown

I have attempted to put the TeamCity block logging into my setup/teardown but the header does not get put into that block.

As an asside (pure observation) the

[2021-02-15 15:35] gep13 commented on #3143
@nmbro i am curious.... Does this happen with the same method in Cake.Incubator?

It has been a long term goal to bring the methods from Cake.Incubator into Cake properly.

[2021-02-15 15:48] nmbro commented on #3143
I can give it a shot

[2021-02-15 20:38] matt40k opened #3148 "IsRunningOnAzurePipelines doesn't work for Ubuntu"
### What You Are Seeing?

IsRunningOnAzurePipelines returns false

### What is Expected?

IsRunningOnAzurePipelines returns true

### What version of Cake are you using?

### Are you running on a 32 or 64 bit system?

### What environment are you running on?  Windows? Linux? Mac?

Linux

### Are you running on a CI Server?  If so, which one?

Azure Pipelines

### How Did You Get This To Happen? (S

[2021-02-15 20:48] augustoproiete commented on #3148
@matt40k This is by design. `IsRunningOnAzurePipelines` returns true only when running on the cloud. There's a separate property `IsRunningOnAzurePipelinesHosted` to detect if you're running on a hosted agent.

Docs:
https://cakebuild.net/api/Cake.Common.Build.AzurePipelines/IAzurePipelinesProvider/#Properties

[2021-02-15 20:49] pascalberger commented on #3148
What was the name of the agent running the build?

The check tests for existence of `TF_BUILD` env variable and name doesn't start with either `Hosted` or `Azure Pipelines`

[2021-02-15 21:20] matt40k commented on #3148
@augustoproiete This isn't hosted, its just the cloud using the ubuntu-latest image - https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml

@pascalberger  Just using the marketplace Cake - https://cakebuild.net/docs/integrations/build-systems/azure-pipelines/azure-devops-build-task-extension - reports:

`=================================================

[2021-02-15 21:29] augustoproiete commented on #3148
@matt40k You tricked me with "Ubuntu hosted" in the title :smile:

Can you inspect the environment variables to see what is there? We're particularly interested in the `TF_BUILD` variable.

build.cake

[code]

[2021-02-15 21:37] pascalberger commented on #3148
@matt40k My question was not about the task used but what was the name of the agent which run the job:

![image](https://user-images.githubusercontent.com/2190718/107995118-5b4b0c80-6fde-11eb-99f2-b573b3a198f9.png)

[2021-02-15 21:41] pascalberger commented on #3148
If you're running on hosted pool you need to call `IsRunningOnAzurePipelinesHosted` not `IsRunningOnAzurePipelinesHosted`.

`IsRunningOnAzurePipelines` is defined as:

[code]

`IsRunningOnAzurePipelinesHosted` is defined as:

[code]

[2021-02-15 21:56] matt40k commented on #3148
@augustoproiete
[code]

@pascalberger
[code]

So Cake is picking up the Linux Microsoft hosted pool as self-hosted?

[2021-02-15 22:01] pascalberger commented on #3148
Everything as expected. See https://github.com/cake-build/cake/issues/3148#issuecomment-779460334.

`IsRunningOnAzurePipelines` is true when running on self-hosted agent. `IsRunningOnAzurePipelinesHosted` is true when running on Microsoft hosted agent.

[2021-02-16 03:16] augustoproiete commented on #3146
@BlythMeister I didn't try this in Frosting, but I use Global lifetime & Task lifetime with Cake scripting all the time, and I would expect the behavior in Frosting to be the same as Cake scripting.

What makes you expect that the sequence be the one that you mentioned?

This is not the sequence that I would expect (also not the sequence that is [documented](https://cakebuild.net/docs/writing-buil

[2021-02-16 06:36] BlythMeister commented on #3146
The reason I expected/wanted it is so I can include the logic to write TeamCity service message before and after the logic

Whilst I could put that inside the global lifetime, this meant the default logging at the start is outside the teamcity block.

I have actually now worked around this by not using global lifetime, and just had a task that runs at the start.
I also realised I never needed the

[2021-02-16 06:45] #3148 closed

[2021-02-16 09:10] soroshsabz commented on #3127
@augustoproiete I created PR #3128 for this issue, and I think it is ready for review. :)

[2021-02-16 10:53] gep13 commented on #3146
@BlythMeister just to check... have you seen the Cake.BuildSystems.Module?

[2021-02-16 10:59] BlythMeister commented on #3146
@gep13 OH WOW!!!
No i hadn't see it!
Going to close this, as the only reason i'm doing what i am doing is because of TeamCity :p
Just need to work out how to add modules!

[2021-02-16 10:59] #3146 closed

[2021-02-16 11:33] gep13 commented on #3146
@BlythMeister I have been reliably informed that you should be able to reference the Cake.BuildSystems.Module package as a normal package reference, and from there, you should be able to do:

[code]

when setting up the services for your Frosting project.

[2021-02-16 12:02] BlythMeister commented on #3146
That's what I gathered.
Many thanks!

[2021-02-16 14:44] BlythMeister opened #3151 "Add support for Engine event hooks after execution as well as before"
Currently the CakeEngine will fire events before running:

* Setup
* TaskSetup
* TaskTeardown
* Teardown

Add support for event hooks after each of these methods have fired.

This is to allow Modules (such as Cake.BuildSystems.Module) to provide a custom engine which performs an action after the method has fired as well as before.

[2021-02-16 15:32] augustoproiete commented on #2033
Closing this as resolved in the v0.30.0 milestone as part of the v0.30.0 release.

[2021-02-16 15:32] #2033 closed

[2021-02-16 16:19] #3127 closed

[2021-02-16 16:52] maulwuff opened #3153 "cake 1.0.0 with GitVersion fails on Linux and or Windows"
### What You Are Seeing?

With `#tool nuget:?package=GitVersion.Tool&version=5.6.6`  in my build.cake I get this output:

This fails on Linux and Windows with the same message.

With  `#tool nuget:?package=GitVersion.CommandLine&version=5.6.6`  I get this output:

It works on Windows, but fails on Linux:

### What is Expected?
GitVersion works with one of the GitVersion Tools

### What version of

[2021-02-16 17:11] devlead commented on #3153
GitVersion tool is a .NET tool so needs to be installed through the .NET CLI, fortunately there's a Cake module called  `Cake.DotNetTool.Module` that takes care of that for you, example usage:

[code]

[2021-02-16 17:14] augustoproiete commented on #3153
(Moving to GitHub Discussions Q&A)

[2021-02-17 00:50] augustoproiete commented on #1610
@tom-dudley It's been a while, but following up on this one. It's possible there was a bug either with the `GlobberFixture` or the actual globbing at the time you tested.

I tried reproducing it with the current codebase as of `develop` and it works as expected. Below is your code adjusted to work with the latest version of code, and both Windows and UnixLike tests pass.

![image](https://user-ima

[2021-02-17 00:50] #1610 closed

[2021-02-17 01:02] augustoproiete commented on #1285
Repro:

- `build.cake`

[code]

[2021-02-17 01:36] augustoproiete commented on #1257
Marking this as resolved in milestone/release v0.30.0

[code]

![image](https://user-images.githubusercontent.com/177608/108143758-b3e1de80-709e-11eb-9e83-2d4e4c746624.png)

---

Behavior remains the same with Cake v1.0.0

![image](https://user-images.githubusercontent.com/177608/108143868-e4c21380-709e-11eb-84e9-140690634e6b.png)

[2021-02-17 01:36] #1257 closed

[2021-02-17 01:43] augustoproiete commented on #1265
Related Cake addins that try to help in this area:

- [Cake.ArgumentHelpers](https://github.com/cake-contrib/Cake.ArgumentHelpers)
- [Cake.Args](https://github.com/augustoproiete/Cake.Args)

[2021-02-17 03:18] #3143 closed

[2021-02-17 04:18] #2967 closed

[2021-02-17 09:29] pascalberger opened #3158 "Add Cake.FileHelpers to Cake.Common"
The [Cake.FileHelpers](https://cakebuild.net/extensions/cake-filehelpers/) addin is the most downloaded community addin and it doesn't have any dependencies. We should think about integrating it with the other file aliases in  Cake.Common.

[2021-02-17 17:36] LukasBil commented on #3138
Hi @augustoproiete, I would like to take this one on me.

[2021-02-17 17:47] augustoproiete commented on #3138
Hey @LukasBil this one turned out to be more complex than I thought it would be because the `cake.config` file is read at a later stage, after the Console has already been created, and the decision to support color (or not) has already been made by then.

I started working on this on [GH-2975: Add Settings_Color configuration option #2999](https://github.com/cake-build/cake/pull/2999) and I'm curr

[2021-02-17 19:12] LukasBil commented on #3138
Thanks @augustoproiete. As I'm still quite new on the codebase, I'll pick one of existing g-f-i's.

[2021-02-17 21:23] augustoproiete commented on #2711
(Moving to GitHub Discussions Q&A)

[2021-02-17 21:23] #2711 closed

[2021-02-17 21:32] augustoproiete commented on #2613
(Moving to GitHub Discussions/Ideas)

[2021-02-17 21:32] #2613 closed

[2021-02-17 21:33] augustoproiete commented on #2642
(Moving to GitHub Discussions/Q&A)

[2021-02-17 21:33] #2642 closed

[2021-02-17 21:36] augustoproiete commented on #2636
(Moving to GitHub Discussions/Q&A)

[2021-02-17 21:36] #2636 closed

[2021-02-17 21:59] augustoproiete commented on #1417
Closing as resolved in milestone/release v0.30.0

[code]

---

[code]

[2021-02-17 21:59] #1417 closed

[2021-02-17 22:00] augustoproiete commented on #1795
(Moving to GitHub Discussions / Q&A)

[2021-02-17 22:00] #1795 closed

[2021-02-17 22:02] augustoproiete commented on #2704
(Moving to GitHub Discussions / Q&A)

[2021-02-17 22:02] #2704 closed

[2021-02-17 22:13] augustoproiete commented on #1633
@jrob, this has been fixed with PR https://github.com/cake-build/cake/pull/3094 and will be released with Cake v1.1.0

@mcraiha The current color palette of Cake doesn't work well with light backgrounds. We have an issue open to [support custom ConsolePalette/ANSI colors](https://github.com/cake-build/cake/issues/2976) which eventually would provide an alternative for the issue you pointed out.

A

[2021-02-17 22:13] #1633 closed

[2021-02-18 01:55] augustoproiete commented on #2751
(Moving to GitHub Discussions / Q&A)

[2021-02-18 01:55] #2751 closed

[2021-02-19 00:05] augustoproiete commented on #2331
This might be a candidate for the [Cake.ArgumentBinder](https://github.com/cake-contrib/Cake.ArgumentBinder) addin which already has some of the features suggested, like having descriptions for arguments and displaying them.

/cc @xforever1313

[2021-02-19 00:29] augustoproiete commented on #2180
(Moving to GitHub Discussions)

[2021-02-19 00:29] #2180 closed

[2021-02-19 02:31] cstanleyhns opened #3173 "Azure Dev Ops - Error: Unknown command 'Publish'"
### What You Are Seeing?
We have a number of .Net based projects that use a Cake build in AZure Dev Ops pipelines. The process is failing during the project build phase with the following error:

[code]
**Azure Pipelines YML:**
[code]

Full logs here:
Log: [cake log.zip](https://github.com/cake-build/cake/files/6007229/cake.log.zip)
Copy of YML file: [azure-pipelines.zip](https://github.com/cake-b

[2021-02-19 02:36] augustoproiete commented on #3173
(moving to GitHub Discussions / Q&A)

[2021-02-19 02:36] #3173 closed

[2021-02-19 05:04] augustoproiete commented on #2071
(Moving to GitHub Discussions)

[2021-02-19 05:04] #2071 closed

[2021-02-19 05:06] augustoproiete commented on #1497
Marking this as resolved on milestone/release v0.30.0

[2021-02-19 05:06] #1497 closed

[2021-02-19 05:16] augustoproiete commented on #1254
(Moving to GitHub Discussions)

[2021-02-19 05:16] #1254 closed

[2021-02-19 05:33] augustoproiete commented on #1515
(Moving to GitHub discussions)

[2021-02-19 05:33] #1515 closed

[2021-02-19 20:14] xforever1313 commented on #2331
Cake.ArgumentBinder does do some of these things, such as including the argument help text in the description of targets.

However, it doesn't do everything that is wanted in this issue.   ```cake --showdescription``` does dump all of the descriptions for all targets, so it can be a little difficult to read if you want the arguments of only one target.  I don't think there's a way to get a descrip

[2021-02-20 21:00] augustoproiete opened #3178 "Implement package signature verification in Cake"

[2021-02-21 16:27] devlead opened #3180 "Update .NET SDKs to latest patched"
- SDK 5.0.103
- SDK 3.1.406
- SDK 2.1.813

[2021-02-21 16:44] #3125 closed

[2021-02-21 16:46] devlead opened #3182 "Update build addins and modules to versions targeting Cake 1.0"
- Cake.DotNetTool.Module - 0.4.0 ➡️ ~~1.0.0~~ 1.0.1
- Cake.Coveralls - 0.10.2 ➡️ 1.0.0
- Cake.Twitter - 0.10.1➡️ 1.0.0
- Cake.Gitter - 0.11.1➡️~~1.0.0~~ 1.0.1

[code]

[2021-02-21 17:18] #3180 closed

[2021-02-22 18:06] musictopia2 opened #3184 "Cake does not work with github"
I created the most simple .net project.  The build processes works perfectly when using visual studio code and using the terminal to type in the command dotnet cake.  However, when running on github, does not work at all.
My repository is here
https://github.com/musictopia2/Solution1

You can see if you go to build actions, you can see that even though I have all the code necessary, it still will

[2021-02-22 18:13] augustoproiete commented on #3184
(moving to GitHub discussions Q&A)

[2021-02-22 18:14] #3184 closed

[2021-02-23 15:42] HStewartGitHome opened #3186 "CAKE 1.0.0 and VSIX project"
CAKE 1.0.0
Windows 10 64bit
Just Local currently

I notice Cake and wanted to try it on a visual studio extension project because it was so simple to use. I got some error so I thought maybe it was something specific to my own project and created a new project from Visual Studio and still got the errors when using using Cake. Note this that it built successfully within Visual Studio.

Just create

[2021-02-23 17:24] augustoproiete commented on #3186
(moving to GitHub discussions / Q & A)

[2021-02-23 17:24] #3186 closed

[2021-02-23 21:20] #3182 closed

[2021-02-23 21:23] devlead opened #3188 "Update Cake.NuGet dependencies to latest stable"
- NuGet.Frameworks 5.8.0 ➡️ 5.8.1
- NuGet.Versioning  5.8.0 ➡️ 5.8.1
- NuGet.Protocol  5.8.0 ➡️ 5.8.1
- NuGet.Packaging  5.8.0 ➡️ 5.8.1
- NuGet.Resolver  5.8.0 ➡️ 5.8.1
- NuGet.Common  5.8.0 ➡️ 5.8.1
- Microsoft.NETCore.Platforms 5.0.0 ➡️ 5.01

[2021-02-23 21:48] olsh opened #3190 "Working directory is not respected in BuildContext constructor"
### What You Are Seeing?
When I'm passing `-w C:\` to the cake Frosting project, the working directory in the BuildContext constructor is not respected. But it's respected in tasks.

### What is Expected?
The same behavior of context in both tasks and context constructor.

### What version of Cake are you using?
Cake.Frosting 1.0.0

### Are you running on a 32 or 64 bit system?
64

### What enviro

[2021-02-23 21:50] #3188 closed

[2021-02-23 21:51] devlead opened #3191 "Update Roslyn (Microsoft.CodeAnalysis.CSharp.Scripting) to 3.9.0-4.final"

[2021-02-23 22:19] #3191 closed

[2021-02-23 22:20] devlead opened #3193 "Update Cake unit MS Test SDK dependencies to 16.9.1"
Microsoft.NET.Test.Sdk from 16.8.3 ➡️  16.9.1
Microsoft.TestPlatform.ObjectModel 16.8.3 ➡️  16.9.1

[2021-02-23 22:46] #3193 closed

[2021-02-24 21:35] mattleibow opened #3197 "I can no longer pass empty string as argument values"
### What You Are Seeing?

I can no longer run cake like this with an empty string:

[code]

### What is Expected?

The argument in the cake string returns either null or an empty string:

[code]

### What version of Cake are you using?

1.0.0

### Are you running on a 32 or 64 bit system?

64

### What environment are you running on?  Windows? Linux? Mac?

Windows and macOS

### Are you running on

[2021-02-24 21:46] #3197 closed

[2021-02-26 00:46] augustoproiete opened #3203 "Add ability to redirect console output when executing aliases for tools..."
... such as DotNetCore aliases, MSBuild aliases, etc. basically any alias that has support for settings that directly or indirectly inherits from [`ToolSettings`](https://cakebuild.net/api/Cake.Core.Tooling/ToolSettings/) could expose the ability to configure settings to the `Process` that will be executed - or at least offer the ability to capture the output.

At the moment, the workaround is to

[2021-02-26 01:25] gitfool commented on #3203
Related to #2460.

[2021-02-26 01:33] augustoproiete commented on #3203
Thank you @gitfool ! Your comment led me to another linked issue https://github.com/cake-build/cake/issues/2461 which proposes an implementation for what I described above, so I'm closing this as duplicate of #2461 and added both #2460 and #2461 to the same milestone and with the labels/tags.

[2021-02-26 01:33] #3203 closed

[2021-02-26 01:33] augustoproiete commented on #2461
Related discussion: https://github.com/cake-build/cake/discussions/3202

[2021-02-26 06:23] pascalberger commented on #2461
This came up a few time lately. Also related discussion: https://github.com/cake-build/cake/discussions/3130

[2021-02-27 18:49] #2904 closed

[2021-02-27 21:58] #2685 closed

[2021-02-27 22:10] devlead commented on #2903
Fixed by #3207

[2021-02-27 22:26] augustoproiete opened #3208 "DotNetTool Module: Add Unit Tests for parameters which can be passed to preprocessor directive"

[2021-02-27 22:30] augustoproiete opened #3209 "DotNetTool Module: Add support for dotnet local tools"
---

@gitfool wrote:

Note: I'm not sure this is a good idea and I'm currently stuck determining what the implementation looks like given local tools seem to be managed by the dotnet CLI.

I'll create a work-in-progress PR with how far I've got, including fixes for some minor bugs I found.

[2021-02-27 22:35] augustoproiete opened #3210 "DotNetTool Module: Not using the same version of dotnet as Cake DotNetCoreTool"
---

@brianfeucht wrote:

I'm running into an issue where the Cake `DotNetCoreTool` is not able to find the tool installed with this module.  It looks like the underlying issue is due to Cake and this module using different versions of the dotnet cli tool.

## Expected Behavior
The module and Cake use same dotnet cli version so I'm able to use the tool installed with this module.

## Current Behav

[2021-02-27 23:11] augustoproiete opened #3211 "DotNetTool Module: Cake.DotNetTool.Module signing owner to dotnetfoundation"
I've sent an invite to the `dotnetfoundation` user to be an owner of the `Cake.DotNetTool.Module` package, so that we can set it as the signing owner.

![image](https://user-images.githubusercontent.com/177608/109402841-7e0ae880-792f-11eb-978b-3da92c03526c.png)

[2021-02-28 00:25] #3066 closed

[2021-02-28 00:42] gitfool commented on #3209
This is a followup to the second part of https://github.com/cake-build/cake/issues/2685#issuecomment-702973435:

[2021-02-28 01:23] augustoproiete opened #3213 "Add iconUrl fallback to Cake and Cake.CoreCLR packages"
The Cake and Cake.CoreCLR packages have an embedded icon, but don't have the `iconUrl` set, which means that clients that don't support the embedded icon don't have an icon to fallback to, and display the default NuGet icon.

[2021-02-28 01:57] augustoproiete opened #3215 "Add RunCommand with postAction parameter to DotNetCoreTool"
---

@jenscski wrote:

DotNetCoreTool is missing a RunCommand with a paramter to take the postAction the underlying Run supports.

I'm developing an addin to cake, and I woule like to use DotNetCoreTool as base for my tool, but I'm missing the RunCommand with postAction, I can of course add this to my code directly, but if it could be of use in cake itself (perhaps for other addins), then please i

[2021-02-28 06:29] devlead commented on #3211
Are they really signing owner on the other packages, thought we signed and pushed using cake-build org. Think that's where i added the thumbprint at least.

[2021-02-28 06:41] augustoproiete commented on #3211
That's what NuGet shows for me :man_shrugging:

https://www.nuget.org/account/Packages

![image](https://user-images.githubusercontent.com/177608/109410118-656df300-796e-11eb-835a-55e42e9f827a.png)

[2021-02-28 07:52] devlead commented on #3211
Ok great, then probably all in order, next release will be signed as part of released with Cake.

[2021-03-01 01:44] gitfool opened #3216 "Remap NuGetLogger Verbose/Verbose to ICakeLog Debug/Diagnostic"
The [NuGetLogger](https://github.com/cake-build/cake/blob/b40794faaa7e2ce20248cf83906ff6a60f7391f0/src/Cake.NuGet/Client/NuGetLogger.cs#L13) remapping is inconsistent and too noisy. It's inconsistent because Information/Normal (LogLevel/Verbosity) remaps to Debug/Normal, but Verbose/Verbose still maps to Verbose/Verbose, so it leaks through _before_ Information/Normal logging, as shown in [Cake.Du

[2021-03-01 01:59] gitfool commented on #3216
Verbose log output after change:
[code]
Diagnostic log output after change:
[code]

[2021-03-01 07:44] #3213 closed

[2021-03-01 14:24] Jericho commented on #3213
I see the PR has already been merged so I may be too late but the recommendation for icon url is `https://cdn.jsdelivr.net/gh/cake-contrib/graphics/png/cake-contrib-medium.png` rather than the `raw.githubusercontent.com`.

[2021-03-01 14:27] augustoproiete commented on #3213
I copied from [Cake.Portable](https://github.com/cake-build/cake/blame/develop/nuspec/Cake.Portable.nuspec#L20), so I'll I blame @gep13 :eyes: :stuck_out_tongue_winking_eye:

[2021-03-01 14:28] augustoproiete commented on #3213
@Jericho `https://cdn.jsdelivr.net/gh/cake-contrib/graphics/png/cake-contrib-medium.png` is for Cake-Contrib logo though. Is there an equivalent for the Cake logo?

[2021-03-01 14:31] Jericho commented on #3213
Yes there is: `https://cdn.jsdelivr.net/gh/cake-build/graphics/png/cake-medium.png`

[2021-03-02 05:06] augustoproiete opened #3219 "Update nuspec iconUrl in packages to use CDN URL"
Re: https://github.com/cake-build/cake/issues/3213#issuecomment-787987894

[2021-03-02 06:02] augustoproiete opened #3222 "Add Xamarin.iOS platform targets to MSBuildSettings PlatformTarget enumeration"
Add Xamarin.iOS platform targets to MSBuildSettings [PlatformTarget](https://cakebuild.net/api/Cake.Common.Tools.MSBuild/PlatformTarget/) enumeration:

- `ARMv6`
- `ARMv7`
- `ARMv7s`

Docs: [Compiling for different devices in Xamarin.iOS](https://docs.microsoft.com/en-us/xamarin/ios/deploy-test/compiling-for-different-devices?tabs=windows#architecture-support)

[2021-03-02 08:14] #3219 closed

[2021-03-02 09:35] epaulsen opened #3223 "Feature request: Environment variable substitution in cake.config"
Given that [nuget.config supports environment variable substitution ](https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior#environment-variables-in-configuration), adding the same to cake.config would help out in scenarios where you have more than one package repository(we have a separate package repository for an off-shore contractor).

We would like to control which

[2021-03-02 09:46] gep13 commented on #3223
@epaulsen can you elaborate on exactly what you are trying to achieve here?

What options are you attempting to control within the cake.config file?  Cake already supports providing parameters via command line argument, cake.config and also environment variables.

[2021-03-02 10:00] epaulsen commented on #3223
Here's what we are trying to do:
[code]
`https://%PACKAGE_HOME%/api/nuget/InternalNugetTools` point to one of two internal internal artifact repositories, we would like to control which via environment variable.

But if there is another and perhaps better way of doing this please let me know.

[2021-03-02 10:03] gep13 commented on #3223
The NuGet Source parameter can be controlled, in it's entirity, through a single environment variable called `CAKE_NUGET_SOURCE`.

https://cakebuild.net/docs/running-builds/configuration/default-configuration-values#nuget-download-url

But you can set it to whatever you want.  You can read more about this here:

https://cakebuild.net/docs/running-builds/configuration/set-configuration-values

[2021-03-02 13:48] epaulsen commented on #3223
Thanks for the links, I must have missed that in the docs.
I've resolved our problem by adding two environment variables, `CAKE_NUGET_SOURCE` and another one with just the hostname (`PACKAGE_HOME` in my example above).
We needed both because the format in nuget.config is different from cake.config.

Not as elegant as it would have been if cake.config supported environment variable substitution(lik

[2021-03-03 02:15] augustoproiete commented on #3223
Thanks @epaulsen we're considering adding environment variable expansion to `cake.config` values in a future release. Would you be interested in sending a PR?

[2021-03-03 06:12] mmarinchenko opened #3226 "Still can't resolve resource assemblies after GH2734"
This issue is continuation of [GH2734](https://github.com/cake-build/cake/issues/2734).

It's like making 5 mistakes in a 3-letter catch... Seems no one actually tested or reviewed this properly.

1. There is some mess between using full and short assembly name in `ScriptAssemblyResolver`. For example `Assembly.Load()` method expects full name not a short one. Also see point 4 below.
2. Assembly v

[2021-03-03 07:59] epaulsen commented on #3223
@augustoproiete Yes absolutely!  We're using cake extensively, and I'd be happy contribute 😄
I'll give it a go, pullrequest coming hopefully by end of week.

[2021-03-03 13:55] augustoproiete commented on #3223
@epaulsen Awesome! Assigned to you then! :+1:

[2021-03-03 14:22] augustoproiete opened #3228 "Pin Ubuntu builds to ubuntu-18.04 (from ubuntu-latest)"
Ubuntu builds started failing yesterday with what it seemed to be a GitVersion-related error:

[code]

![image](https://user-images.githubusercontent.com/177608/109818567-7f773200-7c09-11eb-9312-60984e26db38.png)

e.g. https://github.com/cake-build/cake/pull/3221/checks?check_run_id=2017169240

---

Troubleshooting by @gitfool:

[2021-03-03 14:58] #3228 closed

[2021-03-03 15:45] #3216 closed

[2021-03-04 03:08] #3144 closed

[2021-03-04 14:27] augustoproiete commented on #2668
Warnings are still present in Cake v1.0:

[code]

These warnings appear on a normal Cake run with default verbosity.

I suggest these warnings to be changed to `Diagnostic`,  which would still be helpful to troubleshoot when something goes wrong because an addin is not using the assembly that it expects, and at the same time removing the noise normal runs with default verbosity.

[2021-03-04 17:36] augustoproiete commented on #2547
Hey @SamLOving, it's been a long time. Did you ever get to the bottom of this?

I'm moving to our GitHub Discussions area, so it can still be found via search.

[2021-03-04 17:36] #2547 closed

[2021-03-04 21:13] #3190 closed

[2021-03-04 21:14] augustoproiete commented on #3058
Fixed by #3230

[2021-03-04 21:14] #3058 closed

[2021-03-04 21:35] augustoproiete commented on #2614
(Moving to GitHub Discussions Q&A)

[2021-03-04 21:36] #2614 closed

[2021-03-05 22:40] #2314 closed

[2021-03-06 00:45] augustoproiete opened #3237 "Allow setting MSBuildToolVersion using custom string - Part 1"
The `MSBuildSettings` extension [`UseToolVersion`](https://github.com/cake-build/cake/blob/v1.0.0/src/Cake.Common/Tools/MSBuild/MSBuildSettingsExtensions.cs#L33-L47) expects a valid value from the [MSBuildToolVersion](https://cakebuild.net/api/Cake.Common.Tools.MSBuild/MSBuildToolVersion/) enumeration.

[code]

Add an overload which accepts a custom string, to make it easier for using newer versio

[2021-03-06 07:05] augustoproiete commented on #3211
Package `Cake.DotNetTool.Module` was signed as part of the build, which is the most important part.

![image](https://user-images.githubusercontent.com/177608/110198344-2fc28180-7e28-11eb-99e9-9a1df8a51ec1.png)

---

`dotnetfoundation` is not the signing owner just yet:

![image](https://user-images.githubusercontent.com/177608/110198372-5ed8f300-7e28-11eb-8a84-15a1e1b88490.png)

I suspect it will

[2021-03-06 15:11] augustoproiete opened #3238 "Regression on DotNetTool Module: Targets multiple TFMs causing warnings"
The DotNetTool Module that shipped as part of the Cake release v1.1.0 regressed a [fix that was applied in the old repo](https://github.com/cake-contrib/Cake.DotNetTool.Module/commit/e09ce25e07dcc769a3f7ee921b15c31c69e2da35#diff-f4b071cfdacda83093fb5b7d7fbcac0f9fcf1c56a8e369c635cada2defbd3155L3) to target `netstandard2.0` **only** due to known limitations in how modules are loaded ([docs](https://

[2021-03-06 20:57] augustoproiete commented on #3238
We decided we'll leave it as is and document our general recommendation:

- If you use `Cake.DotNetTool.Module` already on your builds, you should either:

- (1) Upgrade Cake to version 1.1.0, and _remove_ the `Cake.DotNetTool.Module` from your build script (as it's no longer needed)

or

- (2) Pin `Cake.DotNetTool.Module` to a version compatible with the Cake version that you use. `Cake.DotNetToo

[2021-03-06 20:57] #3238 closed

[2021-03-07 20:27] augustoproiete opened #3243 "Error messages logged via Error(...) are displayed in random places in the build log"
### What You Are Seeing?

I'm writing messages to the build log in the following order:

[code]

However, they appear out of order in build logs on at least two CI systems: Azure Pipelines and TeamCity:

#### Azure Pipelines

![image](https://user-images.githubusercontent.com/177608/110253554-5b955280-7f61-11eb-8776-f29650051f91.png)

#### TeamCity

![image](https://user-images.githubusercontent.c

[2021-03-07 21:10] devlead commented on #3243
Error goes to stderr does it come out of order in log if you download it from CI too?

[2021-03-07 21:20] augustoproiete commented on #3243
Yes, it's out-of-order in the log download too. This is the raw log from TeamCity:

[code]

[2021-03-07 21:22] augustoproiete commented on #3243
Raw log from Azure Pipelines:

[code]

[2021-03-07 21:32] devlead commented on #3243
What happens if you add a two second thread sleep between log statements?

[2021-03-07 21:46] augustoproiete commented on #3243
Order is preserved with the 2 seconds sleep:

![image](https://user-images.githubusercontent.com/177608/110256015-f6475e80-7f6c-11eb-894b-bc27a1e6fe18.png)

[code]

[2021-03-07 22:02] devlead commented on #3243
Then I'm inclined to think it's the CI that merges stdout and stderr incorrectly.

[2021-03-07 22:30] augustoproiete commented on #3243
It looks like the problem could be `stdout` buffering as it happens on every CI system I tried (just tried ContinuaCI and got the same results):

![image](https://user-images.githubusercontent.com/177608/110257164-e92d6e00-7f72-11eb-9068-e60cb018cfc4.png)

[code]

[2021-03-08 00:25] gitfool opened #3245 "Debug/Diagnostic color is far too dark"
While investigating issues with https://github.com/cake-build/cake/pull/3240, I temporarily enabled `Debug/Diagnostic` logging for the integration tests, during which the log rendering is far too dark and becomes unreadable in some environments.

GitHub Actions run [2052071902](https://github.com/cake-build/cake/runs/2052071902?check_suite_focus=true#step:8:1383):
![image](https://user-images.gith

[2021-03-08 00:32] augustoproiete commented on #3245
Agreed. I think we need [custom console color palettes](Support custom ConsolePalette/ANSI colors) for different CI systems.

TeamCity has the opposite problem (not dark enough) having a white background, so parts of the log is not easily readable.

![image](https://user-images.githubusercontent.com/177608/110260792-0fa7d500-7f84-11eb-8e96-ac8690d9df2e.png)

(selected text)
![image](https://user-i

[2021-03-08 00:53] gitfool commented on #3245
One more for good measure... reading the log output with [Visual Studio Code](https://github.com/Microsoft/vscode), in dark mode, with the [ANSI Colors](https://github.com/iliazeus/vscode-ansi) extension:

![image](https://user-images.githubusercontent.com/750121/110261448-26e2d300-8015-11eb-8110-e0164ae23818.png)

[2021-03-08 20:47] devlead opened #3246 "Update Spectre.Console to 0.38.0"

[2021-03-08 21:50] devlead opened #3248 "Remove Cake.DotNetTool.Module from build.cake"
No longer needed in 1.1.0

[2021-03-08 22:15] devlead opened #3250 "Update .NET SDK to 5.0.200"

[2021-03-09 00:23] #3223 closed

[2021-03-09 00:57] #3246 closed

[2021-03-09 01:23] #3248 closed

[2021-03-09 02:22] #3250 closed

[2021-03-09 07:15] devlead opened #3253 "Update Microsoft.CodeAnalysis.CSharp.Scripting to 3.9.0 stable"

[2021-03-09 07:21] devlead opened #3255 "Update NuGet client libraries to 5.9.0"

[2021-03-09 08:05] #3243 closed

[2021-03-09 10:17] #2578 closed

[2021-03-09 13:46] #3255 closed

[2021-03-09 13:55] augustoproiete commented on #3255
@devlead your changes have been merged, thanks for your contribution :+1:

[2021-03-09 16:33] NeilMacMullen opened #3259 "TypeLoadException: Missing implementation of RegisterLazy"
### What You Are Seeing?

`CakeHost.Run() throws TypeLoadException "Method 'RegisterLazy' in type 'Cake.Frosting.Internal.TypeRegistrar' from assembly 'Cake.Frosting, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null' does not have an implementation." `

### What is Expected?
No exception

### What version of Cake are you using?
1.1.0

### Are you running on a 32 or 64 bit system?
64 bit

###

[2021-03-09 17:02] #3259 closed

[2021-03-10 03:40] augustoproiete commented on #1901
Closing this as implemented in the v0.25.0 milestone via [262a501](https://github.com/cake-build/cake/commit/262a50118084dbbf27424730b01f5a31f4a15bbb#diff-68e950e3862aae36fb79ded41dc5eddff81fd97854b674b5676a4299a1911af2)

[2021-03-10 03:40] #1901 closed

[2021-03-10 03:48] augustoproiete commented on #2205
@0xF6 The background color has been fixed in Cake v1.1.0 via https://github.com/cake-build/cake/pull/3094

[2021-03-10 03:48] #2205 closed

[2021-03-10 04:48] augustoproiete opened #3263 "Use a `.cake` folder by default instead of a `tools` folder"

[2021-03-10 05:47] augustoproiete commented on #1475
Closing this as fixed in the v0.30.0 milestone:

- `build.cake`

[code]

[code]

Output:
[code]

[2021-03-10 05:47] #1475 closed

[2021-03-10 05:47] augustoproiete commented on #1500
(Moving to GitHub Discussions Q&A)

[2021-03-10 05:47] #1500 closed

[2021-03-10 05:48] augustoproiete commented on #1626
(Moving to GitHub Discussion / Q&A)

[2021-03-10 05:49] #1626 closed

[2021-03-10 05:51] augustoproiete commented on #2315
(Moving to GitHub Discussions / Ideas)

[2021-03-10 05:51] #2315 closed

[2021-03-12 02:39] augustoproiete commented on #2570
Some thoughts about this issue:

- `dotnet watch --version` is its own separate command where the only purpose is to display version information. It doesn't actually start the watcher, so perhaps should be its own alias e.g. `DotNetCoreWatchVersion` or perhaps a different overload of `DotNetCoreWatch` instead of passing in a regular `DotNetCoreWatchSettings`

- `dotnet watch --list` is its own sep

[2021-03-12 09:13] robertmuehsig commented on #2832
I had the exact same problem and updated to the most recent `3.1.407` SDK and the issue seems to be gone.

[2021-03-12 16:37] augustoproiete commented on #2832
@robertmuehsig @Sobieck Would either of you be able to provide a reproducible example of a `build.cake` script that produces the error above?

[2021-03-12 20:48] gitfool commented on #2832
I vaguely remember hitting this a while ago. Update the SDK? See https://github.com/NuGet/Home/issues/7001#issuecomment-640350856 and https://github.com/dotnet/extensions/issues/2750.

[2021-03-14 20:48] creative-cloud commented on #2570
@augustoproiete
- Would it be cleaner if we were to group `list/version` under the same watch alias? Maybe the overload implementation works here. It sounds like an overkill to have a new aliases for each flag, but let me know if you feel like splitting up is the right call.

- Why do want separate settings for each command in watch? My understanding is that settings for aliases are used to specif

[2021-03-14 21:32] augustoproiete commented on #2570
Hey @creative-cloud, thanks for following-up on this.

:thinking: I'm not sure. What would be an example call for each (`list` & `version`)?

[code]

or (is this what you're proposing?)

[code]

I think the first option looks cleaner and less verbose - especially considering that `--version` and `--list` doesn't have any other setting, so `DotNetCoreVersionSettings` and `DotNetCoreListSettings` wo

[2021-03-14 21:32] augustoproiete commented on #2570
Related discussion: [Need help looking into error with -version flag for dotnet watch implementation #3273
](https://github.com/cake-build/cake/discussions/3273)

[2021-03-14 22:18] augustoproiete opened #3277 "Allow empty arguments when using double dashed args"
A pattern that we've seen is to have use environment variables as values for Cake script arguments. e.g.

[code]

If the `%ARG_NAME_VALUE%` environment value exists and has a value, everything works as expected.

However, if the environment variable does not exist, or its value is empty, the user receives an error from the Cake runner: `Expected an option value`.

The current workaround is to use

[2021-03-14 22:27] augustoproiete opened #3278 "Allow short argument names when using double dashed args"
Currently one-letter arguments are only supported with single-dashed arguments. e.g.

This works:

[code]

Whereas this does not work (error: `Invalid long option name`)

[code]

This issue intends to make the necessary updates to allow short argument names when using double-dashed arguments.

[2021-03-14 22:57] augustoproiete opened #3279 "Allow users to use any of the Cake runner arguments as build script arguments"
### Background

The Cake runner supports a number of arguments, such `--version` to display the version of the runner, or `--debug` to launch the script in debug mode.

However, this make it impossible for these names to be used as arguments in Cake build scripts. For example, if one wanted to use the argument `version` as an input to the build script:

[code]

And then run Cake:

[code]

They wou

[2021-03-14 23:09] augustoproiete opened #3280 "Assume arguments provided _after_ the .cake script (when provided) to be "remaining arguments""
### Background

The Cake runner supports a number of arguments, such `--version` to display the version of the runner, or `--debug` to launch the script in debug mode.

However, this make it impossible for these names to be used as arguments in Cake build scripts. For example, if one wanted to use the argument `version` as an input to the build script:

[code]

And then run Cake:

[code]

They wou

[2021-03-15 03:44] creative-cloud commented on #2570
@augustoproiete
- I was planning on adding `DotNetCoreTestSettings`, `DotNetCoreBuildSettings` etc. as members of the `DotNetCoreWatchSettings` class that a user could then initialize as appropriate.
Using this implementation we would not need to create individual classes/settings for `build`, `test` and `run`.

- Here is an example that illustrates the `dotnet watch test` command with `DotNetCore

[2021-03-15 10:01] robertmuehsig commented on #2832
@augustoproiete It has nothing to do with the actual build script. Somehow the above files had a "invalid" "LastWriteTime" timestamp. Not even Windows was capable of zipping those files.
At first I tried to "modify" those timestamps like this:

    Get-ChildItem  C:\foo.dll | % {$_.LastWriteTime = '03/11/2021 18:30:00'}

Which "worked", but seemed "wrong". After the SDK update everything was fine.

[2021-03-15 12:50] devlead commented on #2832
I'm starting to think it's some edge case like a TimeZone difference or something, we do have Min/Max dates.

https://github.com/cake-build/cake/blob/a1893a2bba26f49e089d66beeb78421cedf6126d/src/Cake.Common/IO/Zipper.cs#L24-L26

A workaround could be if we could repro we could tweak Min to a day later, sorting if these happened to be just on the border of valid from/to.

Reading zip spec

So maybe

[2021-03-16 02:55] augustoproiete opened #3281 "GitVersion Tool: Remap existing verbosity values to valid GitVersion values"
### Background

The [`Verbosity` argument of GitVersion](https://github.com/GitTools/GitVersion/blob/5.6.6/src/GitVersion.Core/Logging/Verbosity.cs) changed in more recent releases and the existing values in [Cake's enumeration](https://github.com/cake-build/cake/blob/v1.1.0/src/Cake.Common/Tools/GitVersion/GitVersionVerbosity.cs) no longer match the accepted values by GitVersion.

### Proposal

K

[2021-03-16 02:58] augustoproiete opened #3282 "GitVersion Tool: Rename verbosity values to match GitVersion values"
The [`Verbosity` argument of GitVersion](https://github.com/GitTools/GitVersion/blob/5.6.6/src/GitVersion.Core/Logging/Verbosity.cs) changed in more recent releases and the existing values in [Cake's enumeration](https://github.com/cake-build/cake/blob/v1.1.0/src/Cake.Common/Tools/GitVersion/GitVersionVerbosity.cs) no longer match the accepted values by GitVersion.

This issue is about updating th

[2021-03-16 03:32] augustoproiete opened #3283 "Update GitVersion alias reference page with dotnet tool usage example"
The example in the documentation ( https://cakebuild.net/api/Cake.Common.Tools.GitVersion/GitVersionAliases/ ) uses `GitVersion.CommandLine` which is a Windows-only tool.

`GitVersion.Tool` is a cross-platform .NET tool that can be consumed via the `dotnet` scheme in Cake >= 1.1

[code]

[2021-03-17 01:59] augustoproiete commented on #2570
It's certainly a possibility. I guess it's a matter of personal preference.

The main reasons I'd prefer to have separate classes would be:

1. It helps developers fall into the pit of success by only allowing a single commands be configured, instead of configuring two, or three and know knowing what the outcome would be

2. It makes the intent more explicit, and abstracts the `ProcessArgumentBuil

[2021-03-19 01:10] creative-cloud commented on #2570
Makes sense, I am happy to roll with separate classes. Just felt like I should throw my thoughts out.

[2021-03-24 20:46] spadapet commented on #2581
Code in the following method should be using Visual Studio setup APIs to find the install path rather than making an educated guess:

https://github.com/cake-build/cake/blob/a1893a2bba26f49e089d66beeb78421cedf6126d/src/Cake.Common/Tools/MSBuild/MSBuildResolver.cs#L160

[2021-03-24 20:51] mattleibow commented on #2581
I think there is a VSWhere addin already, so that should really be the official way and then fall back to the smart guess.

[2021-03-24 20:55] devlead commented on #2581
VSWhere support is already built into Cake
https://cakebuild.net/api/Cake.Common.Tools.VSWhere/VSWhereAliases/

Was added 2017 in Cake `0.18.0`.
https://cakebuild.net/blog/2017/03/vswhere-and-visual-studio-2017-support

[2021-03-25 00:31] Marusyk commented on #3237
Could you please clarify how custom string can be interpreted to `MSBuildToolVersion`?
[code]
and how base on a custom sring we can return MSBuild path?

[2021-03-25 01:45] nathangiuliani opened #3291 "Unable to retrieve target argument with Frosting"
### What You Are Seeing?
Unable to retrieve the value passed to the `target` command line argument by using the Arguments method. - e.g. `context.Argument<string>("target")` throws an exception, running `context.HasArgument("target")` returns false even when a target argument is provided, and browsing the arguments object while in a live debug quite clearly shows they are not there.

Note that ver

[2021-03-25 03:24] augustoproiete commented on #3237
Hey @Marusyk, thanks for looking into this one.

Good question. When I created this issue, I was thinking of tackling this in two parts:

1. :green_circle: (This issue) Add an overload of `UseToolVersion` that can accept a string and stop there - i.e. Leaving the `ToolVersion` property using the enum as it is today, and **release in Cake v1.x** (as it's brand new extension method, so non-breaking)

[2021-03-27 07:01] augustoproiete commented on #3211
The `dotnetfoundation` user accepted the invite to become owner of the `Cake.DotNetTool.Module` package and it's now the signing owner as expected.

![image](https://user-images.githubusercontent.com/177608/112712908-240b2d80-8eb1-11eb-9792-328879ea2790.png)

[2021-03-27 07:01] #3211 closed

[2021-03-28 18:38] gitfool opened #3294 "Clean up task builder extensions"
Add some missing functionality, fix an issue, and clean up the code for consistency:
* Add support for criteria using data context but not cake context
* Use [lambda discard parameters](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/proposals/csharp-9.0/lambda-discard-parameters) when cake context not used
* Replace lambda statements with [lambda expressions](https://docs.micros

[2021-04-19 01:38] gitfool opened #3314 "Bump .NET SDK to 5.0.202"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched [issues](https://github.com/cake-build/cake/issues) to ensure it has not already been reported

### Cake runner

Cake .NET Tool

### Cake version

1.1.0

### Operating system

Linux

### Operating system architecture

64-Bit

### CI Server

GitHub Actions

### What are you seeing?

.

### What is expected?

.

[2021-04-19 01:55] gitfool opened #3316 "Bump NuGet client libraries to 5.9.1"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched [issues](https://github.com/cake-build/cake/issues) to ensure it has not already been reported

### Cake runner

Cake .NET Tool

### Cake version

1.1.0

### Operating system

Linux

### Operating system architecture

64-Bit

### CI Server

GitHub Actions

### What are you seeing?

.

### What is expected?

.

[2021-04-19 13:16] #3314 closed

[2021-04-19 14:40] #3281 closed

[2021-04-19 15:17] #3316 closed

[2021-04-20 13:33] #3283 closed

[2021-04-22 09:23] vijaya-lakshmi-venkatraman commented on #3282
Hi,
I am new to CAKE and would like to know more about the proposed fix.
Is the change required only on GitVersionVerbosity.cs?

[2021-04-22 12:21] augustoproiete commented on #3282
Hi @vijaya-lakshmi-venkatraman! Welcome to the Cake project 👋🏻

Yes, the goal is to rename the enumeration values in [GitVersionVerbosity](https://github.com/cake-build/cake/blob/v1.1.0/src/Cake.Common/Tools/GitVersion/GitVersionVerbosity.cs) and (if needed) update the `summary` XML comment on the enumeration values to reflect/describe the new name.

You'll also need to update the [GitVersionRunne

[2021-04-24 03:25] joshuacookdev commented on #3282
@augustoproiete - Stupid question, as I'm not super familiar with the justification or source: why have a distinct GetVersionVerbosity when there is an app-level Verbosity already, and the GitVersionRunner is just transpiling?

I'm willing to tackle this as it's <5 minutes of work, but if merging the verbosity classes is better long-term then I'm willing to give that a look as well.

[2021-04-24 04:08] joshuacookdev commented on #3282
I went ahead and did the rename while I was playing with building Cake locally, and pushed it forward. Let me know if there is anything further I can assist with on the matter!

[2021-04-24 15:04] augustoproiete commented on #3282
Hey @joshuacookdev thanks for your interest in helping with this one!

For context, GitVersion is a separate  open-source project that is not part of Cake (it's an external tool that can be executed _from_ Cake), and what we're doing is just adding some "helper" methods to make it easy for Cake users to execute the GitVersion tool.

It's important to have a separation between `GitVersionVerbosity`

[2021-04-24 20:46] augustoproiete commented on #3282
This has been resolved by #3321 and will be released with Cake v2.0

[2021-04-28 08:46] patriksvensson opened #3328 "Frosting: Support criteria description"
See: https://github.com/cake-build/cake/discussions/2951 for more information.

[2021-05-02 12:12] nils-a opened #3330 "Cake.Frosting.Template does not show in VS"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched [issues](https://github.com/cake-build/cake/issues) to ensure it has not already been reported

### Cake runner

Cake Frosting

### Cake version

1.1.0

### Operating system

Windows

### Operating system architecture

64-Bit

### CI Server

none

### What are you seeing?

Visual Studio can show .NET CLI templa

[2021-05-03 15:31] jakubsuchybio commented on #2935
Hi, I can already see `TaskDescriptionAttribute` in `Cake.Frosting`
I think this can be closed.
![image](https://user-images.githubusercontent.com/6567287/116897241-54bf4f00-ac35-11eb-82a2-94266e650d59.png)

[2021-05-03 15:51] patriksvensson commented on #2935
@jakubsuchybio Correct. This has been added since the issue was opened.
Closing the issue.

[2021-05-03 15:51] #2935 closed

[2021-05-04 03:12] joshuacookdev commented on #3263
Implementation question:

`./.cake/tools/` or `./.cake/`? I know the request says `./.cake/`, but I feel like putting the tools under `./.cake/tools/` might be a better long-term option.

If no one has picked this up by the weekend, I'll likely play around with it - just wanted to bring that up for discussion before any work began on the issue.

[2021-05-04 04:44] augustoproiete commented on #3263
Hey @joshuacookdev,

TL;DR; I think `./.cake/tools/` is a good idea and probably where we'd want to get to, but let's do that as a separate issue to make it easier to review, test, & merge this one.

---

Long version:

At the moment, if you have (for example) a Cake script like the following:

[code]

You'll end up with with a folder structure like this:

![image](https://user-images.githubuserco

[2021-05-04 21:28] augustoproiete opened #3333 "Custom Type Converters for parsing arguments do not work when running Cake on Mono"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched [issues](https://github.com/cake-build/cake/issues) to ensure it has not already been reported

### Cake runner

Cake runner for .NET Framework

### Cake version

1.1.0

### Operating system

macOS

### Operating system architecture

64-Bit

### CI Server

N/A

### What are you seeing?

It's possible to use cus

[2021-05-05 12:51] steverichey commented on #3333
Note that the same error is present when getting Cake via the bootstrapper script.

[2021-05-05 17:08] nick5454 opened #3335 "When including a variable with a space in it the cake fails"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched [issues](https://github.com/cake-build/cake/issues) to ensure it has not already been reported

### Cake runner

Cake Frosting

### Cake version

1.1.0

### Operating system

macOS

### Operating system architecture

64-Bit

### CI Server

Azure Devops

### What are you seeing?

When passing variable with a spa

[2021-05-05 17:16] augustoproiete commented on #3335
@nick5454 What is the content of `build/build_cake.ps1`? This is the script that is ultimately executing Cake and not adding the required quotes.

[2021-05-05 17:48] nick5454 commented on #3335
[build_cake.ps1.txt](https://github.com/cake-build/cake/files/6429178/build_cake.ps1.txt)

[2021-05-05 17:51] nick5454 commented on #3335
@augustoproiete I assume I could escape it inside the ps1 file at the end where cakeArguments are

For the work around I pass in Any__CPU and added a platform.Replace("__", " ") which works

[2021-05-06 01:01] augustoproiete commented on #3335
@nick5454 Great. I'm moving this issue to the [resources repo](https://github.com/cake-build/resources/) as the fix would be in the [bootstrapper template for .NET Framework](https://github.com/cake-build/resources/blob/master/dotnet-framework/build.ps1) and not in Cake itself.

N.B.: Our recommendation is to [migrate your builds to use the .NET Tool for running Cake](https://cakebuild.net/docs/ru

[2021-05-06 16:02] joshuacookdev commented on #2654
I glanced over this one last night, and it seems like there is more than just a difference between the flag names - namely the way the string is delimited in commands. (I think) the only way to keep this from being a breaking change in existing Cake scripts is to _leave support in place for the --params flag, and add support for the --testparam flag_ (rather than converting it behind the scenes).

[2021-05-07 00:30] augustoproiete opened #3337 "Suppress compilation warnings CS1701, CS1702, and CS1705"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched [issues](https://github.com/cake-build/cake/issues) to ensure it has not already been reported

### Cake runner

Cake .NET Tool, Cake Frosting, Cake runner for .NET Framework, Cake runner for .NET Core

### Cake version

1.1.0

### Operating system

N/A

### Operating system architecture

N/A

### CI Server

N/

[2021-05-07 01:28] #2362 closed

[2021-05-07 02:38] joshuacookdev commented on #2654
So I poked around briefly on the issue, and had a question on the teams preferred implemenation:

In the [NUnit Command Line Options documentation](https://docs.nunit.org/articles/nunit/running-tests/Console-Command-Line.html), they describe the difference between the two options like so:

--testparam:PARAMETER, --tp:PARAMETER | A test PARAMETER specified in the form NAME=VALUE for consumption by

[2021-05-07 15:12] augustoproiete opened #3341 "Epic: Introduce DotNet aliases (synonyms to DotNetCore aliases)"
## Background

Cake has many [`DotNetCore***`](https://cakebuild.net/dsl/dotnetcore/) aliases for executing `dotnet` such as `DotNetCoreBuild`, `DotNetCoreTest`, etc.

The `Core` part in the name exists for historical reasons when .NET Core was first introduced and lasted until v3.1.

[With .NET 5, Microsoft dropped the "Core" from the name](https://devblogs.microsoft.com/dotnet/introducing-net-5/

[2021-05-08 18:03] #3330 closed

[2021-05-09 19:04] #3337 closed

[2021-05-10 19:55] LagunaElectric commented on #2763
Hello! I'm new to this and would like to try tackling this issue :)

[2021-05-10 19:58] LagunaElectric commented on #2763
Wow that was fast!

[2021-05-10 19:59] LagunaElectric commented on #2763
Mind if I ask for directions to DirectoryPath declaration?

[2021-05-10 20:07] augustoproiete commented on #2763
Sounds good. Probably something like:

[code]
?

Don't forget to include unit tests in the PR! :wink:
- https://github.com/cake-build/cake/blob/v1.1.0/src/Cake.Core.Tests/Unit/IO/DirectoryPathTests.cs

[2021-05-10 20:20] #1977 closed

[2021-05-10 20:21] #1971 closed

[2021-05-10 20:23] augustoproiete commented on #1696
(moving to GitHub discussions)

[2021-05-10 20:23] #1696 closed

[2021-05-10 20:26] augustoproiete commented on #809
(moving to GitHub discussions/Extension Requests)

[2021-05-10 20:30] #29 closed

[2021-05-12 15:12] lprichar opened #3352 "Cake Frosting Parent DirectoryPath Fails To Combine with Slash"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched [issues](https://github.com/cake-build/cake/issues) to ensure it has not already been reported

### Cake runner

Cake Frosting

### Cake version

1.1.0

### Operating system

Linux, Windows

### Operating system architecture

64-Bit

### CI Server

_No response_

### What are you seeing?

A NullReferenceExcepti

[2021-05-12 15:27] patriksvensson commented on #3352
GetFiles takes a string so it will implicitly convert the content to a string. Try using `TestDir.CombineWithFilePath(..)` and you should get the correct result.

[2021-05-12 15:42] lprichar commented on #3352
Didn't help, I'm afraid.  More specifically:

[code]

returns `..temp/*.zip`.  That's really the source of the problem.

I'd be inclined to argue that a null reference exception from `GetFiles` is never the correct response, but again that's just more a symptom of the underlying problem which is the way directories are being combined is incorrect in this context.

[2021-05-12 16:21] lprichar commented on #3352
Found a workaround.  If you replace:

`private DirectoryPath TestDir => RootDir + _context.Directory("temp");`

with

`private DirectoryPath TestDir => RootDir.Combine(_context.Directory("temp"));`

then it works.  Strange bug, I can't even begin to understand how that syntax change could make a difference.  Just to make this easily reproduceable:

[code]

returns:

[code]

[2021-05-12 18:33] augustoproiete commented on #3352
@lprichar We're missing a `+` operator that takes a `DirectoryPath` and `ConvertableDirectoryPath`, and `ConvertableDirectoryPath` has an _implicit_ operator that casts it `string` so C# is effectively concatenating two strings in your case, rather than combining the file paths.

Fixed via PR #3353

[2021-05-12 18:47] lprichar commented on #3352
Oh, of course!  That makes sense.  Thanks @augustoproiete, looking forward to the next release.

[2021-05-12 19:21] augustoproiete commented on #3352
@lprichar Thanks for reporting! Nice find!

[2021-05-14 14:30] Marusyk commented on #3341
I'm interested in creating PR for this. Could you assign it to me?

[2021-05-14 14:48] augustoproiete commented on #3341
Hey @Marusyk Thanks for looking into this one!

This particular issue is a big one and I'd like to break it into smaller chunks to make PR reviews manageable otherwise we risk having a PR that is too large to review and it stays behind like some of the ones we have today where it's hard to find the time to properly look at it and test it.

Do you think you can take a first look at the code and sug

[2021-05-17 09:34] yschmid-levi opened #3355 "VSTest alias documentation contains holdover from <v0.17.0"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched [issues](https://github.com/cake-build/cake/issues) to ensure it has not already been reported

### Cake runner

Cake runner for .NET Framework

### Cake version

1.1.0

### Operating system

Windows

### Operating system architecture

64-Bit

### CI Server

_No response_

### What are you seeing?

The document

[2021-05-17 09:41] #3294 closed

[2021-05-18 03:34] charlessolar commented on #3291
Aha! Ran into this!

In my case `context.GetArgument("target", "Default")` always returns "Default" even though `./build.ps1 --target "Test"` still targets test.

Great bug report

[2021-05-18 05:07] himanshu007-creator commented on #3355
HI, i would like to work on this issue.

[2021-05-18 06:46] #3355 closed

[2021-05-20 16:44] pitermarx opened #3360 "using Spectre.Console; makes error CS0246"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched [issues](https://github.com/cake-build/cake/issues) to ensure it has not already been reported

### Cake runner

Cake .NET Tool

### Cake version

1.1.0

### Operating system

Windows

### Operating system architecture

64-Bit

### CI Server

No

### What are you seeing?

by having the using I get this error

e

[2021-05-20 18:07] augustoproiete commented on #3360
Interesting find. Thanks for reporting @pitermarx. It seems for some reason the `Spectre.Console` assembly is not being referenced in the compiled C# code. Perhaps it's because

A possible workaround for now is to force the assembly load by loading `Spectre.Console` as an addin. e.g.

[code]

N.B.: The version of `Spectre.Console` should match the [version that is used by the Cake runner](https://

[2021-05-20 18:17] devlead commented on #3360
As it ships with Cake it's this will work too
[code]

[code]

[2021-05-20 20:49] #3360 closed

[2021-05-20 21:34] augustoproiete commented on #2668
This was resolved as part of #3338. Closing as dupe.

[2021-05-20 21:35] #2668 closed

[2021-05-21 09:04] yschmid-levi opened #3365 "Typo in documentation of NuGetAdd alias"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched [issues](https://github.com/cake-build/cake/issues) to ensure it has not already been reported

### Cake runner

Cake runner for .NET Framework

### Cake version

1.1.0

### Operating system

Windows

### Operating system architecture

64-Bit

### CI Server

_No response_

### What are you seeing?

https://gith

[2021-05-21 13:15] augustoproiete commented on #3365
Thanks @yschmid-levi let us know if you're going to send a PR for this one

[2021-05-21 13:18] yschmid-levi commented on #3365
can do 👍

[2021-05-21 13:58] #3365 closed

[2021-05-23 12:17] devlead opened #3368 "Update .NET SDK to 5.0.203 and .NET Core 3.1.409 and 2.1.816"

[2021-05-23 12:49] #3368 closed

[2021-05-23 12:52] devlead opened #3370 "Update Spectre.Console to 0.39.0"

[2021-05-23 13:25] devlead opened #3372 "Update Microsoft.NET.Test.Sdk to 16.9.4"

[2021-05-23 14:08] devlead opened #3374 "Update Autofac to 6.2.0"

[2021-05-23 14:24] #2168 closed

[2021-05-23 20:04] #3370 closed

[2021-05-23 20:48] #3372 closed

[2021-05-23 22:06] 111mma opened #3376 "Hi all,"
Hi all,
I've tried to config IntelliSense in VS Code but no success.
Any of described steps didn't help: https://cakebuild.net/docs/integrations/editors/vscode/intellisense

Log:

[code]

_Originally posted by @Marusyk in https://github.com/cake-build/cake/discussions/3364_

[2021-05-23 22:30] #3374 closed

[2021-05-25 22:53] #2654 closed

[2021-05-26 06:03] #3226 closed

[2021-06-01 06:36] gjhommersom commented on #3210
I think I'm running into the same issue. I'm using the dotnet-sonarscanner tool and when I try to resolve the tool it returns the netcore 2.0 version while I'm running on net5. Because we use images for our builds old versions of the sdk are not available.

To my understanding the root issue is that the tool is registered 3 times and the paths look something like this:
* dotnet-sonarscanner\5.2.1\

[2021-06-01 16:15] khiemnd777 commented on #833
How i use the CakeConfigration in build.cake file?

[2021-06-01 22:12] augustoproiete commented on #3210
Hey @gjhommersom, could you provide more details on how you're resolving the SonarScanner tool and some sample code?

Cake runs `dotnet tool install` behind the scenes in order to install the tool, so the directive below:

[code]

Would cause Cake to execute a command similar to the following:

[code]

This would install the tool in the `./tools/.store/dotnet-sonarscanner/5.2.1` folder, and create

[2021-06-02 09:11] pitermarx commented on #833
I actually did exactly this manually. I have a JSON file with the defaults, then arguments override that and env vars override that. Would be nice to have it OOB

[2021-06-02 09:41] pitermarx commented on #833
Is this already built-in?
https://cakebuild.net/docs/running-builds/configuration/set-configuration-values

[2021-06-03 07:35] gjhommersom commented on #3210
I use Cake.Sonar extension. Internally it calls `context.Tool.Resolve('SonarScanner.MSBuild.dll")` to get the tool. To what should that be changed because I tried using `dotnet-sonarscanner.exe`. It works on my dev machine but the buildserver runs on Linux and couldn't execute the exe.

I will try the options you provided to see if I can resolve it that way.

[2021-06-05 21:14] Marusyk commented on #3341
Hi @augustoproiete
Sorry for the late response.

- Yeah, I think it would be easier: for implementing and fore review.

- Let's create the new `DotNet***` from the beginning.

- it is also looks ok (to avoid many duplication)

[2021-06-06 18:19] sunshykin commented on #2690
Tried to solve that issue with #3388

[2021-06-15 05:48] coder2213 commented on #2443
I debugged this a bit and found that there are issues only with copying more than 1 file.
Single file copy works fine.

Interesting observation is copying files from two different folders, gives below error:
An error occurred when executing task 'Copy'.

Console
[code]
Build.cake file
[code]

Is the above mentioned use case correct?

What is the importance of preserveFolderStructure? I am confused

[2021-06-16 06:19] coder2213 commented on #1663
@pascalberger @augustoproiete
Please provide a way to reproduce this issue.

I tried with below code and got this error in 1.1.0
[code]

Errror

[code]

[2021-06-17 15:57] augustoproiete commented on #1663
@coder2213

[code]

[2021-06-18 14:07] coder2213 commented on #1663
@augustoproiete

Tried above command and I still getting same error.
Cake versions: 1.1.0
.NET CORE 5.0

[code]

Also, I tried with below config and got different error
cake version:0.20.0
.NET CORE 2.1

[code]

So learning from error, I changed config to below and got another error
cake version:0.30.0
.NET CORE 2.1

[code]

So I am interested to know to
1. for which version of cake I should fix t

[2021-06-18 14:22] augustoproiete commented on #1663
@coder2213 The error message doesn't match the code sample I wrote above (i.e. There's no implicit-typed array in my code).

My guess is that you're still running [your initial sample code](https://github.com/cake-build/cake/issues/1663#issuecomment-862078650) where you're creating an implicit-typed array.

The fix should be applied to the latest commit on the `develop` branch, to be released with

[2021-06-18 14:56] coder2213 commented on #1663
@augustoproiete
Multiple .cake files in my repo seem to have caused this.
Now I can re-create this issue after moving unnecessary ones to different folder.

Can you please confirm the expected behavior for this case?

[2021-06-18 23:22] augustoproiete commented on #1663
@coder2213 Let's go with @pascalberger's first suggestion: "The alias should not throw (since there is nothing to copy)" for a better user experience - so that the developer doesn't have to add checks to avoid exceptions.

[2021-06-19 14:36] coder2213 commented on #1663
@augustoproiete
The problem here is the argument is not getting properly validated and reaching the Alias methods where we do the actual filecopy operation.

I tried my best to find the code which validates it and I got nothing so far.
Any ideas on where and how in code we validate the arguments provided in build.cake script will be helpful

To demonstrate the validation part, I have used the belo

[2021-06-20 00:21] augustoproiete commented on #1663
<details>
<summary>@coder2213 If you run the Cake script in diagnostic mode, you'll be able to see the stack trace... (<strong>click here</strong> to expand)</summary>
<p>

[code]
</p>
</details>

And that shows you where the exception is being thrown: [Cake.Common/IO/FileCopier.cs:line 112](https://github.com/cake-build/cake/blob/a1893a2bba26f49e089d66beeb78421cedf6126d/src/Cake.Common/IO/FileCop

[2021-07-01 07:37] kaabus commented on #2075
Should we just convert any argument we get to string ?

[2021-07-03 10:26] coder2213 commented on #2030
@augustoproiete

I am able to recreate this issue.
In ProcessRunner.cs, a console process is getting created and when we run this command, the output is getting displayed on the console even though process is still running. Also exitcode is getting set to 1 due to the error I think.

Process class of System.Diagonstics is used to run process. To fix this issue, I need to achieve below:
1. Do not d

[2021-07-03 17:28] coder2213 commented on #2030
@augustoproiete

I have fixed this. Not sure on appropriate behavior for this.
As per below mentioned code, tasks whose criteria is not met will be thrown.
Should we throw for this issue as per existing code or not do anything?

[code]

[code]

[2021-07-04 05:40] coder2213 commented on #2030
@augustoproiete
Thanks for assigning this to me.

Please confirm on appropriate behavior.
Fix is very simple, I can give you PR immediately.

[2021-07-04 09:08] coder2213 commented on #2165
@augustoproiete

Please provide cake command to recreate this issue.

[2021-07-04 09:26] coder2213 commented on #1794
@augustoproiete

I am not sure how to recreate this scenario.
[code]
How to set this? I couldn't find this copy local variable on project/solution.

[code]
Just with above code in cake file I am getting a different error.

[code]

[2021-07-06 03:06] augustoproiete commented on #1794
@coder2213 The `Dump` method was an extension method that @scemino had available in his Cake script at the time and is not something that exists in Cake, so just remove this call and inspect the properties of the [ProjectReference](https://github.com/cake-build/cake/blob/v1.1.0/src/Cake.Common/Solution/Project/ProjectReference.cs) class instead.

The point @scemino is making is that the [ProjectRe

[2021-07-06 03:34] augustoproiete commented on #2030
@coder2213 The behavior of `WithCriteria` is correct (or at least out of scope for this issue). The issue described is that if we call `NuGetAddSource("Bla", "https://bla")` and then check `NuGetHasSource("https://BLA")`, it returns `false`, because the comparison is case sensitive (but should return `true` instead given the feed exists already and differs by casing only).

Example repro with Cake

[2021-07-06 03:43] augustoproiete commented on #2165
@coder2213 There's no special Cake command to repro this issue. As @Meberem described, [`DotNetCoreBuildSettings`](https://github.com/cake-build/cake/blob/v1.1.0/src/Cake.Common/Tools/DotNetCore/Build/DotNetCoreBuildSettings.cs) currently does not expose a property that allows specifying the equivalent [`--source`](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-build?tabs=netcore2x#opti

[2021-07-10 17:20] #1663 closed

[2021-07-11 18:15] augustoproiete commented on #2030
Closed by #3404

[2021-07-11 18:15] #2030 closed

[2021-07-25 23:41] #2690 closed

[2021-07-28 15:31] Edord99 commented on #2965
#7171

[2021-07-28 17:59] augustoproiete commented on #2965
@Edord99 Could you provide more details? What is the repo for this issue or PR `7171`?

[2021-07-28 23:19] ManasviGoyal commented on #2953
can you help me get started? @augustoproiete

[2021-07-29 02:14] augustoproiete commented on #2953
@ManasviGoyal In [`MSBuildSettingsExtensions`](https://github.com/cake-build/cake/blob/v1.1.0/src/Cake.Common/Tools/MSBuild/MSBuildSettingsExtensions.cs#L23) you can see how the `WithTarget` method works today, and in [`MSBuildSettings`](https://github.com/cake-build/cake/blob/v1.1.0/src/Cake.Common/Tools/MSBuild/MSBuildSettings.cs#L29) you can see that `Targets` is a read-only property of type `I

[2021-07-31 10:03] shaysw commented on #3278
Hi @augustoproiete, I'm new to this repo and OSS in general, wondering if this issue is still relevant and if so, if I can try to give it a go.
Thanks JLJ :)

[2021-08-07 21:56] augustoproiete commented on #2075
@ChrisMaddock @kaabus a `FilePath` overload that converts the call to `filePath.FullPath` under the hood would be great.