[2017-10-27 15:01] micheleissa commented on #1561
What I'm planning to do :
- Add folder called 'Shared' in the solution directory.
- Add 'Check.cs' inside that folder.
- Modify each csproj file to include
[code]
- The namespace for it  `Cake.Shared`
- I saw the link from ASP.NET team but I feel it is more complicated than it should be and I was thinking of something along the following
[code]
Thoughts?

[2017-10-27 15:12] kcamp commented on #1561
As a developer, it would be preferable to more correctly support parameter names; `nameof(o)` is not going to be semantically useful in the exception that's thrown.

Reference:
https://msdn.microsoft.com/en-us/library/k8a0dfcy(v=vs.110).aspx

Consider something like this, or overloads that would support the same..
[code]

So that the calling convention would be more akin to
[code]

[2017-10-27 15:24] patriksvensson commented on #1561
@micheleissa This is still assigned to @bookman220.
@bookman220 Are you still working on this?

[2017-10-27 15:25] micheleissa commented on #1561
@kcamp
What would you use `parameterName` for ?
in the case someone passes 'bogus' as the parameterName and it is used in the exception message the result will not be accurate in my opinion.

[2017-10-27 15:26] patriksvensson commented on #1561
@micheleissa What @kcamp means is that `nameof(o)` will always print `o`. It will never used the original parameter name.

[2017-10-27 15:28] micheleissa commented on #1561
@patriksvensson gotcha. Silly me!

[2017-10-27 17:12] daveaglick opened #1901 "DotNetCoreTestSettings missing a NoRestore option"
I've encountered lockups on restore when using `dotnet test`, so having the `--no-restore` option exposed as a setting would be nice. I can PR this.

[2017-10-27 17:20] gsferreira commented on #1882
Hi @colinangusmackay!
In my opinion this is the correct behavior. If you take a look into C# implementation of Directory delete you will see the same logic for example.

Why don't you validate if the Directory Exists?
[code]

[2017-10-27 18:24] colinangusmackay commented on #1882
The .NET Framework and CAKE operate in different domains. Just because .NET does a thing, does not mean CAKE has to do that thing.

The purpose of CAKE is to build and deploy software. In pursuit of that goal you get the system in to a desired state, and therefore any operation to get to that state should be idempotent. In other words, if the system is already in that state the operation does noth

[2017-10-27 18:59] dealproc opened #1902 "Add WiX burn support"
It's grand that heat; candle; and light are supported... but can burn get a little love for building bundles?

[2017-10-27 19:10] gep13 commented on #1902
@dealproc this seems like a good idea to me.  Would you be interested in helping out with a PR?

[2017-10-27 19:35] dealproc commented on #1902
let me think about it... the last few times i tried providing PRs for things... it didn't go well.

[2017-10-27 19:58] gep13 commented on #1902
the last few times i tried providing PRs for things... it didn't go well.

How do you mean?

[2017-10-28 05:08] devlead commented on #1901
Excellent 👍

[2017-10-28 05:46] dealproc commented on #1902
I misunderstood how this was supposed to work...

http://wixtoolset.org/documentation/manual/v3/bundle/wixstdba/

I've only used bundles through visual studio.  You Candle/Light the wxs files like you do to create an msi flie.  This is a dead topic.

[2017-10-28 05:46] #1902 closed

[2017-10-28 16:13] micheleissa commented on #1561
So are you supposed to wait for a response from 'bookman220'

[2017-10-28 17:21] patriksvensson commented on #1561
@micheleissa let’s give him/her a couple of days to respond before reassigning it.

[2017-10-28 19:30] jnm2 commented on #1882
Directory and file existence checks are also prone to TOCTTOU race conditions and should never be used to make a decision about a subsequent operation. Right now the only safe thing do to is catch the Directory/FileNotFoundException because that is the only atomic API that .NET provides.

But one person's trash is another's treasure; I'd hate for you to throw away the bit of information about whet

[2017-10-28 23:40] micheleissa commented on #1561
sounds good.

[2017-10-29 09:07] mkiedrowski commented on #1900
After some debugging, it seems that it was just a bunch of nonrelated errors and mistakes, but prerelease dependencies are correctly fetched when addin is referenced with a _prerelease_ flag.

[2017-10-29 09:07] #1900 closed

[2017-10-30 03:16] bookman220 commented on #1561
@patriksvensson @micheleissa Again I apologize for being so obtuse, but to be honest I am a little disheartened by how flummoxed I am by the environment, which is why it has taken me so long. I work with Javascript scripts in my day job and have debugged compilation errors in C# to get a game running using the Unity game engine, but for some reason I'm finding myself staring slack jawed at this ev

[2017-10-30 03:21] bookman220 commented on #1561
By the way I downloaded the .NET 2.0 SDK and I already had Visual Studio 2017, though it updated me to the latest version when I ran the installer.

[2017-10-30 03:24] bookman220 commented on #1561
As you can see from my other solution for the games, I'm having no trouble there:
![image](https://user-images.githubusercontent.com/5388655/32153349-f16f7356-bcf7-11e7-90c3-3d7c2bcb6681.png)

[2017-10-30 03:27] bookman220 commented on #1561
Apologies for forgetting to crop out the second screen by the way.

[2017-10-30 06:41] mathieukempe opened #1903 "SSL issue with the cake installer"
### What You Are Seeing?

Tried on a few computers, ask other people to try with same result

[code]
[code]

### What is Expected?

Should install cake

### What version of Cake are you using?
Latest

### Are you running on a 32 or 64 bit system?
64

### What environment are you running on?  Windows? Linux? Mac?
windows

### Are you running on a CI Server?  If so, which one?
No
### How Did You Get

[2017-10-30 07:41] devlead commented on #1903
There was a recent Windows update that changes handling of SSL redirects, We'll see if we can sort something server side othwerwise we'll adapt the bootstrappers.

[2017-10-30 08:16] devlead commented on #1903
Now got word from out SSL provider cloud flare that it certs renewed this weekend might have issues and that they're working on, got a support ticket and get back here as soon as we get an update.

[2017-10-30 12:07] kcamp commented on #1561
@bookman220 What happens when you run the build [via Cake] from Powershell?
[code]

[2017-10-30 14:26] overeemm opened #1904 "Error from build.ps1 "Could not download packages.config""
When running the bootstrapper powershell script in a fresh repository (without the tools folder), the scripts crashes with

[code]

Did something change in the url that is used?

[2017-10-30 14:32] SIkebe commented on #1904
see here
https://github.com/cake-build/resources/issues/39

[2017-10-30 14:32] pants4robots commented on #1904
same issue for me, on a build previously working and unchanged:

Could not download packages.config.
--
30-Oct-2017 10:19:27 | At D:\BambooHome\xml-data\build-dir\35028993-35094529\build.ps1:131 char:9
30-Oct-2017 10:19:27 | +         Throw "Could not download packages.config."
30-Oct-2017 10:19:27 | +         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
30-Oct-2017 10:19:27 | + CategoryInfo       

[2017-10-30 14:33] SIkebe commented on #1904
There is an issue with the SSL hosting provider now.

[2017-10-30 14:35] hravnx commented on #1904
One of my colleagues discovered that it's because PS will use TLS 1.0 by default.

Executing `[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12` before running the build script foxes this.

The real fix should probably be to add this to the beginning of the build.pas file.

[2017-10-30 14:54] makison commented on #1904
Just to add, @hravnx comment will fix build,
but currently if you will try to execute power shell command from [Setting Up A New Project](https://cakebuild.net/docs/tutorials/setting-up-a-new-project)
`Invoke-WebRequest https://cakebuild.net/download/bootstrapper/windows -OutFile build.ps1`
It will fails as well,
so this page should be updated as well to mention command to enable Tls12
or better c

[2017-10-30 15:17] akamud commented on #395
This is released now. https://github.com/OmniSharp/omnisharp-vscode/issues/1684#event-1316871214

[2017-10-30 15:32] gep13 commented on #1904
@overeemm @SIkebe @pants4robots @hravnx @makison we are currently working with our hosting provider to understand what is going on, and why.  We will update this issue: https://github.com/cake-build/resources/issues/39 as more information is available.  For now, I am closing to close this issue.

[2017-10-30 15:33] #1904 closed

[2017-10-30 17:09] heberop commented on #1903
Following [this reference](https://stackoverflow.com/questions/41618766/powershell-invoke-webrequest-fails-with-ssl-tls-secure-channel), I put this line in build.ps1 and the script works fine.

[code]

[2017-10-30 17:44] gep13 commented on #1903
I am going to go ahead and close this as a duplicate of this: https://github.com/cake-build/cake/issues/1904

[2017-10-30 17:44] #1903 closed

[2017-10-31 19:40] ChaseFlorell commented on #1782
I worked around it like this

[code]

[2017-10-31 22:05] JKSnd commented on #314
Did a quick little search through the open issues, and a text search in this one about moving the pinning of addin/tool versions to a config file.

Ideally, such a version pinning file would be generated whenever the script is run and there doesn't already exist this file. This way, pinning would be as easy as checking that file in instead of the current syntax.

Think that could have a place in t

[2017-11-01 04:04] bookman220 commented on #1561
Here's the error I get:
![image](https://user-images.githubusercontent.com/5388655/32259648-e3be28da-be8f-11e7-831e-558490b50679.png)

[2017-11-01 09:01] xavierpena commented on #1894
@mkiedrowski

Well, it worked out, but only partly:

	// Command line A:
	PS build-directory> .\ps1file.ps1 -ScriptArgs '-arg1="val1"', '-arg2="val2"'
	// Works OK

	// Command line B (batch file friendly):
	PS build-directory> powershell -File ps1file.ps1 -ScriptArgs '-arg1="val1"', '-arg2="val2"'
	// Fails:
        // A parameter cannot be found that matches parameter name 'arg2=val2'.

My final

[2017-11-01 12:41] xavierpena commented on #1894
I've finally found a way to solve the issue. It was quite convoluted, involving different factors.

Remember: my final goal is to use a bash (.bat) file. If you want to use directly the powershell console, all the following considerations might be useless for your case.

1. This is the correct way to pass arguments to powershell via bash file:

    powershell -File ps1file.ps1 -arg1 "val1" -arg2 "

[2017-11-01 19:37] johnnyasantoss opened #1906 "Dll not found while trying to get git version of a repo"
### What You Are Seeing?
I'm having problems to get the git version of a repo using Cake.Git.
I think that the problem has something to do with the relative path for the `.so` file.

### What is Expected?
Get the latest tag of the repo.

### What version of Cake are you using?
- 0.22.1
### Are you running on a 32 or 64 bit system?
- 64

### What environment are you running on?  Windows? Linux? Mac

[2017-11-01 19:40] johnnyasantoss commented on #1906
This is the dockerfile that I'm using https://github.com/johnnyasantoss/JsonFluentMap/blob/testes-unitarios/Dockerfile

[2017-11-01 19:42] patriksvensson commented on #1906
@johnnyasantoss Cake.Git is not part of the cake-build organisation but is part of the @cake-contrib.

I've moved your issue there: https://github.com/cake-contrib/Cake_Git/issues/55

[2017-11-01 19:42] #1906 closed

[2017-11-01 20:16] johnnyasantoss commented on #1906
Ops, sorry.
Thanks!

[2017-11-02 08:48] nexussays commented on #1782
Hey @ChaseFlorell, unless I'm forgetting something `DotNetBuild` takes `DotNetBuildSettings` not `MSBuildSettings`

[2017-11-02 08:57] wwwlicious commented on #1877
FYI I am seeing the same thing also with proget.

[2017-11-02 14:34] Kralizek commented on #1248
Having the same issue, but no dot in the values. Here is an example
`.\build.ps1 -Target Information -Configuration Debug -IncludeCoverage OpenCover`

[2017-11-02 15:11] ChaseFlorell commented on #1782
ah, my mistake. I'm just using `MSBuild()` which takes `MSBuildSettings`.
I ran into the exact same issue as you using `MSBuild()`, so that's why I posted the solution. I guess I just didn't read it close enough.

Are you able to use MSBuild instead of DotNetBuild?

[2017-11-02 19:10] nexussays commented on #1782
Yeah. As per my comment above I'm just calling `XBuild` & `MSBuild` directly since `DotNetBuild` is just a (*very*) simple abstraction over them. So I pass in `DotNetBuildSettings` to my build method, then branch on `IsRunningOnUnix()` and copy the fields from `DotNetBuildSettings` to the relevant X or MS build settings manually, and also set `MSBuildPlatform = MSBuildPlatform.x86` and `ToolVersio

[2017-11-02 19:19] devlead commented on #1782
Yip and mono now ships with MSBuild, so that and .NET Core CLI will likely be the recommended way going forward.

DotnetBuild alias came before .NET CLI existed, IMHO it adds more confusion than benefit, so not unlikely it'll be obsoleted in the future.

[2017-11-02 21:00] jmeberlein opened #1907 "Support forward-only reverse dependencies"
Issue #1818 was about reverse dependencies and optional dependencies. However, the way they were implemented doesn't support the use case I need them for. Using the example code from that issue:

    Task("A");
    Task("B").IsDependentOn("A");
    Task("C").IsDependentOn("B").IsDependeeOf("D");
    Task("D").IsDependeeOf("E");

    RunTarget("D");

I would have expected the task traversal

`D` ->

[2017-11-03 02:52] jnm2 commented on #1522
Looking forward to the fix. This is the workaround I've been using:

[code]

Then just wrap your settings:

[code]

[2017-11-03 08:30] devlead commented on #1486
@peter-perot @wozzo this is now sorted without need for experimental as we unified around a newer version of Roslyn since 0.22.0.

[2017-11-03 08:30] #1486 closed

[2017-11-03 08:31] devlead commented on #1257
@agc93 think this is sorted now, could you check and close if this now works as you expect.

[2017-11-03 08:47] gep13 commented on #80
A Cake.Svn addin has now been released.  You can find it here:

https://www.nuget.org/packages/Cake.Svn/

[2017-11-03 08:47] #80 closed

[2017-11-03 12:22] jnm2 commented on #1907
@jmeberlein You declared that `C` is a dependency of `D` via `.IsDependeeOf("D")`. That means you require that `D` cannot run until `C` runs.

I'm interested what the use case is, why you'd want to cause `E` to run after `D` when you say you want to run `D`. It's like you want the relationship to be switched so that `E` is actually a dependency of `D` but runs afterwards.

[2017-11-03 12:33] jmeberlein commented on #1907
The actual use case: I'm using Cake to support development across Windows and Linux. It currently has most of the same features as other tools like Visual Studio, but because of how I'm using it, there's no way to say "I only changed this one file, so don't recompile this project's dependencies, only the rest of the chain". It's not vital to have that feature, but it would certainly be nice.

A ge

[2017-11-03 12:42] jnm2 commented on #1772
I wanted this yet again yesterday:

[code]

Of course, I could just always do the extra cleaning in case tests are going to be run so this isn't the best example.

[2017-11-03 12:59] jmeberlein commented on #1907
Changed the name to call them "post-dependencies" instead of "forward-only reverse dependencies", because I realized after opening this that that's a clearer name.

[2017-11-03 20:30] CRuppert opened #1908 "Octopus Deploy tool does not support list-deployments call for octo.exe"
### What You Are Seeing?
missing feature for list-deployments implementation for octo.exe
### What is Expected?
implementation with filter support for octo.exe list-deployments
### What version of Cake are you using?
Current
### Are you running on a 32 or 64 bit system?
All
### What environment are you running on?  Windows? Linux? Mac?
Windows
### Are you running on a CI Server?  If so, which one?

[2017-11-03 20:32] gep13 commented on #1908
Gitter discussion was here: https://gitter.im/cake-build/cake?at=59fcd032e44c43700ab46105

[2017-11-04 04:12] jnm2 opened #1910 "MSBuild property values should escape carriage return and line feed"
Without escaping these, there's no way to set a multiline property value such as `PackageReleaseNotes` for the MSBuild [Pack target](https://docs.microsoft.com/en-us/nuget/schema/msbuild-targets).

I saw that you're doing URL encoding when semicolons are present and indeed, the same trick works for CRLF:

[code]

However, I shouldn't be URL-encoding myself- what if one of the lines contains a semi

[2017-11-04 06:19] ahoefling commented on #1892
I did some investigation on this and I came to the same conclusion, it appears that Cake is using NuGet version 4.3 and there have been changes to NuGet 4.4 that directly apply to the latest windows fall creators update and netstandard builds. If I run the command `nuget restore project.sln` with NuGet 4.3 I get errors but if I run the same command with NuGet 4.4 the restore runs without issue.

*

[2017-11-04 10:27] gep13 commented on #1892
@thnk2wn @ahoefling since these issues seems to be related to the bootstrapper that is provided with Cake, I am going to close this issue out, and move it to the resources repo, which is where the bootstrapper lives.

[2017-11-04 10:27] #1892 closed

[2017-11-04 10:27] gep13 commented on #1892
Issue moved to [cake-build/resources #41](https://github.com/cake-build/resources/issues/41) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-04 13:20] RavinduL opened #1911 "Look for cake.ini instead of cake.config"
The current format for the Cake configuration file `cake.config` is that of the [INI file format](https://en.wikipedia.org/wiki/INI_file). Its `.config` extension makes many text editors syntax highlight it wrong, or report errors, or as Visual Studio does, both,

![cake.config](https://user-images.githubusercontent.com/7352580/32405678-ea672026-c18f-11e7-944f-4347a07da59d.png)

![cake.ini](https:

[2017-11-04 17:22] jnm2 commented on #787
I'm trying to create an addin where you don't have to do anything special to an OOB cake script. Rather than bundling dependencies inside the nupkg, I'd much rather use nuspec dependencies. I see the `netstandard1.6` dependencies are installed in the correct addins folder but they are not referenced when running Cake under CoreCLR, causing the addin to fail to load. Am I doing something wrong, or

[2017-11-04 17:30] devlead commented on #787
@jnm2 Have you opted for using in proc and load dependencies?

As per documented at:
https://cakebuild.net/docs/fundamentals/default-configuration-values

[2017-11-04 18:15] jnm2 commented on #787
The problem is that this is an addin. It should work out of the box and without constraining folks' build script setups.

[2017-11-04 18:38] devlead commented on #787
If opt in sort it now, then it'll work out of the box when we make it default in the future.

[2017-11-04 20:35] jnm2 commented on #787
As soon as I add `--nuget_useinprocessclient=true`, it stops respecting the nuget.config. I added `--nuget_source=` but then it didn't download anything from nuget.org. So I can't even test that.

[2017-11-04 21:17] jnm2 commented on #787
Oh no, I just hit a dead end on the other side! It doesn't look like it's possible to include System.Data.SqlClient in the nupkg– it doesn't get copied to build output but rather listed in a .deps.json which I guess I'd have to parse and resolve? Plus it's not really the right solution since another addin may load a conflicting version of the System.Data.SqlClient package.

Looks like the only way

[2017-11-06 10:19] gep13 commented on #1911
@RavinduL can you please confirm which editor you use to edit this file, typically?

[2017-11-06 10:21] gep13 commented on #1911
@RavinduL also, can you confirm if you are using the Cake extension for that editor?

[2017-11-06 13:18] RavinduL commented on #1911
@gep13 I usually use Visual Studio, with the [Cake for Visual Studio](https://github.com/cake-build/cake-vs) extension, or Visual Studio Code with the [Cake](https://marketplace.visualstudio.com/items?itemName=cake-build.cake-vscode) extension.

[2017-11-06 13:23] gep13 commented on #1911
@RavinduL okay, perfect, thank you for letting me know.

[2017-11-06 23:59] rdehuyss opened #1912 "Support for DotCover Process Filter"
### What You Are Seeing?
I can not specify processfilters for dotcover

### What is Expected?
I can specify processfilters for dotcover

### What version of Cake are you using?
Latest and greatest, v0.23
### Are you running on a 32 or 64 bit system?
N/A

### What environment are you running on?  Windows? Linux? Mac?
Windows

### Are you running on a CI Server?  If so, which one?
Yes, teamcity

###

[2017-11-08 14:38] gep13 commented on #1911
@RavinduL we added ini support for the `cake.config` file in the recent release of the VSCode Extension for Cake.  You can see this in action here:

https://youtu.be/ZgLWyIxFl8U

[2017-11-08 15:51] jnm2 commented on #1878
I think we should have `.ToEnum<SomeEnum>()` as a general extension method, and something similar to:

`ArgumentAsEnum("argumentName", SomeEnum.DefaultValue)`
`EnvironmentVariableAsEnum("envVarName", SomeEnum.DefaultValue)`

Maybe even drop the `AsEnum`?

[2017-11-08 15:55] jnm2 commented on #1878
Question: should `.ToEnum<>()` throw if the string is null or empty or doesn't match any enum field?
What about `ArgumentAsEnum` and `EnvironmentVariableAsEnum`, should they return the default value in those cases?

[2017-11-09 04:24] RavinduL commented on #1911
@gep13 syntax highlighting for `Cake.config` in VS Code! Nice 👍. Is a similar feature planned to be shipped with Cake for VS?

[2017-11-09 05:05] gep13 commented on #1911
@RavinduL yes, that is the plan. Not sure when that will happen though.

[2017-11-09 05:50] RavinduL commented on #1911
@gep13 have you considered the second proposal at https://github.com/cake-build/cake/issues/1911#issue-271191667 wherein Cake could prefer a `cake.ini` file, but support both?

Doing so wouldn't require you to change the Visual Studio plugin, or develop plugins for _any_ text editor for this purpose.

[2017-11-09 05:56] gep13 commented on #1911
@RavinduL we have spoken about it, yes. However, this is more work than it sounds. For example that cake.config file is read by Cake, Cake.Bakery, within the Cake Extension for Visual Studio, etc. So changing it to be called cake.ini means updates to all of those other components. Not saying that might not do that work, but for now, it is easier to add this type of support to the editors we suppor

[2017-11-09 05:58] RavinduL commented on #1911
Oh.

[2017-11-09 07:12] gep13 commented on #1911
@RavinduL why did you close this issue?

As I said, I didn't say that we `wouldn't` do this, but rather, for now, it is more work than we want to take on immediately.  The interim solution is to provide support for ini content in the supported editors.

[2017-11-09 08:07] RavinduL commented on #1911
@gep13 I see.
I apologize -- I misunderstood your intentions.

[2017-11-09 08:50] gep13 commented on #1911
@RavinduL not a problem, just wanted to check 👍

[2017-11-09 13:22] jnm2 commented on #1911
Usually having two ways of doing the same thing comes at a cost. I'd be against it.

[2017-11-10 13:45] mdesousa opened #1914 "Ability to look ahead for tasks that will be executed"
I would like to run certain tasks differently depending on which tasks will be executed later in the build. This would allow me to optimize the execution by looking ahead at what will be required.
For example, if I have a "Build" task that is going to invoke MSBuild, I would like to default the configuration to "Release" if I see that later the build needs to execute a "Publish" task. If that won'

[2017-11-10 15:26] patriksvensson opened #1915 "Only set working directory on process runner if set in settings"
We should not explicitly set a working directory if none have been specified in the settings.

So [this assignment](https://github.com/cake-build/cake/blob/develop/src/Cake.Core/IO/ProcessRunner.cs#L78) should only be made if `ProcessSettings.WorkingDirectory` have been set.

[2017-11-10 16:33] jnm2 commented on #1914
I've been asking for exactly this kind of thing: https://github.com/cake-build/cake/issues/1772

[2017-11-10 18:42] adogg commented on #1416
Hi,

Can someone explain what will happen if you have several Team City agents running on the same machine and all of them starting to build different branches at the same time? Will be there a race condition for env.Git_Branch or not?

[2017-11-12 08:24] adogg commented on #1416
@aateeque , @devlead Guys, can you please clarify question above for me? Thanks

[2017-11-12 08:37] patriksvensson commented on #1416
Environment variables are set on process level so it should not be a problem.

[2017-11-12 08:40] adogg commented on #1416
@patriksvensson , thanks!

[2017-11-13 11:37] colinangusmackay commented on #1882
It occurs to me that `CreateDirectory` does not throw an exception if the directory already exists. So, for consistency, `CreateDirectory` either should throw an exception or `DeleteDirectory` should not.

[2017-11-13 16:05] jnm2 commented on #1882
I do agree with that. Especially because we also have `EnsureDirectoryExists`.

[2017-11-14 13:20] wojciechrak opened #1917 "DotNetCorePublish OutputDirectory is not relative to WorkingDirectory"
`DotNetCorePublishSettings` has a property `WorkingDirectory` which I set to my project dir relative to repository root (where my cake.build file is). eg, `./source/MyProject`.
There is also a property `OutputDirectory` which I set to `./obj/Docker/publish`.

Now I would assume, that output directory would be relative to working dir, but it's not - it is relative to cake.build file (aka repository

[2017-11-15 07:01] Roemer commented on #1818
I would have suggested `IsRequiredFor` which would make it easier to see very quickly what kind of depencendy it is. Now you need to read it really carefully and only the last characters diverge.

[2017-11-15 13:02] gep13 opened #1918 "Update to .NET Core Runtime 1.0.8"
As a result of the declared CVE:

https://github.com/dotnet/announcements/issues/44

[2017-11-15 15:34] devlead commented on #1918
@gep13 I'll take a look at addressing this.

[2017-11-17 05:28] JonCubed opened #1919 "NuGet Sources Command output has changed"
I was trying out the NuGet Aliases and found that `HasSource` was not working. After some investigation and running the command `nuget sources list` manually I can see that the output format

[code]

has changed and is not was is expected by the alias (L#142)

https://github.com/cake-build/cake/blob/3dccfa1dec00c17b6c038d2564a99cc36d03598a/src/Cake.Common/Tools/NuGet/Sources/NuGetSources.cs#L141-L

[2017-11-17 14:00] johankson opened #1920 "Cannot build tests for cake on Mac OS X"
### What You Are Seeing?
Cannot build tests for cake on Mac OS X

### What is Expected?
Package restore cannot be performed

### What version of Cake are you using?

### Are you running on a 32 or 64 bit system?
64-bit

### What environment are you running on?  Windows? Linux? Mac?
Mac

### Are you running on a CI Server?  If so, which one?
No

### How Did You Get This To Happen? (Steps to Reprodu

[2017-11-17 14:01] patriksvensson commented on #1920
@johankson Thanks for reporting this.

Since no one (afaik) in the Cake team owns a mac, we would rely on the community to provide a fix for this.

[2017-11-17 14:05] ckolumbus commented on #156
Any progress on this topic? I'd like to have such a feature to speed up large project builds.

[2017-11-17 14:08] patriksvensson commented on #1920
@johankson I updated the title of the issue.

[2017-11-18 03:10] bookman220 commented on #1561
@kcamp @patriksvensson Do you guys have any suggestions?

[2017-11-18 03:15] patriksvensson commented on #1561
@bookman220 You seem to have a custom nuget source pointing at `myget-2e16-kxcdn.com`. Have you removed the default nuget source?

[2017-11-18 08:36] bookman220 commented on #1561
@patriksvensson I would have done no such thing intentionally. Any tips on how I might restore the default one?

[2017-11-18 15:23] jnm2 commented on #1561
Maybe find the config file that is overriding the defaults? https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior#config-file-locations-and-uses

[2017-11-18 18:53] mholo65 commented on #1920
I had a friend with Mac test this, and this is the error he got
[code]
Seems like conditionals is broken in VS4MAC https://developercommunity.visualstudio.com/content/problem/83448/vs-mac-preview-does-not-support-csproj-condition-f.html

[2017-11-20 14:37] Cheesebaron opened #1922 "GitVersion is missing AssemblySemFileVer"
### What You Are Seeing?
Running GitVersion something like this is output when using Json format:

[code]

However, the `GitVersion` class does not contain the definition for `AssemblySemFileVer`

### What is Expected?
`AssemblySemFileVer` to be present. Needs to be added to the class so it can be deserialized.

### What version of Cake are you using?
Latest 0.23.0

### Are you running on a 32 or

[2017-11-20 19:36] #1910 closed

[2017-11-20 21:30] mholo65 opened #1924 "Set UserAgent for in process nuget"
Set to e.g. `Cake (C# Make)`...

Here are some hints.. https://github.com/NuGet/NuGet.Client/blob/4eed67e7e159796ae486d2cca406b283e23b6ac8/src/NuGet.Core/NuGet.Protocol/UserAgent.cs#L10

https://github.com/NuGet/NuGet.Client/blob/c282092fc575891b30186d7baa1962ce3fb1d4b4/src/NuGet.Core/NuGet.Protocol/UserAgentStringBuilder.cs#L27

[2017-11-22 07:40] zplan commented on #1881
Workaround to solve this issue is to remove the ProjectDependencies and move the Test.wixproj at the end of the project list in the sln file. With this it will be built at the end our the build chain.
Why this build ordering has changed with cake 23.0 is still unclear for me but at least I can proceed with version 23.0 now.

[2017-11-22 20:02] Thealexbarney opened #1926 "Signtool resolver should choose the newest version found"
When there are multiple Windows SDK versions installed, Cake should use the most recent signtool version found. Older versions can cause issues in some cases.

I don't know exactly which signtool versions will cause the issues I'm hitting. I have the Windows 8.1 SDK and Windows 10.0.16299.0 SDKs installed. If I build an appx package with the 10.0.16299.0 SDK, the 8.1 signtool will error when signi

[2017-11-24 09:52] kimbell opened #1927 ""Index was outside the bounds of the array" from dotnet CLI"
I'm running Cake 0.23.0 locally on Windows 10 Pro 64 bit version.

In my Cake script I've been using "" for the project in order to let the CLI tools figure out things. I basically want to build everything.
[code]
This worked fine with the 1.1 tooling, but fails with the 2.0 tooling.

Turning on diagnostics information, I see that following command is being called
`"C:/Program Files/dotnet/dotnet.

[2017-11-24 13:25] cosminstirbu opened #1928 "SpecFlowStepDefinitionReport throws exception on macOS 10.12.6"
### What You Are Seeing?
Using *SpecFlowStepDefinitionReport* on my macOS I receive the following error:

[code]

I think the issues comes from *\* being appended instead of */* in /Users/cosminstirbu/xamarin-continuous-integration/UITests/Features\AddItem.feature

### What is Expected?

*SpecFlowStepDefinitionReport* should not throw exception

### What version of Cake are you using?

0.23.0

###

[2017-11-25 19:26] mholo65 commented on #1928
It seems like this is a issue with `SpecFlow` itself. When running a `StepDefinitionReport` you just give the path to the`csproj` containing your `.feature` files. `SpecFlow` seems to create the path incorrectly (using `\` instead of `/` as the last directory separator).

Can you reproduce same issue without Cake by running `mono tools/specflow/SpecFlow/tools/specflow.exe stepdefinitionreport "/Us

[2017-11-25 19:48] mholo65 commented on #1877
Need to investigate why in-process NuGet doesn’t like V2 feeds. It *should* work, since `nuget.exe` uses the same `NuGet.Client` libraries we use in `Cake.NuGet`.

@daveaglick, ever noticed same issues with Wyam?

[2017-11-25 20:00] mholo65 commented on #1698
@louisfischer now when we have our own NuGet client implementation in `Cake.NuGet` it should be possible to implement support for honoring `<frameworkAssemblies>`. Would like to take a stab at that?

[2017-11-26 01:49] louisfischer commented on #1698
@mholo65 I will take a look at it and submit a PR.

[2017-11-26 03:01] mholo65 commented on #1698
Awesome, thanks! Hint, you should be able to get the framework references from the NuSpec somewhere around here... https://github.com/cake-build/cake/blob/develop/src/Cake.NuGet/Install/NuGetFolderProject.cs#L61

[2017-11-26 09:44] cosminstirbu commented on #1928
Hi @mholo65

You are right, the issue reproduces even if I use `specflow.exe` directly.
I've even updated to the latest `Specflow` version 2.2.1 and it still reproduces.

I'll create a ticket on the `Specflow` project, you can close this one.

Thank you!

[2017-11-26 09:46] mholo65 commented on #1928
Thanks for testing. Closing this as issue is in SpecFlow.

[2017-11-26 09:46] #1928 closed

[2017-11-26 09:56] cosminstirbu commented on #1928
Just for reference, in case anyone hits this issue - this is the `Specflow` corresponding issue: https://github.com/techtalk/SpecFlow/issues/975

[2017-11-26 19:50] monis256 opened #1929 "Unable to execute build.sh in Ubuntu due to "Error: Method 'String.Format' not found." Exception"
### What You Are Seeing?
C# build error on the 0.23.0 version of cake nuget package

### What is Expected?
The build.sh & build.cake script should run without error

### What version of Cake are you using?
0.23.0

### Are you running on a 32 or 64 bit system?
64 bit. A WSL on Windows 10
### What environment are you running on?  Windows? Linux? Mac?
Linux --> `Distributor ID: Ubuntu
Description:

[2017-11-26 23:23] devlead commented on #1929
Which version of mono are you using? Cake requires Mono 4.4.2 or later.

[2017-11-27 08:56] LaoR-UA opened #1930 "The "out" parameters are not compiled properly."
### What You Are Seeing?
When I create alias that accepts out parameters - cake will generate not working code.
For example, the method:

[code]

Will generate wrapper:
[code]
And this leads to a lot of errors due to "&" symbol at the end of out parameter type declaration.

### What is Expected?
I expect to see properly generated wrapper and able to use "out" parameters.

### What version of Cake

[2017-11-27 13:02] jnm2 commented on #1930
Now that Cake is on Roslyn, what if you generated syntax nodes in code rather than generating text?

[2017-11-27 14:39] LaoR-UA commented on #1930
I do not generate anything, it was done by Roslin on compile stage.

[2017-11-27 14:46] jnm2 commented on #1930
@LaoR-UA Sorry I wasn't clear; I was addressing the Cake team.

[2017-11-27 14:57] Cheesebaron opened #1931 "Allow passing a nuget.config as environment variable or in cake.config"
### What You Are Seeing?
When trying to use tools in a private NuGet feed such as one in VSTS, NuGet.exe needs a config with credentials. Currently we need to rely on NuGet.exe or the in-process NuGet client to figure out which nuget.config to use.
It seems to be very hit and miss.

### What is Expected?
I want to be able to either set which nuget.config should be used through cake.config or an En

[2017-11-27 17:12] monis256 commented on #1929
Running on Mono 4.4.3

[2017-11-27 18:18] Cheesebaron commented on #1929
Where did you get this version from? According to [packages.ubuntu.org](https://packages.ubuntu.com/xenial/mono-complete) the mono-complete package is version 4.2.1.

Any chance you can try something newer than a more than a year old version of mono?

[2017-11-27 18:47] devlead commented on #1929
Xamarin provides packages newer than what the distributions officially provide. I would assume 4.4.3 should work as it's newer than 4.4.2 which is what we build Cake with on Linux. Wonder if this is a WSL issue, you could try a newer version of mono, which you can download here:
http://www.mono-project.com/download/#download-lin-ubuntu

[2017-11-27 19:36] Cheesebaron commented on #1929
I've seen this Array.Empty thing before when developing for Xamarin.Android and Xamarin.iOS. This is because .NET 4.5 does not contain `Array.Empty<T>` while .NET 4.6 does. Could look like mono 4.4.3 might have a regression, since this should be there since 4.2.0 (c6).

[2017-11-27 22:55] robsammons opened #1933 "NuGetPackSettings.Properties does not support whitespaces."
### What You Are Seeing?

Issue using "Properties" field on NuGetPackSettings. the properties are not being enclosed in " when being resolved into a command line
i.e.

**pack "/Working/existing.csproj" -Properties Configuration=Release;Foo=Bar**

Should be

**pack "/Working/existing.csproj" -Properties "Configuration=Release;Foo=Bar"**

### What is Expected?

**pack "/Working/existing.csproj" -Pro

[2017-11-28 13:18] devlead commented on #1930
Fixed by #1934

[2017-11-28 13:18] #1930 closed

[2017-11-28 14:21] #1922 closed

[2017-11-28 15:42] devlead commented on #1918
Note to self: don't forget integration tests. Also to get 1.0.8 we'll need to install 1.1.5.

[2017-11-29 03:06] monis256 commented on #1929
Downloading the latest version of mono (5.4.1.6) seems to have solved the problem.

[2017-11-29 04:11] louisfischer commented on #1698
@mholo65 I was reviewing the code and running some of the tests just to get familiar with cide. I noticed that when I install an a nuget package in cake script, it never actual seems to use the NuGetPackageInstaller.cs located below the install folder.

![image](https://user-images.githubusercontent.com/1905010/33357489-004f2b4e-d488-11e7-8e13-eee4079c03a0.png)

It always sees to be using the NuGe

[2017-11-29 04:51] mholo65 commented on #1698
@louisfischer the stuff in the Install folder is used when using In-Process NuGet client. Try passing `—nuget_useinprocessclient=true` to Cake.exe when debugging and it will work.

The correct package installer is registered in IoC here, based on that config value https://github.com/cake-build/cake/blob/develop/src/Cake.NuGet/NuGetModule.cs#L54.

[2017-11-29 10:41] flcdrg opened #1937 "UseInProcessClient=true is slow"
### What You Are Seeing?
If I set `UseInProcessClient=true` in cake.config, then it seems that Cake does a query for every #tool and #addin directive in the build.cake file, even if those package have been previously downloaded

### What is Expected?
Packages that already exist locally should not require a network query to confirm that the package exists.

### What version of Cake are you using?
0

[2017-11-29 11:00] gep13 commented on #1937
@mholo65 thought you should get mentioned in this issue.

[2017-11-29 22:33] #1874 closed

[2017-11-30 00:44] kcamp opened #1939 "Bug - TypeExtensions.GetFullName doesn't handle nested types correctly"
While fixing GH-1930 the other night, some of the tests for `ParameterEmitter` caught my eye (seemed to be asserting the wrong "expected" values).  With fresh eyes, I wrote some red/green tests against the `MethodAliasGenerator` to prove what I was seeing was in fact wrong.

### What You Are Seeing?
The code generation for _some_ nested types is being emitted with the + sign in the type name.  i.e

[2017-11-30 05:17] devlead commented on #1833
fixed by #1867

[2017-11-30 05:17] #1833 closed

[2017-11-30 12:02] devlead commented on #1939
Fixed by #1940

[2017-11-30 12:02] #1939 closed

[2017-12-01 03:32] nate-datafinch commented on #1248
This still appears to be broken...

It might also be a duplicate of https://github.com/cake-build/cake/issues/172

Here's the output of a fairly benign argument string being passed.  You can see the arguments to the powershell script, below "Running build script..." I print the values of the parsed arguments. Every single argument ends up using the default value except for the first, "environment"

[2017-12-04 13:11] volak commented on #1684
Just ran into this issue - only need to know if its building on VSTS so now I'm doing
`var isVSTS = buildSystem.TFBuild.IsRunningOnVSTS || buildSystem.TFBuild.IsRunningOnTFS;`
instead of just `IsRunningOnVSTS `

[2017-12-05 18:24] nick4fake commented on #1927
Looks like a bug in dotnet. We experience similar behavior:
[code]

[2017-12-05 20:49] tugberkugurlu commented on #1927
I am getting the same:

[code]

when running:

[code]

I have this version.props which I am referencing from all projects:

[code]

Let me know if you need anything else from me to repro this. I will try to get a clean repro project as well.

[2017-12-05 20:54] tugberkugurlu commented on #1927
This worked as expected:

[code]

[2017-12-06 15:25] RichardJFoster opened #1943 "Chocolatey package dependencies cannot be set using the ChocolateyPackSettings"
This problem affects Cake 0.23.0

The ChocolateyPackSettings class does not contain any mechanism to add package dependencies.

The expected operation is that the ChocolateyPackSettings has a Dependencies property that mirrors the Dependencies property already present in the NuGetPackSettings.

This problem was first observed on a 64 bit Windows system, but an examination of the source suggests th

[2017-12-06 15:35] RichardJFoster commented on #1943
So... I was looking at implementing this so I could submit a PR. The implementation is easy, but I am having difficulty working out how to unit test the change. It looks as if the unit tests are based on the abstract ChocolateyFixture (by way of the ChocolateyPackerFixture), but neither the ChocolateyPackerWithNuSpecFixture or the ChocolateyPackerWithoutNuSpecFixture currently appear to contain an

[2017-12-06 15:41] gep13 commented on #1943
@RichardJFoster The Chocolatey Pack tests are here:

https://github.com/cake-build/cake/blob/develop/src/Cake.Common.Tests/Unit/Tools/Chocolatey/Pack/ChocolateyPackerTests.cs

Seems like you are looking in the Fixtures folder, which contains the setup logic for running the actual tests.

[2017-12-06 15:43] gep13 commented on #1943
If you look at this file:

https://github.com/cake-build/cake/blob/develop/src/Cake.Common.Tests/Unit/Tools/NuGet/Pack/NuGetPackerTests.cs

You will find the where the dependencies are tested in the NuGet version.

[2017-12-06 15:48] RichardJFoster commented on #1943
Aha! Excellent. I was looking in the wrong place. :-) Thanks for the pointers.

[2017-12-06 20:34] gep13 commented on #1943
@RichardJFoster you are very welcome!  Let us know if you have any questions!

[2017-12-07 13:14] Eldadc opened #1944 "Cake in offline environment."
Hi Team,

I am setting up cake script in Jenkins CI system in offline environment ,(i.e. : no connection to the outside internet )
I was able to do so with editing few steps in the build.ps1 script. I am still have some issue when the script does not check if the build need to restore nugets , although it needs. ( SkipToolPackageRestore,)
I was wondering Is there a manual on how to do it as best p

[2017-12-07 13:32] gep13 commented on #1944
@eldadc this needs to be written up into an article, but i recorded a video about this here:

https://youtu.be/wkPN9CZCZFM

[2017-12-07 13:48] Eldadc commented on #1944
THANKS .

[2017-12-07 14:07] RichardJFoster commented on #1943
No questions for now. Just waiting on the contribution license email, but if there are comments on the PR in the mean time I'm all ears. :-)

[2017-12-07 19:27] nukefusion commented on #1248
Comma separate the ScriptArgs, e.g.

-ScriptArgs '--environment=Production','--buildNumber=47'

[2017-12-08 08:39] RaringCoder commented on #1933
I just ran into this issue and manually wrapping the first argument and the last parameter in quotes as detailed here did the trick. Easy thing to get fixed too.

[2017-12-08 16:53] Sergej-Popov commented on #1248
So it seems when running from CMD params need to be passed in this format: `--target=Default --buildVersion=1.0.0.577`. Worked for me in TeamCity using PowerShell task. Thanks, @nukefusion !

[2017-12-09 16:28] Eldadc commented on #1944
Thanks on the detailed session.
I have 2 issues that were not cover.
What are the changed in the script I put the package.config and nuget in UNC folder in the network. ?
Today my package.config is part of the project i notice that the SkipToolPackageRestore is set always skipping nuget restore.

[2017-12-09 18:31] djdelaney opened #1946 "Add option to pack files into the NuGet tool directory"
The Cake NuGet pack tool doesn't expose the "-Tool" option to output files into the nuget "tool" directory. This is useful when building packages designed for delivering tools (such as cake tools).

https://docs.microsoft.com/en-us/nuget/tools/cli-ref-pack

[2017-12-09 19:06] gep13 commented on #1946
@djdelaney this seems like a good addition. Are you in a position to do a PR?

[2017-12-09 19:07] gep13 commented on #1946
Today, it would be possible to add this option using the ArgumentCustomization method, but direct support for the argument also makes sense.

[2017-12-09 19:12] djdelaney commented on #1946
I'll submit a PR shortly :-)

[2017-12-11 14:05] #1933 closed

[2017-12-12 20:16] #1918 closed

[2017-12-12 22:11] devlead commented on #1915
fixed by #1935

[2017-12-12 22:11] #1915 closed

[2017-12-12 23:50] devlead commented on #1943
Fixed by #1945

[2017-12-12 23:50] #1943 closed

[2017-12-13 08:27] patriksvensson opened #1950 "Allow Cake modules to be bootstrapped by Cake in a pre-processing phase"
It would be nice if Cake itself could bootstrap modules in a pre-build phase.
I've created PR https://github.com/cake-build/cake/pull/1942 for this.

[2017-12-13 09:56] devlead commented on #1855
Fixed by  #1868 and #1925

[2017-12-13 09:56] #1855 closed

[2017-12-13 10:08] patriksvensson commented on #1927
@kimbell Have you tried pointing `dotnet build` at the solution file? That's what I generally do.

[2017-12-13 10:35] #1809 closed

[2017-12-13 10:38] zplan opened #1951 "Enhance VSTestSettings with all vstest.console.exe command line options"
### What You Are Seeing?
Cake VSTestSettings supports only a subset of vstest.console.exe console options -->
https://cakebuild.net/api/Cake.Common.Tools.VSTest/VSTestSettings vs "vstest.console.exe console -?"

### What is Expected?
Cake VSTestSettings should support ALL vstest.console.exe console options (e.g. Port, Blame, Framework as string or enhanced enum)

or

Provide a generic API to injec

[2017-12-13 10:52] devlead commented on #1929
@monis256 so am I right to assume this isn't an issue with Cake but mono?

[2017-12-13 10:54] devlead commented on #1893
Issue moved to [cake-build/cake-vs #84](https://github.com/cake-build/cake-vs/issues/84) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-13 10:54] #1893 closed

[2017-12-13 11:01] devlead commented on #1885
I'm going ahead and going to close this issue, please feel free to reopen or create a new issue if you have any more questions.

[2017-12-13 11:01] #1885 closed

[2017-12-13 11:50] devlead commented on #1946
Fixed by #1947

[2017-12-13 11:50] #1946 closed

[2017-12-14 08:09] gep13 commented on #1944
@Eldadc you should not need to make any changes to the packages.config file.  For using a UNC path, the required changes should be similar to those that were made in the video.  In the video I had assumed that the source would need to be changed to be an internal NuGet Server, for example Nexus.  If using a UNC path, you should be able to switch to using that, rather than the http address of the N

[2017-12-14 12:46] Eldadc commented on #1944
Hi,

Thanks on the detailed answer and follow up.
UNC - got it ,  Do I need any adjustment with the PS syntax ?

I debug my build.ps1 and I noticed that SkipToolPackageRestore will skip the restore package commands although there are no packages.  I store my tools\package.config file in my source control.
Do I need to edit also the SkipToolPackageRestore switch ? , Can I remove the "if" check stat

[2017-12-14 13:21] gep13 commented on #1944
Have a look here:

https://blog.nuget.org/20150922/Accelerate-Package-Source.html

For further information.

No, you shouldn't need to edit any of that.  In order for your build to work, you will still need to restore things, it is just that you are restoring from an internal location, rather than from the internet.

[2017-12-15 02:52] phillipsj commented on #1811
This one is hanging out here, I will take it.

[2017-12-15 02:57] phillipsj commented on #1644
So I have started doing exactly this:  https://github.com/phillipsj/dotnet-cake

I think it would be easier to just
[code]
The run the command like above

[code]
I have slowed down on it, but with the recent talk of bringing more of the bootstrapper into Cake itself, this is going to be a little simpler.

[2017-12-15 07:32] devlead commented on #1811
@phillipsj Excellent I've assigned issue to you.

[2017-12-15 13:50] Roemer commented on #1800
The change is documented here: https://github.com/cake-build/cake/pull/1666

As a quick summary, the results should now be defined like this:
[code]

[2017-12-15 17:14] jonstelly commented on #514
Reviving an old topic, but this is exactly what I'm running into.  I can appreciate the logic for the current behavior and don't think changing it is right, but finding some way to express this would be helpful.  For me:

if `A.IsDependentOn(B)` and `B.WithCriteria(false).IsDependentOn(C).IsDependentOn(D)`

I'm only running C and D to support B, so if B isn't going to run, I don't need or want to

[2017-12-15 19:43] monis256 commented on #1929
@devlead yes this issue was with old version of Mono. I guess Cake needed the latest

[2017-12-15 22:15] kcamp opened #1952 "Add support for class/namespace/method arguments for XUnit2"
It would be useful to have a way to natively support targeting namespace/class/method tests via the XUnit2 console runner.

[code]

I've made a pass over this functionality; will submit PR shortly

[2017-12-16 00:26] phillipsj commented on #1800
Happy to take this and do the PR.  Just let me know.

[2017-12-16 23:35] gabrielweyer opened #1955 "ResultsDirectory is missing from DotNetCoreTestSettings"
Since `2.0.0`, `dotnet test` added the `results-directory` option:

[code]

[2017-12-17 20:58] mholo65 opened #1957 "Use working directory instead if initial script path for resolving tools directory in NuGetLoadDirectiveProvider"
See https://github.com/cake-build/bakery/issues/89#issuecomment-351853162

Changing line https://github.com/cake-build/cake/blob/39520c3c3499ecd80d93979b28b8cc94e30033de/src/Cake.NuGet/NuGetLoadDirectiveProvider.cs#L56
to `var toolPath = GetToolPath(_environment.WorkingDirectory);` should result in exact same behaviour in Cake, since working directory is set to initial script´s directory here:
htt

[2017-12-17 21:21] mholo65 opened #1959 "Compilation warnings when building tests"
[code]
Related to https://github.com/nsubstitute/NSubstitute/issues/310

Updating NSubstitute should fix this... PR incoming.

[2017-12-17 21:26] mholo65 opened #1960 "Update Roslyn to 2.6.1"
2.6.x is available and will bring C# 7.2 features. We should update.
https://www.nuget.org/packages/Microsoft.CodeAnalysis.Scripting/

PR incoming...

[2017-12-17 21:44] mholo65 commented on #494
Fixed! If anyone missed this. Here's a blog post:
https://cakebuild.net/blog/2017/11/intellisense-vscode

[2017-12-17 21:44] #494 closed

[2017-12-18 03:34] jnm2 commented on #494
# :tada:

[2017-12-18 10:10] #1960 closed

[2017-12-18 10:47] MeikTranel opened #1967 "Executing cake script from PS bootstrapper prompts full framework 4.6.1 install prompt"
### What You Are Seeing?

![image](https://user-images.githubusercontent.com/6466560/34101811-39d88bda-e3e7-11e7-859c-4b10f671e396.png)

### What is Expected?

Cake starts compiling, gathering tools and run the script

### What version of Cake are you using?
0.23

### Are you running on a 32 or 64 bit system?

64-bit

### What environment are you running on?  Windows? Linux? Mac?

Windows 8.1 Pro

[2017-12-18 12:05] #1796 closed

[2017-12-18 12:32] #1959 closed

[2017-12-18 12:59] #1652 closed

[2017-12-18 13:32] #1811 closed

[2017-12-18 14:41] #1924 closed

[2017-12-18 22:57] patriksvensson opened #1968 "Add interface for AssemblyVerifier so that it can be mocked"

[2017-12-18 23:49] Marusyk commented on #1968
So, can I try to do that?

[2017-12-19 06:56] fwinkelbauer opened #1970 ""Native" support for MSTest v2"
# Backstory

`MSTest.exe` was the primary tool used to execute unit tests written using Microsofts own Unit Testing framework in Visual Studio. This command line tool has been replaced by `vstest.console.exe` in newer versions of Visual Studio.

Microsoft introduced a new version of the MSTest framework called [MSTest v2](https://blogs.msdn.microsoft.com/devops/2016/06/17/taking-the-mstest-framewo

[2017-12-20 22:58] phillipsj opened #1971 "Adds extensios for ProcessBuilder for Null or Empty string checks."
I find myself writing this code a lot:

[code]
I would like to add the following extension method or method to the ProcessArgumentBuilder to make this scenario easier.

[code]

Then the code would look like this:

[code]

I think the name could be made shorter.

[2017-12-21 15:52] #1957 closed

[2017-12-22 01:18] mit-jamie-clayton commented on #1696
Just looking back at this issue and I resolved this with the following change.
`
 if (IsRunningOnWindows())
    {
        // Use MSBuild
        MSBuild(buildSolutionFile, settings => settings
            .SetConfiguration(buildConfiguration)
            .UseToolVersion(MSBuildToolVersion.VS2017)
            .SetPlatformTarget(PlatformTarget.MSIL) // ANY CPU
            .WithTarget("Build")

[2017-12-22 10:34] devlead commented on #1950
Fixed by  #1942

[2017-12-22 10:34] #1950 closed

[2017-12-22 10:35] devlead commented on #1952
fixed by #1953

[2017-12-22 10:35] #1952 closed

[2017-12-22 10:57] #1968 closed

[2017-12-22 11:38] devlead commented on #1931
fixed by #1932

[2017-12-22 11:38] #1931 closed

[2017-12-23 12:15] #1692 closed

[2017-12-25 20:34] sm-g opened #1973 "Add Products prop to VSWhereSettings"
To use cake on build agent without installed VS (only with Build Tools), I have to use ArgumentCustomization:

[code]

[2017-12-25 20:48] devlead commented on #1973
There's a [VSWhereProducts](https://cakebuild.net/api/Cake.Common.Tools.VSWhere/VSWhereAliases/71480628)  alias available for this use case

[code]

[2017-12-25 21:05] sm-g commented on #1973
Sorry, did not notice this.

It returns `DirectoryPathCollection`, how to get single path of latest tool then?

[2017-12-25 23:08] phillipsj commented on #1973
It should only return one of you ask for latest.  Just pull out the first
item.

On Mon, Dec 25, 2017, 4:05 PM sm-g <notifications@github.com> wrote:

[2017-12-26 01:30] tuyen-vuduc commented on #1690
I faced the same issue when running scripts cloned from this repo https://github.com/xamarin/AndroidSupportComponents.

The running script is
[code]
Without `--target libs`, this issue will be gone; however, that's a custom argument of the script.

[2017-12-26 05:59] devlead commented on #1690
When invoking Cake directly the syntax would be:
'exec mono ./tools/Cake/Cake.exe build.cake --target=libs`

[2017-12-26 08:08] sm-g commented on #1973
Why you think VSWhereProducts will return latest version in first position in collection? [Docs](https://www.cakebuild.net/api/Cake.Common.Tools.VSWhere.Product/VSWhereProduct/) does not mention that.

[2017-12-27 22:34] #1955 closed

[2017-12-28 00:34] gabrielweyer commented on #1901
@daveaglick Are you still working on this issue?

[2017-12-28 19:03] devlead commented on #1112
@cake-build/cake-team going to bump this one.

[2017-12-28 19:16] devlead commented on #1912
fixed by #1913

[2017-12-28 19:16] #1912 closed

[2017-12-28 22:06] #1522 closed

[2017-12-29 13:54] jnm2 opened #1974 "ToDictionary on Mono causes "The type 'Dictionary<,>' is defined in an assembly that is not referenced""
Verified sample repro:
[code]

If I use any overload of `System.Linq.Enumerable.ToDictionary`, Cake 0.22–0.24 (on Travis using Mono 5.2.0 on both Ubuntu Trusty and OS X 10.12) gives this error:

Code that initially triggered it: https://github.com/nunit/nunit/commit/5d3fe04d65889729e9529a93624992d0f0e16ddd#diff-a81006b28a9970a7e6644efe520431a5R9

Failing build log:
https://travis-ci.org/nunit/nuni

[2017-12-29 14:02] gep13 commented on #1974
@jnm2 based on the Cake version range that you provided, does this mean that in Cake 0.21.0 this was known to be working?

[2017-12-29 14:06] jnm2 commented on #1974
@gep13 Ah, sorry! I didn't check anything earlier than 0.22.

[2017-12-29 14:07] gep13 commented on #1974
@jnm2 Gotcha.  Was just trying to understand if this is a regression, or whether this has never worked.

[2017-12-29 14:07] mholo65 commented on #1974
Pre 0.22 works on Mono because we had separate Mono Scripying enhine back then. Now with Roslyn, we’d probably need a similar hack as [here](https://github.com/cake-build/cake/blob/develop/src/Cake.Core/Scripting/ScriptConventions.cs#L86) for System.Collection

[2017-12-29 14:11] jnm2 commented on #1974
Does it make sense to cover this with a regression test?

[2017-12-29 16:51] jnm2 commented on #754
Came here to suggest the same thing. I've been missing warnings. I like it the way test runners do it where you specify the count of the warnings and repeat them so that you don't have to scroll and use the search feature to find them.

[2017-12-29 21:57] pascalberger commented on #1689
Specific options with its requirements are already documented in https://github.com/cake-build/cake/blob/develop/src/Cake.Common/Tools/Chocolatey/Download/ChocolateyDownloadSettings.cs. I thought plain `choco download` is also available in Community edition but this doesn't seem to be the case, so documenting it on the alias would make sense

[2017-12-29 22:19] pascalberger commented on #1689
Created #1975 for fixing this

[2017-12-30 02:32] jnm2 opened #1976 "MSBuildSettings.NoLogo"
I would like to have access to the `/nologo` parameter.

Which would you prefer?

[code]

Or following MSBuildSettings' `With*` pattern:

[code]

[2017-12-30 02:47] jnm2 opened #1977 "ToolSettings.WithRawArgument"
Some tool settings use the fluent-mutation API style. This is great for one-liners but everything falls apart and you have to refactor the expression to multiple statements as soon as you need to reach for `ArgumentCustomization`, which will never be completely rare.

I'd like to propose the following extension method:

(`Raw` because it does no automatic escaping and so is susceptible to argument

[2017-12-30 02:49] jnm2 commented on #1977
I wish we could tackle the bigger argument quoting/escaping injection issue across all of Cake, so maybe this isn't such a good idea yet.

[2017-12-30 03:04] jnm2 opened #1978 "Context is not accessible from local functions"
Cake 0.24, .NET Framework 4.7.1.
I'm getting this error on `Context` inside a local function:

Is there any reason this shouldn't work?

[code]

The workaround is obviously to not use local functions.

[2017-12-30 07:04] gep13 commented on #1978
You would need to pass `Context` as a parameter to your function.

[2017-12-30 08:57] gep13 commented on #1977
I wish we could tackle the bigger argument quoting/escaping injection issue across all of Cake

Can you elaborate on what you mean by this?

[2017-12-30 15:54] jnm2 commented on #1978
That's another workaround, but I'm trying to understand why I should have to do that. Everything that's automatically captured by a lambda should be automatically captured by a local function.

[2017-12-30 15:55] jnm2 commented on #1977
@gep13 Oh hey, looks like you're waiting for me on this one: https://github.com/cake-build/cake/issues/1272

[2017-12-30 15:57] jnm2 commented on #1977
Also: https://github.com/cake-build/cake/issues/1898#issuecomment-339692650

[2017-12-30 16:12] jnm2 commented on #1272
I need to get back to this. It's a big undertaking but worth it and I'm kicking myself for forgetting that the ball was in my court.

New information I have is that on Linux, the arguments between _processes_ are conceptually passed to the new process as an array of strings. (Not talking about the shell parser you type commands into; shell parsers vary, but they don't come into Cake's picture.)
Wh

[2017-12-30 16:15] jnm2 commented on #1272
This is my implementation, with tests, of what the Windows `Render` method would do to each argument in the list: https://gist.github.com/jnm2/c5c840bf317605a40f5f56f944db4892

The corefx internal implementation passes all my tests, so that's cool. (https://github.com/dotnet/corefx/issues/23592#issuecomment-325361403)

Cake absolutely needs to be forcing the same logic on everyone that uses the pr

[2018-01-02 08:55] devlead commented on #1978
@jnm2 it's a scripting scoping issue.

Change your code to
[code]

[code]

[2018-01-02 09:07] devlead commented on #1976
@jnm2 the property is needed, there should be no methods on settings class.

The fluent methods are extension methods on MSBuildSettings working on the supplied instance.

[2018-01-02 09:12] devlead commented on #754
This would likely be an pretty easy thing now to do in a module proxying ICakeLog as a PoC.

[2018-01-02 10:23] devlead commented on #1974
@jnm2 I've submitted PR #1979 to address this.

[2018-01-02 10:25] #1689 closed

[2018-01-02 15:02] jnm2 commented on #1976
Cool, that's interesting. I wonder why instance methods are banned?

[2018-01-02 15:15] RaringCoder opened #1980 "The docs need to detail how Cake uses the tools folder."
A user from the gitter channel highlighted an issue whereby they performed an update to the Cake version. This causes the bootstrapper to flush the tools folder and re-fetch all packages. Unfortunately, there were things in the tools folder (that existed prior to Cake being used) that weren't under control of Cake scripts and were deleted.

This exclusivity over the tools folder (being a sibling o

[2018-01-02 16:14] jnm2 commented on #1978
That's a nice workaround too. I looked into it and it seems that the problem doesn't lie with Cake. Closing in favor of https://github.com/dotnet/roslyn/issues/23996.

[2018-01-02 16:14] #1978 closed

[2018-01-02 18:17] devlead commented on #1976
There's many advantages, i.e. cleaner code, can easily be reused on interfaces and base classes without breaking binary compatibility, etc.

[2018-01-03 13:41] gep13 commented on #1980
@RaringCoder this is probably best moved to the website repository, as that is where most of the top level documentation is located.

[2018-01-03 13:46] RaringCoder commented on #1980
@gep13 Can you migrate tickets or is it a close and recreate job?

[2018-01-03 13:47] #1980 closed

[2018-01-03 13:47] gep13 commented on #1980
Issue moved to [cake-build/website #468](https://github.com/cake-build/website/issues/468) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-03 15:14] SIkebe opened #1981 ".travis.yml uses outdated version of dotnet core SDK"
### What You Are Seeing?
.travis.yml uses dotnet core SDK 1.0.4 but 1.0.8 in other places.
### What is Expected?
.travis.yml should use dotnet core SDK 1.0.8.

[2018-01-03 18:00] rroman81 commented on #1967
any workarounds?  Does installing the .net 4.6.1 developer pack helped?

[2018-01-03 18:12] devlead commented on #1967
.NET 4.6.1 is the minimal supported .NET Runtime needed for Roslyn now, so that's why it's also needed by Cake, so no workaround avail, installing .NET runtime 4.6.1 or newer will solve it.

[2018-01-03 18:17] rroman81 commented on #1967
well, i have a colleague that has .net 4.6.2 installed and getting the same prompt.  I am trying to figure out what's missing for 4.6.1 that it's asking for 4.6.1

[2018-01-03 18:27] devlead commented on #1981
1.0.8 isn't available on Travis(or anywhere) , but 1.1.5 which also contains 1.0.8 is installed via the bootstrapper (build.sh) and is used today when building on Travisci.

Recently tried and travisci didn't have anything newer available, but they've might have corrected that now.

[2018-01-03 19:34] daveaglick commented on #1901
@gabrielweyer I totally forgot about it, TBH. I'll take a look today or tomorrow and add the option, thanks for the reminder!

[2018-01-03 19:34] jnm2 commented on #1981
It's also not necessary to wait for Travis support if you don't mind adding the two or three .NET Core SDK installation commands to the yml.

[2018-01-03 19:35] devlead commented on #1981
@jnm2 .NET Core SDK already installed via build.sh

[2018-01-03 21:02] jnm2 commented on #1522
Maybe this was in the wrong place for VSTest, but I was redirected by https://github.com/cake-build/cake/issues/1763#issuecomment-323929748.

In 0.24.0, VSTest is still not being located by Cake and I'm still forced to use the workaround [above](https://github.com/cake-build/cake/issues/1522#issuecomment-341612194).

[2018-01-03 23:33] devlead commented on #1981
I've verified 1.1.5 is now available on Travis which means yml can be cleaned up a bit.

[2018-01-04 09:43] rdeago opened #1983 "NuGetRestore fails on .NET Standard 2.0 library project"
I just updated Cake from 0.23.0 to 0.24.0 and the NuGetRestore alias stopped working.

### What You Are Seeing?
[code]

### What is Expected?
NuGetRestore should run without a glitch, as it was the case with previous versions.

### What version of Cake are you using?
0.24.0

### Are you running on a 32 or 64 bit system?
64

### What environment are you running on?  Windows? Linux? Mac?
Windows 10.

[2018-01-04 10:03] devlead commented on #1983
Which version of nuget.exe are you using?

Looks like your installing .NET SDK version 1.1.5, any reason for that? Something like SDK 2.1.3 would be recommended for building NET Standard 2.0 libraries.

[2018-01-04 13:53] trondhindenes opened #1984 "Cake core fails to install addins on Linux"
### What You Are Seeing?
When using addins in a cake script running on Linux, Cake attempts to restore packages using `<path_to_nuget.exe>` instead of calling `mono <path_to_nuget.exe>`. This results in `exit code 13` as the linux os cannot execute nuget.exe directly

### What is Expected?
Cake should query the underlying os and prepend `mono ` to the nuget command, or fall back using `mono ` if c

[2018-01-04 13:57] devlead commented on #1984
Does it work if you set environment variable CAKE_NUGET_USEINPROCESSCLIENT="true"?

[2018-01-04 14:07] trondhindenes commented on #1984
It does! I wasn't aware of that switch.

[2018-01-04 14:08] devlead commented on #1984
It's in preview, so opt-in now, but will be default in future releases of Cake.

[2018-01-04 14:34] trondhindenes commented on #1984
Awesome, thanks for the quick answer! Closing this.

[2018-01-04 14:34] #1984 closed

[2018-01-05 10:52] rdeago commented on #1983
NuGet 4.4.1, automatically downloaded.

As for .NET SDK, I just let Cake's bootstrapper download and use any version it wants. True, this means I have a copy of the SDK in each project's .dotnet subfolder, but at least it prevents compatibility problems. Or so I thought.

[2018-01-05 11:00] rdeago commented on #1983
I just tried to change this line in `build.ps1`
[code]
to this:
[code]
and everything worked as expected.

Is there any reason why the standard bootstrapper uses .NET SDK v1.1.5 instead of a more recent version?

[2018-01-05 11:52] gep13 commented on #1983
@rdeago can you confirm where you downloaded the bootstrappers from? The standard bootstrappers don't do anything with the .net ask.

[2018-01-05 13:22] rdeago commented on #1983
I used [this one](https://raw.githubusercontent.com/cake-build/cake/develop/build.ps1), straight from the `develop` branch.

[2018-01-05 13:43] gep13 commented on #1983
That is the bootstrapper of the Cake project itself, it isn't intended for usage within your own scripts, as we have highly customized it to the needs of the Cake project.

As per the [documentation](https://cakebuild.net/docs/tutorials/setting-up-a-new-project), bootstrappers are downloaded from cakebuild.net, which actually routes to this repository:

https://github.com/cake-build/resources/tree

[2018-01-05 14:34] rdeago commented on #1983
I've just tried it. It works (obviously).
I guess it uses whichever version of the .NET SDK was installed either by Visual Studio (as is my case) or by the user, right?

Anyway, thanks a lot! Sorry for wasting your time on this. I definitely have to read "getting started" docs more carefully.

[2018-01-06 20:37] WalkerCodeRanger opened #1987 "Confusing Error from Bad Format String to `Information()`"
### What You Are Seeing?

`Information("    Line {1} didn't match", i);`
Prints:
[code]
### What is Expected?
A format error like from `string.Format` making it clear that there was something wrong with the format string.
### What version of Cake are you using?
0.23.0
### Are you running on a 32 or 64 bit system?
64 Bit
### What environment are you running on?  Windows? Linux? Mac?
Windows
### Are

[2018-01-09 00:30] sebandres commented on #1813
Hi @freekind,

This is a by-product of a behaviour from NuGet. If you specify the source of the package then the Cake NuGetPackageInstaller will add a `-Source {mycustomsource}` argument to the nuget call causing it to only use that source for that package **and all the dependencies needed**. In your case I am guessing that `IAFG.IA.RC.Development.Health.Cake.AddIns` uses a dependency that is not

[2018-01-09 04:59] sebandres commented on #1813
On second thought @patriksvensson, given this feature is bound to confuse people more than it will help them, shouldn't we remove this option altogether and direct people through documentation and examples to add their custom sources on the project Nuget.Config instead?

Because if we are honest, what are the odds that a package on a custom feed will not rely at all on a component that is on the n

[2018-01-09 07:28] devlead commented on #1813
@freekind  0.21.1 targets .NET 4.5 and requires assemblies and dependencies to be in the net45 moniker in your nuget packages, make sure the nuget package has the correct folder structure, the error indicates it's not.

A nuget a mutitargetet nuget folder struncture could look something like this:

[code]
If the assemblies are in a newer version than the consuming assembly it won't work, so verify

[2018-01-09 07:29] devlead commented on #1983
@rdeago excellent that it got sorted 👍

[2018-01-09 07:29] #1983 closed

[2018-01-09 07:34] #1974 closed

[2018-01-09 08:43] devlead opened #1988 "TeamCity writing start and end progress contains invalid messages property"

[2018-01-09 08:45] devlead commented on #1988
Fixed by #1624

[2018-01-09 08:45] #1988 closed

[2018-01-09 08:49] devlead opened #1989 "Path unnecessarily trims backslash in already normalized string"

[2018-01-09 09:29] devlead commented on #1989
Fixed by #1649

[2018-01-09 09:29] #1989 closed

[2018-01-09 12:40] sebandres commented on #1813
Hi @devlead,

Thanks for the response. I just had a look at the new NuGetPackageInstaller you mentioned and it does seem to address this problem by aggregating the sources on top of the provided on the addin url which is great news!

I'll opt in on our projects and give that a go.

Regards,

Seb.

[2018-01-09 15:13] billybrock commented on #1875
Long Path Tool can solve your problem.You can try it.

[2018-01-09 15:40] mvput commented on #1971
Is this up for grabs?

[2018-01-09 15:50] devlead commented on #1987
Fixed by #1990

[2018-01-09 15:50] #1987 closed

[2018-01-09 15:51] mvput commented on #1618
Sounds best to make this configurable for the user. Setting someting like `TeamCity.VcsProvider = VcsProviders.GitHub`. With that you can put more configuration settings for that particular git host.

[2018-01-09 15:56] xavierpena opened #1991 "Build error "Multiple assemblies with equivalent identity have been imported" during Cake Build but not in VS2017"
### What You Are Seeing?

Visual Studio Community 2017 Preview (2), version 15.6.0 Preview 1.0, compiles the project correctly.

For the same project, Cake produces a build error:

`CSC : error CS1703: Multiple assemblies with equivalent identity have been imported: 'C:\Program Files\dotnet\sdk\NuGetFallbackFolder\microsoft.netcore.app\2.0.0\ref\netcoreapp2.0\System.ComponentModel.dll' and 'C:\Use

[2018-01-09 22:08] devlead opened #1992 "Update to .NET Runtime 1.0.9 because security issues"
Because security issues found in .NET Core, Microsoft advises to upgrade .NET Core to 1.0.9 via SDK 1.1.7.

Announcement: dotnet/announcements#51 & dotnet/announcements#52

[2018-01-10 07:11] devlead commented on #1971
Don't think @cake-build/cake-team has looked at this one yet.

This possibly misses the scenario where it often is a key value pair and you in many cases want to omit the key too.
Perhaps something `builder.IfNotNullOrWhitespace(settings?.MySetting?.ToString(), (pb, text)=>pb.AppendSwitchSecret("MySetting", text)`
via something like `public static ProcessArgumentBuilder IfNotNullOrWhitespace(this

[2018-01-10 07:18] #1992 closed

[2018-01-10 10:46] patriksvensson commented on #1971
I agree with @devlead here. It will be too many variations of this otherwise.

[2018-01-10 11:34] jozefizso opened #1994 "Get MSBuild Verbosity enum from string"
## Feature request

I should be able to convert string value of the `verbosity` parameter to the MSBuild Verbosity enum to be able to call `MSBuild.SetVerbosity()` successfully.

`MSBuildVerbosityExtensions` class should have method opposite to the `GetMSBuildVerbosityName()` which will convert string to the `Verbosity` enum value.

### What You Are Seeing?
Error when calling `MSBuild.SetVerbosity

[2018-01-10 11:35] jozefizso commented on #1994
Implementation proposed in pull request #1985

[2018-01-10 14:06] devlead opened #1995 "Make In-proc NuGet addin/tool installation default"
Make In-proc NuGet addin/tool installation opt-out instead of opt-in.

[2018-01-10 14:20] devlead commented on #1994
Fixed by #1985

[2018-01-10 14:20] #1994 closed

[2018-01-10 14:32] WayneHiller opened #1997 "Add the --trace option to the NUnit3Settings class."
NUnit3 - Can we add in the --trace option to the NUnit3Setting class and to the Runner? Now that --verbose is gone there is no way to turn on detailed logging.

[2018-01-10 15:50] devlead opened #1998 "Some .NET Core commands missing no dependencies/restore"
.NET 2.x introduced a few new parameters and implicit behaviors with opt-out flags.

A few of those are missing in Cake

* Build
  * No Restore
* Pack
  * No Dependencies
  * No Restore
* Publish
  * No Dependencoes
  * No Restore
* Test
  * No Restore

[2018-01-10 21:43] jackjwilliams commented on #1781
Should I assume this project is dead since it's been going on 4 months and no update for .NET Core 2?

[2018-01-12 02:41] kcamp commented on #1997
I can make a pass over this & have a PR in the next day or so.

[2018-01-12 05:08] gep13 commented on #1997
@kcamp thank you very much!

[2018-01-12 17:33] reisenberger commented on #514
To solve a scenario similar to that outlined by @jonstelly - a whole group of tasks grouped under the umbrella "package", with one bool controlling go/no-go for that group - I did the following, for now:

    Task("_ConditionallyPackage")
        .WithCriteria(() => package)
        .Does(() => RunTarget("_Package"));

In wider context:

    Task("Build")
        .IsDependentOn("_BuildAndTest")

[2018-01-13 00:45] jnm2 opened #2002 "Expose the `-products` filter override in VSWhereLatestSettings"
You need `-products *` if you want to locate the VS Build Tools (`BuildTools`) or the VS Test Agent (`TestAgent`) installations along with the others; by default, `-products` only locates the names `Community`, `Professional` and `Enterprise`. The [wiki](https://github.com/Microsoft/vswhere/wiki/Find-VSTest) recommends using `-products *` to locate the newest installation that has VSTest.

Would y

[2018-01-14 16:23] #1937 closed

[2018-01-14 16:46] #1998 closed

[2018-01-14 17:08] #1995 closed

[2018-01-14 20:21] devlead commented on #1997
Fixed by #2001

[2018-01-14 20:21] #1997 closed

[2018-01-15 05:19] WebDucer opened #2003 "Add possibility for AssemblyMetadata collection in CreateAssemblyInfo"
There is no possibility to add AsselmbyMetadata attribute to the assembly info file, because this needs two string paramters. The CustomAttribute allows only one. It would be nice, to have something similar to `CustomAttributes` property and `.AddCustomAttribute` extension method.

[code]

Should produce this:

[code]

[2018-01-15 09:25] patriksvensson opened #2005 "Add entries for Setup/Teardown in report"
Would be nice to have timings for Setup/Teardown in the report (if they're implemented).

![image](https://user-images.githubusercontent.com/357872/34935508-6b9e82a2-f9de-11e7-910c-424bd765a354.png)

[2018-01-15 09:53] devlead commented on #2005
Agreed 👍

[2018-01-16 21:23] curiousdev opened #2006 "Request: Get pretty-print summary of available Cake Targets (eg. build.ps1 -ListTargets)"
One of the challenges we have across our organization is that different teams structure their cake files differently for their particular workflows. It's difficult as new comer to understand which targets do what you need. We ineffectively rely on team-lore, outdated readmes, or noisy slack channels for help.

It would helpful if we could add switch to get a pretty print summary of targets and the

[2018-01-16 21:31] curiousdev commented on #2006
If there's interest, I'd be happy to submit a 'merge-request'.

[2018-01-16 21:51] gep13 commented on #2006
@curiousdev have you seen the Cake.Graph addin?  https://github.com/cake-contrib/Cake.Graph

You can see an example of it's output here:

https://cake-contrib.github.io/Cake.Recipe/graph

In the drop down list, click on the Default Task, as an example.

[2018-01-18 12:46] patriksvensson opened #2007 "Don't show delegating tasks in log."
In the image below, the task `Pack` doesn't need to be shown since it's not shown in the task summary. In this case I ran the script with `Normal` verbosity.

![image](https://user-images.githubusercontent.com/357872/35098730-a673f244-fc55-11e7-9c37-56589e839435.png)

[2018-01-18 16:02] patriksvensson opened #2008 "Allow defining a typed context to be used throughout a Cake script."
Allow defining a typed context data class to be used throughout a Cake script.

## Example of usage:

Declare a context in your Cake script like this:

[code]

And now you can use it like this:

[code]

This would remove dependencies on global variables and shared mutable states that make larger Cake script difficult to maintain in some scenarios. Declaring a `Setup<TContextData>` should be requir

[2018-01-18 16:26] kcamp commented on #2008
I like this idea.  I may be missing context, but just reading over the code real quick, I have one comment.

For this, it appears that the delegate type is `Action<ISomeCakeContextType<TModel>>` where `ISomeCakeContextType<TModel>` has `TModel Data { get; [set;]}` , which implies that `TModel : new()`
[code]

Assuming that the definition of `ISomeCakeContextType<TModel>` supports a mutable `Data`

[2018-01-18 16:54] Insire opened #2009 "Disabling UseInProcessClient via cake.config fails, when there are pre existing packages inside the tools directory"
### What You Are Seeing?
There is an ArgumentNullException being thrown, when i run cake 0.25 with older versions of cake addins and tools in the tools folder

### What is Expected?
No Exception should be thrown and cake should be able to update its dependencies according to its requirements.

### What version of Cake are you using?
0.25, after upgrade from 0.24

### Are you running on a 32 or 64

[2018-01-18 18:45] jnm2 commented on #2008
While you're looking into making changes, can you see about making the PerformSetup change I asked about in https://github.com/cake-build/cake/issues/1772?

[2018-01-18 22:49] megakid commented on #1875
I also have this problem.  The opt-in/out nuget provider doesn't change anything.  We're going to try to minimize our root directory structure instead.

[2018-01-19 09:51] masterkawaster opened #2010 "Nuget.config not found for version 0.25"
### What You Are Seeing?
in Diagnostic log: Nuget.config not found.

### What is Expected?
Nuget.config being next to build.ps1 should be used.

### What version of Cake are you using?
0.25

### Are you running on a 32 or 64 bit system?
windows server 2012 r2, 64bit.

### What environment are you running on?  Windows? Linux? Mac?
windows server 2012 r2, 64bit.

### Are you running on a CI Server?

[2018-01-19 12:20] TerraVenil opened #2011 "Failed to install addin Cake.IIS"
### What You Are Seeing?
`
Error: Cake.Core.CakeException: Failed to install addin 'Cake.IIS'.
   at Cake.Core.Scripting.ScriptProcessor.InstallAddins(IReadOnlyCollection``1 addins, DirectoryPath installPath)
   at Cake.Core.Scripting.ScriptRunner.Run(IScriptHost host, FilePath scriptPath, IDictionary``2 arguments)
   at Cake.Commands.DebugCommand.Execute(CakeOptions options)
   at Cake.CakeApplic

[2018-01-19 12:43] jnm2 commented on #2010
I wonder if one of the NuGet packages contains the NuGet CLI's config resolution logic.

[2018-01-19 17:29] devlead commented on #1908
@CRuppert I've added this to the v0.27.0 milestone. The next release v0.26.0 will basically be focused on .NET Core 2.0, asap after that's released I'll review your PR and if all's ok pull it in.

[2018-01-20 12:13] mholo65 opened #2014 "In-process NuGet don’t support multiple feeds through config"
Simple fix, put a `string.Split(’;’,..)` here https://github.com/cake-build/cake/blob/develop/src/Cake.NuGet/Install/NuGetSourceRepositoryProvider.cs#L37

[2018-01-20 12:23] Insire commented on #2014
I actually ran into this issue earlier this week. I'd be willing to PR this. Is this up for grabs?

[2018-01-20 12:23] mholo65 commented on #2014
@Insire, sure! Go nuts! :smile:

[2018-01-20 12:24] Insire commented on #2014
Cool, going for it:)

[2018-01-22 15:34] devlead commented on #2011
Doesn't look like that package is available for .NET Core
![image](https://user-images.githubusercontent.com/1647294/35228813-f151e75a-ff91-11e7-8d8f-e2b8b6f498e2.png)

I suggest you raise an issue at
https://github.com/SharpeRAD/Cake.IIS/

[2018-01-22 15:37] devlead commented on #1981
This will be fixed by  #1812

[2018-01-22 15:38] devlead commented on #1926
fixed by #1925

[2018-01-22 15:38] #1926 closed

[2018-01-22 15:46] TerraVenil commented on #2011
If you use `NuGet Version: 4.4.1.4656` and run `.\nuget.exe install cake.iis` you will get two folders
![image](https://user-images.githubusercontent.com/6068068/35229407-072b8838-ff9c-11e7-890b-55cc20257eb1.png). Second one contains netstandard1.6.

[2018-01-22 15:58] devlead commented on #2011
Interesting I downloaded and unzipped the Cake.IIS.0.3.1 nuget package and only saw a ne461 moniker.
![image](https://user-images.githubusercontent.com/1647294/35230030-40e8017a-ff95-11e7-9632-8b9d7f0f0a6e.png)

Also checked in NuGet explorer
![image](https://user-images.githubusercontent.com/1647294/35230006-2f99d3e4-ff95-11e7-87a0-7a7e8066628b.png)

[2018-01-22 16:01] TerraVenil commented on #2011
What version of nuget client are you using?

[2018-01-22 16:21] devlead commented on #2011
I used the download link on https://www.nuget.org/packages/Cake.IIS/0.3.1
![screenshot_20180122-171956](https://user-images.githubusercontent.com/1647294/35231271-a6e7261a-ff98-11e7-8426-46527ac5fe03.jpg)

[2018-01-22 16:36] TerraVenil commented on #2011
Am I right understand that currently Cake.IIS does't support NETStandard?

[2018-01-23 10:34] TerraVenil commented on #2011
@devlead, @SharpeRAD could you expalin why `NuGet.exe` load 'Cake.IIS' with supported .Net Core build? Currently it's confused behaviour for me.
@SharpeRAD do you need help with building `Cake.IIS` under .Net Core locally :smile:?

[2018-01-23 11:14] SharpeRAD commented on #2011
It doesn't. There is no .net core package for Cake.IIS hosted on nuget.

Cake.IIS builds, but there are reference issues within "Microsoft.Web.Administration" that prevent it running locally or on AppVeyor. Feel free to try the current TestSuite out for yourself, I will accept any PR's that resolve the issue.

[2018-01-23 12:42] gep13 commented on #2011
I am going to go ahead and close this issue, as it is best discussed in the Cake.IIS repository.

[2018-01-23 12:42] #2011 closed

[2018-01-23 15:46] trondhindenes opened #2017 "Trying to use NuGetList in a .Net core based build"
### What You Are Seeing?
NuGetList exists with a generic "error 13" when the build is executed on a linux-based machine. I'm suspecting this is because the "Cake.Common.Tools.NuGet" isnt implemented in such a way that it works on Linux. Our specific use case is that we need to query a nuget feed as part of a build, because we need to know the correct version of some dependent packages we send into

[2018-01-23 16:28] devlead commented on #2017
Reason this doesn't work is because nuget.exe isn't a native Linux binary but a .NET assembly targeting not  .NET Core but the full framework, it works under mono as mono intercepts .NET assemblies and executes it within the current runtime.

There's workarounds if you've got mono installed so you can make it utilize that though.

[2018-01-23 16:29] trondhindenes commented on #2017
we are running mono on all our build agents. Is there any doc you can point me to in order to get it working?

[2018-01-23 16:51] devlead commented on #2017
Don't think there's any ready docs for it but basically you could create a wrapper script
[code]
Call it `nuget` place globally somewhere in path or in tools folder and do a `chmod +x nuget`

Then you should be able to resolve it with `Context.Tools.Resolve("nuget.");` and set ToolPath on the settings of the NuGet alias you're using.

[2018-01-23 16:53] trondhindenes commented on #2017
Ah. Is there no way to use `Context.Tools` to prepend `mono ` to the call instead? Feels cleaner than to hack alias scripts... :-|

[2018-01-23 17:07] devlead commented on #2017
Oh you could certainly use argument customization to do that, below is an old example when we needed a workaround for Cake because mono didn't recognize the Cake.exe as IL(which has since been resolved)
https://github.com/cake-build/cake/blob/74a3aff0920e99ebbb25039e1ecd6237042ab5ce/tests/integration/Cake.Common/Tools/Cake/CakeAliases.cake#L103

Not exactly what nuget.exe, but replace cake.exe wit

[2018-01-23 17:13] trondhindenes commented on #2017
Nice, thanks!!

[2018-01-23 17:16] devlead commented on #2017
Now that we have the newer compilers this could probably be made into a reusable extension method within script for any ToolSettings class, could do a sample for that if you like. Not at computer now, so would be later today or tomorrow though.

[2018-01-24 02:57] agc93 commented on #2002
@jnm2 this looks like the same issue as #1973 ?

[2018-01-24 03:25] jnm2 commented on #2002
Yes. Thanks!

[2018-01-24 03:25] #2002 closed

[2018-01-24 03:28] jnm2 commented on #1973
Please add this to `VSWhereLatestSettings`. It's logical to want to use `VSWhereLatest` which returns a single path and access vswhere's product filtering on its `latest` command.

[2018-01-24 08:43] TerraVenil commented on #2011
@gep13 I think error message `Failed to install addin 'Cake.IIS'` it's not obvious at least for me what is going on. If current exception related to .NET Core but addin currently supported ONLY net461 that error message should be more informative for example, `Failed to install addin 'Cake.IIS' because target framework should be netstandard1.6`.

[2018-01-24 16:01] ubbeK opened #2018 "Explicitly running Task that is skipped by criteria throws an error"
The following code throws exception
[code]
[code]

but this works fine
[code]

**Is this a bug or feature?**

Why not log exactly what would happen
[code]

### What version of Cake are you using?
0.25.0
### Are you running on a 32 or 64 bit system?
64 bit
### What environment are you running on?  Windows? Linux? Mac?
Windows 10
### Are you running on a CI Server?  If so, which one?
No

[2018-01-24 17:39] devlead commented on #2018
@ubbeK that is per design. If you really want an explicit task to execute, and we can't do that,  we consider that a failed work flow.

[2018-01-25 18:15] alewmt opened #2022 "ProjectParserResult.OutputPath is null"
`ProjectAliases.ParseProject` returns `ProjectParserResult` with `OutputPath` equals to `null` if project has `AnyCpu` configuration only and actual build configuration is not `AnyCpu`.

When I parse `AnyCpu` project with `x64`, I expect to get `OutputPath` for `AnyCpu` configuration.

[2018-01-25 20:49] Insire commented on #2022
I have encountered that behavior aswell. Have you made sure, that you have set a path for the output path for the project you are parsing and the corresponding configuration? Because if you dont have anything set, then you'll get indeed null as a result.

[2018-01-27 08:40] wozzo commented on #2005
@devlead mind if I take a look at this one?

[2018-01-27 08:49] devlead commented on #2005
Sure go nuts

[2018-01-27 14:26] wozzo commented on #2005
@devlead I noticed in ExecuteTaskAsync that the following has been done. Is it ok to change to `stopWatch.Restart()` instead. The S[topWatch class reference source](http://referencesource.microsoft.com/#System/services/monitoring/system/diagnosticts/Stopwatch.cs,ceb0ba9cc88de82e) states it is an equivalent convenience method.

[code]

[2018-01-27 14:31] devlead commented on #2005
@wozzo sure

[2018-01-27 22:53] variax opened #2025 "The tool path for MSpec needs to be changed in the documentation"
### What You Are Seeing?
`#tool "nuget:?package=mspec.runner.console"` is called out for the path to install MSpec

### What is Expected?
`#tool "nuget:?package=Machine.Specifications.runner.console"`

### What version of Cake are you using?
na
### Are you running on a 32 or 64 bit system?
na
### What environment are you running on?  Windows? Linux? Mac?
na
### Are you running on a CI Server?  If

[2018-01-29 11:03] WebDucer commented on #2003
Is there any chance to get this meta data possibility in one of the next releases?

[2018-01-29 12:31] devlead commented on #2003
@WebDucer we're currently focusing on getting 0.26.0 out the door which will be a big move from .NET Core 1.x to .NET Core 2.x. runtime & sdk.
Once that's out which shouldn't be to long, just finishing the last bits on the PR, then we'll start triaging PRs and issues for the 0.27.0 release which our goal is to release fairly quickly after 0.26.0.

[2018-01-29 13:29] WebDucer commented on #2003
@devlead Thanks. This sounds (.Net Core 2.0) realy good.

[2018-01-29 14:18] ben-wallis opened #2026 "Support for additional SignTool flags"
`Cake.Common.Tools.SignTool` is currently missing support for several flags relating to certificate locations.

All of these should be optional, I'd propose the following additional properties are added to the `SignToolSignSettings` class:

signtool sign flag | Property Name | Type
------------ | ------------- | -------------
`/ac` | AdditionalCertificatePath | `string`
`/s` | CertStoreName | `str

[2018-01-30 14:49] skovsende opened #2027 "Supporting binding redirects"
I have some problems with binding redirects, and I would appreciate a little help, I have a CakeAddin that uses Autofac v4.6.2 and AutoFac.Extras.DynamicProxy 4.2.1, the last references Autofac 4.0.0, so it needs a binding redirect set up to be able to work. Can I solve this at all with cake today? Can I make my addin reference the two other packages and then not include the dlls in my own addin-p

[2018-01-30 21:35] mholo65 commented on #2027
Adding support for binding redirects both via configuration would be needed since addins now support dependencies.

Adding possibility for Addin author (via Attribute) to control binding redirects might not be sufficient since in the end, it’s the consumer that would need the control.

Or, should we just be “optimistic” and return whatever version of the assembly that’s already loaded in case of a

[2018-01-30 21:41] mholo65 commented on #2027
@skovsende until we know how to fix this, [here](https://github.com/cake-build/bakery/blob/develop/tests/integration/tests.cake#L23) is how I’ve solved binding redirects in Cake file itself.

[2018-01-30 21:52] mholo65 commented on #2027
Your issue is having a shared dependency with Cake itself (in this case Autofac). That could just be fixed with an AssemblyResolve event in your addin (assuming plugins are allowed to access the AppDomain?!).

What other users also might experince in the future is having dependencies on two different Addins sharing a dependency, but different versions. For these cases, a binding redirect attribute

[2018-01-31 11:09] skovsende commented on #2027
It's hacks like the cake-file hack I would very much like to avoid.

And in my case I don't share an dependency with Cake itself but have a dependency that depends on a different version of Autofac than my addin. I think I'll go an make my own assembly resolver in my addin to see if I can get that to work, but it's not really an optimal solution...

[2018-01-31 14:31] devlead commented on #2027
@skovsende On thing to keep in mind in this case Cake has dependency on an older version of AutoFac which complicates things.

[2018-01-31 14:44] skovsende commented on #2027
Damn, completely missed that Cake used Autofac as well... Can I register my own dependencies with Cake's version of autofac in my addin? And then I guess I would have to go back to an older version of Autofac.Extras.DynamicProxy, but I can live with that.

[2018-01-31 15:09] mholo65 commented on #2027
@skovsende we are also looking at removing the Autofac dependency in Cake. It's quite straightforward and has already been done in `Frosting` and `Bakery`.

[2018-02-02 13:35] mholo65 opened #2028 "In-Process NuGet don't support authentication"
In-Process NuGet don't support authentication should support obtaining credentials just like `nuget.exe`

Hints:
https://github.com/NuGet/NuGet.Client/tree/dev/src/NuGet.Clients/NuGet.Credentials
https://www.nuget.org/packages/NuGet.Credentials/

[2018-02-02 13:39] mholo65 commented on #2028
@Insire did you ever had a chance to look at this?

Conversation [here](https://gitter.im/cake-build/cake?at=5a65b8e8e01412265076bbca)

[2018-02-02 14:09] mholo65 commented on #2010
The "resolution magic" is in the libs we are referencing, see https://github.com/NuGet/NuGet.Client/blob/release-4.3.0-rtm/src/NuGet.Core/NuGet.Configuration/Settings/Settings.cs#L213-L221

We might be "doing it wrong" and there might also be an issue with the Working directory (this has changed since we no longer call `nuget.exe` from within whatever directory it was previous).

[2018-02-02 15:16] Insire commented on #2028
I did take a peak at those resources you linked and i also tried to reproduce the problem reliably. Its been a while now, so the details are somewhat hazy again, but i think i remember that i had to rely on #2014 to reproduce the issue.

So i am not sure how to go forward with this. Easiest for me, would be to wait for #2014 to be merged and then take a look again.

[2018-02-02 15:23] wexman commented on #1662
So Cake - a C# build tool - is not able to parse C# project files?

Are you freaking kidding me?

[2018-02-02 15:26] gep13 commented on #1662
@wexman have you taken the time to read this issue? If you had, you would understand that we are currently using the Cake.Incubator addin to provide this functionality.

Have you tried using this?

[2018-02-02 15:44] daveaglick commented on #1662
@wexman Parsing MSBuild project files is actually very complicated. Also note that project files are more a function of MSBuild than the C# language. Between the different types of projects, different SDKs and project file formats, and different MSBuild tasks and targets, there’s a lot to them under the hood. There’s also a difference between “parsing” the files to determine the structure of the f

[2018-02-02 17:46] mholo65 commented on #2028
No worries! We’ll merge the PR targeting #2014 as soon as the .NET Core 2 PR is fixed and 0.26 is released.

If you don’t have time or run into issues, I can fix this issue. Just wanted to avoid duplicate work if you already had a solution for this.

[2018-02-02 17:49] mholo65 opened #2029 "Investigate in-process NuGet dependency resolution"
Investigate the in-procesd NuGet dependency resolution story. Resolving dependencies takes too long IMO as every single package (and it’s version ranges) for every target framework is taken into account when gathering dependencies. Don’t think we can do any better unless we skip the `NuGet.PackageManagement` way of doing it.

[2018-02-02 20:09] hayhay27 opened #2030 "NuGetHasSource is case sensitive"
### What You Are Seeing?

With source configuration

Next code returns error:
[code]
Error message:

### What is Expected?
The task should be skipped

### What version of Cake are you using?
0.23

### Are you running on a 32 or 64 bit system?
64

### What environment are you running on?  Windows? Linux? Mac?
Windows

### Are you running on a CI Server?  If so, which one?
Teamcity. Actually doesn't

[2018-02-02 20:45] Insire commented on #2028
I gladly pick this up again, once 0.26 is released. Can you summarize what the CredentialService needs to be able to do? And what, if any additional, tasks have to be completed along site the migration, apart from writing unit tests for for the CredentialService?

[2018-02-03 00:48] gabrielweyer opened #2031 "Simplify setting FileVersion and InformationalVersion"
Currently if I want to set the `MSBuild` `FileVersion` and `InformationalVersion` properties this is the code I have to write:

[code]

There is no helper for setting `FileVersion` and `InformationalVersion` and as I use semantic versioning I get a compilation warning:

![image](https://user-images.githubusercontent.com/2101647/35760913-aadcd132-08d7-11e8-88c0-f552f71c5c9c.png)

What I would like

[2018-02-03 01:16] gabrielweyer opened #2033 "Bitrise build is failing on Ubuntu"
It seems like the `Bitrise` `Ubuntu` build has been failing since the 21st of Jan.

I tried to investigate but the [logs](https://www.bitrise.io/build/b82041e8aaf8d224) are not public:

![image](https://user-images.githubusercontent.com/2101647/35761397-0bbea09e-08dc-11e8-877e-32f18aad52ba.png)

[2018-02-03 03:59] gabrielweyer commented on #2033
Doesn't seem to be a `Ubuntu` issue. I created a `Ubuntu 16.04` Azure VM and ran a successful build on it with the following version of `Mono`:

[code]

[2018-02-03 05:50] devlead commented on #2033
Yes we know that, we've upgraded our Bitrise image to .NET Core 2.1.4, as that's what's going to be used coming cake releases, but current development is on 1.1.x.

That's why the PR #1812 isn't failing, which basically is what will be the 0.26.0 release.

[2018-02-04 22:06] sgrassie commented on #1920
I've just been looking at this.

The solution builds find from the terminal, as you would expect, but does still fail to build in Visual Studio Professional 2017 for Mac Version 7.3.3 (build 12). Weirdly, it did say that the build succeeded at first, but then I looked in the package console and found the above error still there. Cleaning and building individual projects gave me some compilation er

[2018-02-06 19:40] andycmaj commented on #1644
sounds like it would be appropriate for this to be a [dotnet core global tool](http://www.natemcmaster.com/blog/2018/02/02/dotnet-global-tool/)

[2018-02-06 19:59] phillipsj commented on #1644
Andy,

I have been working on one of these and I was waiting for a few changes to
make it into Cake before I finished it.  I am going to refocus on my
efforts now that nuget is integrated.
https://github.com/phillipsj/dotnet-cake

On Tue, Feb 6, 2018 at 2:40 PM, andy cunningham <notifications@github.com>
wrote:

[2018-02-06 20:05] adamhathcock commented on #1644
Cake as a global tool is something I definitely want.  Should be doable after the Net core 2 stuff is merged.

[2018-02-06 20:37] amoerie commented on #1644
I see this thread is still going strong. While I'm advocating for nor against this CLI tool issue, we decided to continue with [Cake Frosting](https://github.com/cake-build/frosting).

The gist of this is that it removes the need for build.cake files, and instead makes you write your build logic as a console application that can be part of your solution. This has two big benefits:

1. Running your

[2018-02-06 20:41] adamhathcock commented on #1644
That doesn’t seem desirable to me.

I want a cake file that’s an easy script to read for gluing builds together.

The worst part of cake has always been invoking it.  Installing a global tool that’s just “cake -t build” or something seems great to me.

[2018-02-06 21:50] phillipsj commented on #1644
That is why both options exist.  I will pick back up work for the tool
later this month.

On Tue, Feb 6, 2018, 3:41 PM Adam Hathcock <notifications@github.com> wrote:

[2018-02-12 11:03] patriksvensson opened #2036 "Don't output usage when an error occured."
Currently, if a Cake argument is malformed in any way, we output the usage of Cake.
Instead, we should do like most other CLI tools do and tell the user how to invoke the help command.

**Current behavior:**

[code]

**Expected behavior:**

[code]

[2018-02-12 11:43] Marusyk commented on #2036
Hello, can I make PR for that? What do you think, should it be a new command?

[2018-02-13 10:52] harry-cpp opened #2037 "Cake 0.25 cannot install addins"
### What You Are Seeing?

Adding any addin to the cake script results in it failing to run.

### What is Expected?

It runs.

### What version of Cake are you using?

0.25, downgrading to 0.24 solves the problem for me.

### Are you running on a 32 or 64 bit system?

64 bit

### What environment are you running on?  Windows? Linux? Mac?

Linux

### Are you running on a CI Server?  If so, which one

[2018-02-14 14:46] kcamp opened #2039 "XUnit2Runner doesn't respect `ParallelismOption.None`"
### What You Are Seeing?
XUnit2 is not respecting `ParallelismOption.None`

### What is Expected?
The XUnit tool command should include the `-parallel none` when it's specified.

### What version of Cake are you using?
0.25

### Are you running on a 32 or 64 bit system?
64

### What environment are you running on?  Windows? Linux? Mac?
Windows

### Are you running on a CI Server?  If so, which one

[2018-02-14 14:46] kcamp commented on #2039
I will have a PR for this shortly

[2018-02-14 17:40] gep13 commented on #1213
@Jericho i don't think this work has been completed yet. Why close the issue?

[2018-02-14 17:42] Jericho commented on #1213
@gep13 a year and a half later, I didn't think anybody was paying attention anymore.

[2018-02-14 17:47] gep13 commented on #1213
In Open Source terms, that really isn't long. I think the first PR I created took 2 years to be pulled in. If the issue is still present, I would prefer that it stay open.

[2018-02-18 08:28] Insire opened #2042 "Extend AddCustomAttribute with an option to submit multiple attributes of the same type, but different values"
Passing multiple Attributes of the same type, but different values into AddCustomAttribute, will overwrite previous custom attributes, so that only the last submitted value will appear in the AssemblyInfo, which will render your efforts useless, if you want to sumbit multiple instances of [AssemblyMetadataAttribute](https://docs.microsoft.com/en-gb/dotnet/api/system.reflection.assemblymetadataattr

[2018-02-19 06:54] nikhilagrawaldotnet opened #2043 "Cake page has two Nugets options in Addins List."
### What You Are Seeing?<br>
In http://cakebuild.net/addins/, there are two Nugets options in Addin's List namely 'Nuget' and 'NuGet'. Both takes us to same location - http://cakebuild.net/addins/nuget/.

![cake_issue](https://user-images.githubusercontent.com/26463468/36365604-467791c8-1570-11e8-8a30-37478021eb6f.jpg)

### What is Expected?
Single option. Two options confuse users.

### What vers

[2018-02-19 08:23] gep13 commented on #2043
@daveaglick is there anything that we can do here?   Obviously, other than go to the addin's and ensure that there is consistency.

[2018-02-19 08:27] devlead commented on #2043
Feels like potential ordinal ignore case fix, which is fine in this case but in other cases like C# thingies are case sensitive. But Categories most likely shouldn't be.

[2018-02-19 08:27] devlead commented on #2043
Issue moved to [cake-build/website #489](https://github.com/cake-build/website/issues/489) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-19 08:27] #2043 closed

[2018-02-20 06:16] nikhilagrawaldotnet opened #2047 "Specify version during Nuget Updating"
### What You Are Seeing?
During updating nuget via Cake, there is no option to specify version. It always updates to latest version. What if I want penultimate version?

### What is Expected?
An option to take version. If not specified, should update to latest version.

### What version of Cake are you using?
0.25.0

### Are you running on a 32 or 64 bit system?
x64

### What environment are you r

[2018-02-20 12:58] derwasp opened #2048 "DotNetCoreToolSettings.WorkingDirectory is not respected when running DotNetCoreTool"
### What You Are Seeing?
Working directory is taken from [here](https://github.com/cake-build/cake/blob/edd75e172fccd18de5801b82446c103e040d4ff8/src/Cake.Common/Tools/DotNetCore/Tool/DotNetCoreToolRunner.cs#L60), while it seems like `DotNetCoreToolSettings` should override it.

### What is Expected?
`DotNetCoreToolSettings.WorkingDirectory is respected`

### What version of Cake are you using?
0.2

[2018-02-20 13:44] sgrassie opened #2049 "Cake fails to respect that packages are already installed in the tools folder"
### What You Are Seeing?
Cake does not respect the fact that packages in `\tools` are already installed and tries to download them again, causing an error resolving `api.nuget.org` on a build server with no connection to the internet.

The decision to commit the `\tools` and `\packages`  folders to source control is mandated and outside my control, despite my protestations, using an internal nuget

[2018-02-20 22:56] wwwlicious commented on #1662
If you take a look at the [MSBuild code](https://github.com/Microsoft/msbuild/tree/master/src) you can get a sense of how much is going on where the project system is concerned. Quick version is 'a lot'

The parsing is cake.incubator is a 'best effort' at reading and providing the information available without being concerned with build environments / imports / variable binding and evalutions and

[2018-02-22 08:09] sanderaernouts opened #2051 "Add support for msbuild.exe /restore option"
Recently the /restore option was added to msbuild.exe to ensure the Restore target is invoked before any other target. This behaviour is required for new style CSPROJ files to ensure the necessary files, such as project.assets.json, are generated before the Build target is invoked. See https://github.com/Microsoft/msbuild/pull/2414 for more details.

Normally NuGet restore would take care of this

[2018-02-22 09:24] patriksvensson commented on #2008
@kcamp I've taken your suggestions into consideration and updated the description of this issue and the PR.

@jnm2 Sure, it sounds like a good idea.

[2018-02-22 12:16] joskoanicic commented on #1781
This can be closed now with #1812 merged?  It would be nice to see an official v0.26.0 build.

[2018-02-22 16:25] #1781 closed

[2018-02-22 23:51] nikhilagrawaldotnet opened #2053 "Additional arguments passed in ScriptArgs throw weird results"
### What You Are Seeing?
Parameters passed in `ScriptArgs` are not segregated in separate values. Everything after first `=` is taken as first parameter's value.

### What is Expected?
Each parameter passed should be resolved in script.

### What version of Cake are you using?
Cake.0.26.0-PullRequest2046

### Are you running on a 32 or 64 bit system?
x64

### What environment are you running on?

[2018-02-24 09:36] patriksvensson opened #2055 "Build Cake.exe for net461"

[2018-02-24 10:38] Kralizek opened #2056 "Make easier to search files in a certain directory"
I often find myself in the situation of looking for files matching a certain pattern within a folder or below.

Here is a typical use case

As of today, executing `dotnet test` on a solution will try to find and execute tests on every project filling the log with errors because no testable project was found. This is why I prefer to find every project file within the `tests` directory hive.

[code]

[2018-02-24 10:38] Kralizek commented on #2056
@patriksvensson

[2018-02-24 11:16] patriksvensson commented on #2056
@Kralizek Great!

The name indicates that it returns files and not file paths. Perhaps it should be renamed to something like `GetFilePaths` instead?

I'm also curious to why this method takes a `DirectoryPath`, pattern and `SearchScope` instead of a glob pattern, such as `$"{testDirectory}/**/*.csproj"`. This would be more constistent with the [GetFiles](https://cakebuild.net/api/Cake.Common.IO/G

[2018-02-24 12:20] mholo65 commented on #2055
Closed by #2054

[2018-02-24 12:20] #2055 closed

[2018-02-24 14:11] Kralizek commented on #2056
I didn't like that I had to write `GetFiles(testDirectory.FullPath + "/**/*.csproj")`, but I didn't know that `GetFiles($"{testDirectory}/**/*.csproj")` is supported.

[2018-02-25 00:50] ssinno28 opened #2057 "Cake Build Automation Microsoft.Build.Tasks.CodeAnalysis.dll Assembly Conflict"
I'm having an issue trying to build a dotnet core project that has these references:

        <PackageReference Include="Microsoft.CodeAnalysis.CSharp" Version="2.6.1" />
    <PackageReference Include="Microsoft.Net.Compilers" Version="2.6.1" />

For whatever reason it keeps saying `Microsoft.Build.Tasks.CodeAnalysis.dll` assembly has already been loaded. Here is the exact error message:

Here is

[2018-02-25 13:47] #2057 closed

[2018-02-25 13:47] ssinno28 commented on #2057
Realized this is unrelated to Cake, sorry for the confusion.

[2018-02-26 14:03] nikhilagrawaldotnet commented on #2053
Raised this on SO and found answer.
https://stackoverflow.com/questions/48957580/passing-string-from-batch-file-which-contains-double-quotes-to-powershell

[2018-02-26 14:03] #2053 closed

[2018-02-26 14:19] gep13 commented on #2053
@nikhilagrawaldotnet I saw that Stack Overflow question, but I was a little confused as to what you were trying to do, and why the need for the string[].  Assuming you have the following Cake file:

[code]

Then you should be able to run:

[code]

on Linux, and then:

[code]

And you will see the following output:

![image](https://user-images.githubusercontent.com/1271146/36675135-1161fd8a-1b00-1

[2018-02-26 14:20] gep13 commented on #2053
NOTE:  This assumes that you are using the latest version of the Bootstrappers from the resources repository.

[2018-02-26 14:52] mholo65 opened #2058 "Update to GitReleaseManager 0.7.0"
To fix SSL/TLS issue here https://github.com/GitTools/GitReleaseManager/issues/105

[2018-02-26 15:37] #2058 closed

[2018-02-26 20:24] kcamp commented on #2008
@patriksvensson great, thanks.

If I am reading the code right (pretty sure I am), the intention is:
1) `CakeEngine` has 1 and only 1 `ICakeDataContextRepository` instance
2)  The `ICakeDataContextRepository` instance accepts 1 and only 1 `<TData>` assignment, and that `TData : ICakeDataContext`.

So, effectively, the marker interface is the derived requirement of what is intended to unify 1..N va

[2018-02-26 21:17] Insire commented on #2042
looks like this is a duplicate of #2003 and already PRed in #2004

[2018-02-27 07:37] patriksvensson commented on #2008
@kcamp

What you're describing will be possible (multiple setup/teardown for different typed contexts), it's internals have just not been implemented yet. This is just a proof of concept and I wanted to have a discussion about it before writing more code.

Ny thought about this is that this should be supported:

[code]

I'm also thinking about adding automatic disposal of contexts implementing `ID

[2018-02-27 09:16] Liversage opened #2060 "Cannot build with Cake.Core 0.26 when using Cake.PowerShell"
### What You Are Seeing?

When I build using Cake I get the following error message:

[code]

In `build.cake` I have `#addin "Cake.Powershell"`.

Examining `tools\Addins\Cake.Powershell.0.4.3\Cake.Powershell.0.4.3.nupkg` I can see that this package has the following dependency:

[code]

So this addin requires `Cake.Core` version 0.22 **or greater** (and works fine with `Cake.Core` version 0.25).

[2018-02-27 09:22] patriksvensson commented on #2060
@Liversage You will need to open an issue at https://github.com/SharpeRAD/Cake.Powershell and ask the maintainer to update to Cake 0.26.0.

[2018-02-27 09:24] patriksvensson commented on #2060
@Liversage In the meantime you can pass `--settings_skipverification=true` to Cake to skip verification. There might be breaking changes that prevent this from working as well. In that case, please pin Cake to 0.25.0 until the necessary changes have been done in the Cake.PowerShell addin by the maintainer.

Closing this issue for now. Feel free to re-open it if you feel differently.

[2018-02-27 09:24] #2060 closed

[2018-02-27 15:19] williamb1024 opened #2061 "NuGetPack overwrites `developmentDependency` and `requireLicenseAcceptance` from nuspec."
### What You Are Seeing?

Builtin NuGetPack always replaces `developmentDependency` and `requireLicenseAcceptance` values when transforming a nuspec file.

Only `developmentDependency` and `requireLicenseAcceptance` operate in this manner.

### What is Expected?

NuGetPack would not replace any setting within the nuspec, unless that setting has been specifically configured within the NuGetPackSett

[2018-02-27 15:24] kcamp commented on #2008
@patriksvensson Got it, thanks for the explanation.  Agree with you on all points as far as your use-case as described above.  I don't think it would hurt anything to handle `IDisposable` types automatically.

As a final point of clarification, your types `MyData` and `MyOtherData` implement `ICakeDataContext` -- That gives me pause, especially since it's just an empty marker interface.  Since I'd

[2018-02-27 21:17] mholo65 opened #2063 "Cake running on Mono can't load netstandard 2.0 assembly"
Currently getting `You must add a reference to assembly 'netstandard, Version=2.0.0.0`

Minimal repro:
[code]

Gives:
[code]

[2018-02-28 15:30] nowakpiotr opened #2064 "Referencing an older version of Cake.Core"
https://github.com/MihaMarkic/Cake.Docker/issues/29

Hi,

Cake 0.26.0 was released which finally runs on .Net Core 2.0 and doesn't need .Net Core 1.x anymore to build.

I tried to update our projects to Cake 0.26.0 where we use your plugin but I get the following error message:

Downloading NuGet.exe...
Installing Cake...
Running build script...
Analyzing build script...
Processing build script...

[2018-02-28 15:38] gep13 commented on #2064
@nowakpiotr yes, this is expected.  There were a number of breaking changes in the 0.26.0 release, and as a result, we are trying to ensure that there are no errors are run time.  You may be able to use the suggested workaround in the above error message until Cake.Docker is updated.

I would suggest you raise an issue on the Cake.Docker repository here:

https://github.com/MihaMarkic/Cake.Docker

[2018-02-28 15:38] #2064 closed

[2018-03-03 14:54] #2063 closed

[2018-03-04 04:41] linianhui opened #2066 "cake.coreclr help information error"
### What You Are Seeing?
cake.coreclr help information error
### What is Expected?
Example: dotnet Cake.dll
Example: dotnet Cake.dll build.cake --verbosity=quiet
Example: dotnet Cake.dll build.cake --showdescription
### What version of Cake are you using?
0.26.1
### Are you running on a 32 or 64 bit system?
64
### What environment are you running on?  Windows? Linux? Mac?
windows
### Are you runni

[2018-03-04 16:50] bruno-garcia opened #2067 "Publish as .NET Core Global Tool"
Last week the .NET Core team [released a preview for version 2.1](https://blogs.msdn.microsoft.com/dotnet/2018/02/27/announcing-net-core-2-1-preview-1/).
With this release the CLI now support what they called: *.NET Core Global Tools*.

To quote the announcement:

It'd look like
[code]

I believe #1644 is related but now Global Tools is the way to go.

[2018-03-05 09:19] akordowski opened #2068 "AddIn updated to Cake 0.26.1 raise exception after install"
I have updated the [Cake.Compression](https://github.com/akordowski/Cake.Compression) AddIn to Cake 0.26.1. The AddIn is installed correctly, but raises after installation an exception.

### What You Are Seeing?
`Cake.Core.CakeException: Failed to install addin 'Cake.Compression'.`

### What is Expected?
No exception.

### What version of Cake are you using?
0.26.1

### Are you running on a 32 or

[2018-03-05 10:08] gep13 commented on #2068
@akordowski could you please run the same again using Diagnostic Verbosity, and post the output here?  Thanks!

[2018-03-05 10:40] akordowski commented on #2068
@gep13 This is the diagnostic output.

[2018-03-05 10:57] gep13 commented on #2068
@akordowski seems like you addin is targetting 4.6.2.  Cake targets 4.6.1.

[2018-03-05 11:51] akordowski commented on #2068
@gep13 Yes, thats the case. Thank you for the hint, I will fix it.

[2018-03-05 13:04] gep13 commented on #2068
@akordowski let us know if that resolves the issue, and we can get this issue closed.

[2018-03-05 16:52] akordowski commented on #2068
I changed the framework target to 4.6.1 and it works now as expected. Thanks a lot for your help and time!

[2018-03-05 16:52] #2068 closed

[2018-03-06 15:38] aateeque opened #2070 "Cannot give multiple nuget sources from the command line"
### What You Are Seeing?

Parameter `nuget_source` when set with multiple sources only sets a single nuget repository.

### What is Expected?

Create a nuget repository for each of the source specified at the command line

### What version of Cake are you using?

0.26.1

### How Did You Get This To Happen? (Steps to Reproduce)

Start cake.exe as

[code]

Cake only looks for packages in `http://cor

[2018-03-06 15:41] mholo65 commented on #2070
Duplicate of https://github.com/cake-build/cake/issues/2014

[2018-03-06 15:41] #2070 closed

[2018-03-06 16:33] urajkovic commented on #1721
Are there any news on this? Does Cake support netstandard2.0 libraries?

[2018-03-06 16:46] devlead commented on #1721
©urajkovic yes since 0.26.0 it does and since 0.26.1 it also works on Mono (5.4 and up required though).

[2018-03-06 21:07] mholo65 commented on #2047
Closed #2046

[2018-03-06 21:07] #2047 closed

[2018-03-06 21:18] mholo65 commented on #2042
Insire is this a duplicate of #2003?

[2018-03-06 21:33] #2014 closed

[2018-03-06 22:00] mholo65 commented on #2003
Closed #2004

[2018-03-06 22:00] #2003 closed

[2018-03-07 18:24] Insire commented on #2042
Is is, closing this.

[2018-03-07 18:24] #2042 closed

[2018-03-08 06:58] timschps opened #2071 "Issue with context.arguments in script alias"
### What You Are Seeing?
I'm trying to create a script alias that uses the context.arguments property (to enable some context aware logic in the alias), but for some reason it is empty...

This can be seen here (debugging session): ![2018-03-08 07_31_37-buildsupport debugging - microsoft visual studio](https://user-images.githubusercontent.com/13098307/37137165-ea7f80dc-22a4-11e8-9a79-ed3a07c7b5e8

[2018-03-08 09:13] timschps commented on #2010
if you put the nuget.config file in the folder where nuget.exe file resides, then it works again

[2018-03-08 15:57] stefandevo opened #2073 "Allow Bitrise provider to set environment variable"
Currently there is no way to set an environment variable when using the Bitrise provider; internally Bitrise uses ENVMAN as per https://devcenter.bitrise.io/tips-and-tricks/expose-environment-variable/

Idea would be that the Bitrise provider has a SetEnvironmentVariable method to set variables usable between steps.

I already created a proposed PR https://github.com/cake-build/cake/pull/2072 but

[2018-03-09 07:01] andycmaj commented on #985
i don't have this problem anymore, since you can now build sln files directly. closing this

[2018-03-09 07:01] #985 closed

[2018-03-09 13:47] patriksvensson opened #2074 "Add interface for FilePath, DirectoryPath and Path."
By implementing these interfaces on `ConvertableDirectoryPath` and `ConvertableFilePath` usage of paths received from the `Directory(..)` and `File(..)` aliases will be much easier.

We should also change all internal methods from taking `FilePath`/`DirectoryPath` to `IFilePath`/`IDirectoryPath`.

Another benefit this brings is that we remove A LOT of implicit conversions like ConvertableFilePath

[2018-03-09 22:30] ChrisMaddock opened #2075 "Add overloads for DotNetCore*() methods taking FilePath instead of string"
### What You Are Seeing?

I recently got a compilation exception because I was trying to pass a `FilePath` that I'd found through `GetFiles().Single()` into `DotNetCoreNuGetPush()`.

### What is Expected?

The argument passed to `DotNetCoreNuGetPush()` is a file path, but is of type `string`. It seems off that I need to do `myFilePath.ToString()` to pass it in. I would expect this method to take a

[2018-03-09 23:06] devlead commented on #2075
for now `filePath.FullName` will work.

[2018-03-10 20:39] louisfischer commented on #1698
@gep13 @mholo65  I think this issue can be canceled. I am not sure if this needed anymore.

[2018-03-11 15:04] josephbaggett opened #2076 "DotNetCoreBuild .Net Core 2.0 not working with .Net Standard assemblies"
### What You Are Seeing?
Here is my build.cake script:
///////////////////////////////////////////////////////////////////////////////
// ARGUMENTS
///////////////////////////////////////////////////////////////////////////////

var target = Argument("target", "Default");
var configuration = Argument("configuration", "Release");

var buildSettings = new DotNetCoreBuildSettings
     {
         Fram

[2018-03-11 16:36] josephbaggett commented on #2076
I'm curious if I just have a misunderstanding with the command itself.  I was hoping to call "dotnet build SolutionFile.sln" through cake.  The issue is, when I point to the solution file doing the DotNetCoreBuild command like so, DotNetCoreBuild("SolutionFile.sln", settings), it errors on trying to build .Net Standard assemblies when I tried to call the solution.

I had to manually call specifica

[2018-03-11 16:40] josephbaggett commented on #2076
Can I somehow call a one liner command like "dotnet build SolutionFile.sln" from a Cake task?

[2018-03-11 18:57] asbjornu commented on #2008
I was just asking for this feature on Gitter. I would love to have something like this. 👍

[2018-03-11 19:21] patriksvensson commented on #2008
@asbjornu I've created a PR for it here: https://github.com/cake-build/cake/pull/2016

[2018-03-12 23:24] josephbaggett commented on #2076
Thanks for sharing, but I'm evaluating the differences as I'm still getting errors implementing it the same way, calling the solution directly.  I am getting the errors from above.  I have the latest .Net Core installed.

[2018-03-12 23:37] devlead commented on #2076
Your log above indicates SDK 2.0.2, 2.1.4 is the latest though.

https://github.com/dotnet/core/releases

[2018-03-12 23:44] josephbaggett commented on #2076
Gotcha... will recreate some of my assemblies with the latest again and test, will let you know.

[2018-03-13 08:44] B3nCr commented on #1401
Did anyone do anything with this? I'm guessing not as I can't see it.

[2018-03-13 08:58] gep13 commented on #1401
@B3nCr no, not that I am aware of.  We would be happy to accept a PR if this is something you are interested in seeing getting added.

[2018-03-13 12:36] devlead commented on #2039
Fixed by #2040

[2018-03-13 12:36] #2039 closed

[2018-03-13 12:38] devlead commented on #2051
Fixed by  #2050

[2018-03-13 12:38] #2051 closed

[2018-03-13 13:27] wexman commented on #1662
So now with version 0.26.0 of cake, the incubator addin (1.7.2) doesn't work anymore (because it was built against cake.core 0.22.0).
How am I supposed to get the version info I need now?
Can you please stop breaking things between every 2nd release?

[2018-03-13 13:34] devlead commented on #1662
@wexman we've had 7 intentional breaking changes in 87 releases. Most of those have been because dependencies have introduces breaking changes. I.e. switching from .NET Standard 1.6 to 2.0 is a pretty big change tooling wise. We do try hard to not introduce breaking changes, and that we break every second release simply isn't true.

0.25.0 still works, so if you pin to that your build should just

[2018-03-13 14:06] Kemyke opened #2077 "Locating the correct vstest.console.exe (VS2017)"
### What You Are Seeing?
there is a closed issue https://github.com/cake-build/cake/issues/1522 for locating the correct VS2017 `mstest.exe`. But that should be applied when locating vstest.console.exe.

### What is Expected?
If i am right the same modification should be applied to find the correct `vstest.console.exe` [here](https://github.com/cake-build/cake/blob/ad97ab26842fb417189ac36f248f99b1

[2018-03-13 15:04] gep13 commented on #1662
Can you please stop breaking things between every 2nd release?

Introducing breaking changes is not something that we do lightly.  We only do this when we feel it is absolutely necessary.  We do however go out of our way to try to let the Cake community know about these upcoming breaking changes ahead of time, so that they can be prepared, and we also recommend pinning to a specific version of Cak

[2018-03-13 15:15] #2005 closed

[2018-03-13 15:25] devlead opened #2078 "Support expand environment variables in script pre-processor directives"

[2018-03-13 17:35] #1213 closed

[2018-03-13 19:34] mholo65 opened #2079 "Default sources not loaded if nuget_source is empty"
#2014 introduced a bug where default sources would not be loaded if `nuget_source` config was null or empty.

Providing PR...

[2018-03-13 19:38] mholo65 opened #2081 "Possibility to override default nuget sources"
Default nuget sources should be overridable in order to work completely offline.

See discussion on Gitter [here](https://gitter.im/cake-build/cake?at=5aa7b6abe4d1c63604f497fd)

[2018-03-13 19:39] mholo65 opened #2082 "Investigate NuGet local V3 cache"
Feels like it's not working....

[2018-03-14 06:17] Insire commented on #2079
I wonder how your proposed changes are fixing the default sources not being loaded when nuget_source is empty.

From what i can gather from your commit 9d0450e, is that you inverted the previous check on NullorEmpty for nuget_source and moved the loop over the sources into that if statement.

My assumption would be to use a default value of a nuget source to submit to CreateRepository, in the case

[2018-03-14 07:12] skogsaas opened #2083 "Cake force(?) includes default NuGet source when installing addins"
### What You Are Seeing?
Cake includes default NuGet sources `api.nuget.org` when installing addins/tools, even if the `--nuget_source` and `--roslyn_nugetsource` flags are set to an internal NuGet-feed.

Cake manages to install all the addins using the internal feed, but seems to parallell communicate to the default `api.nuget.org` source. The access from our internal network to the public nuget.

[2018-03-14 07:32] mholo65 commented on #2079
@Insire I've inverted the check and replaced the `return` with the `foreach`loop which was previously after the if statement (this is exactly same behaviour with regards of parsing `nuget_source` config variable).

What this however fixes, is that it removes the `return`, which previously stopped us from hitting [this](https://github.com/cake-build/cake/commit/9d0450efb87e5773b5f467f878207aa736af5

[2018-03-14 07:37] mholo65 commented on #1662
@wexman oh, it sure is possibly. Just pass `--settings_skipverification=true` to `cake.exe`, that will disable the verification check, and hopefully `Cake.Incubator` addin will just work. More info [here](https://cakebuild.net/docs/fundamentals/default-configuration-values#skip-verification)

[2018-03-14 07:48] gep13 commented on #1662
Sorry if I'm touching a sore point here, but in other words it is not currently possibly to parse a c# project file using the latest version of Cake?

No, not a sore point at all.

What you said was factually incorrect, and @devlead wanted to ensure that you understood that.

Quite frankly, the way that you said it came across and rude and entitled, and I also wanted to make sure that you understo

[2018-03-14 08:46] #2079 closed

[2018-03-14 09:43] #1887 closed

[2018-03-14 11:02] #2031 closed

[2018-03-14 11:53] gep13 commented on #1698
@louisfischer happy to close it out.  Let us know if you want to re-visit this.

[2018-03-14 11:53] #1698 closed

[2018-03-14 13:06] #2036 closed

[2018-03-14 17:58] Jericho opened #2084 "Cake does not load dependencies in correct order"
My addin (Cake.Email) which targets `netstandard2.0` in order to be used with Cake 0.26.0 is dependent on the MimeKit nuget package which targets multiple .NET frameworks, including netstandard2.0. Mailkit depends on the BouncyCastle.

When you execute a `build.cake` that references my addin, cake successfully downloads all the dependent packages but it doesn't seem to be loading in memory the ver

[2018-03-14 20:43] mholo65 commented on #2028
@Insire once #2085 is merged, you should be able to consume [NuGet.Credentials](https://www.nuget.org/packages/NuGet.Credentials/4.6.0) package.

Don't know how to hook it up. You'll probably need to read some source code [here](https://github.com/NuGet/NuGet.Client/tree/release-4.6.0-rtm/src/NuGet.Core) to see how to hook it up.

[2018-03-14 22:00] ChrisMaddock commented on #2075
I've seen since that my example takes a string instead of a file path as `dotnet nuget push` can also accept globs. (Undocumented though, it seems 😞)

In that case, I'm not totally sure what the right solution is here. Is a `FilePath` overload that converts the call to `filepath.FullName` under the hood sensible, or should the user convert themselves? Is there a convention with Cake aliases for th

[2018-03-15 05:07] josephbaggett commented on #2076
@devlead I went and uninstalled any old sdks, and reinstalled the latest, and re-created a new solution from scratch, and added .Net Core assemblies specifically to the solution.  I was able to call the DotNetCoreBuild command and point to my solution.  The problem occurred once I added a single .Net Standard assembly to the solution as well, then I was getting errors when DotNetCoreBuild was bein

[2018-03-15 05:25] josephbaggett commented on #2076
![dotnetbuild without cake](https://user-images.githubusercontent.com/1629104/37445683-4b24a632-27e7-11e8-95b5-f73a1c1c75ef.png)
Attached is a picture of me calling dotnet build directly with no issues on the same solution

[2018-03-15 05:30] josephbaggett commented on #2076
Here is the logs with diagnostics on:

PS J:\Neuledgebase\Neudesic.Neuledgebase.Build> .\build.ps1 -Target "Package" -Verbosity "Diagnostic"
Preparing to run build script...
Running build script...
Module directory does not exist.
NuGet.config not found.
Analyzing build script...
Analyzing J:/Neuledgebase/Neudesic.Neuledgebase.Build/build.cake...
Processing build script...
Installing tools...
  GE

[2018-03-15 07:56] Insire commented on #2028
@mholo65 allright, i'll probably take a look at this the coming weekend. Thanks for the pointers.

[2018-03-15 22:19] #1908 closed

[2018-03-16 03:06] richardgavel opened #2087 "Include more detailed exception information when Exception is AggregateException"
I have Tasks that will execute a Parallel.Invoke of an array of Actions. However, when an error happens, all I'll see is the "One or more errors occured". Maybe AggregateExceptions should output the message of each child exception.

[2018-03-16 07:07] devlead commented on #2087
Which version on Cake are you using, have you tried executing Cake with [diagnostic verbosity](https://stackoverflow.com/questions/38658660/how-to-enable-diagnostic-verbosity-for-cake)?

[2018-03-16 12:49] jnm2 commented on #2087
If changing the verbosity affects it, I would wonder is it ever helpful to see only the message in the special case of an AggregateException?

[2018-03-16 12:51] devlead commented on #2087
@jnm2 Issue could be that it's already within an aggregate exception because the async support. So could be an extra layer of abstraction. Whereas diagnostic gives the whole stack trace.

[2018-03-16 12:57] jnm2 commented on #2087
@devlead It is an extra layer of abstraction because he is using `Parallel.Invoke`. I ran into the same thing with `Task.WhenAll`. It's sort of like if I wrote `throw new AggregateException(new InvalidOperationException("foo"))`. I could be wrong, but wouldn't it be nice if Cake showed the messages of the InnerExceptions collection even when I'm on the default verbosity and not looking for the sta

[2018-03-16 13:08] devlead commented on #2087
Well anything's possible would need to be recursive then I guess. to fetch inner inner exception messages and so on too.

[2018-03-16 13:43] jnm2 commented on #2087
Yes, that's a good idea! it would be like Visual Studio's exception helper window!

[code]

Makes it show:

![image](https://user-images.githubusercontent.com/8040367/37523783-599c2c86-28fe-11e8-8b84-0d6fa10b8d0a.png)

And here's the middle one:

![image](https://user-images.githubusercontent.com/8040367/37523826-79877262-28fe-11e8-9096-399664a4a434.png)

[2018-03-16 13:52] patriksvensson commented on #2087
I wonder if Ben Adams magic exception demystifier exists as a source package... 😄

[2018-03-16 22:19] sean-rose opened #2088 "VSWhere -requires and -products argument values are quoted but VSWhere doesn't support multiple values in quotes"
### What You Are Seeing?
Cake's VSWhere aliases put quotes around the `-requires` and `-products` argument values, which are supposed to allow multiple workloads/products to be specified, but per Microsoft/vswhere#141 VSWhere doesn't support passing multiple workloads/products within one quoted argument value.

### What is Expected?
Cake's VSWhere aliases should not put quotes around the `-require

[2018-03-17 10:40] Insire commented on #2028
so after investigating a little bit and starting a PR already, i am wondering what kind of workflows should I/we support?

There is authentication via NuGet.config.
Then there is authentication via NuGet.config + a credential provider (what i found and started to add in the PR).

Is there any other way, i might have missed or i should focus on?

[2018-03-17 12:42] mholo65 commented on #2028
AFAIK, `nuget.exe` only supports credentials through `NuGet.Config`, so that would be a good start. If you have something ready, please send PR and we’ll iterate :smile:

[2018-03-17 12:54] Insire commented on #2028
Not yet. I am still piecing things together.

[2018-03-17 12:57] mholo65 commented on #2028
...and now I saw this https://github.com/cake-build/cake/pull/2090 :smile:

[2018-03-17 12:58] Insire commented on #2028
While i got your attention - how does the inprocess nuget client work? i was expecting to see nuget API calls, but all i found is processes being started via nuget.exe

[2018-03-17 13:39] Insire commented on #2028
Ok, after some digging, i conclude that the "in process client" still leverages the nuget.exe for interacting with the nuget API, its just that cake has functionality baked in for that, so one doesnt have to write cake tasks to restore packages and so on.

[2018-03-17 14:39] mholo65 commented on #2028
The link you provided is for `nuget.exe`, but the in-proc (here https://github.com/cake-build/cake/tree/develop/src/Cake.NuGet/Install) uses the NuGet.Client libraries to accomplish the same thing.

Regarding “restore packages and so on”. That are NuGet-aliases located in Cake.Common, and yes, they leverage `nuget.exe`.

`Cake.NuGet`, however, is used for pre-processor directives (`#addin`, `#tool

[2018-03-17 15:04] Insire commented on #2028
I still need to properly confirm this, but with using the latest version of cake (0.26.1) and moving the VSTS credential provider right next to the nuget exe and providing a NuGet.config next to them, i can properly access a private nuget feed when setting UseInProcessClient to true in the cake.config

[2018-03-17 15:10] Insire commented on #2028
@mholo65 so, the goal should be to obsolete the nuget.exe and access the nuget API directly?

[2018-03-19 18:47] sm-g commented on #1853
I'm unable to build cake script with `using static System.Math;` using version 0.26.1. Still same "The type or namespace name 'static' could not be found"

[2018-03-19 20:56] gep13 commented on #1853
@sm-g I have just tested this on my Mac, using Cake 0.26.1, and I can confirm that it is working as expected.

Can you confirm what Operating System you are using?

[2018-03-19 20:58] mholo65 commented on #2084
The fact that `net45` is loaded instead of `netstandard2.0` is completely ok when `Cake.exe` targets `net461`. This is the best match according to NuGet. This can be reproduced by creating a new `dotnet` project, target `net461` and add `Cake.Email` as a package rreference. After running `dotnet restore`, you'll see that `obj\projects.assets.json` contains the following:

[code]

What however is a

[2018-03-19 21:02] mholo65 commented on #1853
@gep13 @sm-g We also have integration tests in place for this https://github.com/cake-build/cake/blob/develop/tests/integration/Cake.Core/Scripting/UsingDirective.cake

[2018-03-19 21:11] sm-g commented on #1853
@gep13 windows 10 x64 home
Version 0.26.1+Branch.main.Sha.b26790017b2befa7b35799eb9a0c1cba322b0c90

[2018-03-19 21:13] mholo65 commented on #2028
@Insire sorry for not getting back to this sooner.

Is this working for NuGet aliases only? E.g. `NuGetRestore`? Without me knowing anything about the VSTS credential provider, I'm still don't think it would work with `#addin` or `#tool` pre-processor directive with `--nuget_useinprocessclient=true`.

Yes, for pre-processor directives. (`#tool`, `#addin`, `#module`, `#load`) NuGet aliases (`NuGetR

[2018-03-19 21:56] Insire commented on #2028
![grafik](https://user-images.githubusercontent.com/11455827/37624179-89c81304-2bc7-11e8-909c-6bec97f19962.png)

@mholo65  the last addin is from a private VSTS nuget feed.

I pulled the source for the nuget libraries from github to get an idea whats in there and how they do things and atleast for the credential stuff, it seemed fairly straight forward. They try to load assemblies that match a cer

[2018-03-19 22:04] mholo65 commented on #2028
@Insire oh nice! Great progress so far!

Now I see, with this PR https://github.com/cake-build/cake/pull/2090 we will locate the NuGet Extensions (CredentialProviders) which will provide the credentials. So this will at least work for VSTS.

[2018-03-20 08:35] tompazourek opened #2091 "After updating VS 2017 to 15.6.3: Could not load type 'Microsoft.Build.Logging.ProfilerLogger'"
I just updated to latest version of Visual Studio 2017 (15.6.3) that was just released and my Cake builds started crashing (when restoring NuGet packages or running the build task).

This is the snippet of the log:

[code]

I'm using Cake 0.26.1 and building on Windows 10, it's a full .NET Framework 4.7.1 app, old csproj structure.

**Is this a Cake issue, or should I look for help somewhere else?

[2018-03-20 09:05] gep13 commented on #1853
@sm-g I have just tested on the same, and everything looks to be working fine.

Can I get you to test something for me?  Can you use the following build.cake?

[code]

The output should be

[code]

[2018-03-20 11:15] sm-g commented on #1853
@gep13 I do not know what happened, now everything works...

[2018-03-20 11:42] gep13 commented on #1853
@sm-g if I had to guess, I suspect you were running an older version of Cake. The only thing I added to the above was to output the currently executing Cake version number.

[2018-03-20 16:51] patriksvensson commented on #2091
@tompazourek Doesn't sounds like a Cake issue, but hard to know without the actual build script. Can you run the build with diagnostic verbosity and paste the build log here? Thanks.

[2018-03-20 23:03] Jericho opened #2092 "Unable to set 'no-build' and 'no-restore' when executing DotNetCoreRun"
The `DotNetCoreRunSettings` class does not have properties that would allow us to set these two values.

To make matters worse, we can't use the usual workaround (which would look like this:  `ArgumentCustomization = args => args.Append("--no-restore --no-build")`) because the position is important: these settings cannot be appended at the end due to the fact the last position is reserved for argu

[2018-03-21 07:41] patriksvensson commented on #2092
@Jericho Sounds like something that should be supported.

To solve your issue until this is implemented, have you tried using `ArgumentCustomization = args => args.Prepend("--no-restore --no-build")`?

[2018-03-21 07:44] patriksvensson opened #2094 "Add support for executing a single task without dependencies"
Sometimes you just want to execute a single task, without executing its dependencies. It would be nice to be able to tell Cake to just execute the task as it is.

[code]

[2018-03-21 09:22] tompazourek commented on #2091
@patriksvensson Thanks for getting back to me. Unfortunately, I'm afraid I cannot assist more at this point because I decided to uninstall Visual Studio 15.6.3 and revert back to an older version again. I really needed to get some work done, and this was the only solution.

Maybe somebody else will experience the same issue and will follow up with more information, the 15.6.3 is a brand new releas

[2018-03-21 09:27] gep13 commented on #2094
@patriksvensson this sounds like a good idea to me.  I "think" @jnm2 might have created a related issue.

[2018-03-21 09:33] patriksvensson commented on #2094
@gep13 I looked for an issue, but couldn't find one when I wrote it.

I assume you're thinking about https://github.com/cake-build/cake/issues/1341, but that's not the same thing.

[2018-03-21 10:06] gep13 commented on #2094
@patriksvensson yip, that is the one that I was thinking of.  Certainly related to this one.  Could both be tackled at the same time?

[2018-03-21 10:53] patriksvensson commented on #2094
@gep13 I don't know. I see them as two different features.

[2018-03-21 13:09] Jericho commented on #2092
Unfortunately pretending the argument s is not an option either because the first position is reserved for the “run” command.

[2018-03-21 14:31] jnm2 commented on #2094
You know, I think Patrik's idea would give me most of the benefit I was hoping for.
Especially if this is coupled with the ability to specify multiple tasks to run, which I hope we get to use with or without the --exclusive switch.

[2018-03-21 18:23] patriksvensson commented on #2092
@Jericho Ah, that's true. As a last resort you could always rewrite the Arguments completely until this have been fixed.

[2018-03-21 18:40] #2092 closed

[2018-03-21 20:30] pavzaj opened #2095 "Add "--skipnontestassemblies" funcionality to CAKE's NUnit3Settings as it exists in original nunit3 test runner"
### What You Are Seeing?
NUnit3Settings class does not have property SkipNonTestAssemblies
### What is Expected?
NUnit3Settings class does have property SkipNonTestAssemblies and features behind it as described here: https://github.com/nunit/docs/wiki/Console-Command-Line
### What version of Cake are you using?
v0.26.1
### Are you running on a 32 or 64 bit system?
64
### What environment are you r

[2018-03-22 15:53] richardgavel opened #2097 "Ability to compile without executing script"
I have a NuGet package that contains a Cake script that is meant to be shared by multiple projects. Unfortunately, there is no way to syntax check the script itself (i.e. during the CI process that creates the package) because the compilation and execution steps are both part of RoslynScriptSession.Execute method (plus obviously there is no command to expose that). I'd love to be able to run Cake

[2018-03-23 03:53] #1981 closed

[2018-03-23 16:42] patriksvensson opened #2099 "Cache compiled script on disk"
Would be nice if we could cache compiled script to disk if it haven't changed.

[2018-03-26 08:07] Gargony opened #2101 "CakeReportPrinter should be disabled in Verbosity = Quiet"
I expect no extra lines from cake-build in Verbosity Quiet mode.

[2018-03-26 13:10] patriksvensson commented on #2101
@Gargony I would disagree. Setting the verbosity to quiet, simply tells the logger to only output warnings and errors. The report however I think is something that you usually want to see when a build finished even if you want to remove clutter from the log.

We could however introduce a `--no-report` argument to Cake, to tell Cake not to show this.

[2018-03-26 15:00] dandezille opened #2102 "CopyFiles does not respect folder structure when pattern only matches files in a subdirectory"
### What You Are Seeing?
CopyFiles does not correctly respect the folder structure when a pattern is used which only matches files in a subdirectory.
### What is Expected?
If I have the files:
./src/file1.txt
./src/sub/file2.txt
./src/sub/file3.dat

The command CopyFiles("./src/**/*.txt", "./dest", true) will result in:
./dest/file1.txt
./dest/sub/file2.txt

However the command CopyFiles("./src/**

[2018-03-27 04:31] Gargony commented on #2101
Thank you for your proposal.
Ok, argument approach also cover my expectations. But in my practices with other command line tools, verbosity applied to all output information (e.g. MSBuild).

[2018-03-28 06:54] Gargony opened #2103 "Clone method for MSBuildSettings"
Please add Clone method for MSBuildSettings it is useful then this setting is shared between several tasks.

[2018-03-28 17:13] jnm2 commented on #2103
This could be nice. The workaround I've been using is to define a `MSBuildSettings CreateBuildSettings()` method.

[2018-03-28 17:29] devlead commented on #2103
I use func for this personally
[code]

That makes it easy to share common settings without code duplication, guarantee no leftovers like targets etc present from others as all get their own instance guaranteed

[code]

[2018-03-29 05:20] Gargony commented on #2103
Function approach not useful.
Exists some properties I request from user if they are missing

[code]
and use it during settings first creation

[code]

[2018-03-29 07:37] jnm2 commented on #2103
Instead of caching that information in `DefaultMSBuildSettings` of type `MSBuildSettings` a workaround for now might be `IDictionary<string, IList<string>> DefaultMSBuildProperties`?

[2018-03-29 07:39] jnm2 commented on #2103
Yeah, I see. You want to make it reusable without caching each property separately.

[2018-03-29 07:48] devlead commented on #2103
I see a risk by doing a custom "Clone" for msbuildsettings, easy to miss new properties i.e., another way would be to pull down one of the deep cloners available on NuGet
https://www.nuget.org/packages?q=Tags%3A%22DeepClone%22

Or using something like json/protobuf/etc. to clone the object using some assembly which is fully tested.

Any executing framework compatible assembly can be referenced fro

[2018-03-29 08:18] Gargony commented on #2103
Yes, better to have Clone inside Cake.

[2018-03-29 08:37] patriksvensson commented on #2103
@Gargony I think @devlead was saying the opposite. That there already are a lot of great libraries for performing cloning and similar stuff, and that Cake should take advantage of that fact.

[2018-03-29 08:42] jnm2 commented on #2103
@Gargony As a workaround you could cache the input properties rather than caching the output settings object. If you separate concerns and think of it more like a pipeline, it isn't as painful.

<details>

[code]

</details>

[2018-03-29 08:53] Gargony opened #2104 "Make possibility to set Process Exit Code"
Currently cake process can return exit code 0 or 1 only.
Will useful if I can return custom Process Exit Code from task.
e.g. `throw CakeExitCodeException(-1)`

[2018-03-29 09:16] devlead commented on #2104
Yip that could be useful, as a workaround you could currently use `System.Environment.Exit(-1);`

![image](https://user-images.githubusercontent.com/1647294/38080740-8ff4f1f2-3342-11e8-8787-19614957b23b.png)

[2018-03-29 09:19] patriksvensson commented on #2104
This doesn't have to be a new exception btw. We could add a constructor overload to the CakeException to contain an exit code, since it's always used to indicate a problem within Cake (that will lead to an exit if not handled)

[2018-03-29 09:20] devlead commented on #2104
@patriksvensson exactly just an overload constructor with 1 as default.

[2018-03-30 03:30] louisfischer commented on #1609
Hi @gep13 and @agc93 I currently have a need to have the same  additional TFS Commands added to the core cake library. I have some experience with TFS/VSTS and the "Logging Commands." Do you mind if I try to create a pull request and add the additional commands of PublishCodeCoverage and PublishTestResults? These 2 additional features would fill the gap of having separate Tasks in TFS/VSTS to publ

[2018-03-30 13:49] jenaewhitmore opened #2105 "StartProcess cannot find specified file using native StartProcess or using Powershell version."
### What You Are Seeing?
Using StartProcess returns "An error occurred when executing task 'taskName'.
Error: One or more errors occurred.
        The system cannot find the file specified"

`StartProcess("//ComputerName/SomeFolder/Some.exe")`

This same error appears when using the Powershell addin that uses a script file that invokes Start-Process.

### What is Expected?
The process should be st

[2018-03-30 20:00] ChrisMaddock opened #2106 "Remove NUnit3Settings.ErrorOutputFile property"
See https://github.com/nunit/nunit-console/pull/381

The `--err` flag was recently removed from nunit3-console. It turned out it had never been implemented, and nobody noticed for the first four years. 😬 Given implementation complications and lack of demand, it was removed rather than implemented.

Cake should be updated accordingly. I'll submit a PR shortly. 😄

[2018-03-31 08:58] gep13 commented on #1609
@louisfischer I would have no objections to you picking this up.  Let us know if you have any questions.

[2018-04-02 17:19] Caopi commented on #1106
@devlead: confirming what @martinscholz83 and @nickmacd found is still valid.

- Calling ".WithProperty("WarningsNotAsErrors", "1573", "1591")" results in cake executing MSBuild with "/p:WarningsNotAsErrors=1573 /p:WarningsNotAsErrors=1591"
- MSBuild simply [overwrites](https://github.com/Microsoft/msbuild/blob/cc9cc0c54454d427b12d73255b950908894ed10e/src/MSBuild/XMake.cs#L2754) properties if they

[2018-04-03 05:43] cmenzi commented on #2028
How to handle authentication for the feeds configured in `cake.config`? Currently, this is only a ini format and the feeds are separated by `;`. #2014

[2018-04-03 05:58] Insire commented on #2028
Right now, you can add authentication via nuget.config and if you want custom nuget credential providers (e.g. the one for VSTS). In the future, the goal is to move away from the nuget config (atleast for the in process client) and provide options to authenticate with cake only. If you got any ideas in that regard, i'm all ears.

[2018-04-03 06:43] #2081 closed

[2018-04-03 08:13] devlead opened #2111 "(build) Remove retired cli-deps NuGet feed"
Reference: https://twitter.com/MyGetTeam/status/981077382290436096

[2018-04-03 08:35] #2111 closed

[2018-04-03 09:35] #2078 closed

[2018-04-04 11:56] #2106 closed

[2018-04-04 11:58] devlead commented on #2082
@mholo65 is this fixed by #2085?

[2018-04-04 12:13] mholo65 commented on #2082
@devlead, I would say so... At least caching works better now that we’ve updated to 4.6.0

[2018-04-04 12:36] devlead commented on #2082
Fixed by #2085

[2018-04-04 12:36] #2082 closed

[2018-04-04 13:36] devlead commented on #2105
@jenaewhitmore  Cake currently doesn't support UNC paths. Possible workarounds for this at this moment are i.e.
1. Mount network share to drive letter
2. Utilize cmd to start, something like `StartProcess("cmd", @"/c \\PCName\SomeFolder\Some.exe");`
3. Use .NET Build in process start

[2018-04-04 14:14] #1557 closed

[2018-04-04 14:27] fwinkelbauer opened #2113 "Error when loading tools without internet connection"
### What You Are Seeing?

Cake fails if it cannot get a connection to a nuget source when installing a nuget package (even if the package is already present).

### What is Expected?

Cake should work without an internet connection if the appropiate package is already present.

### What version of Cake are you using?

0.26.1

### Are you running on a 32 or 64 bit system?

64 bit

### What environme

[2018-04-04 19:26] mholo65 commented on #2113
@fwinkelbauer you don't pin the version of `Cake.Bumpy` addin.

[Current behaviour](https://github.com/cake-build/cake/blob/447f3722fa779528940a91af84912e5ba4298cde/src/Cake.NuGet/Install/NuGetPackageInstaller.cs#L184) is to query the package sources to get the most recent version. This way the latest version is always installed.

[2018-04-04 20:44] jnm2 commented on #2113
Huh. So if I had known to pin all tool versions, I would have been able to use Cake on my last flights?

[2018-04-04 20:49] mholo65 commented on #2113
@jnm2 in latest beta bits it ***should*** be possible, if you are not relying on loading dependencies.... Currently trying to sort out some edge cases... Hopefully I will get this done by 0.27.0

[2018-04-04 20:55] jnm2 commented on #2113
Thanks! Good to know. Got most of my flying out of the way now, so don't worry on my account!
It would make sense to me to issue a warning rather than failing if none of the package sources can be contacted but all the packages can be satisfied from your local cache.

[2018-04-05 00:06] JonCubed commented on #2076
This is the error you are receiving
[code]
if `Neudesic.Neuledgebase.Repositories.csproj` is a .NET standard library then your build is targeting the wrong `TargetFramework` it should be `netstandard2.0` if it is an app then make sure `TargetFramework` or `TargetFrameworks`  includes `netcoreapp2.0`

The reason you are seeing a difference in behaviour is when you manually run it you are using
`dot

[2018-04-05 05:51] fwinkelbauer commented on #2113
Well TIL, thanks!

Just to make sure that I got your point: The current behavior will change in 0.27.0 and so I should leave this issue open, right?

[2018-04-05 09:15] mholo65 commented on #2113
@fwinkelbauer yes, leave this issue open. I'll change the behavior to "log warning and continue" if we for some reason are unable to communicate with a remote source. I'm also investigating, why we are unable to read dependency info from a local package source (e.g. `tools/Addins` or `~/.nuget/packages`)...

Hopefully I'll get this all fixed in 0.27.0.

[2018-04-05 15:07] GeertvanHorrik commented on #2027
Just putting my thoughts here:

Based on the dependencies (add-ons & cake itself), it should be fairly "straight-forward" to gather the from => to of dependencies and generate the binding redirects in code.

Of course this is only necessary for strong-named assemblies (such as Newtonsoft.Json)

[2018-04-05 16:25] dazinator commented on #2063
I am hitting what I beleive is this same issue at the moment, after updating cake to 0.26.1 which I had hoped might fix it: https://travis-ci.org/GitTools/GitVersion/jobs/362700883#L1944

[2018-04-05 16:31] devlead commented on #2063
Which version of mono is used? .NET Standard support was introduced first as preview in like 5.2 and stable in 5.4.

[2018-04-05 16:51] dazinator commented on #2063
In the travis.yml file is:

`mono: latest`

Should I specify something else?

[2018-04-05 16:55] richardgavel opened #2115 "Load preprocessor directive inconsistent with Addin"
### What You Are Seeing?

When using load pre-processor directive and nuget scheme, "&prerelease" does not pull a pre-release nuget package, as described in the docs for addin directive with nuget scheme (https://cakebuild.net/docs/fundamentals/preprocessor-directives)

### What is Expected?

#load "nuget:?package=utilities.cake&prelease" would pull the latest package, including prelease ones.

##

[2018-04-05 17:01] dazinator commented on #2063
Will try specifying `5.4.0.201`

[2018-04-05 17:03] daveaglick opened #2116 "Loading Newtonsoft.Json in Cake.CoreCLR throws during assembly loading"
### What You Are Seeing?

Loading Newtonsoft.Json in Cake.CoreCLR throws during assembly loading.

### What is Expected?

Rainbows and sunshine.

### What version of Cake are you using?

Cake.CoreCLR 0.26.1

### Are you running on a 32 or 64 bit system?

64

### What environment are you running on?  Windows? Linux? Mac?

Windows

### How Did You Get This To Happen? (Steps to Reproduce)

Run the fo

[2018-04-05 17:10] dazinator commented on #2063
Travis doesn't seem to recognise `5.4.0.201` as a valid version of mono.. Have moved thos to a stack overflow question: https://stackoverflow.com/questions/49677894/travis-ci-mono-5-4-0-201

[2018-04-05 18:07] devlead commented on #2063
@dazinator I've submitted a suggestion on your Stackoverflow question.

[2018-04-06 06:04] patriksvensson commented on #2115
@richardgavel That should work afaik.

I noticed that you spelled `prerelease` wrong in your load directive. Can you try changing it to `#load "nuget:?package=utilities.cake&prerelease"` and see if it works as expected.

[2018-04-06 12:29] Duracell1989 opened #2117 "DoesForEach should evaluate compile time"
### What You Are Seeing?
It looks like the "DoesForEach" of Task is pre-compiled, and isn't doing the "GetFiles" during runtime.

### What is Expected?
The "GetFiles" inside the ForEach should be evaluated at runtime and not during compile time. Because I want to ForEach over files which aren't available (yet) during compile time.

### What version of Cake are you using?
0.26.1
### Are you running

[2018-04-06 13:16] #2117 closed

[2018-04-06 15:35] dazinator opened #2118 "Problem with cake script compilation with travis, trusty, mono and dotnet."
Creating issue as per: https://stackoverflow.com/questions/49677894/travis-ci-mono-5-4-0-201/49678678?noredirect=1#comment86374258_49678678

### What You Are Seeing?

Two different errors at compile of cake script stage, depending on mono version.

The first is here:

https://stackoverflow.com/questions/49677894/travis-ci-mono-5-4-0-201/49678678?noredirect=1#comment86374258_49678678

Problem as ca

[2018-04-06 15:43] dazinator commented on #2118
Here is exact cake version from tools/packages.config

[code]

[2018-04-07 18:59] devlead opened #2119 "DotNetCore Publish misses Force / Self contained / Sources settings"

[2018-04-08 20:43] mholo65 commented on #2029
Fixed by #2085

NuGet 4.6.0 introduces caching which speeds up things. Also #2121 improves things as it will use local sources first.

[2018-04-08 20:43] #2029 closed

[2018-04-09 19:01] AdaskoTheBeAsT commented on #1401
I already added PR
@gep13 could you please review my changes?

[2018-04-10 08:09] Eldadc opened #2122 "API - Missing ability to download reference guide for offline."
API - Missing ability to download  reference guide for offline.
Thanks

[2018-04-10 11:41] ghuntley opened #2123 "Feedback: An exception was thrown from _what line number_ or _what variable was null_?"
### What You Are Seeing?

![image](https://user-images.githubusercontent.com/127353/38554837-6e866bbc-3d07-11e8-8179-478974e1e1d6.png)

### What is Expected?

An easier debugging experience that tells me which variable was null or what line what tore down the house.

### What version of Cake are you using?

[code]
### What environment are you running on?  Windows? Linux? Mac?

Windows x64

### Are

[2018-04-10 11:42] ghuntley commented on #2123
Full log over at https://gist.github.com/ghuntley/f59e810b188700e1095037d0293343e9

[2018-04-11 21:10] AdaskoTheBeAsT opened #2125 "Improvement: DotNetCore buildserver shutdown"
Could you please add command to terminate build server in planned .net core 2.1
Based on announcement
https://blogs.msdn.microsoft.com/dotnet/2018/04/11/announcing-net-core-2-1-preview-2/

`dotnet buildserver shutdown`

[2018-04-11 21:48] daveaglick commented on #2116
When running with `COREHOST_TRACE` I see this pretty early on:

[code]

(TPA = trusted platform assemblies)

So it looks like the version of JSON.NET that ships with .NET Core SDK 2.1.103 is 9.0.1 (located at "C:\Program Files\dotnet\sdk\2.1.103\Newtonsoft.Json.dll"). A little further down I also see this:

[code]

And then finally this:

[code]

So the real question is: why does Cake have a probl

[2018-04-11 22:59] daveaglick commented on #2116
Starting to think that Newtonsoft.Json being in the TPA list is a red herring and doesn’t really have anything to do with this.

Instead, my new theory is that this is a case of the Cake `AssemblyLoader` being late to the party. Because Cake.Core references Microsoft.Extensions.DependencyModel which in turn references Newtonsoft.Json, I think Cake.Core is probably binding to Newtonsoft.Json before

[2018-04-12 04:25] mholo65 commented on #2116
@daveaglick yes it’s a transitive dependency. It’s at least loaded via `Cake.NuGet` which depends on NuGet clients libs, which depends on `NewtonSoft.Json`.

Wonder if adding a binding redirect to app.config fixes this issue?

E.g. For Newtonsoft.Json (support a large range of versions).
`<bindingRedirect oldVersion="0.0.0.0-99.99.99.99" newVersion="9.0.1"/>`

Here’s the transitive dependency. htt

[2018-04-12 11:58] bruno-garcia opened #2126 "On Linux, Compiling build script results in System.NullReferenceException"
### What You Are Seeing?
System.NullReferenceException when running on Linux. Works on Windows and macOS.

### What is Expected?
Build runs.

### What version of Cake are you using?
0.23

### Are you running on a 32 or 64 bit system?
64

### What environment are you running on?  Windows? Linux? Mac?
Linux (Ubuntu locally and on Travis-CI)

### Are you running on a CI Server?  If so, which one?
Tra

[2018-04-12 14:42] patriksvensson commented on #2126
@bruno-garcia Difficult to help out without seeing the script in question, but does the same error occur with the latest version of Cake (0.26.1)?

The `-experimental` flag was removed in version 0.22 and is no longer needed.

[2018-04-12 15:52] daveaglick commented on #2116
@mholo65 But Cake.CoreCLR is executed via `dotnet cake.dll ...` so `app.config` isn't in play. I could hand edit the `Cake.deps.json`, but that seems really hacky and hard to maintain.

I got curious about which assemblies are loaded into the script host context at runtime:
[code]

Here's the full list:
[code]

But no `Newtonsoft.Json`! However, if I add a simple name reference to the build script

[2018-04-12 15:54] bruno-garcia commented on #2126
Here's the script: https://github.com/getsentry/raven-csharp/blob/develop/build.cake
Sorry forgot to link.

[2018-04-12 15:57] patriksvensson commented on #2126
@bruno-garcia Can you test and see if you experience the error with Cake 0.26.1 as well?

[2018-04-12 16:37] bruno-garcia commented on #2126
@patriksvensson still fails. Same error on 0.26.1

[2018-04-12 18:06] daveaglick commented on #2116
PR incoming. I updated the version of `Newtonsoft.Json` to the latest and added a runtime assembly resolver for assemblies that can't be found. This tackles the problem in two ways:
* If an addin references an earlier version of `Newtonsoft.Json`, everything just works because the default resolver will happily bind to a later version - and since Cake now ships with the latest version, this should

[2018-04-16 01:36] MichaelSL opened #2128 "MSBuild doesn't resolve VS preview build tools"
### What You Are Seeing?
VS Preview build tool is not resolved
### What is Expected?
Should be resolved after regular VS, before common build tool
### Are you running on a 32 or 64 bit system?
64 bit
### What environment are you running on?  Windows? Linux? Mac?
Windows

Found this when investigating question from cake gitter chat. Will create a patch for it.

`VSWhere` could be used as an alterna

[2018-04-17 12:11] Sam13 commented on #1875
I already have a very minimized root directory structure...
Since naming of NuGet packages in not always in your hands this might solve the issue now but can suddenly fail - depending on what packages you grab

[2018-04-18 05:36] arialdomartini commented on #1341
I also have the same need, both because I want to run a single task in isolation while developing, just like @jnm2, and because I aim to invoke a single target from the CI/CD tool, like @petertiedemann .

@ale7canna and I are investigating with the following approach, which is far from being perfect, but may be a hint to someone more expert than us:

[code]

[code]

[code]

This works, but needs `

[2018-04-18 06:49] arialdomartini commented on #395
I really ❤️ what @Meir017 did in his https://github.com/Meir017/Playground repo!

@patriksvensson , actually I don't exactly understand when you say Cake is a superset of C#: it seems to me it is in fact an internal DSL; every commands is a legit C# method, with the single exception of the `#tool` directive.
Yet, the current Cake implementation requires those legit commands to be hosted outside an

[2018-04-18 08:12] patriksvensson commented on #395
@arialdomartini It's a super set of C#. We for example have cake-aliases which are not valid C# (but valid Cake script) and of course also the pre-processor directives you mention.

Cake got intellisense support in Visual Studio Code (see https://cakebuild.net/blog/2017/11/intellisense-vscode). We do not have any plans on supporting the scenario with wrapping the Cake script in a class and a metho

[2018-04-18 08:53] devlead commented on #395
@arialdomartini a bit dated but below blog post explains some of the internals of Cake, it goes through some utilising Cake from "regular" .NET Code, but that's just PoC and as @patriksvensson not an intended / supported scenario.
https://hackernoon.com/dispelling-the-magic-6dc0fdfe476c

Cake utilises the C# scripting API which provides some deviations from "regular" C# i.e. global methods and rem

[2018-04-18 08:55] Meir017 commented on #395
You might be interested in https://nuke.build it's similar to cake but it uses a simple c# project with less "magic"

[2018-04-18 14:06] asbjornu commented on #2126
I [asked a question regarding this on Gitter](https://gitter.im/cake-build/cake?at=5acb38e9109bb04332a24809) and got the [following answer](https://gitter.im/cake-build/cake?at=5acb79522b9dfdbc3a703566) from @AdmiringWorm:

Sorry I haven't been able to act on that information or forward it until now.

[2018-04-18 15:42] #2116 closed

[2018-04-18 20:29] #2084 closed

[2018-04-18 21:07] #2113 closed

[2018-04-19 07:26] #2119 closed

[2018-04-19 15:37] joeharrison714 opened #2130 "Add exceptions thrown to TaskTeardownContext"
I would like to be able to tell if a Task was successful in TaskTeardown. Currently there is no way to do it.  The solution suggested multiple times in the chat does not work.  (https://gitter.im/cake-build/cake?at=59e5f58c210ac26920f84026). The issue with that is that TaskTeardown always gets called even when it failed.

If the Exception thrown could be added to TaskTeardownContext, then it would

[2018-04-21 07:28] patriksvensson opened #2132 "Problems with loading certain assemblies (0.27.0)"
Reminder for @mholo65 to investigate https://github.com/SharpeRAD/Cake.Powershell/issues/55

[2018-04-21 08:14] mholo65 commented on #2132
Hmmm.. Looked at logs again, seems like infinite recursion is coming from the ScriptAssemblyResolver https://github.com/cake-build/cake/blob/develop/src/Cake/Scripting/Roslyn/ScriptAssemblyResolver.cs

@daveaglick, ping!

[2018-04-21 12:03] daveaglick commented on #2132
Yep, I broke it - will get a fix in the next couple hours, suggest it gets merged and released ASAP. Sorry!

[2018-04-21 19:08] YauhenPyl commented on #358
Can we add this information in the exception message? I mean to expand "xUnit.net (v2): Could not locate executable." to "xUnit.net (v2): Could not locate executable. Perhaps there is missed #tool directive."

[2018-04-21 20:09] #2132 closed

[2018-04-23 12:53] klaus-liebler commented on #72
I am stronly interested in this feature. Does anybody plan to implement this (soon)?

[2018-04-23 19:24] daveaglick opened #2134 "Assembly conflicts during compilation"
### What You Are Seeing?

@redth reports the following messages during script compilation:
[code]

And then the compilation fails with:

[code]

### What is Expected?

Successful compilation.

### What version of Cake are you using?

0.27.1

### Output Log

https://gist.github.com/Redth/37bfa030e2890d22d93c06b154648e72

---

Have been discussing in the Gitter. This is related to #2116 (but not qui

[2018-04-23 19:34] mholo65 commented on #2134
@daveaglick I'd like to see an approach of reflection only loading the addins during pre-processing stage, and then create the dependency graph using highest-win-model.

Problem will however always be the dependencies we ship with Cake... Autofac, Roslyn, NuGet (and their dependencies)....

[2018-04-23 19:40] mholo65 commented on #2134
...or even executing the cake script in a separate App domain / Assembly load context (if that's possible)...

[2018-04-23 19:42] daveaglick commented on #2134
@mholo65 I agree reflection-only loading to build the dependency graph it the best long-term solution. Whenever I've played with AppDomains in the past I've always wished I had those hours back. The new custom context stuff in .NET Core looks interesting, but it's .NET Core only and we probably don't want to go down the route of drastically different logic depending on platform.

[2018-04-23 21:33] chamons opened #2135 "CleanDirectories does not handle cleaning directories with symlinks without unnecessary errors"
### What You Are Seeing?

This error
[code]
when cleaning directories of a certain structure.

### What is Expected?

It to clean without error.

### What version of Cake are you using?

$ mono .cake/Cake/Cake.exe --version | tail -n 2
                             Version 0.27.1+Branch.main.Sha.7e44aa0319b6ef12ecc415d79a1c75cc98e2c788

### Are you running on a 32 or 64 bit system?
64-bit

### What

[2018-04-24 12:57] erik-am opened #2136 "DotNetCoreTest fails to use XUnit2Settings on Cake 0.27"
### What You Are Seeing?

I'm using the `DotNetCoreTest` command using both `DotNetCoreTestSettings` as well as `Xunit2Settings`:

[code]

which results in the following exception:

[code]

### What is Expected?

Expected is that the tests will be executed.

### What version of Cake are you using?

The error occurs in 0.27.0 and 0.27.1.
The error does _not_ occur in 0.26.1.

I think the regression

[2018-04-24 13:19] kcamp commented on #2136
@erik-am It would help to have more of the stack trace and/or verbose output, but it appears that the exception is coming out of the `Cake.Incubator` assembly at the method below, right?
[code]

[2018-04-24 16:30] eddie3716 opened #2137 "Dependency loading errors with Cake 0.27.1 and Cake.Powershell 0.4.5"
This is related to the ticket I opened against the Cake.Powershell project.
 https://github.com/SharpeRAD/Cake.Powershell/issues/55

While version 0.27.1 resolves the infinite recursion problem found in 0.27, there's still an issue with resolving dependencies properly.  I tested my build scripts against version 0.27.1, and I'm having new problems now....
@SharpeRAD
@daveaglick
In the mean time, I'

[2018-04-24 21:31] eddie3716 commented on #2137
@gep13 @daveaglick I wouldn't mind helping you test when you get your changes worked out.  Though I'm not sure what process I would need to follow get the latest binaries.  I'm assuming I could just pull down your branch and build that.

[2018-04-24 21:39] gep13 commented on #2137
@daveaglick the hotfix branch comes from the main branch, so there will be commits on the develop branch that don’t exist on it. You can either cherry pick the single commit, or you can use rebase —onto hotfix/0.27.2 develop, either way works.

[2018-04-24 21:40] daveaglick commented on #2137
@gep13 Okay, I'll just cherry pick to keep it clean

[2018-04-24 21:41] gep13 commented on #2137
@eddie3716 once merged, the nupkg will be pushed to MyGet, and a slight modification to your build.cake file will bring it in. I can provide more details once it is ready.

[2018-04-24 21:50] daveaglick commented on #2137
@gep13 Okay, redid this PR #2138 on top of the hotfix branch. Also redid PR #2139 on the hotfix branch for good measure since they're sort of related.

[2018-04-24 23:41] klabranche opened #2140 "DotNetCorePublish does not respect SelfContained DotNetCorePublishSettings property"
### What You Are Seeing?
Setting the SelfContained property for DotNetCorePublishSettings does not emit the respective parameter when executed by DotNetCorePublish:

     var settings = new DotNetCorePublishSettings
     {
         Framework = "netcoreapp2.0",
         Runtime = "win-x64",
         SelfContained = false,
         Configuration = $"{configuration}",
         OutputDirectory = artif

[2018-04-25 07:42] erik-am commented on #2136
Thank you @kcamp, indeed it seems the issue is in `Cake.Incubator`. So, Cake 0.27.0 did include a breaking change in contrast to the release notes,

For now, I changed my usage of `DotNetCoreTest`, so that I'm using the method provided by Cake itself instead of the extension. Thanks for pointing me in the right direction! 👍

[2018-04-25 07:57] gep13 commented on #2136
@wwwlicious are you in a position to take a look at this?

@erik-am unfortunately, this does look like it was an unintended breaking change in Cake 0.27.0 😢

@cake-build/cake-team FYI...

[2018-04-25 11:45] #2126 closed

[2018-04-25 15:20] WhiteWaterCoder opened #2141 "Add Verbosity property to GitVersionSettings"
### What You Are Seeing?

GitVersionSettings does not contain a property for `verbosity` which means that the only way to increase the default logging level is through `ArgumentCustomization`.

[Gitter link](https://gitter.im/cake-build/cake?at=5ae0915d109bb04332fd7f14)

### What is Expected?

A Verbosity property of type GitVersionVerbosity which would add the `verbosity` flag. It would also be h

[2018-04-25 17:10] wwwlicious commented on #2136
@gep13 I'll have a look..

[2018-04-26 15:53] thnk2wn opened #2144 "build.sh default configuration argument creates unexpected behavior"
### What You Are Seeing?
On Mac I changed:

    var configuration = Argument("configuration", "Release");

to

    var configuration = Argument("configuration", "Debug");

Running the script ("./build.sh"), I see that argument value is Release when I provided a default of Debug:

![screenshot](https://user-images.githubusercontent.com/120529/39314964-613fa5de-492a-11e8-85c4-f842a84df81f.png)

###

[2018-04-26 17:06] Insire commented on #2144
the default bootstrapper does provide a default argument aswell
![grafik](https://user-images.githubusercontent.com/11455827/39320580-cfc81626-4984-11e8-9388-c394efa4a28d.png)

do you use the default one? if so, did you update that aswell?

[2018-04-26 17:15] thnk2wn commented on #2144
I realize that and that goes to my point, I don't believe it should have to be done there too.

I'd expect build.sh to behave as build.ps1 does - If I don't provide it a default for a parameter like configuration, it shouldn't pass an arbitrary default to the Cake script for me. It should treat no value passed into the bootstrapper script as no value passed into the Cake script.

This would let th

[2018-04-27 01:31] andymac4182 commented on #156
I have used https://cakebuild.net/docs/fundamentals/asynchronous-tasks and RunTarget to get this working now
[code]

[2018-04-27 01:38] jnm2 commented on #156
@andymac4182 Here's an interim solution for the log issue that might interest you: https://github.com/cake-build/cake/issues/156#issuecomment-272663967

[2018-04-28 15:24] jnm2 opened #2146 "Enabling initializer syntax for all collection properties"
It's intuitive to try this super clean C#:

[code]

`EnvironmentVariables`, like (almost?) every Cake settings collection property, is not initialized in the constructor. Thus, this code results in NullReferenceException.

The workaround doesn't leave me with the sense of happiness I expect from a mutable C# API:
[code]

### Proposal

Please initialize all collection properties (including dictiona

[2018-04-28 17:36] mholo65 commented on #2146
I’m completely ok with this! How about rest of @cake-build/cake-team

[2018-04-28 18:34] patriksvensson commented on #2146
Yes, me too!

[2018-04-30 02:02] tannerwatson commented on #1772
I just hit this use case today as well with the use of VSTS. Currently, using the VSTS Cake task a single Cake task is being reported. Ideally, I'd during `Setup` I'd like to tell VSTS the individual Cake tasks that will execute then report their progress using `TFBuildCommands`.

![image](https://user-images.githubusercontent.com/545701/39413485-f0b67dde-4bf8-11e8-8688-add9079b17da.png)

[2018-04-30 02:37] jnm2 commented on #2146
Awesome! Here's the PR: https://github.com/cake-build/cake/pull/2147

Turns out it's not possible to obsolete specific accessors, so here's a question. Does it make sense to log a warning in all the setters that it's recommended to use the initialized instance? That opens the door for a 0.28 or future version down the road in which you might decide to remove the getters.

[2018-04-30 05:43] patriksvensson commented on #1772
This functionality is included in #2008 which hopefully will be available in 0.28.0.

[2018-04-30 12:09] jnm2 commented on #1772
@patriksvensson That's great news! I'm not laying eyes on it in https://github.com/cake-build/cake/issues/2008. What will a user's code look like which looks ahead at the list of tasks that will execute?

[2018-04-30 17:41] EddieGarmon opened #2148 "Really enable the BinaryLogger for msbuild"
#1791 intended to enable BinaryLogger consumption, but this was not completely exposed.

Unfortunately this implementation does not allow us to use the "/bl" switch for msbuild when invoked by dotnet.exe msbuild.dll ...

Unfortunately this needs to be exposed and handled thru the DotNetCoreMSBuildSettings class too.

[2018-05-01 22:21] jnm2 opened #2149 "[Proposal] TFBuild.PullRequest API"
I wrote a build script today that had to check `SYSTEM_PULLREQUEST_PULLREQUESTID` to see if the current build was a pull request and to form a version string.

This seems like it might be a nice way to bring the TFBuild API to parity with the AppVeyor API. I'm willing to contribute the PR! 😃

### Proposal

Source: https://docs.microsoft.com/vsts/build-release/concepts/definitions/build/variables#s

[2018-05-02 19:09] devlead commented on #2149
Sure sounds like a good addition

1. IsPullRequest
2. Unsure, SYSTEM_PULLREQUEST_PULLREQUESTID feels more correct, but not read docs, what do they say?

[2018-05-03 08:04] devlead commented on #2137
@eddie3716 NuGet packages are now available for testing on our MyGet feed

https://www.myget.org/feed/cake/package/nuget/Cake/0.27.2-beta0001
https://www.myget.org/feed/cake/package/nuget/Cake.CoreCLR/0.27.2-beta0001

[2018-05-05 20:43] eddie3716 commented on #2137
I installed those two packages, sticked my Cake version to 0.27.2-beta0001, and re-ran by build script.
@devlead @daveaglick @gep13 @SharpeRAD
These beta Cake packages produce better results.  I'm finally able to invoke the Powershell commands through the Cake.Powershell addin, which allows my jobs to successful complete.  I also verified the Update-ModuleManifest command actually does what it's s

[2018-05-09 16:17] polterguy opened #2150 "Create a source code simple zip file distribution"
Sorry if this is a stupid question, but I actually could not find any references to this. In fact, my needs are pretty simple. I need a way to create source code distributions, to my [open source web operating system](https://github.com/polterguy/phosphorusfive). Binary releases I already take care of myself, by allowing the user to conditionally _"clone"_ his own system, with whatever modules he

[2018-05-09 16:49] patriksvensson commented on #2150
Hello @polterguy,

Yes, this is possible to do with Cake. Since Cake is C#, you can do anything you can do with C# in a Cake script. For the operations you want to do, there is even built in aliases in Cake to make things easier.

Below are some examples of the things you want to do. If you want to do something more, you can always visit [https://cakebuild.net/dsl/](https://cakebuild.net/dsl/) and

[2018-05-09 16:59] polterguy commented on #2150
Awesome, I started fiddling with NAnt, while waiting for your response, and I ran into a whole dimension of problems. Thx, you're a champ :)

[2018-05-09 16:59] #2150 closed

[2018-05-09 17:13] polterguy commented on #2150
OK, so now I feel really stupid here, but how do I install Cake ...?

The only reference I find is to install it through NuGet. I obviously don't want to add it as a reference in my projects, I simply want to consume it myself, to create my own source code release ...?

[2018-05-09 17:20] gep13 commented on #2150
@polterguy if you want a machine installation of Cake, you can install it through homebrew.

Typically, you would have Cake within a project, and you would use our bootstrapper file, the build.sh file, to download and run Cake.

[2018-05-09 17:21] polterguy commented on #2150
Never mind, figured out the _"bootstrapper build.sh"_ script ...

Sorry ... (blush!)

Thx again ... :)

[2018-05-09 19:25] polterguy commented on #2150
OK, that was surprisingly easily done, a couple of hours of fiddling around with it, and *VOILA!*. Najs work BTW, love its simplicity and syntax ... :)

In case somebody else have this question, I thought I'd post my results here.

## Install the bootstrapper

__Windows__ - `Invoke-WebRequest https://cakebuild.net/download/bootstrapper/windows -OutFile build.ps1`

__Linux__ - `curl -Lsfo build.sh

[2018-05-09 19:33] gep13 commented on #2150
@polterguy we are glad to hear that you got it working, and thank you for the valuable feedback.

If you can, can you elaborate on what you mean by "tutorial style documentation"?  Would you mind creating an issue about it here:

https://github.com/cake-build/website

Perhaps with some suggestions?  Thanks!

[2018-05-09 19:49] polterguy commented on #2150
Sure, I'll provide a ticket ... :)

[2018-05-10 06:46] RaringCoder commented on #2077
Microsoft have a package:

https://www.nuget.org/packages/Microsoft.TestPlatform/

For deploying the console for VSTest. Should be not be using this as the `#tool` directive for it? I'd rather download a pinned, isolated tool that hope for some console runner on the PC somewhere.

[2018-05-10 15:42] jnm2 commented on #2077
Yes!

[2018-05-13 20:30] paulomorgado opened #2152 "try resolve vstest.console.exe before guessing it"
Visual Studio Test Runner is not part of the [Visual Studio Build Tools](https://docs.microsoft.com/en-us/visualstudio/install/workload-component-id-vs-build-tools "Visual Studio Build Tools 2017 component directory") but is available on NuGet as [Microsoft.TestPlatform](https://www.nuget.org/packages/Microsoft.TestPlatform).

If the user installs the `Microsoft.TestPlatform`, that should be used

[2018-05-14 15:04] olpr-cloud commented on #1970
any news on this? :-)

[2018-05-14 16:32] fwinkelbauer commented on #1970
Personally I haven't looked into this issue in more detail. I have encountered other problems using MSTest in Cake (see #1522), which is why I am favoring xUnit in my personal projects.

Previously I was using this [workaround](https://github.com/fwinkelbauer/Bumpy/blob/5e2b64c39405adc42f74f8fa4dd0efe34433bf90/Source/mstest2.cake) (usage can be seen [here](https://github.com/fwinkelbauer/Bumpy/blo

[2018-05-15 09:23] bert2 opened #2153 "Default target should be defined by .cake file, but is defined by build.ps1 instead"
I'd like to define a default target in my `.cake` file. The [documentation](https://cakebuild.net/docs/tutorials/setting-up-a-new-project#create-a-cake-script) suggests the following solution:

[code]

However this only works coincidentally, because the default value of the `target` variable matches the default value of the `Target` parameter in `build.ps1`:

https://github.com/cake-build/cake/blo

[2018-05-16 11:13] Kemyke opened #2154 "Problem with loading abolute path scripts with #load preprocessor"
### What You Are Seeing?
Loading a script with absolute path is only working if the full definition is applied: `#load \"local:?path=c:/utils.cake\"`. It is not working with legacy format `#load \"c:/utils.cake\"`.

### What is Expected?
It should work for both syntaxes.

### What version of Cake are you using?
0.27.1

### Are you running on a 32 or 64 bit system?
64 bit

### What environment are

[2018-05-17 02:50] flcdrg opened #2156 "Add newer nuspec properties to NuGetPackSettings"
`NuGetPackSettings` (and related classes) should implement the newer properties documented in https://docs.microsoft.com/en-au/nuget/reference/nuspec (and https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Packaging/compiler/resources/nuspec.xsd)

In particular the PackageReference-related properties like contentFiles etc

[2018-05-17 05:31] flcdrg opened #2157 "NuGetPack with nuspec that contains contentFiles becomes invalid"
### What You Are Seeing?

The wrong <files> element(s) are being updated by NuspecTransformer

### What is Expected?

Only the /package/metadata/files section should be updated

### What version of Cake are you using?
0.26.1
### Are you running on a 32 or 64 bit system?

### What environment are you running on?  Windows? Linux? Mac?
Windows
### Are you running on a CI Server?  If so, which one?

#

[2018-05-17 06:33] ktenedios commented on #1898
I too would like to see this resolved, as it has taken me the best part of a day to work out that this limitation exists in Cake.CoreCLR. If anyone is interested in a workaround (a.k.a. hack), here is a PowerShell sample that will convert the Cake.dll path to the old-style DOS 8:3 path format:

[code]

Note that this has only been tested in Windows. I have not done a Linux/MacOS Bash equivalent, a

[2018-05-19 19:44] shatl opened #2158 "Feature: Add option to skip tools installation"
Add option to toll cake to skip ```Installing tools```  phase

Use case:
* During development of the build script build is executing many times, skipping tools installation step will speedup development process

[2018-05-21 16:09] patriksvensson commented on #2158
Excellent idea. I would suggest that this be implemented at earlies after https://github.com/cake-build/cake/pull/2098 have been merged (after 0.28.0), since it contains execution settings for scripts that makes it easier to implement.

[2018-05-21 18:28] jnm2 opened #2159 "Passing any Path to MSBuild, not just FilePath"
It's fairly rare for me to want to specify a file path for MSBuild. Usually the path which shows most clearly what I really care about is either `"."` or `"ProjectDir"`.

[code]

The error this causes:

If we change the first parameter of the MSBuild alias to `path` instead of `FilePath`, would passing a `ConvertableDirectoryPath` just work?
Would you accept a PR for this? 😃

[2018-05-21 19:28] mholo65 commented on #2158
@shatl what version of Cake are you using? 0.27.0 introduced an improvement in Cake that will first try to install from local sources (e.g. `./tools` folder) when installing. This however requires the version of the tool to be present in your `#tool` directive, otherwise it will enumerate all available sources to find the latest version. It also requires you to use the [In-Process NuGet](https://c

[2018-05-21 21:43] patriksvensson commented on #514
@reisenberger Stumbled across this issue by accident. Somehow missed your message when you wrote it. It was on my birthday though, so I might have been preoccupied 😄

That is an excellent idea and something I've been thinking about as well.
It was good meeting you too!

[2018-05-22 14:08] shytikov opened #2160 "Add ability to automatically discover `NuGet.config` file"
Related to #1932.

There are [default locations](https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior) of `NuGet` configuration files. I believe `Cake` should follow them and discover `NuGet.config` automatically. That will make configuration of custom tool and addins much easier.

[2018-05-22 14:30] mholo65 commented on #2160
Relates to https://github.com/cake-build/cake/issues/2010

[2018-05-22 20:38] petriashev commented on #1285
Any progress on this issue?
I have the same problem. Is there some workarounds?

[2018-05-22 21:01] devlead commented on #1285
Workaround is to just do a static extension method without a surrounding class.

[2018-05-22 21:41] shytikov opened #2161 "If [Nuget] ConfigFile directive in cake configuration file has no folder — error rises"
### What You Are Seeing?
Huge error message

### What is Expected?
Normal operation

### What version of Cake are you using?
0.27.2

### Are you running on a 32 or 64 bit system?
64

### What environment are you running on?  Windows? Linux? Mac?
Windows

### Are you running on a CI Server?  If so, which one?
No

### How Did You Get This To Happen? (Steps to Reproduce)

Create `cake.config` file wi

[2018-05-22 21:42] shytikov commented on #2161
Basically referencing `nuget.config` from current folder is not working.

[2018-05-22 22:06] petriashev commented on #1285
Thanks, it works!

[2018-05-23 00:34] jnm2 commented on #2077
Until Cake's VSTest converts to using the new, [officially-recommended](https://developercommunity.visualstudio.com/content/problem/183405/there-is-no-installer-package-id-which-signals-the.html#reply-185103) package https://www.nuget.org/packages/Microsoft.TestPlatform/, this is what I'm doing:

[code]

[2018-05-23 14:24] jnm2 opened #2162 "Ability to send any TF Build command"
Since some TF Build commands are undocumented, such as `results.publish`, would you be willing to  expose a public method so that Cake users can opt to type their own command strings? That way users can take responsibility to use TF Build commands which Cake does not have because they are new or undocumented.

This is Cake's current implementation, used internally:

https://github.com/cake-build/c

[2018-05-23 14:32] gep13 commented on #2162
@cake-build/cake-team what are your collective thoughts on this one?

[2018-05-23 14:44] mholo65 commented on #2162
Sure, it gives more flexibility. I’ve sometimes wished for same functionality in TeamCity provider also.

[2018-05-23 15:20] louisfischer commented on #2162
@gep13 and @jnm2 i have similar pull request #2109 for Issue #1609  for this as well to add upload test results and code coverage. The thing is that some of these commands are only support in TFS2017+ or VSTS.

[2018-05-23 16:12] jnm2 commented on #2162
@louisfischer I think the concern Gary expressed in the chat was that committing to an undocumented protocol could result things breaking and it being Cake's responsibility, whereas this PR would allow it to be the user's responsibility to respond to a breaking change in an undocumented protocol. I do like your PR too though. Wouldn't mind having both! 😃

[2018-05-23 16:49] patriksvensson commented on #1772
@jnm2 The Setup-step now provides a custom task (`ISetupContext`) that has a `TasksToExecute` property.

[code]

[2018-05-23 17:13] jnm2 commented on #1772
Thank you, this is great! I can hardly wait!

[2018-05-23 18:20] mholo65 opened #2163 "Update to Roslyn 2.8.x packages, adding support for C# 7.3"
PR incoming..

[2018-05-23 19:19] #2163 closed

[2018-05-23 19:34] jnm2 commented on #2077
Ah, see @paulomorgado's https://github.com/cake-build/cake/issues/2152!

[2018-05-24 08:11] minimaltesty commented on #2010
@timschps by using a build agent that always checks out the repository the work around does not work. do you have any other ideas except adding nuget.config to the source code project?

[2018-05-24 14:44] Meberem opened #2165 "DotNetCore Build misses Sources settings"
I suspect it is very similar to [the DotNetCorePublish issue](https://github.com/cake-build/cake/issues/2119). The latest docs on [the dotnet build command ](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-build?tabs=netcore2x) suggest that the --source options should be passed through

### What You Are Seeing?
error CS0117: 'DotNetCoreBuildSettings' does not contain a definition for 'So

[2018-05-25 19:35] jnm2 opened #2168 "TypeConverter to enable Argument<DirectoryPath>(...)"
This code works so long as the argument `--artifact-dir` is not present:

[code]

If it is present, Cake throws A System.Exception:

This would be easy to fix by adding a TypeConverter!

- Could we also do this for `FilePath`?
- Any other Cake types we could convert from string?
- I thought there was an issue around here somewhere to add a generic `EnvironmentVariable<DirectoryPath>(...)` method.

[2018-05-26 16:03] #1772 closed

[2018-05-26 16:03] #2008 closed

[2018-05-26 16:03] #1594 closed

[2018-05-28 16:52] devlead opened #2170 "Enable GitVersion for Bitrise(non windows) integration tests"
Currently if we have a breaking change integration tests can fail as we don't update Cake version on non windows platform version.

[2018-05-29 10:45] bert2 commented on #2153
`build.ps1` has already been fixed in the [example repository](https://github.com/cake-build/example). Closing this issue.

[2018-05-29 10:45] #2153 closed

[2018-05-29 14:02] devlead opened #2171 "Add potential breaking change warning"
Add an new property to warn for breaking changes and with intention of only changing LatestBreakingChange for versions of Cake.Core that are known to break.

[2018-05-29 18:22] #2171 closed

[2018-05-31 11:04] devlead opened #2174 "Support multiple Support / Teardown"
After feedback from @jnm2

Currently setup replaces current setup/teardown action could instead add ( `+=` ) to existing / if not null.

[2018-05-31 14:43] mdesousa commented on #1914
Looks like #1172 has been resolved, thanks!

[2018-05-31 14:43] #1914 closed

[2018-05-31 14:45] #2174 closed

[2018-05-31 22:17] patriksvensson opened #2176 "Skipped tasks show up multiple times in report"
A little bug snuck into the 0.28.0 release. Will submit PR shortly.

![image](https://user-images.githubusercontent.com/357872/40811315-042280b0-6531-11e8-8152-454ba3e0e260.png)

[2018-06-01 19:59] GeertvanHorrik opened #2178 "Parallel logging looks a bit weird"
While trying to investigate if I can improve the code-signing performance, I tried running in 10 threads at the same time, but here is the logging:

![image](https://user-images.githubusercontent.com/1246444/40860814-0eee2b00-65e7-11e8-9b9a-6d5e7c29f675.png)

[2018-06-01 20:05] GeertvanHorrik commented on #2178
btw, parallel execution didn't speed it up,

    // 1 thread:   1m 30s
    // 4 threads:  1m 30s
    // 10 threads: 1m 30s

[2018-06-01 23:07] jnm2 commented on #2178
@GeertvanHorrik Here's an interim solution for the log issue that might interest you: https://github.com/cake-build/cake/issues/156#issuecomment-272663967

[2018-06-02 12:32] mdesousa commented on #1772
This is all very nice! I'm wondering about the best way to get access to the TasksToExecute from inside a task. Is this the simplest approach:
`
IReadOnlyCollection<ICakeTaskInfo> tasksToExecute;

Setup(context =>
{
    tasksToExecute = context.TasksToExecute;
});

Task("X")
{
    if (context.TasksToExecute.Any(task => task.Name == "Test"))
    {
    ...
    }
}
`

[2018-06-02 12:35] patriksvensson commented on #1772
@mdesousa Take a look at the new typed context data. This might be a good solution for your problem.

[2018-06-02 12:39] mdesousa commented on #1772
Sounds good! Is there a link to documentation or api? I'm not familiar with it...

[2018-06-02 12:41] mdesousa commented on #1772
Ah, right there in the release notes for 0.28.0: https://cakebuild.net/blog/2018/05/cake-v0.28.0-released
Thanks, I'll take a look.

[2018-06-03 13:09] WalkerCodeRanger opened #2179 "Cake Build Tool's Startup is Slow - 25s (64% overhead)"
### What You Are Seeing?
When I clone the [example repo](https://github.com/cake-build/example), and time the build command, there is A LOT of overhead time on the build even after repeated builds so it has had a chance to download everything and cache anything. That is, a lot of the time is spent loading cake and compiling the build script. See below for exact numbers.

### What is Expected?
Ther

[2018-06-03 13:18] jnm2 commented on #2179
I feel this pain. This has been pushing me recently toward the idea of precompiling binaries and distributing them via NuGet feed, turning the Cake script into a glorified settings file.

[2018-06-03 13:21] patriksvensson commented on #2179
What exactly are you measuring? Would you mind creating a gist with all the involved files?

[2018-06-03 13:29] devlead commented on #2179
I cloned repo  tried the same on my Machine, first run
[code]
Next run
[code]

[2018-06-03 13:31] devlead commented on #2179
WIthout bootstrapper
[code]

[2018-06-03 13:34] patriksvensson commented on #2179
My results on a clean clone of the repository on a 4G mobile connection (I'm currently on a Café).

[code]

[2018-06-03 13:42] devlead commented on #2179
Tried on a Windows Machine i7 2.8GHz no SSD, previous was on a Mac Pro 2016

1st run
[code]

2nd run
[code]

Without bootstrapper
[code]

[2018-06-05 20:42] devlead commented on #2176
Fixed by #2177

[2018-06-05 20:42] #2176 closed

[2018-06-06 00:12] WalkerCodeRanger commented on #2179
Looking at the times where both a total from Cake and from timing the command were provided, even on the much faster machines than mine, it took 2s to 3.5s of overhead and this was 30%-40% of the total time. Also, while an up to date run build time of 7s is much better than what I'm getting on my machine. It is still a very long time if what you want to do is build frequently as you write code to

[2018-06-06 09:05] tbertenshaw commented on #1973
Has/is this being done? ☝️

[2018-06-06 13:37] devlead commented on #2179
If you want continuous real time builds it would probably make sense to have cake process running and have things in a loop, iterations triggered by i.e. user input, file watcher event etc.

Your suggestions sounds like good avenues to pursue, if you to we'll happily review your findings in a PR.

Near future the Cake team has other features prioritized, we might do some refactoring around roslyn