[2017-06-02 16:44] gep13 commented on #1341
@Roemer sure, that should work.

[2017-06-03 20:01] ravensorb opened #1626 "Issue with building VS2017 Projects - Error MSB4041"
I recently started porting over some of my projects to VS2017 and updating the csproj files using the "dotnet migrate" command.  Everything was going fine in terms of building (VS2017 and command line via dotnet build) until I got around to testing my cakebuild scripts.  I double checked everything and confirmed I was using the DotNetBuild alias and still no luck.

The error I am getting is
[code]

[2017-06-03 20:14] ravensorb opened #1628 "Tools folder is being deleted on clean build"
I use the tools folder to store some script extensions to cakebuild and recently I noticed that cake is deleted that folder in an attempt to download the latest version of the tools and files needed for the build.  I'd like to request that you only delete the files that need to be updated rather than nuking the entire folder.

[2017-06-04 05:42] gep13 commented on #1628
@ravensorb what you are describing is an action taken by the default bootstrapper (i.e. Build.ps1 or build.sh). These are a best guess at the normal defaults that a project wants. There is nothing to stop you changing these to fit with how your project works.

[2017-06-04 07:14] devlead commented on #1626
DotNetCoreBuild is the alias your looking for
http://cakebuild.net/api/Cake.Common.Tools.DotNetCore/DotNetCoreAliases/8E8365A3

[2017-06-06 04:29] jagadeesan123 opened #1629 "Code coverage result with multiple test project"
I have the one source project and this source project contains the 2 test project. In both test projects contains some list of the test cases. Please find the structure of my projects below,

Core
--------Src
--------Test
------------Test1
------------Test2

In Test1 and Test2 are the test projects which contains the Nunit test cases for the Src project. Now how I can get the code coverage result

[2017-06-06 09:02] jagadeesan123 opened #1630 "DotCoverMerge does not exist error"
Hi Team,

I am using the below code to merge the multiple test projects. But I am facing the following error,
**CS0103 - The name 'DotCoverMerge' does not exist in the current context**

`#tool nuget:?package=NUnit.ConsoleRunner&version=3.2.0
#tool nuget:?package=JetBrains.dotCover.CommandLineTools

var target = Argument("target", "Default");

Task("Default")
  .Does(() =>
{
  CleanDirectory("./bu

[2017-06-06 11:37] casz commented on #1573
How would you go about using .NET Core? Any ETA on the unifying process?

[2017-06-06 12:27] secana commented on #1435
Issue still exists in version 0.19.5

[2017-06-06 16:45] devlead commented on #1573
No hard deadline set, we have a few pre-requisites to sort first.
Hopefully we'll be able to ship VS2017/csproj upgrade within 1-2 weeks. So sometime after that.

[2017-06-06 16:47] devlead commented on #1435
Yes, issue also still open.

[2017-06-06 16:47] PawelTroka opened #1631 "MSBuild location on Mono 5+ is not set correctly on Linux and Mac OS X"
Cake v0.19.5, Travis CI.

Log from Linux:

Build: https://travis-ci.org/PawelTroka/Computator.NET/jobs/239292355

Log from Mac OS X:

Build: https://travis-ci.org/PawelTroka/Computator.NET/jobs/239737557

Also nuget restore is still using xbuild in case of Linux and is already using MSBuild in case of Mac OS X.
Linux:

Mac OS X:

Workaround code I had written to make it work correctly (in case of

[2017-06-06 16:54] devlead commented on #1573
For .NET Core you can get some insight from this discussion
https://gitter.im/cake-build/cake?at=592e8125cb83ba6a4117042d

[2017-06-06 17:02] mholo65 commented on #1630
What version of Cake arevyou using? `DotCoverMerge` was added in [v0.18.0](http://cakebuild.net/blog/2017/03/cake-v0.18.0-released)

[2017-06-06 17:21] mholo65 commented on #1629
No, you don't need any custom calculations for multiple test projects. `NUnit` and `DotCover` should support this out of the box.

Will post simple example later when I'm near a computer.

[2017-06-06 17:57] RichiCoder1 commented on #1435
I'm a bit confused how this would work? Or why it's needed? Are there XPath functions that reduce to a single node (and do they not work currently)? Or is the desired result the ability to execute an XPath function and return an arbitrary result?

[2017-06-06 19:43] mholo65 commented on #1629
@jagadeesan123 something like this should work:

[code]

[2017-06-07 00:46] skyline75489 commented on #1435
I'd say XPath functions are really useful for getting the information we need out of XMLs.

[2017-06-07 04:59] RichiCoder1 commented on #1435
Hmm, so you'd like to get abitrary peek values back. That would (currently) break the way that XmlPeek works. We could, however, add a new alias that is more aligned with [MSBuild's](https://github.com/Microsoft/msbuild/blob/6851538897f5d7b08024a6d8435bc44be5869e53/src/Tasks/XmlPeek.cs) behavior (which I think supports what you want).

[2017-06-08 06:57] JonCubed commented on #1533
just a quick update, life and work has been a little heck-it this last little bit, but I plan to pick this up again this weekend or next

[2017-06-08 06:58] devlead commented on #1533
@JonCubed ok perfect 👍

[2017-06-08 13:31] JeremyCade commented on #1631
Can you set `FrameworkPathOverride`?

e.g.
[code]

[2017-06-08 14:48] jrob opened #1632 "Tasks with long names do not display nicely with showdescription"
### What You Are Seeing?

When running `--showdescription`, tasks with long names and descriptions break the table formatting.

[code]

### What is Expected?

The table to resize appropriately.

[code]

### What version of Cake are you using?

`Version 0.19.5+Branch.main.Sha.e4c4ad2a949637f89063dc7a90363839b740af2c`

### Are you running on a 32 or 64 bit system?

64 bit

### What environment are y

[2017-06-08 15:04] jrob opened #1633 "Some command line output ignores system foreground color configuration"
### What You Are Seeing?

When running in a shell with a white background, some text is invisible.

Screenshot:

![screenshot](https://user-images.githubusercontent.com/613402/26934881-8fe675d8-4c38-11e7-9dfa-d5954286f9f2.png)

Actual text:

[code]

### What is Expected?

The output should respect the configured foreground colors so that text is visible.

### What version of Cake are you using?

`

[2017-06-09 06:45] mholo65 commented on #1490
#1562 Upgrades to 1.0.1

[2017-06-09 06:46] mholo65 commented on #1595
Part of this is in #1562

[2017-06-09 08:14] #1490 closed

[2017-06-09 09:25] devlead commented on #1539
Fixed by #1562

[2017-06-09 09:25] #1539 closed

[2017-06-09 09:27] devlead commented on #1595
@mholo65 which parts aren't? Would if any would you be in a position to send a PR?

[2017-06-09 09:42] mholo65 commented on #1595
@devlead see PR #1596. Rebase that (ignore project.json) changes, and it's all good, I think :smile:

[2017-06-09 09:46] devlead commented on #1595
@mholo65 perfect 👍

[2017-06-09 10:25] #1538 closed

[2017-06-09 10:29] devlead opened #1635 "Non Nuspec assemblies not packaged after VS2017 upgrade"

[2017-06-09 11:54] #1635 closed

[2017-06-09 12:36] #1595 closed

[2017-06-09 13:46] devlead opened #1638 "Unix Integration tests fail post new SDK"
Investigating
[code]

[2017-06-09 22:27] #1638 closed

[2017-06-09 22:32] devlead opened #1640 "Fetch version from solutioninfo & remove newtonsoft dependency"
Currently tries to fetch fallback version from project.json which isn't avail any more so should be removed

[2017-06-09 23:23] #1640 closed

[2017-06-12 06:19] devlead commented on #1603
Fixed by #1637

[2017-06-12 06:19] #1603 closed

[2017-06-13 09:08] danwalmsley opened #1642 "Nuget mismatch when compiling Build Script and nuget addin."
### What You Are Seeing?
Fails to run script that was previously working mismatch with nuget.core versions...

[code]

### What is Expected?
Runs normally.

### What version of Cake are you using?
0.20.0 (previous versions worked)

### Are you running on a 32 or 64 bit system?
64bit

### What environment are you running on?  Windows? Linux? Mac?
Windows

### Are you running on a CI Server?  If so,

[2017-06-13 09:11] gep13 commented on #1642
@danwalmsley After changing the version number in the build.cake file, did you clear out your `tools` folder?

If not, can you try again, but first clear out the `tools` folder.

[2017-06-13 09:14] danwalmsley commented on #1642
yes clearing tools directory fixed it, so to confirm

if anyone else comes across this:

1) Update nuget.core adding to 2.14.0
[code]

2) Delete `tools\Addins` directory.

[2017-06-13 09:14] danwalmsley commented on #1642
@gep13 thanks for your help :) 👍

[2017-06-13 09:17] devlead commented on #1642
@danwalmsley does this mean 0.20.0 works for you can we can close this issue?

[2017-06-13 09:57] devlead commented on #1533
@JonCubed FYI feature branch is now merged into develop I've rebased and retargeted PRs against develop

[2017-06-13 10:48] danwalmsley commented on #1642
I think its working, maybe a note somewhere in release notes that people using the nuget addon could come across this.

[2017-06-13 10:52] devlead commented on #1642
Yes could make sense to add as a known issue to the blog post [here](https://github.com/cake-build/website/blob/develop/input/blog/2017-06-12-cake-v0.20.0-released.md)

[2017-06-13 10:52] #1642 closed

[2017-06-13 10:52] devlead commented on #1642
Issue moved to [cake-build/website #366](https://github.com/cake-build/website/issues/366) via [**ZenHub**](https://www.zenhub.com/)

[2017-06-13 23:59] ghuntley commented on #1368
![image](https://user-images.githubusercontent.com/127353/27109757-1f5938c8-50e8-11e7-8171-826a60c992b0.png)

[2017-06-13 23:59] #1368 closed

[2017-06-14 04:11] JeremyCade opened #1643 "Unable to compile Cake in *nix Environments with Mono 5.0.1.1"
Machines with Mono 5.0.1.1 are unable to build the Develop branch of Cake (as at commit [ba991b3](https://github.com/cake-build/cake/commit/ba991b3614e021941e8f61e5edaad8fd59195ede)

**Output from Ubuntu 16.04.2**

[code]

**Output from Mac OS 10.12.5**

[code]

More information to follow.

[2017-06-14 06:55] mholo65 commented on #1643
Saw this same issue when trying to get VS2017 PR building under Linux. I used `Cake 0.19.x` then for actually running the script. Mono5 seems to segfault when parsing assembly info.

I think this is more of a Mono5 issue than a Cake issue.

[2017-06-14 06:59] mholo65 commented on #1643
Also discussed with @gep13 and @devlead, we should update `known issues` and `requirements` with some notes about Mono versions.

[2017-06-14 08:39] amoerie opened #1644 "Integrate Cake as a dotnet CLI extension for .NET Core applications"
I couldn't find if this has been suggested before, but I was looking at [FlubuCore](https://github.com/flubu-core/flubu.core/wiki/1-Getting-started) and how they integrate nicely with the dotnet CLI.

It struck me that this might be a perfect fit for cake too. I mean, wouldn't it be nice to do the following:
1. Restore regular NuGet packages _and_ Cake with its addins
`dotnet restore`

2. Run the

[2017-06-14 11:27] #1591 closed

[2017-06-14 20:41] gep13 opened #1646 "Re-enable OpenCover analysis"
During the process of upgrading Cake to use VS 2017 Tooling, this was turned off, and we need to put it back on again.

https://github.com/cake-build/cake/pull/1562#discussion_r116983557

[2017-06-14 20:42] gep13 opened #1647 "Re-enable Integration Tests"
During the process of upgrading Cake to use VS 2017 Tooling, some integration tests were disabled.  These need to be turned back on again.

https://github.com/cake-build/cake/pull/1562#discussion_r116984405

[2017-06-14 20:44] gep13 opened #1648 "Re-enable Rules that were turned off"
During the process of upgrading to VS2017, a number of rules were turned off for the analyses that are performed.   These should be investigated again to ensure that they need to remain off.

https://github.com/cake-build/cake/pull/1562#discussion_r116984514

https://github.com/cake-build/cake/pull/1562#discussion_r116984649

[2017-06-14 20:44] devlead commented on #1647
Fixed by cd29816cb769360e0888a0f68d6187fbc0f2d88b

[2017-06-14 20:44] #1647 closed

[2017-06-14 20:55] gep13 commented on #1647
👍

[2017-06-14 20:56] gep13 commented on #1647
@devlead I have assigned this to the 0.21.0 milestone.

[2017-06-15 23:05] bookman220 commented on #1561
@patriksvensson I'd be interested in trying this out

[2017-06-16 08:05] patriksvensson commented on #1561
@bookman220 Great! Do you want any help to get started or do you want to give it a shot yourself?

[2017-06-17 03:04] bookman220 commented on #1561
@patriksvensson I'll probably need some help but let me figure out how to build this thing first.

[2017-06-17 12:16] ghuntley opened #1650 "Microsoft Azure CI (Kudu): The Win32 internal error "The handle is invalid" 0x6 occurred while setting character attributes for the console output buffer"
### What You Are Seeing?

Annoying non-fatal messages

![image](https://user-images.githubusercontent.com/127353/27252764-abb56b3e-53a9-11e7-9cd4-2a9791b9b718.png)

### What is Expected?

`Console.WriteLine()` without colour because the sandbox environment doesn't support coloured console. See https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox :)

### What version of Cake are you using

[2017-06-17 19:37] devlead commented on #1650
Have your `.deployment` file point to a `deploy.cmd`  that contains
[code]
And it'll should work.

[2017-06-17 19:38] devlead commented on #1650
Obviously target can differ, but I usually have a kudu one even if it points to "default" task.

[2017-06-19 19:43] devlead commented on #1650
@ghuntley can you confirm piping to Out-String sorts your issue?

[2017-06-19 20:01] devlead commented on #1643
@JeremyCade this could likely be an mono issue, don't get the same error with 4.x, please raise an issue on Xamarin's bugzilla
https://bugzilla.xamarin.com/buglist.cgi

[2017-06-20 17:42] RSchwoerer opened #1651 "NUnit3Settings ``Verbose`` flag obsoleted by NUnit console runner"
### What You Are Seeing?
The NUnit3 test runner tool's ``NUnit3Settings `` has a ``Verbose`` flag, the NUnit console runner's command line argument this represents was removed.

### What is Expected?
Initially I was thinking the ``Verbose`` flag should set set the ``--trace=LEVEL`` command line argument.
However it looks like the functionality is different. Maybe just remove the ``Verbose`` flag c

[2017-06-20 18:45] devlead commented on #1651
@RSchwoerer thanks for your feedback!

Then I think it should be obsoleted with warning via attribute upcoming release and then removed the following release.

Would you be willing to send a PR?

[2017-06-20 19:06] mholo65 opened #1652 "Remove redundant UNIX compile time checks"
Remove redundant compile-time checks. These are redundant as we don't specifically build for UNIX.
[code]

[2017-06-20 19:40] RSchwoerer commented on #1415
Here's the ``#tool`` directive for using NUnit.Console that is working for me, using the ``&include`` syntax...

`#tool nuget:?package=NUnit.Console&include=../Nunit.ConsoleRunner/**/*`

[2017-06-22 08:55] ChrisMaddock commented on #1651
Good catch. 🙂 The same also applies to the `Full` option also in Cake.

Both these options were added in the early days of NUnit3 - but the relevant functionality never implemented/later removed. They've both been no-ops since the first full release of 3.0, and were removed in 3.7 once reported.

[2017-06-22 09:10] ChrisMaddock opened #1653 "Add Before and After options to NUnit3Labels enum"
When NUnit Console 3.7 is released, it will include new options for the `--labels` argument - `Before` and `After`. Cake's `NUnit3Labels` enum will also want updating, to allow people to access these.

The new options aren't currently documented yet - but what will probably become the docs is at the link below: https://github.com/nunit/nunit-console/pull/186#issue-212287096

[2017-06-22 09:57] RehanSaeed commented on #1265
I've since evolved my script to do this:

[code]

[2017-06-22 20:37] rbutcher commented on #26
I ran into a bug today in my project that is related to the way the dependency graph works today. It is a great point of contention for me and my team on how to write scripts because of this.

For example I have a script that has the following targets:
[code]

I then have 2 rollup tasks to generate the graph:
[code]
[code]

The problem came in when somebody on my team asked "Why don't the core tas

[2017-06-23 14:11] ChrisMaddock opened #1654 "Broken Documentation link for ReportUnit"
ReportUnit has moved it's homepage.

The docs contain a link to the project page which is now broken. PR with the fixed link incoming. 🙂
http://cakebuild.net/dsl/reportunit/

[2017-06-23 14:34] #1654 closed

[2017-06-23 16:49] patridge opened #1656 "GetDirectories call fails when pattern contains certain characters"
This may end up being a request for documentation more than an issue, but I don't know enough about the Globber syntax to know if this is an obvious problem.

### What You Are Seeing?

While abusing `GetDirectories` to get a full directory listing ([see this SO question](https://stackoverflow.com/q/44725780/48700)), I ran into cases where certain pattern parameters would case the script execution

[2017-06-23 18:09] devlead commented on #1656
Probably related to what #1611 aims to solve

[2017-06-23 18:16] SIkebe commented on #1656
This issue is a duplicate of #1422

[2017-06-24 21:01] jnhaffey opened #1657 "Unable to DeSerialize FilePath Object from JSON format"
### What You Are Seeing?
System.ArgumentNullException: 'Value cannot be null.' an exception being thrown when trying to deserialize json object that contains a FilePath Object

### What is Expected?
I should be able to deserialize an object that contains a FilePath object in it.

### What version of Cake are you using?
19.5

### Are you running on a 32 or 64 bit system?
64bit

### What environment

[2017-06-24 22:54] PawelTroka opened #1660 "ParseAssemblyInfo 'Error: Sequence contains more than one element' when using preprocessor definitions in assembly info file"
This happens even in newest Cake v0.20.0.

If we have a part in assembly info file like below

[code]
It is simply failing because somewhere IEnumerable.Single() method is called and parser for some reason takes both of those assembly attributes definitions.

[2017-06-25 02:26] JonCubed commented on #1533
@devlead I pulled latest and ran into a lot of package restore issues variants of the following
`Unable to resolve 'Microsoft.TargetingPack.NETFramework.v4.5.2 (>= 1.0.1)' for '.NETFramework,Version=v4.5.2'.`

This package doesn't seem to be available on nuget.org but found it on the [dotnet myget feed](https://dotnet.myget.org/F/dotnet-core/api/v3/index.json) added it to my nuget sources and all

[2017-06-25 07:20] devlead commented on #1533
@JonCubed yes it's not on nuget yet and you found the feed it's on, running build.cake would restore it though
https://github.com/cake-build/cake/blob/develop/build.cake#L103-L106

The new tooling removed support for compiling to 4.5 on Unix and that's why we currently need it. A nuget.config in repo would assist those not building cake with cake first though.

[2017-06-25 09:17] PawelTroka opened #1661 "Error when compiling on Mono - unknown.cake (28,94): Internal compiler error during parsingSystem.ArgumentOutOfRangeException: Index was out of range. Must be non-negative and less than the size of the collection."
Occurs only on Mono. Haven't tried different versions than v0.20.0 but I guess it might be in all versions.

It started to fail to compile after that commit:
https://github.com/PawelTroka/Computator.NET/commit/98d8e2313bfbbdbbfba109016773175f9a94229a

So I guess somewhere along those lines must be something that causes problems to compile build script on Mono.
See failing build:
https://travis-ci.

[2017-06-25 11:00] patriksvensson commented on #26
@rbutcher We will not change this behavior.

First it would be a massive breaking change and second is that FAKE is actually the tool that does this differently. The "normal" way that people coming from a Make, Rake or MSBuild background would expect is to define targets and their dependencies, not the explicit execution order.

I opened this issue to provide an alternative to the default way of b

[2017-06-25 12:01] PawelTroka commented on #1661
Ok, this is actually partly my fault.

I have this foreach loop:
`foreach(var monoVersion in monoVersions)`
but I also have variable `monoVersion` defined above.

After changing `monoVersion` from foreach loop to for example `monoVersion1` it does work correctly.

So this is not cake fault, more like Mono scripting should work better around this issue.

[2017-06-25 13:32] gep13 commented on #1661
@PawelTroka at some point soon, the Mono Compilation will be completely removed in favour of Roslyn, which will make things better. For now, are we able to close this issue?

[2017-06-25 15:21] PawelTroka commented on #1661
That's great to hear 👍
Yeah, I guess :)

[2017-06-25 15:21] #1661 closed

[2017-06-25 20:37] mholo65 opened #1662 "ParseProject doesn't support new csproj-format"
ParseProject doesn't support new `csproj`-format.  One essential thing missing is support for multiple target frameworks.

[2017-06-25 20:41] mholo65 commented on #1662
@cake-build/cake-team is there any other thing we should support as well?

Also, design stuff. In `ProjectParserResult` I would go for adding a new `ISet<string> TargetFrameworks` and _maybe_ obsoleting the old `string TargetFrameworkVersion`?

[2017-06-25 21:06] devlead commented on #1662
Actually TargetFrameworkVersion is used by default if it's one framework specified.

[2017-06-25 21:33] mholo65 commented on #1662
Worse yet. I thought `Cake.Common` handled new `csproj` format. But it doesn't. Getting `Error: Failed to parse project properties` when parsing new `csproj` format. `Cake.Recipe` handles this by using ProjectParser in `Cake.Incubator`. Maybe we should get this into `Cake.Common` soon?

[2017-06-25 21:52] mholo65 commented on #1662
Raised issue in `Cake.incubator` https://github.com/cake-contrib/Cake.Incubator/issues/37 regarding multiple target frameworks.

But I'd strongly suggest that we should add support for new `csproj` format in `Cake.Common` as well.

[2017-06-26 04:14] gep13 commented on #1662
@mholo65 Cake.Incubator is intended to be the project that tests out nee functionality before pulling into Cake proper. I would suggest we get it fully baked over there, and then pull into Cake.

[2017-06-26 07:21] devlead commented on #1657
`FilePath` and `DirectoryPath` doesn't have an default constructor by design as it gives type safety within Cake for paths, that said it's fully possible to achieve what your after using a custom serializer.

Example cake file doing this:
[code]

It will output something like below
![image](https://user-images.githubusercontent.com/1647294/27528424-9cffc988-5a50-11e7-9eeb-5cc73d97d524.png)

[2017-06-26 08:15] JonCubed commented on #1533
@devlead Ah ok. I didn't even think to try using the build script, I was just trying to verify everything compiled in VS.

I also noticed that you have a [global.json](https://github.com/cake-build/cake/blob/develop/global.json#L4) that pins the cli to preview1. Is that intentional? The build.ps1 is using 1.0.4 of the cli so doesn't seems so

[2017-06-26 08:23] devlead commented on #1533
That should be 1.0.4 yes

[2017-06-26 10:30] devlead commented on #1650
I'm going ahead and closing this issue, please reopen if you're still having issues.

[2017-06-26 10:30] #1650 closed

[2017-06-27 10:55] pascalberger opened #1663 "CopyFiles alias throws exception if empty enumeration is passed"
### What You Are Seeing?
The [CopyFiles](http://cakebuild.net/api/Cake.Common.IO/FileAliases/8B962704) alias currently throws an "Sequence contains no matching element" exception if an empty enumeration is passed to copy.

### What is Expected?
Either the alias should not throw (since there is nothing to copy) or an `ArgumentException` should be thrown.

### What version of Cake are you using?
0.2

[2017-06-27 10:57] pascalberger commented on #1663
I can provide a PR if you decide what the correct behavior should be (return or throw an `ArgumentException`)

[2017-06-28 10:04] Roemer opened #1665 "NUnit3Settings: Params and multiple results"
There are some important things missing from the ```NUnit3Settings``` class:

### Params
It is possible to pass parameters to the tests (which can be read with ```TestContext.Parameters[]```.
An example would be:
```--params=uia=2```
So it's one or more key-value pairs.
It would be great to have that in the ```NUnit3Settings``` as well.

### Multiple results
In some cases, I need to be able to hav

[2017-06-28 10:22] Roemer commented on #1665
I might make the changes myself and create a PR.
This would lead to breaking changes as some properties would be changed. Is this in general ok or should we create new properties and mark the old ones obsolete?

[2017-06-30 12:38] pascalberger opened #1667 "Add support for choco download internalize-all-urls"
It should be possible to use the `--internalize-all-urls` parameter introduced with Chocolatey licensed Edition 1.11.1 with the `ChocolateyDownload` alias.

[2017-07-02 19:55] mynkow opened #1669 "Release notes does not tolerate prerelease versions"
### What You Are Seeing?
Release notes does not tolerate prerelease versions

### What is Expected?
Allow prerelease version in release notes

### What version of Cake are you using?
0.20

The problem is in this regex here => https://github.com/cake-build/cake/blob/08907d1a5d97b66f58c01ae82506280882dcfacc/src/Cake.Common/ReleaseNotesParser.cs#L25

To fix this just use the following regex =>
`(?<Ve

[2017-07-03 00:04] JeremyCade commented on #1643
Closing:
Fixed in Mono version 5.2.0.179 (2017-04/4498dc4 Tue Jun  6 21:24:12 EDT 2017)

[2017-07-03 00:04] #1643 closed

[2017-07-03 00:10] devlead commented on #1643
@JeremyCade excellent👍, thanks for letting us know.

[2017-07-03 13:08] masterkawaster commented on #1522
I think similar problem is for VSTest
https://github.com/cake-build/cake/blob/develop/src/Cake.Common/Tools/VSTest/VSTestRunner.cs (at the bottom)
The default path (for professional) should be: C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\CommonExtensions\Microsoft\TestWindow\vstest.console.exe

[2017-07-04 11:37] JonCubed commented on #1533
@devlead msbuild branch is ready for a review

[2017-07-05 19:18] Roemer opened #1670 "OpenCover is missing some commandline parameter (for example mergebyhash)"
As stated above, there is at least one missing parameter in OpenCoverAlias.

Would be great to add them. I might do a PR for this.

[2017-07-05 19:26] Roemer opened #1671 "NUnit3 crashes if Format and Transform are set"
NUnit will crash if both are supplied as parameters (see nunit/nunit-console#252).

We should make a sanity check for this and adjust all examples / tests where this is wrongly set.

See #1666 for more details. This change is also dependent on the merge of #1666

Open points:
Should we throw an exception or a just log a warning if both are set? Or when it is executed?

[2017-07-05 19:27] mholo65 commented on #1671
@Roemer thanks for creating this! I've assigned this issue to you and assigned it to the v0.22.0 milestone.

[2017-07-05 19:32] mholo65 commented on #1671
@Roemer said:

Should we throw an exception or a just log a warning if both are set? Or when it is executed?

I'd say we throw an exception (see other examples for sanity check settings here https://github.com/cake-build/cake/blob/develop/src/Cake.Common/Tools/SignTool/SignToolSignRunner.cs#L131)

[2017-07-05 19:35] Roemer commented on #1670
Comparing https://github.com/cake-build/cake/blob/develop/src/Cake.Common/Tools/OpenCover/OpenCoverSettings.cs with https://github.com/opencover/opencover/wiki/Usage I see the following missing arguments:

- coverbytest
- enableperformancecounters
- excludedirs
- hideskipped
- log
- mergebyhash
- nodefaultfilters
- safemode
- searchdirs
- service
- showunvisited
- targetargs
- targetdir
- threshol

[2017-07-05 19:37] Roemer commented on #1671
Ok so the general guideline is to throw an exception when the command is run (not when the parameters are set). Will do this after the merge of #1666

[2017-07-05 21:28] ChrisMaddock commented on #1671
Just to be totally clear - NUnit will currently crash in this situation - but in the near future, will just 'error' and return whatever the 'invalid arguments' error code is. (Afraid I can't remember off the top of my head - but I remember I added it to the Cake source at some point!)

In the even further future, someone may PR Nunit to allow format and transform to be specified together - so mayb

[2017-07-06 13:47] Meir017 opened #1672 "Tools parameters settings from attributes"
## Suggestion:

Right now for tool the settings are converted to the command line arguments manually which seems to me a bit awkward.

I had an idea to use attributes on the settings classes properties that will contain metadata on how each property should be handled - similar to how Powershell function work.

*not sure if it would be possible to use the powershell attributes directly*

for exampl

[2017-07-07 10:22] patriksvensson commented on #1672
@Meir017 Good initiative!

I think however that the current way of building tool arguments gives more flexibility of how and when to include parameters, which have proven useful in the past. Especially in cases where you want to exclude or include other arguments depending what settings have been set and similar. Sometimes it's not a 1:1 mapping between what settings have been set and what argumen

[2017-07-07 11:52] Meir017 commented on #1672
What you are describing sounds a bit like the `ParameterSetName` in the attribute `ParameterAttribute` in powershell. ([source code](https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/engine/Attributes.cs#L633))

1. Would it be possible to somehow reused the attributes from powershell? If something like this would be possible it will also mean that we will be abl

[2017-07-07 14:29] gep13 commented on #1672
@Meir017 as @patriksvensson said, I don't think that this is something that we would want to roll out across the board, however, there is nothing to stop you doing something like this in your own addins.

There is already examples of doing this in this addin:

https://github.com/AgileArchitect/Cake.Sonar

[2017-07-10 06:38] Roemer opened #1674 "MSBuildFileLogger LogFile is a string and not a FilePath"
As the title says, the Property `LogFile` in MSBuildFileLogger is a `string`. I think it would make more sense that it is a `FilePath` so that you can direcly use it like:
[code]

[2017-07-10 09:01] Roemer commented on #1674
I will do a PR with this. This would be a breaking change.

[2017-07-10 11:27] Roemer commented on #1670
As a start, I would add the following properties:
[code]
Would that be fine for a PR?

[2017-07-10 12:25] JonCubed commented on #1533
@devlead vstest is ready for review @ #1675. That was the last command to do! Let me know if you need/want anything else done.

[2017-07-10 13:59] Roemer commented on #1670
I acutally found out that the `TargetArguments` are already handled by `context.Settings?.Arguments?.Render()`. I find this a bit misleading as the `context.Settings.Arguments` are usually the arguments for the process aren't they? and here they are re-used for the process that OpenCover is started. Wouldn't it be better to have them in the OpenCoversSettings? a similar approach is used in the Dot

[2017-07-10 20:49] jnm2 opened #1677 "Better performance for --showdescription"
Currently it's taking between 4 and 5 seconds. Is there anything that can be done about that? Ideally there would be some way to get it under 500ms.

I added target name autocomplete to my bootstrapper which executes `--showdescription`, but it freezes the console for 4-5 seconds every time I press tab. 200ms would be so cool though...

I know Cake takes a while to check dependencies and compile,

[2017-07-10 21:16] devlead commented on #1677
Currently it'll codgen, reference dependencies, compile and execute the C# code. for it to be 200ms likely would have to not do that but rather some specific `--showdescription` parsing code.

Unsure if this is a a high priority or worth it at the moment, a potential work around would be to in boostrapper use powershell to extract the needed info i.e. something like
[code]
that takes around 8 ms o

[2017-07-10 21:27] jnm2 commented on #1677
@devlead I think your suggestion is even better. I'd guess this will cover the 99.99% case. It can easily be extended to follow `#load` references, and is it really a big deal if autocomplete skips targets defined in NuGet dependencies?

[2017-07-10 22:33] devlead commented on #1677
@jnm2 for anyone using something like cake recipe it would matter as all tasks are defined externally. It'll depend on your use case as any text parsing will be "best effort".

[2017-07-10 22:56] jnm2 commented on #1677
I see. Going back a step, it also wouldn't hurt to to start running the whole resolved and compiled script in under 500ms either. Perhaps the whole startup business could be profiled to see what's taking 4 seconds and possible workarounds.

[2017-07-11 04:18] gep13 commented on #1677
@jnm2 as @devlead said, this is unlikely to be a priority for is right now. But if you wanted to take a stab at profiling it, and post your results back here?

[2017-07-11 14:05] boebeng commented on #1521
@patriksvensson Is there any progress on this? I recently started with Cake build and it seems quite interesting and we would like to replace psake with Cake build. This issue is somehow blocking me.
Is there a workaround? For example an automatism to delete the tools folder upfront?

[2017-07-12 07:48] phenixdotnet opened #1679 "Cake on dotnet core doesn't load reference dll correctly if referenced from a subdirectory"
### What You Are Seeing?
If you're using Cake.CoreCLR, the referenced libs (using #reference) aren't loaded correctly if the cake script is in a subdirectory.
[code]

### What is Expected?
The lib should be loaded and available in the cake script

### What version of Cake are you using?
Cake.CoreCLR version 0.21.0-dotnetV10tooling0001 from myget
Cake.Docker version 0.7.7 from nuget

### Are you ru

[2017-07-12 08:36] patriksvensson commented on #1679
@phenixdotnet Thanks for reporting this.

Instead of using a `FileInfo` to get the full path in your patch, you should use `path.MakeAbsolute(environment)`.

We should however look into why the path isn't absolute in the first place. According to https://github.com/cake-build/cake/blob/develop/src/Cake.Core/Scripting/Processors/ReferenceDirectiveProcessor.cs#L46 it should use the absolute path alr

[2017-07-12 08:41] phenixdotnet commented on #1679
@patriksvensson Thanks for quick response.

Problem with the ```path.MakeAbsolute(env)``` is we don't have the env in this method. Adding it on the whole stack is a huge breaking change. I can go to this way if you valid it.

I guess the root cause of this bug in somewhere in ```FilePath``` (or base class) and how absolute path are handled.

[2017-07-12 10:31] patriksvensson commented on #1679
@phenixdotnet The polyfills are internal so this wouldn't be a breaking change. Not sure what you mean with a bug in `FilePath` though, could you elaborate?

[2017-07-12 11:50] phenixdotnet commented on #1679
Mistake from my side, I didn't understand correctly the FullPath property. From the property name I guess to get the absolute path but it isn't. I just don't under the diff between path and fullpath.

I changed the patch implementation and created a PR #1680

[2017-07-13 07:10] maximpashuk commented on #1644
@devlead Can you give your opinion on this issue?

I read the articles
https://docs.microsoft.com/en-us/dotnet/core/tools/extensibility
https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package#setting-a-package-type

It says that to implement Cake.CoreClr as dotnet cli tool you should make 2 things:
1. **Cake.dll** should be renamed as **dotnet-cake.dll** to conform a convention.

[2017-07-13 07:25] patriksvensson commented on #1644
@maximpashuk Thanks for your feedback. Currently we got no plans to add a CLI tool for Cake.

[2017-07-13 07:57] phenixdotnet commented on #1183
Hi.
Is there any update on this ?
The NuGet.PackageManagement project doesn't support .NET Core yet and the project.json workaround doesn't work anymore.

As a 'fix" can we check if the current platform is Unix and if yes, change the command to use mono ? Is that acceptable ?

[2017-07-13 10:31] devlead commented on #1183
We've just recently ported Cake to 1.0.4 SDK and csproj, are just finishing up getting cake tooling aliases up to speed with the new SDK and current priority post that is to get Cake up to speed with the latest Roslyn bits. So we've just not had the time to look at this yet.

Don't think adding a hard dependency to mono is the way to for .NET Core version of Cake.

We should look at some .NET Core

[2017-07-13 20:36] kcamp opened #1681 "Using Cake Contribution Guidelines"
I have two projects that I am polishing up in preparation for potential release/contribution (repos are not yet public). As part of that, I am working on including contribution guidelines.

The content used by the [Cake Contribution Guielines](https://github.com/cake-build/cake/blob/develop/CONTRIBUTING.md) is excellent, and I'd like to use that as the basis for my own content.  Would that be an o

[2017-07-13 20:53] gep13 commented on #1681
Would that be an option?

Almost certainly.  As you know, we actually borrowed the Guidelines from the Chocolatey Project.  @ferventcoder did an excellent job in creating the original version.

I am fairly sure that Rob won't have an issue with you also borrowing it, but yes, I would suggest that an acknowledgement, similar to what we have here:

https://github.com/cake-build/cake/blob/develop/CON

[2017-07-13 21:08] kcamp commented on #1681
Sounds good, thank you.

@ferventcoder : If there is any issue with this re-use, let me know.  Otherwise, I intend to proceed & will add the appropriate acknowledgements to the final copy.

[2017-07-13 21:18] ferventcoder commented on #1681
Not at all. Check out the updated CONTRIBUTING in the Chocolatey project - https://github.com/chocolatey/choco/blob/master/CONTRIBUTING.md

[2017-07-13 21:19] ferventcoder commented on #1681
Not at all == no issues from reuse, it's flattering 👍

[2017-07-13 21:21] ferventcoder commented on #1681
Updated the text in the first to mention Chocolatey is Apache2 licensed, so I'm not sure you would need to ask permission, just attribute where you got it from like Cake did. 👍

[2017-07-13 21:22] gep13 commented on #1681
@kcamp by the way... let me know when you release the Cake Addin's, so I can follow up regarding cake-contrib user on NuGet.org, etc.

[2017-07-13 21:24] ferventcoder commented on #1681
@gep13 specifically this section might be good for Cake to add - https://github.com/chocolatey/choco/blob/master/CONTRIBUTING.md#set-up-your-environment

[2017-07-13 21:25] ferventcoder commented on #1681
This is also new - https://github.com/chocolatey/choco/blob/master/CONTRIBUTING.md#debugging--testing

[2017-07-13 21:55] devlead opened #1682 "Pre-Release PackageReferences get wrong dependency version number"
This is because of an bug in MSBuild / .NET CLI ( NuGet/Home#4337 )
![image](https://user-images.githubusercontent.com/1647294/28189481-663b1a36-6826-11e7-85f7-f516ddc2920b.png)

[2017-07-13 22:08] #1682 closed

[2017-07-13 22:28] JonCubed commented on #1644
@patriksvensson would you consider community contributions for this?

[2017-07-14 10:02] #1533 closed

[2017-07-14 10:02] #1577 closed

[2017-07-14 10:02] #1679 closed

[2017-07-14 11:54] adamhathcock commented on #1644
I’m not sure what benefit an extension would be.  Since installing a tool requires a project file, bootstrapping is awkward.

If they had a story that allows dotnet tools to be installed outside of a project then it might be useful, imo.

[2017-07-14 12:46] kcamp commented on #1681
great! thanks to all.   I will have a look at the referenced updates and incorporate as necessary.
@gep13 I will let you know when things are ready to go.

closing this issue as i consider it resolved.

[2017-07-14 12:46] #1681 closed

[2017-07-14 14:11] trailmax opened #1684 "VSTS IsHostedAgent detection is flawed"
When running CakeBuild in VSTS and rely on `Context.TFBuild().IsRunningOnVSTS`. However we have 2 hosted build agents and second build agent is called "Hosted Agent 2". And build is always failing on the second agend.

[Here](https://github.com/cake-build/cake/blob/d8f7fe179bdf41fa9d2dbc426a3bd6fbcef7dcfc/src/Cake.Common/Build/TFBuild/TFBuildProvider.cs#L82) code insists that agent name is exactly

[2017-07-14 14:27] trailmax commented on #1684
Looking on my VSTS, my other hosted agent is called "Hosted VS2017 2". So we can't rely on this value to be anything consistent.

[2017-07-14 15:22] patriksvensson commented on #1684
Related to #1580.

[2017-07-14 16:50] devlead opened #1685 "Add DotNetCoreTool alias overload that takes DotNetCoreToolSettings parameter"
To be able to access environment, working directory etc.

I'll submit a PR shortly

[2017-07-14 17:10] patriksvensson opened #1686 "AssemblyLoadContext root path is relative"
When creating the `AssemblyLoadContext`, we should use the absolute path for the directory and not the relative one.

https://github.com/phenixdotnet/cake/blob/d0428c49aea85415eb8d3f5d27e0ce0434039762/src/Cake.Core/Polyfill/AssemblyHelper.cs#L38

The initial bug fix (#1680) that we merged will only solve the cases where the loaded assembly doesn't have any dependencies on it's own. If it has and i

[2017-07-15 12:51] JonCubed commented on #1644
@adamhathcock you can have [path based tools](https://docs.microsoft.com/en-us/dotnet/core/tools/extensibility#path-based-extensibility) so it can be use across multiple solutions.

I can see it as a benefit to having it integrate into the tool chain that .net core users are already using and removing the need for the bootstrap script. I'm not doing anything funky with my bootstrap but perhaps for

[2017-07-15 12:56] #1685 closed

[2017-07-15 13:06] amoerie commented on #1644
That would mean every project you ever want to build on a machine has to share the same cake version though, which is unacceptable for CI build agents.

Coming from MSBuild, we had a global project wide packages.config file that referenced MSBuild extension packages hosted on NuGet. We also had a build.proj file that contained our project wide tasks.

The build.proj file has been replaced with bui

[2017-07-15 13:07] #1667 closed

[2017-07-15 13:11] #1686 closed

[2017-07-15 13:24] adamhathcock commented on #1644
well, I can see an advantage being you bootstrapper to install the tool then just use the `dotnet` tool CLI instead of a bootstrap script.  It's not a huge one though.

doing `dotnet cake run <target>` just seems neat.

I definitely agree you generally don't want to install Cake system wide because of versions in CI.

[2017-07-15 13:28] JonCubed commented on #1644
@amoerie I don't believe that would be the case as tooling supports other methods like per-project and custom msbuild targets, it seems flexible enough for the various needs that will pop up.

I could see it working similar to npm packages where some are installed globally so you can init projects,  modify files and be usable by editors, but each project then adds it so the version is pinned.

Glo

[2017-07-15 14:34] amoerie commented on #1644
Ah yes as long as system wide is not the default "officially encouraged" option I agree that it can be useful for certain people. Imho, the recommended approach should be repository-specific Cake versions.

I believe the biggest benefit of implementing this would be lowering the barrier of entry for Cake. Playing nice with the dotnet CLI would also be a gesture of maturity and good will I believe.

[2017-07-15 14:39] adamhathcock commented on #1644
I don't think you can avoid a script for installation unless you somehow have a base project with the tool configured.  Tools aren't at a solution level and there's no way to install them local to a repository without a project.

I've used a bootstrap project with some generated XML which could be a tool reference instead of a package reference.

[2017-07-17 06:37] epot commented on #1522
Any chance this is going to be fixed soon?

[2017-07-17 12:30] devlead commented on #1522
@epot I've now marked issue up for grabs.
If someone want to take a stab at creating a PR let us know on this issue.

[2017-07-17 12:34] epot commented on #1522
Ok, thanks :)

[2017-07-17 19:40] dave600b commented on #1317
Hi, this is the same for files in TFS. I'm trying to copy around some files to include in my build artifact but my clean is failing due to readonly files stopping a delete / clean.

[2017-07-17 21:58] nbarbettini commented on #1317
I ran into this in the context of cleaning up a git folder as well.

Instead of adding overloads to `CleanDirectory`, does it make sense to add a method like `SetFileAttributes(globbingPattern, FileAttributes)` to a package like [Cake.FileHelpers](https://github.com/Redth/Cake.FileHelpers) or similar?

[2017-07-18 14:34] jnm2 opened #1689 "ChocolateyDownload should be documented to only work in paid edition"
If you use the `ChocolateyDownload ` alias without a paid edition, you will get:

[code]

[2017-07-18 14:36] gep13 commented on #1689
@jnm2 no, this is not the case.  The Chocolatey download command is only available in the paid editions of Chocolatey.

https://chocolatey.org/docs/features-automatically-recompile-packages

[2017-07-18 14:38] gep13 commented on #1689
Perhaps this issue should be changed to indicate that this alias will only work with the licensed editions.

[2017-07-18 15:08] jnm2 commented on #1689
@gep13 Sorry! Thanks for the clarification.

[2017-07-19 14:48] kharlamov opened #1690 "Casing causes 'More than one build script specified.' message"
I switched from windows _(ps1)_ to mac _(sh)_, and noticed that using commands such as -`T` or `-Target` on the shell script it causes the following issue `More than one build script specified`. After a while I noticed it was just a casing issue `-t` worked just fine. Is there anyway to get some better notification or just to ignore casing for this?

[2017-07-19 19:56] gep13 opened #1691 "Support For Interpolated String Literal Expressions"
@chazt3n commented on [Wed Jul 19 2017](https://github.com/cake-build/website/issues/389)

It would be awesome to have support for code like:
[code]

[2017-07-19 19:57] gep13 commented on #1691
@chazt3n This should be possible, OOTB, once we move to the latest version of Roslyn, which is due to ship in the next release, 0.22.0.

For now, you might be able to use this today by passing the `-Experimental` flag.

[2017-07-20 10:18] patriksvensson commented on #1690
@kharlamov Command line options are case sensitive in bash, so this is by design.

[2017-07-20 13:30] kharlamov commented on #1690
I guess that part makes sense, the weird part to me was the side effect when the command is wrong `More than one build script specified.`? However, thats no big deal now that I know, thank you.

[2017-07-20 18:16] patriksvensson commented on #1690
@kharlamov That message is coming from Cake's parser so that we might want to look closer at.

Would you mind specifying what OS you're running on, which Cake version and what the command looks like to get this error?

[2017-07-20 20:58] kharlamov commented on #1690
Sure, I am using mac OS X 10.12.5 with the latest version of cake.

[2017-07-24 21:45] mholo65 opened #1692 "Log script compilation warnings and other diagnostics"
Should be doable after #1645 is merged

[2017-07-24 22:40] patriksvensson opened #1693 "Possible bug when setting process environment variable"
Was cleaning up Resharper warnings as part of a PR and noticed this: https://github.com/cake-build/cake/blob/develop/src/Cake.Core/Polyfill/ProcessHelper.cs#L20

We should figure out what is the intended behavior here, and if the current behavior is correct, remove `envKey`.

[2017-07-24 22:55] devlead commented on #1693
env key should be used if we want consistent xplat, otherwise it can be removed.

Thinking initial intent was to work around a casing issue with corrupt environment variables, which it didn't, but this could also be the reason it didn't 😁

[2017-07-25 00:00] devlead opened #1694 "Addin directive shouldn't attempt to load native assemblies"
Currently if a lib/win32 dlls exists in a framework moniker Cake will try and fail to load those.

[2017-07-25 00:19] Jamie-Clayton opened #1696 "VSTO + Nuget secure Feeds"
### What You Are Seeing?
Unable to configure Cake + VSTO VS2017 agents to correct restore nuget packages + use secure nuget feeds hosted in VSTO.

### What is Expected?
An easy and secure way of using Cake with Nuget Credential providers and the choice of user/password or API keys with out storing those secrets in the cake.build program.

### What version of Cake are you using?
0.21.1.0

### Are y

[2017-07-25 00:41] JenasysDesign commented on #1601
Related issue with the same error output. #1696

[2017-07-25 00:45] patriksvensson opened #1697 "CakeContextAdapter do not implement ICakeContext"
Not sure how this slipped through the cracks, but we should fix this.

[2017-07-26 00:53] louisfischer opened #1698 "Add CakeReferenceImportAttribute for Cake Addins"
This idea is to add a new "CakeReferenceImportAttribute" that can be used by Cake addins to automatically import references into the script. This feature would work very similar to the "[CakeNamespaceImportAttribute](https://github.com/cake-build/cake/blob/develop/src/Cake.Core/Annotations/CakeNamespaceImportAttribute.cs)" which imports "using" statements into the running cake script

The use case

[2017-07-26 07:32] agc93 commented on #1684
Yep, I'll have a look at this (a few different parts of the logic need improvements)

[2017-07-26 08:16] devlead opened #1699 "NuGetPackSettings missing language/locale ID for the package"
As mentioned in nunit/nunit-console#253 language/locale ID is currently missing from [NuGetPackSettings](http://cakebuild.net/api/Cake.Common.Tools.NuGet.Pack/NuGetPackSettings/).

I'll take a look at this submit a PR for it.

[2017-07-26 13:10] louisfischer commented on #1698
I can do a pull request if it is something the team thinks is worth pursuing.

[2017-07-26 17:19] alvaromongon commented on #1537
I have just updated to Cake version 0.21.1 and it is still happening.

Any estimation about when this will be fixed?

Thanks!

[2017-07-26 17:30] peter-perot commented on #1537
Currently I have not the time to drop a pull request, but the code I posted above fixes the issue. Maybe some of the Cake guys can take the code snippet and fix that bug. ;-)

[2017-07-27 18:03] soydachi opened #1702 "DotNetCoreRestore, DotNetCoreBuild & DotNetCoreTest Microsoft.Portable.CSharp.targets was not found"
### What You Are Seeing?
I created a .net-standard 1.5 library with xunit pcl netcoreapp1.1
url: [https://github.com/soydachi/MeetupApi](https://github.com/soydachi/MeetupApi)

With vs4mac, it's compile and run test without problems, but on cake it throws this error always:

### What version of Cake are you using?
Cake.0.21.1
### Are you running on a 32 or 64 bit system?
64 bit
### What environmen

[2017-07-28 06:52] devlead commented on #1702
As far as I know the .NET Core CLI only supports the new VS2017 project format and by the looks of it you're trying to build a VS2015 solution with some VS2017 elements added to it
[code]

Here's a blog post about migrating csproj to vs2017 csproj
http://www.natemcmaster.com/blog/2017/03/09/vs2015-to-vs2017-upgrade/

Here's an example of an converted CSPROJ
https://gist.github.com/devlead/061d64da

[2017-07-28 11:34] soydachi commented on #1702
Oh yes, that is true, it's an old project.

Sorry for the tome I stole you :)

Now it's working.

[2017-07-28 11:37] devlead commented on #1702
Ok, no worries, glad you got it sorted.

I'll go ahead and close this issue, please reopen or raise a new issue if issue isn't resolved.

[2017-07-28 11:37] #1702 closed

[2017-07-28 11:56] wozzo commented on #1486
Using cake v0.21.1.0 I'm getting a similar problem when trying to create Tasks within a foreach loop.
`var solutions = GetSolutions();
foreach (var solution in solutions)
{
  Information("Creating tasks for " + solution.Name);

  Task(solution.Name).Does(() =>
  {
    MSBuild(solution.FilePath, msBuildSettings);
  });
}`
Gives the following error when run

Confusingly the following works but does

[2017-07-28 14:05] #1694 closed

[2017-07-28 22:52] #1699 closed

[2017-07-29 18:39] devlead commented on #1540
Fixed by #1645

[2017-07-29 18:39] #1540 closed

[2017-07-29 18:40] devlead commented on #1512
Fixed by #1645

[2017-07-29 18:40] #1512 closed

[2017-07-29 19:09] #1597 closed

[2017-07-29 19:39] devlead commented on #1614
Fixed by #1615

[2017-07-29 19:39] #1614 closed

[2017-07-29 20:25] #1665 closed

[2017-07-29 20:36] mholo65 commented on #1671
@Roemer as https://github.com/nunit/nunit-console/issues/252 is now solved and NUnit will no longer crash, we think that solution proposed by @ChrisMaddock and don't interfere would be the wisest thing to do.

Therefore I'm closing this issue. Thanks!

[2017-07-29 20:36] #1671 closed

[2017-07-30 06:48] matkoch commented on #1479
@Redth _Touch_ usually not only means to update the last modification date, but also creating the file, if it doesn't exist.

[2017-07-30 20:55] devlead opened #1704 "Move CakeConsole & CakeBuildLog to Cake.Core and made CakeConfiguration public"

[2017-07-30 21:40] patriksvensson commented on #293
Closing since #1645 been merged to develop.

[2017-07-30 21:40] #293 closed

[2017-07-30 21:41] patriksvensson commented on #829
Closed since #1645 been merged to develop. Feel free to reopen this if it's still a problem after 0.22.0 have been released.

[2017-07-30 21:41] #829 closed

[2017-07-30 21:42] patriksvensson commented on #1167
Closed since #1645 been merged to develop. Feel free to reopen this if it's still a problem after 0.22.0 have been released.

[2017-07-30 21:42] #1167 closed

[2017-07-30 21:42] patriksvensson commented on #1528
Closed since #1645 been merged to develop. Feel free to reopen this if it's still a problem after 0.22.0 have been released.

[2017-07-30 21:42] #1528 closed

[2017-07-30 21:43] patriksvensson commented on #1530
Closed since #1645 been merged to develop. Feel free to reopen this if it's still a problem after 0.22.0 have been released.

[2017-07-30 21:43] #1530 closed

[2017-07-31 01:35] matkoch commented on #1662
If I'm not mistaken, the current implementation will fail to parse for projects that utilize includes. And what about conditions?

[2017-07-31 04:19] gep13 commented on #1662
@matkoch that is certainly a possibility. Could I get you to raise an issue kn the Cake.Incubator repository?

[2017-07-31 09:26] GeertvanHorrik opened #1707 "Zip files uses wrong target directory"
### What You Are Seeing?

Zip file created in the wrong directory

### What is Expected?

Zip file created in the right directory

### What version of Cake are you using?

0.19.4

### Are you running on a 32 or 64 bit system?

64-bit

### What environment are you running on?  Windows? Linux? Mac?

Windows

### Are you running on a CI Server?  If so, which one?

Not yet.

### How Did You Get This T

[2017-07-31 09:29] GeertvanHorrik commented on #1707
And now I think of it, the root path is not the root output path, it's the relative directory for the files being zipped.

Maybe the example at http://cakebuild.net/api/Cake.Compression/CompressionAliases/812F4D2E could be expanded a bit:

[code]

instead use

[code]

The example code gave me the impression that I only needed to specify the filename (not the directory) for the 2nd argument.

[2017-07-31 12:33] kcamp commented on #1662
@matkoch

Yes, there is at least one known issue in the way the parser handles includes.  See #1299 as resolved by #1529.

Conditions are also something that are not supported fully; general `Configuration|Platform` conditions are handled, but not all permutations.  I've developed an `ExtendedProjectParser` based on a reference to `Microsoft.Build` that allows for a more exacting evaluation of the

[2017-07-31 12:39] matkoch commented on #1662
@kcamp

Is there any reason why you use XML parsing? The possibilities of mutating in MSBuild are numerous, so why not utilizing MSBuild itself to get the values, like [here](https://github.com/nuke-build/nuke/blob/a81c86fd3f7fc0a91aef3ff3f43f19293dd9febd/source/Nuke.Common/Tools/MSBuild/MSBuildTasks.cs). It's not optimal though.

[2017-07-31 15:16] papauorg opened #1708 "Provide ability to create documentation for Arguments similar to Tasks"
Hi,

as described in this SO question: https://stackoverflow.com/questions/45413524/how-can-cake-build-arguments-be-documented
it would be great to be able to add documentation for Arguments as it is currently possible for Tasks by using the `Description("...")` method.

So e.g. executing the build script with the -showdescription parameter could show the described targets as well as the available

[2017-07-31 15:33] patridge opened #1709 "Cannot build Cake locally in VS2017 without first running Cake build script"
### What You Are Seeing?

If you clone the Cake repo and try to build it in VS2017, you will get a bunch of errors restoring NuGet packages. (See Gist, linked below, for full output.)

### What is Expected?

Any necessary prerequisite steps should be handled when building the project in VS2017.

A simpler approach might be to have some docs on building/testing things locally that mention the build

[2017-07-31 15:37] devlead commented on #1709
Think we could probably sort this by adding a nuget.config to repo. It's likely because it doesn't find the MyGet feeds.

[2017-07-31 16:15] patriksvensson commented on #1709
Hmm, the targeting packs should only be required when building on Mono (imported in `Shared.msbuild`). We're using the .NET4.6.2 targeting packs as well. Really strange.

[2017-07-31 17:53] mholo65 commented on #1708
I think this kind of functionality will bring more value :+1:

[2017-07-31 19:13] patridge opened #1710 "Add alias for simple sub-directory listing"
Rather than having to learn anything about the pattern syntax used in GlobbingAliases various methods (including its own [`GetDirectories`](https://github.com/cake-build/cake/blob/2595de795c56066eee8391641f3298082b4384cd/src/Cake.Common/IO/GlobbingAliases.cs#L97) method that can be used to similar effect with the right pattern), it seems like it would be nice to have a simplified method for gettin

[2017-08-01 06:53] mholo65 commented on #1709
@patriksvensson but if `.NET 4.6.2 Targeting pack` isn't ticked in VS 2017 installer. It would exlplain behaviour.

![image](https://user-images.githubusercontent.com/7863439/28812809-2bef0fea-769f-11e7-9e61-3dc3c89486c7.png)

[2017-08-01 08:35] GeertvanHorrik opened #1712 "Debug log listener when debugging cake from VS (attached process)"
I am currently trying to attach a debugger to the Cake process in order to debug an add-in. I've chosen the full VS approach (since that's where I am developing the extension), but the logging is not being written to the output window of VS which is not as convenient as it could be.

I think it should be fairly easy to redirect logging to the output window *if* a debugger is attached. At first I t

[2017-08-01 08:37] GeertvanHorrik commented on #1712
Maybe the `Trace` class will work. So something at startup of Cake:

[code]

The timing should be chosen well so it will work while attaching immediately (cake.exe is set as startup process) and after the -debug parameter.

[2017-08-01 08:46] mholo65 commented on #1712
@GeertvanHorrik I'd think this would be a great addition.

Thinking how this could be done. Either we:
* Support registering outputs/sinks to `ICakeLog`, or
* Create a log interceptor which intercepts log messages and also writes them debug/trace window.

Thoughts, @cake-build/cake-team

[2017-08-01 09:04] patriksvensson commented on #1712
@mholo65 I would prefer the last option. Adding output and sinks to `ICakeLog` feels wrong.

[2017-08-01 11:17] #1704 closed

[2017-08-01 12:32] ChrisMaddock opened #1713 "Roslyn NullReferenceException upgrading v0.19.1 -> v.0.20.0 with ExtendedNuGet addin"
### What You Are Seeing?

NullReferenceException on build script compilation

### What is Expected?

Script compiles as it did in >v 0.19

### What version of Cake are you using?

0.21.1

### Are you running on a 32 or 64 bit system?

64

### What environment are you running on?  Windows? Linux? Mac?

Windows

### Are you running on a CI Server?  If so, which one?

No

### How Did You Get This To

[2017-08-01 12:40] ChrisMaddock commented on #1713
Ah - found a separate issue here. https://github.com/Redth/Cake.ExtendedNuGet/issues/15

Looking forward to v0.22. 😄

[2017-08-01 12:40] #1713 closed

[2017-08-01 13:02] #1564 closed

[2017-08-01 13:35] devlead commented on #1710
Fixed by #1711

[2017-08-01 13:35] #1710 closed

[2017-08-02 08:18] #1697 closed

[2017-08-02 08:46] #1693 closed

[2017-08-02 09:05] gep13 opened #1718 "Cache NuGet Packages on AppVeyor"
Now that we are using dotnet restore, the packages folder is no longer in the same location, and the caching rules need to be corrected.

yep you can set NUGET_PACKAGES env variable and that'll be used.

[2017-08-02 09:26] gep13 commented on #1698
@cake-build/cake-team what were your thoughts on this one?

[2017-08-02 11:08] Roemer opened #1719 "Jenkins BRANCH_NAME is missing"
Jenkins provides a BRANCH_NAME environment variable which is not mapped into cake.

There might be other variables missing as well.
Here's the list of variables I get from my Jenkins instance:

Variable | Description
------------ | -------------
BRANCH_NAME | For a multibranch project, this will be set to the name of the branch being built, for example in case you wish to deploy to production from

[2017-08-02 13:48] devlead commented on #1391
@patriksvensson is this still the case? Or can we close this one?

[2017-08-02 13:53] mholo65 commented on #1698
Could we as a starter honor `<frameworkAssemblies>` in the nuspec file of the Addin?

[2017-08-02 15:37] patriksvensson commented on #1391
Hmm. We can probably close it and reopen if it occurs again. I might have sent a PR that got merged but not sure.

[2017-08-02 15:37] #1391 closed

[2017-08-02 15:44] fatmanmclone90 commented on #1594
this would be really useful, the current stack trace tells you nothing about why it aborted

[2017-08-02 17:10] patriksvensson commented on #1594
Excellent idea!

[2017-08-03 05:50] devlead commented on #1537
fixed by #1701

[2017-08-03 05:50] #1537 closed

[2017-08-03 06:52] #1621 closed

[2017-08-03 07:30] devlead commented on #1719
@Roemer would you be in a position to send a PR for this?

[2017-08-03 07:50] #1422 closed

[2017-08-03 08:32] Roemer commented on #1719
Yes I can do this. Just not today :)

[2017-08-03 13:01] mholo65 commented on #1674
Solved by #1676

[2017-08-03 13:01] #1674 closed

[2017-08-03 15:02] StevenWolfe commented on #1708
I like it, have you started dev on it or just suggesting the idea?

[2017-08-03 15:19] Roemer commented on #1719
You can assign it to me. I'm investigating.

[2017-08-03 16:11] RLittlesII commented on #1719
@Roemer #693 was the original issue.  The list used to implement is [here](https://wiki.jenkins.io/display/JENKINS/Building+a+software+project#Buildingasoftwareproject-below).  Hope this helps your investigation.

[2017-08-03 16:13] papauorg commented on #1708
No I didn't start. I could give it a try but I would need some hints on how to proceed. Also I can't promise to start right away.

Are you asking because you want to do it?

[2017-08-03 19:50] Redth opened #1720 "ILRepackSettings.Libs should be List of DirectoryPath"
### What You Are Seeing?
When using the following:

[code]

I get an error that the assembly `ref.dll` was unable to be resolved.  Which you think is weird since I'm explicitly adding it as a reference in the call.  Then when you try to run the command manually you get the same error, but upon discovering that the ILRepack arg `/lib:` is actually supposed to take a directory, not a specific file,

[2017-08-03 20:07] Redth commented on #1720
So currently it looks like you can just pass string to a directory and it will take it as a FilePath and work properly but that's a bit hack as a workaround (and not sure if that works on windows).

[2017-08-03 20:10] mholo65 opened #1721 "Libraries should target netstandard"
Libraries should target `netstandard1.3` (which is compatible with both `net46` and `netcoreapp1.0`). This way we don't need to multitarget, thus no need for a bunch of  `#if NETCORE...` in our code.

`Cake` exe should still be multitargeted. We keep that `net462` and `netcoreapp1.0`

[2017-08-03 21:26] #1720 closed

[2017-08-04 07:54] Roemer commented on #1719
@RLittlesII Thanks for the hint.

I now changed the following:
- Adjusted some comments
- Moved WORKSPACE to JenkinsBuildInfo (from JenkinsEnvironmentInfo)
- Removed EXECUTOR_NUMBER from JenkinsEnvironmentInfo (it is already in JenkinsBuildInfo)
- Added new JenkinsChangeInfo for the CHANGE_ variables
- Added JOB_BASE_NAME to JenkinsJobInfo
- Made NodeLabels a string array (instead of a string)
- A

[2017-08-04 07:58] Roemer commented on #1719
PR opened, see #1724

[2017-08-04 08:37] mholo65 commented on #1721
Nope, not happening until `netstandard2.0`. Too much yak shaving.

[2017-08-04 12:45] gep13 commented on #1572
Closing as a duplicate of https://github.com/cake-build/cake/issues/1521

[2017-08-04 12:45] #1572 closed

[2017-08-04 12:47] gep13 commented on #1521
Closing as a duplicate of https://github.com/cake-build/cake/issues/753

[2017-08-04 12:47] #1521 closed

[2017-08-04 13:42] daveaglick commented on #1521
For anyone interested in this issue, there's an easy workaround. I just stick this in my PowerShell bootstraper:

[code]

You can make it more specific too if you know it's only one tool or addin you want to ensure is always fresh.

[2017-08-04 13:44] matkoch commented on #1521
@daveaglick thanks, `-ErrorAction Stop` would be better I think. Otherwise you could have strange side effects again.

[2017-08-04 14:24] fatmanmclone90 opened #1726 "Allow #load of a file to be optional"
Allow the load directive to point at an optional file that may or may not exist.  Current behaviour is to throw an exception if the file is not found.

Desired so that we can use a common build.cake script across projects, some of which will have the optional file to load variables for use in the cake script

`#load "local:?path=properties.cake";`

Current error in Cake v0.21.1

`Analyzing build s

[2017-08-04 14:26] gep13 opened #1727 "Incorrect documentation for XmlPeek Alias"
This can be seen here:

http://cakebuild.net/api/Cake.Common.Xml/XmlPeekAliases/04FF8EA2

[2017-08-04 15:25] #1727 closed

[2017-08-05 19:25] robgha01 opened #1729 "CopyFiles(ICakeContext, IEnumerable<FilePath>, DirectoryPath, bool) is buggy"
### What You Are Seeing?
Im using true for preserve folder structure but what i see is files getting copied to destination without its
first level root folder "Umbraco_Client", "Umbraco" for some reson the "Umbraco_Client" gets copied outside of target folder while Umbraco files gets copied to the target but not whitin its root folder "Umbraco".

### What is Expected?
I expect that the files get c

[2017-08-05 21:12] matkoch opened #1730 "Enable security via HTTPS"
There are several security flaws across all cake products when files are downloaded without using HTTPS protocol. Most severe issue is the download of _packages.config_ because there is no time between downloading and continuing code execution.

[2017-08-06 07:47] devlead commented on #1730
Duplicate of cake-build/website#40

We're in the middle of migration to new infrastructure, where both SSL and HSTS will be enabled.

[2017-08-06 07:47] #1730 closed

[2017-08-06 16:05] matkoch commented on #1730
This is not a duplicate, it's about ensuring that in fact the correct bootstrapper is downloaded.

[2017-08-06 19:29] phillipsj opened #1731 "GitLabCI variable changes."
I stumbled across this [documentation](https://docs.gitlab.com/ce/ci/variables/README.html#9-0-renaming) today where the environment variables have had their names changed for the 9.0 release.  I don't know if this will effect anything currently, but worth putting on the radar.

[2017-08-06 19:43] patriksvensson commented on #1731
Hmm, it should be safe to look for both values I think unless I've missed something?

Great find @phillipsj!

[2017-08-06 20:22] mholo65 opened #1732 "Remove NuGet.Core dependency in Cake.NuGet"
We should do just fine with NuGet.Client. Makes life easier as we don't need separate NuGet dependency for Cake and Cake.CoreCLR

[2017-08-06 21:01] gep13 commented on #1730
@matkoch it was marked as a duplicate due to the fact that you couldn't have one, without the other.  I believe that all necessary changes in this regard have now been made.

[2017-08-06 21:04] matkoch commented on #1730
Just to be correct, the other issue was closed _without_ fixing the issue I've described here.

[2017-08-06 21:07] gep13 commented on #1730
@matkoch yes, it was, and you will notice as well that it was immediately opened again.

[2017-08-06 21:10] matkoch commented on #1730
@gep13 as far as I remember I've pointed out the issue in gitter 🤔 Anyways, great that you've fixed it.

[2017-08-07 07:01] tzitzimime opened #1733 "dot net for linux 404 not found on execute build.sh"
The .net zip platform for linux can't be downloaded from https://dotnetcli.azureedge.net/dotnet/Sdk/1.0.4/dotnet-sdk-1.0.4-linux-x64.tar.gz and the install script fail

#######################################################
Installing .NET CLI...
[sudo] pasvorto por mixcoatl:
/home/mixcoatl/cake/.dotnet/dotnet-install.sh: linio 142: VERSION_ID: Neligita variablo
/home/mixcoatl/cake/.dotnet/dotnet

[2017-08-07 07:16] gep13 commented on #1733
@tzitzimime This URL  https://dotnetcli.azureedge.net/dotnet/Sdk/1.0.4/dotnet-sdk-1.0.4-linux-x64.tar.gz result in what is essentially an HTTP 404, meaning that there is nothing there to download.

Where did you get this URL from?

[2017-08-07 07:19] devlead commented on #1733
We're using the standard script `https://dot.net/v1/dotnet-install.sh` which distribution Linux are you using?
Might be worth raising an issue at https://github.com/dotnet/cli/issues if your Linux dist is supported by them and it doesn't resolve to the right url.

[2017-08-07 12:49] mholo65 commented on #1691
@gep13 could we close this as #1645 is merged?

[2017-08-07 12:50] mholo65 commented on #1709
Targeting pack is removed in PR #1725

[2017-08-07 12:57] gep13 commented on #1691
@mholo65 yes, I would say that that is correct, yes.

[2017-08-07 12:57] #1691 closed

[2017-08-07 12:57] gep13 commented on #1691
Relates to #1645

[2017-08-07 14:27] Cheesebaron opened #1734 "Add GitLink 3 compatible aliases"
GitLink 3.0.0 was recently released: https://github.com/GitTools/GitLink/releases/tag/3.0.0

The current GitLinkRunner uses the 2.x API, which is way different from what we have currently.

I'm going to look at making a PR right now to update it.

[2017-08-07 20:43] mholo65 commented on #753
Solved by #1706

[2017-08-07 20:43] #753 closed

[2017-08-08 00:51] tzitzimime commented on #1733
@gep13 the url is in line 49 from build.sh
`curl -Lsfo "$SCRIPT_DIR/.dotnet/dotnet-install.sh" https://dot.net/v1/dotnet-install.sh`

@devlead I'm using Debian 9 / Linux version 4.5.0-2-amd64
yes the error is from dot.net installation script, using it give me

`./dotnet-install.sh
./dotnet-install.sh: linio 142: VERSION_ID: Unbound variable
./dotnet-install.sh: linio 150: VERSION_ID: Unbound varia

[2017-08-08 06:07] devlead commented on #1733
Could be that Debian 9 isn't supported by the official install script yet or one of pre-reqs are missing

Looking at https://www.microsoft.com/net/core#linuxdebian it looks like these are pre-reqs fot .NET Core
[code]

The script is provided by Microsoft, so if you have the pre-reqs installed and still facing issues then I suggest you raise an issue at https://github.com/dotnet/cli/issues

To buil

[2017-08-08 06:57] #1732 closed

[2017-08-08 12:01] gep13 commented on #1718
This has been completed.  Saved over a minute in build time, so this will add up in the end 😄

[2017-08-08 12:01] #1718 closed

[2017-08-08 21:11] mholo65 opened #1738 "NuGetInstaller can't resolve files if package contains dependencies"
PR incoming.

Issue here https://github.com/cake-build/cake/blob/develop/src/Cake.NuGet/NuGetPackageInstaller.cs#L179

[2017-08-08 21:15] mholo65 opened #1739 "NuGetContentResolver can't find assemblies if located in root"
This is indeed an error with the package. But old V2 Content resolver could resolve packages without and TFM.

Issue here:
https://github.com/cake-build/cake/blob/develop/src/Cake.NuGet/NuGetContentResolver.cs#L106

Change that to a warning and just return assembly from root.

[2017-08-09 07:49] #1738 closed

[2017-08-09 20:59] Roemer commented on #1254
It's the other way around. The predicates you give are the files that are going to be deleted. What is a bit irritating thou is the comment "Predicate used to determine which files/directories should get deleted." as the predicate only checks the files and not the directories. The directories are only kept if a file inside is not deleted.
So we should either adjust the comment and change `Func<IFi

[2017-08-10 09:15] #1739 closed

[2017-08-10 23:59] louisfischer commented on #1698
@mholo65 That would be a good alternative. That was the first thing I tried but it did not work.

[2017-08-11 11:55] SIkebe opened #1742 "Some unit tests are locale-sensitive"
### What You Are Seeing?
When you clone cake-build/cake and execute `build.ps1`, some errors occur during task "Run-Unit-Tests" because of locale-sensitive unit tests.

### What is Expected?
successful build

### What version of Cake are you using?
0.21.0

### Are you running on a 32 or 64 bit system?
64 bit

### What environment are you running on?  Windows? Linux? Mac?
Windows

### Output Log
[c

[2017-08-11 13:16] mholo65 opened #1743 "Implement functionality in Cake.NuGet for downloading packages"
Implement functionality in Cake.NuGet for downloading packages instead of shelling out to `nuget.exe`

Benefits:
* Package installation works in `Cake.CoreCLR`. Today we do not allow since we can't be sure mono is actually installed on Linux.
* Allows us to work around nasty MAX_PATH issues with `nuget.exe` when path becomes too long
* More control over actual name of folder where package is extra

[2017-08-11 15:01] sarithsutha commented on #1561
@patriksvensson @bookman220 I don't want to step on anyone's toes, I'm interested in trying this out if it is still up for grabs. This would be my first time contributing to open source.

[2017-08-11 20:35] bookman220 commented on #1561
@sarithsutha @patriksvensson I do apologize for taking so long. I do think I may need some guidance however. Do I just open up the solution file in visual studio and compile it from there? If I haven't fixed the big within the next week you may take it sarithsutha

[2017-08-11 20:54] sarithsutha commented on #1561
@bookman220 thanks for your response. No rush, take your time, I don't mind waiting. I use Visual Studio 2017, I was able to just open the solution and compile it from there. And with VS code I was able to build using the Cake addin.

[2017-08-12 19:50] mholo65 opened #1745 "Change parameter for InstallTools and InstallAddins in IScriptProcessor"
No need to pass `ScriptAnalyzeResult` just pass a collection of `PackageReference` instead.

Will make life easier in Cake.Bakery.

[2017-08-12 19:51] mholo65 opened #1746 "ScriptAnalyzer.Analyze() should not throw, instead return list of errors"
Will make life easier with Cake.Bakery

[2017-08-12 21:58] #1745 closed

[2017-08-13 10:58] atsushieno commented on #1733
dotnet/cli does not actually support Linux. It only supports Ubuntu 14.04 and Ubuntu 16.04. Microsoft developers don't actually verify any builds, despite that they claim they do. I have already reported the problem there. And no further investigations were made.

- https://github.com/dotnet/cli/issues/7070
- https://github.com/dotnet/cli/pull/7387

Cake has some other issues that does not really

[2017-08-13 10:59] atsushieno commented on #1733
(context: I found this issue when I was trying to build https://github.com/mono/embeddinator-4000/ )

[2017-08-14 19:34] #1746 closed

[2017-08-14 20:16] mholo65 opened #1750 "Warning: Do not know VsVersionToYearToString for VS version 15.3"
![image](https://user-images.githubusercontent.com/7863439/29289789-785b902c-8146-11e7-9eb9-66455674aa84.png)

The above warning happened after updating Visual Studio 2017 to 15.3

[2017-08-15 08:31] trondhindenes opened #1751 "Cake on .Net core"
According to the documentation, Cake can run on .Net core. However, when running the build.sh package for linux, it requires mono.
How can I run a cake script without relying on mono on Linux?

[2017-08-15 08:34] patriksvensson commented on #1751
@trondhindenes You will need to install the `Cake.CoreClr` package instead of the `Cake`. We currently do not have any bootstrappers for Cake.CoreClr that doesn't use NuGet to fetch packages so you will need to download the packages by some other means.

I think @devlead have written scripts for this.

[2017-08-15 09:15] devlead commented on #1751
Here's an example bootstrapper for running only on .NET Core
https://github.com/devlead/BitbucketPipelinesShield/blob/master/build.sh

[2017-08-15 20:09] adamhathcock commented on #1032
For 0.22?  I'll rebase again in that case :)

[2017-08-15 21:28] trondhindenes commented on #1751
Thanks!
I'm getting this: The specified framework 'Microsoft.NETCore.App', version '1.0.4' was not found, I guess it's caused by outdated references in the Cake.CoreCLR. Nuget.org doesnt list any dependencies for the package, so it's hard to see if the newest versions are updated either. It would be great if you could publish more metadata to nuget.

[2017-08-15 21:38] devlead commented on #1751
Which version of the .NET CLI do you have installed? Package has no dependencies as everything but the .NET CLI is in the package.

[2017-08-15 21:47] trondhindenes commented on #1751
The script which the bootstrap installer downloads is not compatible with my OS (Ubuntu 17)  it seems, so I commented it out - hoping that I could use one of the installed .net core versions already on my computer instead - which didn't work. But no worries, I can install some older CoreFX runtimes/SDKs tomorrow and try again then. Will report back. I guess the script could be a made to check if a

[2017-08-15 21:59] devlead commented on #1751
The example supplied script downloads 0.19.3,  latest version of Cake is 0.21.1 so you could try getting latest version if you haven't already.
Which version of the .NET CLI & SDK do you have installed? Cake currently compiled with .NET CLI 1.1.0 and SDK 1.0.4.

[2017-08-15 22:01] trondhindenes commented on #1751
[code]
and
[code]

[2017-08-15 22:03] trondhindenes commented on #1751
I guess I'm mising the 1.1.0 .Net cli. Version numbers in .Net confuse me.

[2017-08-16 09:14] Roemer opened #1752 "Extend DownloadFile to allow AcceptEncoding gzip"
DownloadFile should be extended (probably the ```DownloadFileSettings``` class) to allow setting the ```AcceptEncoding: gzip``` header. This allows to optimize the traffic in some cases (like when getting xmls or other texts).

Should not be a big deal.
It's probably enough to add ```AutomaticDecompression = DecompressionMethods.GZip | DecompressionMethods.Deflate``` to the ```HttpClientHandler```

[2017-08-16 10:16] gep13 commented on #1752
@Roemer sounds like a good idea to me. Would you be in a position to do a PR for this?

[2017-08-16 11:41] Roemer commented on #1752
Yes I would.

[2017-08-16 16:48] olevett opened #1754 "VSWhere not returning "prerelease" versions"
### What You Are Seeing?
VSWhere not picking up pre-release VS2017 installs

### What is Expected?

VSWhere has flag for prerelease versions

### What version of Cake are you using?

### Are you running on a 32 or 64 bit system?

### What environment are you running on?  Windows? Linux? Mac?

### Are you running on a CI Server?  If so, which one?

AppVeyor - https://ci.appveyor.com/project/dotnetf

[2017-08-16 17:17] devlead commented on #1754
This sounds like a great addition to Cake, PR would be welcome.

[2017-08-16 20:27] mholo65 opened #1757 "Cake.NuGet should remove intermediate directory if installation fails"
Avoid situations like this when using with OmniSharp

![image](https://user-images.githubusercontent.com/7863439/29383810-716cda56-82da-11e7-9341-0875df401cc7.png)

[2017-08-17 20:41] #1752 closed

[2017-08-18 15:40] Roemer commented on #1731
The Gitlab "wrapper" suffers the same issue the Jenkins one does: It has several "xxxInfo" classes. Now with the renaming, new classes should be introduced and properties should be moved between them. Would it be acceptable to reduce the classes to one or two and in the same time, add the new 9.0 names as alternative?

[2017-08-19 11:54] Roemer opened #1759 "XmlPoke always writes the xmldeclaration even if the original file didn't have one"
As the title says, when using XmlPoke, it always writes the declaration.

There are two possibilities:
1. Add an OmitXmlDeclaration flag to XmlPokeSettings to define if the declaration should be written or not.
2. Check in XmlPoke if the original one has a declaration and either write it or not.

Which one should we prefer?

[2017-08-19 12:03] gep13 commented on #1759
@Roemer of the two options, I think I prefer the second one.

@cake-build/cake-team ?

[2017-08-19 19:33] bookman220 commented on #1561
@sarithsutha It appears I am having some trouble building the project. Apologies for needing such basic advice but I am new to Visual Studio and C#.  It appears a fair amount of the solution failed to load and when I go to Build it just has the option to run a code analysis on the solution, which I did and you can see the output. Can you give me some pointers as to where to go from here?
![image](

[2017-08-19 20:06] Roemer commented on #1742
Just ran into this as well.

[2017-08-19 20:20] Roemer commented on #1759
I crated a PR with solution 2.

[2017-08-20 06:42] patriksvensson commented on #1561
@bookman220 There seems to be problems loading the different projects according to the screenshot.

**The following prerequisites need to be installed:**

* Visual Studio 2017 (https://www.visualstudio.com/vs/)
* .NET Core SDK 1.0.4 or later (https://www.microsoft.com/net/download/core)

The `build.cake` file is only used to build the project from command line. When the project is loading correctl

[2017-08-20 07:34] #1742 closed

[2017-08-20 14:00] david-driscoll opened #1761 "DoesForEach() extension method"
I ran into a scenario where I wanted to run a set of actions over a collection, even in the event that one of more fails.  The main one is running unit tests, but there are other scenarios like handling many files with a common action, that I've found it handy.

For my code it's replaced anywhere I would use a `foreach` at the top of my `Does()` statement, hence calling the extension method `DoesF

[2017-08-20 14:07] devlead commented on #1761
Sounds like a reasonable addition to cake, would you be willing to send in a PR for review?

[2017-08-21 05:09] benwinding commented on #1317
One of the main reasons we're using a build script is to pull down git repositories.

This feature would be useful, I'm currently using the System.IO features to remove the git cloned folder.

[2017-08-21 06:05] mholo65 commented on #1317
Related to #1564

Now that #1574 is merged,  `IFile` will support changing file attributes in v0.22. This means we could have a overload which has a force option (just like we did with `DeleteDirectory` in #1574)

[2017-08-21 14:29] robgha01 commented on #1729
It may be so that it for some odd reason cant handle "../" as i have my build script in a build folder ? this should not be a problem as my other project builds fine...

[2017-08-21 15:05] devlead commented on #1729
Does it work if you first use MakeAbsolute on the paths?

[2017-08-21 15:22] robgha01 commented on #1729
im already using MakeAbsolute path so no.

[2017-08-21 18:45] mholo65 commented on #1729
@robgha01 tried with a small repro but could not reproduce.

However, in your repro project. Do you mind cleaning out the `.tools` folder, it's currently a whole lot to clone with git. When you've done that, I can take another look using your repro project. Thanks!

[2017-08-22 03:11] matkoch opened #1763 "[Duplicate] VSTest toolpath for VS2017"
https://github.com/cake-build/cake/blob/1891a1923564b00beb17df56449312a40b5ebe31/src/Cake.Common/Tools/VSTest/VSTestRunner.cs#L151-L168

[2017-08-22 06:16] devlead commented on #1763
I guess this relates to #1522 which is up for grabs.

[2017-08-22 07:34] zanseb commented on #1721
`netstandard2.0` has been released. Are you going to change the targets soon?

[2017-08-22 07:38] patriksvensson commented on #1721
@zanseb Probably not for a while until things have settled down a little. We need to investigate what this will mean for the code base as well.

[2017-08-22 20:44] matkoch commented on #1730
Still no public announcement on that?

[2017-08-23 13:19] kendaleiv opened #1764 "DotNetCoreBuildSettings MSBuildSettings AddFileLogger() does not produce msbuild.log"
With `dotnet --version` == `2.0.0`

[code]

does not produce the expected `msbuild.log` file.

Running `dotnet build /fl` successfully creates the file, though.

[2017-08-23 13:39] devlead commented on #1764
@kendaleiv what command line do you get if you run Cake with diagnostic logging?

Does it work if you specify the file name using the [AddFileLogger(this DotNetCoreMSBuildSettings settings, MSBuildFileLoggerSettings fileLoggerParameters)](http://cakebuild.net/api/Cake.Common.Tools.DotNetCore.MSBuild/DotNetCoreMSBuildSettingsExtensions/5E6509E4) extension method and specify a LogFile?

[2017-08-23 16:47] kendaleiv commented on #1764
[code]

---

With `.AddFileLogger(new MSBuildFileLoggerSettings { LogFile = "msbuild.log" })` specified it creates the file.

[code]

[2017-08-24 22:03] dweggemans commented on #1751
All I get so far after hours of struggling is "Failed to initialize CoreCLR, HRESULT: 0x80131500"

I'm on a Docker image with Debian Stretch (microsoft/aspnetcore-build:1.0-2.0`)
dotnet --version is working (version 2.0.0)
mono --version also (Mono JIT compiler version 4.6.2 (Debian 4.6.2.7+dfsg-1)

I'm using a modified build.sh script from @devlead (removed core cli install since it's in the dock

[2017-08-26 14:02] matkoch commented on #1730
@gep13 @devlead  ?

[2017-08-26 14:11] devlead commented on #1730
@matkoch post is merged and will be out later today

[2017-08-26 14:12] matkoch commented on #1730
@devlead are you going to do anything else? Not everyone follows up on blog posts and twitter...

[2017-08-26 14:13] gep13 commented on #1730
@matkoch what else would you suggest?

[2017-08-26 14:13] devlead commented on #1730
I'm going to have a beer and that's about it.

[2017-08-26 14:51] matkoch commented on #1730
@devlead enjoy your beer 👍
@gep13 following up here: https://github.com/cake-build/website/pull/398#issuecomment-325134731

[2017-08-26 23:03] #1763 closed

[2017-08-27 00:20] jnm2 opened #1766 "Support for #define"
The Cake script

[code]

Causes:

(Version 0.21.1+Branch.main.Sha.9ff85bb53ea1890fabeb709d38ba79d3bf5cb16f)

Is there a technical reason this can't work or am I the first to try?

[2017-08-27 07:41] mholo65 commented on #1766
@jnm2 there are technical reasons why it does't currently work. This is due to code generation done for aliases behind the scenes. Have a look at this [gist](https://gist.github.com/mholo65/87dc997b87b724c261f650abae33ce3d) showing the difference between plain .cake snd what's passed to Roslyn.

That said, there's no technical reason why we couldn't get it to work. But first, what is your use case

[2017-08-29 00:36] david-driscoll commented on #1761
Closing merged in #1767

[2017-08-29 00:36] #1761 closed

[2017-08-29 05:08] #1754 closed

[2017-08-29 05:09] devlead commented on #1754
Fixed by #1755

[2017-08-29 05:34] #1759 closed

[2017-08-29 11:57] sandermvanvliet opened #1769 "Local function using global variable does not compile"
### What You Are Seeing?
When the build.cake script contains a local method that uses a variable global to the script it does not compile.
Given the following build.cake script:

[code]
When running `./build.sh --verbosity=diagnostic` it reports the following error:

[code]

### What is Expected?
The script compiles and the local function is able to use the variable `foo`.

### What version of Cak

[2017-08-29 12:09] jnm2 commented on #1766
Cool! My use case is that I prefer `#define SOME_SYMBOL` to use with `#if SYMBOL` rather than `const bool someSymbol = true;` with `if (someSymbol)`. Purely style.

Shouldn't be too hard to hoist #defines to the top then?

[2017-08-29 12:30] devlead commented on #1769
@sandermvanvliet it's fixed in the next version because it's using Roslyn, current and previous versions are using mono scripting on Mono (on .NET Core it's using Roslyn on all platforms already).

What will work xplat today is to use a delegate instead something like
[code]
or using a static method
[code]
above accessed as `FooBar.Dwim(Context, foo);`

[2017-08-29 13:43] sandermvanvliet commented on #1769
I did see some reference that Mono scripting was already taken out of the current release build but I understand that is not the case?
Is there any documentation/guidance on how to make sure Cake runs using .Net Core?

[2017-08-29 15:04] devlead commented on #1769
It's taken out of the next upcoming release.

We're working on better guidance around .NET Core, meanwhile here's an example of a project using it
https://github.com/devlead/BitbucketPipelinesShield

[2017-08-29 19:02] jnm2 opened #1770 "Provide a way for modules to add default assemblies and namespaces for the script"
I'd like to be able to have the module add itself to IScriptConventions.GetDefaultAssemblies. You can't do that without registering as the _only_ IScriptConventions instance, and you can't register as the only IScriptConventions instance without losing access to the previous instance of IScriptConventions that you need to delegate to.

That's a general frustration with the registration model, no w

[2017-08-29 20:49] devlead opened #1771 "Look for msbuild in default install path on Linux"

[2017-08-29 20:50] mholo65 commented on #1770
Hmm, if we only could pass the container to the modules when registering. Then you could first resolve the current registered `IScriptConventions` and just wrap it inside your `IScriptConventions` implementation.

@patriksvensson what do you think about that idea? But in order to do that, we should create our own container abstraction, or else modules needs to take on `Autofac` dependency.

[2017-08-29 20:55] jnm2 commented on #1770
Taking on an AutoFac dependency means locking it to 3.5.2, Cake's referenced version, which means making it incredibly difficult for my module to target netstandard1.6.

Container abstraction just needs Resolve and Release, right?

[2017-08-29 22:10] patriksvensson commented on #1770
@mholo65 Why not allow registering a `IScriptConvention` (singular) with the module that `ScriptConventions` can use.

We could change `ScriptConventions` constructor to something like:

[code]

[2017-08-29 22:17] jnm2 commented on #1770
That's a nicer solution for this particular issue. But, next I will ask to be able to decorate the previous ICakeEngine instance, so @mholo65's solution kills more birds with one stone. Having both would be great too!

[2017-08-30 00:15] jnm2 opened #1772 "Provide access to the run target and ordered list of tasks"
## Motivation

I had a [use case today](https://gitter.im/cake-build/cake?at=59a56907ee5c9a4c5f0fcc9f) that required the capability to determine in Setup whether a certain target would be executed.

This is less useful for a simple script where you can see everything right in front of you. For utility code as part of a larger script or for a module, this is crucial for the reasons listed below.

T

[2017-08-30 11:28] jnm2 commented on #1770
@patriksvensson Ah, I didn't try taking the previous IScriptConventions as a constructor dependency in my IModule implementation! You're right, that should work.

[2017-08-30 14:14] mholo65 commented on #1770
@jnm2 could you verify that suggested spproach work for you, and if it does please close this issue. Thanks!

[2017-08-30 15:56] hoffe86 opened #1773 "NuGetHasSource call do not take care of ArgumentCustomization in NuGetSourcesSettings"
### What You Are Seeing?
When I am using NuGetHasSource with NuGetSourcesSettings including ArgumentCustomization like in the example below the ArgumentCustomization will not applied to the call of the nuget.exe.

[code]

**Console Output:**

Executing: "C:/Daimler/FB/fb-timemgmt-service/Build/tools/NuGet.exe" sources List
Registered Sources:

  1.  nuget.org [Enabled]
      https://api.nuget.org/

[2017-08-30 16:51] jnm2 commented on #1770
@mholo65 Yes. I'll hopefully get to that tomorrow.

[2017-08-30 20:00] wozzo commented on #1486
I've since tried adding the experimental flag and it works as expected

[2017-08-30 20:57] devlead commented on #1771
Fixed by #1749

[2017-08-30 20:57] #1771 closed

[2017-08-31 05:59] devlead commented on #1734
Fixed by #1735

[2017-08-31 05:59] #1734 closed

[2017-08-31 07:08] devlead commented on #1773
Correct looks like it works directly with the process arguments with HasSource, I'll take a look at correcting that.

[2017-08-31 10:25] devlead commented on #1773
@hoffe86 I've now raised PR #1774 to address this.

I've also added a ConfigFile property to NuGetSourcesSettings,
[code]

so in your case you shouldn't need ArgumentCustomization per say, but that should work too now.

If you want to test if it's addressed you can test with the artifacts avail at
https://ci.appveyor.com/project/cakebuild/cake/build/0.22.0-PullRequest.1774+86.build.3834/artifacts

[2017-08-31 12:02] gep13 opened #1775 "Strange usage of Cake.Core.dll when executing cake sub process"
When testing the Cake.Recipe Integration Tests (which spin up sub Cake processes to test building actual projects) I ran into this issue:

![image](https://user-images.githubusercontent.com/1271146/29922221-8f91e328-8e4c-11e7-9a36-633cb7c6ab70.png)

Where rather than executing Cake.exe, it was executing Cake.Core.dll.

[2017-08-31 12:02] gep13 commented on #1775
@devlead ^^

[2017-08-31 13:02] jnm2 commented on #1770
Confirmed working:
[code]

Where I define the extension method `ScriptConventionsUtils.CreateWithAppended`:
<details>

[code]

</details>

To Patrik's point, do you guys want to investigate making an easier API so that you don't have to define this extension method and replace `IScriptConventions` implementations?

[2017-08-31 13:38] patriksvensson commented on #1770
@jnm2 Perhaps another alternative would be to add a new attribute that could be used to tell cake about stuff a module needs?

[code]

[2017-08-31 13:46] jnm2 commented on #1770
@patriksvensson I like the syntax. Let's say someone doesn't want to be limited to compile-time constants- would they just do the `IScriptConventions` replacement? I can't think of any scenarios off the top of my head. Or could we have a `CakeModuleBase` implementing `ICakeModule` where you could override ImportedNamespaces and ImportedAssemblies properties?

[2017-08-31 14:02] mholo65 commented on #1770
I think I mentioned on some issue we should also honor `FrameworkAssemblies` specified in `nuspec` for a addin.

[2017-08-31 16:08] patriksvensson commented on #1770
@mholo65 Yes

@jnm2 We already use attributes to tell Cake what namespaces to be imported for a Cake alias, so doing the same with modules would keep things consistent.

[2017-08-31 16:12] jnm2 commented on #1770
@patriksvensson Cool, I like it. Want a PR?

[2017-08-31 16:12] patriksvensson commented on #1770
@jnm2 Sure! Awesome! 👍

[2017-08-31 18:46] ErikSchierboom commented on #1751
I'm looking into this, to see what it takes to run Cake on .NET Core 2.0

[2017-08-31 18:46] #1602 closed

[2017-08-31 19:26] #1773 closed

[2017-09-04 10:48] ErikSchierboom opened #1779 "Can't run netcoreapp1.x tests when .NET Core 2 is installed"
### What You Are Seeing?

Can't run netcoreapp1.x tests when .NET Core 2 is installed. See also: https://github.com/xunit/xunit/issues/1412

### What is Expected?

netcoreapp1.x tests run when .NET Core 2 is installed

### What version of Cake are you using?

0.21.1

### Are you running on a 32 or 64 bit system?

64-bit system

### What environment are you running on?  Windows? Linux? Mac?

Window

[2017-09-04 15:02] secana opened #1781 "Cake.dll does not run on .Net Core 2.0"
### What You Are Seeing?
We are getting the error:

[code]

when we run `dotnet Cake.dll` under Ubuntu 16.04 with only .Net Core 2.0 installed.

### What is Expected?
That `dotnet Cake.dll` runs with only .Net Core 2.0 installed

### What version of Cake are you using?
0.21.1

### Are you running on a 32 or 64 bit system?
x64

### What environment are you running on?  Windows? Linux? Mac?
Linux (U

[2017-09-04 16:11] evil-shrike commented on #1248
I as many encountered the same issue - tried to pass a custom argument with dots, e.g. `powershell ./build.ps1 -productVersion="1.2.3"`, it was failing with "More than one build script specified".
Thanks to @kcamp 's tip - changing to `--productVersion`  solved the issue.
I believe it should be in the documentation.

[2017-09-05 06:56] nexussays opened #1782 "Error finding csc.exe when building iOS Library project"
### What You Are Seeing?

I have a sln with multiple library projects (PCL, Android, iOS, UWP, .Net4.6), all but the iOS project build fine by just calling `DotNetBuild(solutionFile)`; but the iOS project gives this error
[code]

### What is Expected?

Build completes successfully

### What version of Cake are you using?

0.21.1

### Are you running on a 32 or 64 bit system?

64

### What environm

[2017-09-05 07:05] nexussays commented on #1782
I tracked it down to this code https://github.com/cake-build/cake/blob/3514e4066245981715d4e66f36c64397f4618ec6/src/Cake.Common/Tools/MSBuild/MSBuildResolver.cs#L104 and my workaround was to stop using `DotNetBuild` and go back to manually calling `MsBuild` and `XBuild` depending on platform in order to set `SetMSBuildPlatform(MSBuildPlatform.x86)` on MSBuild.

It seems like Cake should either exp

[2017-09-06 00:00] jnm2 commented on #1770
@patriksvensson I'd like to stay symmetrical with addins and use [`CakeNamespaceImportAttribute`](https://github.com/cake-build/cake/blob/develop/src/Cake.Core/Annotations/CakeNamespaceImportAttribute.cs) and add a `CakeAssemblyReferenceAttribute` to match. Sound good?

[2017-09-06 03:03] jnm2 commented on #1770
Here's my progress so far: https://github.com/cake-build/cake/compare/develop...jnm2:module_add_imports

[2017-09-06 12:37] jnm2 commented on #1770
Module searching and loading is currently not under test, it seems. I'll have to make some things public.

[2017-09-06 15:19] jnm2 commented on #1770
Things are never simple. Currently stuck at https://github.com/cake-build/cake/pull/1783 if you would be so kind as to review. =)

[2017-09-06 20:24] mholo65 opened #1785 "Bump LatestBreakingChange to 0.22.0"

[2017-09-07 06:58] Insire commented on #1696
Just encountered that problem aswell. The solution seems to be to omit the MSBuildVersion in the NugetRestoreSettings.

[2017-09-07 07:58] devlead opened #1787 "Add opt-out config information to assembly version verification error message"
Currently we get an error like
[code]
A third option is opt out on own risk using Skip Verification settings
[code]
we should add this to the message,

[2017-09-07 07:59] devlead commented on #1787
Relates to cake-build/website#401

[2017-09-07 08:01] devlead commented on #1787
Also relates to #1786

[2017-09-07 08:02] #1785 closed

[2017-09-07 09:40] #1775 closed

[2017-09-07 12:33] elevate-andrewlock commented on #1751
An easier solution to this might be to create a "self-contained" deployment for `Cake.CoreClr` (https://docs.microsoft.com/en-us/dotnet/core/deploying/#self-contained-deployments-scd)

I've spent all morning trying to get `Cake.CoreClr` running in an environment where only the 2.0 SDK is installed (installing 1.0.4 locally for example) but just gave up. A self contained install might solve this.

[2017-09-07 13:47] devlead commented on #1751
@elevate-andrewlock To do an OS specific publish and you get a cake binary that's framework independent you'll do something like
[code]
which will give you an `src/Cake/bin/Debug/netcoreapp1.0/ubuntu.16.04-x64/publish` folder and there you'll find an native Cake binary with no need for "dotnet" core and should work and can be tested with
`./Cake --version`

One of the issues with this is that the

[2017-09-07 13:53] RehanSaeed commented on #1751
@devlead I believe it's also possible to publish all RID's into a single folder, so you end up with a sub-folder for each RID, containing platform specific files. You can also publish the earliest RID for a platform e.g. `win7-x64` and omit later versions e.g. `win10-x64` as the earlier version has all the files needed for all versions (Tested this with Windows but not Mac or Linux). In theory you

[2017-09-07 14:06] ErikSchierboom commented on #1751
I don't think we necessarily have to do that. The main problem now is that there is no .NET Core App 2.0 compatible version of Cake released. This should be a separate package besides the existing CoreClr one I think, or else we have to create some hierarchy in the Cake.CoreClr package.

While working on this, I had to update xUnit to the latest version (or else xUnit won't run on a machine with o

[2017-09-07 14:19] devlead commented on #1751
it's a shame one can't dotnet publish from a nuget package because Cake.dll could essentially be an .NET Standard 1.6 assembly and a netcore2.0 app "should" be able to reference that.

[2017-09-07 14:42] ErikSchierboom commented on #1751
Yeah, it is all a bit dicey at the moment.

[2017-09-08 12:07] devlead commented on #1625
@Julien-Mialon your suggestion sounds valid, so a PR sounds reasonable, there's a few more special values which probably also could be covered by the PR
* https://docs.microsoft.com/en-us/visualstudio/msbuild/msbuild-special-characters
* https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-escape-special-characters-in-msbuild

also looks like uppercase hex is preferred.

[2017-09-08 17:12] #1787 closed

[2017-09-09 13:55] djdelaney opened #1791 "Add option to enable MSBuild binary logging"
Microsoft has added a binary logger to MS Build 15.3 that logs all build details to a structured binary log for easy debugging:

http://msbuildlog.com/

It would be useful to enable/control this log from MSBuildSettings in Cake.

[2017-09-09 14:04] patriksvensson commented on #1791
@djdelaney Sounds like a really useful idea! Do you want to send a PR for this? 😄

[2017-09-09 14:57] Julien-Mialon commented on #1625
@devlead I'm not sure all of specials characters should be escaped because they could be valid values for msbuild properties. The only two characters that really cause issues are comma (,) and semicolon (;)

I'm gonna start working on a PR for this two but we can talk about adding others if really needed.

[2017-09-09 15:08] devlead commented on #1625
Sounds reasonable 👍

[2017-09-10 11:30] #1651 closed

[2017-09-10 12:23] devlead commented on #1625
Fixed by #1793

[2017-09-10 12:23] #1625 closed

[2017-09-10 12:47] devlead commented on #1719
Fixed by #1724

[2017-09-10 12:47] #1719 closed

[2017-09-10 13:09] mholo65 commented on #1791
Fixed in #1792

[2017-09-10 13:09] #1791 closed

[2017-09-10 13:59] #1670 closed

[2017-09-12 10:54] scemino opened #1794 "Private is missing from ProjectReference"
When I parse a project, some properties are missing in the references of the project.

### What You Are Seeing?
In the ProjectReference object, I have theses properties:
* FilePath FilePath
* string Name
* FilePath Package
* string Project

### What is Expected?
I should have also the property Private (also present in ProjectAssemblyReference)

### What version of Cake are you using?
 Version 0.19

[2017-09-12 11:00] scemino opened #1795 "Is there a way to save a modified parsed project ?"
### What You Are Seeing?
ProjectAssemblyReference has a property "Private" which is writable.

### What is Expected?
If I modify this property, I expect to be able to save this modification.

### What version of Cake are you using?
Version 0.19.3+Branch.main.Sha.c8a44d4c031e5c9631ec3044536c6af70f3fb04f

### Are you running on a 32 or 64 bit system?
64 bit

### What environment are you running on?

[2017-09-12 14:33] mholo65 opened #1796 "Obsolete DotNetBuild and ultimately remove it"
As `DotNetBuild` aliases are often mistaken for `dotnet.exe` (which it isn't) we should remove them.

[2017-09-12 14:38] #1743 closed

[2017-09-12 19:32] mholo65 commented on #1183
#1768 allows opportunity to use a in-process NuGet client instead of shelling out to `nuget.exe`.

[2017-09-13 12:25] minimaltesty opened #1797 "NuGet Downloads (#addin) have a second sub folder"
### What You Are Seeing?
Prior to v0.22 the #addin download was in ./tools/Addins/[MYPACKAGENAME].
Now, since v0.22 the path is: ./tools/Addins/[MYPACKAGENAME]/[MYPACKAGENAME]

Also the #tool download is behaving the same, now.
Prior v0.22: ./tools/7-Zip.CommandLine
Now: ./tools/7-zip.commandline/7-Zip.CommandLine

### What is Expected?
Expected is behavior prio to v0.22

### What version of Cake

[2017-09-13 12:36] WebDucer opened #1798 "Error on build on master branch with version 0.22.0"
### What You Are Seeing?
With the new version 0.22.0 the builds on master branch (with GitVersion) fails:

GitVersion uses the following definition:
[code]

The folder order was changed from:
- tools
    - ToolName
        - Unpacked nuget content

To:
- tools
    - toolname (lowercase)
        - ToolName
            - Unpacked nuget content

### What is Expected?

The ""-values treated as "0" for

[2017-09-13 13:35] pitermarx commented on #1798
I'm seeing the exact same issue on [Cake.DoInDirectory](https://github.com/pitermarx/Cake.DoInDirectory) latest build

[2017-09-13 13:45] patriksvensson commented on #1797
This behavior have changed since version 0.22.0 and is by design. The reason for this is to be able to predict the installation path on case sensitive operating systems when a path is involved.

[2017-09-13 13:45] pitermarx commented on #1798
it could be an issue on GitVersion itself
maybe [here](https://github.com/GitTools/GitVersion/blob/c5ae891d56a8d6d52ac4f756a6727a41071332b1/src/GitVersionCore/OutputFormatters/JsonOutputFormatter.cs)

[2017-09-13 14:04] pitermarx commented on #1798
Submited a [PR on GitVersion ](https://github.com/GitTools/GitVersion/pull/1293)

[2017-09-13 14:36] christamlyn-bridge opened #1799 "Addin doesn't support latest cake 0.22.0"
### What You Are Seeing?
Error on build due to reference to 0.17.0 of cake
[code]
Are there plans to upgrade the references beyon 0.17.0?
### What is Expected?

### What version of Cake are you using?
0.22.0
### Are you running on a 32 or 64 bit system?
64
### What environment are you running on?  Windows? Linux? Mac?
Windows
### Are you running on a CI Server?  If so, which one?
n/a

[2017-09-13 14:39] gep13 commented on #1799
@christamlyn-bridge you can find more information about this in our blog post https://www.cakebuild.net/blog/2017/09/cake-v0.22.0-released along with a workaround. This issue would best be raised on the Cake.Docker repository.

[2017-09-13 16:28] curiousdev opened #1800 "Cake DSL '0.22.0' accidentally removed NUnit3Settings.ResultFormat property. How else do we specify v2 style test report xmls for nunit?"
### Sample DSL - That No Longer Compiles
[code]

### What You Are Seeing?
Cake DSL no longer support NUnit3Settings.ResultFormat property. This property provided access to the NUnit3-Console.exe's results paramter. [doc](https://github.com/nunit/docs/wiki/Console-Command-Line)

Is there another Cake DSL property to specify NUnit report format.

We need this to force NUnit3-Console.exe to produce a

[2017-09-13 16:35] gep13 commented on #1800
As documented on the release notes, and release blog post (https://cakebuild.net/blog/2017/09/cake-v0.22.0-released) there were a number of breaking changes in 0.22.0 of Cake. We also mentioned this several times in the Gitter Chat room, but it is possible you missed this.  If you feel there is another way to communicate these changes we are open to suggestions.

As mentioned in that blog post, we

[2017-09-13 16:37] curiousdev commented on #1800
Yep, I read through the blog post. Nothing indicated that this particular property needed to be removed. I am happy to introduce a pull-request to resurrect this property. The under-lying NUnit2-Console.exe still provides the -Result switch.

[2017-09-13 16:40] gep13 commented on #1800
@curiousdev the release notes put at this issue: https://github.com/cake-build/cake/issues/1665 which is where the change was introduced.

[2017-09-13 16:41] curiousdev commented on #1800
Yeah, I am looking through that now to see if there another way specify the result format.

[2017-09-13 16:43] gep13 commented on #1800
To get back to a working build, for now, you can pin specifically to use Cake 0.21.1.

[2017-09-13 16:46] mholo65 commented on #1800
Unfortuneatly documentation broke on this one https://cakebuild.net/api/Cake.Common.Tools.NUnit/NUnit3Settings/5FA90E73 but it's a collection of these (https://cakebuild.net/api/Cake.Common.Tools.NUnit/NUnit3Result/) you need to add instead.

[2017-09-13 16:47] curiousdev commented on #1800
Yep, we've pinned to 0.21 and are now unblocked. Looking at [#1665](https://github.com/cake-build/cake/issues/1665) I can update my DSL to comply with the new apis.

[2017-09-13 16:47] curiousdev commented on #1800
Where may I submit a PR to provide an example documentation for others to be unblocked?

[2017-09-13 16:48] mholo65 commented on #1800
@daveaglick any reason why wyam fails to render the above type as a link? `ICollection<NUnit3Result>`

[2017-09-13 17:07] daveaglick commented on #1800
@mholo65 There were recently several related issues dealing with generic types and open vs. closed (https://github.com/Wyamio/Wyam/issues/494). Those have all been resolved for the upcoming release, but this may not fall into that category.

In this case, `ICollection` isn't a type in any of the Cake assemblies we're generating docs for - Wyam doesn't know where to find it to generate a link. If t

[2017-09-13 17:44] mholo65 commented on #1800
@daveaglick makes sense! But in this case `NUnit3Result` is a type that is documented. See [here](https://cakebuild.net/api/Cake.Common.Tools.NUnit/NUnit3Result/).

We could also solve by adding a `cref` in the documentation for the property (which btw is quite bad :smile: I have no idea how that slipped review or `StyleCop.Analyzers`)

[2017-09-13 17:50] mholo65 commented on #1800
@curiousdev documentation goes to https://github.com/cake-build/website

Altough, documentation about pinning Cake versions are already available [here](https://cakebuild.net/docs/tutorials/pinning-cake-version).

I'm closing this issue now, please reopen or resch out to us on gitter if you don't find a way to specify `nunit2` format for result output.

[2017-09-13 17:50] #1800 closed

[2017-09-13 18:02] gep13 commented on #1800
@mholo65 I think the suggestion here was to provide some updated documentation on how to use the NUnit Aliases as a result of these breaking changes. Perhaps via a `<code>` section in the correct xml documentation section. Or has that already been done?

[2017-09-13 18:05] mholo65 commented on #1800
@gep13 ah, yes, that should be done!

@daveaglick regarding documentation, that was a brainfart from my side. It was only the Value sectionbthat confused me.

[2017-09-14 07:26] minimaltesty commented on #1797
Thanks for clarification. This is a breaking change, for me. I've to update all my build scripts. Reason is, that I've to copy dll files within the downloaded nuget packages. Mybe this is another issue/question.
I've a package that has dependencies to other packages (pkgA depends on pkgB, pkgC and pkgD). In cake-Script I download pkgA with #addin. Now, there are 4 folders within the ./tools dir:
-

[2017-09-14 07:45] patriksvensson commented on #1797
@minimaltesty I understand. However, I wouldn't rely on the location of downloaded packages since this is a subject to change either by us (like what just happened) or the nuget client. I would recommend of instead of using the #tool preprocessor directive (which only should be used when installing tools used by an alias) installing packages with the `NuGetInstall` alias and set the output directo

[2017-09-14 07:57] gep13 commented on #1797
@minimaltesty also remember that you can pin to an earlier version of Cake (https://cakebuild.net/docs/tutorials/pinning-cake-version) which would take you back to where you were before the release of 0.22.0.

[2017-09-14 08:01] minimaltesty commented on #1797
Thanks for your fast responses!

@gep13 yes - that was my short solution to that for one project. But also that needed to change repository (adding the packages.config to the ./tools dir)
@patriksvensson ok, I will try that.

[2017-09-14 08:01] #1797 closed

[2017-09-14 08:08] gep13 commented on #1797
@minimaltesty perfect!  Adding of the packages.config file, has been a long standing recommendation when using Cake: https://cakebuild.net/docs/tutorials/getting-started

[2017-09-14 09:03] Tdue21 commented on #1027
No, the best solution would be to be able to modify a single file instead of having to change several hundred projects.

[2017-09-14 11:30] devlead commented on #1027
That's why I think having one shared file for all projects is the best middle ground.

[2017-09-14 13:06] devlead commented on #1798
To be able to sort older versions of GitVersion, I will submit an fix to Cake for this. Do feel the source issue is with in the GitVersion custom json serializer, but this is ultimately a regression in Cake we think is worth a hotfix.

[2017-09-14 19:45] kmc059000 commented on #1799
I received a similar problem and read the comment from @gep13

In addition, Cake recommends pinning the version of cake in your project so that you are required to opt-in to new releases. Pinning the version would have prevented this error.

[2017-09-14 21:11] trailmax commented on #1798
@devlead I run into the same issue while updating Cake.SqlServer to use v0.22.0. Any workaround available I can in the mean time?

[2017-09-14 21:23] mholo65 opened #1801 "Only install for current framework with in-process NuGet"
in-process nuget should only install for current framework.

Currently seeing this:
[code]

[2017-09-14 21:30] mholo65 commented on #1801
https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.PackageManagement/NuGetPackageManager.cs#L992

[2017-09-15 07:47] christamlyn-bridge commented on #1799
yeah thanks, we pinned as well.  Pinned to 21.1 which isn't what the error suggests it needs but seemed to work OK.

[2017-09-15 07:47] #1799 closed

[2017-09-15 08:26] tocklime commented on #1798
@trailmax I added tools/packages.config into source control, and set its contents to:
[code]

[2017-09-15 13:27] DixonDs opened #1803 "GitVersionRunner: error when deserializing Cake.Common.Tools.GitVersion.GitVersion"
Here is the full stacktrace:
[code]

You can reproduce it if you run `build.ps1` from https://github.com/DixonDs/Cake.Azure/tree/10398e18289e9d705ac655fbee3387dfd56e70af

[2017-09-15 13:33] Sebazzz opened #1804 "Unable to execute when namespace-less assembly with CakeMethodAlias is referenced"
### What You Are Seeing?
[code]

### What is Expected?
No crash - or at least a message that extensions without a namespace are not supported.

### What version of Cake are you using?
0.22.0

### Are you running on a 32 or 64 bit system?
64-bit

### What environment are you running on?  Windows? Linux? Mac?
Windows 7

### Are you running on a CI Server?  If so, which one?
N/A

### How Did You Get

[2017-09-15 14:26] gep13 commented on #1803
This is a duplicate of https://github.com/cake-build/cake/issues/1798 which is due to be fixed in 0.22.1.

[2017-09-15 14:26] #1803 closed

[2017-09-15 14:27] gep13 opened #1805 "Change GitVersion settings to use nullable integer"
Relates to https://github.com/cake-build/cake/issues/1798

Hotfix is being created to resolve immediately, but breaking change required in 0.23.0 to correct it properly.

[2017-09-15 14:43] devlead commented on #1798
fixed by #1802

[2017-09-15 14:43] #1798 closed

[2017-09-16 13:23] patriksvensson commented on #1804
@Sebazzz Good catch! Thanks for reporting this.

@cake-build/cake-team I've added this to 0.23.0. Ok with you?

[2017-09-16 14:30] david-driscoll opened #1807 "NuGetVersion and CommitDate are null with 0.22.1"
### What You Are Seeing?
GitVersion returns null for `NuGetVersion` and `CommitDate`

### What is Expected?
GitVersion is returning proper values for `NuGetVersion` and `CommitDate`

### What version of Cake are you using?
0.22.1

### Are you running on a 32 or 64 bit system?
x64

### What environment are you running on?  Windows? Linux? Mac?
Windows

### Are you running on a CI Server?  If so, wh

[2017-09-16 14:42] devlead commented on #1804
Yip  0.23.0 will be great 👍

[2017-09-16 22:52] devlead commented on #1807
Fixed by #1808

[2017-09-16 22:52] #1807 closed

[2017-09-17 07:43] devlead opened #1809 "(build) Use tool resolution for SignClient in buildscript"
or add it as a proper Cake.Common tool.

[2017-09-17 07:45] devlead commented on #1809
Currently fails because new version path
Previously was
[code]
Now will be something like
[code]

[2017-09-17 07:49] devlead commented on #1809
Also update to latest version 0.8.1

[2017-09-17 07:59] gep13 commented on #1809
There is already a Cake.SignClient addin, it just hasn't been finished, as we never came to a decision about how to actually call it. The repo lives under Cake-Contrib org.

[2017-09-17 08:01] devlead commented on #1809
Ok 👍 if it doesn't take account for the 0.8.0 and upwards have framwork monikers in tools folder, that's also something to watch out for.

[2017-09-17 08:03] devlead commented on #1809
Wonder if we should just sign something in normal builds too, even if we don't publish anything it's nice to know signing is still working without having to find out during release 😎

[2017-09-17 08:05] devlead commented on #1809
Oh and new versions have changed contract so zip command fails now... 🤷‍♂️

[2017-09-17 08:06] devlead commented on #1809
Yes I'm totally testing in production 😄

[2017-09-17 08:12] gep13 commented on #1809
Ha ha! I haven't looked at the addin code in a while, so not sure what state it is in. Now that we have the DotNetToolExecutor, or whatever it is called, should be easy to finish that addin.

[2017-09-17 08:12] devlead commented on #1809
yip! 👍

[2017-09-17 08:38] devlead opened #1810 "(build) Update addins to ones compatible with 0.22.x>"
So temporary assembly verification opt-out can be removed.

[2017-09-17 09:58] devlead opened #1811 "Add code sample to build system properties"
As the build system properties go pretty deep it would be really helpful if the properties had code samples i.e.
[Jenkins BuildNumber](https://cakebuild.net/api/Cake.Common.Build.Jenkins.Data/JenkinsBuildInfo/CF72FD83)

Not super obvious that it's accessed like this
`BuildSystem.Jenkins.Environment.Build.BuildNumber`

[2017-09-18 08:44] Tdue21 commented on #720
This is something that really needs looking at. +1 from me.

[2017-09-18 08:56] devlead commented on #720
As it's potentially a large internal change, IMHO this would best if possible be implemented as a Cake module replacing the standard Cake Globber / FileSystem , that way it would be opt-in and could be tested out of bound with Cake.

[2017-09-18 09:50] adamhathcock commented on #1781
I'm running into this too.

This is because Cake.dll targets only `netcoreapp1.0` and `net461`

A `netcoreapp2.0` target should be added as it's an executable,

[2017-09-18 12:44] adamhathcock commented on #1779
You can run both if you also install a 1.0 runtime.  But yes, it won't work because of: https://github.com/cake-build/cake/issues/1781

[2017-09-18 12:45] adamhathcock commented on #1781
If I attempt to add a `netcoreapp2.0` target to Cake.dll, would that be accepted? @devlead @patriksvensson @gep13 ?

[2017-09-18 14:01] secana commented on #1781
Very dirty workaround is to install netcore 1.0 and than install netcore 2.0 on the same machine. So the Cake script runs with netcore 1.0 and builds for netcore 2.0 but that shouldn't be the solution to the problem.

[2017-09-18 15:17] devlead commented on #1032
I've assigned this to 0.23.0

[2017-09-18 15:27] adamhathcock commented on #1781
I don't want to install old tech :)

I've started to play with targeting `netcoreapp2.0` and `netstandard2.0` (mainly because some dependences are different based on moving to 2.0) in a branch.  Since `net461` is the only full framework supported on cake.exe, the other assemblies can be all `netstandard2.0` which is fun.  Right now, I'm targetting 1.6 and 2.0 on libs.  Tests do `net461` and `netco

[2017-09-18 16:10] ErikSchierboom commented on #1781
@adamhathcock It would be great to have Cake be able to run on .NET Core 2.0!

[2017-09-18 16:47] devlead commented on #1781
@adamhathcock sure, netcoreapp2.0 is something we would like to support. Can't promise it will be accepted before I seen it though 😎

Would also need to add integration tests with 2.0.

Looking at what other tools are doing is to place framework monikers in nuget tools folders.  Core/Common shouldn't be needed till be touched as those are 1.6 and "should" work fine with 2.0.

[2017-09-18 17:32] adamhathcock commented on #1781
Of course with review :)

1.6 should be fine with 2.0.  There are awkwardnesses like assembly and appdomain things that don’t exist in 2.0 (because it looks like full framework now) but are needed for 1.6.  These require separate monikers.  I’m working through it slowly.

I’ll make sure I try to get all test places going.  So far no blockers.

[2017-09-19 17:00] freekind opened #1813 "Unable to use add NuGet package through the #addin directive"
Our organisation has a custom NuGet repository for hosting our reusable libraries. By the meantime, we are exploring how cake works to integrate it to our CI process.

### What You Are Seeing?

However, when I try to install a package from that local repo with the #addin directive, I keep getting the following error:

_Could not find any assemblies compatible with .NETFramework,Version=v4.5._

Her

[2017-09-20 00:30] louisfischer commented on #1698
@cake-build/cake-team I did so see any other opinions on the issue. I would gladly take a stab at it but wanted the thumbs up before I started any thing.

[2017-09-20 18:23] joshclark opened #1815 "Exception Message should be shown rather than "One or more errors occurred.""
### What You Are Seeing?
Exception messages are not displayed. Instead "One or more errors occurred." is shown as the error message.

### What is Expected?
When an exception is thrown with a specific error message, I would expect to see that that text in the console output.

### What version of Cake are you using?
Version 0.22.2+Branch.main.Sha.c8630875bc14ce11aa758e0dcd55f691da5f602b

### Are you

[2017-09-20 19:50] mholo65 opened #1816 "net46 content of NuGet packages are not signed."
[signclient.filter](https://github.com/cake-build/cake/blob/develop/signclient.filter) is pointing to `lib/net45/..`

We should also add `Cake.NuGet.dll` to filter as we are nowadays also pushing that.

[2017-09-21 14:16] parthipanr opened #1817 "I could not set the MSBuildToolVersion value as NET461"
### What You Are Seeing?
I could not build the .NET Standard 2.0 version project using cake script and Need to Automate the .NET Standard 2.0. There is no options to set MSBuildToolVersion value as NET461. (NET Standard 2.0 target version is NET461).

### What is Expected?

### What version of Cake are you using?
Latest version
### Are you running on a 32 or 64 bit system?
64 bit
### What environm

[2017-09-21 15:12] patriksvensson commented on #1817
`MSBuildToolVersion` is the version of MSBuild that you want to use and not how you set the target framework.

[2017-09-21 18:18] patriksvensson opened #1818 "Support task dependees (reverse dependencies)"
It would be nice to let tasks specify that they are dependencies of other tasks. It would also be good if we could tell whether dependencies are required or not. This would open up for better extensibility and specialized build systems like `Cake.Recipe`.

We could call this method `IsDependeeOf` (suggestions for other names are greatly appreciated).
I would also suggest that we add support for op

[2017-09-21 18:39] austinoriginal commented on #1027
Its a significant I'd like to see a good solution to updating the FileVersion and AssemblyVersion attributes without touching anything else in an existing file. Is there a best practice around this today or do I just need to read each file and re-write them doing pattern matching and string replacement?

[2017-09-21 20:47] devlead commented on #1027
If you only want to touch certain attributes I would recommend having those in one file and the attributes you manually edit in a separate file.

Also worth noting with new 2017 project format you can set most of these properties via msbuild properties and keep the rest / default values in the csproj.

[2017-09-22 06:16] devlead opened #1820 "Update xUnit to latest version"

[2017-09-22 06:22] #1820 closed

[2017-09-22 07:45] bravecobra opened #1821 "Missing Cake method for nuget list"
Although most NuGet cli commands are supported, the command `list` (https://docs.microsoft.com/en-us/nuget/tools/nuget-exe-cli-reference#list) is not.
Adding this one, will allow the investigate/list what packages a nuget server offers. All suboptions, as per nuget 4.3, are to be implemented offering support for semver 2.0

[2017-09-22 07:54] devlead commented on #1779
fixed by #1778

[2017-09-22 07:54] #1779 closed

[2017-09-22 12:19] devlead opened #1822 "Regression Error: One or more errors occurred."
Cake no longer prints exception message in 0.22.x
now seem to print : `Error: One or more errors occurred.`

Exception message would be more helpful

[2017-09-22 12:24] SIkebe commented on #1822
seem to be related to #1815

[2017-09-22 12:25] devlead commented on #1822
yip indeed.

[2017-09-22 12:25] #1822 closed

[2017-09-22 12:39] SIkebe commented on #1815
I have same problem.
Exception is printed as below when you use `netcoreapp1.0` as `TargetFrameworks` of Cake.exe, but not when `net461`
![error-netcoreapp1 0](https://user-images.githubusercontent.com/17608272/30744724-633ec252-9fde-11e7-9453-490a37742f3d.png)
.

[2017-09-22 13:18] parthipanr commented on #1817
Yes, I want to set the MSBuild version as NET461 using MSBuildToolVersion enum. Can you please suggest any other way to achieve it, if any?

[2017-09-22 13:44] patriksvensson commented on #1815
The phrase `One of more errors occured` is the message part of an `AggregateException`, so I suspect this has to do with [this change](https://github.com/cake-build/cake/blob/develop/src/Cake.Core/ActionTask.cs#L112) that was introduced recently.

[2017-09-22 13:50] patriksvensson commented on #1817
@parthipanr So you want to use `MSBuild 15` in other words. Pass [VS2017](https://cakebuild.net/api/Cake.Common.Tools.MSBuild/MSBuildToolVersion/FC0BFFE4) which will correspond to the `MSBuildVersion` [MSBuild15](https://cakebuild.net/api/Cake.Common.Tools.MSBuild/MSBuildVersion/9B1D06EA).

[2017-09-22 14:50] devlead commented on #1815
Ah probably I can take a look at sorting that.

[2017-09-22 14:53] #1804 closed

[2017-09-23 13:59] #1757 closed

[2017-09-24 09:05] adamhathcock commented on #1183
I guess https://github.com/cake-build/cake/pull/1768 doesn't cover add-ins?

[2017-09-24 09:09] devlead commented on #1183
@adamhathcock it does

[2017-09-24 09:51] #1818 closed

[2017-09-24 09:58] devlead commented on #1326
I'm going a head and closing this as won't fix, it's a "limitation" in the framework.

[2017-09-24 09:58] #1326 closed

[2017-09-24 10:00] devlead commented on #1112
@agc93 can we keep compatibility with existing scripts?

[2017-09-24 10:01] devlead commented on #787
@mholo65 this is avail opt in now right?

[2017-09-24 10:24] devlead commented on #1527
Discussed internally with the  @cake-build/cake-team and we've have come to the conclusion that placing content in the root isn't best practice (we've done this mistake before with addins). So we're going to close this issue with the recommendation that scripts should be placed in the content folder.

[2017-09-24 10:24] #1527 closed

[2017-09-24 10:24] mholo65 commented on #787
@devlead yeah, but it doesn take target framework into account. I've another issue for that here https://github.com/cake-build/cake/issues/1801

[2017-09-24 10:34] devlead commented on #1032
Fixed by #1258

[2017-09-24 10:34] #1032 closed

[2017-09-24 12:44] #1816 closed

[2017-09-24 17:50] mholo65 opened #1825 "Share NuGetProject for all addins"
NuGetProject should be shared for addins in in-process NuGet client to better handle shared dependencies between addins.

[2017-09-24 18:15] mholo65 commented on #1821
@bravecobra Thanks! Are you in a position to send a PR?

[2017-09-24 20:24] #1801 closed

[2017-09-24 20:47] devlead commented on #1810
- [x] Cake.Coveralls - _RELEASED_
- [ ] Cake.Twitter - _PR EXISTS_
- [ ] Cake.Gitter - _PR EXISTS_

[2017-09-25 03:05] sinall opened #1829 "Log current time when finishing task"
Currently the a log 'Finished executing task xxx', it will be better if it could also log the current time like 'Finished executing task xxx at 2017-09-25 11:01:30', or log as part of task summary.

The reason I want this is because I often forget if the build is the latest or the one I build before I made some changes.

[2017-09-25 09:11] sljubic opened #1830 "kup"
### What You Are Seeing?

### What is Expected?

### What version of Cake are you using?

### Are you running on a 32 or 64 bit system?

### What environment are you running on?  Windows? Linux? Mac?

### Are you running on a CI Server?  If so, which one?

### How Did You Get This To Happen? (Steps to Reproduce)

### Output Log

GIST LINK - Please create a gist and link to that gist here

OR

[cod

[2017-09-25 10:48] gep13 commented on #1830
@sljubic I am going to go ahead and close this issue, as there doesn't seem to be any actual content.  If you intended to write something, please feel free to update it, and we can re-open.

[2017-09-25 10:48] #1830 closed

[2017-09-25 11:05] sljubic commented on #1830
@gep13 This has to be some kind of mistake. I didn't open this issue, so maybe there's some problem with my gh account. Will check it. My apologies for the inconvenience.

[2017-09-25 11:08] gep13 commented on #1830
@sljubic gotcha. Not a problem.  Thanks for getting back to me.

[2017-09-25 11:19] Sam13 commented on #1527
@devlead Even if I put my scripts into the _content_ subfolder the original problem still remains.
I will try to debug that on my environment...

[2017-09-25 11:49] devlead commented on #1527
try clearing your tools folder and upgrade to latest version of Cake just so you're not chasing an old solved issue.

[2017-09-25 12:11] bravecobra commented on #1821
Not at the moment, but I would guess the logic would be similar to the implementation NuGet.Client has, which implements the List command and prints out the found packages to the screen as implemented in https://github.com/NuGet/NuGet.Client/blob/dev/src/NuGet.Core/NuGet.Commands/ListCommand/ListCommandRunner.cs
Instead of outputting them, they would need to be returned as some sort of list.

[2017-09-25 12:16] mholo65 commented on #1821
@bravecobra currently, NuGet aliases shell out to `nuget.exe`. So the implementation would probably just call `nuget.exe list` with correct parameters. Quite straightforward.

Here's the help for that command.
[code]

[2017-09-25 12:45] bravecobra commented on #1821
Yes, but that'll just print the output to the screen, which is not what we want here. We would need to grab the output to put it in a list, which could then be used in the Cake script. The correct package is indirectly already referenced, so why not make use of it?

[2017-09-25 15:10] bravecobra commented on #1821
As @devlead just mentioned to me, Cake.NuGet was not the correct place to be looking for an entry point, thus my conclusion above is to be discarded ;) Tnx for the remark.

[2017-09-25 16:45] dracan commented on #1815
I've just been getting this, and wasn't sure what the exception actually was. So I temporarily handled it in a try catch block to dump out the output.

Obviously only a temporary solution until this issue is fixed, but I thought it worth pasting the code here in case anyone else saw this ticket and didn't know what their exception was either ...

    try
    {
        // Some code
    }
    catch(

[2017-09-25 16:48] devlead commented on #1815
@dracan running cake with diagnostic verbosity will give the full stack trace too.

[2017-09-25 18:11] jpreese opened #1831 "CleanDirectories Throws NullReferenceException When Token Is Null"
### What You Are Seeing?
When calling CleanDirectories() with an invalid Glob pattern (in this case a trailing slash), a NullReferenceException is thrown.

### What is Expected?
The method should behave the same as unable to locate the directory.

### What version of Cake are you using?
0.22.2

### Are you running on a 32 or 64 bit system?
64 bit

### What environment are you running on?  Windows?

[2017-09-25 18:22] dracan commented on #1815
@devlead Ah, cool - I had tried verbose, but not diagnostic.

[2017-09-26 01:15] richardgavel opened #1833 "NUnit: Add support for /labels"
NUnit 2.x includes a "/labels" parameter, which is needed for the most detailed reporting when SpecFlow test are run thru the NUnit 2 test runner. http://specflow.org/documentation/Reporting/

[2017-09-26 06:56] devlead commented on #1831
Fixed by #1832

[2017-09-26 06:56] #1831 closed

[2017-09-26 07:53] #1825 closed

[2017-09-26 08:51] devlead commented on #787
@mholo65 so is this a matter of documentation or does something need to be done to close this issue?

[2017-09-26 09:24] Roemer commented on #1811
This comes back to my question when I did the PR for additional Jenkins variables:
Do we really need to have them that deep?
Stuff like the Workspace could be in Build or in Node, Changes are also related to Build or Repository, Job is also related to Build and and and. All in all if you need something it's always a search until you found what you need.
I suggest having only one `Environment` clas

[2017-09-26 09:48] devlead commented on #1811
Well they're what they are in a way, we don't want unnecessary break too many scripts out there if it's not for real benefit.

[2017-09-26 12:11] devlead commented on #1810
Haven't submitted the PR yet though ;)

[2017-09-26 12:13] gep13 commented on #1810
@devlead ooops, my bad 😄

[2017-09-26 14:11] #1810 closed

[2017-09-26 15:35] josemaia opened #1836 "DotNetCoreBuild is only using the default nuget package source"
### What You Are Seeing?
DotNetCoreBuild is only using the default nuget package source, even though my cake script explicitly adds a new source.

### What is Expected?
DotNetCoreBuild should search all available package sources in the global nuget config, as there is no local one.

### What version of Cake are you using?
0.21.1

### Are you running on a 32 or 64 bit system?
64-bit

### What envir

[2017-09-26 15:38] devlead commented on #1836
What sources do you have specified for DotNetCoreRestore?

[2017-09-26 15:40] josemaia commented on #1836
I am not using DotNetCoreRestore, as this is a .NET Core 2.0.0 project. I attempted to add it, and add "--no-restore" to DotNetCoreBuild, but the problem still ocurred.

Should I do this, but without specifying source on Restore?

[2017-09-26 15:42] devlead commented on #1836
Also .NET CLI doesn't handle encrypted credentials so you'll need to specify to store as plain text
https://cakebuild.net/api/Cake.Common.Tools.NuGet.Sources/NuGetSourcesSettings/E1D7BE8B

[2017-09-26 16:50] josemaia commented on #1836
[code]

With this strategy, the build passed (it's failing elsewhere but that's my fault! 😆

With .NET Core 2.0, it shouldn't be necessary to do a manual restore first, though, right? Does this seem like Cake's or dotnet's fault? I can close the issue if you suspect dotnet.

[2017-09-26 16:53] devlead commented on #1836
Well Cake  only shells out to the tools, if you launch Cake with diagnostic verbosity you'll see the command line used by Cake and could try the same in a console.

[2017-09-26 17:51] Redth opened #1838 "Dependencies are installed but have no references added when using `LoadDependencies=true` with in process nuget client"
### What You Are Seeing?

When using the new in process nuget client, and setting `nuget_loaddependencies=true`, the dependencies of addins are downloaded/installed but they are not actually referenced by the executing cake script causing errors about missing references.

### What is Expected?

Installed/Downloaded dependencies should also be referenced.

### What version of Cake are you using?
0.

[2017-09-26 19:07] #1838 closed

[2017-09-26 20:14] #1815 closed

[2017-09-26 20:16] gep13 opened #1840 "Fix Chocolatey Package"
Since we are embedding assemblies into the Chocolatey Package, and the Package Validator rules have been increased, we need to include a verification.txt into the package.

[2017-09-26 20:20] mholo65 opened #1841 "StyleCop issues doesn't break build when running through Cake"
StyleCop analyzer issues doesn't break build. They are only present as warnings in Visual Studio.

[2017-09-26 20:25] devlead commented on #1840
So basically just add a file like below?
[code]

[2017-09-26 20:36] gep13 commented on #1840
Yip, that pretty much covers it.

More information here:

https://github.com/chocolatey/package-validator/wiki/VerificationFileMissing

[2017-09-26 20:37] devlead commented on #1840
yeah read that, not über clear what the file should contain reading that wiki though :)

[2017-09-26 20:38] devlead commented on #1840
See that
_Providing checksums in verification is helpful, but OPTIONAL_

So above and we should be good to go.

[2017-09-26 20:41] mholo65 opened #1842 "Params in URI pre-processor directives are case sensitive"
I think we are missing a `StringComparer.OrdinalIgnoreCase` [here](https://github.com/cake-build/cake/blob/921919840e4d4348e830bf267ee50e3a40818200/src/Cake.Core/Extensions/UriExtensions.cs#L46)

[2017-09-26 20:48] devlead commented on #1842
agreed, nice catch 👍

[2017-09-26 21:06] mholo65 opened #1843 "NuGetContentResolver should not return ref assemblies."
This is what happens when trying to load dependencies using in-process NuGet with Cake.CoreCLR and specifying that dependencies should be loaded with addin.

We should omit the assembly if it's in `ref ` folder.

[code]

[2017-09-26 21:07] gep13 commented on #1840
Any suggestions on how the wiki can be improved would be welcome :-)

[2017-09-26 21:23] #1805 closed

[2017-09-27 06:53] #1841 closed

[2017-09-27 21:28] #1842 closed

[2017-09-28 20:04] #1843 closed

[2017-09-28 20:27] #1821 closed

[2017-09-28 20:32] devlead commented on #645
@gep13 does this refer to https://github.com/cake-build/cake/tree/develop/tests/integration ?

[2017-09-28 20:34] devlead commented on #149
@Redth this basically is what you've started to look at right?

[2017-09-28 20:40] devlead commented on #1295
Cake now ships with and no longer downloads roslyn.

[2017-09-28 20:40] #1295 closed

[2017-09-28 20:43] devlead commented on #1240
Fixed by #1414

[2017-09-28 20:43] #1240 closed

[2017-09-28 20:48] devlead commented on #1370
This is addressed by #1767

[2017-09-28 20:48] #1370 closed

[2017-09-28 21:07] pascalberger commented on #1507
Closing this as a duplicate of #1818

[2017-09-28 21:07] #1507 closed

[2017-09-28 21:11] Redth commented on #149
Yes. This is what I started doing...

[2017-09-30 14:46] #787 closed

[2017-10-01 12:32] devlead commented on #1657
Closing this issue due to inactivity, if this still an issue please reopen this issue.

[2017-10-01 12:32] #1657 closed

[2017-10-01 12:33] devlead commented on #1656
Fixed by #1611

[2017-10-01 12:33] #1656 closed

[2017-10-01 14:05] devlead commented on #1709
@patridge is this still an issue?

[2017-10-01 14:09] devlead commented on #1750
This is due an old version  of tooling and missing from later versions right?

[2017-10-01 14:10] devlead commented on #1690
@kharlamov can you supply the command line used that causes the error?

[2017-10-01 14:11] devlead commented on #1547
@kcamp Can you submit a PR we can review?

[2017-10-01 14:14] devlead commented on #1500
@fleed yes it is, you specify is as password when using the [NuGetAddSource(string name, string source, NuGetSourcesSettings settings)](https://cakebuild.net/api/Cake.Common.Tools.NuGet/NuGetAliases/8B9ADF68) alias.

[2017-10-01 14:15] gep13 commented on #1750
This was coming from ReSharper Command Line tools I believe. So as long as they are up to date, we should be good.

[2017-10-01 14:19] #1632 closed

[2017-10-01 17:11] colinangusmackay opened #1851 "Enumerate errors so we don't get "Error: One or more errors occurred.""
### What You Are Seeing?

When an exception occurs I get the message: `Error: One or more errors occurred.`

### What is Expected?

A more detailed exception message or messages. I realise setting the verbosity to "diagnostic" gives me all this and more, but a little more detail than "One or more errors occurred." would be much better (even if it doesn't include the full stack trace, the underlyin

[2017-10-01 17:15] devlead commented on #1851
Hi, thanks for reporting @colinangusmackay.

This is a duplicate of #1815 , fixed by #1824 which will be shipped when the next release of Cake.

[2017-10-01 17:15] #1851 closed

[2017-10-01 17:17] devlead commented on #1851
Meanwhile running with diagnostic verbosity will output the complete stack trace.

[2017-10-01 17:18] colinangusmackay commented on #1851
Thanks.

[2017-10-02 11:00] georgehemmings commented on #1625
This has broken the ability to specify multiple constants. Example:

`settings.WithProperty("DefineConstants", "A=a;B=b");`

The semi-colon should not be escaped in this scenario.

Should a new issue be raised for this, @devlead ?

[2017-10-02 11:07] devlead commented on #1625
@georgehemmings doesn't `  .WithProperty("DefineConstants", "A=a","B=b");` work? If not then yes please raise an separate issue. Comments on closed issue easy to miss.

[2017-10-02 11:13] georgehemmings commented on #1625
@devlead no, it seems only one `/p:DefineConstants` is allowed, the last one wins.

`.WithProperty("DefineConstants", "A=a;B=b".Quote());` last worked in v21.1.

Ok, I'll raise a new issue.

[2017-10-02 11:23] georgehemmings opened #1852 "Incorrect escaping of semi-colon in property values for MS Build"
### What You Are Seeing?
When using `.WithProperty("DefineConstants", "A=a;B=b".Quote());` the semi-colon is escaped which is invalid. The escaping behaviour was added in #1625

### What is Expected?
The semi-colon should not be escaped in this scenario as the resulting command is invalid.

### What version of Cake are you using?
0.22.2

### Are you running on a 32 or 64 bit system?
64

### What e

[2017-10-02 11:28] devlead commented on #1852
@cake-build/cake-team I kinda feel this `WithProperty("DefineConstants", "A=a", "B=b");` should generate `/p:DefineConstants=A=a;B=b` that way we support both escaping and multiple values in a typed way.

Potentially one could have an dictionary of properties that doesn't support multiple properties beginning with `DefineConstants`.

[2017-10-02 11:49] devlead opened #1853 "using static Directive doesn't compile"
Currently a script with [using static directive](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/using-static) like below

[code]
will fail with
[code]

As we've unified around Roslyn this can now and should be supported by Cake, I'll submit a pull request shortly with a proposed fix.

[2017-10-02 13:10] kcamp commented on #1547
@devlead Sure, will have that put together in the next day or so.

[2017-10-02 13:12] devlead commented on #1547
@kcamp excellent! 👍

[2017-10-02 14:24] patridge commented on #1709
@devlead I grabbed the latest from develop, and it built just fine from a clean clone. I'll close accordingly.

[2017-10-02 14:24] #1709 closed

[2017-10-02 15:09] waynebrantley commented on #1840
What does it take to get this approved?
https://chocolatey.org/packages/cake.portable/0.22.2

The problem is the addins - like https://github.com/cake-contrib/Cake.FileHelpers/issues/17 are requiring the 0.22 version.

Chicken and egg!

[2017-10-02 17:04] gep13 commented on #1840
@waynebrantley the fix is as described above. We need to add the verification.txt file to the package and re-push to chocolatey.org.

In the interim, so can install that version of the chocoatey package by specifying the version number in the command line. Or you can pin to earlier versions of both cake, and cake.filehelpers.

[2017-10-03 02:25] jnm2 commented on #1766
I have a real use-case now: avoiding `warning CS0162: Unreachable code detected` when I use a `const bool` instead of preprocessor.

Would you take a PR for this?

[2017-10-03 07:41] bravecobra opened #1855 "SignTool is not found with latest windows 10 SDK"
With the latest Windows 10 SDK installed on a Windows 10 mahcine, the signtool.exe is no longer found by Cake. The new installation path is `C:\Program Files (x86)\Windows Kits\10\bin\10.0.15063.0\(x86|x64|arm|arm64)`. Note the extra version number and the platform folders.  there is an extra signtool under `C:\Program Files (x86)\Windows Kits\10\App Certification Kit`. None of these paths as cove

[2017-10-03 07:54] devlead commented on #1766
If you like to submit a PR we'll review it.

Tried this in csi.exe
[code]
it works there, so should work in Cake too, but it needs to come first in the file so these defines would need to be moved to top of script like using statements much similar to what I propose in #1854 .

[2017-10-03 11:22] josemaia commented on #1836
Manual restore made the problem not happen anymore.

[2017-10-03 11:22] #1836 closed

[2017-10-03 17:57] jnm2 commented on #1766
If it's fresh in your mind, would you do it? That would be perhaps more efficient.

[2017-10-03 18:30] mholo65 commented on #1766
To spin this even further I’d say we should support defines via cmdline/config/environment (similar to `DefineConstants` in MSBuild). Also we should take `#ifdef` into account when preprocessing. This would open up possibility to conditionally load another file or conditionally install tool/addin.

[2017-10-03 19:52] devlead commented on #1766
@jnm2 even if that were true, it still takes some effort to do it and time is limited 😎 But if no one takes it on I might take a stab at it when I can, have a few outstanding PRs awaiting @cake-build/cake-team review and could potentially look at this post that. But other things might also take precedence.

@mholo65
So tested plain scripting  and csi.exe
[code]

and it works regardless if i define

[2017-10-04 18:24] evil-shrike commented on #1662
+1. Please.

Also PackageReference info should be added (it's missing in `ProjectParserResult`)
Currently References and ProjectReferences are supported.

BTW in the documentation it's unclear what type these collections have:
[code]
ICollection of what?

[2017-10-04 18:40] gep13 commented on #1662
@evil-shrike just to confirm, are you using the Cake.Incubator addin?

[2017-10-04 18:42] evil-shrike commented on #1662
@gep13 no, I just wrote `ParseProject` and it worked (failed), I didn't use any directives.

[2017-10-04 18:43] gep13 commented on #1662
Have a look at the Cake.Incubator addin then. It has support for parsing the new project format.

[2017-10-05 11:24] evil-shrike commented on #1662
@gep13 I've tried Incubar's version and it works fine, thanks.
Bit it works fine if I use an overloaded method which is absent in Cake:
[code]
This fails:
[code]
How to tell Cake to use a method from Addin if the same method exists in Cake itself?

As I can see you wrap all new project properties for SDK-projects into `NetCoreProject` class instance (in `NetCore` prop):
`proj.NetCore.PackageRefere

[2017-10-05 11:24] devlead opened #1856 "Support MSBuild warnaserror and warnasmessage arguments"
MSBuild as command line arguments to threat all errors as warnings, just some and to NOT treat given warnings as errors. I'll submit a PR shortly with a proposal to add support for this.

[2017-10-05 14:54] nawfalhasan commented on #348
I support this.

Currently what I am doing:

var step1 = "Build Application";
Task(step1)
    .Does(() =>
    {
        // msbuild...
    });
RunTarget(step1);

It should be just:

Task("Build Application")
    .Does(() =>
    {
        // msbuild...
    });

[2017-10-05 17:16] devlead commented on #348
@nawfalhasan even though this would be very convinient, I don't see us focusing in the near future as this would break every existing script out there today and it would also eliminate a few other currently supported and useful scenarios.

[2017-10-05 19:52] #1853 closed

[2017-10-05 19:53] gep13 commented on #1853
@devlead could you create another issue to track documentation for this?

[2017-10-05 20:32] devlead commented on #1853
@gep13 added cake-build/website#417

[2017-10-05 21:12] gep13 commented on #1853
@devlead thank you, I think that this is a good habit to get into when adding new functionality.  Even if it doesn't get done straight away, putting the issue up means that it hopefully won't get forgotten about.

[2017-10-05 21:52] devlead commented on #1766
Submitted PR #1858 as a proposed fixed for this issue.

[2017-10-05 22:08] #1766 closed

[2017-10-05 22:11] jnm2 commented on #1766
Thank you @devlead!

[2017-10-05 22:16] mholo65 opened #1859 "Support defines from configuration"
Now that https://github.com/cake-build/cake/pull/1858 is merged it would be nice to support defines from configuration.

[2017-10-05 22:19] mholo65 opened #1860 "Honor #if when preprocessing"
Now that https://github.com/cake-build/cake/pull/1858 is merged it would be nice if script processing also would honor defines. E.g. conditionally load files or install addins/tools.

[2017-10-05 22:33] patriksvensson commented on #1536
Hello @peter-perot,

Cake uses `System.IO` to inspect file and folders and this does not support querying virtual hard drives.
The `subst` command will create a symbolic link (which will look something like `\??\V\`) which is not supported by the .NET framework.

Not much we can do about it on our end unless .NET framework implements support for this. I read somewhere that they were adding proper

[2017-10-05 22:34] patriksvensson commented on #1860
@mholo65 According to @devlead's integration tests, this should work ootb with the Roslyn script engine (unless I misunderstood something).

[2017-10-05 22:34] patriksvensson commented on #1860
@mholo65 Ah, I read your issue again, and I misunderstood. Sorry.

[2017-10-05 22:36] mholo65 commented on #1860
😄 np. Yeah, according to @devlead's testing, not even `csi.exe` supports it. See https://github.com/cake-build/cake/issues/1766#issuecomment-333958357

[2017-10-05 22:41] peter-perot commented on #1536
Hi @patriksvensson,

`GetFiles("V:/Source/**/Template.pubxml").Count` yields the correct value, and I have multiple projects using Cake and virtual directories which work flawlessly.

The issue is not related to virtual directories. Even if I run `GetFiles("D:/**/Template.pubxml").Count` (i.e. on non-virtual drive D where I have some of the files listed in the search pattern) zero is returned.

Th

[2017-10-06 04:55] smax48 opened #1861 "String constants inside build script are altered by Cake"
### What You Are Seeing?

Cake adds double-slash comments ("\\\\") to string constants inside a script that have a specific format.

### What is Expected?

Cake shouldn't alter constants in scripts :)

### What version of Cake are you using?

Version 0.22.2+Branch.main.Sha.c8630875bc14ce11aa758e0dcd55f691da5f602b

### Are you running on a 32 or 64 bit system?
64

### What environment are you runni

[2017-10-06 05:03] devlead commented on #1861
This is likely because the using statement preprocessor, to confirm if you do a
[code]

[2017-10-06 05:16] smax48 commented on #1861
Yes, in my code I did a similar thing - simple string concatenation with "+", and it worked.
I was very surprised when I saw comments in output, but after some time I thought it might be because of some kind of preprocessing...

[2017-10-06 05:52] devlead commented on #1861
Yes it's preprocessing being done, using directives are passed a long to the Roslyn compiler as just list of namespaces. they're commented out to not interfere with compilation and to preserve line numbers.

[2017-10-06 06:31] nawfalhasan commented on #348
@devlead Thanks for prompt reply. You're right, it wouldnt be a good move now. Could you tell me what are the useful scenarios the current approach would be useful in?

Your answers on SO are helpful! :)

[2017-10-06 06:43] patriksvensson commented on #1536
I tried to replicate this yesterday and was not successful (virtual drives and symbolic links do not exist according to `System.IO.DirectoryInfo`).

I tried accessing a file from my (non virtual) D-drive using `D:/**/foo.bar` and it throws `UnauthorizedAccessException` when it encounters system directories like the recycle bin so this should probably be fixed though.

I'll re-open this.

[2017-10-06 08:26] nawfalhasan commented on #314
Is this implemented? What is the alternative otherwise if I want to specify arguments in a config file, and not pass as parameters when invoking cake.exe?

[2017-10-06 08:28] patriksvensson commented on #1860
@mholo65 This is not a trivial problem to solve unless we want to implement our own preprocessor evaluator.

[code]

[2017-10-06 08:29] devlead commented on #314
@nawfalhasan no this is still an open issue, if you don't want to use command line parameters, your options today are to either use environment variables, or just serialize state to something like a json or yaml file.

[2017-10-06 11:58] devlead commented on #1860
I rather see us implementing conditionals in the directives themselves,  than doing our own compiler, while there's great reward, I feel there's great risk, with the potential of coming back to haunt us multiple times. Also the more we diverge from standards, the harder tooling will be.

[2017-10-06 12:29] evil-shrike opened #1862 "Imposible to pass an argument value with "," ";" symbols"
I have a cake script with Argument publishTargets:
[code]
I need to pass a value like "dev,internal" or "dev,release" and so on into it.
The key point here is "," symbol. With ";" symbol there's the same picture.

What I tried:

#### 1. via `-arg`
[code]
Output:
[code]

#### 2. via ScriptArgs
[code]
Output:
[code]

#### 3. via `--arg`
[code]
Output:
[code]

### Environment
Cake 0.22.2
OS x64 Windo

[2017-10-06 18:39] kcamp commented on #1862
The semicolon is a Powershell literal that you should be able to work around by escaping as such using the backtick ` character.  Here is an example that works with Cake 0.21.1

[code]

[2017-10-06 18:55] evil-shrike commented on #1862
@kcamp Thanks! It helps.
This works:
[code]
Only with single quotes (not double).

[2017-10-06 19:01] kcamp commented on #1862
@evil-shrike Yes, you're correct.  I meant to call out the single/double difference because that threw me off, too when I was dealing with the issue.  Glad you got it sorted out.   👍

[2017-10-06 19:09] evil-shrike commented on #1862
I think the issue can be closed. But I'm afraid anyone who will try to pass such values (with "," or ";') will encounter difficulties. So ideally (in case it cannot be worked around in the bootstrap ps-script) it should be documented in some way...

[2017-10-06 19:26] #1856 closed

[2017-10-06 19:53] evil-shrike opened #1865 "Impove error reporting with default verbosity"
Normally when we encounter an error during executing a Cake script it's reported as:
"One or more error occurred"
To see all details we have to pass `-verbosity=Diagnostic`
Then the whole exception will be shown.
It's not very handy. Usually it's enough to see error message.
So why instead of wring a meaningless "One or more error occurred" write an actual error message?

[2017-10-06 19:57] devlead commented on #1865
This was fixed by #1824 and will be avail in the next release.

[2017-10-06 19:59] #1865 closed

[2017-10-06 23:53] phillipsj commented on #1731
@devlead @gep13 @patriksvensson I will take this one if cool with you all.

[2017-10-07 06:01] devlead commented on #1731
Knock yourself out 👍

[2017-10-07 12:59] devlead commented on #1548
Fixed by #1864

[2017-10-07 12:59] #1548 closed

[2017-10-07 13:00] devlead commented on #1547
Fixed by #1863

[2017-10-07 13:00] #1547 closed

[2017-10-07 16:36] #1404 closed

[2017-10-07 16:56] peter-perot commented on #1536
There are two different ways to map a drive:

`subst V: c:\workspace`

and

`net use V: c:\workspace`

The first code example is the way I use it. It only works with local targets.

The second example works with local *and* network targets, but people report that it does not work with `System.IO` related classes.

So reconstructing the issue should be done with `subst`.

[2017-10-07 16:58] patriksvensson commented on #1536
I tried with subst and could not get it to work. What Windows version are you using?

[2017-10-07 17:02] peter-perot commented on #1536
Windows 8 (64 bit).

[2017-10-07 22:29] phillipsj commented on #1855
@devlead @gep13 @bravecobra  happy to take this one.

[2017-10-07 22:32] phillipsj commented on #1731
Linked to PR #1866

[2017-10-07 22:39] patriksvensson commented on #1855
@phillipsj Don't let me stop you! 😉

[2017-10-07 22:41] phillipsj commented on #1833
@devlead @gep13 if this is okay with you all I will take it.

[2017-10-07 22:42] patriksvensson commented on #1731
Resolved via PR #1866.

[2017-10-07 22:42] #1731 closed

[2017-10-07 22:43] patriksvensson commented on #1833
@phillipsj Go ahead! 😄

[2017-10-08 00:51] phillipsj commented on #1833
References PR #1867

[2017-10-08 18:03] phillipsj commented on #1855
@patriksvensson Any thoughts on the arm folders?  Seems like that would be a separate platform choice and right now only x86 and x64 are supported.

[2017-10-08 18:53] phillipsj commented on #1707
@GeertvanHorrik by the last comment this has been resolved, can it be closed?

[2017-10-08 18:57] phillipsj commented on #1653
@devlead @gep13 @patriksvenson I will take this one too, if no objections.

[2017-10-08 19:00] GeertvanHorrik commented on #1707
Yes, the issue has been solved, I was only suggesting to update the docs a bit.

[2017-10-08 19:00] #1707 closed

[2017-10-08 19:15] phillipsj commented on #1522
@devlead @gep13 I am getting back into the swing of things and if this is still an issue, I will take it.

[2017-10-08 20:34] patriksvensson commented on #1653
@phillipsj @ChrisMaddock Has 3.7 been released with the new labels?

[2017-10-08 20:51] ChrisMaddock commented on #1653
Yes 😄

[2017-10-09 11:02] lyze237 opened #1870 "Method Array.Empty not found"
### What You Are Seeing?

Can't build c# project since cake nuget packages don't get downloaded.

### What is Expected?

Cake should download it's dependencies.

### What version of Cake are you using?

[code]

Installed dotnet core via: https://www.microsoft.com/net/core#linuxubuntu

[code]

Installed mono via: sudo apt install mono-devel

[code]

### Are you running on a 32 or 64 bit system?

64

[2017-10-09 11:40] devlead commented on #1870
Hi,

Cake.0.22.0 targets .NET 4.6 which requires Mono 4.4.2 or later to work alternatively .NET Core 1.0.4.

And example of what's needed for a GitLab docker container (or Linux in general) can be seen in this Dockerfile

* https://github.com/devlead/gitlabs-dotnet/blob/master/Dockerfile

Example usage on GitLabs

*  https://github.com/cake-build/cake/blob/develop/.gitlab-ci.yml

[2017-10-09 12:04] #1840 closed

[2017-10-09 12:07] lyze237 commented on #1870
Hey!

Thanks, didn't see that, works now fine!

[2017-10-09 12:07] #1870 closed

[2017-10-10 08:30] lyze237 commented on #1870
For anybody trying this with ubuntu 17.04, you need to install some depenencies manually:

* libicu55
* libllvm3.6
* liblldb-3.6

E.g.:

    wget http://security.ubuntu.com/ubuntu/pool/main/i/icu/libicu55_55.1-7ubuntu0.2_amd64.deb
    sudo dpkg -i libicu55_55.1-7ubuntu0.2_amd64.deb
    wget http://mirrors.kernel.org/ubuntu/pool/main/l/llvm-toolchain-3.6/libllvm3.6v5_3.6.2-3ubuntu2_amd64.deb
    su

[2017-10-10 20:46] johnkors opened #1872 "XUnit2 fails using XUnit 2.3.0"
### What You Are Seeing?
Running
[code]
=>
[code]
### What is Expected?
The same results as either `dotnet test` or `dotnet xunit`.

### What version of Cake are you using?
[code]

### Are you running on a 32 or 64 bit system?
64

### What environment are you running on?  Windows? Linux? Mac?
Windows

### Are you running on a CI Server?  If so, which one?

### How Did You Get This To Happen? (Step

[2017-10-11 05:46] patriksvensson commented on #1607
Fixed via #1608

[2017-10-11 05:46] #1607 closed

[2017-10-11 06:49] devlead commented on #1872
XUnit for .NET Core 2.0 isn't compatible with previous versions of the runner.

To achieve same as `dotnet test` there's the [DotNetCoreTest](https://cakebuild.net/api/Cake.Common.Tools.DotNetCore/DotNetCoreAliases/DFA1C219) alias.

There's currently no "DotNetCoreXunit" alias (_that could be a good additon to Cake though_), but there's a [DotNetCoreTool](https://cakebuild.net/api/Cake.Common.Tool

[2017-10-11 12:20] johnkors commented on #1872
Ah, okay ! I obviously did not read the docs well enough to realize that ` XUnit2(testAssemblies, new XUnit2Settings {});` was running it thru an older incompatible console runner. As I remember, it worked fine with the beta packages of xunit2.3.0, so still a bit strange.

Anyhow. I ended up running it thru the `DotNetCoreTest` as you mention here. It works well enough in my scenario.

Thanks agai

[2017-10-11 12:20] #1872 closed

[2017-10-11 12:48] devlead commented on #1872
Excellent 👍

[2017-10-11 13:10] gep13 commented on #1112
@cake-build/cake-team going to bump this one again...

[2017-10-11 14:23] holytshirt commented on #74
I have a need to do this, do you mind if I pick this up?

[2017-10-11 14:33] devlead commented on #74
@holytshirt yes feel free, I'll remove the up for grabs label.

[2017-10-11 14:34] holytshirt commented on #74
👍

[2017-10-12 10:21] luigiberrettini commented on #1751
PowerShell bootstrapper:
https://gist.github.com/luigiberrettini/19a124d24af74039ae87065adb007e2c

[2017-10-12 15:20] Sam13 commented on #1527
@devlead Today I was able to debug the issue.
The problem is that all *.cake files from the NuGet package are loaded even if an include statement is specified. The `NuGetLoadDirectiveProvider` adds another include statement (method `Load`, line 46).

E.g.
`#load nuget:?package=BuildScripts.Cake&version=1.0.0.115109&include=Content/Defaults.cake`
will become
`#load nuget:?package=BuildScripts.Cake&

[2017-10-12 16:17] jnm2 commented on #1818
I would have suggested `IsDependencyOf`.

[2017-10-12 16:21] jnm2 commented on #1032
This update broke all my code that was doing this:

[code]

Now I get a series of these messages:

[code]

[2017-10-12 16:22] devlead commented on #1527
Agree to not add an include when one is specified sounds reasonable to me. Please raise a separate issue for that.

For now you could probably add an exclude to remove individual files /patterns.

[2017-10-12 16:24] jnm2 commented on #1032
These are the workarounds:
 - `Task("Foo").Does(() => ReusableMethod());`
 - `Task("Foo").Does((Action)ReusableMethod());`

[2017-10-13 09:32] Sam13 opened #1874 "NuGet script load: Do not add include for all cake scripts when include already specified"
As discussed in #1527 the `NuGetLoadDirectiveProvider` should not add an include directive when already specified one in the script.

E.g.
`#load nuget:?package=BuildScripts.Cake&version=1.0.0.115109&include=Content/Defaults.cake`
will become
`#load nuget:?package=BuildScripts.Cake&version=1.0.0.115109&include=Content/Defaults.cake&include=./**/*.cake`

[2017-10-13 09:47] Sam13 opened #1875 "Folder structure of tools and addins can cause too long paths on Windows"
The new folder structure for addins and tools of Cake 0.22.0 and above may result in very long path names. This avoids loading those and causes the following error:

`The specified path, file name, or both are too long. The fully qualified file na
me must be less than 260 characters, and the directory name must be less than 24
8 characters.
NuGet exited with 1
An error occured while installing pac

[2017-10-13 09:52] gep13 commented on #1875
@mholo65 should be able to provide more details, as I am only on phone... But have you tried using the new opt-in nuget provider which was mentioned in the 0.22.0 release blog post?

[2017-10-13 09:56] devlead commented on #1875
The configuration values needed to opt-in to new NuGet handling are documented here:
https://cakebuild.net/docs/fundamentals/default-configuration-values

[2017-10-13 14:32] toddstewart opened #1877 "In Process NuGet Client fails to get packages from ProGet server."
### What You Are Seeing?
The in process nuget client fails when attempting to get packages from a ProGet nuget server.

### What is Expected?

### What version of Cake are you using?
0.23.0

### Are you running on a 32 or 64 bit system?
64 bit

### What environment are you running on?  Windows? Linux? Mac?
Windows 10

### Are you running on a CI Server?  If so, which one?
TeamCity

### How Did You

[2017-10-13 16:32] mholo65 commented on #1877
@toddstewart, hmm something fishy with V2 feed. Do you see same issue if you specify `—nuget_loaddependencies=true`?

[2017-10-13 17:24] toddstewart commented on #1877
I have installed the latest version of the ProGet server.  I still get the error listed above but now it seems to get the package downloaded and the build works.  It just looks bad not getting the error message in the output log.  This is true using the loaddependencies=true or not.

[2017-10-16 20:14] gep13 opened #1878 "Support converting enums from string values"
Currently, when setting an Enum value on say a setting class, it is necessary to be explicit about it, i.e. if setting this: https://cakebuild.net/api/Cake.Common.Tools.SignTool/SignToolSignSettings/BE7882E3 you would need to do:

[code]

If might be nice to be able to do something like this:

[code]

Where Cake would attempt to "find" an enum value that matched the string value, and if it can, se

[2017-10-16 20:22] jnm2 commented on #1878
Is it okay if I give my thoughts too?

I don't like this because it's not C#. I would prefer the effort be redirected into providing intellisense so you can type <kbd>s</kbd><kbd>2</kbd><kbd>Tab</kbd> after the `=` to autocomplete `SignToolDigestAlgorithm.Sha256`.

See also the csharplang discussion on permitting the target-typed `DigestAlgorithm = Sha256`: https://github.com/dotnet/csharplang/iss

[2017-10-16 20:24] devlead commented on #1878
How would this implicit cast work?

Only way i could see this work was if we didn't use an enum but SignToolDigestAlgorithm was a class and SignToolDigestAlgorithm.Sha256 was a readonly property of that class and it had implicit validated conversion from string. would be binary breaking, but work on recompile.

Wonder if it's that beneficiary though.

[2017-10-16 21:14] ferventcoder commented on #1878
So I want to be able to specify from an env var or value "Sha256" and have it autoconverted. This is how DropkicK worked with the env settings files and it was c# ;)

[2017-10-16 21:27] jnm2 commented on #1878
It's either a wrapper struct or class on every property, or it's preprocessing illegal C# syntax to make it legal before compilation and hoping there are no edge cases which subtly alter behavior of things like overload resolution in corners of C# we didn't think of.

[2017-10-16 21:43] patriksvensson commented on #1878
It would be nice, but I think I agree with @jnm2 here. Since we don't have access to the string class, we can't really add an implicit conversion and we would need to add some kind of wrapper class for this (not even sure how that would work).

I think it would be better to wait with something like this until it's supported in the language itself or rethink how we do enums (which would be a massiv

[2017-10-16 22:05] ferventcoder commented on #1878
Enum.Parse isn't an option here?

[2017-10-16 22:06] ferventcoder commented on #1878
PowerShell also does this well. I'm pretty sure it's one line of code. But maybe I don't understand what you have going on that is different than C# when it comes to Enums.

[2017-10-16 22:08] ferventcoder commented on #1878
https://github.com/chucknorris/dropkick/blob/9d29be1a7ab6076de3efa0d1a7acc9c8d77a9405/product/dropkick/Extensions.cs#L32-L35

[2017-10-16 22:09] ferventcoder commented on #1878
I also do this in Chocolatey and other places, it's pretty standard.

[2017-10-16 22:10] jnm2 commented on #1878
@ferventcoder Then you'd have to type `DigestAlgorithm = "sha256".ToEnum<SignToolDigestAlgorithm>()`, and the primary motivation for this issue was to not have to type `SignToolDigestAlgorithm.`.

[2017-10-16 22:11] ferventcoder commented on #1878
None of this. Pretty standard C#, here is an example in Choco's code base -
https://github.com/chocolatey/choco/blob/9c0a77d0cec04a38c2be7c8a74ab337dc1353ceb/src/chocolatey/infrastructure/licensing/LicenseValidation.cs#L66-L74

[2017-10-16 22:12] jnm2 commented on #1878
I still think intellisense is the way to go on the question of making typing easier.

On the question of converting strings to enums, which is a separate topic: sure, there are tons of ways that don't involve making this compile: `new SignToolSettings { DigestAlgorithm = "sha256" }`.

[2017-10-16 22:18] ferventcoder commented on #1878
@jnm2 I am not that great at explaining primary motivation here. There is a motivation well beyond not having to type out the enumeration type.

1. Strings are simpler than enums.
1. Converting to the enum automatically is a helper that allows for keeping things simple
1. Other languages do this (PowerShell supports this, and C# supports enum parsing).
1. Having to remember the type name (especial

[2017-10-16 22:25] ferventcoder commented on #1878
@patriksvensson minus access to the string class, I think narrowing conversion operators could be a way. Although I don't think it would work for actual enum types.

[code]

[2017-10-16 22:25] ferventcoder commented on #1878
So I'm guessing this is likely a pipe dream currently as the build scripts get compiled.

[2017-10-16 22:28] jnm2 commented on #1878
But that's the PowerShell way. PowerShell is a dynamic interpreted language. People use Cake because it's the C# way: strongly typed (and prone to needing intellisense 😃). If Cake stopped doing things the C# way, I would lose interest.

[2017-10-16 22:34] ferventcoder commented on #1878
@jnm2 Actually your earlier answer was perfect and pointed me to exactly what I needed to do here:

[code]

[2017-10-16 22:35] ferventcoder commented on #1878
I can't close this issue myself. I think I was overthinking things a bit here, not realizing I already had exactly what I needed.

[2017-10-16 22:37] jnm2 commented on #1878
If you wanted you could also write a helper method and have `EnvironmentVariableAs<SignToolDigestAlgorithm>("CERT_ALGORITHM", "Sha256")`. :D

[2017-10-16 22:38] jnm2 commented on #1878
@ferventcoder @gep13 started the issue, so I'd expect him to be the one to decide to close it. 😄

[2017-10-16 22:39] ferventcoder commented on #1878
I asked Gary to open the issue. 👍

[2017-10-16 22:40] jnm2 commented on #1878
Oh, my bad. That makes more sense now!

[2017-10-16 22:40] ferventcoder commented on #1878
I had to run to a meeting and wanted to capture it as an issue while it was still fresh in our minds.

[2017-10-16 22:43] ferventcoder commented on #1878
I wonder if one could write a cake add in - `ToEnum(value, enumtype)`

[2017-10-16 22:58] jnm2 commented on #1878
I think something like that or `value.ToEnum<EnumType>()` would make a great out-of-the-box Cake API.

[2017-10-17 06:36] wojciechrak opened #1879 "NUnit2 with Process set to Multiple runs tests sequentially"
### What You Are Seeing?
Multiple nunit-agent processes are spawned, but judging by CPU usage, they still run sequentially.
![nunit_1](https://user-images.githubusercontent.com/3034230/31650062-fa0e8f60-b315-11e7-940c-1182e873808a.png)
After a while...
![nunit_2](https://user-images.githubusercontent.com/3034230/31650072-01f55dda-b316-11e7-91f8-d68c1ffe4135.png)

### What is Expected?
Tests are ru

[2017-10-17 06:38] gep13 commented on #1878
@jnm2 we accept PR's </nudge>

[2017-10-17 06:38] gep13 commented on #1878
@jnm2 @ferventcoder I am going to leave this issue open, as I think there is some value to be had from an additional alias/extension to cover this.

[2017-10-18 06:53] devlead opened #1880 "Update from to .NET Core 1.0.4 to 1.0.7"
Microsoft Security Advisory CVE-2017-8585 dotnet/announcements#34 advised because of a security issue in globalization to upgrade to 1.0.7.

I'll prepare and propose a PR for this.

[2017-10-18 08:43] zplan opened #1881 "error MSB4025: .metaproj file not found if .sln contains project dependencies"
### What You Are Seeing?
Building a .net C# Solution with .net 4.5.2

Error MSB4025 when building a solution if .sln file contains project dependencies.
Error message:
Building with tools version "15.0".
C:\abc\Test.wixproj.metaproj : error MSB4025: The project file could not be loaded. Could not find file 'C:\abc\test.wixproj.metaproj'.
Done Building Project "C:\abc\test.wixproj.metaproj" (defaul

[2017-10-18 09:06] colinangusmackay opened #1882 "DeleteDirectory throws exception if directory doesn't exist"
### What You Are Seeing?

This line;
[code]

generates this error if `directory` does not exist.

[code]

### What is Expected?

Since the desired state is that the directory does not exist, the fact that there is nothing to delete means we are already in the desired state and should not throw an exception. (or provide an option to suppress the exception in the event of non-existance.)

### What v

[2017-10-18 09:58] colinangusmackay opened #1883 "Globbing does not support UNC paths"
### What You Are Seeing?

A `NotSupportedException` is thrown when calling `GetDirectories()` with a UNC path.

### What is Expected?

Globbing of UNC paths should work like other paths.

### What version of Cake are you using?

0.23.0

### Are you running on a 32 or 64 bit system?

64 bit

### What environment are you running on?  Windows? Linux? Mac?

Windows 8.1

### Are you running on a CI Ser

[2017-10-18 16:55] nlowe commented on #787
So if I'm understanding #1848 correctly, we need to use the in-process nuget client if we want support for installing addon dependencies?

[2017-10-18 16:56] devlead commented on #787
@nlowe Correct.

[2017-10-18 17:28] nlowe commented on #787
@devlead I enabled the in-process nuget client and added `&loaddependencies=true` to the addin I'm trying to load. A folder is created for the dependencies and they are downloaded, but it seems they're not referenced. When I turn on assembly binding logging, I see that the addin folder isn't even searched:

[code]

If this is not the expected behavior I can open a new issue.

[2017-10-18 17:43] mholo65 commented on #787
@nlowe, no this is not expected behaviour. Could you raise an issue including minimal steps to reproduce?

[2017-10-18 18:24] nlowe opened #1884 "Addin Dependencies are not referenced"
### What You Are Seeing?

In the latest released version of cake you are supposed to be able to have cake install addin dependencies by using the `--nuget_useinprocessclient=true` flag and adding `&loaddependencies=true` to the end of the `#addin` directive. It appears these dependencies are restored to disk but are never referenced which cause an exception to be thrown when they are used by the a

[2017-10-18 18:28] nlowe commented on #1884
I've looked at a few other addins and they seem to bundle their dependencies in their `nupkg`'s so they don't hit this issue. I'm not sure how to do this with the new `csproj` format (or if it's even possible or the right solution).

[2017-10-18 18:53] mholo65 commented on #1884
@nlowe problem is how `BouncyCastle` is packaged. The [`NuGetContentresolver`](https://github.com/cake-build/cake/blob/develop/src/Cake.NuGet/NuGetContentResolver.cs) in Cake doesn't support that structure. The TFM folder is missing under `lib` and instead the `dll` is placed there directly.

The issue is not in In-process NuGet. I'd bet you'll see the same issue with conventional NuGet by just ad

[2017-10-18 18:56] nlowe commented on #1884
Good to know. Also I should probably point out, I think the Bouncy Castle package I'm referencing is community contributed and maintained (The only official way I see to get it on their site is to download a zip of the dll's) so I'm not sure who I'd need to reach out to. I could try the maintainers listed on nuget.org

[2017-10-18 19:42] devlead commented on #1884
@mholo65 package should be corrected yes.
@nlowe yip reach out using the form on nuget.org should be a good first step.

[2017-10-18 19:44] nlowe commented on #1884
Cool. Thanks for the speedy responses guys, much appreciated.

[2017-10-18 19:44] #1884 closed

[2017-10-20 08:28] Ashthos opened #1885 "Cake.CoreCLR dll versions differ from official Nuget offerings."
### What You Are Seeing?

Using Cake.CoreCLR on Linux yields the following warnings:

`Error: Cake.Core.CakeException: Error occurred when compiling build script: (2471,12): warning CS1702: Assuming assembly reference 'System.Text.RegularExpressions, Version=4.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' used by 'Cake.FileHelpers' matches identity 'System.Text.RegularExpressions, Versi

[2017-10-20 08:32] devlead commented on #1885
What does this line look like?
`/opt/buildagent/work/26a5687b42ccd03b/base-versioning.cake(59,78): error CS1503: Argument 4: cannot convert from 'int?' to 'int'`

[2017-10-20 09:22] Ashthos commented on #1885
Line 59 of base-versioning.cake is `return semver;` which is returning a string from a function..

[2017-10-20 12:17] pleb commented on #1594
Yeah. I end up doing validation in the task because I can't print a custom message. I would rather use WithCriteria

[2017-10-22 09:15] johnkors commented on #1870
Getting this error on macOS as well. Is it the same story with Mono, @devlead ..? What do I need to do to get 0.22+ working?

Cake.0.21.0 works fine at the moment.

[2017-10-22 09:27] devlead commented on #1870
Cake 0.22.0+ targets .NET 4.6, which means you'll need Mono 4.4.2 or later, Mono 5.4 was recently released, we currently build Cake with Cake and run integration tests on MacOS and Linux using Mono versions 4.4.2 and 5.2. If you're running an older version of mono, then I'll suggest you'll try a newer version.

[2017-10-22 09:32] johnkors commented on #1870
First time for me running Cake on macOS (only ran it on Win in the past), so not sure which version of Mono I'm running :-)

[2017-10-22 09:34] devlead commented on #1870
Try mono - -version

[2017-10-22 20:24] gep13 commented on #74
@holytshirt thanks for doing the work on this!

[2017-10-22 20:24] #74 closed

[2017-10-23 06:09] #1880 closed

[2017-10-23 09:22] Ashthos commented on #1885
So I have done some manual hacking to try to isolate the issue here. It turns out that the line reported isn't actually where the issue is, but one a few lines below.

The offending line is returning a new System.Version utilising a fourth parameter.  In this case GitVersion.CommitsSinceVersionSource, which is a nullable int. This works fine when run via mono or from a Windows host using the stand

[2017-10-23 09:33] devlead commented on #1885
Assigning a nullable int to int generally won't fly unless doing .Value, something like `variable ?? 0` or casting it.

That commits since version being nullable was a breaking change introduced in 0.23.0.

If it's a Roslyn issue it could potentielly be sorted in latest pre-release of Cake on MyGet ( https://www.myget.org/feed/cake/package/nuget/Cake.CoreCLR ) which uses a newer version of Roslyn

[2017-10-23 10:37] Ashthos commented on #1885
Unfortunately for us I think the Cake.CoreCLR is going to be a dead end for a while, as we use the GitVersion tool plugin. Unfortunately when running on Linux it just does a process.Execute() on the .Net executable which yields an error.  It either needs to reference the dlls or use mono to do the execution, something which I think is a significant change beyond the scope of me just doing a quick

[2017-10-23 11:16] evil-shrike opened #1887 "DotNetCoreRestoreSettings: support option --force"
If we compare

[DotNetCoreRestoreSettings](https://www.cakebuild.net/api/Cake.Common.Tools.DotNetCore.Restore/DotNetCoreRestoreSettings/) and [dotnet restore](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-restore?tabs=netcore2x) we'll that there's no Property in `DotNetCoreRestoreSettings` for `--force` option.

 dotnet restore         | Cake
 -------------------- | ---------
 `--confi

[2017-10-23 11:17] Aleksanderis commented on #1872
Not sure if this issue was solved correctly. Can you clarify please?

There is xUnit console runner for `netcoreapp1.0` and `netcoreapp2.0`, it's just not published as *.exe app. Yes, it's relatively new, but it's included in `xUnit 2.3.0`.
If you add a reference to `#tool nuget:?package=xunit.runner.console` you can find it somewhere in `CakeDir\tools\xunit.runner.console\xunit.runner.console\too

[2017-10-23 11:22] devlead commented on #1887
Force is a new option in version 2.0 of the .NET CLI, if added that should be clearly documented as it won't work with previous versions.

[2017-10-23 11:31] devlead commented on #1872
A proper .NET Core Xunit alias would be a good addition at this point, or flag on xunit which xunit assembly to use.

When executing .NET Core assembles [DotNetCoreExecute(FilePath, ProcessArgumentBuilder)](https://cakebuild.net/api/Cake.Common.Tools.DotNetCore/DotNetCoreAliases/F93D2CCC) is a better option as it handles .NET Core runtime resolution and checks exit code.

[2017-10-23 20:41] olsh opened #1889 "XmlPoke ignores BOM encoding settings"
### What You Are Seeing?
XmlPoke saves a file with BOM even if I choose UTF8 without BOM Encoding

### What is Expected?
XmlPoke saves an XML file without BOM

### What version of Cake are you using?
Cake 0.23.0

### Are you running on a 32 or 64 bit system?
64 bit

### What environment are you running on?  Windows? Linux? Mac?
Windows 10

### How Did You Get This To Happen? (Steps to Reproduce)
1

[2017-10-23 20:58] tpodolak opened #1890 "Unable to suppress standard output redirection"
In my build script, I have to run an application which produces a lot of output, I don't want this output to be redirected to cake however I am unable to do it. I thought it might be an issue with an app I am running, however, I am not even able to hide simple ping process. I've tried a variety of StartProcess overloads including the one with ``ProcessSettings``
[code]
but ping output is still vis

[2017-10-23 21:25] tpodolak commented on #1890
Looks like I misunderstood documentation. Works like a charm. Thanks

[2017-10-23 21:25] #1890 closed

[2017-10-23 21:28] devlead commented on #1889
Would seem encoding is only used with XmlPokeString and should probably be used [here](https://github.com/cake-build/cake/blob/5192d7738ebd36ddf85d83eaee9a0814fe15409e/src/Cake.Common/Xml/XmlPokeAliases.cs#L589) too.

[2017-10-24 00:00] Marusyk commented on #1889
Hello, I'll try to fix it

[2017-10-24 10:53] #1653 closed

[2017-10-24 11:59] #1889 closed

[2017-10-24 16:31] thnk2wn opened #1892 "NuGet 4.4.0 Error Code 1 Packages Already Installed"
### What You Are Seeing?
Having nuget.exe 4.4.0 in Cake/Tools with packages already installed results in error code 1 "all packages are already installed". This causes build.ps1 to fail early restoring tools/addins and stops the build process. Generally this isn't a problem on the build server with fresh downloads and builds but it happens regularly for local builds. Perhaps LASTEXITCODE changes w

[2017-10-24 22:02] bertvansteen commented on #1522
@phillipsj If you didn't start on it yet I would like to allocate some time tomorrow to add MSTest 2017 support and prepare a pull request.

[2017-10-24 22:46] phillipsj commented on #1522
@bertvansteen nope, not yet.  Take it if you want it.

[2017-10-25 03:52] PradeepLoganathan opened #1893 "Vake for Visual Studio 0.2.0.0 crashes constantly."
### What You Are Seeing?
Cake extension is causing VS 2017 15.4.1 to crash constantly. It is replicable easily.

### What is Expected?
Cake extension should not crash.

### What version of Cake are you using?
Cake for Visual Studio 0.2.0.0

### Are you running on a 32 or 64 bit system?
I am running a 64 bit system.

### What environment are you running on?  Windows? Linux? Mac?
Windows

### Are yo

[2017-10-25 08:21] xavierpena opened #1894 "Exception when using ScripArgs with >1 param in powershell"
### What You Are Seeing?

In the windows command line:

E:\svn-hydrique\DbManager\build\_tmp\test.ps1 : A parameter cannot be found that matches parameter name 'param2=val2''.
    + CategoryInfo          : InvalidArgument: (:) [test.ps1], ParentContainsErrorRecordException
    + FullyQualifiedErrorId : NamedParameterNotFound,test.ps1

### What is Expected?

This part of the code should be reached

[2017-10-25 08:38] gep13 commented on #1894
Can you please confirm that you are using the latest Bootstrapper file?  I have just tried the .cake file that you provided (with a slight modification to output the input values) and I get the following...

When just calling build:

![image](https://user-images.githubusercontent.com/1271146/31988794-29ad1b3a-b968-11e7-9d93-d698fe000345.png)

i.e. I get INVALID

When calling with additional Script

[2017-10-25 08:55] xavierpena commented on #1894
I've fetched the bootstrapper again (via Visual Studio Code) like so:

Selected `Cake: install a bootstraper`, and choosing `PowerShell`.

This is the result when I try to run the .ps1 file in the VS console:

![image](https://user-images.githubusercontent.com/10937807/31989523-d28aa952-b972-11e7-99a0-16734b319de6.png)

[2017-10-25 09:00] gep13 commented on #1894
In VSCode, looks like you are using the `cmd` terminal.  To get the command that you are trying to work to run, you are going to need to do it from a PowerShell terminal.

[2017-10-25 09:09] xavierpena commented on #1894
Please excuse my total lack of skills with powershell:

    param1: val1 -param2=val2
    param1: INVALID

![image](https://user-images.githubusercontent.com/10937807/31990238-ce43e9d8-b974-11e7-8f94-2098e4e07020.png)

[2017-10-25 09:19] gep13 commented on #1894
Assuming that you have a PowerShell command window open (which I am guessing due to the blue background) you don't need to run `powershell` as it is already active.  You should be able to run this directly:

`.\test.ps1 -ScriptArgs '-param1-"val1" -param2="val2"'`

That aside though, I still can't reproduce what you are seeing 😢

Okay, next questions...

What version of Cake are you using?
What OS

[2017-10-25 09:25] xavierpena commented on #1894
Yes, you are correct. I did that and I don't know if the error I'm getting may shed some light on the issue:

![image](https://user-images.githubusercontent.com/10937807/31990949-d035c2dc-b976-11e7-99cf-8d9cc220f038.png)

<package id="Cake" version="0.23.0" />

Windows 7 Professional

Major  Minor  Build  Revision
-----  -----  -----  --------
3      0      -1     -1

[2017-10-25 09:28] gep13 commented on #1894
@xavierpena and what version of Cake are you using?

[2017-10-25 09:35] xavierpena commented on #1894
Sorry, I edited it right away. The "<" + ">" were hiding the text:

    package id="Cake" version="0.23.0"

[2017-10-25 09:58] gep13 commented on #1894
@xavierpena and you get the same thing with 0.23.0 as well?

[2017-10-25 10:01] xavierpena commented on #1894
Except for the original post (which used 0.20.0) all other comments show the behavior using 0.23.0.

    INFO: Could not find files for the given pattern(s).

[2017-10-25 10:05] gep13 commented on #1894
Ok, so that output means that you don't have Cake installed globally, so that is good.

Unfortunately, I am at a loss to suggest anything else...

Can you provide the exact command that you are running, and all the files that you are currently using, and I will try to replicate.

[2017-10-25 10:16] xavierpena commented on #1894
I hope the info provided below is enough, otherwise I can upload a .zip file somewhere with the exact files I am using:

	//// folder looks like this:

	* \tools (automatically downloaded by Cake)
	* test.ps1 (created with bootstrapper via Visual Studio Code)
	* test.cake (see code below)

	//// command line:

	powershell -File test.ps1 -ScriptArgs '-param1="val1" -param2="val2"'

	(I specify "pow

[2017-10-25 10:19] gep13 commented on #1894
Can you also provide the bootstrapper that you have?  I want to make sure that it is the same also.

[2017-10-25 11:24] xavierpena commented on #1894
@gep13 Here it is (as I understand it, "boostrapper" == ".ps1 file")

https://pastebin.com/raw/Uiyr77qB

[2017-10-25 12:08] davidreher opened #1895 "Feature request: Support new version of VSTest shipping with VS2017"
Hi all,

in order to get coverage reports for .NET Core, it is now recommended to use VSTest in a newer version (https://github.com/Microsoft/vstest-docs/blob/master/docs/analyze.md#coverage).

This version can be found in `Common7\IDE\Extensions\TestPlatform\vstest.console.exe` compared to `Common7/IDE/CommonExtensions/Microsoft/TestWindow`.

Some parameters have changed as well (it is `/collect:

[2017-10-25 12:12] davidreher commented on #1895
Forget about it, I found it in DotNetCore/VsTest ... Didn't see that before :(

[2017-10-25 12:12] #1895 closed

[2017-10-25 12:35] davidreher opened #1896 "DotNetCoreVSTester: Add setting for --collect switch"
To get code coverage in DotNetCore, you should use VSTest with the `--collect:"Code Coverage"` [switch](https://github.com/Microsoft/vstest-docs/blob/master/docs/analyze.md#coverage). This is not possible today.

I tried using the `Arguments` dictionary (which use a `=` to separate the key and value?!) which is not working.
[code]
Output:
[code]

We should either add a collection of `Collectors` t

[2017-10-26 08:08] jords1987 opened #1898 "Working directory with a space"
What You Are Seeing?
When trying to debug a cake script in vs code I am seeing the "More than one build script specified" error. I think it has something to do with my working directory having a space in a folder name as when I run without a build script specified I get an IO error and it seems to be combining my working path with the path **after** the space (see repro steps).

What is Expected?

[2017-10-26 08:16] mkiedrowski commented on #1894
Shooul't parameters in powershell be separaed by comma?

[2017-10-26 08:17] mkiedrowski commented on #1894
Shouldn't parameters in PowerShell be separated by a comma?
`.\test.ps1 -ScriptArgs '-param1-"val1"',  '-param2="val2"'`

[2017-10-26 08:57] ecampidoglio opened #1899 "Support path concatenation with the `/` operator"
After reading a blog post by @maartenba titled ["Using operator overloads for concatenating file system paths in CSharp"](https://blog.maartenballiauw.be/post/2017/10/26/operator-overloads-concatenate-file-system-path.html), I thought that overloading the `/` operator for the `FilePath` and `DirectoryPath` types would be a nice addition to the Cake DSL.

So, while we can already do this today:

[c

[2017-10-26 10:28] devlead commented on #1896
Before the feature is added, you could try adding arguments using [ArgumentCustomization](https://cakebuild.net/api/Cake.Core.Tooling/ToolSettings/50AAB3A8) and see if that sorts the acute issue.

Launching Cake with [diagnostic verbosity](https://stackoverflow.com/questions/38658660/how-to-enable-diagnostic-verbosity-for-cake) to see the actual command line the tool is launched with.

[2017-10-26 10:32] patriksvensson commented on #1899
This is an awesome idea 👍

[2017-10-26 12:13] xavierpena commented on #1894
@mkiedrowski That solves the issue indeed! Thanks a lot.

I was following [this](https://github.com/nunit/vs-project-loader/blob/master/build.cake#L39) `build.cake` example (and others, I think?) that stated that the usage was `'-param1-"val1" -param2="val2"'` instead of `'-param1-"val1"', '-param2="val2"'`.

[2017-10-26 14:19] davidreher commented on #1896
@devlead Thanks for the tips, this is really helpful.
The command is
[code]
I would have expected that `vstest.console.exe` is called directly. However the command itself is correct ...
I have posted a comment to Microsoft/vstest#579 ... Let's see what they say. In the meantime I will close this and reopen, when required.

[2017-10-26 14:19] #1896 closed

[2017-10-26 14:37] SIkebe commented on #1898
`GetCommandLine()` is called from `Program.cs`.
But the arguments are split by space because they are not quoted properly.

https://github.com/cake-build/cake/blob/b66ac025002d35288583e1b725155aedc0d3f8f9/src/Cake/Program.cs#L39-L42

https://github.com/cake-build/cake/blob/08907d1a5d97b66f58c01ae82506280882dcfacc/src/Cake/Polyfill/EnvironmentHelper.cs#L11-L19

[2017-10-26 14:39] SIkebe commented on #1898
So each argument should be quoted using this?

https://github.com/cake-build/cake/blob/08907d1a5d97b66f58c01ae82506280882dcfacc/src/Cake.Core/Extensions/StringExtensions.cs#L20-L27

[2017-10-26 14:54] jnm2 commented on #1898
**No.** Please see https://blogs.msdn.microsoft.com/twistylittlepassagesallalike/2011/04/23/everyone-quotes-command-line-arguments-the-wrong-way/.

If the path ever happens to end in a backslash, it escapes the ending quote and you're in big trouble.

See https://gist.github.com/jnm2/c5c840bf317605a40f5f56f944db4892 for a safe implementation of  argv quoting with tests.

See also https://github.co

[2017-10-26 14:56] jnm2 commented on #1898
In my opinion, Cake should deprecate AppendQuoted and **autoquote everything passed to Append if necessary**. The problem has been rampant every time I've looked.
My `EscapeProcessArgument` implementation can either quote only if necessary or always.

Again, simply appending and prepending a quote character is dangerous and incorrect.

[2017-10-26 14:57] jnm2 commented on #1898
See also https://github.com/dotnet/corefx/issues/23592.

[2017-10-26 15:19] SIkebe commented on #1898
@jnm2 Thanks!
Can you share your thoughts on this issue?

[2017-10-26 15:34] jnm2 commented on #1898
dotnet/corefx#23592 is a very insightful discussion and I hope Cake takes notice.

Windows is weird in that all the arguments are stuffed in a single string. Linux actually passes processes the equivalent of `string[]`, not `string`. So my thought is that `EnvironmentHelper.GetCommandLine()` should be deleted and everything should rely on `Environment.GetCommandLineArgs()`. If you don't do this, i

[2017-10-26 15:37] jnm2 commented on #1898
This has been an ongoing concern of mine with the entirety of Cake. I started work towards addressing the naive quoting issue but my plate is way overfull. I sincerely hope someone does address it. It's one of the few things that I strongly believe Cake needs to fix ASAP. It's hard to fix properly because poor assumptions about quoting are baked into the `Append` and `AppendQuoted` etc API.

[2017-10-26 15:40] jnm2 commented on #1898
This has been an ongoing concern of mine with the entirety of Cake. I started work towards addressing the naive quoting issue but my plate is way overfull. I sincerely hope someone does address it. It's one of the few things that I strongly believe Cake needs to fix ASAP. It's hard to fix properly because poor assumptions about quoting are baked into the `Append` and `AppendQuoted` etc API when wh

[2017-10-26 18:03] micheleissa commented on #1561
@patriksvensson I'd like to take a try on this one.

[2017-10-26 20:27] daveaglick commented on #849
FYI, just hit this so problem still exists in 0.23.0

[2017-10-26 20:29] mholo65 commented on #849
I think we was ready to remove `DotNetBuild` aliases soon, that is the ultimate fix :smile:

[2017-10-26 20:30] daveaglick commented on #849
That'll do it :smile:

[2017-10-27 00:57] SIkebe commented on #1893
There is a repository of Cake extension for Visual Studio.
https://github.com/cake-build/cake-vs

You should probably raise an issue there.

[2017-10-27 04:05] Rkeerthivasan commented on #652
**Reg:**Failed to install Cake.HockeyApp addins.

 We have tried to upload "zip"   file of WPF sample exe to Hockeyapp. So, We need to use     "Cake.HockeyaPP" addin. While using this addin , we are facing the below issue(refer to the screenshot).     Please share your inputs to resolve the error.
![image](https://user-images.githubusercontent.com/33143080/32087423-416f8bf8-baf9-11e7-832f-24dc8ca7

[2017-10-27 04:18] PradeepLoganathan commented on #1893
Will do thanks !!

[2017-10-27 09:51] ecampidoglio commented on #1899
Is it OK to start on a PR?

[2017-10-27 10:43] devlead commented on #1899
Sure 👍

[2017-10-27 11:37] mkiedrowski opened #1900 "Unable to load dependent DLL in prerelease with In Process NuGet Client"
### What You Are Seeing?
In the command line:
`Method not found: 'Void Microsoft.Azure.Management.ResourceManager.ResourceManagementClient..ctor(Microsoft.Rest.ServiceClientCredentials, System.Net.Http.DelegatingHandler[])'.`
### What is Expected?
Dependencies (DLL files) contained in NuGet Addins or listed as package Dependencies should be loaded by in-process NuGet Client, even if they are in th