[2016-11-25 08:36] janhartmann commented on #1376
Actually I am able to reproduce the issue on my localhost when running cake. dotnet.exe halts and crashes during build. I tried debugging it, but so far not coming any closer to the issue.

[2016-11-25 08:49] gep13 commented on #1376
@janhartmann if you run Cake with Diagnostic Verbosity:

http://stackoverflow.com/questions/38658660/how-to-enable-diagnostic-verbosity-for-cake

And then run the dotnet command that is being used directly in the command window, does it also halt and fail the build?

Trying to isolate whether the issue is with cake, or the dotnet cli.

[2016-11-25 08:53] janhartmann commented on #1376
Yes, it is actually dotnet cli:

[code]

[2016-11-25 08:54] janhartmann commented on #1376
Or maybe a combination of Xunit - I'll move forward from here and closing this issue.

[2016-11-25 08:54] #1376 closed

[2016-11-25 08:55] gep13 commented on #1376
@janhartmann thanks for checking that.  Hope you get it sorted out!

[2016-11-25 10:58] devlead commented on #1376
Btw wonder if this is related to dotnet/core-setup#275

[2016-11-25 11:02] devlead commented on #1376
This could be related to
https://twitter.com/bradwilson/status/800571238854733824

[2016-11-25 11:05] janhartmann commented on #1376
It smells like it. I'll poke around their GitHub issues

[2016-11-25 20:20] gep13 opened #1379 "Add RedirectStandardError to ProcessRunner"
Right now, only `RedirectStandardOutput` is being passed into the ProcessRunner.

Need to also include `RedirectStandardError`

[2016-11-25 20:21] #1379 closed

[2016-11-25 20:53] gep13 opened #1381 "Provide ability to add Custom attributes when creating AssemblyInfo"
This should support both CS and VB AssemblyInfo files.

Also, Custom Attributes may require additional using statements to be added, so should provide ability to do this as well.

**NOTE:** This is dependent on this: https://github.com/cake-build/cake/pull/1380

[2016-11-26 07:27] colin-sim opened #1383 "Add command line option to display build target graph"
Add a command line option, for example, ```--tree```, which displays the entire dependency graph of all tasks in an "ASCII art" format. The example below is of a build script that consists of two "root" build tasks: **Default** and **Release**.
[code]
This is useful when the build script gets bigger, as in the case at our work where we have code in C#, C++, and so on. If tests, packaging, and so o

[2016-11-26 15:12] #1374 closed

[2016-11-27 14:36] #1166 closed

[2016-11-27 14:36] gep13 commented on #1166
@kcamp thanks for working on this!

[2016-11-27 15:17] kcamp opened #1384 "Enhancement: Add support for filtering files in Globbing alias"
`GlobbingAliases.cs` has support for filtering the globbing traversal at the directory level, but no support for filtering files.  I have found that support for logic that is more complex than the globbing expression allows has been useful, and have seen gitter traffic for the same issue.

This would be a trivial addition to make at the method alias level.  I would propose that two overloads be cr

[2016-11-28 09:10] paulomorgado opened #1385 "Bootstrapper (build.ps1) restricts the build configuration to either "Release" or "Debug""
Is there a reason for this, since the  build configuration can be anything the user wants it to be.

[2016-11-28 09:31] patriksvensson commented on #1385
The bootstrapper is meant to be a starting point, so feel free to add new configurations to your bootstrapper as you see fit.

[2016-11-28 12:42] patriksvensson commented on #1385
@paulomorgado Closing this issue, but feel free to reopen it if you need some clarification or you got other questions.

[2016-11-28 12:42] #1385 closed

[2016-11-29 00:50] phillipsj commented on #1243
@vktr Here it is, I have done some testing, but I only created one UWP app.  https://www.nuget.org/packages/Cake.AppPackager/

[2016-11-30 12:55] phillipsj commented on #1377
@gep13 I can take this one if that works for you.

[2016-11-30 12:56] gep13 commented on #1377
@phillipsj sure thing, happy for you to take this.

[2016-11-30 18:18] phillipsj opened #1386 "Add CakeNamespaceImport for BuildSystem Aliases"
The following build system aliases do not have the CakeNamespaceImport attribute:

- TeamCity
- MyGet
- Bamboo

[2016-11-30 18:22] phillipsj commented on #1386
Pull request will be coming shortly.

[2016-11-30 19:30] gep13 commented on #1386
@phillipsj thanks for adding this! :+1:

[2016-12-01 07:40] saasen commented on #753
When running cake on our build server (TeamCity), it's as @dbent says. Since the folders or tools are not versioned, it will not download the latest tool when changing the version of a tool directive. This could be solved by cleaning the directory completely, but it would slow down builds a lot.

[2016-12-01 08:04] robertcoltheart commented on #753
@saasen This is solved by putting tool dependencies in the `packages.config` and using the latest bootstrapper from [here](http://cakebuild.net/docs/tutorials/setting-up-a-new-project). Changes to the `packages.config` and now MD5 checked and tools and re-downloaded if the versions change.

[2016-12-01 17:50] saasen commented on #753
Thanks a lot @robertcoltheart. I'll try that.

[2016-12-02 07:58] saasen commented on #753
@robertcoltheart: I've played around with this, and it seems like I can't get it to work. Let me explain.

Here's the old way of setting up tools and addins in `build.cake`:

[code]

Here's my new `packages.config` file:

[code]

It seems like when I remove the directives from the cake script, everything stops working. It can't find any tools and addins. My guess is we still need the tools and add

[2016-12-02 09:32] gep13 commented on #753
@robertcoltheart the packages.config file is only intended to resolve `tools` that are used by Cake, not for `addins`.  Addins would still need to be resolved using the pre-processor directive, as you were doing before.

[2016-12-02 16:50] WayneHiller opened #1389 "Spaces in #load path will cause an Illegal characters in path error."
If a space is included in the path to the #load directive such as #load "../folder with space/test.cake" an error "Illegal characters in path" will be generated.

It seems the load directive processing is splitting the line by spaces, regardless if it's quoted or not.

[2016-12-02 16:58] agc93 commented on #1389
Caused by the `tokens[1].UnQuote()` call in [this line](https://github.com/cake-build/cake/blob/develop/src/Cake.Core/Scripting/Processors/LoadDirectiveProcessor.cs#L40) of the `LoadDirectiveProcessor`.

Seems to me like changing that line to a `string.Join(' ', tokens.ToList().Skip(1)).UnQuote()` (as messy as that seems) should resolve this.

Thoughts @patriksvensson ? I'm happy to throw together

[2016-12-05 16:48] RehanSaeed commented on #1248
I'm hitting this issue too, using the `-ScriptArgs=` technique is not ideal but works when inside PowerShell. However, when executing PowerShell from cmd (Sadly I'm using a Go.CD CI server) I get the following error:

[2016-12-05 17:35] saasen commented on #753
@gep13: Do you know if there will be any support for versioning of addins, much like tools?

[2016-12-05 17:59] gep13 commented on #753
@saasen going forward, I think the recommendation would be that all tools and addins will be consumed using the preprocessor directives. The difference being that the preprocessor will understand how to request the specific version, and handles upgrades correctly. There is an open issue about this in the 0.18.0 milestone

[2016-12-05 18:02] saasen commented on #753
Sounds good. Looking forward already!

[2016-12-05 20:52] patriksvensson opened #1391 "Integration tests fail on systems with non-english culture"
Will send a PR asap.

[2016-12-05 22:11] #1053 closed

[2016-12-05 22:41] phillipsj commented on #1383
I am willing to try to put together a PR if this is something that the project wants.

[2016-12-05 22:44] gep13 commented on #1383
@phillipsj sure thing. Consider it yours 😄

[2016-12-06 02:49] fleed opened #1392 "Loading of custom addin ends in error CS1704"
I have a custom addin package that depends on `Cake.Common`. When I import it, I get the following error:

[code]

I'm adding it using this directive (it comes from a private package source in `VSTS`):

[code]

And this is the `.nuspec` in the package:

[code]

What am I doing wrong?

[2016-12-06 02:50] kentcb opened #1393 "PowerShell bootstrap script not working with PS 6"
### What You Are Seeing?

When running the [bootstrap script](https://github.com/cake-build/example/blob/master/build.ps1) on PowerShell 6 (.NET core):
[code]

`$PSVersionTable.PSVersion` gives me:

[code]

### What is Expected?

Script should work with new versions of PS.

### What version of Cake are you using?

Haven't gotten that far yet (bootstrapping).

### Are you running on a 32 or 64 bit

[2016-12-06 10:40] nalla opened #1394 "Extend the ICakeEnvironment to contain the PathComparer"
As [discussed on Gitter](https://gitter.im/cake-build/cake?at=582972d188fa21d53c1b8ca7) the `ICakeEnvironment` could provide the environment specific `PathComparer` as an easy to use property. The comparer can then be accessed in a cake script just by calling

[code]

[2016-12-06 11:20] gep13 commented on #1392
@fleed is it possible to share the code for the addin that you are using?

[2016-12-06 11:32] fleed commented on #1392
I need to cleanup some sensible information, but I'll try to

[2016-12-06 13:04] devlead opened #1396 "Remove obsoleted DNU aliases"
DNU tooling Been obsoleted for a few versions, time to remove it from Cake.Common

I'll send an PR shortly.

[2016-12-06 13:06] gep13 commented on #1396
We should add an issue on the website repo as well to document this as well.  I think a new section here: http://cakebuild.net/docs would be required where we can list what has been obsoleted (and in what version), as well as when it was ultimately removed.

[2016-12-06 13:18] devlead opened #1398 "Remove obsoleted Cake.Core\Utilities\Tool.cs?"
`Cake.Core\Utilities\Tool.cs` was obsoleted in cf0f710357f0237d31b15eb65a7ac21df38be554 a.k.a v0.6.0  at Oct 24, 2015

@cake-build/team I feel we should be able to remove this now, the risk is any adin that uses it would break, but we've had other breaking changes since too and I think it's existence is just confusing now.

What do you think? If you agree I'll submit an PR to remove it and assign

[2016-12-06 13:21] gep13 commented on #1398
@devlead I have no objections to removing that, again, as long we document it 😄

[2016-12-06 13:28] devlead commented on #1398
@gep13 Well it would be a breaking change documented in the release and it's been obsoleted for over a year ;)

[2016-12-06 13:49] gep13 commented on #1398
@devlead well, yes, I agree.  But still, a single page, which lists all the obsoletions, and links to the release notes would help to bring everything into one place.

[2016-12-06 14:19] devlead commented on #1398
@gep13 could we automate it? i.e. generate from breaking changes issues?

[2016-12-06 14:21] gep13 commented on #1398
@devlead that would get you "part" of the information that I was thinking about, i.e. when the method was actually removed.  The other part that I was thinking about was when the method was marked as obsolete.  I am not trying to add work for us, but I do think it is meaningful information that would be good to have in one place.  We don't obsolete things very often, so I don't think it will add t

[2016-12-06 14:25] devlead commented on #1398
@gep13 just that we can find it and don't miss anything. Perhaps we should have an soon to be breaking / obsolete label.

[2016-12-07 04:15] fleed commented on #1392
@gep13 here it is: [https://gist.github.com/fleed/946e7a42670a456552aa807000abf79e.js](https://gist.github.com/fleed/946e7a42670a456552aa807000abf79e.js)

I'd like to mention that if I completely delete the `tools` folder created by Cake and run a cake script with that adding again, I get this error:

[code]

Sources are defined in the Nuget.config file.
I have the same error if I add `Cake.Common

[2016-12-07 15:07] agc93 opened #1399 "Support for TF Build Commands"
TF Build (i.e. TFS/VSTS) supports a new logging command documented [here](https://github.com/Microsoft/vsts-tasks/blob/master/docs/authoring/commands.md). These commands are used to control the build process including attaching files, logs, and tags, and updating tasks and timeline records.

This functionality should be added to the existing `TFBuildProvider`.

[2016-12-07 15:51] xclayl commented on #1392
The "Unable to resolve dependency" error happened to me too.  Previously, my project targeted .Net 4.5.2.  When I changed it to target .Net 4.5.0, it started to work.

[2016-12-07 20:39] gep13 commented on #1393
Issue moved to [cake-build/resources #21](https://github.com/cake-build/resources/issues/21) via [**ZenHub**](https://www.zenhub.com/)

[2016-12-07 20:39] #1393 closed

[2016-12-07 20:40] gep13 commented on #1393
@kentcb thank you for raising this.  I am moving this to the resources repo, as that is where the bootstrappers live, and if there is a problem, that is where it should be addressed.

[2016-12-07 20:41] gep13 commented on #1248
@patriksvensson can you comment on this one?  I think this is similar to an issue that you solved a while back.  Thanks!

[2016-12-07 20:57] gep13 commented on #1260
@wallymathieu just wanted to touch base on this issue...

Were you able to move forward with it?

[2016-12-08 01:07] matkoch opened #1401 "Support for dotCover configuration file"
As described in the [help](https://www.jetbrains.com/help/dotcover/2016.2/dotCover__Console_Runner_Commands.html#cover), dotCover can also be called with a `configuration file`:

    dotCover cover <configuration file name> [parameters]

I guess this is especially interesting for specifying filters. Since they might be reused from within the IDE at some point.

[2016-12-08 05:13] gep13 commented on #1401
@matkoch this sounds like a very useful addition. Are you interested in sending a PR to implement this?

[2016-12-08 08:30] wallymathieu commented on #1260
No, the assembly name was kind of a showstopper. I could publish the tool with another name, but I'm not sure what to call it. Any suggestions @gep13 ?

[2016-12-08 08:34] gep13 commented on #1260
@wallymathieu ultimately, this is an issue in Cake, but not sure when this will be resolved, so in the mean time, a change of name would seem to be the obvious course of action.  In terms of name, what about `Cake.SemVer.FromBinary`?

[2016-12-08 15:02] RehanSaeed opened #1403 "Add optional Go.CD Server URL Parameter to GetHistory"
Raised this PR https://github.com/cake-build/cake/pull/1402

A small tweak to the Go.CD GetHistory function to allow you to optionally set a custom GO.CD server URL. This is useful if your URL is different from the default (This can happen if you have used non-standard settings, the environment variable is not always correct sadly).

[2016-12-08 21:43] Meir017 commented on #395
I was playing around with the idea of having a base class for cake scripts (something like [this)](https://github.com/Meir017/Playground/blob/master/CakeFile.cs).

with this I would just need to create a new class that implements the `CakeFile` class and I would get intellisense.

I was thinking of writing some code using roslyn that will convert this code to a real cake file.

for example - https

[2016-12-08 21:58] patriksvensson commented on #395
@Meir017 Great idea but something like that would be a massive breaking change and not really the way we want to go with Cake. It does look like what we've done in [Cake.Frosting](https://github.com/cake-build/frosting), so you could use your idea today if you wanted to 😄

[2016-12-09 01:24] JackUkleja opened #1404 "MsBuildSettings.WithProperty does not escape values"
### What You Are Seeing?
When using the following MsBuildSettings:

      var settings = new MSBuildSettings {
        Verbosity = Verbosity.Minimal,
        ToolVersion = MSBuildToolVersion.VS2015,
        Configuration = configuration
      }
      .WithProperty("Platform", "Mixed Platforms");

msbuild.exe is invoked with the following **unescaped** values which causes it to fail:

`"C:/Program

[2016-12-09 17:17] matkoch opened #1406 "Builder pattern methods"
Throughout the code base there are many methods looking like builder pattern methods. I have three concerns with that:

1. Not all properties have corresponding builder methods. I'd suggest to make them mandatory, thus consistent, but it's not the most important thing :)
2. They are inconsistent in naming. `MSBuildSetting` has 3 different namings already (`Set`, `With`, and `Use`). I suggest to ag

[2016-12-09 22:05] Julien-Mialon opened #1407 "Cake Environment does not detect running on OSX"
### What You Are Seeing?
CakeContext.Environment.Platform.Family return Linux when running on OSX.

### What is Expected?
PlatformFamily.OSX

### What version of Cake are you using?
0.17

### Are you running on a 32 or 64 bit system?
64bits

### What environment are you running on?  Windows? Linux? Mac?
Mac OS X El capitan

### Are you running on a CI Server?  If so, which one?
No

### How Did You

[2016-12-10 09:42] wallymathieu commented on #1260
Sounds good! Should we close this issue and create a new one for the "Assembly" bug?

[2016-12-10 09:42] wallymathieu commented on #1260
Or rename the title?

[2016-12-10 10:16] gep13 commented on #1260
Or rename the title?

Yip, renaming the issue will be fine.

[2016-12-10 10:43] wallymathieu commented on #1260
When running the following script [test.cake](https://github.com/wallymathieu/Cake.SemVer.FromAssembly/blob/integration/test.cake)
I get
[code]

[2016-12-10 13:29] kcamp commented on #1260
@wallymathieu try bumping the verbosity up to `-Verbosity Diagnostic`
That will give you a more specific error.  It appears to be an issue with the actual compilation of the script aliases.

My environment reproduces similar to yours, albeit with different line numbers.

[code]
By stepping into `Cake.Scripting.Roslyn.RoslynCodeGenerator` you can see the code ..
[code]

[2016-12-10 14:20] devlead commented on #1260
`new` is a reserved keyword so probably a bad parameter name, I.e. something like `newPath` would sort it.

[2016-12-10 18:58] kcamp commented on #1260
@wallymathieu the parameter name is almost certainly the problem.  I recall reflecting on your assembly in looking at this earlier and seeing that you were using `@new` as the [escaped] parameter name.  The script alias generation does not do any reserved word filtering to escape parameter names like that.  Change that parameter name and you should be good.   Additionally, I have to wonder if that

[2016-12-10 19:00] kcamp commented on #1260
@devlead is it worth creating an issue for improvement with regard to the script method generation?  It would be easy enough to create a list of reserved keywords to filter against and properly escape the name if we wanted for the library to be fully CLR compliant.

[2016-12-10 21:09] wallymathieu commented on #1260
I've renamed this issue to match what you found. I've also updated the library.

[2016-12-11 10:08] wallymathieu commented on #1260
@kcamp even if it's easy enough, but will it be done? ;)

[2016-12-11 12:52] kcamp commented on #1260
I will have a PR for it at some point in the next day or so.

[2016-12-12 08:28] fleed opened #1410 "Using Globber on a specific directory"
I'm writing a custom cake extension. How could I use glowing search patterns (`**/*.exe` for instance) to search in a specific directory?

If I use `ICakeContext.Globber.GetFiles()` I'm searching in the current directory. And if I get the `IDirectory`, I can only use *standard* search pattern and I'd need to specify the `SearchOptions` as parameter. Anyway, my goal is to give the possibility to co

[2016-12-12 13:00] agc93 commented on #1392
@fleed Are you able to download the NuGet package out of the VSTS feed manually and either publish it somewhere or show us a list of its contents? If `Cake.Common.dll` is being included in the package it might be breaking things.

Also, if possible, a log of the Cake build running with diagnostic verbosity often sheds light on things. I'll have a look over the addin code and see if anything seems

[2016-12-12 14:11] devlead commented on #1410
Well your cake alias will have an context as first parameter so you can use that to invoke GetFiles, so you could do something like below if you have the correct usings.
[code]

[2016-12-12 17:38] akoeplinger commented on #1368
We decided to implement a workaround that would make this scenario not break:
https://github.com/mono/mono/commit/26c17a5b0f2c043a4bbccce2861b815492ad3aa2

It will be available in Mono 4.8.0.383 and later.

[2016-12-12 17:39] devlead commented on #1368
Ah cool, thanks for getting back to us @akoeplinger 👍

[2016-12-12 20:12] phillipsj commented on #1389
So i just ran into this error after upgrading to Cake 0.17 for my build.  But it inst' realated to the load directive.

[2016-12-12 22:49] wwwlicious opened #1411 "Proposal to ilmerge cake.exe dependencies"
Raising an issue on advice from @gep13 in gitter to promote some discussion

Most CI servers have the concept of uploading tooling/binaries which can be distributed to agents and used during builds.

In order to aid the simplest possible integration with various CI platforms,, it would be easier if cake.exe were available as a single binary executable with any dependencies ilmerged into a standalo

[2016-12-13 00:00] agc93 commented on #1389
@phillipsj What is it related to then? I haven't retested @WayneHiller's actual problem since the updates to the load directive (to support custom schemes) came in.

[2016-12-13 00:08] patriksvensson commented on #1389
@agc93 I have no objection to you creating a PR for this 😄

[2016-12-13 00:18] WayneHiller commented on #1389
Have you located what line in your script is causing the error?

[2016-12-13 00:18] phillipsj commented on #1389
It is being thrown by an Addin.

On Mon, Dec 12, 2016 at 7:00 PM Alistair Chapman <notifications@github.com>
wrote:

[2016-12-13 00:44] WayneHiller commented on #1389
I just tested putting a space in the #load path and the error still occurs in version 0.17

[2016-12-13 00:53] patriksvensson commented on #1389
Yes. We will need to fix this for 0.18.

[2016-12-13 01:46] agc93 commented on #1389
@phillipsj I suspect it is a different error then, as I doubt an addin will be affected by changes in the `#load` directive's logic. Could be wrong though.

@patriksvensson @WayneHiller I will try and get a chance to have a look at this today or tomorrow.

[2016-12-15 09:05] fleed commented on #1392
@agc93 I've verified the content and it is like this:

[code]

What's weird for me, is that no dependency can be found:

`Unable to resolve dependency 'Newtonsoft.Json'. Source(s) used: 'nuget.org', 'Cake.ReleaseTools'`

But also `Cake.Common` can't be resolved.

[2016-12-15 15:06] dandrejvv opened #1412 "Proxy config shortcut"
Just a little something for others having the same problem. Don't know where else to comment about this.
(You're welcome to incorporate it into the script if you wish)

Running build.ps1 behind a corporate proxy won't work because you need to let PowerShell know what the proxy server and credentials are.
I didn't want to hard-code that info anywhere but I know of a trick in .NET to do this in two

[2016-12-16 19:04] joro550 commented on #720
Hey, I think I mentioned that i would like to take a shot at this.

I guess I have a few question before taking it too far
* You say that the globber doesn't work with UNC paths for good reason, do you remember what those reason are?
* Should this be grouped under the current Copy Files implementation or be it's own method i.e. Copy Remote files?

[2016-12-17 20:52] Meir017 commented on #395
here is a small POC I did - [intellisense-generator](https://raw.githubusercontent.com/Meir017/Playground/master/cake-intellisense.cs) which allowes me to use the cake syntax (except for the cake keywards `addin`, `tool` & `load`)

[2016-12-18 15:13] agc93 commented on #1407
Just to be clear (since they use different implementations), this is using "normal"/Mono-run Cake, rather than Cake.CoreCLR, yes?

[2016-12-18 16:07] Julien-Mialon commented on #1407
Yes exactly, running on mono implementation

[2016-12-18 16:12] agc93 commented on #1407
Okay, I would imagine this is caused by Mono returning an ID of 4 for macOS/OS X for legacy/compat reasons. The Mono FAQ mentions that [here](http://www.mono-project.com/docs/faq/technical/#how-to-detect-the-execution-platform).

@patriksvensson Any thoughts here? Obviously the .NET Core implementation can use the very neat `RuntimeInformation` bits, and changing to Roslyn will also fix this, but

[2016-12-18 16:14] patriksvensson commented on #1407
@agc93 The .NET Core implementation use `RuntimeInformation`. We need to fix the non .NET Core implementation somehow.

[2016-12-18 16:15] patriksvensson commented on #1407
@agc93 This is what fails: https://github.com/cake-build/cake/blob/develop/src/Cake.Core/Polyfill/EnvironmentHelper.cs#L46

[2016-12-18 16:21] agc93 commented on #1407
Yeah, that's what I was looking at: Mono returns a 4 for compat/legacy reasons. Any way to fix from our end you can think of?

[2016-12-18 16:24] patriksvensson commented on #1407
@agc93 Not at the top of my head. Will investigate when I have some time. Can't test this though since I don't have a Mac. Perhaps @Julien-Mialon can try it out for us?

[2016-12-19 07:53] Julien-Mialon commented on #1407
@patriksvensson I just tested it with this small program :
[code]
The result is :
[code]

Hope that can help you.

[2016-12-19 14:06] phillipsj commented on #1369
Using a combination of @flcdrg code and what is the examples MS provided, I made a wrapper around MSBuild for MSBuild15,  https://github.com/phillipsj/Cake.MsBuild15, thoughts?

[2016-12-19 17:20] meichtf opened #1413 "NugetPush fails when ApiKey contains a special character"
### What You Are Seeing?

NugetPush fails when the apikey contains a special character like the Escape Character ^

### What is Expected?

Cake.Common.Tools.NuGet.Push.NuGetPusher.cs should probably use a QuotedArgument here: https://github.com/cake-build/cake/blob/08907d1a5d97b66f58c01ae82506280882dcfacc/src/Cake.Common/Tools/NuGet/Push/NuGetPusher.cs#L72

### What version of Cake are you using?

[2016-12-19 19:16] phillipsj commented on #1413
What happens when you use your NuGet API Key that is generated.

[2016-12-19 20:49] meichtf commented on #1413
nuget push mypackage.nupkg myapikey:withspecialChar^  -source mysource
would result in:
Response status code does not indicate success: 400 (Bad Request).

However

nuget push mypackage.nupkg "myapikey:withspecialChar^"  -source mysource

works

[2016-12-20 00:31] patriksvensson commented on #1369
@phillipsj An approach we could take is to add everything we can in `Cake.Common` and point the tool location to the default location where it gets installed:

* C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin
* C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\MSBuild\15.0\Bin

We could then have an extension to Cake that gets the proper tool locatio

[2016-12-20 03:35] phillipsj commented on #1369
@patriksvensson That sounds pretty good to me, so you want me to just wrap the interop assembly in an alias that can be used?

[2016-12-20 07:12] meichtf commented on #1413
NuGetPush writes the following error:

System.AggregateException: One or more errors occurred. ---> System.Net.WebException: The underlying connection was clos
ed: An unexpected error occurred on a receive. ---> System.IO.IOException: Unable to read data from the transport connec
tion: An existing connection was forcibly closed by the remote host. ---> System.Net.Sockets.SocketException: An existi

[2016-12-20 21:21] kdubau opened #1415 "The #tool directive does not support the newer NUnit.Console packge"
### What You Are Seeing?
[code]

The NuGet package is retrieved but the tool is not able to be found.

### What is Expected?
The tool can be found!

### What version of Cake are you using?
Cake.0.18.0-alpha0033

### Are you running on a 32 or 64 bit system?
64

### What environment are you running on?  Windows? Linux? Mac?
Windows

### How Did You Get This To Happen? (Steps to Reproduce)
Just add

[2016-12-20 21:54] devlead commented on #1415
Using
[code]

[2016-12-20 23:13] kdubau commented on #1415
Yea, I've reverted to that for now.

[2016-12-20 23:43] devlead commented on #1415
You could probably try and use the `&include=./**/*` syntax introduced in cake-build/cake#1202

[2016-12-21 08:57] fleed commented on #1410
This solution works as expected

[2016-12-21 08:57] #1410 closed

[2016-12-21 08:59] fleed commented on #1392
I've published the solution here: [https://github.com/fleed/Cake.VstsReleaseTools](https://github.com/fleed/Cake.VstsReleaseTools)

[2016-12-21 10:27] patriksvensson commented on #1369
@phillipsj It's your addin, so I can't tell you what to do 😄. However, I think it would be valuable of having VS2017 support out of the box and this would be the best of two worlds (in my opinion).

[2016-12-21 11:48] mholo65 commented on #1401
Quickly checking, the settings param should be added to the abstract DotCoverSettings class and make it available to all DotCover aliases.

If @matkoch is not in a position to send a PR, I could send one when I have time (beginning of January)..

[2016-12-21 16:36] agc93 commented on #1392
Okay @fleed I've had a look and there's a couple of things at play here:

## `nuget.config`

I'm not sure why you have the `clear` in there, only to re-add both the v2 and the v3 feeds, but aside from that, it can't seem to get any packages as dependencies. My "off-the-top-of-my-head-pure-conjecture" is that it's because NuGet is searching for a package `targeting 'Any,Version=v0.0'` which nothing

[2016-12-21 19:47] phillipsj commented on #1369
@patriksvensson I will wrap it in an addin and then you can use it as you suggest.  Do you have anyone doing the Cake side of it by adding enum?  If not I will do it.

[2016-12-21 21:13] aateeque opened #1416 "Enhance TeamCity provider"
This is for tracking enhancements to TeamCity provider so that it is similar to [AppVeyor](https://github.com/cake-build/cake/tree/develop/src/Cake.Common/Build/AppVeyor) so you can do `IsPullRequest` etc in cake scripts

[2016-12-21 21:36] gep13 commented on #1416
@aateeque before doing too much work on this, might be worth adding some notes here about your direction, and how you are going to go about things, so that we can limit the amount of re-work that might be required.

[2016-12-22 09:48] patriksvensson commented on #1369
@phillipsj If you want to make the change, then it would be perfect :smile:

[2016-12-22 12:18] aateeque opened #1417 "Support back-slash in load directive path"
### What You Are Seeing?
Backslashes in `#load` directive in Cake scripts are URI escaped to %5C which results in
[code]

### What is Expected?
The script should execute

### What version of Cake are you using?
Latest on develop branch, sha: 62d3aea

### Are you running on a 32 or 64 bit system?
64-bit

### What environment are you running on?  Windows? Linux? Mac?
Windows

### Are you running on

[2016-12-22 12:19] aateeque commented on #1417
This is a breaking change in the latest bits; script works fine with 0.17.0

[2016-12-22 12:21] aateeque commented on #1417
Think the problem is in `UriDirectiveProcessor.ParseUriFromTokens`; we could swap back slashes for forward slashes here before parsing into `Uri`. @patriksvensson thoughts please?

[2016-12-22 16:04] patriksvensson commented on #1417
Back slashes are not valid in URI:s :(

[2016-12-22 16:07] aateeque commented on #1417
Should have included this above, my cake script has:
[code]

which I think is valide path to a cake script to load, right?

[2016-12-22 16:37] kdubau commented on #1415
That worked!

[2016-12-22 17:11] devlead commented on #1415
superb 👍

[2016-12-22 17:11] #1415 closed

[2016-12-22 18:41] aateeque commented on #1416
So my first attempt is to get data from process env vars. To begin with, I naively assume that you will be using GitVersion which [wants you to setup `env.Git_Branch`](http://gitversion.readthedocs.io/en/latest/build-server-support/build-server/teamcity/#running-inside-teamcity) to correctly pickup pull-requests because TeamCity does not store git branch name in any vars. Following on from this as

[2016-12-23 20:55] gep13 commented on #568
Decided to go with only Gitter and Twitter notifications just now.  Other notifications are handled through existing integrations.

[2016-12-23 21:41] phillipsj commented on #1369
@patriksvensson Pull request submitted https://github.com/cake-build/cake/pull/1419

I think it will need some work, but wanted to get it up for you all to review.

[2016-12-24 03:44] kcamp commented on #1384
For what it's worth & work doesn't get duplicated, I've made good progress in extending the globbing to support this and expect to have a PR for it in the next couple of days.

[2016-12-27 08:09] Meir017 opened #1421 "Support for running dotnet ef commands"
I would like to be able to run dotnet ef commands.

to be used for integration tests.

[code]

[2016-12-27 10:13] SIkebe opened #1422 "Error: Unkown token when directory contains multibyte characters"
### What You Are Seeing?
I upgraded cake version 0.15.2 to 0.17.0
When I run build.ps1 I get the error "Error: Unknown token".
This error occured in 0.16.0 or later version.
Probably because Cake.Core.IO.Globbing.GlobTokenizer.ScanToken() doesn't allow multibyte characters in the directory.
### What is Expected?
Cake scripts should work.
### What version of Cake are you using?
0.17.0
### Are you r

[2016-12-27 17:29] ravensorb opened #1423 "Feature Request: Option to add StdError to exception message for processes"
### What You Are Seeing?
when IProcess objects throw an error, there is a standard message in the exception text that is not very useful (it is almost always the same).

### What is Expected?
It would be ideal if there was an option to place the "standard error" output in the exception message (or create a "Details" property with this output) as it would make it much easier to handle error cases i

[2016-12-28 13:20] bspinner commented on #833
Shouldn't the config-file also be respected by the `build.ps1` and `build.sh` scripts?

[2016-12-28 14:28] patriksvensson commented on #833
No, the bootstrapper script are optional and more of a convenience thing. Each person will need to update their bootstrappers to fit their need.

[2016-12-28 15:26] jnm2 commented on #1276
This is no longer waiting for issuer feedback.

[2016-12-28 15:27] jnm2 commented on #1270
Would like clarification. Are you still interested in a PR?

[2016-12-28 15:28] jnm2 commented on #1277
Would like clarification. Can I implement this as a core feature?

[2016-12-28 15:38] patriksvensson commented on #1277
@jnm2 The problem with something like `using(WorkingDirectory(x))` is that it would manipulate global state. This would make it problematic to do things like task parallelisation. So I think that we wait with a PR until we have way of solving this.

[2016-12-28 15:48] jnm2 commented on #1277
@patriksvensson Oh good! I didn't know parallelization was a goal, but I'm glad it is. I wonder if using `AsyncLocal` for the implementation would be all that's needed?

[2016-12-28 17:16] Meir017 commented on #833
any plans on migrating to the `Microsoft.Extensions.Configuration`? we could use their Ini provider

[2016-12-28 17:23] devlead commented on #833
@Meir017 no, but you could probably reference it as an addin if you want to utilize it in your build scripts.

[2016-12-28 17:26] gep13 commented on #833
@Meir017 just to add a little more to this...

Cake has deliberately not taken dependencies on 3rd Party Libraries.  This has aided us to continue to work seamlessly across all the target operating system and environments.  Granted, libraries such as the one you mention are starting to work everywhere, but in all likelihood Cake will continue with the same premise, i.e. only take a dependency when

[2016-12-29 10:12] aateeque commented on #1416
The useful env vars I have found on my agent are:

[code]

[2016-12-29 11:43] aateeque opened #1424 "Http call in unit test"
### What You Are Seeing?
Failing unit test which attempt to make a web call as I am behind corp proxy

### What is Expected?
Unit tests should not make web calls

### What version of Cake are you using?
On the main branch

### Are you running on a 32 or 64 bit system?
64-bit

### What environment are you running on?  Windows? Linux? Mac?
Windows

### How Did You Get This To Happen? (Steps to Repro

[2016-12-29 17:04] RichiCoder1 commented on #1416
You likely already are using it @aateeque, but https://confluence.jetbrains.com/display/TCD10/Predefined+Build+Parameters is a terrific reference. I've used it extensively in the past when writing build scripts and when I did the first iteration of the TC provider.

[2016-12-29 23:09] wleader opened #1426 "Space in Reference Preprocessor Directive Throws Illegal characters in path"
### What You Are Seeing?
adding a preprocessor directive like this:
    #r "path to/assembly.dll"
or:
    #reference "path to/assembly.dll"
results in:
[code]

### What is Expected?
Assuming the path is valid, the reference should be loaded, if the path is invalid, a file not found exception.

### What version of Cake are you using?
First saw with 0.11.0, updated to 0.17.0 same issue.

### Are you

[2016-12-29 23:10] wleader commented on #1426
Possibly related to https://github.com/cake-build/cake/issues/1389 ?

[2016-12-30 07:41] matkoch commented on #1406
So this received quite some approval. I think it is a general design decision that should be made, also for new code. @patriksvensson, @phillipsj, I remember you guys had something to add, so I'd like to kindly bump this issue.

[2016-12-30 09:30] bspinner opened #1427 "XBuildRunner#GetToolExecutableNames returning wrong executables"
I've noticed, in the code for XBuildRunner are wrong executable names. Looks like some error due to copy&paste.

https://github.com/cake-build/cake/blob/a49462f9cd812a13255122220f9a4b954ea829b4/src/Cake.Common/Tools/XBuild/XBuildRunner.cs#L134

My Pull Request #1425 fixes this.

[2016-12-30 16:58] josemaia opened #1428 "Build fails on certain MSBuild commands from folder with spaces - "Only one project can be specified""
### What You Are Seeing?
Calling certain MSBuild commands that receive a project sends a switch with no escaped spaces or special characters, causing MSBuild to fail.

### What is Expected?
Successful building! :)

### What version of Cake are you using?
0.15.2

### Are you running on a 32 or 64 bit system?
64-bit

### What environment are you running on?  Windows? Linux? Mac?
Windows

### Are you

[2017-01-02 17:02] mholo65 commented on #494
@gep13 if you don't mind, I could give this a try... I've read up on the subject and think I know what needs to be done... :smile:

[2017-01-02 17:06] devlead commented on #494
@mholo65 epic👍  I've assigned the issue to you.

[2017-01-02 17:40] patriksvensson commented on #494
@mholo65 If you pull it off you will be a hero. But no pressure 😉

[2017-01-02 18:01] mvput commented on #494
@mholo65 also can join working on this subject if needed.

[2017-01-02 18:05] mvput commented on #1421
Do you need some  specific commands, or all the commands? There are quite a few commands for dotnet ef.

[2017-01-02 18:08] gep13 commented on #494
@mholo65 sweet!! Please let us know if there is anything you need from us to help make this happen!

[2017-01-02 18:49] mvput commented on #1421
I'm able to build support for the most commonly used commands of dotnet ef as this seems the best option to begin with.

[2017-01-02 20:20] gep13 commented on #1421
@mvput are you planning on approaching this as a PR into this repo, or as a standalone addin?

[2017-01-02 20:22] patriksvensson commented on #1421
@gep13 @mvput I think an addin would be the best option to start with (as always).

[2017-01-04 04:51] gregbty opened #1429 "GitVersionRunner: Url should not be required when specifying Branch and Commit arguments"
Currently the runner requires that the url be specified before the branch and commit arguments are accepted. The following is supported via the GitVersion command line:

[code]

https://github.com/cake-build/cake/blob/08907d1a5d97b66f58c01ae82506280882dcfacc/src/Cake.Common/Tools/GitVersion/GitVersionRunner.cs#L128

[2017-01-04 10:23] AnderssonPeter commented on #80
@mholo65 any news on this? I would like to check that everything is checked into the svn server before doing a produktion release!

[2017-01-04 11:15] mholo65 commented on #80
@AnderssonPeter sorry, havent touched this in a looong while

Did only need svn export, but currently running it using **Process.Start()**

I have something done in this branch https://github.com/mholo65/Cake.Svn/tree/wip/export
If you would like to continue on it, I could have @gep13 transfer it to cake-contrib.

[2017-01-04 12:15] gep13 commented on #80
@mholo65 @AnderssonPeter if you want, happy to move that repo under the Cake-Contrib organisation, and to get you both added to the team associated with it.

[2017-01-04 13:48] GraemeHack opened #1430 "Msbuild.exe found in Env:Path instead of nuget.exe"
### What You Are Seeing?
I have setup a new Cake project using the bootstrapper script `Invoke-WebRequest http://cakebuild.net/download/bootstrapper/windows -OutFile build.ps1`

When I try to run the build.ps1 script I get a nuget restore error which is due to nuget.exe not being found. Instead msbuild.exe is found in the line 135 of build.ps1

`$existingPaths = $Env:Path -Split ';' | Where-Object

[2017-01-05 12:55] marekgd opened #1431 "Add BuildStatisticValue method to TeamCityProvider"
or make WriteServiceMessage method public in TeamCityProvider
so we can send any message to TeamCity

[2017-01-07 11:10] skyline75489 opened #1435 "XmlPeek with XPath functions"
### What You Are Seeing?

XmlPeek is not working properly with XPath functions.

### What is Expected?

It works.

### What version of Cake are you using?

0.17

### Are you running on a 32 or 64 bit system?

64bit

### What environment are you running on?  Windows? Linux? Mac?

Windows 10

### Are you running on a CI Server?  If so, which one?

No.

### How Did You Get This To Happen? (Steps to R

[2017-01-10 11:33] matteo-mosca opened #1437 "GitVersion saves AssemblyInfo in wrong format"
### What You Are Seeing?

Error while building .Net Core project after using GitVersion step

### What is Expected?

No error.

### What version of Cake are you using?

0.17.0

### Are you running on a 32 or 64 bit system?

64

### What environment are you running on?  Windows? Linux? Mac?

Windows 10 x64

### Are you running on a CI Server?  If so, which one?

Running on local development machine

[2017-01-10 12:12] gep13 commented on #1437
@matteo-mosca Cake simply wraps GitVersion, therefore I don't think this is a Cake issue. Could you confirm this by running GitVersion directly, outside of Cake.

If that also doesn't work, I would suggest raising an issue of the GitVersion repository.

[2017-01-10 15:58] fals commented on #1430
I'm also with this issue. The step to restore packages always look for the latest version of MsBuild, wich makes no sense, give that some development/CI teams relies on MsBuild for the target Framework that they are using.

Currently Cake looks for MsBuild v.12.xx.xx.

How do I configure the desired MsBuild Path?

[2017-01-11 11:08] #1399 closed

[2017-01-11 11:31] devlead commented on #1416
fixed by #1433

[2017-01-11 11:31] #1416 closed

[2017-01-11 11:36] devlead commented on #1396
Fixed by #1397

[2017-01-11 11:36] #1396 closed

[2017-01-11 11:39] devlead commented on #1427
Fixed by #1425

[2017-01-11 11:39] #1427 closed

[2017-01-11 11:40] devlead commented on #1386
Fixed by #1387

[2017-01-11 11:40] #1386 closed

[2017-01-11 12:18] devlead commented on #1377
Fixed by #1390

[2017-01-11 12:18] #1377 closed

[2017-01-11 12:28] nalla opened #1438 "Teach XmlPeek to silence warnings, if needed"
The current implementation of the `XmlPeek` alias throws a warning if it cannot find the requested `XPath`. While this is a good thing, there are those situations where could guess multiple values inside the given xml file. In those situations it would be pleasant if one could silence those warnings.

E.g.

[code]

would be such a situation.

See https://gitter.im/cake-build/cake?at=58761aebcbcb28

[2017-01-11 12:39] devlead commented on #669
Fixed by #1420

[2017-01-11 12:39] #669 closed

[2017-01-11 12:39] gsferreira opened #1439 "CopyDirectory - Missing Log information"
When using the CopyDirectory would be nice to have a log of the Files copied.
This is being done in CopyFile for instance.

[2017-01-11 12:39] gsferreira commented on #1439
I will submit a Pull Request on this.

[2017-01-11 13:11] devlead commented on #600
Fixed by #1380

[2017-01-11 13:11] #600 closed

[2017-01-11 13:57] devlead opened #1441 "Optional parameter codegen not invariant"
Doesn't account culture breaks in i.e. with Swedish culture, I'll submit PR shortly.

[2017-01-11 14:08] devlead commented on #1438
Fixed by #1440

[2017-01-11 14:08] #1438 closed

[2017-01-11 14:44] devlead commented on #1381
fixed by #1382

[2017-01-11 14:44] #1381 closed

[2017-01-11 14:46] devlead commented on #1301
@mholo65 just checking what's the current status of this PR?

[2017-01-11 15:16] #1441 closed

[2017-01-11 15:44] devlead commented on #1369
Addressed by #1419

[2017-01-11 15:44] #1369 closed

[2017-01-11 16:03] phillipsj commented on #1406
I can't officially speak for the team, but my recommendation, and the one by @patriksvensson, is to create an addin with the additional functionality. This will give everyone access to it and will also serve as a proof of concept.  It would also help clarify it to others how it works

[2017-01-11 16:08] mholo65 commented on #1301
@devlead sorry, have been doing so much actual work lately that haven't had time and totally forgot about this..

Will try to find some spare time today or tomorrow and send a PR.

[2017-01-11 16:10] devlead commented on #1301
Superb, thank you. :+1:

[2017-01-11 16:47] devlead commented on #1293
Fixed by #1414

[2017-01-11 16:47] #1293 closed

[2017-01-11 20:01] stefandevo opened #1443 "Nuget aliases not on the dsl site"
On http://cakebuild.net/dsl the Nuget aliases are missing from the left navigation bar.
Basically there is no link to http://cakebuild.net/api/cake.common.tools.nuget and http://cakebuild.net/api/cake.common.tools.nuget/bdfa6572

[2017-01-11 20:03] #1443 closed

[2017-01-11 20:03] gep13 commented on #1443
Issue moved to [cake-build/website #244](https://github.com/cake-build/website/issues/244) via [**ZenHub**](https://www.zenhub.com/)

[2017-01-11 20:04] devlead commented on #1443
@stefandevo yes known issure, an addin used same category and that manifested an bug in the code. We' rereving the site so hopefully it gets sorted soon.

[2017-01-11 20:09] stefandevo commented on #1443
Ok thanks!

[2017-01-11 22:02] patriksvensson commented on #1270
Closing issue for now.

[2017-01-11 22:02] #1270 closed

[2017-01-11 22:03] patriksvensson commented on #1424
I didn't know that the `XmlDocument.Load` was touching the network. We should fix this.

[2017-01-11 22:07] patriksvensson commented on #1428
@josemaia Have you tried to quote the `PackageLocation` property? It looks like this at the moment: `/p:PackageLocation=E:\um teste\DEV\build-package\Release`

[2017-01-11 22:11] patriksvensson commented on #1429
@gep13 Any input on this one?

[2017-01-11 22:11] patriksvensson commented on #1426
@wleader Yes, it probably is. Will take a look.

[2017-01-11 22:16] patriksvensson commented on #1426
@wleader It looks like it is. Will try to submit a PR for it tonight.

[2017-01-11 22:28] devlead commented on #1294
Fixed by #1444

[2017-01-11 22:28] #1294 closed

[2017-01-11 22:29] devlead commented on #568
Fixed by #1418

[2017-01-11 22:29] #568 closed

[2017-01-11 23:54] andycmaj opened #1446 "Documentation issue for DotNetTest alias"
### What You Are Seeing?
http://cakebuild.net/api/cake.common.tools.dotnetcore/df2c8647/4bb6f2e8

![cakedocs](https://cloud.githubusercontent.com/assets/97470/21871362/86e87ed6-d816-11e6-933c-e219c88a1fd2.png)

### What is Expected?
Expect `DotNetTest` example instead of `DotNetRun`. Looks liek copy-paste error.

[2017-01-12 12:42] matkoch commented on #1406
@phillipsj this is actually no _additional functionality_. The methods are already there. Both, with _inconsistent naming_ and _surprising behavior_. Also I don't think it's a good idea to put this into an add-in. The builder pattern is a well-known and straightforward pattern. Nothing fancy about it. Just modifying properties of objects in a fluent way. However, splitting only guarantees a harder

[2017-01-12 13:26] agc93 opened #1448 "Cake.Testing package depends on xunit.core package"
### What You Are Seeing?

The NuGet package for `Cake.Testing` includes a dependency (for both `net45` and `netstandard1.6`) on `xunit.core ≥ 2.2.0-beta2-3300`

### What is Expected?

The package should only depend on the correct version of `Cake.Core`

### What version of Cake are you using?

Any version from 0.16.0 onwards (including 0.18.0 CI packages).

### What environment are you running on?

[2017-01-12 13:33] fals opened #1449 "Restore-NuGet-Packages always looking for 'Microsoft.Build, Version=14.0.0.0'"
Cake is always looking for MSBuild 14.0.0 when I do restore my Nuget-Packages. How can I change It to use MSBuildToolVersion.VS2013?

### What You Are Seeing?

Error when the Restore Nuget Package block runs. When I take out this step from the code Build runs.

### What is Expected?

I expect that the Restore step works.

### What version of Cake are you using?
0.17.0

### Are you running on a 32

[2017-01-12 13:45] patriksvensson commented on #1406
@matkoch Yes, there are some inconsistencies, but that is something we have to live with. We should however not introduce more inconsistencies in the code base without thinking it through how we want to APIs to be used. That's why it's better to battle test API improvements as addins until we know that is the way we want to go. (ping @phillipsj)

[2017-01-12 13:49] patriksvensson commented on #1449
@fals You will need to download an earlier version of NuGet.exe in your bootstrapper.

[2017-01-12 14:01] fals commented on #1449
@patriksvensson  What do you mean? I already have the latest version installed on my Visual Studio 2013.

![image](https://cloud.githubusercontent.com/assets/3750960/21892617/da01f342-d8be-11e6-873c-08ecfdee9a24.png)

[2017-01-12 14:04] devlead commented on #1449
You can also specify msbuild version to the nuget.exe with `-MSBuildVersion` arg.

[2017-01-12 14:05] devlead commented on #1449
You can set this via NuGetRestoreSettings
http://cakebuild.net/api/cake.common.tools.nuget.restore/71880157
passed to the restore command
http://cakebuild.net/api/cake.common.tools.nuget/bdfa6572/256fc700

[2017-01-12 14:11] fals commented on #1449
@devlead I changeg my build.cake file to setup the NuGetRestoreSettings as you suggested, but got the same error.

[code]

[2017-01-12 14:13] patriksvensson commented on #1449
@fals What is the path to NuGet that is used? You can run Cake with diagnostic verbosity to see the call to NuGet when restoring packages.

[2017-01-12 14:16] fals commented on #1449
@patriksvensson I did what you said, It's using the nuget from the tools folder as you can see below:

[code]

[2017-01-12 14:18] devlead commented on #1449
What's the version if you execute that nuget.exe manually?

You should see something like:
![image](https://cloud.githubusercontent.com/assets/1647294/21893192/5d47a40c-d8da-11e6-8031-af5a4856a3ea.png)

[2017-01-12 14:18] patriksvensson commented on #1449
@fals So the NuGet that is used is in your tools folder, downloaded by the bootstrapper. You might want to change it to use an older version of NuGet.exe if you can't get it to work.

[2017-01-12 14:19] devlead commented on #1449
Available nuget versions can be found here:
https://dist.nuget.org/index.html

[2017-01-12 14:38] fals commented on #1449
@patriksvensson and @devlead I'm trying to change the NuGet.exe, I have it at the root of the solution, because I enabled NuGet package restore, but It's not working. Which parametter I should set?

[code]

[2017-01-12 14:40] phillipsj commented on #1406
@matkoch I am participating in something very similar with the MSBuild 15 (Visual Studio 2017) integration. It is a very conservative approach, but the Cake API has been very stable, IME, and that is why they are taking this approach.  I know for a fact that I would more than likely use your addin in some of my builds.

[2017-01-12 14:44] fals commented on #1449
Also I noticed, the Enable Package Restore from VS 2013 creates the .nuget buuuut... It's the v3.5:

![image](https://cloud.githubusercontent.com/assets/3750960/21893999/bd05f44a-d8c4-11e6-8aa5-cd487be49c56.png)

I will look for how to use the v2.12

[2017-01-12 15:11] josemaia commented on #1428
As shown in the code sample, I am doing this to add the property to the MSBuild object:

        .WithProperty("PackageLocation", new string[]{packagesDir.ToString()  })

Is there any way I could ensure this is quoted? I attempted to insert ' and " in several places, but it did not work as desired.

[2017-01-12 15:16] patriksvensson commented on #1428
Try `.WithProperty("PackageLocation", new string[]{packagesDir.ToString().Quote()  })`

[2017-01-12 15:34] josemaia commented on #1428
Looks like the .Quote() method did it!

I was unaware it existed, thank you.

[2017-01-12 15:34] #1428 closed

[2017-01-12 17:42] phillipsj commented on #1446
I can take this one, unless the OP wants it.

[2017-01-12 18:18] mvput commented on #1446
This is already fixed with #1434

[2017-01-12 18:56] #1448 closed

[2017-01-12 19:28] #1446 closed

[2017-01-12 20:02] fals commented on #1449
@patriksvensson and @devlead  I did solve the issue. I had to download the v2.xx of NuGet.exe and place somewhere with the solution. Now the restore works using the legacy version of NugetPackage. One thing, the  **MSBuildVersion = NuGetMSBuildVersion.MSBuild1**, doesn't work with NuGet v2.

Thank you for the help!

^^

[2017-01-12 20:05] patriksvensson commented on #1449
@fals Glad you got it working 😄

[2017-01-12 20:05] #1449 closed

[2017-01-12 22:11] #1301 closed

[2017-01-12 22:52] #1389 closed

[2017-01-12 22:52] #1426 closed

[2017-01-12 23:36] devlead commented on #1344
fixed by #1348

[2017-01-12 23:36] #1344 closed

[2017-01-12 23:41] aabenoja commented on #156
Took a stab at this with [this spike](https://github.com/aabenoja/Cake.Parallel). Not ideal, but at least it cut down our 8-minute build time down to five.

[2017-01-13 04:25] aateeque commented on #1431
`ITeamCityProvider` already provides several constructs to speak to TeamCity. Can you share example & details of what `BuildStatisticValue` will do?

[2017-01-13 07:22] devlead commented on #1424
Fixed by #1452

[2017-01-13 07:22] #1424 closed

[2017-01-13 07:42] aateeque commented on #1424
Didn't know about this web request by `XmlDocument.Load` either...probably the only time corp firewalls been useful :)  thanks @devlead!

[2017-01-13 08:26] marekgd commented on #1431
This is needed to integrate Code Coverage report - OpenCover
http://www.fabienruffin.com/integrating-opencover-test-coverage-statistics-with-teamcity/

[2017-01-13 09:00] ecampidoglio commented on #1244
Fast-forward a few months and there are now two add-ins to transfer files with FTP:

- [Cake.Ftp](https://github.com/phillipsj/Cake.Ftp)
- [Cake.Curl](https://github.com/ecampidoglio/Cake.Curl)

It's worth noting that Cake.Ftp [uses `FtpWebRequest`](https://github.com/phillipsj/Cake.Ftp/blob/d0f668ffafdd63ac3850e00387f6a58b459bf22e/src/Cake.Ftp/Services/FtpService.cs#L20) and therefore requires th

[2017-01-13 12:00] matkoch commented on #1406
Sorry but I don't understand 🤔 So far your response has been _do it as an addin_. But this doesn't solve anything.

First, **it doesn't tackle the status quo.** You've mentioned a stable API. At the same time you should ask yourself if you want to carry this burden with you. There will always be people asking:

or more annoyingly

Breaking an API is per se nothing bad. You can always help fixing t

[2017-01-13 15:07] patriksvensson commented on #1406
@matkoch I think we use `With` when you can set multiple values and `Use` when it's a single value.

[2017-01-13 15:09] matkoch commented on #1406
@patriksvensson can you give an example? You mean multiple arguments?

What about the _return a new instance_ stuff? Does it make sense for you?

[2017-01-13 15:15] devlead commented on #1406
@matkoch in general reasoning behind starting as an addin/module is that we can test & bake the API before we merge it into the main project. Addins can also be reved more quickly and in a safe way without risking bloating or creating unnecessary breaking changes in the core,
And if it proves to be consensus around the API then we can pull in a fully baked API. This is especially good when weren't

[2017-01-13 15:17] patriksvensson commented on #1406
@matkoch Example:

[code]

Not sure I agree with the *return a new instance stuff*. Will need to think about it some more and talk with the rest of the @cake-build/team about it since it would require this change for all tools, and it's too big of a change. 

Changes to this approach could be implemented as addins and make it opt-in for now.

[2017-01-13 17:06] aaronasmith commented on #1037
Did anything ever come of this?  We would love to have this functionality implemented as well.

[2017-01-13 22:11] dassie opened #1455 "Logging throws exception when there are curly braces in the string"
### What You Are Seeing?
The following line causes an exception saying "Input string was not in a correct format."
`Information("{Bon}jour");`

Output
[code]

### What is Expected?
Intuitively, I would expect the logging functions to not call into String.Format if the second argument is not passed in. Unlike the line of code above, the following doesn't cause any issues.
`Console.WriteLine("{Bon}j

[2017-01-13 22:13] devlead commented on #1455
It's a tokenized string(like i.e. string.Format), change from `Information("{Bon}jour");` to `Information("{0}", "{Bon}jour");` and it'll work with out issue.

[2017-01-13 22:59] dassie commented on #1455
Ah I see, I just assumed it called into String.Format because the exception messages are the same.

Anyway, thanks for the workaround. I just think the behavior should be more akin to Console.WriteLine which most C# programmers are used to.

[2017-01-13 23:00] dassie commented on #1455
Note: it also makes it safer to print arbitrary strings to the log (having to always use `Information("{0}", myString);` for safety isn't very clean).

[2017-01-13 23:08] devlead commented on #1455
Adding `Information(object value)` extension method that called `Information("{0}", value);` would probably solve this issue.

[2017-01-14 00:10] dassie commented on #1455
Yeah, that would be perfect. Probably not a high priority thing, but something to consider for the future.

[2017-01-14 19:14] devlead commented on #1455
@dassie submitted PR #1456 with suggested fix.

[2017-01-14 23:42] patriksvensson commented on #1455
@devlead System.Format will throw the exact same exception if I'm not incorrect... You need to escape braces.

[2017-01-15 00:23] jnm2 commented on #156
A big issue with parallelism is viewing the log output. I came up with a solution that buffers output so that the log looks exactly like the tasks are executed sequentially, but they are in fact simultaneous. As soon as the first action is finished, all the second action's buffered output is dumped immediately and you get to watch the second action continue live- or, if it's also finished, you see

[2017-01-15 01:45] jnm2 opened #1459 "Globber exception when using a path with a dollar sign"
Same drill as https://github.com/cake-build/cake/issues/1323

[2017-01-15 06:32] devlead commented on #1455
@patriksvensson Yes, but PR doesn't use string.Format, it merely adds two overloads so if only 1 arg it's passed to the value part of log write. Same as console.writeline does. IncludeD integration test that used issuers string without issue.

[2017-01-15 10:22] patriksvensson commented on #1455
@devlead Ok, go for it.

[2017-01-15 10:26] devlead commented on #1455
Did it yesterday #1456

[2017-01-15 12:05] mvput commented on #1421
First version is release with support for database drop and database update commands. https://github.com/cake-contrib/Cake.DotNetCoreEf/releases/tag/0.1.0

[2017-01-15 12:28] gep13 commented on #1421
@mvput great news! I think we can go ahead and close this issue.

[2017-01-15 12:28] #1421 closed

[2017-01-16 14:28] pitermarx commented on #156
might i suggest this for declaring parallel taks. Feel free to ignore if you think it doesn't make sense:

[code]

[2017-01-16 15:38] jnm2 opened #1461 "Non-formatting ICakeConsole.WriteLine overload"
Would you consider adding non-formatting `Write` and WriteLine overloads to `ICakeConsole`?

Let's say I want to write `Information("[0] dll vendor 12 bytes {0} [built]")` or something similar in my Cake script. This errors out because it's getting passed as `ICakeConsole.WriteLine("[0] dll vendor 12 bytes {0} [built]", new object[0])`.

The only workaround is for me to escape every `{` and `}`, b

[2017-01-16 16:00] jnm2 opened #1462 "IsDependentOn with multiple tasks"
I'd like to be able to use `IsDependentOn(IEnumerable<> tasks)`:

[code]

[2017-01-16 16:00] pitermarx commented on #884
this is what I love about cake
[code]

[2017-01-16 16:07] aateeque commented on #884
Pr #1433 provides this info in `ITeamCityProvider`

[2017-01-16 16:52] pitermarx commented on #884
sure, but it does not provide access to all the properties in teamcity.
Should this issue be closed?

[2017-01-16 17:21] devlead commented on #1462
That's just an extension method so sounds like a reasonable addition, wouldn't break anything.

[2017-01-16 18:10] mholo65 commented on #884
@pitermax wuut? Is properties file available as XML? Last time I checked, it was a Java-properties file (similar to INI) just like the example @devlead provided above.

[2017-01-16 21:15] devlead commented on #1461
Adding a method to the interface would be an breaking change, adding 2 extension methods would not be, similar to what's done in cake-build/cake#1456

[2017-01-16 21:18] jnm2 commented on #1461
@devlead Yes, but how would the extension method be implemented?

[2017-01-16 21:18] jnm2 commented on #1461
@devlead Oh, I see the PR. Interesting.

[2017-01-16 21:22] jnm2 commented on #1461
Unless you want the `ICakeConsole` implementors to be able to separate and colorize the args, I'd prefer the breaking change to remove the args parameters and use extension methods to `string.Format`. That means implementors won't be responsible for the string.Format logic. But yeah, I guess breaking changes aren't awesome even in `0.x` releases.

[2017-01-17 06:04] aabenoja commented on #156
I feel like it should be during the dependency graph analysis that it should determine how to best spin off and schedule tasks on their own threads. I feel that introducing any special syntax is unnecessary, as the same task definition should would regardless of parallelization.

@jnm2 As soon as I dropped my parallelization module into my project my build logs were almost useless. I think I'll ta

[2017-01-19 02:01] Redth opened #1463 "NuGet Tool Locator system paths on mac need updating"
### What You Are Seeing?
It looks like mono stopped creating `/usr/local/bin/nuget` at some point in new installs.  If the symlink is broken, it may cause errors in cake, although removing the symlink altogether seems to be ok as long as the nuget.exe is locatable in ./tools/ or some other known location.

We should probably add the 'new' known location for `nuget` to the list of possible system p

[2017-01-22 14:39] pvwichen commented on #1037
No... I am not in a position to do this anytime soon so it is up for grabs.

[2017-01-23 03:52] flcdrg opened #1466 "NUnitSettings does not have X86 property"
Unlike NUnit3Settings, NUnitSettings does not have an `X86` property, so there is no way to specify that NUnit tests should run in x86 mode.

[2017-01-23 07:37] gep13 commented on #1466
@flcdrg are you in a position to submit a PR to correct this?

For now, you should be able to use ArgumentCustomization to add the required additional parameters to the tool.

[2017-01-23 07:38] patriksvensson commented on #1466
@flcdrg There is one: http://cakebuild.net/api/Cake.Common.Tools.NUnit/NUnit3Settings/B4C75865

[2017-01-23 07:39] gep13 commented on #1466
@patriksvensson that is `NUnit3Settings`.  The issue here is for `NUnitSettings`

[2017-01-23 08:00] patriksvensson commented on #1466
@gep13 Ah, I misread.

[2017-01-23 08:13] molehillrocker opened #1467 "XML examples are broken in XmlPoke docs"
### What You Are Seeing?
XML examples are broken in the XmlPoke docs, because they are not visible. Instead of the XML content, ``]]>`` is printed (see image).

![image](https://cloud.githubusercontent.com/assets/7221361/22196095/b3166642-e14b-11e6-8053-35b6fd892389.png)

However, the XML content is available in the DOM, so it seems to be an issue with unmatched HTML tags or something.

### What i

[2017-01-23 09:09] #1467 closed

[2017-01-23 09:09] devlead commented on #1467
Issue moved to [cake-build/website #270](https://github.com/cake-build/website/issues/270) via [**ZenHub**](https://www.zenhub.com/)

[2017-01-23 10:56] flcdrg commented on #1466
I probably can.

Yes, I since noticed ArgumentCustomization as another option, and also
found some comments on Gitter about someone using the NUnit3 with the
Driver package.

On 23 January 2017 at 18:07, Gary Ewan Park <notifications@github.com>
wrote:

[2017-01-24 03:28] flcdrg commented on #1466
@gep13 Actually using ArgumentCustomization wouldn't work for this, as you need to run a different test runner, rather than just pass in different arguments.

PR submitted, comments welcome :-)

[2017-01-24 08:41] nimendra commented on #472
Hi,
[code]

doesnt work for me -

If I use specific paths, instead of bin/* it does create the nupkg.
Any ideas? Thanks

[2017-01-24 10:48] olivier-spinelli commented on #796
I have the same issue but can't find where the EOT is mising :(
May you explain yours?

[2017-01-24 11:23] devlead commented on #796
AppVeyor keeps same line endings as repo, you could try overriding that with something like this:
https://github.com/cake-build/cake/blob/develop/appveyor.yml#L1-L3

[2017-01-24 16:38] patriksvensson commented on #472
@nimendra It would be better if you created a new issue or reached out in our Gitter channel than posting on a closed issue. Makes it impossible to track potential fixes over releases. Thanks!

[2017-01-24 18:13] Redth opened #1469 "Mac OSX is not properly detected when running on Mono"
### What You Are Seeing?
`Environment.Platform.Family` returns `PlatformFamily.Linux` when running cake under mono on MacOS.

### What is Expected?
It should return `PlatformFamily.OSX`

### What version of Cake are you using?
0.17

### Are you running on a 32 or 64 bit system?
64

### What environment are you running on?  Windows? Linux? Mac?
Mac

This should be fixed with PR #1465

[2017-01-24 18:28] gep13 commented on #1469
@Redth thank you!

[2017-01-25 11:00] rvhelden opened #1470 "fails to compile with nuget"
### What You Are Seeing?
When running build.ps1 i get the following output
[code]

### What is Expected?
No errors

### What version of Cake are you using?
0.17.0.0

### Are you running on a 32 or 64 bit system?
x64

### What environment are you running on?  Windows? Linux? Mac?
Windows 10 Enterprise version 1607

### Are you running on a CI Server?  If so, which one?
No

### How Did You Get This

[2017-01-25 11:16] devlead commented on #1470
I suspect this is related to #787, currently any needed dependencies would need to ship with either Cake or the addin itself(either as own assembly or ILMerged into addin).

[2017-01-25 12:14] rvhelden commented on #1470
I think so, if i pack all the dependencies together in the same nuget package then it works

[2017-01-25 14:13] patriksvensson commented on #1470
@rvhelden Just make sure you have distribution rights for the affected assemblies. It should also work if the user adds `#r Microsoft.CodeAnalysis.dll` to their script.

[2017-01-26 15:26] #1463 closed

[2017-01-26 16:57] Gudahtt commented on #1430
@GraemeHack Is `msbuild.exe ` on your Path? If so , this problem is probably caused by https://github.com/cake-build/resources/issues/22

Update to the latest bootstrapper, and check to see if this still occurs.

[2017-01-26 17:53] Gudahtt commented on #1449
I'm having this problem as well, with NuGet `3.5.0.1938`. I see the same problem when trying to call NuGet.exe directly with `-MSBuildVersion 12`

It works fine with NuGet v3.4.4. It looks like this was broken in NuGet v3.5.

[2017-01-26 17:57] devlead commented on #1449
If so I suggest yo raise an issue at [nuget/home](https://github.com/nuget/home/issues) and reference this issue.

[2017-01-26 17:58] Gudahtt commented on #1449
Yep, will do! Doing a bit more investigation first.

[2017-01-26 19:26] Texernie opened #1471 "NuGetToolResolver does not use the environmental override by default"
### What You Are Seeing?
When the NUGET_EXE environment variable is set and cake runs an extension like NuGetPack, the NuGetToolResolver class may not return the expected executable. This could cause a buggy nuget or a nuget that doesn't support the required features to be used.

### What is Expected?
The path set in the environment variable to be returned by default.

### What version of Cake are

[2017-01-26 19:36] Texernie commented on #1471
Commit a94d9ae7 created in fork https://github.com/Texernie/cake for this.

[2017-01-26 19:49] gep13 opened #1472 "Correct issue with GitLink Alias Category"
This is currently marked as GitTools, when it should be GitLink:

https://github.com/cake-build/cake/blob/08907d1a5d97b66f58c01ae82506280882dcfacc/src/Cake.Common/Tools/GitLink/GitLinkAliases.cs#L22

PR incoming

[2017-01-26 21:19] Gudahtt commented on #1449
Seems to work fine if I build the NuGet client from their development branch. Must have been fixed in v4.

[2017-01-27 03:37] EdinaLewis opened #1475 "Forwarded args from dotnet core commandline lose their quotes"
### What You Are Seeing?
More than one build script specified.

### What is Expected?
One build script specified

### What version of Cake are you using?
0.17

### Are you running on a 32 or 64 bit system?
64bit

### What environment are you running on?  Windows? Linux? Mac?
Windows

### Are you running on a CI Server?  If so, which one?
No

### How Did You Get This To Happen? (Steps to Reproduce)

[2017-01-27 08:11] devlead commented on #1472
Fixed by #1473

[2017-01-27 08:11] #1472 closed

[2017-01-27 08:11] devlead commented on #1469
Fixed by #1465

[2017-01-27 08:11] #1469 closed

[2017-01-27 08:11] devlead commented on #1466
Fixed by #1468

[2017-01-27 08:11] #1466 closed

[2017-01-27 08:16] devlead commented on #1439
Fixed by #1447

[2017-01-27 08:16] #1439 closed

[2017-01-27 14:13] #1471 closed

[2017-01-27 14:27] Redth opened #1476 "MSBuild on Mac/Linux"
We now ship an implementation of `msbuild` with mono on Mac (it's an option on linux, but not by default, and not fully supported, so I think we can avoid it here for now).

The MSBuild resolver needs to be updated to be able to find this.

PR to follow :)

[2017-01-27 14:34] Redth commented on #1476
This should probably cause some more discussion about how DotNetBuild work too.  I think for now it's best to leave the behaviour as is, and people can opt into using MSBuild specifically on Mac if that's what they intend.

[2017-01-27 15:07] waynebrantley opened #1478 "Fail when script errors"
### What You Are Seeing?

  When you have a syntax error in the code, the build script compile fails (of course).  However, the exit code is 0 and no 'error' is reported to build system.   This makes it look like it succeeded.

   In a similar manner.  If the code that runs before any TASK runs throws an exception, it exits with a code of zero and it looks like the build failed.

### What is Expec

[2017-01-27 15:39] waynebrantley commented on #1478
I put the example call to SymVersion that crashes inside ``Setup()`` and that still didn't report an error.

[2017-01-27 16:01] devlead commented on #1478
How are you calling Cake from TeamCity? Any error should result in a non zero.

Just tried this:
[code]
Result
![image](https://cloud.githubusercontent.com/assets/1647294/22377444/43874c14-e4b2-11e6-9b0a-b00ac4d0cf0f.png)

[2017-01-27 16:05] waynebrantley commented on #1478
https://github.com/cake-build/cake-teamcity/blob/develop/MR_Cake.xml

''Invoke-Expression "& `"$cakePath`" `"%mr.Cake.script%`" -target=`"%mr.Cake.target%`" -verbosity=`"%mr.Cake.verbosity%`" %mr.Cake.arguments%"``

Is there another way?

[2017-01-27 16:15] devlead commented on #1478
try adding `;exit $LASTEXITCODE`

For Cake I use:
[code]

But if you have the cake exe pre installed and available you should just be able to use a ,net process runner.

[2017-01-27 16:30] Gudahtt opened #1479 "Add File Touch API"
I'd like some way to 'touch' (i.e. set the last write time to the current time) a file using cake.

Basically to do this: `System.IO.File.SetLastWriteTimeUtc(fileName, DateTime.UtcNow);`

Does that sound like something you would consider accepting a PR for, or should I create this as an addin instead? I figured it'd fit well within Cake.Common.IO, following the same pattern as the other basic file

[2017-01-27 20:00] Redth opened #1480 "ProcessRunner needs Redirect Standard Input"
This might seem like a bit of an unusual request, but `ProcessRunner` needs to implement the ability to redirect stdin.  So, `IProcess` needs a `StreamWriter StandardInput { get; }`, and `ProcessSettings` needs a `bool RedirectStandardInput { get;set; }`.

The use case is developing an addin for Android's `sdkmanager` utility.  Unfortunately they don't provide a command line argument to accept the

[2017-01-27 20:39] waynebrantley commented on #1478
That did it.
https://github.com/cake-build/cake-teamcity/pull/5

[2017-01-27 20:39] #1478 closed

[2017-01-28 22:05] gep13 commented on #1479
@Gudahtt I think that this would make sense as an addin.  However, I don't think that we should create a new addin, but rather extend an add that already exists, namely:

https://github.com/Redth/Cake.FileHelpers

I think a PR to that repo would make sense.

What do you think @Redth

[2017-01-28 22:13] Redth commented on #1479
That sounds like a good idea to me. Will implement Monday unless someone makes a PR before that :)

[2017-01-28 22:19] gep13 commented on #1479
@Redth I noticed that there was a couple PR's outstanding on that repo as well.  Is that something you would be in a position to look at?  Or would you like to move that addin into the cake-contrib repo, so that others in the community can help?  Thanks!

[2017-01-28 22:57] Redth commented on #1479
I'll have a look at those as well.

[2017-01-28 23:20] Gudahtt commented on #1479
Great! I hadn't seen that addin before, that's perfect.

@Redth I'll write up a PR this evening.

[2017-01-29 00:34] patriksvensson commented on #1480
@Redth Sounds like a good idea.

To follow the existing code style of `IProcess`, perhaps we could make it `public StreamWriter GetStandardInput()`?

[2017-01-29 00:41] #1479 closed

[2017-01-29 15:10] #1276 closed

[2017-01-29 20:31] #1363 closed

[2017-01-29 20:44] #1403 closed

[2017-01-29 20:45] gep13 commented on #1403
@RehanSaeed this issue has now been resolved, as your PR has been merged.  Thanks for your contribution!

[2017-01-29 20:52] #1455 closed

[2017-01-29 21:03] gep13 commented on #1394
@nalla thank you for raising this, but at this time, we don't think that this is required.

Comment from PR:

Consumers could always use the PathComparer.Default to get the default path comparer for the environment they're on.

As a result, we have decided to close this issue.

Please feel free to re-open this issue if further discussion is required.

[2017-01-29 21:03] #1394 closed

[2017-01-30 14:38] drinkbird commented on #1295
I was able to reproduce the issue. In a blank folder, I downloaded the bootstrapper, created a cake project with a single target which fails intentionally, and executed the build. Then I checked everything in git, including `tools/Cake/*`.

When I run the build in Jenkins, I can see that cake re-downloads Roslyn from nuget, ignoring the fact that these files already exist in `tools/Cake/`. Here is

[2017-01-30 14:45] gep13 commented on #1295
@drinkbird is this on a public repo?  Can you confirm that the dll's and exe's did in fact make it into the repository?  Normally dll and exe files are ignored by default, so you would be no normally override those settings.  Can you confirm that this is what you did?

[2017-01-30 14:47] phillipsj opened #1481 "Add support for NuGet Init and Add commands"
Add support for nuget init and add commands to support local feeds.

[2017-01-30 14:57] drinkbird commented on #1295
@gep13 It's a private repo but I could easily recreate the structure in a public one if necessary. Here's a screenshot of the Cake folder in jenkins, everything seems to be there. I also checked the git commit and the files have been added correctly.

![cake](https://cloud.githubusercontent.com/assets/1180736/22427726/279cc83e-e6fc-11e6-8586-9b2e59b4d61f.JPG)

Here's the interesting part. When I e

[2017-01-30 20:48] phillipsj opened #1483 "Duplicate depedencies references in project.json for Cake.Testing.XUnit"
This was discussed with @patriksvensson on Gitter.  [Here](https://github.com/cake-build/cake/blob/develop/src/Cake.Testing.Xunit/project.json#L34) contains duplicate dependencies which is causing builds to fail.

[2017-01-30 21:54] jnm2 opened #1485 "Enable correlation of stdout and stderr in ProcessRunner"
The way `ProcessRunner` is implemented right now, redirected stdout and stderror cannot be correlated. The output is [buffered into two different queues](https://github.com/cake-build/cake/blob/v0.17.0/src/Cake.Core/IO/ProcessRunner.cs#L113-L140).

The API is designed such that you are forced to consume each collection of lines separately. [`IProcess.GetStandardOutput()` and `GetStandardError()`](

[2017-01-31 08:56] peter-perot opened #1486 "NullReferenceException in closure"
### What You Are Seeing?

A `NullReferenceException`.

### What is Expected?

`this != null`

### What version of Cake are you using?

0.17.0

### Are you running on a 32 or 64 bit system?

64 bit

### What environment are you running on?  Windows? Linux? Mac?

Windows

### Are you running on a CI Server?  If so, which one?

No.

### How Did You Get This To Happen? (Steps to Reproduce)

## _[Edit:

[2017-01-31 11:41] peter-perot commented on #1486
**Hint:** This bug only appears if the closure is in a local block.

[2017-01-31 11:46] gep13 commented on #1486
@peter-perot do you also get this issue if you pass the `--Experimental` flag when running Cake?

[2017-01-31 12:07] devlead commented on #1486
@peter-perot there's a missing semicolon after the delegate declaration, does it work if you add that?

![image](https://cloud.githubusercontent.com/assets/1647294/22464252/384840cc-e7b6-11e6-85ad-335697c8c5c3.png)

[2017-01-31 20:48] peter-perot commented on #1486
Sorry, guys, I tried to reduce my script to a minimum and made a mistake. Here comes the corrected script to reproduce the bug (**and the bug also appears if I use the `--Experimental` flag**):

[code]

When I leave out the `if` block, the script works okay. The same is true when I leave out the _local block braces_.

IOW: This code works okay (the code I accidentally posted first):

[code]

This

[2017-01-31 20:59] peter-perot commented on #1486
Two more examples:

This code (with `if (true) { }` block) reproduces the bug:

[code]

This code (sort of an IIFE) works okay again:

[code]

[2017-01-31 21:01] peter-perot commented on #1486
And a last one for today:

This example works:

[code]

[2017-02-01 06:20] patriksvensson commented on #1486
@peter-perot Can you run the script with diagnostic verbosity and post the complete log here?

[2017-02-02 06:53] peter-perot commented on #1486
Here comes the log:

Running this script...

[code]

... produces that log:

[code]

[2017-02-02 10:23] patriksvensson commented on #1486
@peter-perot The reason for that is that `myaction` isn't available in the outer scope.
This code in a regular Console application would fail as well:

[code]

[2017-02-02 10:34] peter-perot commented on #1486
@patriksvensson: But `myaction` **is** available in the outer scope since it is declared at the beginning of the code.

[code]

and **not**

[code]

However – the following code works without an exception when running in a console application, but it will throw an `NullReferenceException` in Cake:

[code]

[2017-02-02 12:02] patriksvensson commented on #1486
@peter-perot Seems like it's a bug in Roslyn scripting I'm afraid. Not much we can do about it :(

[2017-02-02 12:05] peter-perot commented on #1486
@patriksvensson: Seems there is a similar bug in Roslyn: https://github.com/dotnet/roslyn/issues/16895

Should I file a new issue there?

[2017-02-02 12:10] devlead commented on #1486
@peter-perot  Sounds reasonable and reference this issue.

[2017-02-03 16:57] pitermarx opened #1487 "Usage of -NoCache on installing tools and addins"
### What You Are Seeing?
I cannot install tools and addins from nuget when the internet connection is down because of the usage of the [-NoCache](https://github.com/cake-build/cake/blob/develop/src/Cake.NuGet/NuGetPackageInstaller.cs#L231) flag
### What is Expected?
I expect that nuget uses local cache

### What version of Cake are you using?
0.17.0

### Are you running on a 32 or 64 bit system?
6

[2017-02-06 10:15] pitermarx commented on #1487
Can you elaborate the reasons for the '-NoCache' flag?
Can it be safely removed or should it be an option? (opt in or opt out)
Will this be possible to address on 0.18 ?

[2017-02-06 10:30] patriksvensson commented on #1487
@pitermarx I seriously can't remember the reason for `-NoCache` but I'm pretty sure it had a reason back in the days. We could probably add a new parameter `&nocache` to make it opt-in.

Not sure if we can get it in 0.18 unless you're willing to submit a pull request as soon as possible.

[2017-02-06 10:47] pitermarx commented on #1487
on it

[2017-02-06 11:37] pitermarx commented on #1487
https://github.com/cake-build/cake/pull/1488

I'm not sure if you'd want more unit tests

[2017-02-06 11:39] patriksvensson commented on #1487
@pitermarx Left a comment in the PR 👍

[2017-02-06 13:37] pitermarx commented on #1487
already added 2 tests. any more work required?

[2017-02-07 20:20] jnm2 commented on #156
Okay so how about this use case:

I want to run unit tests and integration tests before building the installer, but both take a while. So what I'd like to do run both at the same time, but cancel building the installer as soon as any test fails. If the installer task finishes before the tests, it should wait for the tests to complete (or fail) before staging the build installer files.

[2017-02-07 20:36] jnm2 commented on #156
In pseudocode:

[code]

[2017-02-07 22:53] aabenoja commented on #156
[code]

We have a similar setup on the project I dropped my module in. `unit-tests`, `integration-tests` and `build-installer` have their own dependencies setup. In the end, these three tasks will all run in parallel and the staging tasks just waits until these are done. If any of these tasks fail the exception bubbles up and the whole build fails; `stage-installer` gets skipped completely.

[2017-02-08 13:48] jnm2 commented on #156
@aabenoja Much cleaner! However, no early exit for `"build-installer"` which is one of the longest parts for me. They are intrinsically different: I want `"build-installer"` to exit as soon as any of the tests fail, but I want all test runs to complete even if any of them fail. Could we do this?

[2017-02-08 13:51] jnm2 commented on #156
It's a little weird getting my head around the fact that Tasks execute in two stages: 1. `IsDependentOn` tasks are executed in parallel (if possible) 2. `Does(() => ...)` run afterwards, not in parallel with the dependencies. So if you want to force something to not be parallel, you have to create an additional task and separate the non-parallelizable part into a `Does` section. Seems solid enough

[2017-02-08 20:06] aabenoja commented on #156
Actually, `build-installer` would exit early if it takes significantly longer than either of those test tasks and if either of them fail. I recently fixed an issue where the error wouldn't kill the other task chains. What it doesn't do, however, is continue to run the test tasks regardless of the failure of the others. I think that is something better addressed as a configuration of the individual

[2017-02-08 20:10] jnm2 commented on #156
I'm thinking cancellation should be opt-in. `Thread.Abort` [has issues](https://github.com/nunit/nunit/issues/1996) for this time of thing and really isn't recommended. I'd be more in favor of passing a CancellationToken and having real cleanup, as in, running process get killed.

So along those lines, it makes even more sense to me if the dependencies are not parallel unless opted in. Seems the s

[2017-02-08 20:54] aabenoja commented on #156
Which I am. I've been generating task chains for each dependency, sharing tasks where necessary, and passing around a single CancellationToken across all tasks.

[code]

To go more in-depth on what I've done, `build.ps1 -t unit-tests` will execute `"nuget-restore" -> "compile" -> "unit-tests"` all sequentially. Same with `build.ps1 -t integration-tests`. The `tests` task will run `restore` and `co

[2017-02-08 21:17] aabenoja commented on #156
Another example is a mvc web app. Before we create a deployable zip to drop into iis we want to ensure javascript is compiled, javascript tests are passing, our dlls are generated, and xunit tests (both unit and integration) are run. We shouldn't care what order these things and their dependencies occur, just that they happen, no different than when setting up the task without parallelization in m

[2017-02-08 23:39] jnm2 commented on #156
That's certainly an opinionated way for Cake to go, but it might be a good thing.

[2017-02-09 10:55] devlead opened #1490 "Update .NET Core SDK to at least 1.0.0-preview2-003131"
Currently used 1.0.0-preview2-003121 has issues with newer versions of the Linux kernel, this is fixed in 1.0.0-preview2-003131 or later.

Now affects GitLabs and Bitbucket Pipelines which I've applies workarounds for.

[2017-02-10 10:04] pascalberger opened #1492 "Add ChocolateyNew Alias"
Add a new alias for creating new Chocolatey packages running the `choco new` command.

[2017-02-10 15:11] liquidvapour commented on #514
Hi,

We have just started using Cake and I agree with @jrnail23.

Took us one day to hit this issue. Would you accept a pull request that 'fixed' this?

[2017-02-11 20:28] #1483 closed

[2017-02-11 21:27] jnm2 opened #1493 "MoveDirectory and CopyDirectory with overwrite"
Please support overwriting with `MoveDirectory` and `CopyDirectory`.

A bool parameter in the third position would make sense, wouldn't it? This seems common enough and similar enough to other APIs:

[code]

Or should an entire options class be created in order to specify `Overwrite`?

[2017-02-13 15:31] mvput opened #1494 "DotNetCoreBuild VS2017 csproj not supported"
Trying to build a .NETCore Console Application created with VS2017 RC using cake. Following line is used for executing the build.

`DotNetCoreBuild("./src/ConsoleApplication1/ConsoleApplication1.csproj", settings);`

When running the script the task fails with error:

`An error occurred when executing task 'Build'.
Error: Cake.Core.CakeException: Failed to parse project properties
   at Cake.Incub

[2017-02-13 15:35] gep13 commented on #1494
@mvput am I right in saying that you are using Cake.Recipe?  Or are you using Cake.Incubator directly?

If the former, then I haven't tested Cake.Recipe on .Net Core Projects, but it is on my radar.  There are likely some assumptions that I have made for .net projects, that won't translate over to .Net core projects.

If the latter, then I think this issue is best raised here: https://github.com/c

[2017-02-13 15:42] mvput commented on #1494
@gep13 Yes i'm using Cake.Recipe. Tested with a minimal build script without Cake.Recipe and seems to work. So problem seems to be with Cake.Incubator.

[2017-02-13 16:00] gep13 commented on #1494
Cake.Recipe attempts to read the csproj file in order to determine project type, to know where to copy output to.  This format is completely different in .net core projects, and may be that Cake.Recipe needs to find another way to do this for .net core.

As I said though, Cake.Recipe has not been tested on .net core projects, and I wouldn't recommend using it for those just yet.

[2017-02-13 19:41] gep13 commented on #1494
Closing this, in favour of https://github.com/cake-contrib/Cake.Incubator/issues/10

[2017-02-13 19:41] #1494 closed

[2017-02-13 20:10] #1487 closed

[2017-02-13 20:39] #1492 closed

[2017-02-13 20:41] gep13 commented on #1492
@pascalberger thank you for making this addition!

[2017-02-13 21:27] gep13 commented on #1481
@phillipsj I have just merged in the change that you made, thank you very much for your contribution!

[2017-02-13 21:27] #1481 closed

[2017-02-13 22:09] devlead opened #1495 "Typo in SignTool docs"
http://cakebuild.net/api/Cake.Common.Tools.SignTool/SignToolSignAliases/3F30C445

[code]
should be
[code]

I'll submit PR shortly.

[2017-02-14 05:40] #1495 closed

[2017-02-14 11:37] patriksvensson commented on #514
@liquidvapour See my previous reply to the original thread (12, Nov, 2015).
This is by design.

[2017-02-16 23:53] threenine opened #1497 "Build Failing on 1.0.0-rc4-004771"
Hi Guys,

I tried out a CakeBuild script on .netcore RC4 this evening on my ubuntu desktop.   Before I installed RC4  I tested my existing build script on an existing project and it was working.

I installled RC4, tried out the script on the same project and it is now failing.

The  error I recieve is:

Executing task: Build
An error occurred when executing task 'Build'.
Error: ApplicationName='/u

[2017-02-16 23:56] RichiCoder1 commented on #1497
I'm 90% sure Cake is still only `project.json` tooling which breaks w/ RC3+ tool, aka the `.csproj` tooling.

[2017-02-17 07:49] patriksvensson commented on #1497
Could you publish your build log (running with diagnostic verbosity) here and I'll see if I can help out.

[2017-02-17 09:01] patriksvensson opened #2905 "(Frosting) Require working directory argument"

[2017-02-19 21:45] garywoodfine commented on #1497
Hi guys apologies for the late reply!  I think @RichiCoder1 hit it on the head. I had upgraded my project to  make use of the .csproj format.  Which  doesn't seem play nice with Cake at this stage.

[2017-02-20 15:35] fleed opened #1500 "Is PAT authentication supported for NuGet aliases?"
Is `ApiKey` the only supported authentication method for NuGet?

I'd like to use `cake` with `VSTS` package management [(https://www.visualstudio.com/en-us/docs/package/nuget/auth)](https://www.visualstudio.com/en-us/docs/package/nuget/auth), but I'd need a `username` + `password` authentication to use the generated `PAT`, while the API seems supporting the `ApiKey` method only.

Any help in the r

[2017-02-21 14:00] devlead opened #1501 "DownloadFile typo in docs"
Typo in https://github.com/cake-build/cake/blob/develop/src/Cake.Common/Net/HttpAliases.cs DownloadFile XmlDoc aliases.
States `"./outputdir"` but it's an `FilePath` so should be output file.

Example
http://cakebuild.net/api/Cake.Common.Net/HttpAliases/63914425

I'll submit PR shortly.

[2017-02-21 20:42] #1501 closed

[2017-02-21 20:45] pascalberger opened #1503 "Add ChocoPack alias for an IEnumerable<FilePath>"
Add ChocoPack alias for an IEnumerable<FilePath> like it already exists for [NuGetPack](http://cakebuild.net/api/Cake.Common.Tools.NuGet/NuGetAliases/811F8B9C)

[2017-02-21 20:48] pascalberger opened #1504 "Add ChocoPush alias for an IEnumerable<FilePath>"
Add ChocoPush alias for an IEnumerable<FilePath> like it already exists for [NuGetPush](http://cakebuild.net/api/Cake.Common.Tools.NuGet/NuGetAliases/354BEEEF)

[2017-02-22 11:44] patriksvensson opened #2904 "(Frosting) Tool installer should respect configuration"
Frosting should support [configuration](https://cakebuild.net/docs/running-builds/configuration/set-configuration-values).

[2017-02-23 10:26] dguder commented on #1370
After struggling a while with proposal of @RichiCoder1. I found out that only the one from @devlead in the first comment (https://github.com/cake-build/cake/issues/1370#issuecomment-262208959) works  (with 0.17.0). BTW: It works when started from VS Code in debug mode.
I have no glue why the results are different and I wanted to peek into the created assembly but I don't know how to get it out of

[2017-02-23 13:01] pascalberger opened #1505 "Showdescription paramater should list tasks alphabetically"
Currently the `showdescription` lists tasks in the order they were defined. IMHO it would more useful if they were listed alphabetically.

[2017-02-23 13:04] pascalberger opened #1506 "Split tasks in main and sub tasks"
The [gulp-task-listing](https://www.npmjs.com/package/gulp-task-listing) plugin has a concept of main and sub-tasks which IMHO improves readability of a task listing like `showdescription` a lot. It would be nice if Cake can support a similar feature.

[2017-02-23 13:07] pascalberger opened #1507 "Add support for dependencies to "maybe-existing" targets"
Currently the `IsDependentOn` extension requires that the depentend on task exists. While writing Cake scripts which are shared among different projects it can be usefule to make a task in the shared script dependent on some other task, which serves as extension point for the concrete Cake script using the shared script.

[2017-02-23 14:41] kvanover opened #1510 "Missing MSBuild15 on enum NuGetMSBuildVersion for VS 2017"
Enum needs to be changed to

[code]

Thanks a lot

[2017-02-24 21:06] jnm2 opened #1512 "Please support C# 7 and Roslyn v2"
Even with the experimental flag, Cake only runs Roslyn v1.0.0-rc2.
It results in things like [not being able to write extension methods](https://github.com/dotnet/roslyn/issues/9139#issuecomment-282400188).

I want to invest in a platform that will stay up to date with C# 7.x scripting features.

What work is there to do to arrive at support of Roslyn v2 (releasing March 7) without requiring an ex

[2017-02-24 21:51] patriksvensson commented on #1512
@jnm2 We have plans to integrate it in 0.19 as well as deprecating the Mono script engine.

[2017-02-24 22:12] jnm2 commented on #1512
That's great news!

[2017-02-25 03:12] patriksvensson commented on #1512
@jnm2 Yes! We only have to make sure that it's not a blocker for people who want to stay on Mono.

[2017-02-26 04:07] osnoser1 commented on #1459
Not only with dollar sign, but also with many special characters.

## What version of Cake are you using?
Version 0.17

## What environment are you running on? Windows? Linux? Mac?
Windows 10

## Are you running on a CI Server? If so, which one?
Local (Windows)

## How Did You Get This To Happen? (Steps to Reproduce)
Create a directory with a [á|é|í|ó|ú] in the Directory Name

## Bad output log
![

[2017-02-26 04:08] osnoser1 commented on #1459
@devlead

[2017-02-27 11:56] pascalberger commented on #514
Having the same issue.

IMHO there should be a way to have a conditional dependency. Which doesn't mean that `B` or `A` won't run, but that `B` or `A` won't run just for `C`. If another task depends on `B` or `A` they still should be run.

Our use case is that we have one task which runs a gulp script and one task which restores npm packages. Running gulp script depends on having npm packages rest

[2017-02-27 13:24] devlead commented on #514
Before dependecy graph is changed in any way, "WeakDependencies" perhaps could be something introduced as a alias/method to executed before _RunTarget_ basically it could check for task existence by iterating over the [ICakeEngine.Tasks](http://cakebuild.net/api/Cake.Core/ICakeEngine/B497CC6F) and if both exist add the dependency.

[2017-02-27 16:17] dtatcox commented on #117
This is my meta runner:  https://github.com/dtatcox/meta-runner-power-pack/tree/dtatcox-cake/Cake

[2017-02-28 18:03] thomaslevesque opened #1513 "signtool.exe should be called only once when signing multiple files"
Currently the [Sign method](http://cakebuild.net/api/Cake.Common.Tools.SignTool/SignToolSignAliases/1612ABB3) calls signtool.exe for each file to sign. It's not actually necessary, signtool can sign multiple files at once, which is noticeably faster.

[2017-02-28 18:03] thomaslevesque commented on #1513
I'll send a PR soon.

[2017-03-01 15:14] phillipsj opened #1515 "Addin directive errors with non-standard nuget packages."
When trying to using NuGet packages that don't use the "lib/net45" content location with the AddIn directive, I am receiving the following error:

    Could not find any assemblies compatible with .NETFramework, Version=v4.5.
    Error:  Failed to install addin 'WinSCP'

How to recreate:

1.  Add the following AddIn directive

    #tool nuget:?package=WinSCP

2.  Run build.ps1 and receive the erro

[2017-03-01 15:37] phillipsj commented on #1515
The work around is to pull it down as a tool and use the reference directive to pull it in.

[2017-03-01 15:45] patriksvensson commented on #1515
@phillipsj In this case your only option is using `#tool` with `#r` like you mention that you do. You will encounter the same problem in VS.

Unless the WinScp package author changes the package to conform to the standard NuGet conventions it's not much we could do about it at the moment :/

What we theoretically could do in the future, that might be usable for other packages, is to add a paramete

[2017-03-01 15:58] phillipsj commented on #1515
@patriksvensson Now that sounds like a cool feature, that way users could "opt-in" to load those if you know they can use it.

[2017-03-01 16:05] devlead commented on #1515
Though, preferably with .NET Core hopefully soon going mainstream, ideally addins should use correct framework monikers.

[2017-03-01 17:09] jnm2 commented on #1493
@gsferreira I have tried that angle, but the need is intrinsic. I'm ILMerging into an assembly of the same name, so I need to specify a temporary folder for the output so the output doesn't overwrite the input .dll, .pdb and .xml. This causes ILMerge to crash. However as soon as ILMerge is finished, I need to copy whatever files are in the temporary directory into the original folder. The overwrit

[2017-03-01 18:23] phillipsj commented on #1515
@devlead @patriksvensson Cool, you all can close this if you want, its fine with me.

[2017-03-02 09:42] nrjohnstone-coolblue opened #1516 "XUnit console runner and binding redirects"
I have a test assembly that is using Microsoft.Owin.Testing to spin up a WebAPI2 project in memory and execute some integration tests.

Microsoft.Owin.Testing has a dependency on NewtonSoft.Json 6.0.0.0 so if I upgrade the WebAPI project to NewtonSoft.Json 9.0.0.0 then it correctly applies the binding redirects to the test project as well.

Running the tests in NCrunch and Resharper means the test

[2017-03-02 09:44] #1516 closed

[2017-03-02 09:44] nrjohnstone-coolblue commented on #1516
Never mind... just discovered I was passing "NoAppDomain = true" in the XUnit settings.... DOH !

[2017-03-02 15:37] RehanSaeed commented on #1369
What are the plans to get this released? I could really use this right about now.

[2017-03-02 17:12] damianh commented on #1369
Will this work with just MSBuild tools and not the full fat Visual Studio? (I'm not installing VS on my build agents).

[2017-03-02 17:41] damianh commented on #1369
![image](https://cloud.githubusercontent.com/assets/57436/23519330/c55687bc-ff76-11e6-818e-34221367b20f.png)

1. The default install directory is not the same as any of the VS2017 editions.
    `C:\Program Files (x86)\Microsoft Visual Studio\2017\BuildTools\MSBuild\15.0\Bin\MSBuild.exe`
    `C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\MSBuild.exe`
2. One can cho

[2017-03-02 17:48] phillipsj commented on #1369
You can always set the build tool path in the settings.

On Mar 2, 2017 12:41 PM, "Damian Hickey" <notifications@github.com> wrote:

[2017-03-02 18:19] phillipsj commented on #1369
@RehanSaeed @damianh You all should be able to use this nuget package from myget with Cake 0.17 to handle it for now.  https://github.com/phillipsj/Cake.MsBuild15/tree/develop

[2017-03-02 18:23] phillipsj commented on #1369
@damianh If you use the addin I created then it should find the build tools.  I will submit a pull request and get it added to cake as a default location.  As far as custom locations, you will need to either define it yourself in the tool settings or use the new addin I will be creating that uses the MS interop locater.

You can see the "build tools" directory is included https://github.com/Micros

[2017-03-02 18:29] damianh commented on #1369
Ah good stuff Jamie; thanks for posting!

On 2 Mar 2017 7:23 p.m., "Jamie Phillips" <notifications@github.com> wrote:

[2017-03-02 19:23] flcdrg commented on #1369
Just saw this post with another option for finding where 2017 is installed.
https://blogs.msdn.microsoft.com/heaths/2017/02/25/vswhere-available/

Get Outlook for iOS

On Fri, Mar 3, 2017 at 4:59 AM +1030, "Damian Hickey" <notifications@github.com> wrote:

Ah good stuff Jamie; thanks for posting!

On 2 Mar 2017 7:23 p.m., "Jamie Phillips" <notifications@github.com> wrote:

—
You are receiving this

[2017-03-02 19:33] devlead commented on #1369
@flcdrg oh that wswhere tool looks like an excellent option for cake👍

[2017-03-02 19:39] damianh commented on #1369
@devlead what would be the best way to integrate this tool into cake?

[2017-03-02 19:42] damianh commented on #1369
I've asked them to create a tools nuget package. https://github.com/Microsoft/vswhere/issues/21

[2017-03-02 19:43] devlead commented on #1369
@damianh superb 👍

[2017-03-02 19:48] devlead commented on #1369
@damianh as It's a tool It's a soft dependency we could potentially introduce as an "wswhere" alias in Cake.Common.

[2017-03-02 20:06] phillipsj commented on #1369
@devlead You want me to open a new issue to add build tools to the OTB resolution?  I am happy to add the Cake.Common alias if no one else is wants it.

[2017-03-02 20:35] damianh commented on #1369
It appears `vswhere` doesn't find the installed BuildTools MSBuild https://github.com/Microsoft/vswhere/issues/22

[2017-03-02 20:37] devlead commented on #1369
@damianh yet?😉

[2017-03-03 17:31] RehanSaeed commented on #1369
If you are using the fluent style of configuring MSBuild, you don't seem to be able to set a custom tool path using an extension method.

[2017-03-04 08:50] devlead commented on #1369
Excellent NuGet package now avail & Chocolatey package in moderation queue.

https://www.nuget.org/packages/vswhere

https://chocolatey.org/packages/vswhere

So a Cake alias would be neat 😉
@phillipsj if your up for it, raise an issue and I'll assign it to you.

[2017-03-04 09:18] flcdrg commented on #1369
Just approved the Chocolatey package.

On 4 March 2017 at 19:20, Mattias Karlsson <notifications@github.com> wrote:

[2017-03-04 11:23] phillipsj opened #1517 "Add VSWhere support"
As discussed in #1369 , please assign to me and I am going to try to get this added this weekend.

[2017-03-04 11:27] phillipsj opened #1518 "Add "build tools" path for MSBuild 2017 to MSBuildResolver"
This was also discussed in #1369 , MSBuild added a stand alone product separate from Visual Studio that installs in a location other than Enterprise, Professional, or Community.  You can assign this to me and I will get it added.

[2017-03-04 13:04] phillipsj commented on #1517
@devlead I already have a lot of this stubbed out.  I need to think about the use cases that are supported by the tool and decide what to add.  I may just add getting the installation path as that is the most needed.

[2017-03-04 13:32] devlead commented on #1517
@phillipsj getting the FilePaths first sounds good to me.

[2017-03-04 18:12] phillipsj commented on #1517
Here is currently what I have, I am still thinking through the implementation.  Feedback welcomed.

https://github.com/phillipsj/cake/tree/GH1517-add-vswhere-support

[2017-03-04 19:16] RehanSaeed commented on #1344
I'm trying to change the cake tools folder. I've changed this line in my `build.ps1` to point to a `cake-tools` folder:

[code]

However, NuGet addins are still downloaded to a `tools` folder. Will this PR fix that?

[2017-03-04 19:40] devlead commented on #1344
Cake's default folders can be changed thru configuration, read more about it at
http://cakebuild.net/docs/fundamentals/configuration

You can read more about the default values and how to override then at
http://cakebuild.net/docs/fundamentals/default-configuration-values

[2017-03-04 23:29] #1518 closed

[2017-03-05 17:18] damianh commented on #1517
@phillipsj great that you took this on so quickly. I think this is on critical path for cake users who need to use the new MSBuild 15 BuildTools on their CI servers. (It is for me anyway).

Open a `[WIP]` PR and lgtm?

[2017-03-05 21:00] phillipsj commented on #1517
That is a great suggestion, I will do it.

On Mar 5, 2017 12:18 PM, "Damian Hickey" <notifications@github.com> wrote:

[2017-03-06 02:33] phillipsj commented on #1517
@damianh The pull request is here now.

[2017-03-06 16:44] matkoch opened #1521 "Tools resolution doesn't respect added 'prerelease' filter"
### What You Are Seeing?

Tool "GitVersion" was not updated to v4.0.0-betaxxxx.

### What is Expected?

An update.

### What version of Cake are you using?

Latest I guess on Win10/x64.

### How Did You Get This To Happen? (Steps to Reproduce)

- Had `#tool "nuget:?package=GitVersion.CommandLine"`
- Changed to `#tool "nuget:?package=GitVersion.CommandLine&prerelease"`
- Nupkg inside `tools` folder

[2017-03-06 20:12] patriksvensson commented on #1521
@matkoch You will need to clear the folder manually before the new version will be downloaded.

[2017-03-06 20:28] matkoch commented on #1521
@patriksvensson Shouldn't the `#tool` directive always pick the highest possible package, if no version was specified? I think that makes sense.

[2017-03-07 08:17] #1510 closed

[2017-03-07 08:46] #1503 closed

[2017-03-07 09:49] #1504 closed

[2017-03-07 14:17] devlead commented on #1260
fixed by #1409

[2017-03-07 14:17] #1260 closed

[2017-03-07 15:08] #1513 closed

[2017-03-07 22:55] dukeofharen opened #1522 "The MSTest tool doesn't pick up the mstest.exe from Visual Studio 2017"
### What You Are Seeing?
I run the unit tests like this:
[code]

I get the following error when running the build script:
[code]

### What is Expected?
I expect my unit tests to run.

### What version of Cake are you using?
0.17

### Are you running on a 32 or 64 bit system?
64 bit

### What environment are you running on?  Windows? Linux? Mac?
Windows 10

### Are you running on a CI Server?  If s

[2017-03-07 23:02] dukeofharen commented on #1522
I already had a peek in the source code and saw this piece of code in `MSTest\MSTestRunner.cs`:

[code]

This code assumes a specific path format, but it seems the format has been changed for Visual Studio 2017 (Community).
Old: `Microsoft Visual Studio 14\Common7\IDE`
New: `Microsoft Visual Studio\2017\Community\Common7\IDE`

I might send a pull request, as soon as I have time and I have the sour

[2017-03-08 04:04] phillipsj commented on #1522
Great catch!  Don't know why I didn't consider this when adding the MSBuild support for 2017.   Temporarily you should be able to set the toolpath in the settings file.  Let me know if you would like some assistance on the pull request, more than happy to help.

[2017-03-08 04:05] phillipsj commented on #1522
I meant you can set the ToolPath in the MSTestSettings class that you pass.

[2017-03-08 06:19] JackUkleja opened #1523 "Make cake bootstrapper use stable binary versions by default?"
Today in my build I've started getting this error:

`Error: The assembly 'Cake.Compression, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null' is referencing an older version of Cake.Core (0.14.0). This assembly need to reference at least Cake.Core version 0.16.0. Another option is to downgrade Cake to an earlier version.`

This was also the day Cake 0.18 was released so I am guessing this is

[2017-03-08 06:23] devlead commented on #1523
Well the idea is that you commit packages.config to your repo and by doing so you pin the version of Cake being used.

[2017-03-08 06:34] devlead commented on #1523
See https://github.com/cake-build/example

Only thing committed in tools is packages.config

Build.ps1/build.sh will do a md5 check on packages.config and if it changes clear tools and update cake.

[2017-03-08 06:49] JackUkleja commented on #1523
Is there a way to specific a different cake.exe version without using packages.config?

[2017-03-08 06:51] devlead commented on #1523
Yes, you could specify the version parameter to nuget install command.

[2017-03-08 06:55] devlead commented on #1523
You can see an example of that here
https://github.com/cake-build/cake/blob/develop/build.ps1#L105-L112

[2017-03-08 07:18] gep13 commented on #1522
@dukeofharen to be clear, using this: `Microsoft Visual Studio\2017\Community\Common7\IDE` directly, isn't going to work.  That path looks specific to the Community Edition of Visual Studio, and likely be different in the higher SKU's.  As a result, any PR to correct this would need to delve a little deeper into finding the new location.

[2017-03-08 08:59] dukeofharen commented on #1522
I've found this article about someone having problems locating the IDE folder: http://www.visualstudioextensibility.com/2016/11/23/some-implications-of-the-new-modular-setup-of-visual-studio-2017-for-vsx-developers/

You can install multiple versions of Visual Studio 2017 next to eachother. As far as I can tell, you only have the Community, Professional and Enterprise editions. Would it be OK to j

[2017-03-08 09:38] devlead commented on #1522
User can install in any drive, multiple versions is possible - especially if you have the build tools installed. But we could of course check the possible default paths first.

@phillipsj couldn't these path also derive from the work done in #1520?

[2017-03-08 09:40] gep13 commented on #1522
@devlead I was going to ask the same question, i.e. if the vswhere.exe could help.

[2017-03-08 11:22] phillipsj commented on #1522
I think what we should do is to make defaults like we did in the MSBuild.
With that said I would want to refactor that all to make a
VS2017ToolResolver that both tools could use to locate default Vs installs.

@dukeofheron there is also BuikdTools location so that would need to be
there.

On Mar 8, 2017 4:40 AM, "Gary Ewan Park" <notifications@github.com> wrote:

[2017-03-08 11:59] thomaslevesque opened #1524 "Error: SignTool SIGN: Password is required with Certificate path but not specified."
### What You Are Seeing?

When I use the `Sign` method with a `CertPath` specified but no `Password`, `Sign` fails with the following error:

### What is Expected?

It should sign the file; the certificate I use has no password (it's a self-signed certificate for dev purpose). signtool.exe doesn't enforce a password when using a certificate file.

### What version of Cake are you using?

0.18.0

#

[2017-03-08 12:09] devlead commented on #1524
Looking at code it password is currently required by Cake, but as you say you can have passwordless certs.
https://github.com/cake-build/cake/blob/0632cae5ae8d0cf1af925c794d31db58aa458460/src/Cake.Common/Tools/SignTool/SignToolSignRunner.cs#L150-L155
[code]

[2017-03-08 12:40] devlead commented on #1524
@thomaslevesque is this something you would like to send a PR for?

[2017-03-08 12:55] thomaslevesque commented on #1524
Absolutely (in fact I intended to, but only had time to submit the issue). It should be simple enough to fix, so you can probably expect a PR later today.

[2017-03-08 12:59] gep13 commented on #1524
but only had time to submit the issue

Not a problem.  This is exactly the correct process 👍

[2017-03-08 13:00] gep13 commented on #1524
@devlead should we class this as a bug fix, and release 0.18.1?

[2017-03-08 14:27] devlead commented on #1524
@gep13 It's been like this since start, so don't think a hotfix is needed - we can ship it with next version, we can push some of the v0.19.0 features to v0.20.0  and release it sooner than later,

[2017-03-08 14:43] agc93 commented on #1476
Fixed by #1477

[2017-03-08 14:43] #1476 closed

[2017-03-09 07:48] #1524 closed

[2017-03-09 11:55] patriksvensson commented on #1505
@pascalberger The new behavior you're suggestion is very opinionated. The current behavior is to list the tasks in the order they're executed (and not the order they are defined).

Another approach to this could be to respect a `--sort` flag when listing the tasks.

[2017-03-09 11:57] Sam13 opened #1527 "Loading Cake script from NuGet and from local filesystem does not work"
Affected version Cake 0.18.0 on Windows 64 bit

When having the following two cake scripts:
https://gist.github.com/Sam13/fbcef707aec67f8c7274230fc1f9c6ec

and try to run
`cake.exe Build.cake -target=Hello2`
the following error is reported:
`Error: The target 'Hello2' was not found.`

When loading the `Build2.cake` before the NuGet package the target is executing.
Note: target `Hello1` cannot be e

[2017-03-09 12:01] gep13 commented on #1527
@patriksvensson do you have any thoughts on this one?  Certainly don't think that this was intended.

[2017-03-09 14:44] grzegorz-ogrodowski opened #1528 "Error during compile with Mono"
Hi,
I'm trying compile my project using mono (Debian). Project works fine on Windows.
Here I have bad error message:

[code]

I'm using build.sh downloaded from this project..

Mono version: 4.8.0
OS version: Debian GNU/Linux 8 (jessie)

[2017-03-09 15:02] gep13 commented on #1528
@grzegorz-ogrodowski is it possible for you to share the script that you are trying to compile?

[2017-03-09 15:04] grzegorz-ogrodowski commented on #1528
It is a commercial project and I'm affraid that I can't do it for you.

[2017-03-09 15:17] gep13 commented on #1528
@grzegorz-ogrodowski you understand that without a reproducible example of the problem, it is going to be very hard to help you, right?

[2017-03-09 15:29] grzegorz-ogrodowski commented on #1528
Yes, I understand. But I had hoped that is quite known issue.
It's really big project created in ASP NET CORE.
I'm using build.sh script from this project.

If this is unacceptable - I'll close this issue ASAP.

[2017-03-09 15:52] gep13 commented on #1528
@grzegorz-ogrodowski it is not that it is not acceptable, it's just that there is very little that we can do unless we are able to reproduce the problem.  Are you able to try to reproduce the problem on a smaller project, and share that with us?

[2017-03-09 20:01] devlead commented on #1528
It's hard without the details, one thing you could ensure is that line endings are unix style, can usually be controlled through I.e. Gitattributes.

Also you could start with an empty cake file and methodically add stuff until it fails.

A more wild option would be too switch to the Cake.CoreCLR runner which uses the same scripting engine regardless of platform, drawback is that requires .NET Cor

[2017-03-10 06:09] patriksvensson commented on #1527
@Sam13 @gep13 I can not reproduce this. The only thing that differs with your script is that I added a reference to the `Cake.Recipe` package instead of your build script package.

[code]

And the output is this:

[code]

[2017-03-10 08:20] gep13 commented on #1527
Sorry, can't provide a public NuGet package.

That's ok.  Can you show us though the structure of the NuGet package?  Just want to make sure that something else isn't causing a problem there.

When trying to use Cake.Recipe it crashes already in Setup().

Can you show the output that you are getting?  I have ran Cake.Recipe on almost 30 projects, with no issues so far.

[2017-03-10 10:22] grzegorz-ogrodowski commented on #1528
After few hours of investigation I found that my nuget has problem with certificate (even if CA is installed).
Maybe this is problem. I'll fix my nuget and then back to cake+mono.

[2017-03-10 10:52] Sam13 commented on #1527
@gep13 @patriksvensson
My package contains about 20 .cake files in the root directory of the package and one .cake file which loads all those files (similar to `load.cake` in `Cake.Recipe`). I already tried to move all scripts into the content subfolder (as in `Cake.Recipe`) but does not change anything.
When I download my NuGet package before running Cake and load the scripts in Cake from local f

[2017-03-10 11:54] tomstaijen opened #1530 "Script compilation failure with mono: The imported type `System.Xml.XmlDocument' is defined multiple times"
### What You Are Seeing?
Cake script fails to compile on mono when I use System.Xml.XmlDocument in the cake script.

### What is Expected?
I expect it to compile just fine. It works on windows.

### What version of Cake are you using?
0.18.0

### Are you running on a 32 or 64 bit system?
64

### What environment are you running on?  Windows? Linux? Mac?
mono:latest on docker 1.12.3 on linux (cento

[2017-03-10 12:29] gep13 commented on #1528
Sounds good. Let us know how you get on.

[2017-03-10 13:50] nlowe commented on #1530
We've been hitting this as well (although our script is different, I'm still trying to find a minimal reproducible example). There seems to be a few regressions with the mono script executor in 0.18.0. The workaround for us was to pin cake to 0.17.0 for now.

[2017-03-10 19:38] jrgcubano commented on #851
Take me a bit to find some good example to use cake with wix. Finally I find my self looking this issue and the tests files...

For my use case, I converted my project from "build.proj" to "cake"

Thanks @vktr @nsingh03 @devlead
build.proj
[code]

build.cake
[code]

[2017-03-11 12:24] adamhathcock commented on #1512
Does this mean I can have a .NET Core only cake build now?

I know I can boot strap it myself but the "official" instructions don't include it.  Also, nuget.exe is still used but can be avoided?

[2017-03-11 13:07] patriksvensson commented on #1512
Yes, until 0.19 Cake on .Net Core is the only option. You also won't be able to use NuGet on other platforms than Windows.

[2017-03-11 13:09] adamhathcock commented on #1512
Msbuild 15 has nuget built in I think.  I'll look into contributing that :)

[2017-03-11 13:10] devlead commented on #1512
Here's an example of bootstrapping without nuget
https://github.com/WCOMAB/Cake.Kudu

[2017-03-12 12:14] patriksvensson commented on #1521
@matkoch Not strange. You might notice that the tools folders are not versioned. We simply assume that the versions are correct. There is an issue for fixing all this, but nothing that is being actively worked on.

[2017-03-13 07:19] devlead commented on #1523
I'm going to close this issue as resolved now, please reopen if you have any further questions.

[2017-03-13 07:20] #1523 closed

[2017-03-13 12:54] robertmuehsig commented on #1522
I had the same issue - as @phillipsj already mentioned, the ToolPath did the trick (even it is not super "clean")

    MSTest(pathPattern, new MSTestSettings() { ....
                                     ToolPath = @"C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE\MSTest.exe" });

[2017-03-13 13:06] ErikSchierboom commented on #1528
@grzegorz-ogrodowski Were you able to fix this? I also have the same problem.

[2017-03-13 13:30] grzegorz-ogrodowski commented on #1528
@ErikSchierboom unfortunately not. I have still a lot troubles with nuget and CA issue.

[2017-03-13 15:26] Ashthos commented on #1528
Check for syntax errors, things like missing semi colons.

Or check things like auto initialisers `var thing = { "string" };` as mono can't cope with these and will report an error similar to the one you posted.

Note: Windows can cope with the things i've detailed fine.

[2017-03-13 15:31] ErikSchierboom commented on #1528
In my script, it indeed turned out to be a missing semicolon.

[2017-03-13 15:36] Ashthos commented on #1530
Happens for me when using 0.17.0 (as well as 0.18.0)

[code]

[2017-03-13 17:12] beufordy3k commented on #1512
What is the general time frame for version 0.19.0? Do you use must-have issues slated for this release as the release criteria or do you cut a new release based on a time interval?
Would like the new C# 7.0 syntax features as well, so if there are contrib items that need work to move it forward, I'll be glad to help on those.

[2017-03-13 17:16] gep13 commented on #1512
@beufordy3k we are planning a team meeting within the next week or so, so we should be in a better position to answer that question after then.

[2017-03-13 17:18] beufordy3k commented on #1512
@gep13 Thanks, looking forward to the update!

[2017-03-13 22:02] DixonDs opened #1531 "Cake for Visual Studio 2017"
Please, update Cake extension (https://marketplace.visualstudio.com/items?itemName=vs-publisher-1392591.CakeforVisualStudio) for VS 2017

[2017-03-13 22:15] gep13 commented on #1531
Issue moved to [cake-build/cake-vs #69](https://github.com/cake-build/cake-vs/issues/69) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-13 22:15] #1531 closed

[2017-03-14 08:48] fatmanmclone90 commented on #1248
Having the same issue.  Trying to run Cake from a GO CD task, but getting the error "Cake.exe : More than one build script specified.".  It doesn't seem to let me specify the Script location

.\nuget.PackageName.1.2.3\Tools\build-cake.ps1 -Script '.\nuget.PackageName.1.2.3\Tools\build.cake' -Target 'DeployRelease' -octopusReleaseVersion '1.0.456' -OctopusApiKey='API-???????' -GoCDUsername='user_na

[2017-03-14 10:44] devlead commented on #1248
If GO CI does something with the command line, perhaps a simplified bootrapper could be one option where you just pass along arguments as they're entered.

Example from [Cake.Kudu/build.ps1](https://github.com/WCOMAB/Cake.Kudu/blob/master/build.ps1)
[code]

But things like API keys/usernames etc. could also be passed as environment, you can add variables to an environment by editing the configurat

[2017-03-14 11:18] fatmanmclone90 commented on #1248
Actually I think the fix is even simpler in my case, the default build.ps1 isn't reading the $Script variable as a parameter.  It just defaults:
`[CmdletBinding()]
Param(
    [string]$Script = "build.cake",`

Removed default:
`[CmdletBinding()]
Param(
    [string]$Script,`

It is now running the cake script that I pass in as a parameter

[2017-03-14 11:24] stevensn99 commented on #118
Have added a gist of the helper bases on the one by @RichiCoder1 which adds the ability to pass an array of sub directories to ignore during the copy, gist can be found here: https://gist.github.com/stevensn99/63cd45cdcc96321564101d45a8518b75

[2017-03-14 16:01] devlead opened #1532 "Categorize logging aliases by level"

[2017-03-16 07:00] JonCubed opened #1533 "Update DotNetCore Aliases to match tooling 1.0"
With the release of VS 2017,  .NET Core Tooling has been bumped to 1.0. This has introduced a new build system (move from project.json to csproj and msbuild), changes to existing commands and added additional commands. It would be nice for the DotNetCore Aliases to reflect the changes, making it easier for ppl to migrate over to the new tooling.

I asked in gitter and @gep13 said you would be will

[2017-03-16 08:23] gep13 commented on #1533
1. If the "new" way of doing it, is going to be "the" way of doing it, then I would be happy updating the existing aliases to only use that method.  Community Members who require the earlier aliases have the option to pin to an earlier version of Cake.
2. I think this would get messy pretty quickly, and would prefer to not go down this route.
3. Possibly yes, depending on how much changes

@cake-b

[2017-03-16 09:00] patriksvensson commented on #1533
@gep13 @JonCubed

1. Agree with @gep13
2. Agree with @gep13
3. I think it makes sense to break each tool down to a separate PR since it will be very clear in the commit log and also the release notes.

[2017-03-16 10:46] JonCubed commented on #1533
@gep13 @patriksvensson

1. Good to know, that was what I was hoping for.
3. Multiple it is!

[2017-03-17 07:27] saasen commented on #753
@gep13: Which issue were you referring to? I didn't see anything about this in the 0.18 release notes.

[2017-03-17 08:55] gep13 commented on #753
@saasen this was the issue that I was referring to: https://github.com/cake-build/cake/issues/787 but it got bumped from 0.18.0 to 0.19.0.

[2017-03-20 08:29] fleed opened #1535 "Load files at "runtime""
Is there a way to load scripts at "runtime"?
I'd like to add some logic that runs only if a "partial" `deploy.cake` file is found as part of a CI pipeline.

The optional logic could also be run as separate script, but before doing that I'd like to know if there is any similar solution already available.

[2017-03-20 10:16] gep13 commented on #1535
There is a mechanism to load scripts, yes.  This is done via the load pre-processor directive which is documented here:

http://cakebuild.net/docs/fundamentals/preprocessor-directives

However, this is easier included, or not, you can't make a decision on whether it is included.

What I think you might be after is this:

http://cakebuild.net/api/Cake.Common.Tools.Cake/CakeAliases/5FCD85B6

Where y

[2017-03-20 10:18] fleed commented on #1535
Thank you @gep13 , `CakeExecuteScript` looks exactly what I was looking for.

[2017-03-20 10:18] #1535 closed

[2017-03-20 18:39] peter-perot opened #1536 "GetFiles does not find file though existing in target location"
### What You Are Seeing?

`GetFiles("V:/**/Template.pubxml").Count` yields 0 though there is a file `Template.pubxml` in `V:\Source\WebApi\Properties\PublishProfiles`.

Interestingly enough `GetFiles("V:/Source/**/Template.pubxml").Count` yields the correct value which is 1 here.

### What is Expected?

`GetFiles("V:/**/Template.pubxml").Count` should yield a value > 0.

### What version of Cake a

[2017-03-20 19:52] peter-perot opened #1537 "XmlPeek not working correctly for element nodes"
### What You Are Seeing?

I have the following XML document:

[code]

The following code does not yield the `publishUrl` element (instead `null` ist returned and a warning is logged):

[code]

Running the same code using the standard .NET `XPathDocument` works okay.

### What is Expected?

`XmlPeek` should return the contents of the `publishUrl` element, i.e. `C:\Deployment\DeploymentTemplate\WebA

[2017-03-21 01:59] peter-perot commented on #1537
# _[Proposal for a Bugfix]_

After some investigation I found the bug. Have a look at line https://github.com/cake-build/cake/blob/303b1d092864ae119cbcfb9d3430b99cb8d3bd4f/src/Cake.Common/Xml/XmlPeekAliases.cs#L141:

When calling method `SelectSingleNode(...)` on an instance of `XmlDocument`, an `XmlNode` is returned. Then in turn when reading the [`Value` property](https://msdn.microsoft.com/libr

[2017-03-21 07:00] tommi-s opened #1538 "Update DotNetInstallerUri to https://dot.net/v1/dotnet-install.ps1"
Currently the cake/build.ps1 has the following reference for dotnet install script:

$DotNetChannel = "preview";
$DotNetVersion = "1.0.0-preview2-003121";
$DotNetInstallerUri = "https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0-preview2/scripts/obtain/dotnet-install.ps1";

Now that it is out of preview, these could be updated to:

$DotNetChannel = "production";
$DotNetVersion = "Latest";
$Dot

[2017-03-21 07:05] devlead commented on #1538
Yes that's on our todo, need to update Cake itself to utilize new SDK, likely v0.20.0 timeframe maybe sooner.

[2017-03-22 12:20] patriksvensson opened #1539 "Update solution to Visual Studio 2017"

[2017-03-22 12:20] patriksvensson opened #1540 "Upgrade to Roslyn 2.0"

[2017-03-22 12:33] peter-perot commented on #1486
@patriksvensson: I just tried to reproduce the bug with Roslyn to file an issue but here the bug does not appear.

This is the code which throws an exception in Cake:

[code]

When I use it in Roslyn directly...

[code]

... everything works okay.

So the question is: what is different in your usage of the Rosyln engine?

[2017-03-22 12:37] devlead commented on #1486
@peter-perot which version of Roslyn are you using? Cake v0.20.0 will use latest 2.x could be an Roslyn issue that has been fixed.

[2017-03-22 19:31] petertiedemann commented on #1341
I definitely think something like this needs to be supported. If you are running in a CI that naturally has pre-build, build, test and deploy phases, then you will typically want to single-target each of the corresponding tasks, while at the same time making it easy for local builds to run the whole thing with a single cmd.

[2017-03-23 00:09] dbuck opened #1541 "Parsing error when using a #region on Mac"
### What You Are Seeing?
Parsing error on osx when a script includes a #region block.

### What is Expected?
Script should run correctly, as it does on windows.

### What version of Cake are you using?
0.18.0

### What environment are you running on?  Windows? Linux? Mac?
Windows (Works as expected) Mac (Fails to run)

### Are you running on a CI Server?  If so, which one?
Repro found locally

###

[2017-03-23 07:09] peter-perot commented on #1486
@devlead: I intentionally used an older version, namely 1.1.0, and even this version does not reproduce the bug. So I think there must be some edge case with Cake and Roslyn which produces this bug.

[2017-03-23 07:37] gep13 commented on #1517
@devlead so, this can be closed, right?

[2017-03-23 08:04] devlead commented on #1517
@gep13 correct, closed by #1520

[2017-03-23 08:04] #1517 closed

[2017-03-23 10:39] Sam13 commented on #884
Flag whether build is personal or not would be great to have...

[2017-03-23 16:39] #1532 closed

[2017-03-23 17:52] aateeque commented on #884
The `ITeamCityProvider` does not read the properties file; @Sam13 do you know where this flag is?

[2017-03-23 22:42] patriksvensson commented on #1541
@dbuck We will remove the Mono scripting engine in version 0.20.0, so I will close this issue.
In the meanwhile, you should be able to work around this problem by removing the regions.

[2017-03-23 22:42] #1541 closed

[2017-03-23 22:43] devlead opened #1543 "VSWhere aliases should return Directory Paths and not File Paths"

[2017-03-23 23:12] Thealexbarney opened #1544 "Windows 10 SDK path is not being resolved"
The SignTool resolver doesn't resolve the path to the Windows 10 SDK.
The resolver also doesn't use the "HKLM\Software\Microsoft\Windows Kits\Installed Roots" registry key to resolve the SDK path. Newer Windows SDKs are using this key to store their installation paths.

[2017-03-23 23:14] devlead commented on #1543
Fixed by a0503c593c4eb2b2beb80b2bc913d0a3cd932c83

[2017-03-23 23:14] #1543 closed

[2017-03-24 10:29] Sam13 commented on #884
There is a system property called `system.build.is.personal` which is set to `true` when build is personal.
Also there is an environment variable called `BUILD_IS_PERSONAL` which is also set to `true`.

I'm currently using my own custom workaround to check for the environment variable.

[2017-03-24 10:37] aateeque commented on #884
Should probably add in `TeamCityBuildInfo` by reading env var...feel free to add otherwise I'll add at some point next week.

@gep13 should we close this issue; fixed with #1433

[2017-03-24 20:26] #884 closed

[2017-03-25 17:06] gep13 opened #1546 "MSBuild Logger Path are not correctly quoted"
As a result, when a path with a space is used, the call to MSBuild does not work.

This is demonstrated here:

[code]

[2017-03-25 17:08] gep13 commented on #1546
This was raised here: https://github.com/cake-contrib/Cake.DotNetCoreEf/issues/18

[2017-03-25 17:12] gep13 commented on #1546
This is the affected code:

https://github.com/cake-build/cake/blob/1eb28cf18637a1316c8f10327b9d70b9975507ea/src/Cake.Common/Tools/MSBuild/MSBuildRunner.cs#L164

[2017-03-27 11:43] DixonDs opened #1547 "Escaping curly braces in log messages"
It seems that is not possible to escape curly braces properly in log messages.

1. `Information("{} {0}", 123);` leads to error "Error: Input string was not in a correct format."
2. `Information("{{}} {0}", 123);` outputs "{{}} 123". The same input to `string.Format` yields "{} 123" which is what I want to get.

This is related to https://github.com/SharpeRAD/Cake.Powershell/issues/25 when the pow

[2017-03-28 18:04] kcamp opened #1548 "LogExtension colorizes output incorrectly"
### What You Are Seeing
The new `LogExtension` overloads for `(string)` and `(object)` break the token paletting

### What is Expected?
The console output to be colorized consistent with 0.17 and lower.

### What version of Cake are you using?
0.19.1

### Are you running on a 32 or 64 bit system?
64

### What environment are you running on?  Windows? Linux? Mac?
Windows

### Are you running on a C

[2017-03-28 18:12] kcamp commented on #1548
I think the easiest solution is to simply change the implementation for the new `string` and `object` overloads for the Debug/Verbose/Warning/Information/Error methods.

[code]

I have created a local build and this seems to be a reasonable solution.  The unit tests would need to be updated to meet the new expectations, as they currently fail.  Thoughts?  I can take on that work if it seems like a

[2017-03-28 18:22] devlead commented on #1548
@kcamp the overloads were added because issues with sending strings  with special characters, many people log generated code and json which fails if sent.
So they were added specifically if you only sent a string it wouldn't be passed to the tokenizer.
So this behavior is per design so object/strings wouldn't break logging which they did on several occasions  pre v0.18.0, and they were added in a

[2017-03-28 19:25] kcamp commented on #1548
@devlead
Your explanation makes sense; I understood it to be an intentional change.  The net effect, however, is that the entire line is treated as a token, and the coloration of those lines lose visual distinction from the lines that _do_ contain substitution.  I think the readability of the log suffers for it, and it's a departure from the prior versions.

As a solution that really addresses the

[2017-03-29 03:05] kcamp commented on #1547
I've made a first pass over this bug and think the changes I've made at 88b2f9d represent the appropriate solution.  I've added the tests that cover the two use-cases referenced above.

The one thing that I think this exposes is a bug in the `LiteralToken` that is being returned for escaped curlies -

@DixonDs is right in that this should probably output `{} 123` to be consistent with expectations

[2017-03-30 07:49] JonCubed commented on #1533
@gep13 @patriksvensson are you able to provide feedback if any on PRs?

I'll move on to Nuget next.

[2017-03-30 08:50] patriksvensson commented on #1533
@JonCubed I will try to find some time during the day or tomorrow and have a look. 👍

[2017-03-30 18:16] pascalberger opened #1556 "TeamCity BuildNumber is a string"
### What You Are Seeing?
[TeamCityBuildInfo.Number](http://cakebuild.net/api/Cake.Common.Build.TeamCity.Data/TeamCityBuildInfo/1F181B9F) is a `int` getting its value from the `BUILD_NUMBER` environment variable (see [here](https://github.com/cake-build/cake/blob/develop/src/Cake.Common/Build/TeamCity/Data/TeamCityBuildInfo.cs#L28))

Based on the [TeamCity documentation](https://confluence.jetbrain

[2017-03-30 22:06] mholo65 commented on #494
I'm on to something https://twitter.com/mholo65/status/847569520055025665

PoC code here: https://github.com/mholo65/omnisharp-roslyn/tree/wip/new-cake-plugin

Have only been playing with cURL yet.

[2017-03-31 16:08] thomaslevesque opened #1557 "Add support for MSBuild /consoleloggerparameters"
There is currently no way in `MSBuildSettings` to set the `/consoleloggerparameters` command line switch (see [MSBuild Command Line Reference](https://msdn.microsoft.com/en-us/library/ms164311.aspx)). This parameter is useful, for instance, to force color output on Jenkins (`/consoleloggerparameters:ForceConsoleColor` - this specific parameter is not mentioned in the reference page, but was [added

[2017-03-31 16:11] thomaslevesque commented on #1557
Current workaround:

[code]

[2017-03-31 17:39] devlead commented on #1546
@gep13 I'll look at sorting this and get it out as an hotfix.

[2017-04-01 00:49] devlead commented on #1546
Fixed by #1558

[2017-04-01 00:49] #1546 closed

[2017-04-01 02:39] Redth opened #1559 "Support Debugging in Mono scripting"
I wanted to start a recorded discussion here of what it might take to support debugging when running under Mono via mono's remote debugger.   The main use case I am interested in is being able to debug through VS-Code's Mono Debugger extension.

So far I think I have the pieces to make this happen from VS-Code, but we're obviously still missing support in Cake's implementation that uses the mono s

[2017-04-01 06:43] mholo65 commented on #1559
On the Roslyn side (https://github.com/cake-build/cake/blob/develop/src/Cake/Scripting/Roslyn/Stable/DebugRoslynScriptSession.cs#L41) we emit the compilation to memorystreams (one for dll, and one for the pdb). Then we load the dll (+pdb) into the appdomain, and invoke "script" via reflection.

Resolving breakpoints works because scriptgen adds #Line preprocessor directives to the generated script

[2017-04-01 06:49] mholo65 commented on #1559
@patriksvensson may correct me if I'm wrong, but in v0.20.0 when Roslyn is updated (https://github.com/cake-build/cake/issues/1540) there will no longer be need to use separate mono scripting in Cake? We can finally use an unified scripting API?

[2017-04-01 07:21] devlead commented on #1559
@mholo65 0.20.0 will be updating Cake to VS2017 / new RTM .NET Core SDK, but correct for 0.21.0 that's the plan.

[2017-04-01 07:49] mholo65 commented on #1559
@devlead thanks! I see milestone have been updated..

@redth, this practically means that there's no use on spending time on Mono specific scripting bits in Cake, as they will be obsolete/removed in v0.21.0

@devlead or @patriksvensson can correct me if I'm wrong :smile:

[2017-04-01 08:38] devlead commented on #1559
@mholo65 hopefully upgrading Roslyn is smooth sailing and works well with mono, then all the mono scriptgen stuff can be yanked out.

Don't know exact status of 0.20.0 but believe @patriksvensson said it was mainly yak shaving like StyleCop, build script refactoring, etc.

[2017-04-01 10:52] patriksvensson commented on #1559
@devlead @mholo65 Correct.

[2017-04-01 13:05] Redth commented on #1559
Niiiice. Hopefully then debugging with what I've attempted in vs code will just work at that point!

[2017-04-01 17:45] mholo65 commented on #1559
Yes, in v0.21.0 it ***should*** work out of the box.

[2017-04-02 14:09] devlead commented on #1533
@JonCubed I'm starting to review your .NET Core PRs now.
I've changes the target branch for these to `cake-build:feature/dotnetV10tooling`, It's based on todays develop and I'll keep it in sync with develop.

I've assigned a separate milestone for this issue and underlying PRs (just so I can easily find them for now :wink: ) , with the aim to do it's own release with these changes when done.
Havin

[2017-04-02 17:06] patriksvensson commented on #1559
@Redth Can we close this issue?

[2017-04-02 20:18] Redth commented on #1559
Yeah. I'll open one in the vs-code repo to track getting mono debugging working there.

[2017-04-02 21:04] #1559 closed

[2017-04-03 09:02] pascalberger opened #1561 "Add helper for argument validation"
Each Cake addin requires some kind of argument validation (or at least should :). Instead of having to implement this in every addin it would be nice if this could be provided for common cases (null check, empty string check, ...) by Cake.Core.

[2017-04-03 09:07] pascalberger commented on #1561
This could also be helpful Cake internally to simplify argument checking, like its eg done [here](https://github.com/cake-build/cake/blob/develop/src/Cake.Core/CakeContext.cs#L38).

If this is of interest I can provide a PR for a class similar to the one which we use in the [Cake.Prca Addin](https://github.com/cake-contrib/Cake.Prca/blob/develop/src/Cake.Prca/PrcaArgumentChecks.cs).

[2017-04-03 19:59] tafs7 commented on #117
for those of you on this thread that have stated they currently use Team City and Cake, answer me this: did you have a install an edition of the Visual Studio IDE, in order to succesfully execute MSBuild on a solution which has one of the following project types:  Web, Data (SqlProj)?

Everywhere on the web that i look I am seeing people say that is the way to go, but I find it hard to believe tha

[2017-04-03 20:19] mholo65 commented on #117
@tafs7 I usually never install full IDE on my build agents, it's often sufficient with the Build Tools (e.g. for VS 2015 I use [Microsoft Build Tools 2015](https://www.microsoft.com/en-us/download/details.aspx?id=48159))

For VS 2017, they seem to have renamed it a bit. Try grabbing "Build Tools for Visual Studio 2017 from [here](https://www.visualstudio.com/downloads/). Select "Other Tools and Fr

[2017-04-03 20:42] devlead commented on #1544
Fixed by #1545

[2017-04-03 20:42] #1544 closed

[2017-04-03 21:04] JonCubed commented on #1533
Correct #1549 should be merged first

[2017-04-03 21:46] tafs7 commented on #117
@mholo65 I've installed both the Microsoft Build Tools 2015 and the Build Tools for VS 2017 on my build agent box, neither of which worked.  MSBuild fails when trying to load a target file:
`error MSB4019: The imported project "C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\WebApplications\Microsoft.WebApplication.targets" was not found`

Even after installing both of above mentioned

[2017-04-03 21:50] wwwlicious commented on #117
I normally add this package as a dependency of my web projects, it solves this problem - https://www.nuget.org/packages/MSBuild.Microsoft.VisualStudio.Web.targets

[2017-04-05 13:43] DixonDs opened #1564 "DeleteDirectory cannot delete read-only files"
I would like to have a possibility to remove read-only files either by default or as another option to `DeleteDirectory` alias

[2017-04-05 20:57] devlead commented on #1533
@JonCubed I've rebased your PRs now and will start with reviewing the dotnet restore one ( #1534 ).

[2017-04-05 23:02] JonCubed commented on #1533
@devlead awesome! thanks

[2017-04-06 09:07] mcvavalanche commented on #1317
this would be indeed most useful to clean up a git folder. I would expect it as default behavior.

[2017-04-08 20:13] mholo65 commented on #1556
Comments seems to refer to counter ([%build.counter%](https://confluence.jetbrains.com/plugins/servlet/mobile#content/view/74847321) which is in fact an integer. But code does return vaule of environment variable BUILD_NUMBER.

We also have ITeamCityProvider.SetBuildNumber(string) which allows setting of build number as string.

So question is. Was the intention to return build counter or number?

[2017-04-08 20:17] kcamp opened #1566 "Generic alias methods with type constraints fail compilation"
### What You Are Seeing?
Creating a generic alias method that contains type constraints fails compilation.
The generated method signature fails to enforce the constraints, making the implementation invalid.

For example:
[code]

The script generated by the engine results in this, roughly:
[code]

### What is Expected?
Expect a valid alias method to generate script and compile

### What version of

[2017-04-08 20:18] kcamp commented on #1566
I have a fix for this issue, will submit a PR shortly.

[2017-04-09 23:34] pcoombe opened #1568 "TFBuild.TFBuildCommands API Documentation"
### What You Are Seeing?
The TFBuildCommands API documentation is very light.

### What is Expected?
Code samples
Details of expected results/outputs in TFS
Versions of TFS supported

### What environment are you running on?  Windows? Linux? Mac?
Windows

### Are you running on a CI Server?  If so, which one?
TFS 2017.1

[2017-04-12 08:51] SIkebe commented on #1422
This error occurs when cake script uses some tools and tries to get them by default pattern(.exe, .dll).
`Cake.Core.IO.Globbing.GlobTokenizer.ScanToken()` allows characters that match following Regex pattern.
`^[0-9a-zA-Z\\+&%!@(). _-]$`
Why are multibyte characters not allowed here?
Non-Western people often uses multibyte characters as a repository name. So very confused with this breaking change

[2017-04-15 08:47] DixonDs opened #1569 "Runtime assembly redirect"
Currently, it is problematic to use multiple Cake addins using different versions of the same assembly (most frequently Newtonsoft.Json). Would it make sense  to use `AppDomain.CurrentDomain.AssemblyResolve` (in full .Net Framework at least, not sure if there is anything similar in .Net Core) event in this case to redirect to the latest version if there are multiple?

I can try to prepare a PR, I

[2017-04-15 21:11] devlead opened #1570 "Fix integration tests up to date with new CLR tooling"

[2017-04-16 22:24] devlead commented on #1570
Fixed by 5965629

[2017-04-16 22:24] #1570 closed

[2017-04-16 22:26] devlead opened #1571 "Fix integration tests to include new DotNetCore aliases"
Currently a few of the .NET Core CLI aliases are missing integrations tests
https://github.com/cake-build/cake/blob/develop/tests/integration/Cake.Common/Tools/DotNetCore/DotNetCoreAliases.cake

Available aliases:
https://cakebuild.net/api/Cake.Common.Tools.DotNetCore/DotNetCoreAliases/

[2017-04-17 04:34] JonCubed commented on #1533
@devlead thanks for reviewing and merging all the PRs. I'll try to get the remaining over the next week

[2017-04-17 04:37] JonCubed commented on #1533
In Gitter @patriksvensson suggested that xunit .net core tool should be supported by core, should I add it to the list if no one else is working on it?

cc @gep13 @devlead

[2017-04-17 06:54] devlead commented on #1533
@JonCubed xunit is out of scope for this issue/milestone, will look how we want to add that later.

[2017-04-17 11:31] JonCubed commented on #1533
@devlead sure no worries

On Sun., 16 Apr. 2017, 23:54 Mattias Karlsson, <notifications@github.com>
wrote:

[2017-04-17 11:35] gep13 commented on #1533
@JonCubed @devlead on this subject...

Add DotNetCoreMSBuild
Add DotNetCoreVSTest

Are those extensions to the core dotnet cli tooling, in the same way that xunit is?  If so, I think they are a candidate for dealing with elsewhere as well.

Thoughts?

[2017-04-17 11:45] devlead commented on #1533
@gep13 yes those are part of the official SDK
[code]

[2017-04-17 11:50] gep13 commented on #1533
@devlead perfect! 👍

[2017-04-17 17:15] mabead opened #1572 "Changing version of nuget package used in #load does not download latest nuget package"
### What You Are Seeing?

I have a build.cake script that contains the following pre-processor directive:

    #load "nuget:?package=MyPackage&version=0.1.0-feat-mg-16017-co0020"

I can successfully build my project through `build.ps1`. But then, I want to use a new version of this nuget package. I therefore change my load directive to use version 21:

    #load "nuget:?package=MyPackage&version=0

[2017-04-17 17:22] devlead commented on #1572
This is an known issue/limitation, It's ok the radar to be fixed, but not the current highest priority.

The workaround we recommend for now is to do a checksum on build.cake/packages.config and clear tools/addins if that changes.

You can see an example of this in the recommended build.ps1/build.sh in
https://github.com/cake-build/resources

[2017-04-17 17:24] JonCubed commented on #1533
@gep13 most of the original commands are now just wrappers for the advance
commands in the new tooling.

On Mon., 17 Apr. 2017, 04:50 Gary Ewan Park, <notifications@github.com>
wrote:

[2017-04-17 17:28] devlead commented on #1533
@JonCubed FYI I've adjusted the integration tests for the new tooling and rebased branch against latest develop. So you might need to refresh and rebase any PRs.

[2017-04-17 20:07] mabead opened #1573 "Files loaded with #load can't define a global variable and use it on linux"
### What You Are Seeing?

I have a very simple cake.build script:

[code]

Then, the file "Helpers.cake" contains the following:

[code]

When I run this script on Windows with the provided build.ps1, the script runs fine and prints `Hello you`. But when I run it on Linux (under TeamCity), it fails with the following error message:

[code]

### What is Expected?

It should work the same on Linux a

[2017-04-17 20:18] mabead commented on #1573
Looks like a duplicate of #555

[2017-04-17 20:26] mabead commented on #1573
I confirm. The workaround described in #555 works for me as well.

[2017-04-17 20:26] #1573 closed

[2017-04-17 20:30] devlead commented on #1573
@mabead this is an issue in the Mono script engine used when running under Mono. We're in the process of unifying around the Roslyn scripting engine for all platforms which will give a unified experience.

Cake.CoreCLR uses Roslyn on all platforms, so using .NET Core can also be an option today to get a consistent experience.

[2017-04-18 04:44] JeremyCade commented on #1533
@devlead RE `dotnet xunit` it may pay to have a generic `DotNetCoreTool` alias?

More than happy to put that together.

[2017-04-18 18:50] mholo65 commented on #1556
@pascalberger after giving this some thought. We should change the return value to `string`. Would you mind submitting a PR to fix this?

[2017-04-18 18:55] pascalberger commented on #1556
@mholo65 Sure will create a PR

[2017-04-18 21:20] #1556 closed

[2017-04-18 22:08] devlead commented on #1566
Fixed by #1567

[2017-04-18 22:08] #1566 closed

[2017-04-19 08:50] devlead commented on #1533
@JeremyCade Sounds like a reasonable feature to add, would you mind raising a separate issue for this, so we can track/discuss it separately and feel free to do a WIP PR if you want to.

[2017-04-20 09:55] WebDucer opened #1576 "VSTest default tool path for VS2017"
### What You Are Seeing?
If I try to run tests with VSTest on VS2017 installations only, the path to the executable couldn't be found.

The reason fo failing is changed installation path for VS2017 installations (different editions could be installed in parallel).

The installation path until vs2015 was `C:\Program Files (x86)\Microsoft Visual Studio <Version>\...`.

vs2017 is installed in `C:\Pro

[2017-04-20 10:18] gep13 commented on #1576
@WebDucer have a look here:

http://cakebuild.net/blog/2017/03/vswhere-and-visual-studio-2017-support

And let us know if that answers your question.

[2017-04-20 11:33] WebDucer commented on #1576
Perfect. Thanks for help.

[2017-04-20 11:33] #1576 closed

[2017-04-20 18:44] gep13 commented on #1576
@WebDucer You are very welcome.

[2017-04-21 13:13] jnm2 commented on #1517
I wonder if this changes anything?
https://blogs.msdn.microsoft.com/heaths/2017/04/21/vswhere-is-now-installed-with-visual-studio-2017/

The package would only have to be downloaded if `%ProgramFiles(x86)%\Microsoft Visual Studio\Installer\vswhere.exe` and `%ProgramFiles%\Microsoft Visual Studio\Installer\vswhere.exe` do not exist.

[2017-04-21 13:17] phillipsj commented on #1517
@jnm2 It would just change how the tool is found.  May need to add a custom resolver that looks for it in that default location first.

[2017-04-21 13:38] jnm2 commented on #1340
What would this take to accomplish? I can't find the conversation on this earlier.

[2017-04-21 17:04] damianh commented on #1517
vswherewhere

[2017-04-21 21:45] gep13 commented on #1340
@jnm2 I believe that @agc93 has the makings of "something" that can be used to provide this functionality.

[2017-04-22 00:11] JeremyCade opened #1577 ".NET Core CLI tools - Surfacing additional commands with a new alias: DotNetCoreTool"
Relates to #1533

### Problem
The .NET Core CLI tools has an [extensibility model](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/extensibility) allowing the additional functionality to be added to the CLI.

**Examples**:

- [Entity Framework Core](https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet) `dotnet ef`
- [dotnet-watch](https://github.com/aspnet/DotNetTools) `do

[2017-04-22 00:12] JeremyCade commented on #1533
Done. See #1577

[2017-04-22 02:02] JeremyCade commented on #1577
Pull Request submitted with initial proof of concept.

[2017-04-22 15:24] jnm2 opened #1579 "Cake causes warning by trying to load addin dependency"
(From https://github.com/AMVSoftware/Cake.SqlServer/issues/18)

Cake tries to load and reference every DLL in the Cake.SqlServer addin which results in this warning every time:
[code]

When it comes to actually _using_ it, if I call the alias `CreateBacpacFile`, it runs `Microsoft.SqlServer.Dac.dll` which runs `Microsoft.Data.Tools.Schema.Sql.dll` just fine. It's a critical DLL which is needed by

[2017-04-23 22:36] Cheesebaron opened #1580 "TFBuild.IsRunningOnVSTS is confusing when using own build agent"
### What You Are Seeing?

I have a VSTS build agent, which is triggering a cake build on GitHub commits.

I tried using the `TFBuild.IsRunningOnVSTS` to check if this was a build running on VSTS, as I am also using AppVeyor.

### What is Expected?

I would have expected `TFBuild.IsRunningOnVSTS` to return `true`. It returned `false`.

This seems to be per design as seen in the [`TFBuildProvider`](

[2017-04-23 22:48] patriksvensson commented on #1580
@Cheesebaron I don't think we should rename them, but add something similar to what is suggested tp reduce confusion. I'm very open for suggestions for naming of this 😄

[2017-04-23 23:24] agc93 commented on #1580
Okay so jumping in on this there's a difference between VSTS/TFS and hosted agent/own agent, since it's (theoretically) possible to have any combination of those.

So, short version is that, yeah this behaviour is probably not quite right since VSTS + self-hosted agent is a perfectly valid combo. You can always check whether you're on a hosted agent using the `TFBuild.Environment.Agent.IsHosted` p

[2017-04-24 07:24] skogsaas commented on #1527
@patriksvensson @Sam13

I just experienced the same problems with a similar setup (v0.19.4). It seems loading a nuget package with .cake scripts located in the ROOT folder of the nuget-package structure makes cake behave strange. Among other things; it tried to call the same tasks multiple times, tried to locate the nuspec-file of the loaded nuget-package in the same folder as my build.cake, and w

[2017-04-24 21:35] gep13 commented on #1561
@pascalberger I would have no objection to this.

@cake-build/cake-team thoughts?

[2017-04-25 01:58] phillipsj commented on #1561
This sounds pretty awesome if it make it easier.  It is a common pattern in every addin.

[2017-04-25 02:07] daveaglick commented on #1561
I agree, this would be great. There's already several argument validation frameworks - I wonder if any of them have source-only NuGet packages...

[2017-04-25 03:03] agc93 commented on #1561
Agreed that it would be good to centralise this (few other candidates for that) 👍

@daveaglick I've used Ensure.That from @danielwertheim before, but looks like the source-only version hasn't gotten the latest updates yet..

[2017-04-25 03:09] agc93 commented on #1340
@gep13 @jnm2 Yep, have something that will achieve this, need to brush up the documentation and I should be able to get an initial release out very soon.

[2017-04-25 04:28] mholo65 commented on #1561
Agreed!

But instead of signature ```void Check<T>(T...)``` I would rather see ```T Check<T>(T...)```. Then you could write checks like
[code]

I personally think ASP.NET team have a quite decent boilerplate [here](https://github.com/aspnet/EntityFramework/blob/dev/src/Shared/Check.cs) which I have used from time to time.

[2017-04-25 23:25] agc93 commented on #1561
Additional reason to centralise this I just noticed: the `Cake.Prca` validation examples @pascalberger linked to currently show up on just about every type in the documentation, which could be a bit misleading..

[2017-04-26 06:00] nagoh opened #1582 "Dependent module Roslyn.Compilers.CSharp no longer published on Nuget"
### What You Are Seeing?
Error when bootstrapping Cake

### What is Expected?
No error
### What version of Cake are you using?
0.19.3
### Are you running on a 32 or 64 bit system?
64
### What environment are you running on?  Windows? Linux? Mac?
Windows
### Are you running on a CI Server?  If so, which one?
Reproduced both locally and on TC

### How Did You Get This To Happen? (Steps to Reproduce)

[2017-04-26 06:07] #1582 closed

[2017-04-26 06:08] nagoh commented on #1582
Odd - ran: `nuget locals all -clear` again, and all working.

[2017-04-26 06:16] gep13 commented on #1582
NuGet.org, unless there is a strong reason to not, always keeps package versions in place.  While they can be unlisted (which removes them from appears on the site and don't show up in search, installing them directly using the `version` parameter should always work.

[2017-04-26 06:21] devlead commented on #1582
@nagoh FYI nuget.org has been having issues for a few hours, so might be related to that.

[2017-04-26 06:21] nagoh commented on #1582
Ah - looks like it was an issue on nuget: https://status.nuget.org/

[2017-04-26 07:01] VQuery commented on #1582
@devlead  When it will be resolved or any update from nuget.org ?.Not able to run cake script due to this issue .

[2017-04-26 07:28] devlead commented on #1582
@VQuery only info I have is what's posted at  https://status.nuget.org/

I would recommend having a fallback source for your builds either self hosted or something like MyGet, @maartenba has written an excellent blog post on why that's important
https://blog.maartenballiauw.be/post/2016/03/23/someone-broke-the-internet!-or-why-you-may-want-to-mirror-your-dependencies.html

If it's Cake you can't f

[2017-04-26 08:20] NachbarsLumpi opened #1583 "Cake unable to build projects because the nuget package "Roslyn.Compilers.CSharp" has been unlisted"
### What You Are Seeing?
A red line indicating that it does not work anymore. ;-) See output log section for more information.

### What is Expected?
A build should be started. ;-) See output log section for more information.

### What version of Cake are you using?
Tested with 0.19.1, 0.19.3 and 0.19.4. 0.19.4 includes further a regression and does not display an sensible error message, but rathe

[2017-04-26 08:23] mholo65 commented on #1583
Duplicate of #1582

[2017-04-26 08:25] mholo65 commented on #1583
Unlisted packages should be available for download.

This is more likely due to that NuGet are currently experiencing issues. See their https://status.nuget.org/ for more info.

[2017-04-26 08:25] #1583 closed

[2017-04-26 08:31] NachbarsLumpi commented on #1582
Thank you Martin for your quick response and apologies for the duplicate.

Please note that cake 0.19.4 refuses to give a hint on the actual error.

[code]

[2017-04-26 08:34] agc93 commented on #1582
@NachbarsLumpi if you run with a higher verbosity (Verbose or Diagnostic for example), it *should* give you more information on what went wrong.

[2017-04-26 08:36] VQuery commented on #1582
@NachbarsLumpi  Now working fine .please check

[2017-04-26 08:39] NachbarsLumpi commented on #1582
Yep, it's working again. Looks like nuget was able to solve some of the outage. *crossing fingers* Obviously now I'm unable to check the diagnostic / verbose output, but I'm hoping that I don't need it anytime soon. ;-)

Cheers

[2017-04-26 08:40] agc93 commented on #1582
Great to hear :+1: Worth nothing that NuGet are still reporting degraded service so there might still be some lingering issues.

[2017-04-26 08:46] VQuery commented on #1582
![image](https://cloud.githubusercontent.com/assets/23099088/25425849/e6b1a830-2a8a-11e7-9f91-940bc2c5cfea.png)
👍

[2017-04-26 08:47] NachbarsLumpi commented on #1582
We upgraded our CI hardware over the past few days and as soon as we switched it back on for the first time all went red. That was quite a shocking start. *laughing* Glad that the issue is just an outage and that it is going to be solved. It could be worse.

[2017-04-26 09:46] martpendle opened #1584 "Cake Build Unable to Restore 'Microsoft.CodeAnalysis.Scripting' version '1.0.0-rc2'"
### What You Are Seeing?
When Cake attempts to restore packages it fails stating it is unable to find 'Microsoft.CodeAnalysis.Scripting' version '1.0.0-rc2'

### What is Expected?
Cake to restore packages successfully

### What version of Cake are you using?
0.17.0 but also seen using 0.19.4

### Are you running on a 32 or 64 bit system?
64bit

### What environment are you running on?  Windows? Li

[2017-04-26 09:57] gep13 commented on #1584
Duplicate of:

https://github.com/cake-build/cake/issues/1583
https://github.com/cake-build/cake/issues/1582

This is an issue with NuGet.org

[2017-04-26 09:58] gep13 commented on #1584
@martpendle seems like NuGet is having lots of issues today.  I suspect what you are seeing is a symptom of that.

[2017-04-26 10:25] martpendle commented on #1584
@gep13 Thanks, didn't even think of that being an issue, the unlisted package threw me off on a different path

[2017-04-26 10:25] #1584 closed

[2017-04-26 13:47] patriksvensson commented on #1561
I like the link @mholo65 posted.

[2017-04-26 14:14] pascalberger commented on #1561
OK, I'll create a PR containing a class based on the ASP.NET boilerplate.

[2017-04-26 14:26] patriksvensson commented on #1561
@pascalberger Just make sure to attribute ASP.NET project in your code.

[2017-04-26 15:22] jnm2 commented on #1340
@agc93 Fantastic! I can hardly wait to use it! I don't care whether the log itself is split.

[2017-04-26 16:07] agc93 commented on #1340
[Good news everyone!](https://media.giphy.com/media/3o7abA4a0QCXtSxGN2/giphy.gif) (but especially @jnm2 )

I've just published a module for improved support in CI environments, including TFS/VSTS, on NuGet: [Cake.BuildSystems.Module](https://www.nuget.org/packages/Cake.BuildSystems.Module/).

You can find the source [on GitHub](https://github.com/agc93/Cake.BuildSystems.Module) and instructions on

[2017-04-26 18:14] jnm2 commented on #1340
Thanks @agc93! You rock!

[2017-04-26 20:55] gep13 commented on #1340
@jnm2 let us know what you think about the above, and whether you think this issue can be closed.  Thanks!

[2017-04-27 01:06] jnm2 commented on #1340
This can be closed. I'll get to try this out tomorrow and I'll follow up in that repo if I have any issues.

[2017-04-27 01:52] #1340 closed

[2017-04-27 01:53] agc93 commented on #1580
Any thoughts/feedback before I start on this @Cheesebaron or @patriksvensson ? I've talked to Microsoft about it, so I'll try and improve the logic as well as adding that new property.

[2017-04-27 08:09] Cheesebaron commented on #1580
I don't really care myself whether this is a breaking change or not. However, for people using this, they probably want their scripts to continue to work.

`IsHosted` is more clear.

If there is not actual distinction between IsRunningOnVSTS and IsRunningOnTFS other than one is hosted and the other is not, I would try to remove that confusion entirely.

[2017-04-27 19:40] stefandevo opened #1585 "Microsoft.NETCore.Portable.Compatibility library projects do not build from command line"
### What You Are Seeing?

error MSB4019: The imported project "/usr/local/share/dotnet/sdk/1.0.1/Microsoft/Portable/v5.0/Microsoft.Portable.CSharp.targets" was not found. Confirm that the path in the <Import> declaration is correct, and that the file exists on disk.

error when trying to build Microsoft.NETCore.Portable.Compatibility library projects.

The project is building fine with Visual Stud

[2017-04-27 20:02] ayoung commented on #321
@phillipsj thank you.

[2017-04-27 20:26] #1585 closed

[2017-04-27 20:29] stefandevo commented on #1585
This type of project is actually a .net / mono instead of a .net core

[2017-04-28 13:28] jnm2 commented on #1340
Before I open an issue actually, I was expecting the sections to stay separated like that even when the build finishes or errors. Right now while the build is running the sections and timings are available, but as soon as it stops it's as though there was no integration. Can you clarify, is that not possible due to not being able to split the log?

[2017-04-28 13:51] jnm2 commented on #1340
Oh, my bad! It does work. TFS switches to Timeline view when I click the Cake node when it's running and it switches to Log view when I click the Cake node when it's stopped.

[2017-04-28 16:03] jnm2 commented on #156
Counterexample:

[code]

[2017-04-28 16:10] jnm2 commented on #156
If the only way to prevent things from running in parallel is to make them dependent on each other, there's no way to preserve priorities 1 and 2 which are very legit priorities.

This boilerplate can't help you:

[code]

In fact, the only way around this problem is to entirely duplicate the definition of the `Clean` task, the `Restore` task and the `Build` task, including the `.Does(() => ...)`,

[2017-04-28 16:21] jnm2 commented on #156
So we need to be able to say:

 * Run only `Restore` when it is called directly, but when invoked as a dependency and `Clean` is also a dependency, make sure it runs only after `Clean`

[2017-04-28 16:32] jnm2 commented on #156
Do we want to specify a potentially different parallel relationship between dependencies every time they show up in dependent tasks? It could lead to duplication and inconsistency, but the API is minimalist and perhaps the extra control per dependent over the parallelism of the dependencies will be needed someday:

[code]

[2017-04-28 16:35] jnm2 commented on #156
So in this API, the order of the `IsDependentOn` calls matters. Is that a good thing? Is it a breaking change?

[2017-04-28 16:37] jnm2 commented on #156
@patriksvensson I'm interested in your thoughts.

[2017-04-28 16:42] jnm2 commented on #156
Another reason not to parallelize by default is that it messes with logs, and there is a solution for that but it means redirecting the standard output and error of everything you run, losing Windows console colors.

[2017-04-28 16:52] daveaglick commented on #156
Personally, I would prefer any sort of parallelization be opt-in as you suggest. There are just too many build scripts out there to turn on something that so fundamentally changes flow without causing major headaches.

As an alternative to your API, what if we used an `.AsParallel()` method to indicate that a given task is free to run it's dependencies in parallel. If you have a mix of parallel an

[2017-04-28 17:00] jnm2 commented on #156
Cool! That's a new angle.
It's not my favorite; I really dislike boilerplate tasks, it's a bit more verbose, and the most fundamental thing from an API point of view is that it's a modifier on the current task instead of a modifier on a relationship between tasks or dependencies. This looks like it means something it doesn't:

[code]

[2017-05-01 06:08] pascalberger commented on #1561
Since there's currently [only interest for aliases providing argument checking](https://github.com/cake-build/cake/pull/1586#issuecomment-298260600) but not also for a public class which can be consumed in addins, I'll leave this to someone else for implementing (or there is also already an implementation for such aliases in [Cake.Incubator](https://github.com/cake-contrib/Cake.Incubator/blob/deve

[2017-05-01 16:43] agc93 commented on #1580
Okay so I don't think removing `IsRunningOnVSTS`/`IsRunningOnTFS` is either a) the right call or b) something we can change at this point (that's one hell of a breaking change).

As discussed, you can already use `TFBuild.Environment.Agent.IsHosted` to confirm if you're on a hosted agent, regardless of the `IsRunningOn*` properties.

I will look into improving the logic of `IsRunningOn` and PR it

[2017-05-01 20:09] mholo65 commented on #1561
Adding *Up-for-grabs* on this one.

This is what we thought of:
* Add `internal static` class for argument checking. You could use [this](https://github.com/aspnet/EntityFramework/blob/dev/src/Shared/Check.cs) and attribute ASP.NET team in the comments. This file should be sourced in every project (`<Compile Include="..\Shared\Check.cs" />`)
* Change argument checking to use new approach. E.g. cha

[2017-05-02 07:03] patriksvensson commented on #1561
@mholo65 Perhaps we should reserve this one for [https://yourfirstpr.github.io/](https://yourfirstpr.github.io/)? I could do the mentoring.

[2017-05-02 08:38] mholo65 commented on #1561
@patriksvensson sounds good to me!

[2017-05-02 13:18] islopma opened #1587 "Arguments missing for Octopus Deploy tool"
Octopus Deploy provides the tool Octo.exe, which is integrated into Cake under the **Cake.Common.Tools.OctopusDeploy** namespace. One feature that the tool provides is to deploy the latest release from a selected channel (using options _--channel "Beta" --version latest_).

The thing is that not every option is currently available through Cake, such as the _channel_ option, so one has to resort to

[2017-05-02 13:51] mholo65 commented on #1587
@islopma

Instead of resorting to calling `Octo.exe` directly you could always use [ArgumentCustomization](http://cakebuild.net/api/Cake.Core.Tooling/ToolSettings/50AAB3A8) on `OctopusDeployReleaseDeploymentSettings` as a workaround.

That said. Are you in a position to submit a PR for adding `Channel` and `Version`/`ReleaseNumber` to `OctopusDeployReleaseDeploymentSettings`?

[2017-05-02 14:27] islopma commented on #1587
That's a nice workaround. I will test it and if it works I will be submitting a PR with the `Channel` option.

[2017-05-02 17:50] robgha01 opened #1588 "cake.config Tools directory not picked up for latest version"
### What You Are Seeing?
The cake binaries are downloaded to the tools folder in my build folder.
The rest of the tools are downloaded to the correct location specified in the config.
i upgraded cake from 0.15.x to 0.19.4.0

Project zip
https://1drv.ms/u/s!AvOXr9f-QF0p22E1gMD_I9kTNWLS

### What is Expected?
That the cake is installed in the correct configured path.

### What version of Cake are yo

[2017-05-02 18:45] robgha01 opened #1589 "Debugging cake scripts in visual studio code and using #load"
Its simply not working no scripts are loaded see the zip in this issue https://github.com/cake-build/cake/issues/1588 i get messages indicating that it cant find variables etc that live inside the #load script.

[2017-05-02 19:02] mholo65 commented on #1588
@robgha01 cake itself is downloaded by the bootstrapper to the folder specified in in the bootstrapper (see https://github.com/cake-build/resources/blob/develop/build.ps1#L89).

Feel free to modify your bootstrapper to whatever suits your needs (e.g. like downloading `Cake` to another folder).

[2017-05-02 19:10] mholo65 commented on #1589
@robgha01 is it only when debugging or does it also happen when running the script without debugging? Could you paste verbose log of what is happening (i.e. set `--Verbosity Diagnostic`). Thanks!

[2017-05-02 19:39] robgha01 commented on #1589
@mholo65 i get this when i debug
[code]
When i remove the --debug it seams to be the same:
[code]

[2017-05-02 19:55] robgha01 commented on #1589
The build scripts looks like this: https://gist.github.com/robgha01/6393b59e11694f6f135e95c5c93b376b

[2017-05-02 19:55] robgha01 commented on #1588
ok, thanks i will look there then.

[2017-05-02 20:02] robgha01 commented on #1588
I managed to get it to install cake to the correct path will look into a way to read the config file and parse it out there later when i manage to get a working build script again as to the other issue :) https://github.com/cake-build/cake/issues/1589 i will close this one for now.

[2017-05-02 20:02] #1588 closed

[2017-05-02 20:03] mholo65 commented on #1588
Yes, but that would add more complexity to the bootstrapper. We are trying to keep that simple. However, we encourage people to modify their bootstrapper to suit their own needs.

Closing issue as it is solved.

[2017-05-02 20:16] mholo65 commented on #1588
@robgha01 [here's](https://github.com/cake-build/resources/pull/17) a PR for the bootstrapper that parses `cake.config` if You'd like to take a look.

[2017-05-02 20:21] mholo65 commented on #1589
@robgha01 what happens if you move `#load nuget:?package=BlueLeet.Build` to the top in `build.cake`?

[2017-05-03 14:50] robgha01 commented on #1589
@mholo65 i get the same error:
[code]

[2017-05-03 14:58] robgha01 commented on #1589
@mholo65 i tested with this: `#load "../.tools/BlueLeet.Build/content/base.cake"` and now the script is getting included and i dont get that error so the problem is #load is not updated for the Cake.CoreCLR ? it must be missing for some reason or someting may need to get fixed for it to work in CLR ? @gep13 you know anything about this ?

[2017-05-03 15:33] pascalberger opened #1591 "Add support for choco download"
Add support for `choco download` which would allow to use a Cake script for [internalizing Chocolatey packages](https://chocolatey.org/docs/features-automatically-recompile-packages) from the community feed and publish them to an internal feed.

[2017-05-03 16:52] gep13 commented on #1591
@pascalberger I like it! I think we can safely assume that consumers of that function have a licensed edition of choco, and just try to execute it.

[2017-05-03 16:54] gep13 commented on #1589
@robgha01 if you are using Cake.CoreCLR then you can only use addins that are built for .net core. Some of the addins that you are using don't support .net core yet.

[2017-05-03 17:51] robgha01 opened #1592 "Debugging Cake.exe in visual studio addin dlls not resolved "404""
### What You Are Seeing?
Im seeing this:
![image](https://cloud.githubusercontent.com/assets/362726/25673332/531d6cd2-3037-11e7-8f9a-0e3996ae200e.png)

it can't find any cake addins but thay are downloaded and getting installed, this goes for all addins.
if i manually copy the dll file from addins folder to cake.exe folder it works.

im using a custom configuration that looks like this (cake.confi

[2017-05-03 20:38] gep13 commented on #1592
@robgha01 can you please provide a complete set of steps, ideally including a sample project, that reproduces the problems that you are seeing?

Everything that I am testing here doesn't exhibit the problems that you are seeing.

[2017-05-04 06:47] mholo65 commented on #1589
@robgha01 does it work when not using `Cake.CoreCLR`?

[2017-05-04 07:58] pascalberger commented on #1591
OK, will create a PR in this case :)

[2017-05-04 08:18] gep13 commented on #1591
Sweet!

[2017-05-04 09:01] robgha01 commented on #1589
@gep13 @mholo65 yes it works if i dont use the CoreCLR but the #load is still not including the base script it it because im using addins that are not supported ?

[2017-05-04 09:27] robgha01 commented on #1592
Hi @gep13 i have set up a sample for you, use this command to start debugging:
`Cake.exe "../../Build/build.cake" -target="Build-Publish" -configuration="release" -verbosity="diagnostic" -experimental -debug`

you can also hit publish.bat in the build folder.
Sample link: https://1drv.ms/u/s!AvOXr9f-QF0p22I9IS74xwAr5KPS

[2017-05-04 11:15] devlead commented on #1587
Fixed by #1590

[2017-05-04 11:15] #1587 closed

[2017-05-04 11:37] pascalberger opened #1594 "Add overload to WithCriteria which prints a message"
It would be nice to have an overload of the `WithCriteria` extension which takes a message which will be printed out in case of the criteria being false, additionally to the `Skipping task: xy` text. This would allow to give some information why a task was skipped to the user.

[2017-05-05 06:36] gep13 opened #1595 "Add Alistair and Martin names to all required places"
In the same way that @patriksvensson @devlead and @gep13 names appear in various locations within the code base, the same should happen with @agc93 and @mholo65.

PR incoming.

[2017-05-05 08:24] dhming commented on #1462
That a very good suggestion. I think we can also add such an extension method like ```IsDependentOn("task1", "task2", "taskN")``` or ```IsDependentOn("task1,task2,taskN")```

[2017-05-05 10:01] WebDucer opened #1597 "CommitsSinceVersionSource and PreReleaseNumber as Integer"
### What You Are Seeing?
The GitVersion properties `CommitsSinceVersionSource` and `PreReleaseNumber` are currently of type `string`. The JSON file from the CLI of GitVersion returns both values as int (that make sense for me).

[code]

### What is Expected?

- Both properties should be of type `int`.

### What version of Cake are you using?

- 0.19.5

### Are you running on a 32 or 64 bit system?

[2017-05-05 10:17] gep13 commented on #1597
@WebDucer can you confirm what version of GitVersion you are using?  Just want to make sure that this isn't a change in the output between versions of GitVersion.

[2017-05-05 10:27] WebDucer commented on #1597
@gep13 I use the current version 3.6.5.

[2017-05-05 10:31] gep13 commented on #1597
@WebDucer In which case, I agree.  This is something that we should fix.  Are you in a position to submit a PR to correct this?

[2017-05-05 10:37] WebDucer commented on #1597
@gep13 Yes, I can do that on weekend. But this change would cause a breaking change for all that uses this properties as strings.

[2017-05-05 10:41] gep13 commented on #1597
@WebDucer Yes, you are right.

@devlead any ideas about a "graceful" way to handle this?

[2017-05-05 11:10] jnm2 commented on #1462
These would be good for starters:

[code]

[2017-05-05 11:23] pascalberger commented on #1146
@gep13 This seems like a duplicate of #510 which was fixed with https://github.com/cake-build/cake/commit/b9183974d51c9fbb1b9e13cfa0e4b560fb73c502

[2017-05-05 11:43] gep13 commented on #1146
@pascalberger yes and no.

That commit is really tricking chocolatey into thinking that it is running in the specified output directory, hence, that is where the output file goes.

Now in the chocolatey client there is an option to specify the output directory.  The chocolatey aliases within Cake should correctly use that setting.

[2017-05-05 11:44] gep13 commented on #1146
i.e. within the ChocolateyPackRunner, set the `--outputdirectory` command line option.

[2017-05-05 11:52] pascalberger commented on #1146
@gep13 Ah, missed this :)

I can create a PR for this. Can we expect users to have Chocolatey >= 0.10.0 installed?

[2017-05-05 11:55] gep13 commented on #1146
@pascalberger that is a difficult one.

The stance I personally take on this is that the aliases should work against the current latest version of the underlying tool, however, we should probably do a check in this instance to make sure that the version is high enough before attempting to run that command.

Or, I wonder, would an earlier version of chocolatey just ignore it?  Perhaps worth a quick

[2017-05-07 04:55] JonCubed commented on #1533
@devlead I've added a [PR](#1599) for the initial work on msbuild command. I'm not really familiar with all the different settings of msbuild so I had to rely on documentation descriptions which wasn't always clear. Let me know if you have any feedback on it.

Anyone else watching this issue is welcome to also provide feedback.

[2017-05-07 06:00] RichiCoder1 commented on #1533
@JonCubed `dotnet msbuild` should functionally be a slight superset of the existing msbuild alias. All it's doing is invoking MSBuild :)

[2017-05-07 10:33] patriksvensson commented on #1533
Agree with @RichieCoder2. Would be awesome if we could expose the MSBuildSettings on dotnet build.

[2017-05-07 14:06] JonCubed commented on #1533
@RichiCoder1 @patriksvensson `dotnet msbuild` is running an embedded version of the cross-platform MSBuild 15, I think VS2017 ships with the Full Framework version of MSBuild 15.  There are some similarities with previous versions of MSBuild but there are also some difference such as switches that are no longer supported and other switches that take different values now.

If the `DotNetCoreMSBuild

[2017-05-07 16:41] JonCubed commented on #1533
I've given this a bit more thought. I took a look at the command line doc for older versions of msbuild, it hasn't really changed, the `MSBuildSettings` made me think there was a greater difference then there really is. So here is what I propose...

* Create an interface `ICommonMSBuildSettings` that both `MSBuildSettings` and `DotNetCoreMSBuildSettings` implement.
    * This will solve the issue

[2017-05-07 20:53] patriksvensson commented on #1533
@JonCubed Excellent research. A lot of base classes shared between two different tools are bound to come back biting us. Perhaps it's better to keep the tools separated like you originally did and merge them together once the whole dotnet thing has stabilized a little.

[2017-05-08 20:25] devlead commented on #1533
@JonCubed agree with @patriksvensson, I've rebased the the feature branch and #1533 with latest develop. So just finish the oustanding tests/extensions mentioned in the PR and I'll do an review.

[2017-05-09 08:06] sm-g opened #1601 "NugetRestore not working with Nuget 4 and NuGetMSBuildVersion.MSBuild15"
I have `$NUGET_EXE` pointing to nuget v4.1.0.

[code]

outputs

[code]

There is related [SO answer](http://stackoverflow.com/questions/43128897/cake-nugetrestore-always-wants-msbuild14#comment73403182_43129179).

[2017-05-10 19:06] kendaleiv opened #1602 "MSBuildFileLogger Verbosity does not accept Verbosity.Verbose"
[code]

results in

[code]

However, `Verbosity.Diagnostic` works great!

[2017-05-11 12:30] robgha01 commented on #1592
I need to debug my own addin c# methods and cant do so easily as when i add -debug i get dlls not found errors when i remove the -debug it works the only hack of a fix i can do is copy all addin dlls if thay have any to the cake.exe folder else its impossible to debug have you got any hint on the problem ? @gep13

[2017-05-11 12:37] agc93 commented on #1568
I'll see what I can do about adding some examples, but a lot of the documentation is straight from what little info Microsoft is providing 😄

[2017-05-11 20:12] devlead commented on #1602
Issue seems to be [here](https://github.com/cake-build/cake/blob/develop/src/Cake.Common/Tools/MSBuild/MSBuildRunner.cs#L212)
[code]
where probably same logic that's used [here](https://github.com/cake-build/cake/blob/develop/src/Cake.Common/Tools/MSBuild/MSBuildRunner.cs#L75) should be reused.
[code]

[2017-05-14 19:24] mholo65 opened #1603 "Push Cake.NuGet to MyGet/NuGet"
Will be used in OmniSharp plugin stuff in order to download addins/tools...

As discussed with @patriksvensson

[2017-05-14 21:35] mholo65 commented on #1603
@cake-build/cake-team probably best to wait with this until #1562 is merged.

[2017-05-16 07:35] sm-g opened #1606 "MSBuild error MSB4062 not fails build"
### What You Are Seeing?

### What is Expected?
Build stopped with `An error occurred when executing task 'Publish'.`

### What are you using?
cake 0.19.5, windows10-x64

### How Did You Get This To Happen? (Steps to Reproduce)

Task("Publish")
    .IsDependentOn("Clean")
    .Does(() =>
{
    MSBuild(SOLUTION_FILE, settings => settings
        .WithTarget("Publish")
        .SetConfiguration(conf

[2017-05-16 07:44] patriksvensson commented on #1606
@sm-g Could you translate the error message to English for us? Thanks!

[2017-05-16 11:58] sm-g commented on #1606
@patriksvensson
error MSB4062: The "TransformWebConfig" task could not be loaded from the assembly "C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Sdks\Microsoft.
NET.Sdk.Publish\build\netstandard1.0\..\..\tools\net46\\Microsoft.NET.Sdk.Publish.Tasks.dll". Could not load file or assembly 'file:///C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\Sdks\Mi

[2017-05-16 20:59] mholo65 commented on #1606
@sm-g

ish\tools\net46\Microsoft.NET.Sdk.Publish.Tasks.dll' or one of its dependencies.

This says it all. Cake is currently built for .NET 4.5 and can't therefore load .NET 4.6 assemblies.

Using `Cake.CoreCLR` instead (which is built for `netstandard1.6`) will most likely solve this issue. However, `Cake.CoreCLR` will not currently support all available addins.

This issue will be addressed in a

[2017-05-16 21:12] kcamp opened #1607 "ToolResolutionStrategy fails unexpectedly with Cake.LongPath.Module"
### What You Are Seeing?
Cake build fails to install nuget packages via `#load` or `#addin` with a fatal error. `The directory name is invalid`

### What is Expected?
I expect any issues to be sidestepped and the build to complete.

### What version of Cake are you using?
0.19.4

### Are you running on a 32 or 64 bit system?
64

### What environment are you running on?  Windows? Linux? Mac?
Window

[2017-05-17 00:43] pcoombe commented on #1568
that would be awesome, shame about poor MS documentation.

[2017-05-17 03:18] kcamp commented on #1431
@devlead Any thoughts on this?  I also have a need to extend the support of the ITeamCityProvider to support the service messages surrounding tests (testStarted, testFinished, testFailed, etc.)

I've started down the road of implementing extension methods, but the real sticking point is that the `WriteServiceMessage(string message, Dictionary<string, string> values)` method isn't exposed, nor is t

[2017-05-17 06:28] sm-g commented on #1606
With `.SetMSBuildPlatform(MSBuildPlatform.x86)` there is no such error ([will be fixed in Core 2.0 SDK 2.0](https://github.com/dotnet/sdk/issues/1073#issuecomment-291915534)). I do not think that is about Cake .net version, it invokes msbuild and msbuild cannot load assembly.

[2017-05-17 07:26] mholo65 commented on #1606
@sm-g ah, I see. Sorry didn't read the logs fully before answering.

[2017-05-17 12:15] gep13 opened #1609 "Add additional VSTS actions"
VSTS uses Logging Commands to allow build scripts to interact with it:

https://github.com/Microsoft/vsts-tasks/blob/master/docs/authoring/commands.md

These are already used for certain things within the VSTS Provider within Cake.

However, it would appear that there are a number of undocumented Commands that can also be utilised.  As an example:

https://github.com/Microsoft/vsts-tasks/blob/a67d

[2017-05-17 22:34] tom-dudley opened #1610 "Globbing for "/**/foo" fails"
I'm looking at some of the Globbing code and the following new test fails when I don't think it should.
`VisitRecursiveWildcardSegment` in `GlobVisitor` returns early as the `if` block isn't entered due to `context.Path` being empty. I think that's the cause.

[code]

### What You Are Seeing?
When adding this test, it fails.

### What is Expected?
I think this should pass. (I think it identifies a

[2017-05-18 01:10] tom-dudley commented on #1610
It's possible this actually works fine on an actual filesystem, it may be caused by the mock implementation. I've not tested that.

[2017-05-18 02:54] agc93 commented on #1609
I might be able to get the same support for publishing test results, just testing it has such a brutal feedback cycle :neutral_face:

[2017-05-18 08:19] gep13 commented on #1609
Yip, wasn't limiting this issue to only the publishing of code coverage reports.  Ideally, anything that is a Logging Command, and makes sense to be included as part of a Cake run should be included.

[2017-05-18 23:55] agc93 commented on #1609
Yeah agreed, this one's mostly a fight with Microsoft's not-very-good and constantly-changing documentation :laughing: Will try and get a look at this over the weekend.

[2017-05-19 06:10] gaoconggit opened #1612 "How to call build.ps1 with c #"
### What You Are Seeing?

### What is Expected?

### What version of Cake are you using?

### Are you running on a 32 or 64 bit system?

### What environment are you running on?  Windows? Linux? Mac?

### Are you running on a CI Server?  If so, which one?

### How Did You Get This To Happen? (Steps to Reproduce)

### Output Log

GIST LINK - Please create a gist and link to that gist here

OR

[cod

[2017-05-19 06:15] devlead commented on #1612
What are you trying to achieve? To launch a PowerShell script is general thru process start of PowerShell.exe or using a PowerShell script host.

But a little more detail on the why would make it easier to suggest the how.

[2017-05-19 06:22] gaoconggit commented on #1612
I would like to use c # to run build.ps1。
This is my code：

  private static void CallPS1(string script)
        {
            using (Runspace runspace = RunspaceFactory.CreateRunspace())
            {
                runspace.Open();
                PowerShell ps = PowerShell.Create();
                ps.Runspace = runspace;
                ps.AddScript(script);
                ps.Invoke();

[2017-05-19 06:57] gaoconggit commented on #1612
I solved this problem by cmd
"powershell.exe ./build.ps1"

I use c # to call cmd

[2017-05-19 07:01] patriksvensson commented on #1612
@gaoconggit Perfect. I'm closing this issue since it's been resolved for you.

[2017-05-19 07:01] #1612 closed

[2017-05-21 21:52] pcoombe commented on #1568
Just came across this, https://github.com/agc93/Cake.BuildSystems.Module
Seems to do about everything i need, so maybe can save you some time updating the documentation
Maybe just reference this module somewhere else on the site, unless its already there and i missed it.

[2017-05-21 22:13] agc93 commented on #1568
@pcoombe I wrote that module as well so familiar with its operation! 😁 I need to make a couple of other changes as well so I will update docs at the same time.

[2017-05-24 08:19] adamhathcock commented on #1032
Updated my PR again https://github.com/cake-build/cake/pull/1258

[2017-05-24 08:21] adamhathcock commented on #1577
I'm very interested this.  Let me know if I can help.

[2017-05-24 09:11] JeremyCade commented on #1577
@adamhathcock I would love to push this further though I am making the assumption this is currently blocked by outstanding work on #1533.

@devlead, @patriksvensson, @gep13 is my assumption correct?

[2017-05-24 13:09] phillipsj opened #1614 "Correct the class that TeamCityEnvironmentInfo inherits from"
Line 13 of the TeamCityEnvironmentInfo.cs inherits from AppVeyorInfo, not TeamCityInfo.

[2017-05-24 13:09] phillipsj commented on #1614
@gep13 @devlead I can take this one, is it possible to get this turned around pretty fast.

[2017-05-26 11:33] ghuntley opened #1616 "error message leads to poor developer experience"
![image](https://cloud.githubusercontent.com/assets/127353/26493045/e7af9342-4249-11e7-9921-70e912445d42.png)

# Repro

[code]

Recommend changing the error message to be  more developer friendly such as "$task cannot depend on $task".

[2017-05-26 16:21] jnm2 commented on #1480
I need this too.

[2017-05-26 16:44] jnm2 commented on #1480
[code]

[2017-05-26 16:44] jnm2 commented on #1480
In the meantime, this works:

[code]

[2017-05-29 02:08] volak opened #1617 "Visual Studio Online - Cake Task failure not failing build"
### What You Are Seeing?

I'm using cake and in the process of moving to VSTS for builds - and it seems the cake task from the market place: https://marketplace.visualstudio.com/items?itemName=cake-build.cake
Is not passing errors to the build? Even when cake throws a build exception the build succeeds - as noted in the following shots

<img width="631" alt="sshot-94" src="https://cloud.githubuser

[2017-05-29 07:33] devlead commented on #1617
Looks like you're missing MS build web targets Sdk on build agent.

Either it needs to be installed or use something like this nuget package
https://www.nuget.org/packages/MSBuild.Microsoft.VisualStudio.Web.targets/14.0.0.3

[2017-05-29 07:45] volak commented on #1617
Thank you for the tip - you are right about the error I'm getting during the build.

But that's just for example - the problem is VSTS thinks the build succeeded even though cake failed 😞

[2017-05-29 09:12] pascalberger opened #1618 "Support different Git servers in TeamCityPullRequestInfo"
### What You Are Seeing?
[TeamCityPullRequestInfo](https://github.com/cake-build/cake/blob/develop/src/Cake.Common/Build/TeamCity/Data/TeamCityPullRequestInfo.cs) currently works only with certain Git servers like Stash, since it expects pull requests in `refs/pull-requests/`. This doesn't work for other Git servers like eg. TFS.

### What is Expected?
It should be possible to use the class with a

[2017-05-29 10:48] mholo65 commented on #1618
:+1: e.g. Gerrit uses `refs/changes`, and Github `refs/pull`.

This should also be taken into account in other build systems.

Should the ref be user configurable or should Cake check some known possibilities? I bet Gitlab, Github, Bitbucket, Gerrit, TFS, etc all use different refs for PRs..

[2017-05-29 11:17] #1617 closed

[2017-05-29 11:17] devlead commented on #1617
Issue moved to [cake-build/cake-vso #39](https://github.com/cake-build/cake-vso/issues/39) via [**ZenHub**](https://www.zenhub.com/)

[2017-05-29 15:57] pascalberger opened #1620 "Improve documentation for RedirectStandardError and RedirectStandardOutput"
### What You Are Seeing?
Documentation for `ProcessSettings.RedirectStandardError` and `ProcessSettings.RedirectStandardOutput` seems to be just a copy from `ProcessStartInfo` documentation on MSDN, which is misleading in the context of the `ProcessSettings` class.

### What is Expected?
Documentation specific for the `ProcessSettings` class.

### What version of Cake are you using?
0.19.5

[2017-05-29 18:54] mholo65 commented on #1620
Closed via #1619

[2017-05-29 18:54] #1620 closed

[2017-05-30 07:31] pascalberger opened #1621 "Add overload for StartProcess which also returns redircted error output"
### What You Are Seeing?
While there currently is an [overload](http://cakebuild.net/api/Cake.Common/ProcessAliases/BAF6BEF4) of the `StartProcess` alias which returns the redirected standard output. But there is no way to receive the error output if [RedirectStandardError](http://cakebuild.net/api/Cake.Core.IO/ProcessSettings/6334A01B) is set.

### What is Expected?
There should be an overload of

[2017-05-31 07:09] flcdrg opened #1623 "DupFinder failing with 'The filename or extension is too long'"
### What You Are Seeing?

Calling `DupFinder(@"**/*.cs");` fails with "Error: The filename or extension is too long"

### What is Expected?

DupFinder should run without error.

JetBrains DupFinder.exe already handles wildcard expansion correctly. I don't think the current implementation is correct that Cake is trying to do this on DupFinder's behalf.

Alternatively, there should be a way to pass

[2017-05-31 07:09] flcdrg commented on #1623
Calling `.\caketools\JetBrains.ReSharper.CommandLineTools\tools\dupfinder.exe **/*.cs` directly does not exhibit this error

[2017-05-31 08:35] devlead commented on #1623
This looks like an .NET issue, triggered by absolute path to the tool.

You could verify this by using the `subst` command to the `JetBrains.ReSharper.CommandLineTools` folder, i.e. something like:
[code]
And setting the [ToolPath](http://cakebuild.net/api/Cake.Core.Tooling/ToolSettings/F6956DA8) property on the [DupFinderSettings](http://cakebuild.net/api/Cake.Common.Tools.DupFinder/DupFinderSett

[2017-05-31 08:38] flcdrg commented on #1623
Either that or the expanded wildcards results in  too many files being passed as arguments

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mattias Karlsson <notifications@github.com>
Sent: Wednesday, May 31, 2017 6:05:08 PM
To: cake-build/cake
Cc: David Gardiner; Author
Subject: Re: [cake-build/cake] DupFinder failing with 'The filename or extension is too long'

[2017-06-01 01:02] flcdrg commented on #1623
Just confirming that this is problem with the arguments, not the toolpath.

I figured out a workaround by using `ArgumentCustomization = args=>args.Append(@"**/*.cs")`, and when calling DupFinder with a path to a known small set of .cs files - eg. `DupFinder(@"Subfolder\*.cs", settings);`

That runs without error.

[2017-06-01 07:50] Roemer commented on #1146
Any news on this?

[2017-06-01 08:28] Julien-Mialon opened #1625 "Comma in msbuild commands are not escaped"
### What You Are Seeing?
MSBuild generated commande line is invalid when property contains a comma.

### What is Expected?
Valid generated command line

### What version of Cake are you using?
v0.19.5

### Are you running on a 32 or 64 bit system?
64 bits

### What environment are you running on?  Windows? Linux? Mac?
Mac

### Are you running on a CI Server?  If so, which one?
No

### How Did You

[2017-06-01 14:29] Roemer commented on #1341
I could use the same for example when using Jenkins Pipeline which has separate steps and there it would make sense to have different cake tasks for the different steps so that you see a time for each step and the current progress more easily in Jenkins.

[2017-06-01 15:33] Roemer commented on #1269
I'd love to see this feature implemented. As you said, that can be quite a time-saver in a CI.

[2017-06-01 15:43] gep13 commented on #1269
@Roemer while this isn't baked in yet, it is possible to implement on your own.

Have a look here:

https://github.com/cake-contrib/Cake.Recipe/blob/develop/Cake.Recipe/Content/tools.cake#L21

with an example of it's use here:

https://github.com/cake-contrib/Cake.Recipe/blob/d1a810117482f5f88d49a104175539394d9c4980/Cake.Recipe/Content/analyzing.cake#L6

Hope that helps!

[2017-06-02 05:46] Roemer commented on #1341
Another workaround for the moment would be to not use IsDependentOn but rather use RunTarget from inside other targets.
[code]

[2017-06-02 06:58] gep13 commented on #1341
@Roemer I "think" what you want is perfectly do-able today.  You would need something like this:

[code]

Then, you could do something similar to what is done in Cake.Recipe (the link that I sent you yesterday) where you create the `IsDependentOn` links at runtime.  That way, when you are using Jenkins Pipeline, you call individually the required targets that don't have any dependencies.  And then

[2017-06-02 15:08] Roemer commented on #1341
You mean something like that:
[code]