[2014-05-27 21:01] patriksvensson opened #1 "Add build script"

[2014-05-27 21:02] patriksvensson opened #2 "MSBuild support"
**Features:**
- [x] Properties
- [x] Targets
- [x] Configuration
- [x] 64 bit support (AMD64)
- [x] Platform target support

**Versions:**
- [x] Visual Studio 2013
- [x] Visual Studio 2012
- [x] Visual Studio 2010
- [x] Visual Studio 2008
- [x] Visual Studio 2005

[2014-05-27 21:02] patriksvensson opened #3 "IO: Compression support"
- [x] Zip files
- [x] Zip directory

[2014-05-27 21:02] patriksvensson opened #4 "NuGet packaging support"
Start out with minimal package support.
For example; files, references and release notes have to be added as part of nuspec file, but version information can be passed to method directly.

[code]

Templating support should be added later on.

[2014-05-27 21:02] patriksvensson opened #5 "IO: Clean and delete directories"
- [x] Clean directory
- [x] Delete directory

[2014-05-27 21:03] patriksvensson opened #6 "Globbing functionality"

[2014-05-27 21:03] patriksvensson opened #7 "ILMerge support"
[code]

[2014-06-01 00:00] #1 closed, assigned to patriksvensson

[2014-06-01 00:02] vktr opened #8 "Unicorns."
Needs more unicorns. They are fabulous.

**Steps to take**
- [x] add unicorn
- [x] make sure it is fabulous
- [x] ???
- [x] profit

You can have mine.
![unicorn](https://cloud.githubusercontent.com/assets/1491824/3140471/f17b1ef4-e91f-11e3-8e6c-32995684b25a.gif)

[2014-06-01 22:09] #6 closed, assigned to patriksvensson

[2014-06-01 22:10] patriksvensson opened #9 "xUnit support"
- [x] Run unit tests
- [x] Shadow copying
- [x] Output directory
- [x] Xml report
- [x] Html report

[2014-06-01 22:16] patriksvensson opened #10 "Should throw if two tasks have the same name"
When validating the graph, throw an exception with a friendly error message if a task with the same name as the one that is being added already exist.

[2014-06-01 22:22] patriksvensson opened #11 "MSTest support"

[2014-06-01 22:22] patriksvensson opened #12 "NUnit support"

[2014-06-01 22:24] patriksvensson opened #13 "Logging"

[2014-06-02 11:58] #10 closed, assigned to patriksvensson

[2014-06-02 12:01] patriksvensson opened #14 "Cake script runner based on Roslyn"

[2014-06-02 18:34] #13 closed, assigned to patriksvensson

[2014-06-02 19:09] patriksvensson opened #15 "Should throw if target wasn't found"

[2014-06-02 19:15] #15 closed, assigned to patriksvensson

[2014-06-04 15:12] patriksvensson opened #16 "Benchmark report"
The Cake engine should return a benchmark report if the built went well.

[2014-06-06 12:47] #2 closed, assigned to patriksvensson

[2014-06-06 13:16] #14 closed, assigned to patriksvensson

[2014-06-06 15:57] #5 closed, assigned to patriksvensson

[2014-06-06 16:08] patriksvensson opened #18 "Generate script host methods"
At the moment, all script host methods exposing functionality from ICakeContext is hard coded. These should be generated before executing the script.

This will also eliminate the need for a separate script host (and a lot of redundant code).

**Example**

If this extension method is declared:

[code]

We could add a using statement to namespace `MyStuff` and generate a script method:

[code]

Or

[2014-06-07 17:52] #18 closed, assigned to patriksvensson

[2014-06-07 17:55] patriksvensson opened #19 "Parse FAKE release notes"
- [x] Complex format
- [x] Simple format

[2014-06-08 11:26] patriksvensson opened #20 "Custom collections for file and directory paths"
They could also use operator overloading (+ and -) to make it easier to add and remove files. Globber should return these collections.

**Examples**

[code]

[code]

[2014-06-08 12:39] patriksvensson opened #21 "Find external extension methods to ICakeContext and generate script aliases."
By analyzing the syntax tree and look for `#r`-directives, we can scan those assemblies for extension methods to `ICakeContext` and automatically generate script methods for these.

[2014-06-09 09:55] patriksvensson opened #22 "IO: File Copying"

[2014-06-09 13:25] #3 closed, assigned to patriksvensson

[2014-06-09 19:06] patriksvensson opened #23 "Log process launch parameters"
When launching a process, the parameters should be written to the log (with diagnostic verbosity).

[2014-06-09 19:06] patriksvensson opened #24 "Cleaning directory should create it if missing"

[2014-06-09 19:11] #4 closed, assigned to patriksvensson

[2014-06-09 23:06] #22 closed, assigned to patriksvensson

[2014-06-10 09:41] #24 closed, assigned to patriksvensson

[2014-06-11 17:28] #9 closed, assigned to patriksvensson

[2014-06-11 17:44] patriksvensson opened #25 "NuGet symbol package support"

[2014-06-11 18:50] #16 closed, assigned to patriksvensson

[2014-06-11 20:16] #25 closed, assigned to patriksvensson

[2014-06-11 20:17] #8 closed, assigned to patriksvensson

[2014-06-12 09:45] patriksvensson opened #26 "Simplified task graph configuration"
Simplified task graph configuration.

[code]

[2014-06-13 12:50] patriksvensson opened #27 "MSBuild: Find latest MSBuild if no tools version is specifed"

[2014-06-13 14:58] patriksvensson opened #28 "Add method to describe tasks"
Add option to add a description to a task.

[code]

When starting Cake with the `-showtasks` parameter, the following output should be shown.

[code]

[2014-06-13 15:10] patriksvensson opened #29 "Make a difference between running order and dependencies"
A dependency is something that HAS to be run before something else. If it does not have to be run, it should allow the task to run anyway.

[code]

In the example before, the task `Second` will be run regardless if `shouldDoStuff` was true or not, `Third` is dependent on `Second` though, so if `Second` did not run, an exception will be thrown.

[2014-06-14 09:17] patriksvensson opened #30 "Add tools path option"
By convention, all external tools are located under `./tools/thetool/`. All script extensions that uses external tools should have a tool path option, so the script can tell were to find them.

[code]

[2014-06-14 10:28] #30 closed, assigned to patriksvensson

[2014-06-15 21:45] #12 closed, assigned to patriksvensson

[2014-06-16 14:16] patriksvensson opened #31 "Add support for parsing AssemblyInfo.cs files"
- [ ] AssemblyVersion
- [ ] AssemblyFileVersion
- [ ] AssemblyInformationalVersion

[2014-06-16 14:22] patriksvensson opened #32 "Support for creating AssemblyInfo.cs"
Should be able to create AssemblyInfo files from build script.

[2014-06-16 22:41] #7 closed, assigned to patriksvensson

[2014-06-17 09:33] patriksvensson opened #33 "NuGet pack: Set nuspec metadata"
- id
- title
- version
- authors
- owners
- description
- summary
- projectUrl
- iconUrl
- licenseUrl
- copyright
- requireLicenseAcceptance
- releaseNotes
- tags

[2014-06-17 10:21] patriksvensson opened #34 "Add script alias methods that accept strings"
- [x] `void CopyFiles(IEnumerable<string> files, DirectoryPath target)`
- [x] `void CleanDirectories(IEnumerable<string> directories)`
- [x] `void DeleteDirectories(IEnumerable<string> directories, bool recursive = false)`
- [x] `void Zip(DirectoryPath root, FilePath output, IEnumerable<string> files)`
- [x] `void XUnit(IEnumerable<string> assemblies)`
- [x] `void XUnit(IEnumerable<string> assembl

[2014-06-17 23:12] #11 closed, assigned to patriksvensson

[2014-06-18 09:37] patriksvensson opened #35 "Add CMake support?"

[2014-06-19 07:58] patriksvensson opened #36 "Task graph visualization"

[2014-06-19 08:15] patriksvensson opened #37 "Rename Run to RunTarget"

[2014-06-19 08:41] patriksvensson opened #38 "Add ContinueOnError option for tasks"

[2014-06-19 10:47] #37 closed, assigned to patriksvensson

[2014-06-19 12:30] #38 closed, assigned to patriksvensson

[2014-06-22 01:23] #20 closed, assigned to patriksvensson

[2014-06-23 08:01] patriksvensson opened #39 "Make task names case insensitive"

[2014-06-23 08:03] patriksvensson opened #40 "Add friendly name to tasks"
The friendly name should be used when printing the task name in the output or presenting the task in the report.

[code]

[2014-06-24 15:38] patriksvensson opened #44 "NuGet Restore"

[2014-06-24 20:40] #44 closed, assigned to nobody

[2014-06-24 21:36] #39 closed, assigned to patriksvensson

[2014-06-25 12:45] #40 closed, assigned to nobody

[2014-06-25 21:52] patriksvensson opened #48 "Add support for loading scripts"

[2014-06-25 22:53] #23 closed, assigned to nobody

[2014-06-25 23:06] patriksvensson opened #49 "Change build system for Cake"
![philosoraptor](https://cloud.githubusercontent.com/assets/357872/3393041/4602ce94-fcbd-11e3-92c4-ea49567f3688.jpg)

[2014-06-27 20:19] patriksvensson opened #50 "MSBuild: Support MaxCpuCount"
Should use `/m` if nothing is specified for MaxCpuCount.

[2014-06-27 20:34] #50 closed, assigned to patriksvensson

[2014-06-28 00:55] #32 closed, assigned to nobody

[2014-06-29 17:03] #49 closed, assigned to nobody

[2014-06-29 23:30] #19 closed, assigned to nobody

[2014-06-30 08:48] patriksvensson opened #51 "WiX support"
- [x] Candle
- [x] Light

[2014-06-30 08:55] patriksvensson opened #52 "JSLint support"

[2014-06-30 08:56] patriksvensson opened #53 "Jasmin support"

[2014-06-30 09:31] patriksvensson opened #54 "FXCop support"

[2014-06-30 09:31] patriksvensson opened #55 "Windows Service controller support"

[2014-06-30 09:34] patriksvensson opened #56 "TeamCity support"
Should probably introduce script alias properties to make it cleaner and easier to use.

- [ ] Set build version
- [ ] Block opened/closed
- [ ] Progress message/start/finish
- [ ] Publish artifact

**Script aliases:**

[code]

**Convenience:**

[code]

[2014-06-30 09:37] patriksvensson opened #57 "Print script alias method to write to console"
The Print method will append a line break to the information written.

[code]

[2014-06-30 11:48] patriksvensson opened #58 "Script generation do not detect params"
In the script method below, `params` are not taken into account.

[code]

[2014-06-30 11:56] #58 closed, assigned to patriksvensson

[2014-07-01 11:14] #28 closed, assigned to nobody

[2014-07-01 16:07] patriksvensson opened #61 "Add script alias properties"
Would be nice to have script alias properties as we have script alias methods.

[code]

Would generate the following at runtime as part of the script host:

[code]

Which would allow us to write the following in our script:

[code]

Needed for #56.

[2014-07-01 16:08] patriksvensson opened #62 "Rename script method attribute."
The `CakeScriptMethodAttribute` should be renamed to `CakeMethodAliasAttribute`.

[2014-07-03 11:04] #61 closed, assigned to patriksvensson

[2014-07-03 11:04] #62 closed, assigned to nobody

[2014-07-05 14:13] patriksvensson opened #64 "Documentation"
- [x] Add XML documentation for public classes and members (Cake.Core and Cake.Common).
- [x] Generate API documentation (method and property aliases) for site.

[2014-07-07 22:16] patriksvensson opened #65 "Add missing, basic IO operations"
- [x] Create directory
- [x] Delete file
- [x] Move file

[2014-07-07 22:18] #36 closed, assigned to nobody

[2014-07-12 07:57] #65 closed, assigned to nobody

[2014-07-15 22:23] #21 closed, assigned to nobody

[2014-07-15 22:31] patriksvensson opened #66 "Add NuGet-package for Cake.Core"
Should add a NuGet package for `Cake.Core` to simplify development of script aliases.

[2014-07-16 04:35] form2t opened #67 "The referenced component '..\winterop\winterop.vcxproj' could not be found"
Hi, all.
I download wix3-wix38rtm.zip (release) and wheh i start wix.sln an warning "The referenced component '..\winterop\winterop.vcxproj' could not be found".
When i build solution an error
The command ""D:\Documents\Downloads\wix3-wix38rtm\build\ship\x86\xsdgen.exe" "D:\Documents\Downloads\wix3-wix38rtm\src\tools\wix\Xsd\wix.xsd" "D:\Documents\Downloads\wix3-wix38rtm\build\obj\ship\x86\Wix\wix

[2014-07-16 08:49] #67 closed, assigned to nobody

[2014-07-16 22:45] #66 closed, assigned to patriksvensson

[2014-07-16 22:46] patriksvensson opened #68 "NuGet: Push"

[2014-07-20 11:55] patriksvensson opened #69 "Default to conventions if no script file is provided"
If no script file is provided, Cake should default to conventions to find the script file.
1. `build.cake`
2. `cakefile`
3. `bake.cake` :smile: (thanks to Martin Caspersson for the idea)

This functionality should probably be added before the `ICommand` is created in `CakeApplication`.

[2014-07-20 15:34] #68 closed, assigned to patriksvensson

[2014-07-21 09:31] patriksvensson opened #70 "NuGet pack: Add files dynamically from script"

[2014-07-21 12:37] #33 closed, assigned to nobody

[2014-07-23 09:13] #51 closed, assigned to nobody

[2014-07-23 13:46] patriksvensson opened #71 "Add process runner"
It should be easy to start new processes from a Cake script.

[code]

Working directory should default to the build script directory.

[2014-07-24 12:54] patriksvensson opened #72 "TypeScript compiler support"

[2014-07-24 20:39] patriksvensson opened #73 "GitHub support"
Would be nice to be able to be able to communicate with GitHub directly from the build script. For example to create a release and to upload release assets.
- [ ] Create release.
- [ ] Upload release asset.

This obviously need some more thought.

[2014-07-24 20:40] patriksvensson opened #74 "MSpec support"

[2014-07-24 20:42] patriksvensson opened #75 "NGen support"
Would be nice for some local builds, but not critical in any way.

[2014-07-24 20:46] patriksvensson opened #76 "AppVeyor support"
To get AppVeyor environment variables and interact with the build agent API.

Need some more thought.

[2014-07-25 14:36] patriksvensson opened #77 "Tool base class"
Since almost all tools look the same, it would be nice to have a tool base class that holds the common operations involved with executing a tool, such as tool path retrieval, process execution and process result verification.

[2014-07-27 21:50] #77 closed, assigned to patriksvensson

[2014-07-28 12:15] patriksvensson opened #78 "Better example"
There should be a better example that show how to get started with Cake.

[2014-07-29 23:58] #64 closed, assigned to nobody

[2014-07-30 14:11] patriksvensson opened #79 "Move ScriptRunner to Cake.Core"

[2014-07-31 12:00] Nysosis opened #80 "Svn Support"
Would be nice to be able to export/checkout repositories.

[2014-07-31 17:41] #48 closed, assigned to nobody

[2014-07-31 17:46] patriksvensson opened #81 "Mono support"

[2014-07-31 22:02] patriksvensson opened #82 "NuGet script references"
Would be cool to be able to include scripts in NuGet packages directly in a script. Packages should be cached to avoid download packages if we don't need to.

[code]

This syntax is just an example of how it could work. If this is implemented, it will probably look/work differently.

This need some more thinking though.

[2014-08-15 14:34] jeffdoolittle opened #83 "Allow specifying nunit-console results path in NUnitSettings and NUnitRunner"

[2014-08-17 19:53] #34 closed, assigned to nobody

[2014-08-17 22:16] patriksvensson opened #85 "Support environment variables in paths"
Paths should support environment variables (on Mono and Windows).

Segments surrounded by `%` tokens are not technically valid paths (on Windows), but we're going to make an exception for this. This means that we should no longer throw an exception when creating an illegal path, but mark the path as invalid. The `$` token is valid on *nix systems, so a path like that will still be considered valid

[2014-08-17 22:17] patriksvensson opened #86 "Glob expressions should support environment variables"
This should be supported after #85 has been implemented.

[2014-08-17 23:54] #71 closed, assigned to nobody

[2014-08-18 18:25] #27 closed, assigned to patriksvensson

[2014-08-18 20:30] RichiCoder1 opened #89 "Add AlwaysRun for Task"
This is a strange request, but could an .AlwaysRun() options be added for a task. So that if it's a dependendency, it always runs, even if there was an error earlier in the chain?

[2014-08-19 11:09] #52 closed, assigned to nobody

[2014-08-19 11:09] #53 closed, assigned to nobody

[2014-08-19 14:40] #35 closed, assigned to nobody

[2014-08-19 14:48] #57 closed, assigned to nobody

[2014-08-19 20:07] patriksvensson opened #91 "Move Tool<T> to Cake.Core"

[2014-08-19 20:33] #91 closed, assigned to patriksvensson

[2014-08-19 21:51] RichiCoder1 opened #92 "Add Enviroment() helper to retrieve environment variables."
Many build servers depend on ambient environment variables to pass information to build scripts. Would be great to have a helper to retrieve them.

Example

[code]

[2014-08-21 16:49] #92 closed, assigned to nobody

[2014-08-21 18:08] patriksvensson opened #95 "Git support"

[2014-08-22 09:54] #83 closed, assigned to nobody

[2014-08-22 15:57] #69 closed, assigned to nobody

[2014-08-22 16:45] #31 closed, assigned to patriksvensson

[2014-09-02 09:00] patriksvensson opened #99 "Wrong error code is returned when parsing arguments"
If providing two build scripts (by mistake), Cake will print out "More than one build script specified" and show the usage information. The exit code 0 is still provided though.

Any error regarding argument parsing should return exit code 1.

[2014-09-03 14:18] patriksvensson opened #102 "Skip version command if build script is specified"
The command `Cake.exe -version` should only show the version of cake if no build script is specified.

If a build script is specified, the ´-version´ flag should be passed to the build script as any other parameter.

[2014-09-03 14:19] patriksvensson opened #103 "Insert #line directive in generated scripts"
This will make sure that stack trace information will show correct information. This should also make it easier to find errors in loaded script files.

[2014-09-03 18:09] #99 closed, assigned to nobody

[2014-09-04 12:48] patriksvensson opened #106 "Cake should throw if target cannot be reached"
If specifying that Cake should run to a specific target, but the target itself can't be reached due to a `WithCriteria` constraint, an exception should be thrown.

[code]

If running the script with `-target=B` it will execute step A and then exit. The intent was to stop at B, so this should be considered an error.

[2014-09-05 08:18] patriksvensson opened #107 "Octopus Deploy: Create Release"

[2014-09-05 08:18] patriksvensson opened #108 "Octopus Deploy: Deploy Release"

[2014-09-06 13:09] #102 closed, assigned to nobody

[2014-09-06 13:09] #106 closed, assigned to nobody

[2014-09-13 20:09] rofr opened #109 "NuGetPack xml namespace"
NuGetPack task requires xml namespace attributes for the nuspec files package and metadata elements, I believe it's to support settings substitution.

The nuget tool works fine on my nuspec file without the namespace attributes. In my opinion, if a nuget file is valid according to nuget it should not cause an error with cake.

Error I get is "nuspec file is missing metadata element" which is origi

[2014-09-13 20:23] rofr opened #110 "NuGetPack working directory bug?"
When I pass an OutputDirectory arg to NuGetPack task, it seems to be used as working directory while the task is running.

The following worked a few versions ago:

[code]

After upgrading to the latest cake (today) it no longer works. The paths in the nuspec files elements have become relative to the OutputDirectory. (see image below) If I comment out the OutputDirectory in the build spec, it wor

[2014-09-13 23:32] #110 closed, assigned to nobody

[2014-09-14 00:25] #109 closed, assigned to nobody

[2014-09-15 00:20] doobiwan opened #111 "NSIS Support"
NSIS (Nullsoft Scriptable Install System) is a popular lightweight, free desktop installer build system.
http://nsis.sourceforge.net/Main_Page

[2014-09-21 10:57] #103 closed, assigned to patriksvensson

[2014-09-21 23:07] patriksvensson opened #112 "GetFiles is in the wrong category"
The category for the `GetFiles` alias method should be `Files`.

See [Line 22](https://github.com/cake-build/cake/blob/develop/src/Cake.Common/IO/GlobbingExtensions.cs#L22)  in GlobbingExtensions.cs for more information.

[2014-09-23 18:37] #112 closed, assigned to nobody

[2014-09-28 00:19] #89 closed, assigned to nobody

[2014-10-07 21:10] patriksvensson opened #113 "Add documentation for Setup and Teardown"

[2014-10-19 19:34] #113 closed, assigned to nobody

[2014-10-19 22:01] #79 closed, assigned to nobody

[2014-10-29 14:14] abenedykt opened #114 "Debugging support"
some way to debug a script :)

[2014-11-04 14:54] devlead opened #115 "Make MyGet feed more discoverable"
Make "nightly" NuGet packages available in the MyGet gallery.

http://docs.myget.org/docs/reference/package-source-discovery
http://blog.myget.org/post/2013/03/18/Support-for-Package-Source-Discovery-draft.aspx

[2014-11-06 10:37] patriksvensson opened #116 "Add example of how to use Cake with AppVeyor"

[2014-11-06 10:37] patriksvensson opened #117 "Add example of how to use Cake with TeamCity"

[2014-11-06 17:33] gregfiske opened #118 "XCopy-like functionality"
I'm missing the ability in my old scripts to call xcopy to recursively copy the files in a directory and its subdirectories to a target directory.  Wondering if there could be either new API commands or some recommendations in documentation on how to do recursive directory copying in cake scripts.

[2014-11-07 10:02] patriksvensson opened #119 "XCopy support"
See issue  #118

[2014-11-11 23:01] patriksvensson opened #120 "MSBuild: Add support for nodeReuse (nr) flag"

[2014-11-15 14:55] #120 closed, assigned to nobody

[2014-11-15 16:15] patriksvensson opened #121 "xUnit.net v2 Support"
xUnit.net v2 has some breaking changes:
1. No `xunit.console.clr4.exe` (use `xunit.console.exe`)
2. Options are prefixed with `-` instead of `/`

[2014-11-15 20:57] patriksvensson opened #122 "Chocolatey package"

[2014-11-15 23:12] #121 closed, assigned to patriksvensson

[2014-11-27 11:04] patriksvensson opened #123 "Remove delegating tasks from report"
When running delegating tasks (tasks that *only* explicitly point out dependencies but has no action), those tasks should be excluded from the report.

The following script:

[code]

Should result in the following:

[code]

Where the task `D` is excluded.

[2014-11-27 15:30] #116 closed, assigned to patriksvensson

[2014-11-28 22:40] patriksvensson opened #124 "Templating support"
Would be nice with some kind of templating support to easily replace tokens in a template to produce an new file. For example; setting the `Version` property in a `psd1` template to produce a new file.

With this in place, other templating stuff in Cake such as nuspec transformations could just be a wrapper around this functionality.

[2014-12-09 18:40] RichiCoder1 opened #127 "Add Copy Directory support."
Related to #119, but using straight C# instead of XCopy.

Note: I've already written the code and am using it in production, just need to extract and unit test it.

[2014-12-09 19:05] RichiCoder1 opened #128 "Powershell Extensions"
I'd be nice to add some sort of powershell extensions.

This could mean:
A) The ability to call individual ps cmdlets
B) Create a runspace and execute powershell lines
C) Some combination of the above.

A) would probably be the simplest at this point. The other question is whether this should be incorporated in to Cake.Common or made it's own library, as it would take a dependency on System.Manage

[2014-12-10 21:50] patriksvensson opened #131 "Add mechanism to report errors"
Right now we have the OnError extension to `TaskBuilder` that catches an error and let the script handle it (or rethrow it). But the problem with this is that it does not work well if we want to preserve the stack trace. Maybe we could implement a mechanism that let us act on an error but not recover from it.

Original question: https://twitter.com/RichardSimp/status/542791945764892672

[2014-12-10 22:30] RichiCoder1 opened #132 "NUnit Multi-Assembly Support"
Move NUnit from running multiple assemblies separately to running the all in on Run. This keeps result files from overriding each other, as well as reducing console output clutter.

[2015-01-02 13:49] #122 closed

[2015-01-02 13:51] #124 closed

[2015-01-02 13:51] #75 closed

[2015-01-02 13:51] #78 closed

[2015-01-02 13:58] #55 closed

[2015-01-02 21:49] patriksvensson commented on #131
Added this is PR #145. Good to merge?

[2015-01-03 01:20] #131 closed

[2015-01-05 19:14] RichiCoder1 commented on #132
Wanted to push out a note that this fix is alive and well. I just got back into town and will be updating/repushing my fixes.

[2015-01-05 19:18] RichiCoder1 opened #147 "Retry Helper"
It's a small thing, but I wondered if there'd be any interest in a general utility helper that allows you to retry an action if it fails, multiple times.

https://gist.github.com/RichiCoder1/6a20333202a3003e5d36

I've used it for the clean and delete directory methods specifically, as sometimes they fail due to the nature of how files are deleted. (Marked deleted, but not actually removed, resulti

[2015-01-05 19:24] RichiCoder1 commented on #128
I think a POC is the way to go. I'm needing this func for unrelated reasons, so I'll look into it and like the repo once I've got some examples going.

[2015-01-06 01:41] #76 closed

[2015-01-06 02:05] patriksvensson commented on #128
Sounds good to me :+1:

[2015-01-06 02:06] patriksvensson commented on #132
No hurry, the PR is waiting for you until you have time :smile:

[2015-01-07 09:28] patriksvensson opened #148 "MyGet build support"
As @gep13 says [in a comment](https://github.com/cake-build/cake/pull/146#issuecomment-68878328) to PR #146, it would be nice with MyGet support.

[2015-01-07 10:15] patriksvensson commented on #147
Sure, I can see a use for this :smile:
Would also be nice to be able to set a delay as well between retries.

[2015-01-07 10:18] devlead commented on #147
Indeed, the Microsoft Transient Fault Handling Application Block has some good patterns with its retrying policies
http://msdn.microsoft.com/en-us/library/hh680899(v=PandP.50).aspx

[2015-01-07 10:19] patriksvensson opened #149 "GitHub gists"
Would be useful to be able to reference a gist from the cake script.
The source of the gist would be inserted into the build script. Good for sharing utility methods.

[code]

[2015-01-07 15:30] RichiCoder1 commented on #149
Would the idea here be to enable streaming a file into the build script, or specifically allow the loading of full on gists?

[2015-01-07 16:42] patriksvensson commented on #149
I'm thinking that it should work the same way as the `#l`-directive, but instead of streaming from disc, stream over the interwebz.

[2015-01-07 17:37] devlead commented on #149
Gists after just GIT repositories so perhaps do an generic GIT repo script include?

Something like
`#git https://gist.github.com/872bfcc44b234b12ea8c.git?script=RelativeGlobberPathToFileOrFiles`
Then clone into folder relative to cake (like addins)

Then it could be cached if many scripts were to use the same repo, and just pull if exist to get latest version.

Built in GIT support for clone, pul

[2015-01-07 18:23] patriksvensson commented on #149
Hmmm, maybe. Problem is that we probably would need an additional dependency on `libgit2sharp` since it's a pain to locate the git-executable. When I think about it, maybe it's better to do this as an addin when the `#nuget`-support is in place?

[2015-01-07 18:51] devlead commented on #149
Meanwhile could just add HTTP support to the `#l` directive, both GITHub repos and gists support raw downloading if files.

[2015-01-09 21:49] devlead opened #150 "Add directives to documentation"
Directives should be documented with sample usage, preferably from xml comments automatically

[2015-01-15 21:56] #127 closed

[2015-01-15 21:59] patriksvensson commented on #118
@gregfiske This functionality has been implemented by @RichiCoder1 and merged today. Will appear in the next release (probably tomorrow).

[2015-01-15 22:00] #118 closed

[2015-01-16 14:41] patriksvensson opened #155 "Dry run mode"
Add a `dry run` mode that does the exact same as a normal build, but instead of executing the tasks, just outputs the resulting task graph.

[code]

[2015-01-16 15:13] patriksvensson opened #156 "Allow parallel execution of tasks"
Image the following task graph which start at `1` and ends at `5`:

[code]

Normally, we would do a topographic sort that gives us the order `1 -> 2 -> 3 -> 4 -> 5`, but since this example graph is diamond shaped, we could actually run task `2`,`3` and `4` in parallel, by treating them as a single task which would result in the execution order `1 -> (2 | 3 | 4) -> 5`.

Since most tasks in a Cake s

[2015-01-16 15:19] patriksvensson commented on #149
@devlead I actually like this idea of extending the `#l` directive to support downloading via HTTP.

[2015-01-16 17:03] RichiCoder1 commented on #156
I'd piggy back on this and also (re?)mention the idea of async tasks.

[2015-01-18 10:45] gep13 commented on #155
Just a thought, should this flag not be called -noop (as in no operation)?  This is a fairly standard flag in the *nix world, that is starting to flow over to the windows world.

[2015-01-18 11:29] devlead commented on #155
In PowerShell it's called `-WhatIf`, regardless of naming it sounds like a great feature, one could in the long run take it over step further and have some commands have an optional mode for this where they print out what they would do without executing. I.e. globber operations like Copy/Delete could printout which files matched,

[2015-01-18 11:38] gep13 commented on #155
Agreed :+1:

[2015-01-18 15:09] patriksvensson commented on #155
It's easy to add a `noop` and `whatif` alias so it feels familiar to everyone. Going to start implement this tonight if there is time, and will submit a PR for discussion :)

[2015-01-19 20:56] bjmarte opened #158 "NUnit Test Task Isn't Running"
I'm trying to use the NUnit task to run my unit tests as part of the build process but they don't seem to be running.  I've tried to boil this down to the simplest possible scenario by hardcoding everything:

[code]

I never see any test results in my output though:

[code]

It doesn't seem to matter if I have passing tests or failing tests, the output is the same.  I've tried running nunit-consol

[2015-01-19 21:10] bjmarte commented on #158
Just a few other notes...
* Obviously that is just a snippet of my build file; I have other targets (like a compile target) that are running normally.
* The NUnit call doesn't seem to fail no matter what crap I pass to it, even if I pass a made up file name it seems to behave the same.
* I am using the 0.1.28 version released yesterday
* I have added Info logging lines and other things to make sur

[2015-01-19 21:32] bjmarte commented on #158
I tried using the GetFiles method on my pattern just to see how many files are found.  Either there is something wrong wtih my pattern or a hard codes path doesn't count as a valid pattern because there were no files coming back.  I changed the pattern so it started finding the right files but now I'm getting the following error:
[code]

I'm not sure what that error means.  I've got the NUnit loca

[2015-01-19 22:30] patriksvensson commented on #158
@bjmarte Hmm. Seems very strange since your code should work. Has this been working before and suddenly stopped working?

[2015-01-19 22:54] patriksvensson opened #159 "Globber returns no result when given file path"
[code]

The following work though:

[code]

[2015-01-19 22:59] patriksvensson commented on #158
@bjmarte I found the error. The globber seem to fail for actual file paths, which is kind of bad, but I've filed an issue (#159) and will try to fix it tomorrow at lunch. In the meanwhile to get your tests running, you can do like this:

[code]

You will also need to tell Cake how to locate the NUnit runner.
There are two ways of doing this; either by putting it somewhere under the tools folder in

[2015-01-19 23:04] bjmarte commented on #158
You are welcome.  I fixed my issue with cake not being able to find the nunit executable after digging into the cake code.  I find the tools folder convention a little strange and didn't seem to work even after I copied NUnit into the folder. It was also not easy to determine how to tell cake to look for nunit in a different location.  I'm all good now though.

[2015-01-19 23:13] patriksvensson commented on #158
Hmm, sound strange. What did your folder structure to `nunit-console.exe` look like (from the root where you have your build script)?

The reason for the convention is that we need to have one to find things easy, and we settled on the same conventions as FAKE use for compatibility.

Sorry for the inconvenience. We're working on better documentation at the moment (better than we have at [http://ca

[2015-01-20 07:43] gep13 commented on #158
@patriksvensson are you planning to still use readthedocs, or are you switching to something else?

[2015-01-20 10:07] patriksvensson commented on #158
@gep13 In a perfect world, I would like to continue to use readthedocs since it's awesome. The problem is that we will need something more complex to be able to generate proper API documentation for all public types and members of Cake.Core and Cake.Common as well as DSL documentation (for all the alias methods). This should be able to build automatically on AppVeyor when pushing to the master bra

[2015-01-20 10:09] gep13 commented on #158
I've done some experimenting in the last couple of days, and I'm counting of having something in place at http://cakebuild.net in about two weeks.

Sounds good, look forward to checking it out!

[2015-01-20 12:04] patriksvensson commented on #159
Was doing some investigation during my lunch and found the error. This however raised some questions about the functionality as a whole. Adding my notes here so I can continue with this later.

**Regression tests needed:**

[code]

[2015-01-21 12:04] #159 closed

[2015-01-21 22:46] bjmarte commented on #158
Just a couple notes for documentation sake:

Information about how to include one script file from another would be helpful. I assumed that the syntax would be #load "<filename>", the same as scriptcs (according to their documentation, not experience).  I couldn't get that to work but then by trial and error figured out that #l "<filename>" does work.  I want to have separate files for general bui

[2015-01-22 05:20] patriksvensson commented on #158
@bjmarte You're absolutely right about the documentation. It's still a quite young project, and documentation is something that needs constant attention to be up to date. If you want to change something or just notify someone about something that's missing, the documentation can be found at (https://github.com/cake-build/documentation)[https://github.com/cake-build/documentation].

The `#l` direct

[2015-01-22 22:04] patriksvensson opened #161 "Add alias for directives"

[2015-01-22 23:09] patriksvensson commented on #158
Added information about extensibility here: [http://cake.readthedocs.org/en/latest/extensibility.html](http://cake.readthedocs.org/en/latest/extensibility.html). Will add more information about addin support later.

Thanks for the feedback!

[2015-01-23 03:28] patriksvensson commented on #161
Add `#load` alias for `#l` directive.
Add `#reference` alias for `#r` directive.

[2015-01-28 04:33] patriksvensson commented on #158
Fixed and released in version 0.1.29.

[2015-01-28 04:33] #158 closed

[2015-01-28 04:59] patriksvensson opened #163 "Remove need for a nuspec file"
Since @devlead added support for adding files to a nuget package programmatically (see [commit](https://github.com/cake-build/cake/commit/a59b0656ae98da269042ed17f21f711684f7c08b)) there really isn't a need to provide att nuspec file since all (afaik) attributes of a nuspec file is supported via code.

[code]

Of course, there should still be possible to provide a nuspec file if the user wants to.

[2015-01-28 19:52] RichiCoder1 opened #164 "Follow roslyn team scripting discussions."
Currently the Roslyn team is discussing script over @ dotnet/roslyn#122. It'd be worth keeping an I on what they do, as it might affect Cake.

[2015-01-29 07:54] patriksvensson commented on #164
Ah, great link. Thanks!

[2015-02-04 10:15] #161 closed

[2015-02-11 10:49] DavidR91 opened #172 "Query/possible bug with multiple arguments"
If I invoke my build with the following arguments:

`"$(SolutionDir)cake/cake.exe" build.cake -verbosity=diagnostic -root="$(SolutionDir)" -scomDllConfiguration="$(ConfigurationName)"`

I have problems using the argument 'root' since it ends up as a string with the actual value of:

`C:\dev\squaredup-custbuild\v1" -scomDllConfiguration=Release`

Where C:\dev\squaredup-custbuild\v1 is the actual va

[2015-02-11 11:37] DavidR91 commented on #172
OK, after testing this out directly from the command line, it's definitely Visual Studio being crap -_-

(http://stackoverflow.com/questions/11587394/how-to-put-double-quotes-in-vs2010-post-build-step#comment36704367_11620677)

You can close this issue - apologies, I had no reason VS was incapable of parsing double quotes properly

[2015-02-11 12:01] patriksvensson commented on #172
I see. But more importantly, did you get it to work?
If quotes are a problem, would perhaps wrapping the task execution in a custom MSBuild task solve it?

[2015-02-11 12:20] DavidR91 commented on #172
Yes, although back to possibly being a cake bug :-1:

This command works:

`"C:\dev\squaredup-custbuild\v1\cake/cake.exe" -verbosity=diagnostic -squaredUpRoot="C:\dev\squaredup-custbuild\v1" -scomDllConfiguration="Release"`

But this does not:

`"C:\dev\squaredup-custbuild\v1\cake/cake.exe" -verbosity=diagnostic -squaredUpRoot="C:\dev\squaredup-custbuild\v1\" -scomDllConfiguration="Release"`

Note

[2015-02-11 13:36] devlead commented on #172
Hi @DavidR91,

I tested the following script
[code]
called like this from PowerShell
[code]
it outputs (truncated diagnostics)
[code]
Calling from like this from PowerShell
[code]
it outputs (truncated diagnostics)
[code]
Added as post build step
[code]
and got scomDllConfiguration missing.

Added an this to the script
[code]
In visual studio output was:
[code]
ran same code in PowerShell and it s

[2015-02-11 13:56] devlead commented on #172
Interesting it's an .Net console "issue" they are doing something smart;)
[code]

[2015-02-13 13:07] DavidR91 commented on #172
Yeah for the time being rather than adding a space, I've been adding an additional \

i.e.:

`-squaredUpRoot=&quot;$(SolutionDir)\&quot;`

so I end up getting stuff like this:

`-squaredUpRoot="C:\Program Files (x86)\Jenkins\jobs\Website v2.0\workspace\v1\\"`

This seems to work, so I'm presuming that's because it ends up evaluating \\ to be an escaped \ before it considers \" ?

But yeah, seems t

[2015-02-13 13:28] devlead commented on #172
@DavidR91 ah, what would work as the msbuild format is xml :+1:

But I'm working on an solution, will post back here as soon as I have pushed some bits.

[2015-02-13 13:36] devlead commented on #172
And thanks for reporting the issue @DavidR91 :+1:

Be sure to let us know if you have any questions or feedback, you can also checkout our [#cake-build/cake](https://gitter.im/cake-build/cake) Gitter channel for more interactive discussions.

[2015-02-13 19:10] haefele opened #173 "Path is created incorrectly."
Let's assume a project structure like the following:

- Root
  - MyProjectRoot
    - src
      - MyProject.sln
      - ...
    - tools
      - cake
        - **cake.exe**
        - ...
    - scripts
      - **build.cake**
      - **build.ps1**

My **build.ps1** script looks like:
[code]

I think my intention is clear: I want to execute my **build.cake** script.

But it looks like he creates the fu

[2015-02-13 19:32] patriksvensson commented on #173
Hmm, sounds strange. Will take a look at it later tonight.
Thank you for reporting this.

[2015-02-13 19:44] patriksvensson commented on #173
I just tried this and it works as expected here. Would you mind posting your `build.ps1` script here? Would help reproduce the behavior.

[2015-02-13 19:44] patriksvensson commented on #173
@haefele I just tried this and it works as expected here. Would you mind posting your `build.ps1` script here? Would help reproduce the behavior.

[2015-02-13 19:47] haefele commented on #173
Well, they are exactly like the ones above.
I will try to reproduce it on my end now.

[2015-02-13 19:56] haefele commented on #173
@patriksvensson This is strange, it still doesn't work on my end.
FYI, I have version 0.1.32.0, the latest build I can get of github.

Maybe I can upload my folders somewhere?

[2015-02-13 20:02] patriksvensson commented on #173
@haefele I just used the Cake Bootstrapper to generate a script and edited that one to use the folder structure you have.

Here is the script, try it out and see if it works on your end.

[code]

[2015-02-13 20:13] haefele commented on #173
@patriksvensson Your script seems to work, but I can't tell why mine is not.
Shall I upload my folders and scripts somewhere, so you can easily test my case?

[2015-02-13 20:20] patriksvensson commented on #173
Yes, that would be good. There must be a rational explanation for this :)

[2015-02-13 20:26] haefele commented on #173
I hope you can work with a onedrive file :smiley:.
http://1drv.ms/1Ax3uNX

[2015-02-13 20:36] patriksvensson commented on #173
Perfect. The problem seem to have something to do how Powershell handles working directories when launching a process like that. Maybe @devlead know something about this?

Anyway, you can get your script working correctly by running it like this:

[code]

[2015-02-13 20:38] haefele commented on #173
This is just so strange, because I can get one folder upwards or downwards of the actual folder I want to get to.
Anyways, that seems to do the trick.

Thank you very much!

[2015-02-13 20:49] patriksvensson commented on #173
Will investigate this further to make sure that this is not a problem with Cake.
Anyways, glad that you got it running!

[2015-02-14 15:52] #173 closed

[2015-02-18 13:09] patriksvensson opened #177 "Add aliases to check for file/directory existence"
Not sure why this doesn't exist in the common library already, but it would be nice with some cake aliases to check for existence of files and directories.

[code]

[2015-02-18 15:42] RichiCoder1 commented on #177
Most people that'd be using Cake are probably coming from C# land. Wouldn't this be confusing vs the .Net way of just doing File.Exists & Directory.Exists?

[2015-02-18 15:47] patriksvensson commented on #177
System.IO.File.Exist does not do all the nice things that's associated with `FilePath` and `DirectoryPath` such as making the provided path absolute to the script location :smile:

[2015-02-22 17:47] #164 closed

[2015-02-22 17:47] patriksvensson commented on #172
@devlead Can I close this?

[2015-02-22 17:50] devlead commented on #172
@patriksvensson nope, not fixed yet.

[2015-02-22 19:30] #82 closed

[2015-02-22 19:31] #132 closed

[2015-02-23 18:07] vktr commented on #177
Grabbing.

[2015-02-24 22:13] #177 closed

[2015-02-24 22:13] #111 closed

[2015-03-01 16:03] DavidR91 opened #186 "Simple token find/replace in file?"
Kind of a feature suggestion: Is it possible to add an ultra-simple placeholder replacement to cake? (but not enforcing any particular style of placeholder/token - e.g. don't force {{token}} or whatever)

So far I've been using File.ReadAllText(<whatever>).Replace(...) but it's a bit dirty

I presume the [TextTransformation](http://cakebuild.net/api/cake.common.text/3aaa8599/) stuff might support

[2015-03-01 16:59] patriksvensson commented on #186
Hello David,

Yes, the [TextTransformation](http://cakebuild.net/api/cake.common.text/3aaa8599/) alias need some examples. I will add some example code and documentation for it tonight. Thank you for bringing this to my attention!

Here is a short example of how to use the [TextTransform](http://cakebuild.net/api/cake.common.text/5e93c90a/8124a2e8/) and the [TransformTextFile](http://cakebuild.net

[2015-03-01 17:03] patriksvensson commented on #186
@DavidR91 Your suggestion about being able to assign the token is an interesting idea. Will take a look at this as well (since it's not supported at the moment).

[2015-03-01 19:23] patriksvensson commented on #186
@DavidR91 Made an attempt add configurable placeholders in PR #187. Will appear in next version.

[2015-03-02 00:06] RagingKore commented on #147
Have a look at Polly https://github.com/michael-wolfenden/Polly
It seems a perfect fit.
I can even volunteer for this, but I'm trying to finish Cake.Topshelf :)

[2015-03-02 18:59] DavidR91 commented on #186
Awesome! And thanks for the text transform example too

[2015-03-02 23:15] patriksvensson commented on #186
@DavidR91 You can use custom text transformation placeholders now as well in v0.1.34. You can read updated documentation here: http://cakebuild.net/api/cake.common.text/5e93c90a/48145e1f/

[2015-03-02 23:15] #186 closed

[2015-03-02 23:23] patriksvensson commented on #172
@devlead Can I close this now? :wink:

[2015-03-07 23:35] #70 closed

[2015-03-10 21:48] vktr opened #195 "Cake fails on using-statement with space between using and ("
Given the following script,

[code]

Cake fails with the error,

[code]

I cannot reproduce the error in a `scriptcs` REPL.

[2015-03-10 21:56] patriksvensson commented on #195
Try not to use space between `using` and `(`.

[2015-03-10 21:57] vktr commented on #195
@patriksvensson Really? Yeah, how come I didn't think of that? Still, I would expect it to work either way.

[2015-03-10 22:52] patriksvensson commented on #195
It's a Roslyn issue. Sorry about this.

[2015-03-10 22:52] #195 closed

[2015-03-11 12:28] #119 closed

[2015-03-13 19:23] vktr opened #198 "NuspecTransformer does not find the 'package' root element when xmlns is set."
I'm running into a problem when trying to run `NuGetPack` on a manually generated `.nuspec` file that has the `xmlns` attribute set according to the [Nuspec reference documentation](http://docs.nuget.org/create/nuspec-reference).

Example nuspec [straight from the NuGet docs](http://docs.nuget.org/create/nuspec-reference#user-content-examples-of-nuspec-files),

[code]

Using the following Cake scr

[2015-03-13 20:22] patriksvensson commented on #198
Will take a look at this later tonight.

[2015-03-14 23:05] devlead commented on #172
@patriksvensson issue still remains, investigating now

[2015-03-14 23:44] #198 closed

[2015-03-15 00:35] patriksvensson commented on #172
@DavidR91 Problem seems to be fixed now. Will appear in next released version.

[2015-03-15 22:49] #155 closed

[2015-03-26 11:36] patriksvensson opened #219 "Add support for NuGet update command."

[2015-03-26 16:36] RichiCoder1 commented on #147
Polly may be the answer for this if we don't need something built in. I haven't tried, but due to Polly's singleton nature, I would imagine that `#addin Polly` would work.

[2015-03-26 16:46] RichiCoder1 commented on #72
I may chew on this for unrelated reasons. Adding an addendum that with the upcoming TS 1.5, there's now a tsconfig.json which can contain many of these settings.

[2015-03-26 17:00] RichiCoder1 opened #220 "Gulp-esque streams and operation piping."
See: https://github.com/gulpjs/gulp/blob/master/docs/API.md#gulpsrcglobs-options.
This:
[code]
[code]
With these new Alias:
[code]

Still chewing on how ICakePipe would function, how files are passed to stream Aliases, and other such things.

Comments, opinions, etc?

[2015-03-26 17:04] devlead commented on #72
Cool @RichiCoder1 I would suggest you start as an addin to try out the concept.

[2015-03-26 17:21] RichiCoder1 commented on #72
Absolutely. I've got something prototyped out.

[2015-03-26 20:39] patriksvensson commented on #220
I'm not familiar with Gulp but will read the link you provided and digest it :smile:

[2015-03-26 20:41] RichiCoder1 commented on #220
It's a very popular, if not defacto, build system in the JavaScript community. Has a lot of neat ideas.

[2015-03-26 20:55] patriksvensson commented on #220
I think it looks neat :smile:

Something like this could be used as a generic file/stream transformation mechanism in Cake.
It would probably be wise (as a first step) to implement it as an addin.

[2015-03-26 20:59] RichiCoder1 commented on #220
Absolutely. I don't think there's anything here that requires cake level support.
I may make that a personal project for funsies (on top of all my other languishing personal projects xD).

[2015-03-27 06:28] RichiCoder1 commented on #220
Here's an example implementation:
https://github.com/RichiCoder1/Cake.Streaming

It's still a rough work-in-progress. Would love opinions or feedback>
(Also, build.ps1 won't work just this sec, as I couldn't fix my .gitignore before my computer died and, as a result, some .cake utility files and the nuspec aren't commited. The solution should build fine)

[2015-03-31 06:56] #219 closed

[2015-04-02 15:47] Maco2005 opened #225 "testing"
New apps

[2015-04-02 17:16] vktr commented on #225
Yes, I second this. Would be a great addition!

[2015-04-02 17:32] devlead commented on #225
:shipit:

[2015-04-02 17:59] RichiCoder1 commented on #225
:whale:

[2015-04-02 18:46] #225 closed

[2015-04-14 13:02] matdube opened #230 "NUnit: Incorrect xml report with multiple assemblies"
When passing multiple assembiles to NUnit, the runner is called once per assembly.  This means the xml report is overwritten and doesn't contain the results of all the test assemblies.

Here's an example taken from my project's build script :
[code]
NUnit-Results.xml only has the results of the last assembly found.

[2015-04-14 20:29] patriksvensson commented on #230
Fixed in #231.

[2015-04-14 20:29] #230 closed

[2015-04-20 15:45] cgourlay commented on #54
I would be interested in picking this up. What sort of support for FxCop was in mind?

[2015-04-21 10:51] patriksvensson commented on #54
@cgourlay: Thanks for your interest in helping out with Cake! Much appreciated! :smile:

To be honest, I don't know... FXCop usage is normally defined as a MSBuild task, and only require FXCop to be installed on the computer (if VS2010 or higher is not installed), so I'm not certain what kind of support would be needed. Perhaps this issue should be closed.

What do you think?

[2015-04-21 13:10] cgourlay commented on #54
@patriksvensson - I've no strong feelings either way. I just happened to stumble across this project yesterday, think it is terrific and am keen to contribute to it. I was looking to add some other metrics (e.g. code coverage output) but figured this existing issue would be a good starting point to allow me familiarise myself with the code.

[2015-04-21 13:36] patriksvensson commented on #54
@cgourlay: Glad to hear that!

Code coverage is actually something that would be really sweet to have support for, preferably something open like [OpenCover](https://github.com/OpenCover/opencover) which probably will gain more traction now since it's used in the CoreFX project.

Feel free to open an issue if there's something specific you would want support for and contribute to, and we can conti

[2015-04-24 16:35] diegobfernandez commented on #81
Is there anything I could do to help this to move on?
I'm kind of desperate for an alternative build system for .NET, but I'm using mono.

[2015-04-26 11:21] patriksvensson commented on #81
Hello @diegobfernandez!

We absolutely need help with this one! I actually had a conversation about this with @devlead just a couple of days ago, so the timing is perfect.

However, we're not sure if we should add support for Mono via something like [Mono.CSharp](http://docs.go-mono.com/index.aspx?link=N:Mono.CSharp) (available on NuGet as well) or try to get this working with CoreClr using Roslyn

[2015-05-04 08:50] cgourlay opened #240 "Allow support for the InternalsVisibleTo attribute."
Can the AssemblyInfoCreator support the InternalsVisibleTo attribute? This is something I need to allow internals to be testable.

I am happy to make a pull request for this - is it right to assume that the change(s) are made in the Cake.Common.Solution.Project.Properties namespace?

[2015-05-04 12:10] patriksvensson commented on #240
Hello @cgourlay,

You're more than welcome to give it a try :smile:

I would suggest adding a `ICollection<string>` to `AssemblyInfoSettings.cs` so you can provide multiple assemblies to be ignored.

[2015-05-04 12:21] cgourlay commented on #240
Thanks for the suggestion @patriksvensson - I'll look at this today.

[2015-05-04 16:53] cgourlay commented on #240
Hi @patriksvensson

I've an initial implementation in my own fork here: b2486ff874d0177180a3d2e652b5ebe3a9dbdf46

I've looked at the sample 'build.cake' file and I'm not really following why there is a need to ignore multiple assemblies. Would you be able to expand on what you are looking for?

[2015-05-04 17:02] devlead commented on #240
Well you can expose your internals to multiple assemblies:
[code]
https://msdn.microsoft.com/en-us/library/system.runtime.compilerservices.internalsvisibletoattribute(v=vs.110).aspx

[2015-05-04 17:09] cgourlay commented on #240
Of course! I've latched on to the suggestion of assemblies being ignored.

Are we saying that it's enough to alter my implementation to handle an `ICollection<string>` of assembly names?

[2015-05-04 17:20] devlead commented on #240
Correct, `ICollection` is great as many inherit from it I.e. List, Array etc.

[2015-05-04 17:22] cgourlay commented on #240
Nice one! Thanks for clarifying. I'll get this sorted in a moment and submit a pull request.

[2015-05-04 17:48] cgourlay commented on #240
Mmmm. The `AssemblyInfoRegistration.cs` is using a Dictionary and preventing multiple entries from being added and I can see why this is desired behaviour for all the other attributes.

`private void Add(string name, string @namespace, string value)
        {
            if (Attributes.ContainsKey(name))
            {
                Attributes[name] = value;
            } ...`

Not being overly f

[2015-05-04 18:50] patriksvensson commented on #240
Hello @cgourlay,

Maybe something like:

[code]

I wrote this in Notepad so I have no idea if it compiles :smile:
It doesn't have to be efficient as long as there are tests so it's easy to refactor later on.

[2015-05-05 15:03] coxp opened #241 "Null Reference exception when building project"
Hi,

Am I missing a step when attempting to compile the solution? I've done a fresh clone of the repository and executed the build.ps1 script but I get a Null Reference Exception when it attempts to execute the Cake script. I get the following

[code]

[2015-05-05 15:19] devlead commented on #241
Do you have VS2015 installed? If so try launching cake.exe with the -experimental option so it uses the latest Roslyn bits.

[2015-05-05 16:20] coxp commented on #241
Yes, I only have VS 2015 installed and my current build system (UpperCuT) doesn't support it.

Adding -experimental=`"true`" option, fixed the issue.

Thanks.

[2015-05-05 16:24] devlead commented on #241
Excellent, VS2015 installs.Net 4.6 which strangely isn't compatible with previously released Roslyn bits.

[2015-05-05 17:03] #241 closed

[2015-05-06 09:29] cgourlay commented on #240
Hi @patriksvensson

It was the modification to the implementation of 'GetRegistrations(settings);' that I was looking for a view on. As far as I can tell, the use of a `Dictionary` is preventing multiple InternalsVisibleTo attributes being added. I can change this to use a different collection type to allow duplicate InternalsVisibleTo but this will also allow, say, duplicate `CLSCompliant` entrie

[2015-05-06 09:38] patriksvensson commented on #240
Hi @cgourlay,

Sure! Submit a pull request with `WIP: ` in the title (so it doesn't get accidentally merged) and we'll continue the discussion there.

[2015-05-06 09:53] cgourlay commented on #240
Nice one - I will do that later today. Thanks for all your help @patriksvensson

[2015-05-11 02:22] natificent opened #245 ""Getting Started" build.cake fails with VS 2015 installed"
I just started playing around with cake. My work machine doesn't have VS 2015 installed, and the basic build.cake from the getting started works fine.

I tried running it from my home machine and was getting an object ref exception, so I turned up the logging to Diagnostic. I'm getting an exception from Roslyn:

Trying to find nuget.exe in path
INFO: Could not find files for the given pattern(s).

[2015-05-11 04:34] devlead commented on #245
Try launching cake.exe with the -experimental option so it uses the latest Roslyn bits.
VS2015 installs.Net 4.6 which isn't compatible with previously released Roslyn bits.

[2015-05-11 14:51] natificent commented on #245
Awesome, works perfectly now. Thanks for the quick reply.

[2015-05-11 15:02] devlead commented on #245
Excellent, please let us know if you any more issues.

[2015-05-11 15:02] #245 closed

[2015-05-16 10:49] patriksvensson commented on #107
See PR #244

[2015-05-19 10:44] patriksvensson commented on #81
*This is a brain dump for the Mono.CSharp support.*

Let's say we have the following Cake script.

[code]

To get this to run using Mono.CSharp, we would have to evaluate the different blocks individually. We would also need to rewrite the methods to something that could be executed individually outside a class scope, such as a delegate variable.

**1) Extract and evaluate the class.**

[code]

**

[2015-05-26 16:41] coxp opened #255 "How to turn relative Directory into an absolute path?"
I'm trying to set the OutDir property on the MSBuild task for my solution so that every project is built to a single directory (currently migrating from UpperCut that does this).

However I can't work out how to turn the relative path when creating a `Directory` object into an absolute path. Am I missing something obvious? There seems to be a `MakeAbsolute` method on `DirectoryPath` but that requi

[2015-05-26 17:03] jordanwallwork commented on #255
There may be a more concise way, but this seems to work:

    var buildResultDirRelative = Directory("./build-output") + Directory("v" + semVersion) + Directory("bin");
    var buildResultDir = System.IO.Path.GetFullPath(buildResultDirRelative.ToString());

[2015-05-26 17:51] patriksvensson commented on #255
Hello,

You can get the current ICakeEnvironment instance via the script context.

Like this:

[code]

There is a PR waiting that adds an alias method (`MakeAbsolute`) for this, but it won't be available until the next release.

Best regards
Patrik

[2015-05-27 17:54] devlead commented on #255
Hi @coxp ,

Version 0.4.2 is now released, in the DSL you can now write:
[code]
Thanks for your feedback and interest in Cake :+1:

[2015-05-28 07:20] #107 closed

[2015-05-28 10:52] coxp commented on #255
Works great. Thanks :+1:

[2015-05-28 11:45] devlead commented on #255
Excellent:+1:

[2015-05-28 11:45] #255 closed

[2015-05-28 14:00] coxp opened #257 "Add support for 7zip"
The solution that I have contains 7 applications that I deploy together.

When using the built in zip command the resulting deployment package is 225Mb but the same package compressed using 7zip is 95Mb.

The ultimate solution for me would actually be some kind of nuget restore on the deployed applications (a large portion of each app is shared libraries like Windsor, NHibernate, etc) but I'm not

[2015-05-28 14:41] devlead commented on #257
7zip could be an great external addin for Cake.

If you would want to use Nuget to solve your case you could do an small bootstrapper that uses nuget.exe (downloadable from https://www.nuget.org/nuget.exe), you can install either via a package.config or each package by id.

Syntax for installing from package.config:
`nuget install -ExcludeVersion`

Syntax for installing specific package:
`nuget in

[2015-05-28 16:32] coxp commented on #257
Does Cake run cross-platform or do I only have to support Windows when writing an addin? It seems easiest to require 7zip be installed on the machine and call out to the executable installed under Program Files.

[2015-05-28 16:47] devlead commented on #257
We are working on Mono support, unfortunately Roslyn isn't fully Mono compatible yet, so we're having to do significant refactoring to support mono scripting.

An add-in it's just an assembly packaged and deployed via Nuget. And you can extend the DSL with extension methods following a certain pattern.

7zip is avail on Nuget, so what an add-in could do is check if it exists and if not just invoke

[2015-06-02 13:54] coxp opened #260 "Add support for moving directories"
I think the API should follow that for moving files.

* `MoveDirectoryToDirectory(directoryPath, targetDirectoryPath)` - Moves an existing directory to a new location (e.g. Move "build/project" to "package" results in "build/" and "package/project"). Target location must exist but full path to target location (once combined with directoryPath) must not.

* `MoveDirectories(pattern, targetDirectory

[2015-06-02 20:27] RichiCoder1 commented on #260
I could be reading this wrong, but I have some objections to the `MoveDirectoryToDirectory` and the suggested `MoveDirectory` semantics. Move directory should have a behavior as close to possible to existing "move" commands on systems as possible. There should be a single `MoveDirectory`, relative directories should be based of the CWD, there should be no cross volume restriction, and the implemen

[2015-06-02 21:41] coxp commented on #260
The cross volume restriction for moving a directory is from the underlying .NET API for [Directory.Move] (https://msdn.microsoft.com/en-us/library/system.io.directory.move%28v=vs.110%29.aspx). In addition, you can't overwrite an existing directory.

Personally, I like the symmetry with the Cake File aliases such as MoveFileToDirectory and MoveFiles and I'm glad the Cake APIs don't follow the under

[2015-06-11 11:16] DavidR91 commented on #172
Hi again,

Running 0.42 I'm still seeing issues with this kind of thing

For example this command line:

`  "C:\Program Files (x86)\Jenkins\jobs\Website v2.1\workspace\v1\Website\..\cake\cake.exe" -verbosity=verbose -squaredUpRoot="C:\Program Files (x86)\Jenkins\jobs\Website v2.1\workspace\v1\Website\..\" -scomDllConfiguration="Release"`

Gives me back this:

    More than one build script specifi

[2015-06-11 11:42] DavidR91 commented on #172
From what I can tell, this issue remains regardless of the arguments provided if you execute using an absolute path:

`C:\Program Files (x86)\Jenkins\jobs\Website v2.1\workspace\v1\cake\cake.exe`

always generates the same error, even if there is a build.cake in
* the working directory of the caller
* the same directory as the cake.exe

Is it wrongly determining information based on the assembly p

[2015-06-11 11:52] DavidR91 commented on #172
Hmm, there is something strange when cake resides in a directory with spaces in its name - perhaps specific to this machine?

For example:

`C:\>"C:\cake walk\cake.exe"`
`Error: Illegal characters in path.`

Working directory C:, cake.exe in C:\cake walk\  along with a build.cake in C:\cake walk

**But**

This works:

`C:\>C:\cake\cake.exe C:\cake\build.cake`

Is there is something related to spac

[2015-06-17 09:54] DavidR91 commented on #172
Are notifications still enabled for this closed issue, or should I raise a new bug?

This is a pretty serious problem for me and presumably anyone calling cake under folders such as "Program Files (x86)"

[2015-06-17 10:05] patriksvensson commented on #172
Hello David,

Sorry for not answering until now. I'm going on vacation tomorrow and will take a look at your issue then. Sorry again for the delay.

Best regards
Patrik

[2015-06-20 09:42] patriksvensson commented on #172
Hello David,

I've been able to recreate this behavior and I'm writing a fix for it now. I will try my best to have it ready as soon as possible.

/ Patrik

[2015-06-20 11:45] patriksvensson commented on #172
@DavidR91 I have submitted a fix for the bug and it should (finally) be fixed in the next version.

[2015-06-29 12:16] #172 closed

[2015-06-29 12:59] devlead commented on #240
#265 fixed this.

[2015-06-29 12:59] #240 closed

[2015-06-30 01:41] marcosnz opened #267 "Report formatting messed up when long task names"
If a task name is longer than 30 characters then the report is messed up and hard to read. I am dynamically creating task names which is leading to longer than usual names.
[code]

[2015-06-30 02:28] marcosnz commented on #267
The #268 PR leaves most reports the same. If any of the task names are greater than 30 characters long it widens the report e.g. the above now looks like:
[code]

[2015-07-01 13:15] devlead commented on #267
#268 merged fixes  #267

[2015-07-01 13:15] #267 closed

[2015-07-01 21:17] patriksvensson opened #270 "OctoCreateRelease needs example."
[OctopusDeployAliases​.OctoCreateRelease](http://cakebuild.net/api/cake.common.tools.octopusdeploy/5d0a790a/df806e63) needs an example.

[2015-07-05 23:12] marcosnz opened #275 "Globber performance"
I am working with a largish repo and have found that the GetFiles method of the Globber is significantly slower than the MSBuild equivalent I am trying to replace..
If you take a look at [this Gist](https://gist.github.com/marcosnz/74285d2e7dd14048fb47) you will see that I am just getting a count of assembly info files. The MSBuild example does it in less than a second where as the cake version ta

[2015-07-07 09:10] marcosnz opened #276 "Error thrown if addin dll can't be loaded"
If I reference ```#addin MSBuild.Extension.Pack``` I get errors in ```Cake.Core.Scripting.ScriptAliasFinder.FindAliases``` like ```System.Reflection.ReflectionTypeLoadException: Unable to load one or more of the requested types.```
The error is raised because some of the dlls installed by tthe addin rely on other dlls that may not be installed if you aren't targeting that particular dll.
But there

[2015-07-07 09:57] patriksvensson commented on #275
I'm baking a PR that solves this. Will need more time to make sure it's stable enough.

[2015-07-07 12:42] Redth opened #278 "Improve Tool Discovery"
By default right now most aliases that require external tools seem to look for the tool in `./tools/`, so the tools folder always relative to the executing script.

While I understand the original intention the way to use cake is to install it in a given directory where you need it, I think it's desirable to have Cake (and its tools) optionally located in a central location on a system. For one, t

[2015-07-07 12:44] Redth commented on #278
For the last part, where a tool may have a specific location on a given OS, there should be some sort of `Func` exposed by the tool that can do the tool specific work of looking in a tool specific path for the tool.  This would only be invoked if the tool wasn't found in the other locations first.

[2015-07-07 14:25] patriksvensson opened #279 "Path segmenting removes leading directory separator"
This have the side effect of making absolute *nix paths relative.

Should probably change `RemoveEmptyEntries` to `None` in [Path(string path)](https://github.com/cake-build/cake/blob/develop/src/Cake.Core/IO/Path.cs#L85).

[2015-07-15 10:36] khellang commented on #275
Why not use something like [Shabse's Minimatch port](https://github.com/SLaks/Minimatch)? Dunno if it's very fast, but it's at least a nice start? I've submitted a PR to include a source package so you don't have to add an external dependency, https://github.com/SLaks/Minimatch/pull/4 :wink:

[2015-07-15 22:04] ChrisMissal opened #281 "Add Support For Fixie"
I'd like to see support added so I can use [Fixie](http://fixie.github.io/) as easily as I can the other test frameworks.

I don't mind working on this eventually, but if somebody else gets to it before me, I won't complain. :smile:

[2015-07-16 13:15] patriksvensson commented on #281
Great idea. Fixie should definitely be supported. :+1:

[2015-07-16 13:24] patriksvensson opened #282 "Cake uses wrong MSBuild verbosity parameter"
When using the extension method [MSBuildSettings.SetVerbosity(Verbosity.Verbose)](http://cakebuild.net/api/cake.common.tools.msbuild/949206fc/ba92223e), MSBuild is called with `/v:verbose` instead of `/v:detailed`.

[code]

**Correct mapping should be:**

* Quiet => `quiet`
* Minimal => `minimal`
* Normal => `normal`
* Verbose => `detailed`
* Diagnostic => `diagnostic`

[2015-07-17 10:39] patriksvensson opened #283 "Add support to deprecate aliases"
Right now it's not possible to deprecate aliases in a nice way.
It should be possible to mark an alias with an `Obsolete` attribute.

[code]

Would result in a warning message when running:

[code]

If the `Obsolete` attribute is configured to be an error, an exception should be thrown instead with the same message as the warning.

[2015-07-17 16:42] ChrisMissal opened #285 "Add Support For Roundhouse"
As an avid user of [Roundhouse](https://github.com/chucknorris/roundhouse) for database migrations, I'd like to see it supported as a Cake tool.

[2015-07-17 18:24] gep13 commented on #285
:+1:  @ferventcoder might be interested in hearing about this :smile_cat:

[2015-07-17 18:25] ferventcoder commented on #285
:+1:

[2015-07-17 18:26] ferventcoder commented on #285
This could possibly be what UppercuT uses for it's next engine, provided it runs on mono.

[2015-07-17 18:27] RichiCoder1 commented on #285
It's dated at this point, but I'd imagine that support would probably be best added through an addon like https://github.com/RichiCoder1/Cake.AliaSql.

@ferventcoder I'd have to double check with @patriksvensson, but Mono support was recently added and is being stabilized and expanded. Would probably love testers and users :)

[2015-07-17 18:28] ferventcoder commented on #285
UC supports a ton of different tools though - how is the plugin engine for this @patriksvensson ?

[2015-07-17 18:28] gep13 commented on #285
This could possibly be what UppercuT uses for it's next engine, provided it runs on mono.

The grunt work has been done here:
https://github.com/cake-build/cake/pull/280

I have been thinking about using it on a couple projects, just need to get the cycles...

[2015-07-17 18:29] ferventcoder commented on #285
Perhaps I can get @drusellers excited about cake?

[2015-07-17 18:33] RichiCoder1 commented on #285
@ferventcoder Cake has the notions of [Aliases](http://cakebuild.net/docs/fundamentals/aliases), which usually provide an excellent starting point for third party tools an extensions. Cake itself uses them to implement most of it support, as most of Cake.Common is simply commonly used aliases.

The more the merrier :D

@gep13 Been chewing on introducing Cake to Gui for a while. Already use it exte

[2015-07-17 18:39] gep13 commented on #285
Been chewing on introducing Cake to Gui for a while

I have been thinking the same.  Will be sorry to see psake leave, it has served me very well!

[2015-07-17 19:44] patriksvensson commented on #285
@ferventcoder Plugins is mainly supported via script aliases (like @RichiCoder1 already said). There is also some pre-processor directives that can be used to import tools and assemblies directly from NuGet. Now when I think about it, I should probably add more documentation around extensibility :smile:

@gep13 Come to the dark side, we have :cake:

[2015-07-17 19:46] gep13 commented on #285
Ha ha, like I say, I am very tempted.  From what I have seen of Cake, there is nothing in the ChocolateyGUI build script that it wouldn't be able to do, it is just a case of sitting down and making the switch, or even better, getting @RichiCoder1 to make the switch, and looking at what he did :-P

[2015-07-17 19:51] patriksvensson commented on #285
@gep13 If @RichiCoder1 doesn't have time, I'll do it myself. &#42;rolling up shirt sleeves&#42;

[2015-07-17 19:53] RichiCoder1 commented on #285
I actually converted Choco's scripts once, but ended up reverting because I was afraid for maintainability and churn. Would be happy to do it again :)

[2015-07-17 19:54] patriksvensson commented on #285
@RichiCoder1 Yay! :smile:

[2015-07-17 20:00] gep13 commented on #285
Happy to review changes from either of you :smile_cat:

[2015-07-17 20:02] ferventcoder commented on #285
I'm lurking - maybe at some point I might spike flipping the bits on uppercut from nant to cake. If anyone wants to play - it might be an insane amount of work but it could identify gaps of where cake can go. :)

[2015-07-17 22:19] patriksvensson opened #289 "CleanDirectory bug when using predicates"
### Problem

If we have the following directory structure:

* Temp/
  * Hello/
    * Empty/
    * Hidden/
    * More/
      * Empty/
    * World/

And run the clean directory alias with a predicate that excludes all hidden items:

[code]

The result will be:

* Temp/
  * Hello/
    * Hidden/
    * More/
    * World/

### Expected outcome

* Temp/
  * Hello/
    * Hidden/

### Reason

The cleaning

[2015-07-17 22:21] patriksvensson commented on #289
Encountered this bug while rewriting the `FakeFileSystem` which now behaves more like the real one. Should probably be fixed when the new `FakeFileSystem` has been merged into the `develop` branch.

[2015-07-17 22:33] patriksvensson commented on #289
Re-enable test `Should_Delete_Directories_Respecting_Predicate_In_Provided_Directory` when this is fixed.

[2015-07-18 17:47] patriksvensson opened #290 "AppVeyor CI build: Add caching of NuGet packages"
NuGet keeps timing out from time to time. AppVeyor has a caching mechanism for NuGet packages that would be nice to use.

http://www.appveyor.com/docs/nuget#dealing-with-intermittent-nuget-org-issues

[2015-07-18 21:58] patriksvensson commented on #281
Merged :+1:

[2015-07-18 21:58] #281 closed

[2015-07-20 01:44] patriksvensson opened #292 "Remove shebang lines"
Would be nice to be able to use a shebang line to point out Cake (or a Cake bootstrapper script).

[code]

[2015-07-20 17:00] ChrisMissal commented on #282
@patriksvensson Should this change keep the Cake enum, or should it define a new type to match MSBuild?

[2015-07-20 17:03] ChrisMissal commented on #285
I would imagine this will be implemented similar (basically the same) as the other test runner tools are implemented. I took a similar approach when adding the original RoundhouseHelper in FAKE. Is that a correct assumption @patriksvensson?

[2015-07-20 17:14] RichiCoder1 commented on #292
:+1:

[2015-07-20 17:16] patriksvensson commented on #282
@ChrisMissal No, I think it's OK to keep Cake's enum since they represent the same thing. At least for now :smile:

[2015-07-20 17:21] RichiCoder1 opened #293 "Investigate Roslyn Stable"
Roslyn is now 1.0.0 and officially released.

[2015-07-20 17:22] patriksvensson commented on #285
@ChrisMissal I don't know how Roundhouse works, but that is a correct assumption :smile: I would prefer to keep the helper implementations as similar as possible.

[2015-07-20 17:23] patriksvensson commented on #293
@RichiCoder1 Yes, but not the scripting parts right? I read somewhere on Twitter that they will be released "later" whatever that means :smile:

[2015-07-20 17:24] RichiCoder1 commented on #293
Yah, I realized that myself. I think the scripting parts were deprioritized as not critical for RTM. Hopefully they're re-prioritized for post-RTM. Can use this issue to track that.

[2015-07-20 17:26] ChrisMissal commented on #285
Roundhouse can be used via console app or a class library. My recommendation is to use the console app just like I did with Fixie last week. Since this is all fresh in my mind, I can get started on it in the next day or two.

[2015-07-20 17:29] ChrisMissal commented on #282
Ok, sounds good. That approach will also prevent a breaking change for existing scripts. :+1:

[2015-07-20 17:37] patriksvensson commented on #293
@RichiCoder1 Sounds like a good idea!

[2015-07-20 17:39] patriksvensson commented on #285
@ChrisMissal Yes, that is probably the best way to go since we want to keep dependencies to zero in Cake.Common and Cake.Core. Great :+1:

[2015-07-20 17:40] patriksvensson commented on #282
@ChrisMissal Exactly :+1:

[2015-07-20 17:40] ferventcoder commented on #285
:+1:

[2015-07-20 18:08] #282 closed

[2015-07-20 18:13] patriksvensson commented on #292
I'm fixing this now :smile:

[2015-07-20 18:52] #292 closed

[2015-07-20 19:11] #290 closed

[2015-07-20 19:12] patriksvensson commented on #278
Note: PATH variable lookup implemented.

[2015-07-20 20:02] gep13 opened #296 "Guidance on how to get started with Cake"
So, these are potentially some quite a naive questions but here goes...

I have been lurking around the Cake project for a while now, but I have never actually used it in anger, but I would like to change that :smile_cat: With the recent inclusion of Mono support, I really feel that it would be a good time to start embracing it.

I have an existing open source project, namely GitReleaseManager tha

[2015-07-20 22:38] patriksvensson commented on #296
Hi @gep13,

This kind of feedback is extremely valuable and I really appreciate you taking the time to write this down!

It's a lot of (interesting) questions that might be good to clarify in a future blog post/tutorial/FAQ on the website.

-----

**1. Should I be using the Cake Boostrapper to start the project?**

The bootstrapper is just for convenience, so there's no need to use it if you don't

[2015-07-21 06:09] gep13 commented on #296
Wow! Thank you for such a detailed response, really appreciate it.  Let me dissect some of it, and follow up with more :smile_cat:

I can take a look tomorrow after work and get back to you on this.

I would really appreciate that.

[2015-07-21 14:36] patriksvensson opened #298 "Error when reporting errors on Mono"
Ironically, the `MonoConsoleReportPrinter` throws when writing the error message to the build log.
The culprit is the `AbstractMessage.SourceFile` property.

[code]

[2015-07-21 20:45] jojoxd opened #299 "zipping does not work on linux (Ubuntu 14.04.2 LTS)"
when trying to zip I get this error:

[code]

snippet of build.cake
[code]

[2015-07-21 20:57] patriksvensson commented on #299
Hello @jojoxd,

What Mono version are you using? It might be that the compression functionality isn't implemented in your version of Mono. You can see what version you got by writing `mono --version` at the terminal.

--------

I couldn't help noticing that you're calling `RunTarget` from within the task. Of course you can do like that but I would recommend you to let the `Pack` task depend on `Si

[2015-07-21 21:03] jojoxd commented on #299
[code]

[2015-07-21 21:13] patriksvensson commented on #299
Cake uses [ZipArchive](https://github.com/cake-build/cake/blob/develop/src/Cake.Common/IO/Zipper.cs#L80) under the hood, and your version of Mono hasn't implemented that: https://github.com/mono/mono/blob/mono-3.2.8/mcs/class/System.IO.Compression/ZipArchive.cs

I just tested this myself on Ubuntu 14.04 with Mono 4.0.2 and it works as expected, so upgrading your Mono version will solve this issue.

[2015-07-21 21:54] #299 closed

[2015-07-22 23:14] #276 closed

[2015-07-24 16:27] patriksvensson opened #301 "Add proper tokenizer and parser for script blocks"
The script block parser for the Mono script engine that we added to distinguish between lines of code that should be executed and scopes such as methods/classes is kind of unstable/naive.

I'm currently working on this.

[2015-07-24 22:22] RichiCoder1 opened #302 "Add XmlPoke like functionality"

[2015-07-25 02:12] RichiCoder1 commented on #293
Update: https://github.com/dotnet/roslyn/issues/4110

Aka, scripting is a WIP for 1.1 release.

[2015-07-25 11:06] patriksvensson commented on #293
Looks like xplat support as well in 1.1. Would be nice to be able to have a single scripting engine in Cake. Thanks for the update! :smile:

[2015-07-26 11:21] patriksvensson opened #305 "Increase visibility of skipped tasks"
It's easy to miss that a task was skipped when looking at the build log.

[code]

Would me much nicer if the skipped task was written to the build log like executed tasks.

[code]

This is just an adjustment to the [DefaultExecutionStrategy](https://github.com/cake-build/cake/blob/develop/src/Cake.Core/DefaultExecutionStrategy.cs#L85).

[2015-07-27 00:25] #285 closed

[2015-07-27 00:26] patriksvensson commented on #285
Merged! :smile:

[2015-07-27 00:35] patriksvensson commented on #301
Merged.

[2015-07-27 00:35] #301 closed

[2015-07-27 00:59] #81 closed

[2015-07-27 01:03] patriksvensson commented on #29
Renaming `IsDependentOn` to `RunsAfter` would be nice, but not sure if it would be OK to break backwards compatibility like this. All scripts would still run, but there would be a semantic change to task execution.

Maybe keep `IsDependentOn` and call the other dependency registration `Requires` or something like that. Not sure what to do here...

[2015-07-27 04:54] marcosnz opened #307 "PathTooLongException in Globber"
We have a node/grunt module that produces some very long directory structures e.g.

[code]
Note that when accessed via explorer it reverts to 8.3 format:
[code]
I have a simple globber expression to find csproj files:
[code]
But produces an error because of the long path:
[code]

[2015-07-27 08:40] devlead commented on #307
Probably the work started with #261 will address this, meanwhile an hack is to supply a filter predicate to exclude the node module folder, unless that I the on you want to take action on.

[2015-07-27 09:12] devlead commented on #307
[Here](http://cakebuild.net/api/cake.common.io/b6f866f7/62db42f4) you can see an sample of filtering out the node modules folder.

[2015-07-27 16:12] #298 closed

[2015-07-27 16:34] #279 closed

[2015-07-27 17:42] igloo15 opened #311 "Boolean Arguement not working"
Hello

I have been trying to make a script with a boolean arguement and it does not appear to be working below is my script.

    var target = Argument<string>("target", "Default");
    var configuration = Argument<string>("configuration", "Release");
    var platform = Argument<string>("platform", "x86");
    var annotateNugetTime = Argument<bool>("nugettime", false);

    var nugetVersion = "4.0

[2015-07-27 17:43] RichiCoder1 commented on #56
This is largely done except for Build Version. Not sure why I didn't implement that.

[2015-07-27 17:44] RichiCoder1 commented on #72
Probably will grab this with my Node and NPM items.

[2015-07-27 17:44] RichiCoder1 opened #312 "Add NPM Support"
Add NPM Tool Runner.

* [x] Install
* [x] Update
* [x] Uninstall
* [ ] Test Coverage

Let me know if you want any other commands added!

[2015-07-27 17:46] RichiCoder1 commented on #147
Thinking I'm going to do both. I have a resilient retry helper which should cover most cases, and then people can pull in Polly (which doesn't actually need an addon and can be directly referenced) if they need more power.

[2015-07-27 17:51] RichiCoder1 commented on #311
Cake doesn't, as far as I'm aware, support using boolean's as switchs. You have to do `Cake.exe build.cake -nugettime true`. That's an interesting idea though @patriksvensson.

[2015-07-27 17:56] patriksvensson commented on #311
`Argument<T>` method uses `TypeConverter` under the hood and I don't think there's a conversion between an empty string and a bool.

Try this instead:

[code]

Or change your script to use the `HasArgument`:

[code]

[2015-07-27 17:58] igloo15 commented on #311
My mistake when I was looking at http://cakebuild.net/docs/cli/usage

I thought the Arguement bit was being used as a switch

[2015-07-27 18:10] patriksvensson commented on #311
Hmm, that's actually a typo!

I'm going to change that asap.
Thanks! :+1:

[2015-07-27 19:17] patriksvensson opened #313 "Distribute via Homebrew for OSX"

[2015-07-27 19:44] patriksvensson opened #314 "Build script configuration file"
Add support for a build script config file. The build config would be a simple key-value pair file. The filename would be the same as the build script with a `.config` prefix (i.e. `build.cake.config`).

[code]

The configuration would only provide defaults. Any values in the build script config file would be
overridden by any arguments passed to cake directly.

[code]

Would use the `verbosity` a

[2015-07-27 19:53] patriksvensson opened #315 "Get a dictionary from a `ICakeArguments` instance"
Add `AsDictionary` method that returns a `IDictionary<string, string>`.

[code]

[2015-07-27 19:58] devlead commented on #314
Using something like XML or JSON could give a little more future flexibly, like multiline content etc.

[2015-07-27 20:01] ChrisMissal commented on #314
+1 JSON

[2015-07-27 20:02] ChrisMissal commented on #315
@patriksvensson should it be IDictionary<string, object> to support ints and bools for example?

[2015-07-27 20:06] devlead commented on #314
Supporting [Expanding Environment Variables](https://msdn.microsoft.com/en-us/library/system.environment.expandenvironmentvariables(v=vs.110).aspx) for values would be nice too, then sensitive info could be excluded from config/buildscript bit easily mapped/concatenated in config file. I.e. `%connection_string%`, `%password%`, etc.

[2015-07-27 20:07] patriksvensson commented on #314
I see your point.

However, this configuration file is just default parameters for the command line so I think that XML or JSON would be overkill. You wouldn't write anything in this file that you wouldn't write as a command line parameter. Everything other than that could be done in the actual cake script.

I would prefer JSON for this, but the reason I suggested key/value is that I'm not sure th

[2015-07-27 20:08] patriksvensson commented on #314
@devlead Yes, that would be really useful. Would also be cool if the argument parser would understand environment variables as well.

[2015-07-27 20:10] RichiCoder1 opened #316 "Enable Specifying Target without Switch"
Currently Cakes command line arguments are structured like so:
`Usage: Cake.exe [build-script] [-switch=value]`
This requires you to specify your Target by passing in `-Target=Default`.

I'd like to be able to specify the target without the prefix like so:
`Usage: Cake.exe [build-script] [target] [-switch=value]`

Allowed:
- `cake`
- `cake build.cake`
- `cake install`
- `cake build.cake install`
-

[2015-07-27 20:12] devlead commented on #314
You can add json parsing support without dependencies by linking in [LitJSON](https://github.com/lbv/litjson/) example which files needed [here](https://github.com/WCOMAB/Cake.Slack/blob/master/src/Cake.Slack/Include_T4Include.tt)

[2015-07-27 20:25] gep13 commented on #296
@patriksvensson if you have time tomorrow, some further input on this would be preferred to the CakeTest issue that I was having :stuck_out_tongue:

[2015-07-27 20:29] patriksvensson commented on #296
@gep13 Absolutely. Sorry I've not answered this yet. Expect an answer tomorrow :smile:

[2015-07-27 20:34] patriksvensson commented on #315
@ChrisMissal Good catch.

`ICakeArguments` are just a backing store for the arguments passed to the cake script (key/value as strings). The conversion is done in the script aliases `HasArgument` and `Argument<T>`.

Since there is no way of knowing what type different arguments have (except the built in ones), we cannot provide anything other than `IDictionary<string, string>`.

Guess this issue ne

[2015-07-27 21:27] RichiCoder1 commented on #314
My two cents is that most new projects, for example AspNet, are all migrating to having a json formatted default configuration file. Hence cake.json or something like that.

Also, I'm curious why not Newtonsoft.Json? It's the defacto json parsing library.

My only issue with env variables in arguments is at that point, why not use a bootstrapper that understands env variables like powershell or ba

[2015-07-27 22:00] devlead commented on #314
@RichiCoder1  Environment variables is really nice on build servers, you can keep config file in source repo without exposing sensitive information, also a config file would be cross platform, which a bash/ps/bat file isn't. Having it on a config file would also allow build script reuse only changing config file, I have many projects using Cake with very similar build scripts and only small pieces

[2015-07-27 22:05] ChrisMissal commented on #314
While Newtonsoft.Json might be the most popular one in the .NET world, it likely has tons of features that aren't necessary for Cake. There are also some pains with the loads of versions out there conflicting with one another. I would vote for a smaller faster JSON library.

[2015-07-27 22:07] marcosnz commented on #307
Thanks! I'll close this as there is a  workround amd it  will be covered by #261

[2015-07-27 22:07] #307 closed

[2015-07-27 22:17] RichiCoder1 commented on #314
I'm cool with smaller then :).

And one thing that NPM does that cake could do is it looks for `NPM_CONFIG_[KEY]=[VALUE]` and sets that. So certain things like verbosity and such could be pulled from `CAKE_CONFIG_VERBOSITY=Normal`, and `Argument<bool>("XYZ")` could check `CAKE_CONFIG_XYZ=true`.

[2015-07-27 22:54] RichiCoder1 commented on #312
Underway

[2015-07-27 23:26] patriksvensson opened #318 "Alias categorization"
The number of categories in the [reference section](http://cakebuild.net/dsl) are growing and should be better organized.

**Proposal:**
- Build Tools
  - MSBuild
  - XBuild
  - DotNetBuild
- CI Servers
  - AppVeyor
  - TeamCity
- Environment
  - Arguments
  - Platform
  - Variables
- Net
  - HTTP Operations
- Logging
- IO
  - Compression
  - Directories
  - Files
  - Globbing
  - Processes
- Secu

[2015-07-27 23:32] ChrisMissal commented on #318
I just have one suggestion: Fixie should be moved under Test Frameworks

[2015-07-27 23:41] patriksvensson commented on #318
You are right! Not sure how I missed that. Thanks!

[2015-07-27 23:41] patriksvensson commented on #318
Updated :smile:

[2015-07-28 00:36] ChrisMissal commented on #163
:+1:

I believe the best approach for this would be to create a "blank" nuspec file with the name of:

[code]

So in this case it would be `Cake.Core.nuspec`.

[2015-07-28 00:40] ChrisMissal commented on #315
@patriksvensson Can you explain how this will be used? I haven't come across a need for it (because I'm still a newbie with it), so I don't understand the goal.

[2015-07-28 10:51] patriksvensson commented on #315
@ChrisMissal I haven't come across a need for it either. It was a request on Gitter, but I'm starting to question the need for it as well. Maybe we've been thinking about the problem this would solve in the wrong way.

I will check with @RichiCoder1 and @Redth to see if they have any input on this.

[2015-07-28 12:57] patriksvensson commented on #296
@gep13,

I took some time on my lunch to convert the tasks (without content) to Cake tasks to better see how everything work together. I cannot see anything strange from the knowledge I have about your project.

https://gist.github.com/patriksvensson/b58652071427973a898b

if there's something I've forgotten about then tell me and I will answer as soon as I can.

**Questions:**

I see that you do a

[2015-07-28 20:06] ChrisMissal opened #320 "Better Design around Fixie's TeamCity output"
When the `--TeamCity` option is specified, Fixie will use that value to produce TeamCity styled formatting in its output. When the value is omitted, Fixie checks for an environment variable. This part isn't of any concern to Cake, but this should be better documented in the `FixieRunner` usage.

Also, for better discoverability and ease of use, the `TeamCityOutput` enum could be simplified to `Nul

[2015-07-28 20:23] RichiCoder1 commented on #320
Sounds good to me! Thinking on it now, is this something that should be true when `TeamCity.IsRunningOnTeamCity == true`?

[2015-07-28 21:11] patriksvensson commented on #320
:+1:

[2015-07-29 21:29] sitty opened #321 "Config transforms"
Is there any plan to support config file xdt transforms. You could probably use Config Transformation Tool http://ctt.codeplex.com/

[2015-07-29 21:59] patriksvensson commented on #321
Hello @sitty!

Cake already have XDT transform support.
Check out [http://cakebuild.net/dsl/xml](http://cakebuild.net/dsl/xml) for more information.

/ Patrik

[2015-07-30 15:48] Redth opened #323 "Add ILRepack support"
ILRepack is a near drop in replacement for ILMerge, except it's open source, and works on mono :)

Let's add support for it.

[2015-07-30 15:58] ChrisMissal commented on #323
:+1:

[2015-07-30 16:50] patriksvensson commented on #323
:+1:

[2015-07-30 19:26] RichiCoder1 opened #325 "Add Chocolatey Support"
Add support for chocolatey.

* [ ] Install
* [ ] Uninstall
* [ ] Pack
* [ ] Publish
* [ ] Test Coverage

[2015-07-31 06:09] gep13 commented on #325
:+1:

What about ```upgrade```

[2015-07-31 19:28] sitty commented on #321
@patriksvensson All the documentation seems to say it for xsl transforms which I think is an an overkill for simple config transforms. Is there a way you can do xdt transfroms like http://www.asp.net/mvc/overview/deployment/visual-studio-web-deployment/web-config-transformations using the current xml transform task?

[2015-07-31 22:58] ChrisMissal commented on #73
I imagine this would use Octokit.net, yes?

[2015-07-31 23:08] patriksvensson commented on #73
@ChrisMissal For creating and uploading releases, GitHub's REST API would suffice to avoid taking a dependency. I know that I'm a little bit reluctant to include third party dependencies in Cake, but it's a slippery slope :)

Here is an example of how this could be done: https://github.com/hadouken/hadouken/blob/develop/win32/build.cake#L280

[2015-07-31 23:14] RichiCoder1 commented on #73
My intention was to use octokit. This might be the point we consider cake contrib for functionality that takes a third party dependency, but is maintained by cake.

[2015-07-31 23:16] ChrisMissal commented on #73
For sure, I was thinking it would work like https://github.com/WCOMAB/Cake.Slack for example. If Cake could just expose Octokit, then script builds could do whatever they wanted.

[2015-07-31 23:21] patriksvensson commented on #73
@RichiCoder1 @ChrisMissal Yes. I like the idea of maintaining `official` plugins seperate from the Cake package itself.

I'm not opposed to including third party libraries. [libgit2sharp](https://github.com/libgit2/libgit2sharp) for example is probably something we need to take a dependency on later for Git support.

[2015-07-31 23:24] patriksvensson commented on #73
@ChrisMissal I agree. Exposing OctoKit would probably be better than writing Wrappers around everything (if I understand you correctly).

This could be done with the `#addin` pre-processor which would download Octokit from NuGet and add a reference to it in the project.

Would be nice though with support for creating releases and uploading artifacts out of the box.

[2015-08-01 04:05] RichiCoder1 commented on #321
Not currently as far as I'm aware. I wrote a custom task to as much myself.

[2015-08-01 06:46] gep13 commented on #73
I was just thinking...

Would it make sense to encapsulate GitReleaseManager to do this work, rather than re-invent the wheel?  We have already created, using Octokit, the ability to create a release, upload assets, close milestones, publish a release, etc.

GitReleaseManager is a standalone exe, which could easily be created as an alias in Cake.

https://gitreleasemanager.readme.io/docs/create

J

[2015-08-01 07:39] RichiCoder1 commented on #73
That could work if we want it built in :)

[2015-08-01 07:47] devlead commented on #73
Regardless GitReleaseManager could be an excellent addin, Cake addins is a great way to extend the DSL, also makes it easy to test/release out of band and super easy to move into Cake later.

[2015-08-01 16:33] thomaslevesque opened #326 "Support C# 6 features in Cake script"
I thought Cake was based on Roslyn, so I was surprised to realize that C# 6 features are not supported (e.g. string interpolation, null conditional operator...)

Is this going to be supported?

[2015-08-01 20:22] patriksvensson commented on #326
Cake supports both released Roslyn versions (version `1.2.20906.2` and the latest bits `1.0.0-rc2`). The old Roslyn (pre C# 6) is the default one.

To use the latest bits (with C# 6), pass the flag `-experimental` to `Cake.exe`.

[2015-08-01 22:36] thomaslevesque commented on #326
Thanks, it works

Since C# 6 is now stable, is there a reason to keep this "experimental" ? Do you intend to switch to the latest stable Roslyn version ?

[2015-08-01 22:38] RichiCoder1 commented on #326
See: https://github.com/cake-build/cake/issues/293

While Roslyn is stable, it's scripting features were hidden and removed in the final version.

[2015-08-01 22:40] patriksvensson commented on #326
Well, the scripting bits are not out of beta yet and things have been changing before so we'll wait until after the 1.0 release to make it the default script engine.

Thanks for your feedback. I'll add some clarification in the documentation about this.

[2015-08-01 23:21] thomaslevesque commented on #326
OK, thanks. I had not realized that the scripting part had not been released yet.

[2015-08-02 10:05] #326 closed

[2015-08-02 15:37] patriksvensson commented on #325
:+1: :smile:

[2015-08-03 08:17] khellang commented on #220
You could also take a look at [PVC](http://pvcbuild.com/) if you want some inspiration for a streaming build-system in C# :wink:

[2015-08-03 08:30] #313 closed

[2015-08-03 08:41] patriksvensson commented on #321
@sitty Ok. It was @devlead that wrote the XSL transformation stuff, so maybe he has some input on this.

@RichiCoder1 Something you would like to share? :smile:

[2015-08-03 11:24] devlead commented on #321
Well web.config XDT could be achieved with following cake script
[code]

Sample `web.config`
[code]
Sample `web.release.config` (transform document)
[code]
Sample `web.target.config` (output document)
[code]

[2015-08-03 15:10] devlead opened #328 "Using alias directives not supported"
To solve conflicting type names C# supports using aliases i.e:
`using ClassAlias = N1.N2.Class;`
[MSDN reference](https://msdn.microsoft.com/en-us/library/aa664765(v=vs.71).aspx)

Currently this gets treated as an namespace in Cake and fails.

Haven't looked into details yet if this is doable or not.

[2015-08-03 15:39] patriksvensson commented on #328
Shouldn't be a problem as long as Roslyn supports it. We should take a look at the using line processor and make sure it understands thst it should not process those lines. If using aliases need to appear at the top of the script, we might need some additional processing.

[2015-08-04 22:56] patriksvensson opened #329 "xUnit: Add support for -noappdomain"
Add support for `-noappdomain` as soon as `xunit.runner.console 2.1-beta4` is released on NuGet. This will (probably) make it possible to run xUnit on Mono.

See https://github.com/xunit/xunit/issues/158 for more information.

[2015-08-05 06:21] jrnail23 opened #330 "NUnit: support for /domain, /process, /apartment options"
I noticed that the NUnit feature doesn't currently support the `/domain` and `/process` options.

Would anyone object to me taking a stab at adding them?

Here are their descriptions, from the [NUnit command line docs](http://www.nunit.org/index.php?p=consoleCommandLine&r=2.6.4):

following values are recognized.

tests. The following values are recognized:

the command line. Otherwise a single do

[2015-08-05 08:24] patriksvensson commented on #330
@jrnail23: No objection here :smile:
I'll label the issue as taken.

[2015-08-05 08:25] patriksvensson commented on #330
Btw (since it's the first time you're commiting to Cake) take a look a quick look at the contribution guidelines: http://cakebuild.net/docs/contributing/guidelines

[2015-08-05 08:26] patriksvensson opened #331 "Travis CI build"

[2015-08-05 08:27] patriksvensson commented on #331
Requires #329 so we can run unit tests on Mono.

[2015-08-06 13:01] #305 closed

[2015-08-06 13:01] #275 closed

[2015-08-06 16:40] os-alan opened #332 "MSBuildRunner ignores PlatformTarget setting provided."
MSBuildRunner does not contain implementation for PlatformTarget specification in MSBuild arguments string.

[2015-08-06 19:47] yvschmid opened #334 "Add InspectCode support"
Add support for InspectCode which is part of the Resharper Command Line Tools:
https://confluence.jetbrains.com/display/NETCOM/Introducing+InspectCode

Interested or should I move it into an extension?

[2015-08-06 19:52] ChrisMissal commented on #334
I would actually like to see this. Could it be implemented as a [Tool](https://github.com/cake-build/cake/tree/369e8425ffe9ea6866559400f9e7268fa0069b1a/src/Cake.Common/Tools)?

[2015-08-06 20:56] yvschmid commented on #334
Some of the options are missing but it's basically done. Have a look: #335

[2015-08-07 06:09] gep13 commented on #334
This is great! I would also be using this, and would love to see dupfinder support as well :+1:

[2015-08-07 07:03] jrnail23 commented on #147
After experimenting a bit with Polly, I think it's got a lot to offer, and it really could benefit from a bootstrapper like @RichiCoder1 mentioned.  The easier to get it going, the better.

[2015-08-08 22:44] patriksvensson commented on #332
Merged in #333.

[2015-08-08 22:44] #332 closed

[2015-08-08 22:45] patriksvensson commented on #320
I'm grabbing this issue :smile:

[2015-08-08 22:56] patriksvensson commented on #320
@RichiCoder1 Good catch, but it looks like Fixie automatically do this if running on TeamCity by looking for the `TEAMCITY_PROJECT_NAME` environment variable, so I don't think we need to do that.

[2015-08-08 23:08] #320 closed

[2015-08-08 23:18] patriksvensson opened #337 "Remove IToolResolver interface"
It's over engineered and doesn't accomplish much. The only tool that uses this is the NuGet tool and this could easily be exposed from the ICakeContext since some core functionality depends on it.

[2015-08-09 00:38] patriksvensson commented on #296
Was this helpful? Anything else you need answer to?

[2015-08-09 01:36] patriksvensson commented on #328
Should be resolved by #339 when merged.

[2015-08-09 05:40] os-alan commented on #314
It seems to me that it doesn't worth the effort, bringing this functionality into Cake's core.

At the moment `cake.exe` already capable of passing arbitrary `key=value` arguments to the script which can be accessed from code. Hence, we can pass something like  `-config=path/to/config.json`.
And, we already have a PS script (to run CAKE script), and that guy looks like a good place for that kind o

[2015-08-09 05:57] os-alan commented on #26
What's the status of this feature? Looks appealing to me :+1:

[2015-08-09 09:17] patriksvensson commented on #26
I'm not sure if this should be implemented (therefore the investigate label). It seemed like a good idea at the time, but I'm not that sure that it would contribute anything except introducing more complexity.

I might be wrong and I'm not 100% against it, but I think the API should be discussed a little bit more before doing anything since it affects how Cake behaves.

Any good use cases for this

[2015-08-09 10:20] #289 closed

[2015-08-09 10:23] #323 closed

[2015-08-09 10:38] #328 closed

[2015-08-09 11:05] os-alan commented on #26
I agree that it hardly adds any value to the project, but as a "syntactic sugar" - looks nice :yum:

In proposed example all the workflow is all at a glance, so if build order is changed it is much easier to move couple of lines up/down, rather than fixing  `IsDependentOn` and `WithCriteria` calls. As the complexity of the build process grows, so does value of such syntax model.

And to me, semant

[2015-08-09 13:52] patriksvensson commented on #26
@os-alan:

Great feedback.

I would say that workflows as you suggest (great name suggestion btw) is something else than what's proposed in this issue. Although I like the idea.

Since the simplified graph configuration i proposed above is more like a way of adding dependencies in reverse, have I understood this correctly if I say that workflows is a way to compose tasks - also in reverse - but in

[2015-08-10 07:23] gep13 commented on #296
@patriksvensson this was more than enough information!  Couldn't have asked for much more! Thanks!

[2015-08-10 07:23] #296 closed

[2015-08-10 08:07] os-alan commented on #26
Yes. I consider "workflow" as single unique path to accomplish build.

I had troubles trying to come-up with a good use case for that, so - no, workflow should not be dependent on other workflow(s).

No again. My vision here is that task, actually _should not have dependencies (so as conditions)_ at all. That is, there should be no `Task.IsDependentOn` and `Task.WithCriteria` methods. You declare

[2015-08-10 20:36] patriksvensson opened #340 "OpenCover support"
Just remembered to add an issue for this.
I'm currently working on an implementation for this.

[2015-08-10 21:17] patriksvensson commented on #26
@os-alan

I've been thinking about this today and I cannot see that we would remove task dependencies or criteria from Cake. I appreciate the ideas, but I'm extremely reluctant to include two execution models that are not compatible with each other.

I like the idea of workflows though, and I can see a benefit from them if they respect task dependencies and criteria, which would make them a new ki

[2015-08-11 07:24] os-alan opened #341 "Workflows: alternative task execution mechanism"
_(this is the continuation of discussion of `Workflow` from #26)_

@patriksvensson

That's so true, and you sound pragmatic  :smile:

I also like the idea of workflows (so much, that I definitely going to implement them as POC at least in my fork :smile: ), but if they would respect `Task`'s dependencies and conditions then there would be almost to difference to Targets (which is currently the onl

[2015-08-11 14:46] jrnail23 opened #342 "Can we make IProcess disposable or give it a stop method, etc.?"
Last night I sat down to write a Cake add-on for IIS Express.
The use case I'm trying to enable is that in one build task I can start one or more IIS express instances (as new processes), then in subsequent tasks, I would run acceptance tests, then I'd kill the IIS Express process in a `Teardown` block.

To implement my add-in, I figured I'd use `IProcessRunner` to start my IIS Express processes,

[2015-08-11 15:21] jrnail23 commented on #342
OK, so upon further review, I do see that calling `IProcess.WaitForExit(0)` is probably the same as calling `Kill()`.  That's workable, but perhaps not the most semantically clear API.

[2015-08-11 15:28] patriksvensson commented on #342
Hello @jrnail23,

You're right about the `WaitForExit` method actually killing the process...
I'm seriously considering a breaking change, because this doesn't feel right. I can't remember why we implemented it this way, but it should probably be changed.

I think it would be OK to add a `Kill` method to `IProcess` and that would be a lot more intuitive and cleaner.

/ Patrik

[2015-08-11 15:32] jrnail23 commented on #342
@patriksvensson, thanks for the quick reply!
I'm also currently digging into the `Tool<T>` class, looking to implement my `IISExpressRunner` following the same basic approach taken by all the other tools/addons I've seen, and I see that the core `Run` method only returns `void`.
Would it make sense to introduce an overload of `Run` that returns an `IProcess`?  Perhaps the existing `void` method co

[2015-08-11 15:37] patriksvensson commented on #342
@jrnail23 This sounds as a reasonable idea. As long as the overload is protected and that other tools behave as normal I'm not opposed to this in any way :smile:

[2015-08-11 16:10] jrnail23 commented on #342
Yep, that's exactly what I was thinking.  It's just an additional convenience method, but I want to make sure that returning `IProcess` behaves the same way as the `void` method.
I'll get to work on it! :smile:

[2015-08-11 20:20] jrnail23 opened #345 "Equality members for DirectoryPath, FilePath"
I've experienced a bit of pain when writing tests involving `FilePath`s and `DirectoryPath`s, particularly when trying to compare them for equality.

Would anyone object to having those types implement `IEquatable<T>` to address this issue?

[2015-08-11 20:23] ChrisMissal commented on #345
Are you comparing a `FilePath` instance to a `DirectoryPath` instance? Or just asserting that a `FilePath` instance is located in the directory?

My first reaction is an extension method to do the assert, but I might be missing the intended use.

[2015-08-11 20:25] jrnail23 commented on #345
@ChrisMissal , I'm trying to set up mock/stub expectations using a `FilePath` arg, also just asserting on equality of an actual `FilePath` against an expected one.

[2015-08-11 20:31] ChrisMissal commented on #345
Ahh, understood. Since they already have an implicit conversion, I'd say yes, :+1: .

[2015-08-11 20:37] patriksvensson commented on #345
@jrnail23 I understand your dilemma, but there's actually a reason paths don't implement the IEquatable interface. How we compare a `FilePath` and a `DirectoryPath` depends on whether or not the file system is case sensitive.

I would recommend using the [PathComparer](https://github.com/cake-build/cake/blob/develop/src/Cake.Core/IO/PathComparer.cs) for testing.

You could also add a custom `Equal

[2015-08-11 20:38] jrnail23 commented on #345
Hmm... interesting point.  This is where having worked exclusively in Windows does me absolutely no favors.

[2015-08-11 20:39] ChrisMissal commented on #345
Funny, I was just talking about file name order differences in Windows vs Mac today. I should have recognized that! :stuck_out_tongue:

[2015-08-11 20:44] patriksvensson commented on #345
Yes. I got a Windows background myself so it's not obvious to always think about those things :smile:

[2015-08-11 22:05] patriksvensson commented on #342
Implemented in PR #344

[2015-08-12 03:50] sawilde commented on #340
:+1:

[2015-08-12 15:24] olivier-spinelli opened #348 "Is RunTarget actually necessary?"
Hello to every contributors of this great project!

I read the existing issues to look for an answer but I may missed it. IMHO, the fact that RunTarget is accessible from within the script is a weakness (calling RunTarget from everywhere except the very last step SHOULD nearly always result in a rather strange behavior... at best).

Shouldn't the "target" simply be handled at the host level? And t

[2015-08-12 16:10] RichiCoder1 commented on #348
Correct me if I'm wrong @patriksvensson, but that's because Cake itself doesn't have a way of kicking off the "Target" when the script is done executing. You have to manually kick it off. Cake files are just C# scripts. All cake does is provide some pre-processing smarts and a global helper object that aliases can be merged with.

[2015-08-12 16:33] olivier-spinelli commented on #348
Yes, I have been thinking this.... before. But the fact is I can't see any way of using a build script without:
1 - specifying a target (exactly like I specify a script name): then there is no need to RunTarget from the script itself.
2 - not specifying a target: in such case the name "Default" is provided by the script itself as the default value to the target argument...

The fact is that CakeEn

[2015-08-12 16:38] patriksvensson commented on #348
I agree. I've actually been thinking about renaming `RunTarget` to `SetTarget` and change the semantics for some time. Cake would then do the running automatically with 'Default' as target if no target was explicitly set.

[2015-08-12 16:40] RichiCoder1 commented on #348
Would go nicely with my changes to make target a positional parameter, as we could just auto set the Target to "Default" if none is specified.

[2015-08-12 16:41] patriksvensson commented on #348
I have some code for this lying around so I can spike this out in  a PR if no one oppose it :)

[2015-08-12 16:42] RichiCoder1 commented on #348
Nope. One more step towards the Just run `cake` dream :)

[2015-08-12 16:45] patriksvensson commented on #348
:D

Or did @oliver-spinelli want to take this?

[2015-08-12 16:56] olivier-spinelli commented on #348
With pleasure!
May I propose :
- A CakeOption.Target property (and the modification of the ArgumentParser).
- A SetDefaultTarget( "XXXX" ) (greatly optional ;)) to keep the feature?
- A "temporary" (ie. "obsolete") implementation of RunTarget with a warning that actually calls SetDefaultTarget ?

[2015-08-12 18:37] yvschmid opened #350 "DupFinder Support"
I'm working on support for Jetbrains [DupFinder](https://confluence.jetbrains.com/display/NETCOM/Introducing+dupFinder). Does anybody need some specific options?

[2015-08-12 18:39] patriksvensson commented on #348
@olivier-spinelli I think a good first step would be to get the SetTarget functionality to work and get the ScriptRunner (probably the right place) to perform execution for us.

A PR for this so we have something to discuss would be valuable before putting in too much work into it.

[2015-08-12 18:40] gep13 commented on #350
:+1: woot!

The main one for me would be the ability to pass a config file into the alias so that all the configuration can be stored in that file.

[2015-08-12 18:46] yvschmid opened #351 "XmlTransformationTests not passsing due to CRLF issues"
I'm having issues running the following unit tests:
- `Cake.Common.Tests.Unit.XML.XmlTransformationTests+TheTransformMethod.Should_Transform_Xml_File_And_Xsl_File_To_Result_File`
- `Cake.Common.Tests.Unit.XML.XmlTransformationTests+TheTransformMethod.Should_Transform_Xml_String_And_Xsl_String_To_Result_String_With_Xml_Declaration`
- `Cake.Common.Tests.Unit.XML.XmlTransformationTests+TheTransformMe

[2015-08-12 18:54] patriksvensson commented on #351
Hmm. What OS do you run?

Does a `Assert.Equal(expected, actual, false, true, false)` assertion fix the problem?

[2015-08-12 22:35] #345 closed

[2015-08-12 22:35] patriksvensson commented on #350
:+1:

[2015-08-13 15:25] olivier-spinelli commented on #337
I do agree. And about this NuGet issue, I'd also add a lookup to the NuGet.CommandLine NuGet package. My intent here is to rely only on NuGet packages and avoid any coupling to external tools... And about this, I have a few questions:
- Does Cake uses its own packages.config in order to separate components needed to build/release from the ones used by the Solution?
- Did you ever consider the buil

[2015-08-13 15:51] patriksvensson commented on #337
@olivier-spinelli It's the end of a working day here so I'm probably tired, but I'm not sure that I follow what you mean to be honest.

[2015-08-13 16:24] RichiCoder1 commented on #337
Here's what I think he's asking:

 Does Cake have it's own packages.config separate from the package.config used by Visual Studio solutions when compiling through MSBuild. The answer is Cake doesn't even have a notion of a packages.config, but most bootstraps have a bootstrap step that restores from a packages.config.

•Did you ever consider the build process (ie. Cake) to be an actual part of the

[2015-08-13 16:57] yvschmid commented on #351
I'm running Windows 8.1 Pro. And yes `Assert.Equal(expected, actual, ignoreLineEndingDifferences: true)` does fix the problem. But I'm still confused what's causing it.

[2015-08-13 16:59] yvschmid commented on #351
btw: What line ending convention are we using on this project?

[2015-08-13 17:08] patriksvensson commented on #351
Not at a computer, but normally we normalize line endings in tests. Maybe it's forgotten here but doesn't explain why it doesn't work for you (unless it's a Windows setting). Can take a look at it when I get home.

[2015-08-13 17:11] devlead commented on #351
Sounds like a GIT clone issue. Do you have core.autocrlf=true? Often needed for got to handle like endings correct on Windows.

[2015-08-13 17:15] patriksvensson commented on #351
Yup, that might be the issue. But we should normalize line endings in tests anyway I think.

[2015-08-13 17:17] devlead commented on #351
Issue could be GIT doesn't touch resource content line endings but normalize cs files.

[2015-08-13 17:40] yvschmid commented on #351
Cloning the repo again with `-c core.autocrlf=true' solved it.

[2015-08-13 18:35] patriksvensson commented on #351
Perfect :+1:
Leaving this issue here so we'll remember to fix the tests :smile:

[2015-08-13 19:58] garethbudden opened #353 "Can't set platform target with cake 0.5.1 (nuget latest)"
Hi, I've just started playing with cake by using the example repo, and I've updated the cake exe to 0.5.1, the latest on nuget.
When I try to change the platform target, as shown below, it doesn't seem to pass through the platform target to msbuild and instead still compiles with the default.

[code]

I've looked in the source code and it looks like the _develop_ branch is working correctly but th

[2015-08-13 20:48] patriksvensson commented on #353
Hello @garethbudden,

Thanks for the heads up! This is a known issue that was fixed very recently in #333.
This will appear in the next release (v0.5.2), probably tomorrow or on saturday.

[2015-08-13 20:52] garethbudden commented on #353
Ok thanks, just for my info (and possibly others), is there any sort of nightly build for cake?

[2015-08-13 20:58] devlead commented on #353
Yes, there's a myget feed at https://www.myget.org/F/cake

[2015-08-13 20:58] patriksvensson commented on #353
@garethbudden Yes, we publish CI builds to MyGet: https://www.myget.org/F/Cake/

Until the change is published, you can set the MSBuild property directly:

[code]

[2015-08-13 21:01] #302 closed

[2015-08-14 07:42] olivier-spinelli commented on #348
@patriksvensson I submitted a PR yesterday morning (Paris time) that does not break anything and supports the SetTarget. Now waiting for your comments!

[2015-08-14 07:48] patriksvensson commented on #348
@olivier-spinelli Absolutely. I haven't forgotten. Didn't have as much time as I wished I had yesterday but will try to take a good look at it at soonest tomorrow. Sorry about this.

[2015-08-14 08:56] olivier-spinelli commented on #337
You're right @RichiCoder1!
I actually have an idea in mind. A strange one may be... but an interesting one I believe. I'm a little bit reluctant to express it before having gained credibility from all of you. But... well... let's go!

The idea is named "CodeCake". It is an alternative to scripting (I can imagine how difficult it could be for guys who designed a project around scripting to consider

[2015-08-14 12:39] patriksvensson commented on #337
@olivier-spinelli The original discussion has kind of derailed so if you open a new issue for this it would be appreciated.

---

There is actually plans for a `Cake.Embedded` package that would kind of work like you describe. Would be nice if we could coordinate this effort to create something that could easily be embedded into a Console application. If you want to create a prototype that we can

[2015-08-14 13:45] olivier-spinelli commented on #337
Glad to see I'm not alone to have this idea!
I open a new issue and answer to your points there.

[2015-08-14 13:55] olivier-spinelli opened #356 "CodeCake/Cake.Embedded: a "code based" approach to Cake-build"
I actually have an idea in mind. A strange one may be... but an interesting one I believe. I'm a little bit reluctant to express it before having gained credibility from all of you. But... well... let's go!

The idea is named "CodeCake". It is an alternative to scripting (I can imagine how difficult it could be for guys who designed a project around scripting to consider this approach!). It relies

[2015-08-14 14:18] olivier-spinelli commented on #356
(Quote from @patriksvensson that answered to this in issue #337)

1 - I explained the `Cake` in the text above: it is a simple property exposed by the base class, so you are "at home" with intellisense.

2 - Actually, the idea is that the current Cake.Core can be splitted in two: Cake.Core with the CakeEngine and the basics and a new Cake.Scripting.dll that supports the scripting functionality. In

[2015-08-14 16:34] RichiCoder1 commented on #356
I like this because it allows for us to take advantage of C#'s great tooling, but on the flip side, half the reason I love C# Scripting, and Cake, is that I don't have to do anything special for it to "just work".

[2015-08-15 08:53] olivier-spinelli commented on #356
Yes I think the two worlds can peacefully live together and offer the best experience (with Code you easily have intellisense and powerful debugging capacities, with Script you benefit of the "dynamic" approach).
What led me to this is the fact that I want the commit point in the repository to exactly reflect the whole state of my releases. As long as the build chain belongs to the Solution and is

[2015-08-15 09:34] SharpeRAD commented on #356
@patriksvensson would need to separate the logic from "Cake.exe" into a new DLL "Cake.Host" then how you call the host just becomes a personal preference script/code/vs plugin/etc.

[2015-08-16 19:11] patriksvensson commented on #353
Resolved in v0.5.2.

[2015-08-16 19:11] #353 closed

[2015-08-16 20:20] thomaslevesque opened #358 "Add some documentation about unit test framework dependencies"
I had a hard time finding how to make NUnit and xUnit work in Cake... I kept getting errors saying that the executable couldn't be found, and I had no idea where Cake was looking for it.

I finally understood that I had to add dependencies in the tools/packages.config (NUnit.Runners, xunit.runner.console), but this isn't documented anywhere, as far as I could tell. By the way, is it the correct wa

[2015-08-16 20:50] patriksvensson commented on #358
@thomaslevesque You're absolutely right and this is great feedback. When working on something you become blind to what not obvious for newcomers to the project. I appreciate that you took the time to open an issue about this! :+1:

To answer your question, Cake use conventions for finding tools.

1. If the user provided a tool path, use that.
2. Check if ./tools/**/tool.exe exist.
3. Look at the P

[2015-08-16 22:33] thomaslevesque commented on #358
OK, thanks for the explanation.

[2015-08-18 10:49] patriksvensson opened #359 "MSBuild Platform target misspelled"
The MSBuild Platform target produces the literal `AnyCPU` in [MSBuildRunner.cs](https://github.com/cake-build/cake/blob/develop/src/Cake.Common/Tools/MSBuild/MSBuildRunner.cs#L107) which should be `Any CPU` (notice the space).

**Workaround:**

Append a `WithProperty` as specified below, and remove the `SetPlatformTarget` call until this is fixed.

[code]

[2015-08-18 10:52] devlead commented on #359
I'll grab this one as I'm affected :) Will hopefully have PR ready by today or tomorrow.

[2015-08-18 15:55] olivier-spinelli commented on #356
The proof of concept works well. I created a Project template with it (and even a VSIX).
It is a console application that works with the current Cake.Core, Cake.Common and a Code.Cake.dll (here: https://github.com/Invenietis/cake/tree/f-code-cake/src/Code.Cake). [Caution: crappy, quick & dirty code!]
The sample application onto which the Project Template is based is here: https://github.com/Inveni

[2015-08-18 16:03] RichiCoder1 commented on #356
Would be rather interesting to see this paired with a DNX Console Project, so that you just could do something like `dnx run -p .\tools\build.json`, and still have a top level build.cs. Or I could be crazy :P

[2015-08-18 16:31] RichiCoder1 opened #361 "Create Cake Contrib Repository"
We should create a Cake Contrib repository to allow for officially support aliases that take a dependency on third party packages. Cake.Common is great, but it has the restriction that no external package may be references.

See these for reference:
https://github.com/psake/psake-contrib
http://nantcontrib.sourceforge.net/

[2015-08-18 16:33] RichiCoder1 opened #362 "Add integration tests"
Add test coverage for actually executing aliases against tools.

Currently there's no test coverage to ensure that the runners for each alias actually execute the target tool property. We should add a suite of tests that provide a framework for testing tool runners against live tools and verifying the results.

See https://github.com/cake-build/cake/issues/359 as an example.

[2015-08-18 16:39] ChrisMissal commented on #361
I like this idea! Rather than one project (like the referenced links) for all the extensions, what about more of a package approach? Just based on past experience, the "big-utility-drawer" project is difficult to maintain and contribute to. It's much easier to set up and hook together, but I think it would be more powerful if pieces could be installed and used a la carte.

[2015-08-18 16:39] RichiCoder1 commented on #361
Yup, that's what I was thinking. One repository, but multiple projects. Or multiple repositories under a cake-contrib organization.

[2015-08-18 16:45] ChrisMissal commented on #361
I was imagining it a step further, like yeoman generators or hubot scripts. The repository lives under whoever wants to maintain it, but it follows a set of guidelines and implements an interface/API. Then Cake.Contrib would just point to them all.

We did multiple repos under one organization for WebApiContrib and it's tough. The maintainers don't use them all all the time, so they can get ignore

[2015-08-18 17:26] RichiCoder1 commented on #361
I think I understand. I'm actually vaguely reminded of NPM's package.json, though they have it easier since there's no compilation step largely :)

[2015-08-18 17:38] devlead commented on #362
What I would like would be if we ran the sample code, then we would test both that and integration.
I thought a little about it, only issue is the state setup/teardown, though would actually be kinda cool if the sample code had that when possible as would be a complete usage sample then.

[2015-08-18 18:27] SharpeRAD commented on #361
Whats wrong with individual repositories / nuget packages?

If the Aliases and public classes are commented correctly in each package then it would be possible to create automatic documentation using the same tools that the main cake-build site uses by just pulling in the nuget package for each addin.

[2015-08-18 18:35] SharpeRAD commented on #361
@patriksvensson has done all the hard work with the automatic documentation features of the main site so I can't imagine scanning a few extra nuget packages would be that difficult. You could even integrate it into the main sites build process such that it detected missing comments and only referenced addins that had complete documentation.

[2015-08-18 19:02] patriksvensson commented on #362
I would rather see dedicated, specialized integration tests initially. Sample code tests feels like something you build upon that.

[2015-08-18 19:22] devlead commented on #362
Indeed integration test could test the sample code as one step. Basically we could extract all sample code into cake files in a integration tests repo automatically. Then that repo could bootstrap anything needed for sample code.

[2015-08-18 19:24] patriksvensson commented on #362
Yes, sounds reasonable. I have a Powershell script lying around that runs some integrations tests. Maybe I should put some effort in this while I have some spare time... :smile:

[2015-08-19 18:40] ChrisMissal opened #364 "Add Prompt"
Sometimes I'll have tasks in my builds that are run manually. These may occasionally require data that I don't want to commit. One example would be publishing to NuGet, but in doing so, prompts for an API key.

An example in gulp: https://www.npmjs.com/package/gulp-prompt

[2015-08-19 18:44] ChrisMissal opened #365 "Add Watch"
Like many other build tools, it would be nice to have a file watcher or change watcher. The usage of this would be to run a task that continues running, but will be triggered when certain files or file patterns are modified. One common example would be to run tests when code is compiled.

Examples of this in FAKE:
 - http://fsharp.github.io/FAKE/apidocs/fake-changewatcher.html
 - http://fsharp.git

[2015-08-19 19:17] patriksvensson commented on #364
Could be very useful for scenarios as the one you mention!

[2015-08-19 20:23] #350 closed

[2015-08-19 20:23] patriksvensson commented on #334
Merged

[2015-08-19 20:23] #334 closed

[2015-08-19 20:24] patriksvensson commented on #350
Merged

[2015-08-19 21:01] #329 closed

[2015-08-19 22:00] #351 closed

[2015-08-20 19:31] garethbudden opened #367 "Incorrect parameter "/result" passed when executing nunit tests"
Hi, I believe that the NUnitSetting for ResultsFile may be setting an incorrect parameter when passing to nunit console runner, for example...

[code]
Will pass the results file parameter as ``` /result:"./src/build/TestResults.xml" ```, this doesn't work for me and the [docs](http://www.nunit.org/index.php?p=consoleCommandLine&r=2.5) appear to say it should be ``` /xml:"./src/build/TestResults.xm

[2015-08-20 19:56] patriksvensson commented on #367
Hello @garethbudden,

The `/xml:` parameter is used for version 2.5 and below. Since version 2.6, the `/result` parameter is used. Not sure why NUnit breaks their own API like this, but Cake's NUnit runner is targeting 2.6 and above.

Sorry for the inconvenience.

/ Patrik

[2015-08-20 19:59] patriksvensson commented on #367
I read the configuration again, and NUnit 2.6 also recognize the `/xml` parameter, so obviously they don't break their own API; they've just extended it. Nevertheless this won't be of any help to you and the only solution I see is to upgrade to the latest version of NUnit. Another option would be to add a legacy mode to the NUnit runner to make it use the correct parameters.

[2015-08-20 20:10] garethbudden commented on #367
ok thanks, I've updated and all works fine.

[2015-08-20 20:10] #367 closed

[2015-08-21 04:00] melcloud opened #368 "Program Files (x86) not working"
Hello,

Not sure if I used it incorrectly, but var files = GetFiles("C:/Program Files (x86)MyApps/Test.*"); throws unknown token error.

Regards

[2015-08-21 08:15] patriksvensson commented on #368
Looks like a bug to me. Will take a look at this later today.

[2015-08-21 08:15] patriksvensson commented on #368
Thanks for reporting this btw! :+1:

[2015-08-21 09:03] melcloud commented on #368
You are welcome! :)

[2015-08-21 10:17] patriksvensson commented on #368
@melcloud Wrote a quick fix for this during my lunch: #369
Will be included in the next release. Sorry for any inconvenience.

[2015-08-21 10:19] patriksvensson commented on #368
@melcloud You can temporarily use the AppVeyor artifact until this is merged: https://ci.appveyor.com/project/cakebuild/cake/build/0.5.2-build-699/artifacts

[2015-08-23 10:28] #359 closed

[2015-08-23 10:32] #368 closed

[2015-08-24 10:51] Sam13 opened #371 "Use cake build language in classes"
I'd like to structure my build scripts into different classes. E.g one for default directory definitions.
I noticed that I'm not able to use the cake build language there e.g.
[code]
_MakeAbsolute_ and _Directory_ cannot be interpreted correctly by CAKE.

For now I created a workaround but that may be not possible for other cases

[code]

Do I miss something or is that not intended to be done like

[2015-08-24 11:32] Sam13 opened #372 "Support other assembly info relevant information for ParseAssemblyInfo"
_CreateAssemblyInfo_ supports all commonly used assembly info settings (http://cakebuild.net/api/cake.common.solution.project.properties/8f09cb16), but parsing an existing assembly info can only read assembly version numbers (http://cakebuild.net/api/cake.common.solution.project.properties/aa3585e3).
For normal cases which the assembly info is created by a Cake script this might be sufficent. But

[2015-08-24 15:59] RichiCoder1 commented on #371
For reference, you can also do this:
[code]
Or at least in theory. Not sure how well statics play with them.
I've wondered about this myself too though. Causes a very weird disconnect between the main build script and the tooling scripts.

[2015-08-24 16:00] RichiCoder1 commented on #372
:+1:

[2015-08-24 17:56] jrnail23 commented on #371
I might suggest that this could be related (in a sense) to #356.

[2015-08-24 18:11] jrnail23 commented on #356
I really like the general idea here, although I haven't really taken the time to review the specifics proposed above.

For me, this addresses the following concerns/thoughts I've had since starting with Cake:
* how to decompose complex build routines into modular parts
* (potentially) enhancing testability of those modular parts / enabling TDD
* enhancing editing/authoring by making it possible to

[2015-08-24 19:42] jrnail23 opened #373 "Issue with External nugets used directly via #addin directive"
I did some experimenting with using external nuget packages through the `#addin` directive, and I found that it only works when there is only a single dll file for each dll name in the referenced nupkg file.

Before I get into detail here, I should say that I assume what I'm trying to do here isn't really what the developer of Cake's `#addin` directive intended when writing it (there's really no d

[2015-08-24 19:56] RichiCoder1 commented on #373
:+1:
We've been having a separate discussion about dependency resolution and version strings, and I'm thinking that we might want to just have a general project to make `#addin` far more robust then it currently is. We really should be grabbing all of the dlls under the appropriate lib folder and all the libs of addin dependencies.

[2015-08-24 20:05] devlead commented on #373
@jrnail23 you're absolutely correct, this is a known issue I've haven't had time to get around to fix yet. Initially we'd like to pick correct DLL based on framework preferably without adding dependencies. Nuget targets are a bit messy but should be doable to get something so we can compare running framework against highest avail matching that.

[2015-08-24 20:32] jrnail23 commented on #373
@devlead, It seems like that `VersionUtility.GetShortFrameworkName()` method doesn't really do any black magic, so it may not be too tough to duplicate its functionality.  I can take a stab at it if you like.

[2015-08-25 08:40] olivier-spinelli commented on #356
Glad to see some interest in this beast!
Currently, my quick and dirty implementation works quite well. I am already using it and working on it (not on the core but around it: I just finished a boostraper.ps1: my goal is now to set up an AppVeyor build.

I hope that at the end of this day (Paris, France), I'll have the project setup and everybody will be able to see CodeCake in action.

Unfortunat

[2015-08-25 09:57] Sam13 commented on #371
@RichiCoder1

Tried your suggestion, but that gives the following error:
[code]

[2015-08-25 17:46] #330 closed

[2015-08-25 17:47] jrnail23 opened #374 "Syntax highlighting for .cake files in VisualStudio Code!"
I just did some digging, and I figured out how to enable syntax highlighting for .cake files in Visual Studio Code (Windows).
(I wasn't sure where else might be best to share this, so I just created an issue)

Under your VS Code app folder (for me, running version 0.7.10, it's `c:\users\MyUserName\AppData\Local\Code\app-0.5.2` ), open up `\resources\app\plugins\vs.language.csharp\ticino.plugin.jso

[2015-08-26 08:53] Sam13 commented on #374
Why don't you name them with the extension _.cs_ then you have the syntax highlighting for free?

[2015-08-26 09:02] patriksvensson commented on #374
You could also use Atom which has built in support fot Cake :)

[2015-08-26 11:23] Sam13 opened #375 "Line number in error messages is incorrect when using directives"
When using directives, e.g. _#r_ or _#load_ in a cake script,  the line numbers in syntax error messages are wrong. I have to add the number of directive lines to it to get the correct one...

[2015-08-26 14:21] jrnail23 commented on #374
@Sam13, I think it would be confusing to others if I used the *.cs extension because cake files aren't really c# files.  On the other hand, the *.csx extension also "just works," and it's closer to the truth of what cake files are (although they're also not really ScriptCS files either).

@patriksvensson, I had no idea about Cake support in Atom.  I'll give that a try too!

[2015-08-26 14:30] jrnail23 commented on #375
interesting... perhaps it would be possible to have the scripting engine retain those directive lines as comments?

[2015-08-26 14:55] patriksvensson commented on #374
@jrnail23 I'm going to the the VS code approach as well :)

You are also correct. The Cake DSL is a superset of C# and not plain C#. Therefore we decided to use our own extension. Will make itneasier for tooling in the future (i.e Omnisharp integration).

[2015-08-26 15:38] devlead commented on #375
As it's combined into one code generated script, we would need to keep track of offsets or something.

[2015-08-26 16:21] RichiCoder1 commented on #375
I've been getting around this using `#line` directives, but it would be nice to have Cake handle this out of the box.

[2015-08-26 16:23] RichiCoder1 commented on #374
"Full" is a stretch, but it does have pretty good syntax highlighting :)

And yup! Omnisharp is a steadly progressing work in progress: https://github.com/OmniSharp/omnisharp-roslyn/issues/208
I believe VS Code also uses Omnisharp.

[2015-08-26 18:51] gep13 commented on #374
I believe VS Code also uses Omnisharp

Yes, that is correct.

[2015-08-26 21:44] #342 closed

[2015-08-26 22:03] jrnail23 commented on #362
@patriksvensson & @devlead, I'm working on further extending  `IProcess`'s functionality, but I'm a bit uncomfortable doing much without actual tests for the process wrapper itself.
On one hand, that wrapper should ostensibly be thin enough to allow us to not worry too much (since it is really just a wrapper around otherwise untestable stuff), but on the other hand, there's already some stuff in t

[2015-08-26 22:30] devlead commented on #362
@jrnail23 integration tests is something we need, to keep the main repo clean, I'm personally leaning towards having a seperate repo with cake scripts that actually executes the code for as much as possible.
Then we could catch regressions like argument typos etc before release. Basically we could have this repo trigger on sucessfull build of the Cake repo and always pull down lates Cake from myge

[2015-08-27 00:59] marcosnz commented on #373
I took a look at this a while back but only got as far as taking the parsing of the line into own class (see commit above).
It doesn't add any new functionality but verifies current functionality so that if we add to it we will hopefully know if we've broken anything.
Don't know if it will fit into grand scheme of things but thought I'd share what I had done.

[2015-08-27 08:34] marcosnz commented on #373
Ah, so I got back into this and kept going and now have *something* that works (see PR). Not sure it will be what you were after. Happy to take feedback... or if you want to use some of the code in a different manner be my guest :)

[2015-08-27 13:25] devlead opened #377 "New globber walk"
Upgrading a project to lates Cake I notices code like this won't work anymore
[code]
This was a hack to exclude certain folders from being traversed, i.e. because permissions, long paths etc.

Semantics in Globber changed ( https://github.com/cake-build/cake/commit/0e0c4784cbeea16caaa175ad7cf2dee4ec4b7721#diff-3d4e3c4984d72ab35ad74188651c2494R63 )  so it now will scan recursively first then use th

[2015-08-27 13:51] jrnail23 commented on #373
@Marcosnz, IMHO, getting that -prerelease switch is key to making this thing more usable.  In particular, this is very valuable when developing and testing our own add-ins, as it allows us to follow semantic versioning in development (using prerelease SemVer suffixes for works-in-progress).

I think the `-folder` switch is less useful, since it requires the consuming Dev to know too much about the

[2015-08-27 15:16] RichiCoder1 commented on #377
Completely unrelated: NPM 3+ allows for flat directories. It's beta, but its super stable near as I can tell and not having to deal with the infinite folders of doom helps a lot. There's even an awesome tool for upgrading it: https://github.com/felixrieseberg/npm-windows-upgrade

[2015-08-27 15:20] RichiCoder1 commented on #373
I'm going to be contrarian here and say that cake *should* take a dependency on NuGet. We already take a soft dependency on it, it's the defacto package manager for C#, and it's basically the defacto package manager for delivering Cake addins as well. We need Cake itself to be smart enough to reason about how to install packages, and where to grab references from. Half done solutions where we're p

[2015-08-27 16:39] jrnail23 commented on #373
@RichiCoder1, I tend to agree with you, with one caveat -- which version of NuGet.Core (assuming that's the lib you're talking about) do you take a dependency on?
Managing that dependency over time could be tricky, although that also depends on the degree of coupling we introduce (and of course interfaces & wrappers certainly help mitigate that).

[2015-08-27 19:51] patriksvensson commented on #373
Cake already have a dependency on NuGet.Core. The core library should not have one.

We could define a contract in Cake.Core that wraps functionality around NuGet.Core and implement the contract in Cake.

[2015-08-27 19:54] patriksvensson commented on #377
Shouldn't be that difficult to add pre recursion filtering to the glob expression walker. I can take a quick look at this later this weekend.

[2015-08-27 20:47] marcosnz commented on #373
@jrnail23

Agreed and that  is the fallback if none is selected in my PR. However, the package I am targeting is MSBuild.Extension.Tasks. It has a structure like

![msbuild extension pack structure](https://cloud.githubusercontent.com/assets/11529112/9532658/128276fa-4d61-11e5-9956-e466e1d9064a.PNG)

I am running from on .net 4.5. Trying to find that I need tools\net40 would be tricky for cake but

[2015-08-27 21:36] RichiCoder1 commented on #373
@jrnail23 We should target the version that makes the most sense when interoping with Nuget feeds. If we really want the ability to potentially target a newer (or older) nuget, we could make the resolution library external and then have Cake import it so you can swap out your own. Use the interface that @patriksvensson mentioned and MEF and baring any major changes you're good. It basically needs

[2015-08-28 02:24] jrnail23 commented on #373
@RichiCoder1, sounds like good ol' fashioned Dependency Inversion principle, via [Separated Interface Pattern](http://martinfowler.com/eaaCatalog/separatedInterface.html), FTW! :smile:

[2015-08-28 17:19] patriksvensson commented on #377
I'm assigning this to me. Going to give this a shot :smile:

[2015-08-28 21:44] RichiCoder1 opened #380 "Make TextTransform handle Regex Special Characters"
If I were to set the delimiters for TextTransform to `$`, it will break, as `$` is a regex special character. TextTransform should handle this.

[2015-08-28 21:45] RichiCoder1 opened #381 "Wrap NuGet Pack Release Notes in CDATA"
Wrap the release notes in NuGet Pack with `<![CDATA[]]>`. This will allow for rich release notes.

[2015-08-29 05:53] patriksvensson commented on #371
Alas, there are no plans of supporting Cake alias methods in classes.
A workaround for your problem would be something like this:

[code]

[2015-09-02 04:19] patriksvensson commented on #377
Ok, this is not as easy as it seems. There `predicate` part is not well defined. I always thought that the predicate was used to filter the results, but you actually want to use the predicate to decide what paths to traverse. These are two different things and I think we should decide upon what is the expected behavior of this. If it's used to choose paths to traverse, maybe `predicate` isn't the

[2015-09-02 04:22] patriksvensson commented on #381
Good point! :+1:

[2015-09-02 04:24] #371 closed

[2015-09-02 09:55] devlead commented on #377
What I'm trying to find a solution for is that if you have an "unsupported" directory structure you currently can't use any of the globber methods (`GetFiles`/`GetDirectories`/`CleanDirectories`/etc.) in your cake scrips, which is kinda sad as they're convenient aliases to use.

In some cases it might be using globber in a way it wasn't initially intended to be used, but for the "end user" it migh

[2015-09-02 11:49] Sam13 commented on #371
That's fine, didn't know how to adress the context...

[2015-09-02 11:56] devlead commented on #380
Wondering if it's just about escaping `. $ ^ { [ ( | ) * + ? \` in the inputed key data?

[2015-09-02 12:32] Meberem commented on #270
I have used that command recently so I have added some documentation in a commit in my fork [here](https://github.com/Meberem/cake/commit/25716e0447a42ad9d11226b95806940228f59710) would this be useful to you?

[2015-09-02 12:37] Meberem opened #385 "Mdtools Support"
I have been testing out build automation for a small test app/website and thought it would be useful to integrate the mdtool from Xamarin into Cake. It would allow iOS apps to be built from cake; I have written a very basic wrapper around it and proof of concept [here](https://github.com/Meberem/cake/tree/mdtool-support) if anyone would be interested in it.

[2015-09-02 12:39] patriksvensson commented on #380
Yes, that will probably work. We could always make sure that we escape the data for the user, but as a work around this should work.

[2015-09-02 12:41] patriksvensson commented on #270
@Meberem That looks fine :smile:
Would probably want to remove the `<packages>` part, but other than that it looks good to me.

[2015-09-02 12:45] Meberem commented on #270
Ok not a problem, I included it as I forgot/got confused with which package to use but that is not relevant for this part of the documentation.
Shall I remove that and send you a pull request?

[2015-09-02 12:52] patriksvensson commented on #270
Yes. That would be great! :+1:

[2015-09-02 13:48] devlead commented on #380
@patriksvensson i agree think we should fix it in the code, basically when key added to expression we should escape like we do with quoting etc. in other areas.

[2015-09-03 22:02] jrnail23 opened #389 "Enhancement: TaskSetup and TaskTeardown"
I think it would be useful to have actions that could be executed before and after each task, particularly if those blocks receive an instance of the current task (or metadata about the task).

For example, that would make it easy to report progress to TeamCity, or maybe add blocks around each task in TeamCity's output to make its build logs more readable.

[2015-09-03 22:32] patriksvensson commented on #389
@jrnail23 Sounds like a good idea :+1:

[2015-09-04 01:33] JoshSchreuder opened #390 "GetDirectories globbing issues"
Hi guys. Interesting project!

I'm trying to use `GetDirectories` and globbing patterns to match all my `bin` folders to clean them up. It doesn't seem to be working as I would expect. I'm probably doing something really stupidly wrong, so help would be appreciated :smile:

Directory structure:
[code]

I would like to match all the `bin` folders inside of `MyProject.*`

I have tried a variety of g

[2015-09-04 04:36] RichiCoder1 commented on #389
:+1:

[2015-09-04 10:07] patriksvensson commented on #390
@JoshSchreuder Hello and thank you!

I can't see anything obviously wrong with your example but I might be missing something as well. Going to take a look at this later today and see if I can find a solution to the problem you're experiencing.

[2015-09-04 11:07] Sam13 opened #392 "Zip compression improvements"
Add ZIP compression options which include:
- ZIP level
- Ability to provide source - target path transformation when adding items

Example: you add directory C:\Test\Sub123 from C:\ as root. Then the ZIP file contains that in Test\Sub123 but maybe you want to place that data into another folder in the ZIP archive. Currently you can do this only by creating the desired folder structure beforehand w

[2015-09-04 13:23] patriksvensson commented on #390
@JoshSchreuder I tracked the bug down. Will send a PR today for this.

[2015-09-04 15:04] jrnail23 commented on #389
ok then, I'll get started on it :smile:

[2015-09-04 15:52] jrnail23 commented on #389
@patriksvensson, @RichiCoder1, I wanted to get some quick feedback here.
I'm thinking for my TaskSetup/TaskTeardown actions, I want to pass in the Task and the ICakeContext as args, to be available for use by the user's code.
I want ICakeContext to get access to the Log, Environment, etc.
I only really want the Task info to get access to things like Name & Description, etc. -- I don't think it wou

[2015-09-04 16:05] patriksvensson commented on #389
@jrnail23 I agree with what you're saying.

I would go with option 2. Maybe call it `ICakeTaskInfo` and expose `Name`/`Description`/`Criterias` and `Dependencies`.

However, I don't think that you need to provide the ICakeContext for this.

[2015-09-04 16:08] RichiCoder1 commented on #389
I'd vote two. ITaskInfo sounds like a more testable and future proof solution.
So they'd end up looking like this?:
[code]

[2015-09-04 16:09] jrnail23 commented on #389
@patriksvensson, the Context would already just be available, right?  The reason I thought to include it is that the `CakeTaskBuilder.Does()` extension has an overload that provides `ICakeContext`.

Can you please explain when that overload is intended to be used, as opposed to the one that doesn't provide the context?

[2015-09-04 16:10] jrnail23 commented on #389
@RichiCoder1, that's pretty much what I was thinking.  Good call on including the taskResult in the TaskTeardown.  I hadn't considered that!

[2015-09-04 16:11] RichiCoder1 commented on #389
Or possible do what places like Roslyn or Auth does and have an `ICakeTaskSetupContext` and `ICakeTaskTeardownContext`. The former would just have information about the task, while the later also contains task completion information information.

Also, should they really be called Setup and Teardown? Maybe something like BeforeStart and Completed would be more appropriate?

Hmm, I'm not exactly su

[2015-09-04 16:11] patriksvensson commented on #389
@jrnail23 You're right. Include `ICakeContext` there as well.

@RichiCoder1 What would `taskResult` contain?

[2015-09-04 16:13] RichiCoder1 commented on #389
Run time, exception information if and error was thrown, as well as whether or not the Task was even run (all task criterias were met). That last one might not be obvious information, so I'd be ok with leaving that out.

[2015-09-04 16:13] patriksvensson commented on #389
@RichiCoder1 I think `TaskSetup`/`TaskTeardown` would go well together with `Setup`/`Teardown`.

[2015-09-04 16:13] jrnail23 commented on #389
@patriksvensson, are you saying I should overload it (one method with `ICakeContext` and one without), or only one with the context?

[2015-09-04 16:14] patriksvensson commented on #389
@jrnail23 Have just one with `ICakeContext`.

I just realized we already have a `Finally` handler for tasks. Not sure if `TaskTeardown` would provide any value.

[2015-09-04 16:15] jrnail23 commented on #389
I also think the task result should probably include the task's duration.

[2015-09-04 16:15] patriksvensson commented on #389
@jrnail23 @RichiCoder1 Maybe we could call the `TaskTeardown` method `Finally` instead.

[2015-09-04 16:16] jrnail23 commented on #389
@patriksvensson, the `Finally` handler is defined per task, right?  `TaskTeardown` would be defined once and apply to all tasks.

[2015-09-04 16:16] patriksvensson commented on #389
@jrnail23 You're right! Sorry! :smile:

[2015-09-04 16:16] patriksvensson commented on #389
@jrnail23 Should definitly be called `TaskSetup` and `TaskTeardown` then.

[2015-09-04 16:17] RichiCoder1 commented on #389
Yup. That was my argument. Finally is for specific tasks and only takes specific information. TaskTeardown is purely for reporting purposes and receives a lot more general and diagnostic information.

[2015-09-04 16:19] jrnail23 commented on #389
@RichiCoder1, it sounds like you and I are definitely on the same page here.  I also look at this as a way to possibly provide richer feedback/interaction with CI systems like TeamCity.

[2015-09-04 16:20] patriksvensson commented on #389
@jrnail23 @RichiCoder1 Yup. Sounds good to me.

A good thing is to keep things as simple as possible in the first implementation. Less is more until we're absolutely sure about how stuff should be.

[2015-09-04 16:23] jrnail23 commented on #389
@patriksvensson, agreed.  I'll put up a prototype of the implementation ASAP for review and feedback.

[2015-09-04 16:23] patriksvensson commented on #389
@jrnail23 Sounds good :+1: :smile:

[2015-09-04 16:25] RichiCoder1 commented on #389
Yup. TeamCity is the biggest thing I have in mind, for the exact reasons you mention. Taking of build log blocks would be an easy win with this.

@patriksvensson Yup. I think what we've outlined here should be good.

Rough sketch of possible interfaces @jrnail23
[code]

[code]

[code]

[2015-09-04 16:33] jrnail23 commented on #389
@RichiCoder1, if the task doesn't meet the criteria, should its task setup even be performed?
(I can imagine arguments both for and against this one)

Also, for the `ITaskTeardownContext`, `RanSuccessfully` could be a little confusing.  I think  there may be two questions to ask there:

1. Did the task run at all?
2. If it did run, was it successful?

[2015-09-04 16:36] RichiCoder1 commented on #389
In theory, if `ITaskSetupContext.MeetsCriteria` is false, then `ITaskTeardownContext.RanSuccessfully` would be false and `ITaskTeardownContext.ExceptionInfo` would be null. We could make that more explicit though, I agree that it's vague. An enum of states could possibly work. `ITaskStatus` with `Success`, `Skipped`, `Error` might work. I *would* like setup and teardown to be run even if the task

[2015-09-04 16:37] patriksvensson commented on #389
Like I said before it's probably wise to include as little information as
possible and let this grow organically. We can't change this once we
release it...
On Sep 4, 2015 18:36, "Richard Simpson" <notifications@github.com> wrote:

[2015-09-04 16:39] jrnail23 commented on #389
I think I agree with reporting skipped tasks.  The only downside I can think of there is additional noise in your logs, but the user can always decide not to log anything if the task was skipped.

[2015-09-04 16:40] RichiCoder1 commented on #389
I also don't want to release something that's hamstringed. That being said the most simple and straight forward implementation would be to remove `ExceptionInfo` and `RanSuccesfully` from teardown`, `MeetsCriteria` from Setup, and add `Skipped` to teardown. Would allow you to report Start, Header, Skipped Or Not, and Footer.

[2015-09-04 16:43] jrnail23 commented on #389
Also in the interest of preserving our ability to add additional info over time, I think `ITaskSetupContext` and `ITaskTeardownContext` are a good idea, even if they start out pretty threadbare.
With those in place, we can add new methods and properties without modifying the signatures, thereby preserving reverse compatibility.

[2015-09-04 16:44] RichiCoder1 commented on #389
Absolutely.

[2015-09-04 16:46] patriksvensson commented on #389
Yes I agree. The two contexts are a really good idea :smile:
On Sep 4, 2015 18:44, "Richard Simpson" <notifications@github.com> wrote:

[2015-09-04 16:48] jrnail23 commented on #389
in the teardown context, do you guys prefer `Elapsed` or `Duration`?  (I like `Duration` myself, but if `Elapsed` is already used elsewhere, I want to stay consistent with your existing vocabulary)

[2015-09-04 16:51] RichiCoder1 commented on #389
Engine used Elapsed, but Report uses Duration, so I'd say `Duration`.

[2015-09-04 16:51] RichiCoder1 commented on #389
Revised interfaces:
[code]

[code]

[code]

And in IScriptHost:
[code]

[2015-09-04 16:53] patriksvensson commented on #389
Isn't Duration what we use?
On Sep 4, 2015 18:48, "James Nail" <notifications@github.com> wrote:

[2015-09-04 16:54] jrnail23 commented on #389
I'd like to omit `Criterias` from `ICakeTaskInfo` for the first iteration.
I think it could introduce some unwanted complexity up front.
You guys cool with that?

[2015-09-04 16:55] RichiCoder1 commented on #389
I'm abiveliant to criterias to be honest, just included it for completeness. @patriksvensson ?

And yes, re-searching the case, `Duration` is was `CakeReportEntry` uses, which is the defacto way that Cake is currently storing that information.

[2015-09-04 16:57] jrnail23 commented on #389
ok, now on to the next question.... what should we do with these things when using a `DryRunExecutionStrategy`?

[2015-09-04 16:58] patriksvensson commented on #389
Agree. "Duration" is probably best. Engine stuff is internal I think.
On Sep 4, 2015 18:55, "Richard Simpson" <notifications@github.com> wrote:

[2015-09-04 16:59] RichiCoder1 commented on #389
Huh. My gut says no, but I'll also defer to @patriksvensson  on this one.

[2015-09-04 17:00] jrnail23 commented on #389
the existing Setup and Teardown actions are no-ops in a dry run, FYI.

[2015-09-04 17:01] jrnail23 commented on #389
You wouldn't really perform a dry run in a CI environment, right?

[2015-09-04 17:02] devlead commented on #389
No, very unlikely.

[2015-09-04 17:03] jrnail23 commented on #389
and I guess there's no telling what the user might choose to do in those actions anyway.  They could, in theory, manipulate the file system.  Having a dry run actually execute those manipulations would violate principle of least surprise.

[2015-09-04 17:04] devlead commented on #389
Indeed, go with noop for now.

[2015-09-04 17:04] jrnail23 commented on #389
@devlead :+1:

[2015-09-04 17:04] patriksvensson commented on #389
The dry run execution strategy shouldn't execute any tasks or anything similar at all.

[2015-09-04 18:09] wallymathieu opened #395 "Intellisense for cake files"
Hi! One of the main selling points of cake is that you write c#. A natural question then (since c# api:s work well with intellisense) is how do you get intellisense support for cake files?

[2015-09-04 18:19] patriksvensson commented on #395
There's no out of the box intellisense for any environment yet, but I know that @RichiCoder1 is working on Omnisharp integration, so maybe there will be intellisense support in Atom and VS Code in the future.

[2015-09-04 18:27] wallymathieu commented on #395
Is there a way to write build.cake.cs files?

[2015-09-04 18:30] vktr commented on #395
You are free to name the file whatever you want - `build.cake` is the de-facto standard.

[2015-09-04 18:32] wallymathieu commented on #395
@vktr problem then is that you have a file that you call .cs, without having a proper .cs file. My question is, if it's possible to write cake files using plain old c#.

[2015-09-04 18:33] devlead commented on #395
You get syntax highlighting and variable completion in Sublime & Atom

[2015-09-04 18:34] patriksvensson commented on #395
@wallymathieu Cake scripts are a superset of C#, that's why we have our own extension.

[2015-09-04 18:38] wallymathieu commented on #395
So no then.

[2015-09-04 18:38] #395 closed

[2015-09-04 18:38] patriksvensson commented on #395
Not sure what you're asking to be honest.

[2015-09-04 18:43] wallymathieu commented on #395
The main reason why I thought cake would be exciting to use cake instead of rake, fake, grunt gulp or whatever else is that it would enable c# programmers to write build scripts using c# (and would get off my back for bringing in other languages). If I'm writing things in c# I want to have the tooling support. Ruby for instance is script first, so it's not annoying to write without tooling. I had

[2015-09-04 18:45] wallymathieu commented on #395
So, it's possible my expectations are wrong since the goals of this project are to provide a DSL in c# syntax?

[2015-09-04 18:47] devlead commented on #395
Ok, currently not possible, but we're not against intellisense, might come with Atom / Code when omnisharp supports loading cake assemblies.

[2015-09-04 18:49] patriksvensson commented on #395
@wallymathieu No it's not possible at the moment since Cake is a scripting tool it hasn't been the focus of our efforts. We're thinking about future tooling support but that's not our primary (or even secondary) goal at the moment, but more of a future "nice to have".

[2015-09-04 19:09] wallymathieu opened #396 "Build failure for modified example cake file (from main readme)"
I've created a sample:
https://github.com/wallymathieu/cake-build-test

What do I do wrong? I get the following:

[code]

[code]
I've gotten the same result when using it on windows:

[code]

[2015-09-04 19:16] patriksvensson commented on #396
Are you running this on OS X or Linux?

If so, MSBuild is not available there. Try building using the XBuild alias instead.

[2015-09-04 19:17] wallymathieu commented on #396
Even if I run it on windows, it fails  with the same message.

[2015-09-04 19:18] wallymathieu commented on #396
Should msbuild be in path?

[2015-09-04 19:21] devlead commented on #396
Do you have Msbuild/Visual Studio installed?

[2015-09-04 19:21] patriksvensson commented on #396
The second error (when running on Windows) is not the Build task but the Restore-NuGet-Packages task. Cake cannot find `nuget.exe`. You could add it in `./tools/nuget.exe` or add it to the PATH.

[2015-09-04 19:23] wallymathieu commented on #395
Thanks for the help!

[2015-09-04 19:24] wallymathieu commented on #396
Aaa, sorry.

[2015-09-04 19:26] wallymathieu commented on #396
So the issue should be to give some better error message when it cant find the command?

[2015-09-04 19:33] wallymathieu commented on #396
The reason I created this issue was to reproduce a problem we had while trying to use cake at work on windows.

[2015-09-04 19:36] #396 closed

[2015-09-04 19:39] wallymathieu opened #398 "Better error message while cake nuget task or msbuild taks is trying to execute wrapped exe"
If the nuget exe is missing you will get:

[code]

Perhaps something along the lines of "cant find exe nuget, searched in system PATH and in ./tools"

Similar thing occurs when executing msbuild task (and the specific msbuild is missing)

**EDIT** (by @patriksvensson):
Repository exist at https://github.com/wallymathieu/cake-build-test

[2015-09-04 19:43] jrnail23 commented on #389
Just posted my initial prototype --
Some of the complexity or "lack of elegance" is probably a result of me trying to stay consistent with the behavior of the script-level Setup & Teardown actions (if setup fails, don't run the task, but still run the teardown).

Not sure if that's really the desired behavior -- any opinions on that?

[2015-09-04 19:46] jrnail23 commented on #398
:+1:

[2015-09-05 08:33] patriksvensson commented on #398
Actually, I've been looking at this and it will actually say `NuGet: Could not locate executable.` so I guess that the error must be something else.

I tried the repository you provided in #396 and I cannot reproduce this error. Is there anything missing in your reproduction steps?

[2015-09-05 16:03] wallymathieu commented on #398
Remove the tools folder and don't have nuget in path? Maybe this is already fixed in dev?

[2015-09-05 16:11] patriksvensson commented on #398
This behavior has been there forever. Just tried deleting the tools folder in your repository and I get the `NuGet: Could not locate executable` message.

![Screenshot](http://i.imgur.com/DOb2cIz.png?1)

[2015-09-05 16:12] wallymathieu commented on #398
That's weird. I'll close this since you cant reproduce it.

[2015-09-05 16:13] patriksvensson commented on #398
@wallymathieu My guess is that the error is the result of something else. Normally the `Path cannot be empty.` is thrown when creating a `FilePath` or `DirectoryPath` with an empty string. :/

[2015-09-05 16:14] wallymathieu commented on #398
Indeed. That's why it's so confusing.

[2015-09-05 16:15] patriksvensson commented on #398
I would like to find the cause of this so we can fix it. Can you reproduce it now somehow?

[2015-09-05 16:33] wallymathieu commented on #398
after making sure that there definitelly is no nuget in path i try running Cake on a windows 10 machine:
[code]
If I switch to the master branch where nuget.exe is in the ./tools folder, then I don't get any errors.

I have vs 2013 community edition, vs 2015 community edition and windows sdk installed. I have msbuild in path, but that shouldn't change anything.

[2015-09-05 16:35] patriksvensson commented on #398
Ok, will take a look at this later tonight. Thanks!

[2015-09-05 16:40] patriksvensson commented on #398
There is no packages folder. How do you restore the packages.config in .nuget?

[2015-09-05 16:42] wallymathieu commented on #398
I used nuget exe from another lib:
[code]

[2015-09-05 17:01] wallymathieu commented on #398
I tried debugging with the source, but it crashed vs2015.

[2015-09-05 17:07] patriksvensson commented on #398
Ok. Can you try doing a `git clean -xdf` in the repository and then (after restoring packages like you did) go to the Cake directory and enter the following:

[code]

And paste the output here.

[2015-09-06 10:31] wallymathieu commented on #398
[code]

[2015-09-06 10:33] wallymathieu commented on #398
The text before this section is describing how it's downloading roslyn and importing namespaces.

[2015-09-06 10:33] patriksvensson commented on #398
Ok, perfect. Will take a look at this tonight/tomorrow. Thanks.

[2015-09-06 10:34] wallymathieu commented on #398
No problem. Hope it helps.

[2015-09-06 22:57] JoshSchreuder commented on #390
Phew, so it wasn't just me! Thanks, looking forward to trying cake out.

[2015-09-06 22:59] patriksvensson commented on #390
@JoshSchreuder I'm so sorry but I haven't had time to send the PR yet. In the meanwhile (as a temporary workaround), you can put your build script, bootstrapper and tools directory in the repository root and it should work as expected. Will try to submit the PR as soon as possible.

[2015-09-06 23:05] patriksvensson commented on #390
@JoshSchreuder Actually, another workaround is to append the absolute root to your glob pattern (and remove the `..`).

**Example:**

[code]

[2015-09-06 23:39] marcosnz commented on #356
I have thought about this also. I created a [wrapper for cake](https://github.com/CakeTin/Cake.Tin) that does much the same thing.
It's also in POC stage but it work for me :)
The premise I was working on was that there would be a build sln that gets built first and then the resulting build.exe gets called which is the actual "script".

[2015-09-08 15:31] #337 closed

[2015-09-10 01:29] patriksvensson opened #401 "CopyFiles should write verbose information"
At the moment, `CopyFiles` (and variants) do not write to the console/log what files that have been copied when verbose verbosity have been specified.

- [ ] Copying files
- [ ] Moving files
- [ ] Deleting files
- [ ] Deleting directories
- [ ] Cleaning directories
- [ ] Creating directories

[2015-09-10 12:35] DavidDeSloovere opened #402 "readme.md reference to build.ps1"
The readme of cake-build/cake references a different build.ps1 than the one that's listed at http://cakebuild.net/docs/tutorials/setting-up-a-new-project, which is the one in the bootstrapper repo.

[2015-09-10 12:43] patriksvensson commented on #402
Absolutely right! Great catch! :+1:

[2015-09-10 13:13] Redth opened #406 "Feature Request: StartProcess overload"
I find myself using `StartProcess (“Some.exe”, new ProcessSettings { Arguments = “-a” })` a lot which is a bit verbose.

Could we have an overload that does the same thing but has this signature instead? `StartProcess (FilePath filename, string arguments)`

[2015-09-10 13:14] patriksvensson commented on #406
Sounds good to me! :+1:

[2015-09-10 15:04] devlead commented on #402
Fixed in #405.

[2015-09-10 15:04] #402 closed

[2015-09-11 22:14] patriksvensson opened #408 "NUnit runner does not throw if glob pattern matched nothing"
The call to the NUnit runner with a glob pattern that will not find any files will try to execute NUnit without arguments. We should throw if this is the case.

[code]

[2015-09-11 22:33] RichiCoder1 commented on #408
Xunit too. Really, all the test runners.

[2015-09-11 22:44] patriksvensson commented on #408
I'm the real tool here... :smile:
Will fix ASAP!

[2015-09-12 11:29] SharpeRAD opened #410 "Referencing addins that contain multiple assemblies throws an error"
Example:

[code]

Throws "An assembly with the same simple name 'RestSharp' has already been imported"

[2015-09-12 15:46] devlead commented on #410
Hi believe this is a duplicate of  #373 , issue occurs when nuget is multi target, we need to fix identifying best match dll.

[2015-09-12 15:46] #410 closed

[2015-09-13 21:28] patriksvensson opened #412 "MSBuild runner should not quote properties"

[2015-09-14 19:16] patriksvensson commented on #392
@Sam13 Great idea.

How would you propose that the API would look like?

[2015-09-14 19:17] patriksvensson commented on #385
@Meberem Haven't used mdtools myself. Is this something commonly used when developing Xamarin applications?

@Redth Do you have any input for this issue?

[2015-09-14 19:19] Redth commented on #385
@Meberem  check out my Cake.Xamarin addin, I have MDTool support:
https://github.com/Redth/Cake.Xamarin/blob/master/Cake.Xamarin/Aliases.cs#L102

It's not documented in the README yet, hopefully @patriksvensson will add some documentation generators for 3rd party addins soon :wink:

[2015-09-14 19:19] patriksvensson commented on #377
@devlead Closing this since the semantic change have been restored to how it was. The problem with long paths still exist, but should have it's own issue. There is currently PR #261 that tackles this but will probably need more work.

[2015-09-14 19:19] #377 closed

[2015-09-14 19:22] patriksvensson commented on #385
@Redth Excellent. I will take a look at generating documentation as soon as there is some spare time. Shouldn't be that difficult.

@Meberem Are you happy with @Redth's answer? Maybe you two could collaborate on the Cake.Xamarin addin?

I'll close this issue for now, and we can re-open it if there's any more things that need to be discussed.

[2015-09-14 19:22] #385 closed

[2015-09-14 20:07] jrnail23 opened #414 "XUnit2: add support for additional command line switches"
The following command line switches are among those missing from Cake's XUnit2 support:

- [x] `-parallel`
- [x] `-maxthreads`
- [x] `-trait`
- [x] `-notrait`

[2015-09-15 00:09] patriksvensson commented on #414
Yes, this should be supported! :+1:
Interested in grabbing this issue? :smile:

[2015-09-15 00:16] patriksvensson opened #415 "The #addin directive should import referenced aliases"
If a NuGet package (added with the `#addin` directive) reference another assembly in the package that contains an alias, it will not be referenced properly.

(Reported by @jrnail23 in #382)

[2015-09-15 00:18] patriksvensson opened #416 "Create NuGet package from Cake.Testing"
This would make it easier for addin creators to write tests.

We would probably need to separate the fakes from the xUnit and NSubstitute specific stuff for this to be useful (not everyone use NSubstitute and xUnit).

(Suggested by @jrnail23 in #382)

[2015-09-15 00:37] jrnail23 commented on #415
@patriksvensson, I'm not entirely convinced this is what's actually going on here.

I'm going to investigate a bit more -- this could just be something I'm doing wrong.

[2015-09-15 00:39] patriksvensson commented on #415
@jrnail23 Ok, perfect!

[2015-09-15 00:49] jrnail23 commented on #415
@patriksvensson, I'm thorougly confused now.

I made a really simple cake script that uses my addins:

[code]

Here's the console output from when I run it:
[code]

It appears to add the reference to both of my dlls (Cake.Process.dll and Cake.IISExpress.dll), but then when it tries to find the aliases, it says it can't find the Cake.Process.dll.

You have any idea what's going on here?

[2015-09-15 01:04] patriksvensson commented on #415
@jrnail23 Can you enable the fusion log and paste the input here? Would be interesting to see how the runtime tries to resolve the `Cake.Process.dll` assembly.

[2015-09-15 01:09] jrnail23 commented on #415
Here's the output with fusion log enabled:

[code]

[2015-09-15 01:28] jrnail23 commented on #415
Here's my fusion log for Cake.Process:

[code]

[2015-09-15 01:42] jrnail23 commented on #415
Here's an additional Fusion log:

[code]

That path that's returning file not found (`C:/Dev/oss/Cake.IISExpress/src/Examples/tools/Cake.Process/lib/net45/Cake.Process.dll`) does in fact exist on my machine.

[2015-09-15 02:55] patriksvensson commented on #415
Ok, the problem lies within the ScriptRunner which uses `Assembly.LoadFile` instead of `Assembly.LoadFrom`. Should be changed but we need to examine the implications of this.

See http://blogs.msdn.com/b/suzcook/archive/2003/05/29/57143.aspx for more information.

[2015-09-15 03:00] jrnail23 commented on #414
Sure, I'll take it.  I can probably get to it sometime this week.

[2015-09-15 03:48] RichiCoder1 opened #417 "Create Cake.Infrastructure Package"
Create a Cake.Infrastructure package (or extend Cake.Core) in such a way that external applications can utiltize Cake's defaults and preprocessing outside of Cake (ex: OmniSharp).
Should include:
### Cake Defaults
* [ ] Usings
* [ ] Assembly References

### Script File Preprocessing:
* [ ] `#r` assemblies
* [ ] `#l` script files
* [ ] `#addin` target assemlbies

### Cake Alias Generation:
* [ ] Me

[2015-09-16 09:37] Meberem commented on #385
Looks good to me; I can get my iOS build working with cake! Thanks guys!

[2015-09-16 15:39] bjmarte commented on #390
The same problem exists when using GetFiles.  Just FYI.

[2015-09-16 16:13] patriksvensson commented on #390
@bjmarte Yes. Will provide fix ASAP. Did the workaround work for you?

[2015-09-17 08:52] mormegil-cz commented on #390
Probably the same issue, but to be sure: `GetFiles("../**/*.csproj")` throws `ArgumentOutOfRangeException` for me:
[code]
Anyway, the workaround of resolving the relative path prior to calling `GetFiles` works.

[2015-09-17 08:55] patriksvensson commented on #390
@mormegil-cz Thanks for reporting this. It will be fixed in the next version of Cake. Sorry about this.

[2015-09-18 11:27] Sam13 commented on #392
Add `ZipSettings`class which can be passed to the *Zip* alias which includes the zip level and other related settings in future.

For the mapping I can think of a lambda which provides the path and / or file name in the zip file based on the original path? I did not thought much about that so far, so maybe there are better alternatives for that...

[2015-09-18 12:06] #414 closed

[2015-09-18 12:52] #408 closed

[2015-09-18 13:01] #389 closed

[2015-09-19 12:32] patriksvensson commented on #417
@RichiCoder1 At the moment we will return the `Cake.Core.dll`, `Cake.Common.dll` and `Cake.exe` assemblies as part of the default assemblies. You will have to provide a root (where those assemblies reside) since we normally use the Cake application folder for this. Since you're not getting those files as part of executing a script (and doesn't know the folder where those reside from the executable

[2015-09-20 20:19] patriksvensson commented on #417
Here's a first draft of the functionality you want: https://github.com/cake-build/cake/pull/420

There is a new class called `ScriptConventions` that will return default namespaces and default assemblies.

You won't get the target assemblies per se, but you could always download them yourself using the `ScriptProcessor.InstallAddins` method that accepts a `ScriptAnalyzerResult`. Will probably have

[2015-09-20 20:19] patriksvensson commented on #417
@RichiCoder1 Here's a first draft of the functionality you want: https://github.com/cake-build/cake/pull/420

There is a new class called `ScriptConventions` that will return default namespaces and default assemblies.

You won't get the target assemblies per se, but you could always download them yourself using the `ScriptProcessor.InstallAddins` method that accepts a `ScriptAnalyzerResult`. Will

[2015-09-21 01:14] RichiCoder1 commented on #417
As I said in the PR, very awesome work! I'll see what I can put together with this asap :)

[2015-09-22 12:25] vktr opened #421 "Allow setting `/testsettings:` file for MSTest runner"
`MSBuildSettings` should expose a property to set the `/testsettings:` argument. This file is used to set various settings for the `mstest.exe` runner.

[2015-09-22 20:19] bjmarte commented on #390
The workaround did work for me in one example I tried, but I am affected by this issue in several places in my scripts and I don't want to make a bunch of changes if a future version will fix it.  So I am waiting to upgrade until this is fixed.

[2015-09-23 00:44] patriksvensson commented on #390
@JoshSchreuder @mormegil-cz @bjmarte PR #423 has been submitted that will resolve this bug.

Note that glob patterns like `./hello/**/../world` (a parent reference after a recursive wildcard) isn't supported. Not sure it will ever be, but just a heads up.

[2015-09-25 12:45] patriksvensson opened #424 "MSBuild: What executable should be used?"
At the moment there is problem building Windows Phone applications using MSBuild.

Is it really correct as we have done it in the [MSBuildResolver](https://github.com/cake-build/cake/blob/develop/src/Cake.Common/Tools/MSBuild/MSBuildResolver.cs#L77)? I wrote this a million years ago, but when I look at it now it looks kind of wrong. Should we really use the 64-bit MSBuild when we compile with a x6

[2015-09-26 08:20] #390 closed

[2015-09-26 16:06] danielrozo commented on #406
I'd like to work on this. I just took a look and the only changes that seem to be involved would be adding the overload in `ProcessAliases` that would call the existing method constructing a new `ProcessSettings` with the supplied argument.

On the unit test side, it would be replicating the `StartProcess(ICakeContext,FilePath,ProcessSettings)` meaningful tests.

Does this sound correct/make sense

[2015-09-26 16:09] patriksvensson commented on #406
@danielrozo Yes, this sounds good to me. It's yours! :wink:

[2015-09-26 16:13] #401 closed

[2015-09-26 16:51] #412 closed

[2015-09-26 21:16] #406 closed

[2015-09-26 21:17] patriksvensson commented on #406
Implemented in #427

[2015-09-27 10:42] patriksvensson commented on #358
Added some information about installing tools and the conventions used to locate tools at http://cakebuild.net/docs.

[2015-09-27 10:42] #358 closed

[2015-09-28 22:11] #416 closed

[2015-10-03 11:50] molehillrocker opened #431 "Issue with globbing using dot character in conjunction with wildcard"
We currently face an issue with globbing using wildcards in conjunction with a dot character.

**Scenario:**
We have multiple unit test projects that all end with ``.Test`` and one integration test project that ends with ``IntegrationTest``. Using ``src/**/*.Test.dll`` as seach pattern finds all unit test projects but also the integration test project.

**Solution structure:**
src
|-- Project.A
|-

[2015-10-03 12:03] molehillrocker commented on #431
I wrote a test case that shows the error. I currently have no Git available, which is why I post it here.

[code]

[2015-10-03 14:01] molehillrocker commented on #431
I managed to install Git over here and made a PR: #433

[2015-10-04 08:33] patriksvensson commented on #431
I've merged the associated PR and will close this issue.
Thank you! :smile:

[2015-10-04 08:33] #431 closed

[2015-10-04 08:55] #415 closed

[2015-10-04 23:16] thomaslevesque commented on #358
Looks good to me. I really like the `#tool` approach :)

Thanks!

[2015-10-05 12:31] patriksvensson commented on #325
@gep13 has taken this. Good luck! :+1:

[2015-10-08 07:03] devlead commented on #108
Solved by #244

[2015-10-08 07:03] #108 closed

[2015-10-08 07:09] molehillrocker opened #437 "Minimum required PowerShell version"
Today we ran into an issue that some colleagues could not run the build tasks I defined. After some investigation we found out that they had an older PowerShell version (``v2.0``) installed which failed to run the ``build.ps1``. My PowerShell version is ``3.0``.
Does it make sense to add a check for the PowerShell version on the startup of a build script and fail the build with a proper error mess

[2015-10-08 07:15] patriksvensson commented on #437
@molehillrocker Yes, that would make sense. What was the error message that your colleague got?

[2015-10-08 07:31] molehillrocker commented on #437
Here is the stacktrace (localized in German :see_no_evil:):

[code]

[2015-10-08 07:38] patriksvensson commented on #437
Luckily, I studied German for three years in high school :wink:

The problem is that `$PSScriptRoot` was introduced in PowerShell 2. We could probably do something like this to overcome this problem.

[code]

Or, as you said warn about PowerShell 3 is needed for the bootstrapper script. I will take a look at this after work and see if I can find a good solution. Input is welcome :smile:

[2015-10-08 07:41] patriksvensson commented on #437
@molehillrocker Actually, maybe you can verify that the above solution works since I don't have access to Powershell 2 (if you still have a colleague with PowerShell 2 that is).

[2015-10-08 07:57] molehillrocker commented on #437
Unfortunately now everybody upgraded to a newer PowerShell version, so we cannot test it anymore. :tired_face:

[2015-10-08 07:58] patriksvensson commented on #437
@molehillrocker I see. No problem, I'll just spin up a virtual machine tonight.

[2015-10-08 08:57] patriksvensson commented on #331
Implemented in c7317d638d35f4f3bc029f111f476f5c6b147672.

[2015-10-08 08:57] #331 closed

[2015-10-08 13:21] devlead opened #438 "Support NuGet 3 new parameters"
* Restore
  * `-MSBuildVersion` Specifies the version of MSBuild to be used with this command. Supported values are 4, 12, 14. By default the MSBuild in your path is picked, otherwise it defaults to the highest installed version of MSBuild.
  * `-FallbackSource` A list of packages sources to use as fallbacks for this command.
* Install
  * `-FallbackSource` A list of packages sources to use as fal

[2015-10-08 13:25] patriksvensson commented on #438
We should probably add some information in the documentation that these only are available in NuGet 3.

[2015-10-08 13:59] devlead commented on #438
@patriksvensson agree, and they're optional, any enums/strucs/etc. nullable.

[2015-10-09 17:35] phillipsj commented on #437
So I just implemented this fix and I received an error:

    The term 'Invoke-WebRequest' is not recognized as the name of a cmdlet, function, script file, or
    operable program. Check the spelling of the name, or if a path was included, verify that the path is
    correct and try again.
    At C:\Users\XXXXX\code\XXXXX\build.ps1:36 char:22
    +     Invoke-WebRequest <<<<  -Uri http://nuget.org

[2015-10-09 18:12] devlead commented on #437
@phillipsj think Invoke-WebRequest came in PowerShell 3, version 5 is the most recent version.

You could probably leverage .net web client instead like this:
`(New-Object System.Net.WebClient).DownloadFile("https://www.nuget.org/nuget.exe", $NUGET_EXE)`

 Typed on mobile so might contain errors, but hope you get the gist of it.

[2015-10-09 18:50] phillipsj commented on #437
@devlead Yep I just discovered it was version 3.  Thanks for the quick response.

[2015-10-10 18:25] #437 closed

[2015-10-11 13:17] gep13 opened #442 "Eliminate Whitespace"
As discussed here:

https://gitter.im/cake-build/cake?at=56197d714e0fa3e5544804b0

[2015-10-11 14:42] gep13 commented on #442
In order to help with this type of thing, I use a number of Visual Studio Extensions, and one that I would recommend is the Trailing Whitespace Visualizer:

https://visualstudiogallery.msdn.microsoft.com/a204e29b-1778-4dae-affd-209bea658a59

This includes this option:

![image](https://cloud.githubusercontent.com/assets/1271146/10417309/a789caba-702e-11e5-9c47-e04f049e14eb.png)

Which makes it rea

[2015-10-11 14:52] gep13 commented on #442
Another one is the EditorConfig extension which you can find here:

https://visualstudiogallery.msdn.microsoft.com/c8bccfe2-650c-4b42-bc5c-845e21f96328

Which helps keep things in order once you start moving between IDE's.  All it takes is the addition of a .editorconfig file, where you specify what settings, as a project, you want to use.

[2015-10-11 20:16] gep13 opened #446 "GitReleaseManager Addin"
Add support for the GitReleaseManager Tool which comes from the GitTools Organisation here:

https://github.com/gittools/gitreleasemanager

[2015-10-12 12:22] gep13 commented on #340
Aw sweet! Just saw that you added this!  This was next on my list :-D  Have you got an implementation of this ready to be pulled in?

[2015-10-12 14:29] #325 closed

[2015-10-12 17:05] RichiCoder1 commented on #325
:tada:

[2015-10-12 17:06] RichiCoder1 commented on #340
:+1:

[2015-10-13 12:34] #442 closed

[2015-10-15 15:15] #424 closed

[2015-10-15 15:15] #417 closed

[2015-10-16 12:07] #356 closed

[2015-10-16 20:32] gep13 opened #448 "GitVersion Addin"
Add support to Cake for GitVersion:

https://github.com/gittools/gitversion

[2015-10-17 08:57] #446 closed

[2015-10-17 12:03] gep13 commented on #374
@patriksvensson is this something that should make it's way onto the main cakebuild.net site?

[2015-10-17 12:06] gep13 commented on #374
@jrnail23 is this still the same for the latest version of VS Code?  Looks like things might have changed since you posted this issue.

[2015-10-17 12:09] gep13 commented on #73
Since GitReleaseManager Aliases have just been pulled in, I think we can go ahead and close this issue?  Thoughts?

[2015-10-17 12:11] gep13 commented on #148
Ooo, I had forgotten about this one.  @patriksvensson you want me to take this and see what I can come up with?

[2015-10-17 12:12] devlead commented on #148
@gep13 go ahead :+1:

[2015-10-17 12:13] gep13 opened #449 "DupFinder: Add ability to perform XSL Transform of output file"
Cake should provide the ability to provide a default XSL transform of the resulting dupfinder report xml file, into a human readable html file.

In addition, Cake users should be able to provide their own custom XSL file for performing the transformation.

[2015-10-17 12:14] gep13 opened #450 "InspectCode: Add ability to perform XSL Transform of output file"
Cake should provide the ability to provide a default XSL transform of the resulting inspectcode report xml file, into a human readable html file.

In addition, Cake users should be able to provide their own custom XSL file for performing the transformation.

[2015-10-17 12:15] gep13 opened #451 "InspectCode: Provide ability to fail the build on detected issues"
Similar to the way that the Cake.Slack and Cake.Gitter Addin's provide the ability to fail the build if a chat message is not posted, Cake should provide the ability to fail the build if there are inspectcode errors detected.

[2015-10-17 12:16] gep13 opened #452 "DupFinder: Provide ability to fail the build on detected issues"
Similar to the way that the Cake.Slack and Cake.Gitter Addin's provide the ability to fail the build if a chat message is not posted, Cake should provide the ability to fail the build if there are dupfinder errors detected.

[2015-10-17 12:17] patriksvensson commented on #73
I actually want wrappers around GitHubs API:s as well in the future so I think we could leave this open for now.

[2015-10-17 12:17] gep13 commented on #73
No worries, just thought I would check.

[2015-10-17 12:19] patriksvensson commented on #73
Great that you did :)
On Oct 17, 2015 14:17, "Gary Ewan Park" <notifications@github.com> wrote:

[2015-10-18 14:20] gep13 opened #453 "Add Extension Method for adding switches to ProcessArgumentBuilder"
In another [PR](https://github.com/cake-build/cake/pull/346), @RichiCoder1 did some work to add some additional extension methods to make the creation of switches and argument easier to add to the ProcessArgumentBuilder.

This issue is to track the inclusion of that work, as it was removed from the GitVersion PR as that was a different scope of work.

So, instead of doing this:

[code]

You would

[2015-10-18 14:21] RichiCoder1 commented on #453
I forgot about that haha

[2015-10-18 14:22] gep13 commented on #453
I removed the work from your other PR, but I have saved it, and didn't want it to get lost.  Creating a PR to include it just now, if you have no objections?

[2015-10-18 14:23] RichiCoder1 commented on #453
None at all.

[2015-10-18 20:15] gep13 commented on #381
@RichiCoder1 what exactly did you mean by this?  Was looking to clean this one up just now.

Are you referring to here:

https://github.com/cake-build/cake/blob/5426a07c672ac2c81534d4cc2883ee7e59e7277f/src/Cake.Common/Tools/NuGet/NuGetAliases.cs#L43

[2015-10-18 20:25] RichiCoder1 commented on #381
https://github.com/cake-build/cake/blob/5426a07c672ac2c81534d4cc2883ee7e59e7277f/src/Cake.Common/Tools/NuGet/Pack/NuspecTransformer.cs

[2015-10-18 20:27] RichiCoder1 commented on #381
Specifically make it so the transformer detects if the context needs to be wrapped in CData, and do so. Especially for CData which often contains arbitrary markup.

[2015-10-18 21:10] gep13 commented on #381
Ah, I see what you are getting add with regard to adding the CDATA attribute.

What would the criteria be for detecting whether this was required though?

[2015-10-19 01:46] jrnail23 commented on #374
@gep, I think it has changed, but not a whole lot -- I think just under a different version-specific folder now.

[2015-10-19 06:51] gep13 commented on #374
@jrnail23 I think there might be a bit more to it than that :cry: For instance, Visual Studio Code is now installed to `C:\Program Files (x86)\Microsoft VS Code` rather than in the local user folder, and I also can't see an equivalent folder in the resources folder that you mentioned above.  There is mention here:

https://code.visualstudio.com/docs/customization/overview

of using a yeoman genera

[2015-10-19 18:08] gep13 opened #460 "GitReleaseNotes Addin"
Add support to Cake for GitReleaseNotes:

https://github.com/gittools/gitreleasenotes

[2015-10-19 18:53] jrnail23 commented on #374
@gep13 , look here: C:\Program Files (x86)\Microsoft VS Code\resources\app\plugins\vs.language.csharp

[2015-10-19 19:02] gep13 commented on #374
Hmm, I don't have that folder...

![image](https://cloud.githubusercontent.com/assets/1271146/10588123/5880703a-769c-11e5-8c07-b9493c115aa0.png)

Any ideas how I would get it? :-D

[2015-10-19 19:06] jrnail23 commented on #374
@gep13, which version of VS code are you running? I'm running v0.8.0, and everything looks good.

[2015-10-19 19:07] gep13 commented on #374
@jrnail23 0.9.1

![image](https://cloud.githubusercontent.com/assets/1271146/10588238/0abe50e6-769d-11e5-9723-1920d483379e.png)

[2015-10-19 19:08] jrnail23 commented on #374
hmmm... I just checked for updates to Code, and it told me there were none.  I got lied to!

[2015-10-19 19:09] gep13 commented on #374
Ah, that could be because I am on the developer preview of Code. Are you part of that as well?

[2015-10-19 19:10] jrnail23 commented on #374
no, just looks like my automatic update detection isn't working.  probably my company's stupid security junk.

[2015-10-19 19:10] gep13 commented on #374
ah, that old chestnut :smile_cat:

[2015-10-19 19:12] jrnail23 commented on #374
ok, I just downloaded the update -- now it looks like it's moved to C:\Program Files (x86)\Microsoft VS Code\resources\app\extensions\csharp\package.json

[2015-10-19 19:14] gep13 commented on #374
Ah, that did it! Thanks for sticking with me through that :smiley_cat:

[2015-10-19 19:38] jrnail23 commented on #374
@gep13, glad to help :smile:

[2015-10-19 22:14] patriksvensson commented on #381
Not sure about how NuGet works, but wouldn't it be OK to always wrap this in a CDATA attribute? Will it break something if it doesn't need to have a CDATA attribute?

[2015-10-20 06:07] gep13 commented on #381
Not that I am aware of no.  There is nothing to stop you having a CDATA attribute, but then just having standard XML contained within it, so I agree, just always put CDATA around the release notes section.

Agreed?

[2015-10-20 07:19] gep13 opened #462 "Add ReportGenerator Support"
Add an alias around this:

https://www.nuget.org/packages/ReportGenerator/

To allow easy creation of code coverage reports for OpenCover, NCover, etc.

[2015-10-20 07:20] gep13 opened #463 "Add Coverity Support"
Provide the ability to publish Coverity reports, using either:

https://www.nuget.org/packages/PublishCoverity/

Or directly talking to Coverity.

[2015-10-20 08:09] gep13 opened #464 "Add Coveralls.io support"
Add an alias for uploading reports to Coveralls.io, by supporting either:

https://www.nuget.org/packages/coveralls.io/
https://www.nuget.org/packages/coveralls.net/

or by directly interacting with the Coveralls end point.

[2015-10-20 08:34] patriksvensson commented on #464
If this would be a Cake.Common addition, we should interact with the Coveralls end point directly and avoid taking a dependency on a third party library.

[2015-10-20 10:17] RichiCoder1 commented on #381
I'd be fine with that. Just thought it might be overkill :P

[2015-10-20 10:20] devlead commented on #381
Well it's less complex doing it just one way. Also less write prone.

[2015-10-20 12:00] gep13 commented on #374
@jrnail23 I have just suggested an edit to the cake website to include steps on how to add syntax highlighting in VS Code.  After a short discussion with the VSCode Twitter account here:

https://twitter.com/code/status/656253877931511808

I was able to make this change in a way that won't get blown away the next time an update to VS Code happens.  Let me know what you think.

[2015-10-21 01:03] phillipsj commented on #321
This is an old ticket, but I stumbled across it for the same reason. I took the example code here and bundled it up into an addin and published it to Nuget to make it easier.  I didn't think you all would want the extra dependency in core.  If you do, I am more than happy to submit a pull request.

[Cake.XdtTransform Addin](https://github.com/phillipsj/Cake.XdtTransform)

[2015-10-21 18:40] gep13 opened #466 "Add ReportUnit Support"
In addition to supporting ReportGenerator, I also going to suggest that Cake should support ReportUnit.  This would allow for the generation of both straight up Unit Test Reports, as well as Coverage Reports.

Website is here:

http://relevantcodes.com/reportunit-report-generator/

and NuGet package is here:

https://www.nuget.org/packages/ReportUnit/

Thoughts?

[2015-10-21 19:37] yvschmid commented on #462
I'll give this one a go.

[2015-10-21 20:07] gep13 commented on #462
@yvschmid sweet! :+1:

I was literally just starting to look at this, only spent amount 10 minutes on it though, and didn't get much further than creating the required classes, so happy to pass this over to you :smile_cat:

Let me know if you want me to test anything for you.

[2015-10-21 22:08] gep13 commented on #462
I was having a chat with @patriksvensson in gitter about this one, that is why I didn't get much done on it, as I was a little confused about how to approach the glob pattern in the mandatory parameter, as I haven't really done much with that.  The suggestion that was come up with was to have some chained aliases, similar to this:

[code]

Which I think makes a lot of sense.  What are your thought

[2015-10-21 22:10] gep13 commented on #462
Sorry, meant to mention you above @yvschmid

[2015-10-22 20:25] yvschmid commented on #462
I'm more or less done - just the globbing thing left. :grin: Your solution looks great. I'll add it.

[2015-10-23 12:34] gep13 commented on #466
I have taken a stab at this one :smile_cat:

[2015-10-23 12:35] gep13 commented on #450
As discussed with @patriksvensson and @devlead this is not something that will be included in Cake.

[2015-10-23 12:35] #450 closed

[2015-10-23 12:35] gep13 commented on #449
As discussed with @patriksvensson and @devlead this is not something that will be included in Cake.

[2015-10-23 12:35] #449 closed

[2015-10-23 12:44] gep13 commented on #374
And it's live:

http://cakebuild.net/docs/editors/vscode

I think this issue can be closed.  Thoughts?

[2015-10-23 16:06] yvschmid opened #469 "All tools should have an optional tool path"

[2015-10-23 16:08] patriksvensson commented on #469
Since I already started with this I'll assign this to me. Thanks for adding an issue!

[2015-10-23 16:11] gep13 commented on #469
:+1:

[2015-10-23 16:12] gep13 commented on #469
Let me know if/when this is going to land, and I can update the addin that I currently have, and any future ones that are on my radar, currently two others :smile_cat:

[2015-10-23 20:50] jrnail23 commented on #374
Nice job, @gep13!

[2015-10-23 20:50] #374 closed

[2015-10-24 21:03] yvschmid commented on #364
@ChrisMissal @patriksvensson
I was thinking to give this one a go. If I get it right, you want to be able to do something like this:

[code]
So if we ignore all the fancy stuff gulp-prompt can do for the moment this would be a very simple API with just a single method:

[code]
Some thoughts about the implementation:
- we need access to the console (read and write), should we use the `Cake.Core.ICo

[2015-10-24 22:02] patriksvensson commented on #364
I see little use for adding the `IConsole` to `ICakeContext`. Especially adding functionality for something that require interaction from the user.

Since you know that the user runs in interactive mode (otherwise you should not display an prompt), you could use the `Console` directly.

[code]

[2015-10-24 22:02] patriksvensson commented on #364
That said, A new property `UserInteractive` should be added the the `ICakeEnvironment`.

[2015-10-24 22:06] patriksvensson commented on #364
I'm not against adding `IConsole` to the `ICakeContext`, but this abstraction is mostly there for unit testing at the moment. I think that a `Prompt` alias must throw if it's not running in user interactive mode.

[2015-10-24 22:07] patriksvensson commented on #364
@devlead What do you think about this?

[2015-10-25 02:45] rprouse opened #471 "Add NUnit 3 support"
NUnit 3 is close to final release and it is incompatible with NUnit 2. It would probably be easiest to add a new NUnit3 tool. I assume pull requests are welcome? :smile:

Another option is that NUnit 3 has a driver to run 2.x tests. Some of the settings may need to change, but a single tool would probably be easiest to use. Do you have a preference on the approach?

[2015-10-25 10:24] yvschmid commented on #364
Throwing if not running in user interactive mode sounds very reasonable :+1:

[2015-10-25 10:27] patriksvensson commented on #471
@rprouse That's great news!

The best approach is probably to add a `NUnit3` tool. This to make sure that we don't break scripts for people (this is what we did with `xUnit` and `xUnit2` and it has worked well so far). Would this be OK?

@devlead What is your opinion on this?

[2015-10-25 12:42] devlead commented on #471
I agree with @patriksvensson new alias would be best.